{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-06-02",
        "endpointPrefix": "shield",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWS Shield",
        "serviceFullName": "AWS Shield",
        "serviceId": "Shield",
        "signatureVersion": "v4",
        "targetPrefix": "AWSShield_20160616",
        "uid": "shield-2016-06-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateDRTLogBucket": {
            "input": {
                "type": "structure",
                "required": [
                    "LogBucket"
                ],
                "members": {
                    "LogBucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateDRTRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateHealthCheck": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionId",
                    "HealthCheckArn"
                ],
                "members": {
                    "ProtectionId": {},
                    "HealthCheckArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateProactiveEngagementDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "EmergencyContactList"
                ],
                "members": {
                    "EmergencyContactList": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateProtection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ResourceArn"
                ],
                "members": {
                    "Name": {},
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProtectionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateProtectionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionGroupId",
                    "Aggregation",
                    "Pattern"
                ],
                "members": {
                    "ProtectionGroupId": {},
                    "Aggregation": {},
                    "Pattern": {},
                    "ResourceType": {},
                    "Members": {
                        "shape": "Sv"
                    },
                    "Tags": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateSubscription": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteProtection": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionId"
                ],
                "members": {
                    "ProtectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteProtectionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionGroupId"
                ],
                "members": {
                    "ProtectionGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSubscription": {
            "input": {
                "type": "structure",
                "members": {},
                "deprecated": true
            },
            "output": {
                "type": "structure",
                "members": {},
                "deprecated": true
            },
            "deprecated": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAttack": {
            "input": {
                "type": "structure",
                "required": [
                    "AttackId"
                ],
                "members": {
                    "AttackId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Attack": {
                        "type": "structure",
                        "members": {
                            "AttackId": {},
                            "ResourceArn": {},
                            "SubResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Type": {},
                                        "Id": {},
                                        "AttackVectors": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "VectorType"
                                                ],
                                                "members": {
                                                    "VectorType": {},
                                                    "VectorCounters": {
                                                        "shape": "S1f"
                                                    }
                                                }
                                            }
                                        },
                                        "Counters": {
                                            "shape": "S1f"
                                        }
                                    }
                                }
                            },
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "AttackCounters": {
                                "shape": "S1f"
                            },
                            "AttackProperties": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "AttackLayer": {},
                                        "AttackPropertyIdentifier": {},
                                        "TopContributors": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Name": {},
                                                    "Value": {
                                                        "type": "long"
                                                    }
                                                }
                                            }
                                        },
                                        "Unit": {},
                                        "Total": {
                                            "type": "long"
                                        }
                                    }
                                }
                            },
                            "Mitigations": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "MitigationName": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAttackStatistics": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "TimeRange",
                    "DataItems"
                ],
                "members": {
                    "TimeRange": {
                        "shape": "S1w"
                    },
                    "DataItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "AttackCount"
                            ],
                            "members": {
                                "AttackVolume": {
                                    "type": "structure",
                                    "members": {
                                        "BitsPerSecond": {
                                            "shape": "S21"
                                        },
                                        "PacketsPerSecond": {
                                            "shape": "S21"
                                        },
                                        "RequestsPerSecond": {
                                            "shape": "S21"
                                        }
                                    }
                                },
                                "AttackCount": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeDRTAccess": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoleArn": {},
                    "LogBucketList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEmergencyContactSettings": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "EmergencyContactList": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeProtection": {
            "input": {
                "type": "structure",
                "members": {
                    "ProtectionId": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Protection": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeProtectionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionGroupId"
                ],
                "members": {
                    "ProtectionGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProtectionGroup"
                ],
                "members": {
                    "ProtectionGroup": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeSubscription": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Subscription": {
                        "type": "structure",
                        "required": [
                            "SubscriptionLimits"
                        ],
                        "members": {
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "TimeCommitmentInSeconds": {
                                "type": "long"
                            },
                            "AutoRenew": {},
                            "Limits": {
                                "shape": "S2p"
                            },
                            "ProactiveEngagementStatus": {},
                            "SubscriptionLimits": {
                                "type": "structure",
                                "required": [
                                    "ProtectionLimits",
                                    "ProtectionGroupLimits"
                                ],
                                "members": {
                                    "ProtectionLimits": {
                                        "type": "structure",
                                        "required": [
                                            "ProtectedResourceTypeLimits"
                                        ],
                                        "members": {
                                            "ProtectedResourceTypeLimits": {
                                                "shape": "S2p"
                                            }
                                        }
                                    },
                                    "ProtectionGroupLimits": {
                                        "type": "structure",
                                        "required": [
                                            "MaxProtectionGroups",
                                            "PatternTypeLimits"
                                        ],
                                        "members": {
                                            "MaxProtectionGroups": {
                                                "type": "long"
                                            },
                                            "PatternTypeLimits": {
                                                "type": "structure",
                                                "required": [
                                                    "ArbitraryPatternLimits"
                                                ],
                                                "members": {
                                                    "ArbitraryPatternLimits": {
                                                        "type": "structure",
                                                        "required": [
                                                            "MaxMembers"
                                                        ],
                                                        "members": {
                                                            "MaxMembers": {
                                                                "type": "long"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "SubscriptionArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisableApplicationLayerAutomaticResponse": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/cc2bde0403bc3efc42bf5ebc30870ad3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/cc2bde0403bc3efc42bf5ebc30870ad3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/cc2bde0403bc3efc42bf5ebc30870ad3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/82deb06c637cb028ed701121c651069c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/00ca60c6c5476ac4ebd5199c8278cccc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3UTAHLIDNQ6KZTB6RSGLN6KWHABBND7BRM66MZZGTBZSTYCLE6A/78bd3bb63ecdc783bddfa82594772445.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GOA2ULVDXT3NCHE26SZIJBH3ER3SJUCACCHE565YQJHLY36ASQ/c321a2e55e30a86636e856ac9bed1370.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/be3436e5afed7799a4f73198de4501f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisableProactiveEngagement": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateDRTLogBucket": {
            "input": {
                "type": "structure",
                "required": [
                    "LogBucket"
                ],
                "members": {
                    "LogBucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateDRTRole": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateHealthCheck": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionId",
                    "HealthCheckArn"
                ],
                "members": {
                    "ProtectionId": {},
                    "HealthCheckArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "EnableApplicationLayerAutomaticResponse": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Action"
                ],
                "members": {
                    "ResourceArn": {},
                    "Action": {
                        "shape": "S2e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2A57IIEVMKFRVEA73HMYXQMYQGEHNKLBK5LBFM2KTHLQFZCX3SBA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JUZ62XIBOOS5ZFRDIZMYVHFHFMZ6LK5OL7YT3LWQL5WSLSJQ5GA/cc2bde0403bc3efc42bf5ebc30870ad3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJ47EC5R7OXIE2VKYIS4QU44ARGIKKVVJCMJVQHMSGEWHCVTTORA/cc2bde0403bc3efc42bf5ebc30870ad3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVKNO3HCYWWCN3GFRRZ7NOLKVHJGQITM6TJS5TWCKPN6TBSVUY2Q/cc2bde0403bc3efc42bf5ebc30870ad3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERLLQMVI3Z33KEUFFT36W4ISB6RGRJZXZ263DG7B4653KKLZ6ZWA/82deb06c637cb028ed701121c651069c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYXAFSYBXCXCETO62NVFRB5LZG2DPED6DBG4VJ6CZPFZKLO6PBJQ/00ca60c6c5476ac4ebd5199c8278cccc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3UTAHLIDNQ6KZTB6RSGLN6KWHABBND7BRM66MZZGTBZSTYCLE6A/78bd3bb63ecdc783bddfa82594772445.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GOA2ULVDXT3NCHE26SZIJBH3ER3SJUCACCHE565YQJHLY36ASQ/c321a2e55e30a86636e856ac9bed1370.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/be3436e5afed7799a4f73198de4501f7.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "EnableProactiveEngagement": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
[...]
