{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-06-02",
        "endpointPrefix": "shield",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWS Shield",
        "serviceFullName": "AWS Shield",
        "serviceId": "Shield",
        "signatureVersion": "v4",
        "targetPrefix": "AWSShield_20160616",
        "uid": "shield-2016-06-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateDRTLogBucket": {
            "input": {
                "type": "structure",
                "required": [
                    "LogBucket"
                ],
                "members": {
                    "LogBucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "AssociateDRTRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "AssociateHealthCheck": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionId",
                    "HealthCheckArn"
                ],
                "members": {
                    "ProtectionId": {},
                    "HealthCheckArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "AssociateProactiveEngagementDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "EmergencyContactList"
                ],
                "members": {
                    "EmergencyContactList": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateProtection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ResourceArn"
                ],
                "members": {
                    "Name": {},
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProtectionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateProtectionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionGroupId",
                    "Aggregation",
                    "Pattern"
                ],
                "members": {
                    "ProtectionGroupId": {},
                    "Aggregation": {},
                    "Pattern": {},
                    "ResourceType": {},
                    "Members": {
                        "shape": "Sv"
                    },
                    "Tags": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "CreateSubscription": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteProtection": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionId"
                ],
                "members": {
                    "ProtectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteProtectionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionGroupId"
                ],
                "members": {
                    "ProtectionGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DeleteSubscription": {
            "input": {
                "type": "structure",
                "members": {},
                "deprecated": true
            },
            "output": {
                "type": "structure",
                "members": {},
                "deprecated": true
            },
            "deprecated": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeAttack": {
            "input": {
                "type": "structure",
                "required": [
                    "AttackId"
                ],
                "members": {
                    "AttackId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Attack": {
                        "type": "structure",
                        "members": {
                            "AttackId": {},
                            "ResourceArn": {},
                            "SubResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Type": {},
                                        "Id": {},
                                        "AttackVectors": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "VectorType"
                                                ],
                                                "members": {
                                                    "VectorType": {},
                                                    "VectorCounters": {
                                                        "shape": "S1f"
                                                    }
                                                }
                                            }
                                        },
                                        "Counters": {
                                            "shape": "S1f"
                                        }
                                    }
                                }
                            },
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "AttackCounters": {
                                "shape": "S1f"
                            },
                            "AttackProperties": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "AttackLayer": {},
                                        "AttackPropertyIdentifier": {},
                                        "TopContributors": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Name": {},
                                                    "Value": {
                                                        "type": "long"
                                                    }
                                                }
                                            }
                                        },
                                        "Unit": {},
                                        "Total": {
                                            "type": "long"
                                        }
                                    }
                                }
                            },
                            "Mitigations": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "MitigationName": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeAttackStatistics": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "TimeRange",
                    "DataItems"
                ],
                "members": {
                    "TimeRange": {
                        "shape": "S1w"
                    },
                    "DataItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "AttackCount"
                            ],
                            "members": {
                                "AttackVolume": {
                                    "type": "structure",
                                    "members": {
                                        "BitsPerSecond": {
                                            "shape": "S21"
                                        },
                                        "PacketsPerSecond": {
                                            "shape": "S21"
                                        },
                                        "RequestsPerSecond": {
                                            "shape": "S21"
                                        }
                                    }
                                },
                                "AttackCount": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeDRTAccess": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "RoleArn": {},
                    "LogBucketList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeEmergencyContactSettings": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "EmergencyContactList": {
                        "shape": "Sc"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeProtection": {
            "input": {
                "type": "structure",
                "members": {
                    "ProtectionId": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Protection": {
                        "shape": "S29"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeProtectionGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionGroupId"
                ],
                "members": {
                    "ProtectionGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProtectionGroup"
                ],
                "members": {
                    "ProtectionGroup": {
                        "shape": "S2j"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DescribeSubscription": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "Subscription": {
                        "type": "structure",
                        "required": [
                            "SubscriptionLimits"
                        ],
                        "members": {
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            },
                            "TimeCommitmentInSeconds": {
                                "type": "long"
                            },
                            "AutoRenew": {},
                            "Limits": {
                                "shape": "S2p"
                            },
                            "ProactiveEngagementStatus": {},
                            "SubscriptionLimits": {
                                "type": "structure",
                                "required": [
                                    "ProtectionLimits",
                                    "ProtectionGroupLimits"
                                ],
                                "members": {
                                    "ProtectionLimits": {
                                        "type": "structure",
                                        "required": [
                                            "ProtectedResourceTypeLimits"
                                        ],
                                        "members": {
                                            "ProtectedResourceTypeLimits": {
                                                "shape": "S2p"
                                            }
                                        }
                                    },
                                    "ProtectionGroupLimits": {
                                        "type": "structure",
                                        "required": [
                                            "MaxProtectionGroups",
                                            "PatternTypeLimits"
                                        ],
                                        "members": {
                                            "MaxProtectionGroups": {
                                                "type": "long"
                                            },
                                            "PatternTypeLimits": {
                                                "type": "structure",
                                                "required": [
                                                    "ArbitraryPatternLimits"
                                                ],
                                                "members": {
                                                    "ArbitraryPatternLimits": {
                                                        "type": "structure",
                                                        "required": [
                                                            "MaxMembers"
                                                        ],
                                                        "members": {
                                                            "MaxMembers": {
                                                                "type": "long"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "SubscriptionArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DisableApplicationLayerAutomaticResponse": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DisableProactiveEngagement": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DisassociateDRTLogBucket": {
            "input": {
                "type": "structure",
                "required": [
                    "LogBucket"
                ],
                "members": {
                    "LogBucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DisassociateDRTRole": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "DisassociateHealthCheck": {
            "input": {
                "type": "structure",
                "required": [
                    "ProtectionId",
                    "HealthCheckArn"
                ],
                "members": {
                    "ProtectionId": {},
                    "HealthCheckArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js"
            ]
        },
        "EnableApplicationLayerAutomaticResponse": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Action"
                ],
                "members": {
                    "ResourceArn": {},
                    "Action": {
                        "shape": "S2e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4DYKH3KNG4DWGXPH4DZZMALO4NZ6ALPXOEBIJLFM3OYWNYTXJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "EnableProactiveEngagement": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
[...]
