{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-01",
        "endpointPrefix": "translate",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Translate",
        "serviceId": "Translate",
        "signatureVersion": "v4",
        "signingName": "translate",
        "targetPrefix": "AWSShineFrontendService_20170701",
        "uid": "shine-2017-07-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIWJGML6BVROOF4RPWXTZMIT2F2562FSL5IW2OGUAZSHCYSSSEEQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
        ]
    },
    "operations": {
        "CreateParallelData": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ParallelDataConfig",
                    "ClientToken"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ParallelDataConfig": {
                        "shape": "S4"
                    },
                    "EncryptionKey": {
                        "shape": "S7"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "DeleteParallelData": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "DeleteTerminology": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "DescribeEdgeService": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "LanguagePairs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SourceLanguageCode": {},
                                "TargetLanguageCode": {},
                                "Status": {
                                    "type": "string",
                                    "internalonly": true
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "DescribeTextTranslationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TextTranslationJobProperties": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "GetParallelData": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ParallelDataProperties": {
                        "shape": "S1b"
                    },
                    "DataLocation": {
                        "shape": "S1f"
                    },
                    "AuxiliaryDataLocation": {
                        "shape": "S1f"
                    },
                    "LatestUpdateAttemptAuxiliaryDataLocation": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "GetTerminology": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "TerminologyDataFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TerminologyProperties": {
                        "shape": "S1k"
                    },
                    "TerminologyDataLocation": {
                        "shape": "S1n"
                    },
                    "AuxiliaryDataLocation": {
                        "shape": "S1n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "ImportTerminology": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MergeStrategy",
                    "TerminologyData"
                ],
                "members": {
                    "Name": {},
                    "MergeStrategy": {},
                    "Description": {},
                    "TerminologyData": {
                        "type": "structure",
                        "required": [
                            "File",
                            "Format"
                        ],
                        "members": {
                            "File": {
                                "type": "blob",
                                "sensitive": true
                            },
                            "Format": {},
                            "Directionality": {}
                        }
                    },
                    "EncryptionKey": {
                        "shape": "S7"
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TerminologyProperties": {
                        "shape": "S1k"
                    },
                    "AuxiliaryDataLocation": {
                        "shape": "S1n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "ListLanguages": {
            "input": {
                "type": "structure",
                "members": {
                    "DisplayLanguageCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Languages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "LanguageName",
                                "LanguageCode"
                            ],
                            "members": {
                                "LanguageName": {},
                                "LanguageCode": {}
                            }
                        }
                    },
                    "DisplayLanguageCode": {},
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "ListParallelData": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ParallelDataPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "ListSupportedLanguagePairs": {
            "input": {
                "type": "structure",
                "members": {
                    "Locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SupportedLanguagePairs": {
                        "type": "structure",
                        "members": {
                            "Locale": {},
                            "LocalizedLanguageNames": {
                                "type": "map",
                                "key": {},
                                "value": {},
                                "internalonly": true
                            },
                            "SupportedLanguageCodePairs": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "list",
                                    "member": {},
                                    "internalonly": true
                                },
                                "internalonly": true
                            }
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "ListTerminologies": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TerminologyPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "S1k"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "ListTextTranslationJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "Filter": {
                        "type": "structure",
                        "members": {
                            "JobName": {},
                            "JobStatus": {},
                            "SubmittedBeforeTime": {
                                "type": "timestamp"
                            },
                            "SubmittedAfterTime": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TextTranslationJobPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "St"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "StartTextTranslationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "InputDataConfig",
                    "OutputDataConfig",
                    "DataAccessRoleArn",
                    "SourceLanguageCode",
                    "TargetLanguageCodes",
                    "ClientToken"
                ],
                "members": {
                    "JobName": {},
                    "InputDataConfig": {
                        "shape": "S12"
                    },
                    "OutputDataConfig": {
                        "shape": "S14"
                    },
                    "DataAccessRoleArn": {},
                    "SourceLanguageCode": {},
                    "TargetLanguageCodes": {
                        "shape": "Sy"
                    },
                    "TerminologyNames": {
                        "shape": "Sz"
                    },
                    "ParallelDataNames": {
                        "shape": "Sz"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Settings": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {},
                    "JobStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "StopTextTranslationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {},
                    "JobStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "TranslateDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "Document",
                    "SourceLanguageCode",
                    "TargetLanguageCode"
                ],
                "members": {
                    "Document": {
                        "type": "structure",
                        "required": [
                            "Content",
                            "ContentType"
                        ],
                        "members": {
                            "Content": {
                                "type": "blob",
                                "sensitive": true
                            },
                            "ContentType": {}
                        }
                    },
                    "TerminologyNames": {
                        "shape": "Sz"
                    },
                    "SourceLanguageCode": {},
                    "TargetLanguageCode": {},
                    "Settings": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TranslatedDocument",
                    "SourceLanguageCode",
                    "TargetLanguageCode"
                ],
                "members": {
                    "TranslatedDocument": {
                        "type": "structure",
                        "required": [
                            "Content"
                        ],
                        "members": {
                            "Content": {
                                "type": "blob",
                                "sensitive": true
                            }
                        }
                    },
                    "SourceLanguageCode": {},
                    "TargetLanguageCode": {},
                    "AppliedTerminologies": {
                        "shape": "S2w"
                    },
                    "AppliedSettings": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "TranslateText": {
            "input": {
                "type": "structure",
                "required": [
                    "Text",
                    "SourceLanguageCode",
                    "TargetLanguageCode"
                ],
                "members": {
                    "Text": {},
                    "TerminologyNames": {
                        "shape": "Sz"
                    },
                    "SourceLanguageCode": {},
                    "TargetLanguageCode": {},
                    "Settings": {
                        "shape": "S16"
                    },
                    "Auto": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "ParallelDataNames": {
                        "shape": "S11",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TranslatedText",
                    "SourceLanguageCode",
                    "TargetLanguageCode"
                ],
                "members": {
                    "TranslatedText": {},
                    "SourceLanguageCode": {},
                    "TargetLanguageCode": {},
                    "AppliedTerminologies": {
                        "shape": "S2w"
                    },
                    "AppliedSettings": {
                        "shape": "S16"
                    },
                    "ModelVersion": {
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "UpdateEdgeService": {
            "input": {
                "type": "structure",
                "members": {
                    "LanguagePairOperations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SourceLanguageCode": {},
                                "TargetLanguageCode": {},
                                "Operation": {
                                    "type": "string",
                                    "internalonly": true
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "UpdateParallelData": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ParallelDataConfig",
                    "ClientToken"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ParallelDataConfig": {
                        "shape": "S4"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {},
                    "LatestUpdateAttemptStatus": {},
                    "LatestUpdateAttemptAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHVRJ6TNMIQIL3S6E4TKIZJQEG6Z45AMWNRW2AU2P2UXNM2SZNQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDRDGPHZG7OOO64Q2LVYH7UOXY22RZSYGY4MFZLT5JN264KIDIKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRQVOQB42F5TWSHYQ4HGFICBZJTA7GCSHHBO2QH2KWQWBQUNDNCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/555B5BY7VSNERQMV4ZNJ2R3SYAYBBSAV7VM2R63R2RI6DOIMWGPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV7E7PBL556KQEMBMV6VLAUOV4KPGMCQGHLLJBKE4F7HSIZYNYJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQD3ZBW3AXOPBFMUHYKIKHJ7WJF2A4BD3LKE6GVUHARTU2IAOWRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5MCSZDUBDJUEHYPLCZYKDIFWEM2UQOY7CICJRKHAMS35ZMA2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIRDNS6GVDCNAMM2HMNFKJ2MY3FWFURN6ILO6YMIXPCUPAYU5VAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDBA3FWLWDKVLJFJAIHZ7YDQZ5TSMYJI5R44HL2XA5U6U3AERXVA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO5V6TDTTBO2ZCCNABWBT2CBYIE5EKDYJBVGOSJ7KFPFI7IJCMAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUS3RSKE35HAGAWHTL7XZJ5JGA3KNHM3FXPJ74GKHUDCVXDZOXXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLMZ3A5RITW724EQZD3UUGYWTDBLLPG2QW6DZ6VSIO4YI6YQ6WWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NXAR27NRVGBSDDQPQHIYUO5HSBF4623KXYH754XB3XGUAUASGCEQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z3RWVYYHJXMONMM3FOIGN4KRSIAN6UQIXJAAAA75QOANLIFO254Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7UPP4ETIDEACRN4S3G2L2PQ7WIWF6EHREDKBYWPQJWNKQWHCTDEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JKDXCREKFTDWQSENSWTQMAJBQMPCYCCKV3OFDMI646O2TAQYUOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HKZXSYJTYLCDA6HOERBYFWJS7SDTUP7J36GWPXUJ7KFVXMK2I6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7A7YBTA2NL3AOZ3I4U2JWUQYFFAGM7TMR3X5MHP65VPV2UG7M3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4F6YKL7ZWNG2MOCHL6UBMDUC4HD2G2OBDPPR3YOVJGZKIVU5ARTQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC2U2OX5TXOAA25SVGGAEZJ2FM224C4PXIEHUQGTCTSMODYNSAWQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4M2ZGRHQLCLOGAYYAIZPX7KODBATTYIGYTLZ7YXNIPITIFQH6XA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSLMYKBGUT47JL375QD44VMVWYE4O2VPHKTJRVPHX34VGERKR5LA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERG7F7RV3PYYD4NCNMU4SYRYKLJVP7JZH7ZHSZJZXX3EBNJCEOXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "required": [
                "S3Uri",
                "Format"
            ],
            "members": {
                "S3Uri": {},
                "Format": {}
            }
        },
        "S7": {
            "type": "structure",
            "required": [
                "Type",
                "Id"
            ],
            "members": {
                "Type": {},
                "Id": {}
            }
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "JobDetails": {
                    "type": "structure",
                    "members": {
                        "TranslatedDocumentsCount": {
                            "type": "integer"
                        },
                        "DocumentsWithErrorsCount": {
                            "type": "integer"
                        },
                        "InputDocumentsCount": {
                            "type": "integer"
                        }
                    }
                },
                "SourceLanguageCode": {},
                "TargetLanguageCodes": {
                    "shape": "Sy"
                },
                "TerminologyNames": {
                    "shape": "Sz"
                },
                "ParallelDataNames": {
                    "shape": "Sz"
                },
                "Message": {},
                "SubmittedTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "InputDataConfig": {
                    "shape": "S12"
                },
                "OutputDataConfig": {
                    "shape": "S14"
                },
                "DataAccessRoleArn": {},
                "Settings": {
                    "shape": "S16"
                }
            }
        },
        "Sy": {
            "type": "list",
            "member": {}
        },
        "Sz": {
            "type": "list",
            "member": {}
        },
        "S12": {
            "type": "structure",
[...]
