{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-01",
        "endpointPrefix": "translate",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Translate",
        "serviceId": "Translate",
        "signatureVersion": "v4",
        "signingName": "translate",
        "targetPrefix": "AWSShineFrontendService_20170701",
        "uid": "shine-2017-07-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
        ]
    },
    "operations": {
        "CreateParallelData": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ParallelDataConfig",
                    "ClientToken"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ParallelDataConfig": {
                        "shape": "S4"
                    },
                    "EncryptionKey": {
                        "shape": "S7"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "DeleteParallelData": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "DeleteTerminology": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "DescribeEdgeService": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "LanguagePairs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SourceLanguageCode": {},
                                "TargetLanguageCode": {},
                                "Status": {
                                    "type": "string",
                                    "internalonly": true
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "DescribeTextTranslationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TextTranslationJobProperties": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "GetParallelData": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ParallelDataProperties": {
                        "shape": "S1b"
                    },
                    "DataLocation": {
                        "shape": "S1f"
                    },
                    "AuxiliaryDataLocation": {
                        "shape": "S1f"
                    },
                    "LatestUpdateAttemptAuxiliaryDataLocation": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "GetTerminology": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "TerminologyDataFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TerminologyProperties": {
                        "shape": "S1k"
                    },
                    "TerminologyDataLocation": {
                        "shape": "S1n"
                    },
                    "AuxiliaryDataLocation": {
                        "shape": "S1n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "ImportTerminology": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MergeStrategy",
                    "TerminologyData"
                ],
                "members": {
                    "Name": {},
                    "MergeStrategy": {},
                    "Description": {},
                    "TerminologyData": {
                        "type": "structure",
                        "required": [
                            "File",
                            "Format"
                        ],
                        "members": {
                            "File": {
                                "type": "blob",
                                "sensitive": true
                            },
                            "Format": {},
                            "Directionality": {}
                        }
                    },
                    "EncryptionKey": {
                        "shape": "S7"
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TerminologyProperties": {
                        "shape": "S1k"
                    },
                    "AuxiliaryDataLocation": {
                        "shape": "S1n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "ListLanguages": {
            "input": {
                "type": "structure",
                "members": {
                    "DisplayLanguageCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Languages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "LanguageName",
                                "LanguageCode"
                            ],
                            "members": {
                                "LanguageName": {},
                                "LanguageCode": {}
                            }
                        }
                    },
                    "DisplayLanguageCode": {},
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "ListParallelData": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ParallelDataPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "ListSupportedLanguagePairs": {
            "input": {
                "type": "structure",
                "members": {
                    "Locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SupportedLanguagePairs": {
                        "type": "structure",
                        "members": {
                            "Locale": {},
                            "LocalizedLanguageNames": {
                                "type": "map",
                                "key": {},
                                "value": {},
                                "internalonly": true
                            },
                            "SupportedLanguageCodePairs": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "list",
                                    "member": {},
                                    "internalonly": true
                                },
                                "internalonly": true
                            }
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "ListTerminologies": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TerminologyPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "S1k"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "ListTextTranslationJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "Filter": {
                        "type": "structure",
                        "members": {
                            "JobName": {},
                            "JobStatus": {},
                            "SubmittedBeforeTime": {
                                "type": "timestamp"
                            },
                            "SubmittedAfterTime": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TextTranslationJobPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "St"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "StartTextTranslationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "InputDataConfig",
                    "OutputDataConfig",
                    "DataAccessRoleArn",
                    "SourceLanguageCode",
                    "TargetLanguageCodes",
                    "ClientToken"
                ],
                "members": {
                    "JobName": {},
                    "InputDataConfig": {
                        "shape": "S12"
                    },
                    "OutputDataConfig": {
                        "shape": "S14"
                    },
                    "DataAccessRoleArn": {},
                    "SourceLanguageCode": {},
                    "TargetLanguageCodes": {
                        "shape": "Sy"
                    },
                    "TerminologyNames": {
                        "shape": "Sz"
                    },
                    "ParallelDataNames": {
                        "shape": "Sz"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Settings": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {},
                    "JobStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "StopTextTranslationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {},
                    "JobStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "TranslateDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "Document",
                    "SourceLanguageCode",
                    "TargetLanguageCode"
                ],
                "members": {
                    "Document": {
                        "type": "structure",
                        "required": [
                            "Content",
                            "ContentType"
                        ],
                        "members": {
                            "Content": {
                                "type": "blob",
                                "sensitive": true
                            },
                            "ContentType": {}
                        }
                    },
                    "TerminologyNames": {
                        "shape": "Sz"
                    },
                    "SourceLanguageCode": {},
                    "TargetLanguageCode": {},
                    "Settings": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TranslatedDocument",
                    "SourceLanguageCode",
                    "TargetLanguageCode"
                ],
                "members": {
                    "TranslatedDocument": {
                        "type": "structure",
                        "required": [
                            "Content"
                        ],
                        "members": {
                            "Content": {
                                "type": "blob",
                                "sensitive": true
                            }
                        }
                    },
                    "SourceLanguageCode": {},
                    "TargetLanguageCode": {},
                    "AppliedTerminologies": {
                        "shape": "S2w"
                    },
                    "AppliedSettings": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "TranslateText": {
            "input": {
                "type": "structure",
                "required": [
                    "Text",
                    "SourceLanguageCode",
                    "TargetLanguageCode"
                ],
                "members": {
                    "Text": {},
                    "TerminologyNames": {
                        "shape": "Sz"
                    },
                    "SourceLanguageCode": {},
                    "TargetLanguageCode": {},
                    "Settings": {
                        "shape": "S16"
                    },
                    "Auto": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "ParallelDataNames": {
                        "shape": "S11",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TranslatedText",
                    "SourceLanguageCode",
                    "TargetLanguageCode"
                ],
                "members": {
                    "TranslatedText": {},
                    "SourceLanguageCode": {},
                    "TargetLanguageCode": {},
                    "AppliedTerminologies": {
                        "shape": "S2w"
                    },
                    "AppliedSettings": {
                        "shape": "S16"
                    },
                    "ModelVersion": {
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "UpdateEdgeService": {
            "input": {
                "type": "structure",
                "members": {
                    "LanguagePairOperations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SourceLanguageCode": {},
                                "TargetLanguageCode": {},
                                "Operation": {
                                    "type": "string",
                                    "internalonly": true
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "UpdateParallelData": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ParallelDataConfig",
                    "ClientToken"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ParallelDataConfig": {
                        "shape": "S4"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {},
                    "LatestUpdateAttemptStatus": {},
                    "LatestUpdateAttemptAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F52KIXJPCPVDCXLBJ5KIQY42XH4XXSJVYR56NF42M4AI2UFPXSSA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQOAJVUFSBRDFRHBJHD4TG7SWST2YRFQGFSL6UFIBH5L5DXKTMOQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS3V2VZGHDIYPCORHJ6BNXHHWD5A7OH3HV4RM64PE3DHXXSVB4VQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64JXMGEBOMUMUTXYL4PUQV7LJG7TB4IG47GXEQETGKRMHGCDBEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2CJWVR5P4FQMSTI3DYP6MRSTYWAJZ3JW637PBFOW2A2SUDC7JBA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOM66MBRDWS4EYRLVXIPVUZPQTLREKMRQUBSNBZOBHGU3PVB4TKA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDMHBA2LKNKEPO7ULCBC2HVU7S6DX2ATEDHHNOOJUAOJP3QQUD3Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUZC5XJFRFPA7BVLP7TZVFPFAPIGBEJ7VWWA5ELTFNRXKCMAPBRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OVVTEOMQ3U77GWYSZWCZ6HS525K5WBCJTU5COWYHP4HIH7X6QDA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKI3N6CGZ575FD7KJOSZTYS6CEQ47QCA2XZJVSBXD4WUKXALBJBQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUY2VO74VYSHF5HGZKTNHKOEZGILK2I7RJ2TRDFXJNQPSPRUX7AQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ7NN6O3YB7REGEVV5G375E4BBKE4XKOTLF4CGMOQYDN7DRVI2KQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNTMEDMES4FRHV56LSY4IRPR2WQPI4LEFX7OLJUS74Q6E7BOP3HA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4CDEIB24U2WFSH4DL5UDRW5XKGJ7VRAW6TXGKDCLE2J4IKQT5FA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3K65ZKZQJCGIPFPCWXGNR3K3TIW6HN6QNH2STNWSABKOMCN4HFQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE6H4MYBK65MGSSQ4MXIOTWBVSHQKIPXS6ROEQUCV2KKZ4XYAQGA/tangerine.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "required": [
                "S3Uri",
                "Format"
            ],
            "members": {
                "S3Uri": {},
                "Format": {}
            }
        },
        "S7": {
            "type": "structure",
            "required": [
                "Type",
                "Id"
            ],
            "members": {
                "Type": {},
                "Id": {}
            }
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "JobDetails": {
                    "type": "structure",
                    "members": {
                        "TranslatedDocumentsCount": {
                            "type": "integer"
                        },
                        "DocumentsWithErrorsCount": {
                            "type": "integer"
                        },
                        "InputDocumentsCount": {
                            "type": "integer"
                        }
                    }
                },
                "SourceLanguageCode": {},
                "TargetLanguageCodes": {
                    "shape": "Sy"
                },
                "TerminologyNames": {
                    "shape": "Sz"
                },
                "ParallelDataNames": {
                    "shape": "Sz"
                },
                "Message": {},
                "SubmittedTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "InputDataConfig": {
                    "shape": "S12"
                },
                "OutputDataConfig": {
                    "shape": "S14"
                },
                "DataAccessRoleArn": {},
                "Settings": {
                    "shape": "S16"
                }
            }
        },
        "Sy": {
            "type": "list",
            "member": {}
        },
        "Sz": {
            "type": "list",
            "member": {}
        },
        "S12": {
            "type": "structure",
[...]
