{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-01",
        "endpointPrefix": "translate",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Translate",
        "serviceId": "Translate",
        "signatureVersion": "v4",
        "signingName": "translate",
        "targetPrefix": "AWSShineFrontendService_20170701",
        "uid": "shine-2017-07-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QLRUNIF4J7UPTRJYNEGEWB5BSLIIG733DHJ7UR7ILGRP37PRGXA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
        ]
    },
    "operations": {
        "CreateParallelData": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ParallelDataConfig",
                    "ClientToken"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ParallelDataConfig": {
                        "shape": "S4"
                    },
                    "EncryptionKey": {
                        "shape": "S7"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "DeleteParallelData": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "DeleteTerminology": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "DescribeEdgeService": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "LanguagePairs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SourceLanguageCode": {},
                                "TargetLanguageCode": {},
                                "Status": {
                                    "type": "string",
                                    "internalonly": true
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "DescribeTextTranslationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TextTranslationJobProperties": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "GetParallelData": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ParallelDataProperties": {
                        "shape": "S1b"
                    },
                    "DataLocation": {
                        "shape": "S1f"
                    },
                    "AuxiliaryDataLocation": {
                        "shape": "S1f"
                    },
                    "LatestUpdateAttemptAuxiliaryDataLocation": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "GetTerminology": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "TerminologyDataFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TerminologyProperties": {
                        "shape": "S1k"
                    },
                    "TerminologyDataLocation": {
                        "shape": "S1n"
                    },
                    "AuxiliaryDataLocation": {
                        "shape": "S1n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "ImportTerminology": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "MergeStrategy",
                    "TerminologyData"
                ],
                "members": {
                    "Name": {},
                    "MergeStrategy": {},
                    "Description": {},
                    "TerminologyData": {
                        "type": "structure",
                        "required": [
                            "File",
                            "Format"
                        ],
                        "members": {
                            "File": {
                                "type": "blob",
                                "sensitive": true
                            },
                            "Format": {},
                            "Directionality": {}
                        }
                    },
                    "EncryptionKey": {
                        "shape": "S7"
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TerminologyProperties": {
                        "shape": "S1k"
                    },
                    "AuxiliaryDataLocation": {
                        "shape": "S1n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "ListLanguages": {
            "input": {
                "type": "structure",
                "members": {
                    "DisplayLanguageCode": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Languages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "LanguageName",
                                "LanguageCode"
                            ],
                            "members": {
                                "LanguageName": {},
                                "LanguageCode": {}
                            }
                        }
                    },
                    "DisplayLanguageCode": {},
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "ListParallelData": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ParallelDataPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "S1b"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "ListSupportedLanguagePairs": {
            "input": {
                "type": "structure",
                "members": {
                    "Locale": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SupportedLanguagePairs": {
                        "type": "structure",
                        "members": {
                            "Locale": {},
                            "LocalizedLanguageNames": {
                                "type": "map",
                                "key": {},
                                "value": {},
                                "internalonly": true
                            },
                            "SupportedLanguageCodePairs": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "list",
                                    "member": {},
                                    "internalonly": true
                                },
                                "internalonly": true
                            }
                        },
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "ListTerminologies": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TerminologyPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "S1k"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "ListTextTranslationJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "Filter": {
                        "type": "structure",
                        "members": {
                            "JobName": {},
                            "JobStatus": {},
                            "SubmittedBeforeTime": {
                                "type": "timestamp"
                            },
                            "SubmittedAfterTime": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TextTranslationJobPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "St"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "StartTextTranslationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "InputDataConfig",
                    "OutputDataConfig",
                    "DataAccessRoleArn",
                    "SourceLanguageCode",
                    "TargetLanguageCodes",
                    "ClientToken"
                ],
                "members": {
                    "JobName": {},
                    "InputDataConfig": {
                        "shape": "S12"
                    },
                    "OutputDataConfig": {
                        "shape": "S14"
                    },
                    "DataAccessRoleArn": {},
                    "SourceLanguageCode": {},
                    "TargetLanguageCodes": {
                        "shape": "Sy"
                    },
                    "TerminologyNames": {
                        "shape": "Sz"
                    },
                    "ParallelDataNames": {
                        "shape": "Sz"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Settings": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {},
                    "JobStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "StopTextTranslationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {},
                    "JobStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "TranslateDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "Document",
                    "SourceLanguageCode",
                    "TargetLanguageCode"
                ],
                "members": {
                    "Document": {
                        "type": "structure",
                        "required": [
                            "Content",
                            "ContentType"
                        ],
                        "members": {
                            "Content": {
                                "type": "blob",
                                "sensitive": true
                            },
                            "ContentType": {}
                        }
                    },
                    "TerminologyNames": {
                        "shape": "Sz"
                    },
                    "SourceLanguageCode": {},
                    "TargetLanguageCode": {},
                    "Settings": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TranslatedDocument",
                    "SourceLanguageCode",
                    "TargetLanguageCode"
                ],
                "members": {
                    "TranslatedDocument": {
                        "type": "structure",
                        "required": [
                            "Content"
                        ],
                        "members": {
                            "Content": {
                                "type": "blob",
                                "sensitive": true
                            }
                        }
                    },
                    "SourceLanguageCode": {},
                    "TargetLanguageCode": {},
                    "AppliedTerminologies": {
                        "shape": "S2w"
                    },
                    "AppliedSettings": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "TranslateText": {
            "input": {
                "type": "structure",
                "required": [
                    "Text",
                    "SourceLanguageCode",
                    "TargetLanguageCode"
                ],
                "members": {
                    "Text": {},
                    "TerminologyNames": {
                        "shape": "Sz"
                    },
                    "SourceLanguageCode": {},
                    "TargetLanguageCode": {},
                    "Settings": {
                        "shape": "S16"
                    },
                    "Auto": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "ParallelDataNames": {
                        "shape": "S11",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TranslatedText",
                    "SourceLanguageCode",
                    "TargetLanguageCode"
                ],
                "members": {
                    "TranslatedText": {},
                    "SourceLanguageCode": {},
                    "TargetLanguageCode": {},
                    "AppliedTerminologies": {
                        "shape": "S2w"
                    },
                    "AppliedSettings": {
                        "shape": "S16"
                    },
                    "ModelVersion": {
                        "internalonly": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "UpdateEdgeService": {
            "input": {
                "type": "structure",
                "members": {
                    "LanguagePairOperations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "SourceLanguageCode": {},
                                "TargetLanguageCode": {},
                                "Operation": {
                                    "type": "string",
                                    "internalonly": true
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "UpdateParallelData": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ParallelDataConfig",
                    "ClientToken"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ParallelDataConfig": {
                        "shape": "S4"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Status": {},
                    "LatestUpdateAttemptStatus": {},
                    "LatestUpdateAttemptAt": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UG57ZSRNA2NNKOSGV7MVS3VS7DGZCTUABOIVOMSLQ6PQMZFHF4DA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXK3OY5THFYNWPFF5ZEGMAXKE3MFZNJYQ4R7KBFR55W2UN3DAZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W7PH73UQZUNPOCIMRZ2NXEGN5KR7EBIC4TUQFRSFQ6CTNV2BMUA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4O25XJYG7MZAQTWZGHW4AEY3JFDW5FRVFJ3U2VVUZMY7UKIHLIQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYEB3HWVWJTUAVUY6KGJ6S3R7452FDY43E2S5N4KU37FGORURCQA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNVBCCH44NWNWCBZ5LD7X3RWADOK3X5CNNSZFPOFFEPUWL4QZEXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHZ5HK2LV4LBOTTA47RM5XIDEP36T6E643FLUEXI653J7FWSQHPQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGZBNCCCVNFE7YD4ULV65ROOI7DOGHPDP5RD56PKD6U2LIAEXCJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6XKJUBATHY2CPTOOSUXFPLQCXMPI5WJF4RZCNNH54Q6DPLU3BBWA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65PPCTCTPMQZASZ65M5XFNR5TN7Q37YBKVBABBYDEG3UKBN37RQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVEFP6KY37DH66YYUW5HS6EBU5T6C5F5PQ5B656SIJGYVZUWNXJA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GIDETLTEX6WPR5D7YXFX46XED5LWYCO6CG4VF6PRJNOILMGD5SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3YNHZDHFNMN2I6M47OD2NWLNPBJRWCQ6RC6I67HZII3EHPZI57A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJYQ6UNRGUFVEPYKRAGMO2ANH5MZVFM6FC7ICKJHLC3VTC6IXNPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DI75DQRX6CTH4BDEZW3RT3FNQPB6QKV64KWIEAEG54UOK2T265SQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMPEBHQUDJRQT7KFEKAOKCMUCCH6R7IJWZBK3U5BEZ3UNRYG2XCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3OEARTEDZI573UK7377XIXNH2TSRVWNT3QZJLCDCMFYMA7ZGLYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AX2KBGRWFDE6GTYLUMJCFIDTZIA65IUYGL4HSJ3HT4FNUUIAU22Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFPVR3TSCWYEFZTCROLNPWRZUC34UV45FB3PXODK7YGUMIXD5AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVKVW76X6GZBJXK5QTRBS5TGG2PBRP2JY3MBUGVHU4UWWBJZTZFQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISFYNZVMMLD5MUDQHTIF4OIK2MNEXKO7767SUBA4QJEC44LSVRLA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMWHJ5K4BBCARY4LRVTV36IO4SUTS2YESBMX74WWSTCHIHFQPUHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPSJNMAUDQCFXV7GYKGW62D7VHZTEA5P3YX6GR6WXCVFGUNIAOYQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBY3W5NHSRSX2KE33XCZMHMSEXETUTJR22QLXBJJVZYRJV5XEU4A/tangerine.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "required": [
                "S3Uri",
                "Format"
            ],
            "members": {
                "S3Uri": {},
                "Format": {}
            }
        },
        "S7": {
            "type": "structure",
            "required": [
                "Type",
                "Id"
            ],
            "members": {
                "Type": {},
                "Id": {}
            }
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "JobDetails": {
                    "type": "structure",
                    "members": {
                        "TranslatedDocumentsCount": {
                            "type": "integer"
                        },
                        "DocumentsWithErrorsCount": {
                            "type": "integer"
                        },
                        "InputDocumentsCount": {
                            "type": "integer"
                        }
                    }
                },
                "SourceLanguageCode": {},
                "TargetLanguageCodes": {
                    "shape": "Sy"
                },
                "TerminologyNames": {
                    "shape": "Sz"
                },
                "ParallelDataNames": {
                    "shape": "Sz"
                },
                "Message": {},
                "SubmittedTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "InputDataConfig": {
                    "shape": "S12"
                },
                "OutputDataConfig": {
                    "shape": "S14"
                },
                "DataAccessRoleArn": {},
                "Settings": {
                    "shape": "S16"
                }
            }
        },
        "Sy": {
            "type": "list",
            "member": {}
        },
        "Sz": {
            "type": "list",
            "member": {}
        },
        "S12": {
            "type": "structure",
[...]
