{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "sierranotificationsservicelambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "SierraNotificationsService",
        "serviceId": "SierraNotificationsServiceLambda",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "sierranotificationsservicelambda-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
        ]
    },
    "operations": {
        "BatchMarkNotificationAsDelivered": {
            "http": {
                "requestUri": "/batch-mark-notification-as-delivered",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "notificationIdList"
                ],
                "members": {
                    "instanceId": {},
                    "notificationIdList": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "notificationIdList"
                ],
                "members": {
                    "notificationIdList": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "GetNotificationsPreference": {
            "http": {
                "requestUri": "/get-notifications-preference",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "allNotificationsEnabled": {
                        "type": "boolean"
                    },
                    "granularPreferences": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "ListUserNotifications": {
            "http": {
                "requestUri": "/list-user-notifications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "priority": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "from": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "notifications"
                ],
                "members": {
                    "notifications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "instanceId",
                                "ssoUserId",
                                "body",
                                "priority",
                                "isRead",
                                "isDelivered",
                                "receivedTime",
                                "userNotificationContentMetadata"
                            ],
                            "members": {
                                "id": {},
                                "instanceId": {},
                                "ssoUserId": {},
                                "body": {},
                                "priority": {},
                                "isRead": {
                                    "type": "boolean"
                                },
                                "isDelivered": {
                                    "type": "boolean"
                                },
                                "receivedTime": {
                                    "type": "timestamp"
                                },
                                "userNotificationContentMetadata": {
                                    "type": "structure",
                                    "required": [
                                        "resourceName",
                                        "resourceId",
                                        "resourceType",
                                        "relatedResourceId",
                                        "eventType"
                                    ],
                                    "members": {
                                        "actorName": {},
                                        "resourceName": {},
                                        "resourceId": {},
                                        "resourceType": {},
                                        "relatedResourceId": {},
                                        "eventType": {}
                                    }
                                },
                                "userNotificationPayload": {}
                            }
                        }
                    },
                    "hasUnreadMessages": {
                        "type": "boolean"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "MarkNotificationAsDelivered": {
            "http": {
                "requestUri": "/mark-notification-as-delivered",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "notificationId"
                ],
                "members": {
                    "instanceId": {},
                    "notificationId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "notificationId"
                ],
                "members": {
                    "notificationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "MarkNotificationAsRead": {
            "http": {
                "requestUri": "/mark-notification-as-read",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "notificationId"
                ],
                "members": {
                    "instanceId": {},
                    "notificationId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "notificationId"
                ],
                "members": {
                    "notificationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "SendEmail": {
            "http": {
                "requestUri": "/send-email",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "awsAccountId",
                    "instanceId",
                    "recipientList",
                    "recipientType",
                    "eventTimestamp",
                    "emailType"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "awsAccountId": {},
                    "instanceId": {},
                    "recipientList": {
                        "shape": "Sw"
                    },
                    "recipientType": {},
                    "eventTimestamp": {
                        "type": "long"
                    },
                    "emailType": {},
                    "roleName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "notificationId": {},
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "SendNotification": {
            "http": {
                "requestUri": "/send-notification",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "awsAccountId",
                    "resourceId",
                    "resourceType",
                    "eventType",
                    "instanceId",
                    "eventTimestamp",
                    "priority",
                    "relatedResourceId",
                    "resourceName"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "awsAccountId": {},
                    "resourceId": {},
                    "resourceType": {},
                    "eventType": {},
                    "instanceId": {},
                    "serviceId": {},
                    "eventTimestamp": {
                        "type": "integer"
                    },
                    "messageBody": {},
                    "priority": {},
                    "relatedResourceId": {},
                    "actorId": {},
                    "resourceName": {},
                    "userList": {
                        "shape": "Sw"
                    },
                    "overrideUserPreference": {
                        "type": "boolean"
                    },
                    "additionalParams": {
                        "jsonvalue": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "notificationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "SendNotificationV2": {
            "http": {
                "requestUri": "/send-notification-v2",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "awsAccountId",
                    "instanceId",
                    "resourceId",
                    "resourceType",
                    "eventType",
                    "eventTimestamp",
                    "priority",
                    "recipientType",
                    "recipientList"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "awsAccountId": {},
                    "instanceId": {},
                    "resourceId": {},
                    "resourceType": {},
                    "eventType": {},
                    "eventTimestamp": {
                        "type": "timestamp"
                    },
                    "priority": {},
                    "actorId": {},
                    "recipientType": {},
                    "recipientList": {
                        "shape": "Sw"
                    },
                    "additionalParams": {
                        "jsonvalue": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "notificationId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "SetNotificationsPreference": {
            "http": {
                "requestUri": "/set-notifications-preference",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "allNotificationsEnabled"
                ],
                "members": {
                    "instanceId": {},
                    "allNotificationsEnabled": {
                        "type": "boolean"
                    },
                    "granularPreferences": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "allNotificationsEnabled": {
                        "type": "boolean"
                    },
                    "granularPreferences": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "UpdateNotificationPreference": {
            "http": {
                "requestUri": "/update-notification-preference",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "resourceId",
                    "resourceType",
                    "permission",
                    "ssoIdentityType",
                    "ssoIdentity"
                ],
                "members": {
                    "instanceId": {},
                    "resourceId": {},
                    "resourceType": {},
                    "permission": {},
                    "ssoIdentityType": {},
                    "ssoIdentity": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instanceId": {},
                    "resourceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "DeleteNotificationsResourcesForInstanceInternal": {
            "http": {
                "requestUri": "/delete-notifications-resources-for-instance-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "SendEmailToCustomerInternal": {
            "http": {
                "requestUri": "/send-email-to-customer-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "instanceId",
                    "recipientsType",
                    "recipientList",
                    "eventType",
                    "eventTimestamp",
                    "resourceType",
                    "additionalParams"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "instanceId": {},
                    "recipientsType": {},
                    "recipientList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "recipientFirstName",
                                "recipientLastName",
                                "email",
                                "redirectLink"
                            ],
                            "members": {
                                "recipientFirstName": {
                                    "shape": "S16"
                                },
                                "recipientLastName": {
                                    "shape": "S16"
                                },
                                "email": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "redirectLink": {}
                            }
                        }
                    },
                    "eventType": {},
                    "eventTimestamp": {
                        "type": "timestamp"
                    },
                    "resourceType": {},
                    "additionalParams": {
                        "jsonvalue": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "notificationIdList"
                ],
                "members": {
                    "instanceId": {},
                    "notificationIdList": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "appScope",
                    "notificationEvents"
                ],
                "members": {
                    "appScope": {},
                    "notificationEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "resourceType",
                                "eventType",
                                "inApp",
                                "email"
                            ],
                            "members": {
                                "resourceType": {},
                                "eventType": {},
                                "inApp": {
                                    "type": "boolean"
                                },
                                "email": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "appScope",
                    "notificationEvents"
                ],
                "members": {
                    "appScope": {},
                    "notificationEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "resourceType",
                                "eventType",
                                "inApp",
                                "email"
                            ],
                            "members": {
                                "resourceType": {},
                                "eventType": {},
                                "inApp": {
                                    "type": "boolean"
                                },
                                "email": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sy": {
            "type": "list",
            "member": {}
        },
        "S16": {
            "type": "string",
            "sensitive": true
        }
    }
}