{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-04-18",
        "endpointPrefix": "sierraidentitymanagementservice",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "scn",
        "serviceFullName": "SierraIdentityManagementService",
        "serviceId": "SierraIdentityManagementV2",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "sierraidentitymanagementv2-2022-04-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
        ]
    },
    "operations": {
        "AssignAdminPermissionsToUser": {
            "http": {
                "requestUri": "/assign-admin-permission-to-user",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "actorId"
                ],
                "members": {
                    "instanceId": {},
                    "actorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "actorId"
                ],
                "members": {
                    "instanceId": {},
                    "actorId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "AssignGalaxyRoleToGroup": {
            "http": {
                "requestUri": "/assign-galaxy-role-to-group",
                "responseCode": 200
            },
            "input": {
                "shape": "S5"
            },
            "output": {
                "shape": "S9"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "AssignGalaxyRoleToUser": {
            "http": {
                "requestUri": "/assign-galaxy-role-to-user",
                "responseCode": 200
            },
            "input": {
                "shape": "S5",
                "members": {
                    "instanceId": {},
                    "roleAssignment": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "actorId",
                                "roleId"
                            ],
                            "members": {
                                "actorId": {},
                                "roleId": {},
                                "granularAccessDetails": {
                                    "shape": "S9"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "shape": "S9"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "AssociateGroup": {
            "http": {
                "requestUri": "/associate-group",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "groupId",
                    "instanceId"
                ],
                "members": {
                    "groupId": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "groupId",
                    "instanceId"
                ],
                "members": {
                    "groupId": {},
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "AssociateUser": {
            "http": {
                "requestUri": "/associate-user",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userId",
                    "instanceId"
                ],
                "members": {
                    "userId": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userId",
                    "instanceId"
                ],
                "members": {
                    "userId": {},
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "BatchGetUsers": {
            "http": {
                "requestUri": "/batch-get-users",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userIdList"
                ],
                "members": {
                    "instanceId": {},
                    "userIdList": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "users"
                ],
                "members": {
                    "instanceId": {},
                    "users": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "BatchGetUsersInternal": {
            "http": {
                "requestUri": "/batch-get-users-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userIdList"
                ],
                "members": {
                    "instanceId": {},
                    "userIdList": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "users"
                ],
                "members": {
                    "instanceId": {},
                    "users": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "BootstrapDefaultRolesInternal": {
            "http": {
                "requestUri": "/bootstrap-default-roles-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "CreateRole": {
            "http": {
                "requestUri": "/create-role",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "roleName",
                    "accessDetail"
                ],
                "members": {
                    "instanceId": {},
                    "roleName": {},
                    "roleDescription": {},
                    "accessDetail": {
                        "shape": "Sv"
                    },
                    "granularAccessDetails": {
                        "shape": "S11"
                    },
                    "datasetAccessDetails": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "role"
                ],
                "members": {
                    "instanceId": {},
                    "role": {
                        "shape": "S17"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "CreateSSOApplication": {
            "http": {
                "requestUri": "/createSSOApplication",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "ssoRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "DeleteRole": {
            "http": {
                "requestUri": "/delete-role",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "roleId",
                    "instanceId"
                ],
                "members": {
                    "roleId": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetAccessDetailConfig": {
            "http": {
                "requestUri": "/get-access-detail-config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accessDetailMetadataList"
                ],
                "members": {
                    "instanceId": {},
                    "accessDetailMetadataList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "scope",
                                "supportedAccessLevels"
                            ],
                            "members": {
                                "scope": {},
                                "supportedAccessLevels": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetUserAccessDetailsInternal": {
            "http": {
                "requestUri": "/get-user-access-details-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userId",
                    "instanceId"
                ],
                "members": {
                    "userId": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userId",
                    "instanceId",
                    "accessDetails",
                    "granularAccessDetails"
                ],
                "members": {
                    "userId": {},
                    "instanceId": {},
                    "accessDetails": {
                        "shape": "Sv"
                    },
                    "granularAccessDetails": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetUserDetails": {
            "http": {
                "requestUri": "/get-user-details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userId"
                ],
                "members": {
                    "instanceId": {},
                    "userId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "user",
                    "isAdmin",
                    "accessDetails"
                ],
                "members": {
                    "user": {
                        "shape": "Si"
                    },
                    "isAdmin": {
                        "type": "boolean"
                    },
                    "accessDetails": {
                        "shape": "Sv"
                    },
                    "granularAccessDetails": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "GetUserInternal": {
            "http": {
                "requestUri": "/get-user-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userId",
                    "instanceId"
                ],
                "members": {
                    "userId": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "user"
                ],
                "members": {
                    "user": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListAdminUsers": {
            "http": {
                "requestUri": "/list-admin-users",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "users"
                ],
                "members": {
                    "users": {
                        "shape": "Sh"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListGroupsWithRole": {
            "http": {
                "requestUri": "/list-groups-with-role",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "groups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "groupId",
                                "groupName",
                                "role",
                                "isAdmin"
                            ],
                            "members": {
                                "groupId": {},
                                "groupName": {},
                                "role": {
                                    "shape": "S17"
                                },
                                "isAdmin": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "ListRoles": {
            "http": {
                "requestUri": "/list-roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "roles"
                ],
                "members": {
                    "instanceId": {},
                    "roles": {
                        "type": "list",
                        "member": {
                            "shape": "S17"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListUserPermissionsInternal": {
            "http": {
                "requestUri": "/list-user-permissions-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userId",
                    "instanceId"
                ],
                "members": {
                    "userId": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userId",
                    "instanceId",
                    "accessInfo"
                ],
                "members": {
                    "userId": {},
                    "instanceId": {},
                    "accessInfo": {
                        "type": "structure",
                        "required": [
                            "accessMap"
                        ],
                        "members": {
                            "accessMap": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "shape": "S23"
                                    }
                                }
                            },
                            "dependentPermissionsMap": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "shape": "S23"
                                }
                            }
                        }
                    },
                    "granularAccessDetails": {
                        "shape": "S11"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListUsers": {
            "http": {
                "requestUri": "/list-users",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "users": {
                        "shape": "Sh"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListUsersWithRole": {
            "http": {
                "requestUri": "/list-users-with-role",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userId",
                                "userName",
                                "isAdmin",
                                "role"
                            ],
                            "members": {
                                "userId": {},
                                "userName": {},
                                "isAdmin": {
                                    "type": "boolean"
                                },
                                "role": {
                                    "shape": "S17"
                                },
                                "firstName": {},
                                "lastName": {},
                                "userEmail": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "RemoveAdminPermissionsForUser": {
            "http": {
                "requestUri": "/remove-admin-permission-for-user",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "actorId"
                ],
                "members": {
                    "instanceId": {},
                    "actorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "actorId"
                ],
                "members": {
                    "instanceId": {},
                    "actorId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "RemoveGroup": {
            "http": {
                "requestUri": "/remove-group",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "groupId"
                ],
                "members": {
                    "instanceId": {},
                    "groupId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "groupId"
                ],
                "members": {
                    "instanceId": {},
                    "groupId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "RemoveUser": {
            "http": {
                "requestUri": "/remove-user",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userId"
                ],
                "members": {
                    "instanceId": {},
                    "userId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userId"
                ],
                "members": {
                    "instanceId": {},
                    "userId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "SearchUsersInternal": {
            "http": {
                "requestUri": "/search-users-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "accountId",
                    "searchFilter"
                ],
                "members": {
                    "instanceId": {},
                    "accountId": {},
                    "searchFilter": {
                        "type": "structure",
                        "members": {
                            "key": {},
                            "value": {}
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "users"
                ],
                "members": {
                    "users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "userId": {},
                                "userName": {},
                                "primaryEmail": {},
                                "displayName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "UpdateRole": {
            "http": {
                "requestUri": "/update-role",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "role"
                ],
                "members": {
                    "instanceId": {},
                    "role": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "role"
                ],
                "members": {
                    "instanceId": {},
                    "role": {
                        "shape": "S17"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "UpdateUser": {
            "http": {
                "requestUri": "/update-user",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "user"
                ],
                "members": {
                    "user": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "user"
                ],
                "members": {
                    "user": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "UpdateUserInternal": {
            "http": {
                "requestUri": "/update-user-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "user"
                ],
                "members": {
                    "user": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "user"
                ],
                "members": {
                    "user": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "AssignPartnerRoleToUser": {
            "http": {
                "requestUri": "/assign-partner-role-to-user",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "actorId"
                ],
                "members": {
                    "instanceId": {},
                    "actorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "actorId"
                ],
                "members": {
                    "instanceId": {},
                    "actorId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "CreateUser": {
            "http": {
                "requestUri": "/create-user",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "identityStoreId",
                    "userEmail",
                    "fistName",
                    "lastName"
                ],
                "members": {
                    "instanceId": {},
                    "identityStoreId": {},
                    "userEmail": {
                        "shape": "Sm"
                    },
                    "fistName": {
                        "shape": "Sl"
                    },
                    "lastName": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userId",
                    "userName",
                    "active"
                ],
                "members": {
                    "userId": {},
                    "userName": {
                        "shape": "Sm"
                    },
                    "active": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "DeleteInstanceResourcesInternal": {
            "http": {
                "requestUri": "/delete-instance-resources-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "DeleteSSOApplication": {
            "http": {
                "requestUri": "/delete-sso-application",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "DeleteUser": {
            "http": {
                "requestUri": "/delete-user",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "identityStoreId",
                    "userEmail"
                ],
                "members": {
                    "instanceId": {},
                    "identityStoreId": {},
                    "userEmail": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userId",
                    "userName"
                ],
                "members": {
                    "userId": {},
                    "userName": {
                        "shape": "Sm"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js"
            ]
        },
        "ListRolesInternal": {
            "http": {
                "requestUri": "/list-roles-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "roles"
                ],
                "members": {
                    "instanceId": {},
                    "roles": {
                        "shape": "S26"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListUsersAssignedRoleInternal": {
            "http": {
                "requestUri": "/list-users-assigned-role-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "roleId",
                    "instanceId"
                ],
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "roleId": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userIds"
                ],
                "members": {
                    "instanceId": {},
                    "userIds": {
                        "shape": "Sh"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "SearchIAMIdentityCenterUsers": {
            "http": {
                "requestUri": "/search-iam-identity-center-users",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "searchFilter"
                ],
                "members": {
                    "instanceId": {},
                    "searchFilter": {
                        "shape": "S2w"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "users"
                ],
                "members": {
                    "users": {
                        "shape": "S30"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ReplicateGranularAccessDetailsInternal": {
            "http": {
                "requestUri": "/replicate-granular-access-details-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userId",
                    "instanceId",
                    "roleId",
                    "validation"
                ],
                "members": {
                    "userId": {},
                    "instanceId": {},
                    "roleId": {},
                    "validation": {
                        "type": "boolean"
                    },
                    "overwrite": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "identityPermission",
                    "validationDone"
                ],
                "members": {
                    "identityPermission": {
                        "type": "structure",
                        "required": [
                            "userId",
                            "instanceId",
                            "versionId"
                        ],
                        "members": {
                            "userId": {},
                            "identityType": {},
                            "instanceId": {},
                            "roleId": {},
                            "versionId": {
                                "type": "long"
                            },
                            "awsAccountId": {},
                            "granularAccessDetails": {
                                "shape": "S9"
                            }
                        }
                    },
                    "validationDone": {
                        "type": "boolean"
                    },
                    "identityRole": {
                        "shape": "S18"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "AssignPartnerRoleToUserInternal": {
            "http": {
                "requestUri": "/assign-partner-role-to-user-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "actorId",
                    "awsAccountId",
                    "roleId"
                ],
                "members": {
                    "instanceId": {},
                    "actorId": {},
                    "awsAccountId": {},
                    "roleId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "actorId"
                ],
                "members": {
                    "instanceId": {},
                    "actorId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "ListDatasetsWithNamespace": {
            "http": {
                "requestUri": "/list-datasets-with-namespace",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespaceToDatasetsMap"
                ],
                "members": {
                    "namespaceToDatasetsMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S18"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "RemovePartnerUserInternal": {
            "http": {
                "requestUri": "/remove-partner-user-internal",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "actorId",
                    "awsAccountId"
                ],
                "members": {
                    "instanceId": {},
                    "actorId": {},
                    "awsAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "actorId"
                ],
                "members": {
                    "instanceId": {},
                    "actorId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        },
        "RemoveRoleFromUser": {
            "http": {
                "requestUri": "/remove-role-from-user",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userId"
                ],
                "members": {
                    "instanceId": {},
                    "userId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "userId"
                ],
                "members": {
                    "instanceId": {},
                    "userId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "instanceId",
                "roleAssignment"
            ],
            "members": {
                "instanceId": {},
                "roleAssignment": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "actorId",
                            "roleId"
                        ],
                        "members": {
                            "actorId": {},
                            "roleId": {}
                        }
                    }
                }
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "instanceId"
            ],
            "members": {
                "instanceId": {}
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "list",
            "member": {
                "shape": "Si"
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "userId",
                "instanceId",
                "firstName",
                "lastName",
                "email",
                "userName",
                "versionId"
            ],
            "members": {
                "userId": {},
                "instanceId": {},
                "firstName": {},
                "lastName": {},
                "email": {},
                "userName": {},
                "chimeUserArn": {},
                "jobTitle": {},
                "timeZone": {},
                "versionId": {
                    "type": "long"
                }
            }
        },
        "Sv": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "scope",
                    "accessLevel",
                    "scopeTypes"
                ],
                "members": {
                    "scope": {},
                    "accessLevel": {},
                    "scopeTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S11": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "categoryKey",
                    "categoryValues",
                    "hasAllAccess"
                ],
                "members": {
                    "categoryKey": {},
                    "categoryValues": {
                        "type": "list",
                        "member": {}
                    },
                    "hasAllAccess": {
                        "type": "boolean"
                    }
                }
            }
        },
        "S17": {
            "type": "structure",
            "required": [
                "roleId",
                "roleName",
                "accessDetails",
                "versionId"
            ],
            "members": {
                "roleId": {},
                "roleName": {},
                "roleDescription": {},
                "accessDetails": {
                    "shape": "Sv"
                },
                "granularAccessDetails": {
                    "shape": "S11"
                },
                "versionId": {
                    "type": "long"
                }
            }
        },
        "S23": {
            "type": "list",
            "member": {}
        },
        "Sj": {
            "type": "list",
            "member": {
                "shape": "Sk"
            }
        },
        "Sk": {
            "type": "structure",
            "required": [
                "userId",
                "instanceId",
                "firstName",
                "lastName",
                "email",
                "userName",
                "versionId"
            ],
            "members": {
                "userId": {},
                "instanceId": {},
                "firstName": {
                    "shape": "Sl"
                },
                "lastName": {
                    "shape": "Sl"
                },
                "email": {
                    "shape": "Sm"
                },
                "userName": {
                    "shape": "Sn"
                },
                "chimeUserArn": {},
                "jobTitle": {},
                "timeZone": {},
                "versionId": {
                    "type": "long"
                },
                "expireTimestamp": {
                    "type": "long"
                }
            }
        },
        "Sl": {
            "type": "string",
            "sensitive": true
        },
        "Sm": {
            "type": "string",
            "sensitive": true
        },
        "Sn": {
            "type": "string",
[...]
