{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "sierraschemaregistry",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "scn",
        "serviceFullName": "SierraSchemaRegistry",
        "serviceId": "SierraSchemaRegistry",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "sierraschemaregistry-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
        ]
    },
    "operations": {
        "CreateEntity": {
            "http": {
                "requestUri": "/createentity",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "schema",
                    "instanceId"
                ],
                "members": {
                    "name": {},
                    "schema": {},
                    "instanceId": {},
                    "rootEntityId": {},
                    "rootEntityInstanceId": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "schema",
                    "instanceId"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "schema": {},
                    "instanceId": {},
                    "rootEntityId": {},
                    "rootEntityInstanceId": {},
                    "description": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "CreateInstance": {
            "http": {
                "requestUri": "/createInstance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "instanceId"
                ],
                "members": {
                    "accountId": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountId",
                    "instanceId"
                ],
                "members": {
                    "accountId": {},
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "DeleteEntity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/deleteEntity",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "entityId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    },
                    "entityId": {
                        "location": "querystring",
                        "locationName": "entityId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "entityId"
                ],
                "members": {
                    "instanceId": {},
                    "entityId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "DeleteInstance": {
            "http": {
                "requestUri": "/deleteInstance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "GetEntity": {
            "http": {
                "requestUri": "/getentity",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "schema"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "schema": {},
                    "instanceId": {},
                    "rootEntityId": {},
                    "rootEntityInstanceId": {},
                    "description": {},
                    "primaryKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        },
        "ListEntities": {
            "http": {
                "requestUri": "/listentity",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {},
                    "rootEntity": {
                        "type": "structure",
                        "required": [
                            "id"
                        ],
                        "members": {
                            "id": {},
                            "instanceId": {}
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "entities"
                ],
                "members": {
                    "entities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "instanceId": {},
                                "rootEntityId": {},
                                "rootEntityInstanceId": {},
                                "description": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js"
            ]
        }
    },
    "shapes": {}
}