{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-22",
        "endpointPrefix": "scn",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS SierraDataStorageDataPlaneService",
        "serviceId": "SierraDataStorageDataPlaneService",
        "signatureVersion": "v4",
        "signingName": "scn",
        "uid": "sierradatastoragedataplaneservice-2021-08-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
        ]
    },
    "operations": {
        "ApplicationClosed": {
            "http": {
                "requestUri": "/ApplicationClosed"
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {},
                    "failed": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S4"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "ApplicationClosing": {
            "http": {
                "requestUri": "/ApplicationClosing"
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {}
                }
            },
            "output": {
                "shape": "S4"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "ApplicationHeartbeat": {
            "http": {
                "requestUri": "/ApplicationHeartbeat"
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {}
                }
            },
            "output": {
                "shape": "S4"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateAppendJob": {
            "http": {
                "requestUri": "/CreateAppendJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId",
                    "jobConfiguration"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {},
                    "jobConfiguration": {
                        "shape": "Sb"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateApplicationDataset": {
            "http": {
                "requestUri": "/CreateApplicationDataset"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetSchema",
                    "primaryKeys",
                    "partitions"
                ],
                "members": {
                    "instanceId": {},
                    "datasetSchema": {},
                    "primaryKeys": {
                        "shape": "Si"
                    },
                    "partitions": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateDataset": {
            "http": {
                "requestUri": "/CreateDataset"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "name",
                    "description",
                    "type"
                ],
                "members": {
                    "instanceId": {},
                    "name": {},
                    "description": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateDatasetExportJob": {
            "http": {
                "requestUri": "/CreateDatasetExportJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId",
                    "jobConfiguration"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {},
                    "versionId": {},
                    "jobConfiguration": {
                        "type": "structure",
                        "required": [
                            "fileType"
                        ],
                        "members": {
                            "uri": {},
                            "fileType": {},
                            "uniqueFields": {
                                "type": "structure",
                                "members": {
                                    "field": {},
                                    "fieldList": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "limit": {
                                        "type": "long"
                                    }
                                }
                            },
                            "filterFields": {
                                "shape": "Sw"
                            },
                            "filterConditions": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "required": [
                                        "condition",
                                        "values"
                                    ],
                                    "members": {
                                        "condition": {},
                                        "values": {
                                            "shape": "S10"
                                        },
                                        "caseSensitivity": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "filterConditionsV2": {
                                "shape": "S11"
                            },
                            "aggregationFields": {
                                "shape": "S16"
                            },
                            "aggregationFieldsV2": {
                                "shape": "S18"
                            },
                            "timeRange": {
                                "type": "structure",
                                "required": [
                                    "start",
                                    "end"
                                ],
                                "members": {
                                    "start": {
                                        "type": "long"
                                    },
                                    "end": {
                                        "type": "long"
                                    }
                                }
                            },
                            "renameFields": {
                                "shape": "S1c"
                            },
                            "timestampFormat": {},
                            "granularityType": {}
                        }
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateDatasetJoinJob": {
            "http": {
                "requestUri": "/CreateDatasetJoinJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId",
                    "jobConfiguration"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {},
                    "versionId": {},
                    "jobConfiguration": {
                        "type": "structure",
                        "required": [
                            "uri",
                            "fileType",
                            "joinType",
                            "joinKeys",
                            "rightDataset"
                        ],
                        "members": {
                            "uri": {},
                            "fileType": {},
                            "joinType": {},
                            "joinKeys": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "left",
                                        "right"
                                    ],
                                    "members": {
                                        "left": {},
                                        "right": {},
                                        "caseSensitivity": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            },
                            "rightDataset": {
                                "type": "structure",
                                "required": [
                                    "datasetId",
                                    "versionId"
                                ],
                                "members": {
                                    "datasetId": {},
                                    "versionId": {}
                                }
                            },
                            "joinedDatasetFields": {
                                "type": "structure",
                                "required": [
                                    "left",
                                    "right"
                                ],
                                "members": {
                                    "left": {
                                        "shape": "S1l"
                                    },
                                    "right": {
                                        "shape": "S1l"
                                    }
                                }
                            },
                            "joinedDatasetRenameFields": {
                                "type": "structure",
                                "required": [
                                    "left",
                                    "right"
                                ],
                                "members": {
                                    "left": {
                                        "shape": "S1c"
                                    },
                                    "right": {
                                        "shape": "S1c"
                                    }
                                }
                            },
                            "innerAggregation": {
                                "type": "structure",
                                "members": {
                                    "side": {},
                                    "filterFields": {
                                        "shape": "Sw"
                                    },
                                    "aggregationFields": {
                                        "shape": "S16"
                                    },
                                    "aggregationFieldsV2": {
                                        "shape": "S18"
                                    },
                                    "granularityType": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateDeleteDataJob": {
            "http": {
                "requestUri": "/CreateDeleteDataJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId",
                    "jobConfiguration"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {},
                    "jobConfiguration": {
                        "shape": "S1q"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateInstance": {
            "http": {
                "requestUri": "/CreateInstance"
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "instanceId"
                ],
                "members": {
                    "accountId": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateMergeJob": {
            "http": {
                "requestUri": "/CreateMergeJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {},
                    "jobConfiguration": {
                        "shape": "S1v"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateNamespace": {
            "http": {
                "requestUri": "/CreateNamespace"
            },
            "input": {
                "shape": "S1w"
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateReplaceJob": {
            "http": {
                "requestUri": "/CreateReplaceJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId",
                    "jobConfiguration"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {},
                    "jobConfiguration": {
                        "shape": "S1z"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateReplacePartitionsJob": {
            "http": {
                "requestUri": "/CreateReplacePartitionsJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId",
                    "jobConfiguration"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {},
                    "jobConfiguration": {
                        "shape": "S21"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateSymlinkTableJob": {
            "http": {
                "requestUri": "/CreateSymlinkTableJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {},
                    "versionId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateTable": {
            "http": {
                "requestUri": "/CreateTable"
            },
            "input": {
                "shape": "S25"
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateUpdateDatasetSchemaJob": {
            "http": {
                "requestUri": "/CreateUpdateDatasetSchemaJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId",
                    "schema"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {},
                    "schema": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "CreateUpsertJob": {
            "http": {
                "requestUri": "/CreateUpsertJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId",
                    "jobConfiguration"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {},
                    "jobConfiguration": {
                        "shape": "S29"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteDataset"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    },
                    "datasetId": {
                        "location": "querystring",
                        "locationName": "datasetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "DeleteInstance": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteInstance"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "DeleteJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "jobId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    },
                    "tableId": {
                        "location": "querystring",
                        "locationName": "tableId"
                    },
                    "jobId": {
                        "location": "querystring",
                        "locationName": "jobId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "DeleteNamespace": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteNamespace"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "DeleteTable": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteTable"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "tableId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    },
                    "tableId": {
                        "location": "querystring",
                        "locationName": "tableId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeDataset"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    },
                    "datasetId": {
                        "location": "querystring",
                        "locationName": "datasetId"
                    }
                }
            },
            "output": {
                "shape": "S2k"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "DescribeInstance": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeInstance"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceSummary"
                ],
                "members": {
                    "instanceSummary": {
                        "type": "structure",
                        "required": [
                            "accountId",
                            "instanceId",
                            "createdAt"
                        ],
                        "members": {
                            "accountId": {},
                            "instanceId": {},
                            "createdAt": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "DescribeJob": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "jobId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    },
                    "datasetId": {
                        "location": "querystring",
                        "locationName": "datasetId"
                    },
                    "jobId": {
                        "location": "querystring",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "shape": "S2t"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "DescribeTable": {
            "http": {
                "method": "GET",
                "requestUri": "/DescribeTable"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "tableId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    },
                    "tableId": {
                        "location": "querystring",
                        "locationName": "tableId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespaceId",
                    "tableId",
                    "tableArn"
                ],
                "members": {
                    "namespaceId": {},
                    "tableId": {},
                    "tableArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "ExpireApplication": {
            "http": {
                "requestUri": "/ExpireApplication"
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {}
                }
            },
            "output": {
                "shape": "S4"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "GetDatasetVersion": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDatasetVersion"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    },
                    "datasetId": {
                        "location": "querystring",
                        "locationName": "datasetId"
                    },
                    "versionId": {
                        "location": "querystring",
                        "locationName": "versionId"
                    }
                }
            },
            "output": {
                "shape": "S3f"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "GetNamespace": {
            "http": {
                "method": "GET",
                "requestUri": "/GetNamespace"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "namespaceId"
                ],
                "members": {
                    "namespaceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "ListApplications": {
            "http": {
                "method": "GET",
                "requestUri": "/ListApplications"
            },
            "input": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applications"
                ],
                "members": {
                    "applications": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "ListDatasetTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/ListDatasetTypes"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "datasetTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "ListDatasetVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/ListDatasetVersions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    },
                    "datasetId": {
                        "location": "querystring",
                        "locationName": "datasetId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "versions"
                ],
                "members": {
                    "versions": {
                        "type": "list",
                        "member": {
                            "shape": "S3f"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "ListDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/ListDatasets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {
                        "location": "querystring",
                        "locationName": "instanceId"
                    },
                    "datasetType": {
                        "location": "querystring",
                        "locationName": "datasetType"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "datasets"
                ],
                "members": {
                    "datasets": {
                        "type": "list",
                        "member": {
                            "shape": "S2k"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "RegisterApplication": {
            "http": {
                "requestUri": "/RegisterApplication"
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {}
                }
            },
            "output": {
                "shape": "S4"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "StopJob": {
            "http": {
                "requestUri": "/StopJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId",
                    "jobId"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {},
                    "jobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "UpdateDataset": {
            "http": {
                "requestUri": "/UpdateDataset"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {},
                    "name": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "datasetId",
                    "createdAt",
                    "updatedAt",
                    "datasetSummary"
                ],
                "members": {
                    "instanceId": {},
                    "datasetId": {},
                    "createdAt": {
                        "type": "long"
                    },
                    "updatedAt": {
                        "type": "long"
                    },
                    "datasetSummary": {
                        "shape": "S2l"
                    },
                    "datasetVersionSummary": {
                        "shape": "S2m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "UpdateJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/UpdateJob"
            },
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "jobId"
                ],
                "members": {
                    "instanceId": {},
                    "tableId": {},
                    "jobId": {},
                    "status": {},
                    "error": {},
                    "systemError": {
                        "shape": "S35"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        },
        "VendJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/VendJobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "limit"
                ],
                "members": {
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "catalogType": {
                        "location": "querystring",
                        "locationName": "catalogType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobs"
                ],
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "shape": "S2t"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKHP6TGZH23RVCUZZP2OJ2PJJUFTMSQ666SII2V522LCUK4NBNXQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "required": [
                "applicationId",
                "status",
                "createdAt",
                "updatedAt",
                "heartbeat"
            ],
            "members": {
                "applicationId": {},
                "status": {},
                "createdAt": {
                    "type": "long"
                },
                "updatedAt": {
                    "type": "long"
                },
                "heartbeat": {
                    "type": "long"
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "uri",
                "fileType"
            ],
            "members": {
                "uri": {},
                "fileType": {},
                "generateVersionSummary": {
                    "type": "boolean"
                }
            }
        },
        "Se": {
            "type": "structure",
            "required": [
                "instanceId",
                "datasetId",
                "jobId"
            ],
            "members": {
                "instanceId": {},
                "datasetId": {},
                "jobId": {}
            }
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "Sj": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "sourceName"
                ],
                "members": {
                    "sourceName": {},
                    "truncateWidth": {
                        "type": "integer"
                    },
                    "bucketNum": {
                        "type": "integer"
                    },
                    "timestampGranularity": {}
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "S10": {
            "type": "list",
            "member": {}
        },
        "S11": {
            "type": "structure",
            "members": {
                "joinOperator": {},
                "singleConditionList": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "field": {},
                            "comparator": {},
                            "values": {
                                "shape": "S10"
                            },
                            "caseSensitivity": {
                                "type": "boolean"
                            },
                            "timestampProperty": {
                                "type": "boolean"
                            }
                        }
                    }
                },
                "multiConditionList": {
                    "type": "list",
                    "member": {
                        "shape": "S11"
                    }
                }
            }
        },
        "S16": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S18": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "typeList": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1c": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1l": {
            "type": "list",
            "member": {}
        },
        "S1q": {
            "type": "structure",
            "required": [
                "uri",
                "fileType"
            ],
            "members": {
                "uri": {},
                "fileType": {}
            }
        },
        "S1v": {
            "type": "structure",
            "required": [
                "fileType"
            ],
            "members": {
                "fileType": {}
            }
        },
        "S1w": {
            "type": "structure",
            "required": [
                "instanceId"
            ],
            "members": {
                "instanceId": {},
                "sync": {
                    "type": "boolean"
                }
            }
        },
        "S1z": {
            "type": "structure",
            "required": [
                "uri",
                "fileType"
            ],
            "members": {
                "uri": {},
                "fileType": {},
                "generateVersionSummary": {
                    "type": "boolean"
                }
            }
        },
        "S21": {
            "type": "structure",
            "required": [
                "uri",
                "fileType",
                "partitions"
            ],
            "members": {
                "uri": {},
                "fileType": {},
                "partitions": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S25": {
            "type": "structure",
            "required": [
                "instanceId",
                "tableId",
                "tableSchema",
                "tablePartitions"
            ],
            "members": {
                "instanceId": {},
                "tableId": {},
                "tableSchema": {},
                "primaryKeys": {
                    "shape": "Si"
                },
                "tablePartitions": {
                    "shape": "Sj"
                },
                "policy": {},
                "sync": {
                    "type": "boolean"
                }
            }
        },
        "S29": {
            "type": "structure",
            "required": [
                "uri",
                "fileType"
            ],
            "members": {
                "identifierFields": {
                    "shape": "Si"
                },
                "uri": {},
                "fileType": {}
            }
        },
        "S2k": {
            "type": "structure",
            "required": [
                "instanceId",
                "datasetId",
                "createdAt",
                "updatedAt",
                "datasetSummary"
            ],
            "members": {
                "instanceId": {},
                "datasetId": {},
                "createdAt": {
                    "type": "long"
                },
                "updatedAt": {
                    "type": "long"
                },
                "datasetSummary": {
                    "shape": "S2l"
                },
                "datasetVersionSummary": {
                    "shape": "S2m"
                }
            }
        },
        "S2l": {
            "type": "structure",
            "required": [
                "type",
                "activeSchema"
            ],
            "members": {
                "name": {},
                "description": {},
                "type": {},
                "activeSchema": {}
            }
        },
        "S2m": {
            "type": "structure",
            "members": {
                "versionId": {},
                "jobId": {},
                "createdAt": {
                    "type": "long"
                },
                "rowCount": {
                    "type": "long"
                },
                "columnStats": {
                    "shape": "S2n"
                }
            }
        },
        "S2n": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "count",
                    "type"
                ],
                "members": {
                    "count": {
                        "type": "long"
                    },
                    "type": {}
                }
            }
        },
        "S2t": {
            "type": "structure",
            "required": [
                "instanceId",
                "jobId",
                "type",
                "status",
                "createdAt",
                "updatedAt",
                "config"
            ],
            "members": {
                "instanceId": {},
                "datasetId": {},
                "jobId": {},
                "type": {},
                "status": {},
                "createdAt": {
                    "type": "long"
                },
                "updatedAt": {
                    "type": "long"
                },
                "config": {
                    "type": "structure",
                    "members": {
                        "createNamespace": {
                            "shape": "S1w"
                        },
                        "createTable": {
                            "shape": "S25"
                        },
                        "append": {
                            "shape": "Sb"
                        },
                        "upsert": {
                            "shape": "S29"
                        },
                        "merge": {
                            "shape": "S1v"
                        },
                        "replace": {
                            "shape": "S1z"
                        },
                        "replacePartitions": {
                            "shape": "S21"
                        },
                        "export": {
                            "type": "structure",
                            "required": [
                                "instanceId",
                                "tableId",
                                "exportLocation",
                                "exportType",
                                "queryString"
                            ],
                            "members": {
                                "instanceId": {},
                                "tableId": {},
                                "versionId": {},
                                "exportLocation": {},
                                "exportType": {},
                                "queryString": {},
                                "exportFileLocation": {}
                            }
                        },
                        "join": {
                            "type": "structure",
                            "required": [
                                "instanceId",
                                "tableIdLeft",
                                "tableIdRight",
                                "exportLocation",
                                "exportType",
                                "queryString"
                            ],
                            "members": {
                                "instanceId": {},
                                "tableIdLeft": {},
                                "tableIdRight": {},
                                "versionIdLeft": {},
                                "versionIdRight": {},
                                "exportLocation": {},
                                "exportType": {},
                                "queryString": {},
                                "exportFileLocation": {}
                            }
                        },
                        "validation": {
                            "type": "structure",
                            "required": [
                                "instanceId",
                                "validationConfig",
                                "validationAction"
                            ],
                            "members": {
                                "instanceId": {},
                                "tableId": {},
                                "validationConfig": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "operation": {},
                                            "name": {},
                                            "minMaxParametersConfig": {},
                                            "referentialIntegrityParametersConfig": {}
                                        }
                                    }
                                },
                                "validationAction": {}
                            }
                        },
                        "deleteData": {
                            "shape": "S1q"
                        },
                        "createSymlinkTable": {
                            "type": "structure",
                            "members": {
                                "versionId": {},
                                "symlinkTableId": {},
                                "symlinkTableRootLocation": {}
                            }
                        },
                        "updateDatasetSchema": {
                            "type": "structure",
                            "required": [
                                "schema"
                            ],
                            "members": {
                                "schema": {}
                            }
                        }
                    }
                },
                "versionId": {},
                "error": {},
                "systemError": {
                    "shape": "S35"
                }
            }
        },
        "S35": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "errorCode"
                ],
                "members": {
                    "errorCode": {},
                    "field": {
                        "type": "structure",
                        "required": [
                            "columnPosition"
                        ],
                        "members": {
                            "columnPosition": {
                                "type": "structure",
                                "required": [
                                    "name",
                                    "position"
                                ],
                                "members": {
                                    "name": {},
                                    "position": {
                                        "type": "integer"
                                    }
                                }
                            },
                            "rowPosition": {
                                "type": "structure",
                                "required": [
                                    "position"
                                ],
                                "members": {
                                    "position": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S3f": {
            "type": "structure",
            "required": [
                "instanceId",
                "datasetId",
                "versionId"
            ],
            "members": {
                "instanceId": {},
                "datasetId": {},
                "versionId": {},
                "columns": {
                    "shape": "S2n"
                }
            }
        }
    }
}