{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-08-25",
        "endpointPrefix": "signer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "signer",
        "serviceFullName": "AWS Signer",
        "serviceId": "signer",
        "signatureVersion": "v4",
        "signingName": "signer",
        "uid": "signer-2017-08-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NKOHPQOUVRUMWYOUXIDXM4YQU2LT5NJZ3UQ75CPLE3QBY5WNMLA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AddProfilePermission": {
            "http": {
                "requestUri": "/signing-profiles/{profileName}/permissions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "action",
                    "principal",
                    "statementId",
                    "profileName"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    },
                    "profileVersion": {},
                    "action": {},
                    "principal": {},
                    "revisionId": {},
                    "statementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CancelSigningProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/signing-profiles/{profileName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileName"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeSigningJob": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "source": {
                        "shape": "Sa"
                    },
                    "signingMaterial": {
                        "shape": "Sf"
                    },
                    "platformId": {},
                    "platformDisplayName": {},
                    "profileName": {},
                    "profileVersion": {},
                    "overrides": {
                        "shape": "Sj"
                    },
                    "signingParameters": {
                        "shape": "So"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "completedAt": {
                        "type": "timestamp"
                    },
                    "signatureExpiresAt": {
                        "type": "timestamp"
                    },
                    "requestedBy": {},
                    "status": {},
                    "statusReason": {},
                    "revocationRecord": {
                        "type": "structure",
                        "members": {
                            "reason": {},
                            "revokedAt": {
                                "type": "timestamp"
                            },
                            "revokedBy": {}
                        }
                    },
                    "signedObject": {
                        "shape": "Sw"
                    },
                    "jobOwner": {},
                    "jobInvoker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetSigningPlatform": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-platforms/{platformId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "platformId"
                ],
                "members": {
                    "platformId": {
                        "location": "uri",
                        "locationName": "platformId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "platformId": {},
                    "displayName": {},
                    "partner": {},
                    "target": {},
                    "category": {},
                    "signingConfiguration": {
                        "shape": "S12"
                    },
                    "signingImageFormat": {
                        "shape": "S17"
                    },
                    "maxSizeInMB": {
                        "type": "integer"
                    },
                    "revocationSupported": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetSigningProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-profiles/{profileName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileName"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    },
                    "profileOwner": {
                        "location": "querystring",
                        "locationName": "profileOwner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "profileName": {},
                    "profileVersion": {},
                    "profileVersionArn": {},
                    "revocationRecord": {
                        "type": "structure",
                        "members": {
                            "revocationEffectiveFrom": {
                                "type": "timestamp"
                            },
                            "revokedAt": {
                                "type": "timestamp"
                            },
                            "revokedBy": {}
                        }
                    },
                    "signingMaterial": {
                        "shape": "Sf"
                    },
                    "platformId": {},
                    "platformDisplayName": {},
                    "signatureValidityPeriod": {
                        "shape": "S1f"
                    },
                    "overrides": {
                        "shape": "Sj"
                    },
                    "signingParameters": {
                        "shape": "So"
                    },
                    "status": {},
                    "statusReason": {},
                    "arn": {},
                    "tags": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListProfilePermissions": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-profiles/{profileName}/permissions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileName"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "revisionId": {},
                    "policySizeBytes": {
                        "type": "integer"
                    },
                    "permissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "action": {},
                                "principal": {},
                                "statementId": {},
                                "profileVersion": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListSigningJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-jobs"
            },
            "input": {
                "type": "structure",
                "members": {
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "platformId": {
                        "location": "querystring",
                        "locationName": "platformId"
                    },
                    "requestedBy": {
                        "location": "querystring",
                        "locationName": "requestedBy"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "isRevoked": {
                        "location": "querystring",
                        "locationName": "isRevoked",
                        "type": "boolean"
                    },
                    "signatureExpiresBefore": {
                        "location": "querystring",
                        "locationName": "signatureExpiresBefore",
                        "type": "timestamp"
                    },
                    "signatureExpiresAfter": {
                        "location": "querystring",
                        "locationName": "signatureExpiresAfter",
                        "type": "timestamp"
                    },
                    "jobInvoker": {
                        "location": "querystring",
                        "locationName": "jobInvoker"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobId": {},
                                "source": {
                                    "shape": "Sa"
                                },
                                "signedObject": {
                                    "shape": "Sw"
                                },
                                "signingMaterial": {
                                    "shape": "Sf"
                                },
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "status": {},
                                "isRevoked": {
                                    "type": "boolean"
                                },
                                "profileName": {},
                                "profileVersion": {},
                                "platformId": {},
                                "platformDisplayName": {},
                                "signatureExpiresAt": {
                                    "type": "timestamp"
                                },
                                "jobOwner": {},
                                "jobInvoker": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListSigningPlatforms": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-platforms"
            },
            "input": {
                "type": "structure",
                "members": {
                    "category": {
                        "location": "querystring",
                        "locationName": "category"
                    },
                    "partner": {
                        "location": "querystring",
                        "locationName": "partner"
                    },
                    "target": {
                        "location": "querystring",
                        "locationName": "target"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "platforms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "platformId": {},
                                "displayName": {},
                                "partner": {},
                                "target": {},
                                "category": {},
                                "signingConfiguration": {
                                    "shape": "S12"
                                },
                                "signingImageFormat": {
                                    "shape": "S17"
                                },
                                "maxSizeInMB": {
                                    "type": "integer"
                                },
                                "revocationSupported": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListSigningProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-profiles"
            },
            "input": {
                "type": "structure",
                "members": {
                    "includeCanceled": {
                        "location": "querystring",
                        "locationName": "includeCanceled",
                        "type": "boolean"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "platformId": {
                        "location": "querystring",
                        "locationName": "platformId"
                    },
                    "statuses": {
                        "location": "querystring",
                        "locationName": "statuses",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "profiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "profileName": {},
                                "profileVersion": {},
                                "profileVersionArn": {},
                                "signingMaterial": {
                                    "shape": "Sf"
                                },
                                "signatureValidityPeriod": {
                                    "shape": "S1f"
                                },
                                "platformId": {},
                                "platformDisplayName": {},
                                "signingParameters": {
                                    "shape": "So"
                                },
                                "status": {},
                                "arn": {},
                                "tags": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "PutSigningProfile": {
            "http": {
                "method": "PUT",
                "requestUri": "/signing-profiles/{profileName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileName",
                    "platformId"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    },
                    "signingMaterial": {
                        "shape": "Sf"
                    },
                    "signatureValidityPeriod": {
                        "shape": "S1f"
                    },
                    "platformId": {},
                    "overrides": {
                        "shape": "Sj"
                    },
                    "signingParameters": {
                        "shape": "So"
                    },
                    "tags": {
                        "shape": "S1k"
                    },
                    "allowedDestinations": {
                        "shape": "S23"
                    },
                    "allowedSources": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "profileVersion": {},
                    "profileVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "RemoveProfilePermission": {
            "http": {
                "method": "DELETE",
                "requestUri": "/signing-profiles/{profileName}/permissions/{statementId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "revisionId",
                    "profileName",
                    "statementId"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    },
                    "revisionId": {
                        "location": "querystring",
                        "locationName": "revisionId"
                    },
                    "statementId": {
                        "location": "uri",
                        "locationName": "statementId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "RevokeSignature": {
            "http": {
                "method": "PUT",
                "requestUri": "/signing-jobs/{jobId}/revoke"
            },
            "input": {
                "type": "structure",
                "required": [
                    "reason",
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "jobOwner": {},
                    "reason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "RevokeSigningProfile": {
            "http": {
                "method": "PUT",
                "requestUri": "/signing-profiles/{profileName}/revoke"
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileVersion",
                    "reason",
                    "effectiveTime",
                    "profileName"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    },
                    "profileVersion": {},
                    "reason": {},
                    "effectiveTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartSigningJob": {
            "http": {
                "requestUri": "/signing-jobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "source",
                    "destination",
                    "profileName",
                    "clientRequestToken"
                ],
                "members": {
                    "source": {
                        "shape": "Sa"
                    },
                    "destination": {
                        "type": "structure",
                        "members": {
                            "s3": {
                                "type": "structure",
                                "members": {
                                    "bucketName": {},
                                    "prefix": {}
                                }
                            }
                        }
                    },
                    "profileName": {},
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "profileOwner": {},
                    "signingParameters": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "jobOwner": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S1k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateSigningPlatform": {
            "http": {
                "requestUri": "/signing-platforms"
            },
            "input": {
                "type": "structure",
                "required": [
                    "displayName",
                    "partner",
                    "target",
                    "category",
                    "signingConfiguration",
                    "signingImageFormat"
                ],
                "members": {
                    "platformId": {},
                    "displayName": {},
                    "partner": {},
                    "target": {},
                    "category": {},
                    "signingConfiguration": {
                        "shape": "Sb"
                    },
                    "signingImageFormat": {
                        "shape": "Si"
                    },
                    "maxSizeInMB": {
                        "type": "integer"
                    },
                    "revocationSupported": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "platformId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KI5S6WIFNG42WIIU37BCE4B4M4LBWKXQ4UGAXMN5Z7CGA32JYDXA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HUNYYBGDSDCUZ6XOYXHE3UUVDMOCIVTRHW6R5OLSH5KVDZ7MVKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36ZOFQG4CGXCNDU74JFYZFPQ3D5MI4CORGROYMR52OOZ4QFUKN5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WTHIC4SRCHWHDZGLW464PPWUY6KL4GY4DKE3JRBJW4R3DKNLMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z2VYSVKRC3T7HMRNEIGOSUHUJ3NYG3DNIPMJIJT2J3OLV2PV4OQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYQMHB6ZZOKTT2XCT7NQPDOIZFYS4B7T72Y5XY5DRSX65XPQWM3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPFYQ6S7EO6ZPMARBEK6JSNT5CVBHQ7ZPPYWBP2LKEZRY35ESPKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UAI4UZ6H3B4LQP4LF2VXXTA3EMXLOVW7WG7I56ONNQQTSKU6MXA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NKOHPQOUVRUMWYOUXIDXM4YQU2LT5NJZ3UQ75CPLE3QBY5WNMLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js"
            ]
        },
        "DeleteCertificate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/certificates/{certificateArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "certificateArn"
                ],
                "members": {
                    "certificateArn": {
                        "location": "uri",
                        "locationName": "certificateArn"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KI5S6WIFNG42WIIU37BCE4B4M4LBWKXQ4UGAXMN5Z7CGA32JYDXA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HUNYYBGDSDCUZ6XOYXHE3UUVDMOCIVTRHW6R5OLSH5KVDZ7MVKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36ZOFQG4CGXCNDU74JFYZFPQ3D5MI4CORGROYMR52OOZ4QFUKN5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WTHIC4SRCHWHDZGLW464PPWUY6KL4GY4DKE3JRBJW4R3DKNLMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z2VYSVKRC3T7HMRNEIGOSUHUJ3NYG3DNIPMJIJT2J3OLV2PV4OQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYQMHB6ZZOKTT2XCT7NQPDOIZFYS4B7T72Y5XY5DRSX65XPQWM3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPFYQ6S7EO6ZPMARBEK6JSNT5CVBHQ7ZPPYWBP2LKEZRY35ESPKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UAI4UZ6H3B4LQP4LF2VXXTA3EMXLOVW7WG7I56ONNQQTSKU6MXA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NKOHPQOUVRUMWYOUXIDXM4YQU2LT5NJZ3UQ75CPLE3QBY5WNMLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js"
            ]
        },
        "DeleteSigningPlatform": {
            "http": {
                "method": "DELETE",
                "requestUri": "/signing-platforms/{platformId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "platformId"
                ],
                "members": {
                    "platformId": {
                        "location": "uri",
                        "locationName": "platformId"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KI5S6WIFNG42WIIU37BCE4B4M4LBWKXQ4UGAXMN5Z7CGA32JYDXA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HUNYYBGDSDCUZ6XOYXHE3UUVDMOCIVTRHW6R5OLSH5KVDZ7MVKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36ZOFQG4CGXCNDU74JFYZFPQ3D5MI4CORGROYMR52OOZ4QFUKN5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WTHIC4SRCHWHDZGLW464PPWUY6KL4GY4DKE3JRBJW4R3DKNLMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z2VYSVKRC3T7HMRNEIGOSUHUJ3NYG3DNIPMJIJT2J3OLV2PV4OQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYQMHB6ZZOKTT2XCT7NQPDOIZFYS4B7T72Y5XY5DRSX65XPQWM3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPFYQ6S7EO6ZPMARBEK6JSNT5CVBHQ7ZPPYWBP2LKEZRY35ESPKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UAI4UZ6H3B4LQP4LF2VXXTA3EMXLOVW7WG7I56ONNQQTSKU6MXA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NKOHPQOUVRUMWYOUXIDXM4YQU2LT5NJZ3UQ75CPLE3QBY5WNMLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js"
            ]
        },
        "GetCertificate": {
            "http": {
                "method": "GET",
                "requestUri": "/certificates/{certificateArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "certificateArn"
                ],
                "members": {
                    "certificateArn": {
                        "location": "uri",
                        "locationName": "certificateArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "certificateArn": {},
                    "certificate": {},
                    "certificateChain": {},
                    "csr": {},
                    "rotationAvailable": {
                        "type": "boolean"
                    },
                    "autorotateBinding": {},
                    "status": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "issuedAt": {
                        "type": "timestamp"
                    },
                    "expiresAt": {
                        "type": "timestamp"
                    },
                    "keySpec": {},
                    "signingSpec": {},
                    "commonName": {},
                    "issuerName": {},
                    "description": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KI5S6WIFNG42WIIU37BCE4B4M4LBWKXQ4UGAXMN5Z7CGA32JYDXA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HUNYYBGDSDCUZ6XOYXHE3UUVDMOCIVTRHW6R5OLSH5KVDZ7MVKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36ZOFQG4CGXCNDU74JFYZFPQ3D5MI4CORGROYMR52OOZ4QFUKN5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WTHIC4SRCHWHDZGLW464PPWUY6KL4GY4DKE3JRBJW4R3DKNLMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z2VYSVKRC3T7HMRNEIGOSUHUJ3NYG3DNIPMJIJT2J3OLV2PV4OQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYQMHB6ZZOKTT2XCT7NQPDOIZFYS4B7T72Y5XY5DRSX65XPQWM3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPFYQ6S7EO6ZPMARBEK6JSNT5CVBHQ7ZPPYWBP2LKEZRY35ESPKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UAI4UZ6H3B4LQP4LF2VXXTA3EMXLOVW7WG7I56ONNQQTSKU6MXA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NKOHPQOUVRUMWYOUXIDXM4YQU2LT5NJZ3UQ75CPLE3QBY5WNMLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js"
            ]
        },
        "GetPendingCertificate": {
            "http": {
                "method": "GET",
                "requestUri": "/certificates/{certificateArn}/pending"
            },
            "input": {
                "type": "structure",
                "required": [
                    "certificateArn"
                ],
                "members": {
                    "certificateArn": {
                        "location": "uri",
                        "locationName": "certificateArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "certificateArn": {},
                    "csr": {},
                    "status": {},
                    "keySpec": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KI5S6WIFNG42WIIU37BCE4B4M4LBWKXQ4UGAXMN5Z7CGA32JYDXA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HUNYYBGDSDCUZ6XOYXHE3UUVDMOCIVTRHW6R5OLSH5KVDZ7MVKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36ZOFQG4CGXCNDU74JFYZFPQ3D5MI4CORGROYMR52OOZ4QFUKN5Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WTHIC4SRCHWHDZGLW464PPWUY6KL4GY4DKE3JRBJW4R3DKNLMQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z2VYSVKRC3T7HMRNEIGOSUHUJ3NYG3DNIPMJIJT2J3OLV2PV4OQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYQMHB6ZZOKTT2XCT7NQPDOIZFYS4B7T72Y5XY5DRSX65XPQWM3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPFYQ6S7EO6ZPMARBEK6JSNT5CVBHQ7ZPPYWBP2LKEZRY35ESPKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UAI4UZ6H3B4LQP4LF2VXXTA3EMXLOVW7WG7I56ONNQQTSKU6MXA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NKOHPQOUVRUMWYOUXIDXM4YQU2LT5NJZ3UQ75CPLE3QBY5WNMLA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NISBKNJJYAA5OUKULOFXHS6E4FQ3O5YAGT462W2UUZFEWPUYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILZOLM55IUETM7JXGI2G5CZZMF6SVGPSCBQKD4T5ZRK23L4S6KNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVIB6A32VTBS4CEW6QYTMABIMHOPV4P4ZUXQU2M4KGD7TWMOWXEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XBG5KR5XSGIBMAMQTZZY2J2OBDMLV6I6I5WGP2WGGE3EZMSBTRA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2BS5PCC745ZFDBVUCFR5SVSZG6USUIFSUTIKDJLAIAZZJFLE3GKQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6JAV5FLGSCJJ3IX6DICYDS2UYF5R2A3ZJG3VICZ7VVXPT5RI2MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVG6SDSG3B4DWGXG3ZZ46Y4HGLHHIRIIFMQUPRZEQNW6GM6YS5DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN2NNAX2SXY4RSN4CO7YPXKEBHUJTQPKB4PS4SDYMXI5LPHP3WUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBSDH6PYA2DGMI3P7WAO7H2V54HZITG3MLOIYHFQ6UZSQJUKT5WA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H57ZCLF3GG62YYHB3Y7NWMNPW3QWHTLAQPMKRU5DL5K3GAWGKZEQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js"
            ]
        },
        "GetRevocationStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/revocations"
            },
            "input": {
                "type": "structure",
                "members": {
                    "signatureTimestamp": {
                        "location": "querystring",
[...]
