{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-08-25",
        "endpointPrefix": "signer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "signer",
        "serviceFullName": "AWS Signer",
        "serviceId": "signer",
        "signatureVersion": "v4",
        "signingName": "signer",
        "uid": "signer-2017-08-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
            "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
        ]
    },
    "operations": {
        "AddProfilePermission": {
            "http": {
                "requestUri": "/signing-profiles/{profileName}/permissions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "action",
                    "principal",
                    "statementId",
                    "profileName"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    },
                    "profileVersion": {},
                    "action": {},
                    "principal": {},
                    "revisionId": {},
                    "statementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "CancelSigningProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/signing-profiles/{profileName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileName"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "DescribeSigningJob": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-jobs/{jobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "source": {
                        "shape": "Sa"
                    },
                    "signingMaterial": {
                        "shape": "Sf"
                    },
                    "platformId": {},
                    "platformDisplayName": {},
                    "profileName": {},
                    "profileVersion": {},
                    "overrides": {
                        "shape": "Sj"
                    },
                    "signingParameters": {
                        "shape": "So"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "completedAt": {
                        "type": "timestamp"
                    },
                    "signatureExpiresAt": {
                        "type": "timestamp"
                    },
                    "requestedBy": {},
                    "status": {},
                    "statusReason": {},
                    "revocationRecord": {
                        "type": "structure",
                        "members": {
                            "reason": {},
                            "revokedAt": {
                                "type": "timestamp"
                            },
                            "revokedBy": {}
                        }
                    },
                    "signedObject": {
                        "shape": "Sw"
                    },
                    "jobOwner": {},
                    "jobInvoker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "GetSigningPlatform": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-platforms/{platformId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "platformId"
                ],
                "members": {
                    "platformId": {
                        "location": "uri",
                        "locationName": "platformId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "platformId": {},
                    "displayName": {},
                    "partner": {},
                    "target": {},
                    "category": {},
                    "signingConfiguration": {
                        "shape": "S12"
                    },
                    "signingImageFormat": {
                        "shape": "S17"
                    },
                    "maxSizeInMB": {
                        "type": "integer"
                    },
                    "revocationSupported": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "GetSigningProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-profiles/{profileName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileName"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    },
                    "profileOwner": {
                        "location": "querystring",
                        "locationName": "profileOwner"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "profileName": {},
                    "profileVersion": {},
                    "profileVersionArn": {},
                    "revocationRecord": {
                        "type": "structure",
                        "members": {
                            "revocationEffectiveFrom": {
                                "type": "timestamp"
                            },
                            "revokedAt": {
                                "type": "timestamp"
                            },
                            "revokedBy": {}
                        }
                    },
                    "signingMaterial": {
                        "shape": "Sf"
                    },
                    "platformId": {},
                    "platformDisplayName": {},
                    "signatureValidityPeriod": {
                        "shape": "S1f"
                    },
                    "overrides": {
                        "shape": "Sj"
                    },
                    "signingParameters": {
                        "shape": "So"
                    },
                    "status": {},
                    "statusReason": {},
                    "arn": {},
                    "tags": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListProfilePermissions": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-profiles/{profileName}/permissions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileName"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "revisionId": {},
                    "policySizeBytes": {
                        "type": "integer"
                    },
                    "permissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "action": {},
                                "principal": {},
                                "statementId": {},
                                "profileVersion": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListSigningJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-jobs"
            },
            "input": {
                "type": "structure",
                "members": {
                    "status": {
                        "location": "querystring",
                        "locationName": "status"
                    },
                    "platformId": {
                        "location": "querystring",
                        "locationName": "platformId"
                    },
                    "requestedBy": {
                        "location": "querystring",
                        "locationName": "requestedBy"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "isRevoked": {
                        "location": "querystring",
                        "locationName": "isRevoked",
                        "type": "boolean"
                    },
                    "signatureExpiresBefore": {
                        "location": "querystring",
                        "locationName": "signatureExpiresBefore",
                        "type": "timestamp"
                    },
                    "signatureExpiresAfter": {
                        "location": "querystring",
                        "locationName": "signatureExpiresAfter",
                        "type": "timestamp"
                    },
                    "jobInvoker": {
                        "location": "querystring",
                        "locationName": "jobInvoker"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobId": {},
                                "source": {
                                    "shape": "Sa"
                                },
                                "signedObject": {
                                    "shape": "Sw"
                                },
                                "signingMaterial": {
                                    "shape": "Sf"
                                },
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "status": {},
                                "isRevoked": {
                                    "type": "boolean"
                                },
                                "profileName": {},
                                "profileVersion": {},
                                "platformId": {},
                                "platformDisplayName": {},
                                "signatureExpiresAt": {
                                    "type": "timestamp"
                                },
                                "jobOwner": {},
                                "jobInvoker": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListSigningPlatforms": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-platforms"
            },
            "input": {
                "type": "structure",
                "members": {
                    "category": {
                        "location": "querystring",
                        "locationName": "category"
                    },
                    "partner": {
                        "location": "querystring",
                        "locationName": "partner"
                    },
                    "target": {
                        "location": "querystring",
                        "locationName": "target"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "platforms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "platformId": {},
                                "displayName": {},
                                "partner": {},
                                "target": {},
                                "category": {},
                                "signingConfiguration": {
                                    "shape": "S12"
                                },
                                "signingImageFormat": {
                                    "shape": "S17"
                                },
                                "maxSizeInMB": {
                                    "type": "integer"
                                },
                                "revocationSupported": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListSigningProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/signing-profiles"
            },
            "input": {
                "type": "structure",
                "members": {
                    "includeCanceled": {
                        "location": "querystring",
                        "locationName": "includeCanceled",
                        "type": "boolean"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "platformId": {
                        "location": "querystring",
                        "locationName": "platformId"
                    },
                    "statuses": {
                        "location": "querystring",
                        "locationName": "statuses",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "profiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "profileName": {},
                                "profileVersion": {},
                                "profileVersionArn": {},
                                "signingMaterial": {
                                    "shape": "Sf"
                                },
                                "signatureValidityPeriod": {
                                    "shape": "S1f"
                                },
                                "platformId": {},
                                "platformDisplayName": {},
                                "signingParameters": {
                                    "shape": "So"
                                },
                                "status": {},
                                "arn": {},
                                "tags": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "PutSigningProfile": {
            "http": {
                "method": "PUT",
                "requestUri": "/signing-profiles/{profileName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileName",
                    "platformId"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    },
                    "signingMaterial": {
                        "shape": "Sf"
                    },
                    "signatureValidityPeriod": {
                        "shape": "S1f"
                    },
                    "platformId": {},
                    "overrides": {
                        "shape": "Sj"
                    },
                    "signingParameters": {
                        "shape": "So"
                    },
                    "tags": {
                        "shape": "S1k"
                    },
                    "allowedDestinations": {
                        "shape": "S23"
                    },
                    "allowedSources": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "profileVersion": {},
                    "profileVersionArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "RemoveProfilePermission": {
            "http": {
                "method": "DELETE",
                "requestUri": "/signing-profiles/{profileName}/permissions/{statementId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "revisionId",
                    "profileName",
                    "statementId"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    },
                    "revisionId": {
                        "location": "querystring",
                        "locationName": "revisionId"
                    },
                    "statementId": {
                        "location": "uri",
                        "locationName": "statementId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "revisionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "RevokeSignature": {
            "http": {
                "method": "PUT",
                "requestUri": "/signing-jobs/{jobId}/revoke"
            },
            "input": {
                "type": "structure",
                "required": [
                    "reason",
                    "jobId"
                ],
                "members": {
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "jobOwner": {},
                    "reason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "RevokeSigningProfile": {
            "http": {
                "method": "PUT",
                "requestUri": "/signing-profiles/{profileName}/revoke"
            },
            "input": {
                "type": "structure",
                "required": [
                    "profileVersion",
                    "reason",
                    "effectiveTime",
                    "profileName"
                ],
                "members": {
                    "profileName": {
                        "location": "uri",
                        "locationName": "profileName"
                    },
                    "profileVersion": {},
                    "reason": {},
                    "effectiveTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "StartSigningJob": {
            "http": {
                "requestUri": "/signing-jobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "source",
                    "destination",
                    "profileName",
                    "clientRequestToken"
                ],
                "members": {
                    "source": {
                        "shape": "Sa"
                    },
                    "destination": {
                        "type": "structure",
                        "members": {
                            "s3": {
                                "type": "structure",
                                "members": {
                                    "bucketName": {},
                                    "prefix": {}
                                }
                            }
                        }
                    },
                    "profileName": {},
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "profileOwner": {},
                    "signingParameters": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "jobOwner": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S1k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://devicemanagement.us-east-1.prod.console.iot.aws.dev/static/js/devicemanagement.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js"
            ]
        },
        "CreateSigningPlatform": {
            "http": {
                "requestUri": "/signing-platforms"
            },
            "input": {
                "type": "structure",
                "required": [
                    "displayName",
                    "partner",
                    "target",
                    "category",
                    "signingConfiguration",
                    "signingImageFormat"
                ],
                "members": {
                    "platformId": {},
                    "displayName": {},
                    "partner": {},
                    "target": {},
                    "category": {},
                    "signingConfiguration": {
                        "shape": "Sb"
                    },
                    "signingImageFormat": {
                        "shape": "Si"
                    },
                    "maxSizeInMB": {
                        "type": "integer"
                    },
                    "revocationSupported": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "platformId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTEBOZPR3XYSHA6OLOMMBE3VP4ST5TBDXVAOEJKDP3WHHFSJCEYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4WK6FVEUPJLMJMV2Y5SZ6N3UFIVKDPGOUQV6NM7SPMPYJYL3RBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMOYGUDZDG662XF4QRT2RQMDHQW7VICUTY5ONFEJY5OAB7EZVH6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAL4PHQM4WPUHZLZVNS5R5ISRL5IL6CEGU5K6ETFRGUUPVQEVEYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJGJR7FE2O2HEM4OCH4VCL2EFA6AWUSHF3WVWELEMZH23XUCSRNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7JHL5XDSQJ5AFHPQNW6JWSMKBUCKLSP4LE5QQU4Q2GQDWTX5A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMNCWPGNIBXIKER3ECZYRCH4F5LQBYGMYOYD4GJJ24UDYU4SBE3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUPCRDS6KHQRWUTAIA23M4BARZWW7AU6WL6BPWDEATP3FSVQV4MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTFEAYCC3BTGCJPXK2WEMZPVLENDRVAGIU3T62GADPQMJG4XGZKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2D5S7LTKKG76GFO6ZOWBXPKBGQZVAD2UOJZUFL25MDXNPUZWPQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTKHT7NM56TM35FQHMGCQN52PR2Y3QG3XYN77VROAA3TN4BF54UA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OQYLPB4OQ4TUVR3BZBSVWFAYPSLTDEZA5PS3XJ5XOSWDAVKB3GA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNDSFLJDLNBUCWVTL3NEYCAXEYU4E7ZLMJHGJ73NWP2HA5CDNIGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJE75UXHHWVKRTKWHBLI5UHFNBGBKIJZEULHU77H7P6DQPNBRWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSI5VSHROUBBEAH5UJ3BWIPN4STGG6FIA6DA54ICVUHBBJX63KSA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js"
            ]
        },
        "DeleteCertificate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/certificates/{certificateArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "certificateArn"
                ],
                "members": {
                    "certificateArn": {
                        "location": "uri",
                        "locationName": "certificateArn"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTEBOZPR3XYSHA6OLOMMBE3VP4ST5TBDXVAOEJKDP3WHHFSJCEYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4WK6FVEUPJLMJMV2Y5SZ6N3UFIVKDPGOUQV6NM7SPMPYJYL3RBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMOYGUDZDG662XF4QRT2RQMDHQW7VICUTY5ONFEJY5OAB7EZVH6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAL4PHQM4WPUHZLZVNS5R5ISRL5IL6CEGU5K6ETFRGUUPVQEVEYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJGJR7FE2O2HEM4OCH4VCL2EFA6AWUSHF3WVWELEMZH23XUCSRNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7JHL5XDSQJ5AFHPQNW6JWSMKBUCKLSP4LE5QQU4Q2GQDWTX5A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMNCWPGNIBXIKER3ECZYRCH4F5LQBYGMYOYD4GJJ24UDYU4SBE3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUPCRDS6KHQRWUTAIA23M4BARZWW7AU6WL6BPWDEATP3FSVQV4MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTFEAYCC3BTGCJPXK2WEMZPVLENDRVAGIU3T62GADPQMJG4XGZKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2D5S7LTKKG76GFO6ZOWBXPKBGQZVAD2UOJZUFL25MDXNPUZWPQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTKHT7NM56TM35FQHMGCQN52PR2Y3QG3XYN77VROAA3TN4BF54UA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OQYLPB4OQ4TUVR3BZBSVWFAYPSLTDEZA5PS3XJ5XOSWDAVKB3GA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNDSFLJDLNBUCWVTL3NEYCAXEYU4E7ZLMJHGJ73NWP2HA5CDNIGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJE75UXHHWVKRTKWHBLI5UHFNBGBKIJZEULHU77H7P6DQPNBRWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSI5VSHROUBBEAH5UJ3BWIPN4STGG6FIA6DA54ICVUHBBJX63KSA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js"
            ]
        },
        "DeleteSigningPlatform": {
            "http": {
                "method": "DELETE",
                "requestUri": "/signing-platforms/{platformId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "platformId"
                ],
                "members": {
                    "platformId": {
                        "location": "uri",
                        "locationName": "platformId"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTEBOZPR3XYSHA6OLOMMBE3VP4ST5TBDXVAOEJKDP3WHHFSJCEYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4WK6FVEUPJLMJMV2Y5SZ6N3UFIVKDPGOUQV6NM7SPMPYJYL3RBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMOYGUDZDG662XF4QRT2RQMDHQW7VICUTY5ONFEJY5OAB7EZVH6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAL4PHQM4WPUHZLZVNS5R5ISRL5IL6CEGU5K6ETFRGUUPVQEVEYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJGJR7FE2O2HEM4OCH4VCL2EFA6AWUSHF3WVWELEMZH23XUCSRNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7JHL5XDSQJ5AFHPQNW6JWSMKBUCKLSP4LE5QQU4Q2GQDWTX5A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMNCWPGNIBXIKER3ECZYRCH4F5LQBYGMYOYD4GJJ24UDYU4SBE3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUPCRDS6KHQRWUTAIA23M4BARZWW7AU6WL6BPWDEATP3FSVQV4MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTFEAYCC3BTGCJPXK2WEMZPVLENDRVAGIU3T62GADPQMJG4XGZKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2D5S7LTKKG76GFO6ZOWBXPKBGQZVAD2UOJZUFL25MDXNPUZWPQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTKHT7NM56TM35FQHMGCQN52PR2Y3QG3XYN77VROAA3TN4BF54UA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OQYLPB4OQ4TUVR3BZBSVWFAYPSLTDEZA5PS3XJ5XOSWDAVKB3GA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNDSFLJDLNBUCWVTL3NEYCAXEYU4E7ZLMJHGJ73NWP2HA5CDNIGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJE75UXHHWVKRTKWHBLI5UHFNBGBKIJZEULHU77H7P6DQPNBRWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSI5VSHROUBBEAH5UJ3BWIPN4STGG6FIA6DA54ICVUHBBJX63KSA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js"
            ]
        },
        "GetCertificate": {
            "http": {
                "method": "GET",
                "requestUri": "/certificates/{certificateArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "certificateArn"
                ],
                "members": {
                    "certificateArn": {
                        "location": "uri",
                        "locationName": "certificateArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "certificateArn": {},
                    "certificate": {},
                    "certificateChain": {},
                    "csr": {},
                    "rotationAvailable": {
                        "type": "boolean"
                    },
                    "autorotateBinding": {},
                    "status": {},
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "issuedAt": {
                        "type": "timestamp"
                    },
                    "expiresAt": {
                        "type": "timestamp"
                    },
                    "keySpec": {},
                    "signingSpec": {},
                    "commonName": {},
                    "issuerName": {},
                    "description": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTEBOZPR3XYSHA6OLOMMBE3VP4ST5TBDXVAOEJKDP3WHHFSJCEYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4WK6FVEUPJLMJMV2Y5SZ6N3UFIVKDPGOUQV6NM7SPMPYJYL3RBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMOYGUDZDG662XF4QRT2RQMDHQW7VICUTY5ONFEJY5OAB7EZVH6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAL4PHQM4WPUHZLZVNS5R5ISRL5IL6CEGU5K6ETFRGUUPVQEVEYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJGJR7FE2O2HEM4OCH4VCL2EFA6AWUSHF3WVWELEMZH23XUCSRNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7JHL5XDSQJ5AFHPQNW6JWSMKBUCKLSP4LE5QQU4Q2GQDWTX5A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMNCWPGNIBXIKER3ECZYRCH4F5LQBYGMYOYD4GJJ24UDYU4SBE3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUPCRDS6KHQRWUTAIA23M4BARZWW7AU6WL6BPWDEATP3FSVQV4MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTFEAYCC3BTGCJPXK2WEMZPVLENDRVAGIU3T62GADPQMJG4XGZKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2D5S7LTKKG76GFO6ZOWBXPKBGQZVAD2UOJZUFL25MDXNPUZWPQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTKHT7NM56TM35FQHMGCQN52PR2Y3QG3XYN77VROAA3TN4BF54UA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OQYLPB4OQ4TUVR3BZBSVWFAYPSLTDEZA5PS3XJ5XOSWDAVKB3GA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNDSFLJDLNBUCWVTL3NEYCAXEYU4E7ZLMJHGJ73NWP2HA5CDNIGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJE75UXHHWVKRTKWHBLI5UHFNBGBKIJZEULHU77H7P6DQPNBRWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSI5VSHROUBBEAH5UJ3BWIPN4STGG6FIA6DA54ICVUHBBJX63KSA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js"
            ]
        },
        "GetPendingCertificate": {
            "http": {
                "method": "GET",
                "requestUri": "/certificates/{certificateArn}/pending"
            },
            "input": {
                "type": "structure",
                "required": [
                    "certificateArn"
                ],
                "members": {
                    "certificateArn": {
                        "location": "uri",
                        "locationName": "certificateArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "certificateArn": {},
                    "csr": {},
                    "status": {},
                    "keySpec": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTEBOZPR3XYSHA6OLOMMBE3VP4ST5TBDXVAOEJKDP3WHHFSJCEYA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4WK6FVEUPJLMJMV2Y5SZ6N3UFIVKDPGOUQV6NM7SPMPYJYL3RBA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMOYGUDZDG662XF4QRT2RQMDHQW7VICUTY5ONFEJY5OAB7EZVH6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAL4PHQM4WPUHZLZVNS5R5ISRL5IL6CEGU5K6ETFRGUUPVQEVEYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJGJR7FE2O2HEM4OCH4VCL2EFA6AWUSHF3WVWELEMZH23XUCSRNA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDS7JHL5XDSQJ5AFHPQNW6JWSMKBUCKLSP4LE5QQU4Q2GQDWTX5A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMNCWPGNIBXIKER3ECZYRCH4F5LQBYGMYOYD4GJJ24UDYU4SBE3Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUPCRDS6KHQRWUTAIA23M4BARZWW7AU6WL6BPWDEATP3FSVQV4MQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WIO67JGUPRJMUBCEKE2H5RLSKTJQ6O6TUCXZIIYYYFR5NQI46IQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTFEAYCC3BTGCJPXK2WEMZPVLENDRVAGIU3T62GADPQMJG4XGZKA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2D5S7LTKKG76GFO6ZOWBXPKBGQZVAD2UOJZUFL25MDXNPUZWPQQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTKHT7NM56TM35FQHMGCQN52PR2Y3QG3XYN77VROAA3TN4BF54UA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OQYLPB4OQ4TUVR3BZBSVWFAYPSLTDEZA5PS3XJ5XOSWDAVKB3GA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNDSFLJDLNBUCWVTL3NEYCAXEYU4E7ZLMJHGJ73NWP2HA5CDNIGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJE75UXHHWVKRTKWHBLI5UHFNBGBKIJZEULHU77H7P6DQPNBRWQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSI5VSHROUBBEAH5UJ3BWIPN4STGG6FIA6DA54ICVUHBBJX63KSA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUZCHT33I37XCDL4XDLVZJDOMS4KQG6WCIMPVIWVVFKV5PDWOYUA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXPYVPVSRT24HHOJPX4MVQGJBC7B4UWDYK2U3FVTL42TV3TYL5RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7NMBO7FDT4TBRFHHHKHK3JRTX5KDGX2C7KFVWTDIFHNBYSEVATA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XQZNYW47H4G7KFDRVRMYTC6WZT6JGHSNB5XD62NDYUB5JXZCGAA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBJA36ZCPUDVYLR5RRRYX4BXHTA5UZFCS344A2ICXVR67332UAZA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KDKW6AYZ5GHYW4G57P7UAUQ7IYYJXCQI7KV5XOMCLX4G4NRJ2EQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7RUYJJEZTBVAZSKSWPF5E6UJDE3W345UVANI6KLFW5TUXTGLAYQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY3JXRNQMC3OWLBQQCG6D3WBN356BLMDFPVFMZDHWLARXVUIMNIA/app.js"
            ]
        },
        "GetRevocationStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/revocations"
            },
            "input": {
                "type": "structure",
                "members": {
[...]
