{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-07-26",
        "endpointPrefix": "signin",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Sign In Setup",
        "serviceId": "signin",
        "signatureVersion": "v4",
        "signingName": "signin",
        "targetPrefix": "AWSIDSigninControlPlane",
        "uid": "signin-2022-07-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AR4SVFOPWDVKKIC3YO2NLCWBBDYNITMOL2YZNJWLMYAJ3HQX7Q5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVJZTDZKIX7NEVTGEAOJUXJ7KA5R3XGRY5VE25KLQ2Q2WZ5FVSLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IG7JDGUZKOBJZMSIXAMNTKOWHNLDWL6EW5URHICXMROWYSVVWV3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LM52Y5ILEXQLCXBEIKRZ6IHHCL5KALFYJ24YPUF26V7QIL6QGMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P3K5FLIZCV5ZFQ5ZLT3OYHTVVZN5OYOHKPEICFRRVQVRF4224TQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWE4DTHUQFRZHFOMVAQRU7NMV2PXKSOKRWM3VEVQSI74VPLIWRUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H735WC24J4VTSX2LVRUPN27FKQSTFRRL6ATUPOX5TNRIF354VH5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IONMTEGBLQLLZGZO6SKVR2ZGYM5JSRPDQYV7XJHZ55PET27K5QYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALOLFFOCSB5VGUXHMG7T75VE4WCHU325TKR426KDHBSRSN3G5BAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53PSUXK6R5SVBFM3DCGUEGVIARUJKROIRXT7C2NDKTO4MDLR5DIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5F72RGFAUTV6VGZZKM536FXSPS5A5SCDFZVQQHB6U2UGNGRBYUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3IWDFR3TJKDP2W4KWGAPZQ37YJK5ZSRDCYGCWCM7GXL7XYEQQ3JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4RMM3VK5MGZD7YB7VDLXYUJKMRWAIBX6AHWUKU4ZOVNFB7SXBXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ENX5UY4NQBYJDTEVGMTXCVX3WBDHD26J7ZCINPAOLEX3J56262XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBRPDXDY7HSJXTWIKSMQWBB7TRFJXOTMWS2VUWTVLYUQJFHQ2KVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGYNN7MJ2QZ6AF6PJKHTUO5IUDG6YOUXQOVE537M2E65JWYE3C7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TIR7FS3YFT5S47CSB3ZNELD7Z54723YCMUIREI7ZYEI377JPFXMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js"
        ]
    },
    "operations": {
        "CreateTrustedIdentityPropagationApplicationForConsole": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceArn"
                ],
                "members": {
                    "instanceArn": {},
                    "identityCenterInstanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationArn"
                ],
                "members": {
                    "applicationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVJZTDZKIX7NEVTGEAOJUXJ7KA5R3XGRY5VE25KLQ2Q2WZ5FVSLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG7JDGUZKOBJZMSIXAMNTKOWHNLDWL6EW5URHICXMROWYSVVWV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LM52Y5ILEXQLCXBEIKRZ6IHHCL5KALFYJ24YPUF26V7QIL6QGMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3K5FLIZCV5ZFQ5ZLT3OYHTVVZN5OYOHKPEICFRRVQVRF4224TQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWE4DTHUQFRZHFOMVAQRU7NMV2PXKSOKRWM3VEVQSI74VPLIWRUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H735WC24J4VTSX2LVRUPN27FKQSTFRRL6ATUPOX5TNRIF354VH5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IONMTEGBLQLLZGZO6SKVR2ZGYM5JSRPDQYV7XJHZ55PET27K5QYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALOLFFOCSB5VGUXHMG7T75VE4WCHU325TKR426KDHBSRSN3G5BAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53PSUXK6R5SVBFM3DCGUEGVIARUJKROIRXT7C2NDKTO4MDLR5DIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5F72RGFAUTV6VGZZKM536FXSPS5A5SCDFZVQQHB6U2UGNGRBYUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IWDFR3TJKDP2W4KWGAPZQ37YJK5ZSRDCYGCWCM7GXL7XYEQQ3JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4RMM3VK5MGZD7YB7VDLXYUJKMRWAIBX6AHWUKU4ZOVNFB7SXBXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENX5UY4NQBYJDTEVGMTXCVX3WBDHD26J7ZCINPAOLEX3J56262XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBRPDXDY7HSJXTWIKSMQWBB7TRFJXOTMWS2VUWTVLYUQJFHQ2KVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGYNN7MJ2QZ6AF6PJKHTUO5IUDG6YOUXQOVE537M2E65JWYE3C7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIR7FS3YFT5S47CSB3ZNELD7Z54723YCMUIREI7ZYEI377JPFXMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js"
            ]
        },
        "ListTrustedIdentityPropagationApplicationsForConsole": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceArn"
                ],
                "members": {
                    "instanceArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "identityCenterInstanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationArns"
                ],
                "members": {
                    "applicationArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVJZTDZKIX7NEVTGEAOJUXJ7KA5R3XGRY5VE25KLQ2Q2WZ5FVSLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG7JDGUZKOBJZMSIXAMNTKOWHNLDWL6EW5URHICXMROWYSVVWV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LM52Y5ILEXQLCXBEIKRZ6IHHCL5KALFYJ24YPUF26V7QIL6QGMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3K5FLIZCV5ZFQ5ZLT3OYHTVVZN5OYOHKPEICFRRVQVRF4224TQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWE4DTHUQFRZHFOMVAQRU7NMV2PXKSOKRWM3VEVQSI74VPLIWRUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H735WC24J4VTSX2LVRUPN27FKQSTFRRL6ATUPOX5TNRIF354VH5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IONMTEGBLQLLZGZO6SKVR2ZGYM5JSRPDQYV7XJHZ55PET27K5QYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALOLFFOCSB5VGUXHMG7T75VE4WCHU325TKR426KDHBSRSN3G5BAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53PSUXK6R5SVBFM3DCGUEGVIARUJKROIRXT7C2NDKTO4MDLR5DIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5F72RGFAUTV6VGZZKM536FXSPS5A5SCDFZVQQHB6U2UGNGRBYUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IWDFR3TJKDP2W4KWGAPZQ37YJK5ZSRDCYGCWCM7GXL7XYEQQ3JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4RMM3VK5MGZD7YB7VDLXYUJKMRWAIBX6AHWUKU4ZOVNFB7SXBXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENX5UY4NQBYJDTEVGMTXCVX3WBDHD26J7ZCINPAOLEX3J56262XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBRPDXDY7HSJXTWIKSMQWBB7TRFJXOTMWS2VUWTVLYUQJFHQ2KVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGYNN7MJ2QZ6AF6PJKHTUO5IUDG6YOUXQOVE537M2E65JWYE3C7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIR7FS3YFT5S47CSB3ZNELD7Z54723YCMUIREI7ZYEI377JPFXMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPGRIR53HSMRNVF7P6MOQRHBDXD3WSO2KFH2HHOWXVBQSU72W3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTOUFPNNCJ3MWMYHZPDTD5FX6QUJESPBXFMYYY2O3T57NSLQF5FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU2JNI47FIB3IT2B6YQWADO2WMVITBJICC2T4TIKSENRXNFLBTPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKFMG3GLDTIUVZVLAHMSYPWV5SRBELKG6QZCUH4NBNLR6QYDFLTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEEUM5G4ZMDQRYLWPKML45ZEJ5ETG2PXYBIMLJ7OTK67FT6P5IBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTSO47UHEFONEEIGJOO5U6BPUANTTBF62FMZXGMH3V5SIEIT7JIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64J5CKDTCWJB5LJYAOTRXF3YFZL3JGKC6RPDWLYYNNPQZZEB7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js"
            ]
        }
    },
    "shapes": {}
}