{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-07-26",
        "endpointPrefix": "signin",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Sign In Setup",
        "serviceId": "signin",
        "signatureVersion": "v4",
        "signingName": "signin",
        "targetPrefix": "AWSIDSigninControlPlane",
        "uid": "signin-2022-07-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js"
        ]
    },
    "operations": {
        "CreateTrustedIdentityPropagationApplicationForConsole": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceArn"
                ],
                "members": {
                    "instanceArn": {},
                    "identityCenterInstanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationArn"
                ],
                "members": {
                    "applicationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js"
            ]
        },
        "ListTrustedIdentityPropagationApplicationsForConsole": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceArn"
                ],
                "members": {
                    "instanceArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "identityCenterInstanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationArns"
                ],
                "members": {
                    "applicationArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBEBELJZSOJHEWBRWEVKF75EHQGATZNWRBDTBINCIFCVMIOJM4SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVGTMNCFX6B5LJ7FD4XS25JCMMMIISHMYR6Q5G6Q2HVC77ZSSBRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TUQUGPUQEOFLWKZOKKGTHOGHHHUTDISNEWTCX2AMU5VKAPUZF2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQ2VYEIFQ7NQCGGUKPXHWZAGPNHYPPJUZBCTZRBFZJJCESTRDI3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3V7EVK3L2DYIG6JURRHJDASORVEBGFY57BQ53AFEP7JXNUL2K4DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEKD3LFKVLB2TIZG4H4OPMDTMHJZ5O7FTQ23SFGGROBRSHJOLEVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FP7HHGB7XXY5QSWWAWJBAQ6S4XJQJQRWNNOYVXROPMOFF5HQVZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFKBDG65NMXHHPA743NHWXTMIV7ZE5HLFN73EE3FQBEFCFGEC6XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGXKVZ3LOK6OSBRPZQLCWWWENJAXAEBEDVBB3DDARGWA543FQ4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYMJSOJZSFQOPYFWHQE72T65KXD27QEIYYS2D7GI4WZ5Q3RD5CSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXPDBKPNCELNOMBM3IY2LXZ5QUNLV2OYZXRB67P4TKS2R6CM6M6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELAEOO6MCGGCR5BX3KOFZ4GNI2WQGKP6VYMPGQFXNB7W4JYA7B5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VURU7PIYCOH7CXZUJKJZHSX4OO2RYMZATMVEACKDMHT32ENAE7GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYQOYNGGEE5FSV6OCH3RWMTNMIPJSRLWRNF7IHAWT4N26T4XFT6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js"
            ]
        }
    },
    "shapes": {}
}