{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "skylens",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWSWesleySkylensLambda",
        "serviceFullName": "EKS Skylens Service",
        "serviceId": "EKS Skylens",
        "signatureVersion": "v4",
        "signingName": "eks-skylens",
        "uid": "skylens-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKMVBA6J5QN2NM5KTEQIKFHANHZTRY7XR2B6L6H4M2CUK5AW2BEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DPBATKH3YNT2G6OQPG4I4O7VZIICOWTPJ2BHBGDXL2R3Q4X4I6YA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5T4DFZNDWSCTPHDQPRCHNIMD7GQ4AB2MQDPANW6STM5B5BUWNLIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KUWZ5OGNRP365B4EHK7EFRX6EWAI4JQOUNZLIO22GKVXZTQYPSGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KR6XMFEX3ASFTRJBQGKI7ATBC6VZUBR7FVOXLKRBHN5WII5Z7FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2X3UBGDS3G63G73TMOCBOUOSD6PISPPPKGIMVIPURD5U3N6D5COA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2IEMUD6WKSUYU54XHAG2J6OLRQSRFKCFNTR4BJ7DNEZL45XEQ6FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IAMQKYCGPMWNIBDWPYUUFVJP2TOFSXWLGVFJMKJRZFAXVLDCVSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOFZXHMNVIFK5YBCMNPQEGWJ44KASIN26RQL7NEA366V5MO5DBLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BTHQ4MXGZZCC6F6VEDE3LR66CDI2TGQ64FNVOGYRT4ZVZ5PJKLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VECWKN27ETEX6XFRPPTGYR7VGP4QKLC6GXHTTIOMYH3OCNVOXIYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHXWO5A42KYN4SMG6YMBBSJVATUDNP3P456XS2R6DAJIIE4B6CBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7EOOWW75WHJGB5ORCIUJ73Y7VSRSEF5WU54H2IDKF66BXXF4UVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSBRWRGEQVG45HSS3DFDME2HOCYSVM5ESXSGEWYHL3IWCIC6QWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPRBBWFNKOJI7JVPRWNDLOTE3PUH635TZZB3PNN4ZUFVGWOBRAGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5H5ONLT7N65GA5SLELWECZHNDELLFNXFR6DIIEWSVORDPZFGJLLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RGIGBR7UGEJOU7QCAIAGIA3PRRYLCVECP5VO3NNXFEPEFIJI2DOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YVNSCH3LQNMBL6DKAIJEJFV25NAM2HV6J7DI3WMETQGT6O2YVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js"
        ]
    },
    "operations": {
        "AccessKubernetesApi": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/k8sapi/{k8sapi+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "k8sapi"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "k8sapi": {
                        "location": "uri",
                        "locationName": "k8sapi"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "continue": {
                        "location": "querystring",
                        "locationName": "continue"
                    },
                    "fieldSelector": {
                        "location": "querystring",
                        "locationName": "fieldSelector"
                    },
                    "labelSelector": {
                        "location": "querystring",
                        "locationName": "labelSelector"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "k8sobj": {
                        "type": "structure",
                        "members": {},
                        "document": true
                    }
                },
                "payload": "k8sobj"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPBATKH3YNT2G6OQPG4I4O7VZIICOWTPJ2BHBGDXL2R3Q4X4I6YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T4DFZNDWSCTPHDQPRCHNIMD7GQ4AB2MQDPANW6STM5B5BUWNLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUWZ5OGNRP365B4EHK7EFRX6EWAI4JQOUNZLIO22GKVXZTQYPSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KR6XMFEX3ASFTRJBQGKI7ATBC6VZUBR7FVOXLKRBHN5WII5Z7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2X3UBGDS3G63G73TMOCBOUOSD6PISPPPKGIMVIPURD5U3N6D5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IEMUD6WKSUYU54XHAG2J6OLRQSRFKCFNTR4BJ7DNEZL45XEQ6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAMQKYCGPMWNIBDWPYUUFVJP2TOFSXWLGVFJMKJRZFAXVLDCVSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOFZXHMNVIFK5YBCMNPQEGWJ44KASIN26RQL7NEA366V5MO5DBLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BTHQ4MXGZZCC6F6VEDE3LR66CDI2TGQ64FNVOGYRT4ZVZ5PJKLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VECWKN27ETEX6XFRPPTGYR7VGP4QKLC6GXHTTIOMYH3OCNVOXIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4ICZLRA4DDBTR47ZVSEHXTJ76WUS4R3VWY7UHQJI25HQ7NC5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHXWO5A42KYN4SMG6YMBBSJVATUDNP3P456XS2R6DAJIIE4B6CBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHDKHHZOXLAJCRIYUQ67SU6BCO7GML7DIL2DLE5UOY7M7QSGJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7EOOWW75WHJGB5ORCIUJ73Y7VSRSEF5WU54H2IDKF66BXXF4UVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NQEZWRE4K7PR2R2V363ZDOP2EY6I5QS6QQII2FB55HNYQ27JINA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSBRWRGEQVG45HSS3DFDME2HOCYSVM5ESXSGEWYHL3IWCIC6QWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPRBBWFNKOJI7JVPRWNDLOTE3PUH635TZZB3PNN4ZUFVGWOBRAGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5H5ONLT7N65GA5SLELWECZHNDELLFNXFR6DIIEWSVORDPZFGJLLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGIGBR7UGEJOU7QCAIAGIA3PRRYLCVECP5VO3NNXFEPEFIJI2DOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YVNSCH3LQNMBL6DKAIJEJFV25NAM2HV6J7DI3WMETQGT6O2YVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77YJSW7P6HZLUHXDLB6ZPXNNUOZCM6GE2UB4R6KTMDX65ZHAO3OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FY2JD55A74JXN5ENDZBTJFGZS6KVCX7OWA3WRRFSX2ZSBFHTIBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUZJS7SFRAMRXY6CCONW3HFBHN4MBIBKLZ5M3RR33RCD5R3WABBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT5DLG6VOYY2VBLNWGNWIMIDVG74QJKP6PIJYCW2APQWRSZXQENA/vendors.js"
            ]
        }
    },
    "shapes": {}
}