{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "skylens",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWSWesleySkylensLambda",
        "serviceFullName": "EKS Skylens Service",
        "serviceId": "EKS Skylens",
        "signatureVersion": "v4",
        "signingName": "eks-skylens",
        "uid": "skylens-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MUTHKNHRZ44VWS2ZSCVUQJSBLYAWW7U5YAWTB6M76JQP2TBMZ7CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S42MGXJEV4FB3TTCGPDAYWXW7D35VDD2LYWU76LJBAJRDHJXCYAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IZKI5V2INOSLHS7R3B36JYGTZHBR5F6T3NRI5ZJOVV3YHMOCWAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7Q6TOGFFWEYR4ZUDDXFOCDILYWROYEDBMRZKCRUSUZQVCGKWKNVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UD46XDAPMWNGWTN2JJLGNNFXMSELOIYWCT6GLLX3WTLSYQUYBMGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L7XJSCZMCYZH5376G4LRVC7BAVIZWKFAMKOMORZUUYES6CLNQPFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D5BKL5VCBCYH2UTXWIFXCEKGCHP5VNRSQE3LWC2H7DUHNHGNWAYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3PCO6A3TC2ZBXZB2FV5JJ3G7AFJAWUVNMSNAWN6CC7NXPZZSQYUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IG7QZRBKNOC5RMYD6BLNTHK5C6QXGVWDOYJA6C6IEHPDFTD2RQBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HB5PI4FMBCL4CDIPA37BIKD4IWKSFG25XT7MZAN2QJFKQ5TC7SLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGAF5NDISPPWG345XACFOP47R2MEVMCW4CBXCDW2LPCGPAIQ5HVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VQACXEJ7GE7F3PWMSROAWEHMSO4YOW7BKGJX6LRQZR4BOJ5MQYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUUQGAPRO4VZ2ACXKUFADAMSVQW4MA4NBHN2WK7MLWKU2G6P2EBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNW3RYIT4QZKAIZEA6BREYK4RUJ3PDNA5EQQ6ATYUL3HJJOEG3AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YNWR74RNOK2CVQAPG54NOSW45CECD6KWSTVHAE33XYY3LRS3NB2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PP4UMPEP64REEUWXYDSJFSF5PGZFUBKW2D7YXCFWRJYD7EVJK6MA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TKVGR3AFHZUXARRMLB3RK7OCYALZVH5CKJZ3W53SXBWOVABLBPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NHEXZ3DEAGPMKNM6WSLWODXLIRFWNMB6CHY2Y6ITGFKX7VTR5B3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
        ]
    },
    "operations": {
        "AccessKubernetesApi": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/k8sapi/{k8sapi+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "k8sapi"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "k8sapi": {
                        "location": "uri",
                        "locationName": "k8sapi"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "continue": {
                        "location": "querystring",
                        "locationName": "continue"
                    },
                    "fieldSelector": {
                        "location": "querystring",
                        "locationName": "fieldSelector"
                    },
                    "labelSelector": {
                        "location": "querystring",
                        "locationName": "labelSelector"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "k8sobj": {
                        "type": "structure",
                        "members": {},
                        "document": true
                    }
                },
                "payload": "k8sobj"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S42MGXJEV4FB3TTCGPDAYWXW7D35VDD2LYWU76LJBAJRDHJXCYAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IZKI5V2INOSLHS7R3B36JYGTZHBR5F6T3NRI5ZJOVV3YHMOCWAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Q6TOGFFWEYR4ZUDDXFOCDILYWROYEDBMRZKCRUSUZQVCGKWKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UD46XDAPMWNGWTN2JJLGNNFXMSELOIYWCT6GLLX3WTLSYQUYBMGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L7XJSCZMCYZH5376G4LRVC7BAVIZWKFAMKOMORZUUYES6CLNQPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5BKL5VCBCYH2UTXWIFXCEKGCHP5VNRSQE3LWC2H7DUHNHGNWAYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3PCO6A3TC2ZBXZB2FV5JJ3G7AFJAWUVNMSNAWN6CC7NXPZZSQYUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG7QZRBKNOC5RMYD6BLNTHK5C6QXGVWDOYJA6C6IEHPDFTD2RQBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB5PI4FMBCL4CDIPA37BIKD4IWKSFG25XT7MZAN2QJFKQ5TC7SLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGAF5NDISPPWG345XACFOP47R2MEVMCW4CBXCDW2LPCGPAIQ5HVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VQACXEJ7GE7F3PWMSROAWEHMSO4YOW7BKGJX6LRQZR4BOJ5MQYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUUQGAPRO4VZ2ACXKUFADAMSVQW4MA4NBHN2WK7MLWKU2G6P2EBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNW3RYIT4QZKAIZEA6BREYK4RUJ3PDNA5EQQ6ATYUL3HJJOEG3AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNWR74RNOK2CVQAPG54NOSW45CECD6KWSTVHAE33XYY3LRS3NB2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP4UMPEP64REEUWXYDSJFSF5PGZFUBKW2D7YXCFWRJYD7EVJK6MA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TKVGR3AFHZUXARRMLB3RK7OCYALZVH5CKJZ3W53SXBWOVABLBPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHEXZ3DEAGPMKNM6WSLWODXLIRFWNMB6CHY2Y6ITGFKX7VTR5B3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZJJJOHNOE2HYBYOYGQJDMGM42GFJJZ4IHS5ZPCQ5ZDEN5TH44LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2WOYD7PYRNO762XBJEBLNHWWTY44CUBGIMTND3DJQR43SY7QDPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJ532RIGMXZWOC6AUIYY3XUFFOTRSWTNK7A6OTJCN3MNRMIOB52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        }
    },
    "shapes": {}
}