{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "skylens",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWSWesleySkylensLambda",
        "serviceFullName": "EKS Skylens Service",
        "serviceId": "EKS Skylens",
        "signatureVersion": "v4",
        "signingName": "eks-skylens",
        "uid": "skylens-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQOUNJ47HNTDTCTMR442C7W2MR5ENYR3WTMNHJPHYL6GYQQ6SYDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DY6KUXHKN3WUR4C4XL3ZU66HKVE5CQK5UOEHAIVW2F47E6KOP7JQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWR6DSU2QO7JCKRC7SXF7PIAUS2CAVMPJM5TTKLSZQEKP25DGS4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PP5YFR2HSCRCBISIY7NKF7UQWTA27CJPA46HC32WRSAZOQWCQ5OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2ZQHCOZA3353BM7ZZEOVVUKQU67I3CZRCBARRTJGNJXZUBVKMGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2P7DPUDAKUMVQIYOL2GHV2ONUXJ2KTJNZ2ZMSNESGEYDKXX26KFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGDHI7O3UZBYZH33E7KVO43REWGRWGWWGT3K7U2AIMXZ54CFE3WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXBG6PFEWI2FAIM7KOG7USHR4XFLMQJFOTLIBPFSPCY5A7BMOUYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKIA7U7PFTW2AFJ5R6OYPMACXISHUZUXHHOKKQZIENFOCLATO24Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JFBPVQHJDZRYP5RKSAQF5G62QC4YLLVRICA5R4SYWTRMNPOAILZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/STB7MWO7OYKTSS36RVI4FWW3WDRTFWRP3KWE7DNZ446JZ52RPMDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2QLOBF4CUXSPN2WIW6YT5RC7V65XB2GIPVHZXBWKNUMXL527MCBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TGYAUCP6RI6VZHASX6TSMFGXCACEIU4PDU2CCTMIV3WM7C2FSHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VPCZDCG5EKDUAWGHZU4DAF4NVF757QRI6IMITCFFQYJCZ5RMDIBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRU27QJRTZBPI5TLM7KSQ2TBWISU6GE5MZA2735HVWGU6FACKDZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TSOOJY5FIGPLADOOYY5OP6SACFHIKGO4K6KHQEBJGGY7RJER6KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S6ZCTKAWVJYHU236YXBSIO4ZZ6SE43OP5HRU3TSHCOMB2KQDQ4FA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJGDLNRZ6ARN5OKTIETPW22BT3FXPB7FZTRVVBUL3MYA5UY2H22Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKMVBA6J5QN2NM5KTEQIKFHANHZTRY7XR2B6L6H4M2CUK5AW2BEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DPBATKH3YNT2G6OQPG4I4O7VZIICOWTPJ2BHBGDXL2R3Q4X4I6YA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5T4DFZNDWSCTPHDQPRCHNIMD7GQ4AB2MQDPANW6STM5B5BUWNLIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KUWZ5OGNRP365B4EHK7EFRX6EWAI4JQOUNZLIO22GKVXZTQYPSGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KR6XMFEX3ASFTRJBQGKI7ATBC6VZUBR7FVOXLKRBHN5WII5Z7FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2X3UBGDS3G63G73TMOCBOUOSD6PISPPPKGIMVIPURD5U3N6D5COA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2IEMUD6WKSUYU54XHAG2J6OLRQSRFKCFNTR4BJ7DNEZL45XEQ6FA/vendors.js"
        ]
    },
    "operations": {
        "AccessKubernetesApi": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/k8sapi/{k8sapi+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "k8sapi"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "k8sapi": {
                        "location": "uri",
                        "locationName": "k8sapi"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "continue": {
                        "location": "querystring",
                        "locationName": "continue"
                    },
                    "fieldSelector": {
                        "location": "querystring",
                        "locationName": "fieldSelector"
                    },
                    "labelSelector": {
                        "location": "querystring",
                        "locationName": "labelSelector"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "k8sobj": {
                        "type": "structure",
                        "members": {},
                        "document": true
                    }
                },
                "payload": "k8sobj"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DY6KUXHKN3WUR4C4XL3ZU66HKVE5CQK5UOEHAIVW2F47E6KOP7JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWR6DSU2QO7JCKRC7SXF7PIAUS2CAVMPJM5TTKLSZQEKP25DGS4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP5YFR2HSCRCBISIY7NKF7UQWTA27CJPA46HC32WRSAZOQWCQ5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2ZQHCOZA3353BM7ZZEOVVUKQU67I3CZRCBARRTJGNJXZUBVKMGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2P7DPUDAKUMVQIYOL2GHV2ONUXJ2KTJNZ2ZMSNESGEYDKXX26KFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGDHI7O3UZBYZH33E7KVO43REWGRWGWWGT3K7U2AIMXZ54CFE3WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBG6PFEWI2FAIM7KOG7USHR4XFLMQJFOTLIBPFSPCY5A7BMOUYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKIA7U7PFTW2AFJ5R6OYPMACXISHUZUXHHOKKQZIENFOCLATO24Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFBPVQHJDZRYP5RKSAQF5G62QC4YLLVRICA5R4SYWTRMNPOAILZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STB7MWO7OYKTSS36RVI4FWW3WDRTFWRP3KWE7DNZ446JZ52RPMDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QLOBF4CUXSPN2WIW6YT5RC7V65XB2GIPVHZXBWKNUMXL527MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TGYAUCP6RI6VZHASX6TSMFGXCACEIU4PDU2CCTMIV3WM7C2FSHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCZDCG5EKDUAWGHZU4DAF4NVF757QRI6IMITCFFQYJCZ5RMDIBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRU27QJRTZBPI5TLM7KSQ2TBWISU6GE5MZA2735HVWGU6FACKDZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TSOOJY5FIGPLADOOYY5OP6SACFHIKGO4K6KHQEBJGGY7RJER6KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6ZCTKAWVJYHU236YXBSIO4ZZ6SE43OP5HRU3TSHCOMB2KQDQ4FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJGDLNRZ6ARN5OKTIETPW22BT3FXPB7FZTRVVBUL3MYA5UY2H22Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKMVBA6J5QN2NM5KTEQIKFHANHZTRY7XR2B6L6H4M2CUK5AW2BEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPBATKH3YNT2G6OQPG4I4O7VZIICOWTPJ2BHBGDXL2R3Q4X4I6YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5T4DFZNDWSCTPHDQPRCHNIMD7GQ4AB2MQDPANW6STM5B5BUWNLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUWZ5OGNRP365B4EHK7EFRX6EWAI4JQOUNZLIO22GKVXZTQYPSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KR6XMFEX3ASFTRJBQGKI7ATBC6VZUBR7FVOXLKRBHN5WII5Z7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2X3UBGDS3G63G73TMOCBOUOSD6PISPPPKGIMVIPURD5U3N6D5COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IEMUD6WKSUYU54XHAG2J6OLRQSRFKCFNTR4BJ7DNEZL45XEQ6FA/vendors.js"
            ]
        }
    },
    "shapes": {}
}