{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "skylens",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWSWesleySkylensLambda",
        "serviceFullName": "EKS Skylens Service",
        "serviceId": "EKS Skylens",
        "signatureVersion": "v4",
        "signingName": "eks-skylens",
        "uid": "skylens-2017-07-25",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
            "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
        ]
    },
    "operations": {
        "AccessKubernetesApi": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/k8sapi/{k8sapi+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "k8sapi"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "k8sapi": {
                        "location": "uri",
                        "locationName": "k8sapi"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "continue": {
                        "location": "querystring",
                        "locationName": "continue"
                    },
                    "fieldSelector": {
                        "location": "querystring",
                        "locationName": "fieldSelector"
                    },
                    "labelSelector": {
                        "location": "querystring",
                        "locationName": "labelSelector"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "k8sobj": {
                        "type": "structure",
                        "members": {},
                        "document": true
                    }
                },
                "payload": "k8sobj"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NM4FF5FMFUJ3ETNAWJV3SIABFMWUVB2FK7ECXEZSH3L3T7FJEBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOD6Y6EVDL555JKQG7MI5JV6S6JU425JJHD634PAOKRP55GAAI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUQMN3P55B33YCC43LVFY6ZGPKIVJPMWKDB5DQRRC4YBIJVOI3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXDEFSV5EFMKKMETDSGJQHM3HA5CHPBY2YUWXI4MFKAOTOR6MZHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYZH7ABXXISSOFJ33UJNQR33WVE6LRYV3OHJPAGTIIPM43KIHLYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJLP37VVREVETFAZNK2AHNO5AN3LHEYFXZXKDEQ635GKAJPQFAOQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "CreateKubernetesObject": {
            "http": {
                "requestUri": "/clusters/{name}/k8sapi/{k8sapi+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "k8sapi"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "k8sapi": {
                        "location": "uri",
                        "locationName": "k8sapi"
                    },
                    "payload": {
                        "type": "blob"
                    }
                },
                "payload": "payload"
            },
            "output": {
                "type": "structure",
                "members": {
                    "k8sobj": {
                        "shape": "S5"
                    }
                },
                "payload": "k8sobj"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DeleteKubernetesObject": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}/k8sapi/{k8sapi+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "k8sapi"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "k8sapi": {
                        "location": "uri",
                        "locationName": "k8sapi"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "ListDashboardData": {
            "http": {
                "requestUri": "/dashboards/{dashboardIdentifier}/data"
            },
            "input": {
                "type": "structure",
                "required": [
                    "dashboardIdentifier"
                ],
                "members": {
                    "queries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "resourceType": {},
                                "metrics": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "stat": {}
                                        }
                                    }
                                },
                                "filters": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "dimension": {},
                                            "values": {
                                                "shape": "Sk"
                                            }
                                        }
                                    }
                                },
                                "dimensionGroupBys": {
                                    "shape": "Sk"
                                },
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "dashboardIdentifier": {
                        "location": "uri",
                        "locationName": "dashboardIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "metricResults": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "metricName": {},
                                            "metricDataResults": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "dimensions": {
                                                            "type": "map",
                                                            "key": {},
                                                            "value": {}
                                                        },
                                                        "timestamps": {
                                                            "type": "list",
                                                            "member": {
                                                                "type": "timestamp"
                                                            }
                                                        },
                                                        "values": {
                                                            "type": "list",
                                                            "member": {
                                                                "type": "double"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "ListDashboardResources": {
            "http": {
                "requestUri": "/dashboards/{dashboardIdentifier}/resources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "dashboardIdentifier"
                ],
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "dimension": {},
                                "values": {
                                    "shape": "Sk"
                                }
                            }
                        }
                    },
                    "dashboardIdentifier": {
                        "location": "uri",
                        "locationName": "dashboardIdentifier"
                    },
                    "resourceType": {},
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clusters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "snapshotTime": {
                                    "type": "timestamp"
                                },
                                "organizationId": {},
                                "orgUnitId": {},
                                "orgPathToRoot": {},
                                "accountId": {},
                                "region": {},
                                "name": {},
                                "arn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "version": {},
                                "upgradePolicy": {
                                    "type": "structure",
                                    "members": {
                                        "supportType": {}
                                    }
                                },
                                "resourcesVpcConfig": {
                                    "type": "structure",
                                    "members": {
                                        "endpointPublicAccess": {
                                            "type": "boolean"
                                        },
                                        "endpointPrivateAccess": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "kubernetesNetworkConfig": {
                                    "type": "structure",
                                    "members": {
                                        "ipFamily": {}
                                    }
                                },
                                "logging": {
                                    "type": "structure",
                                    "members": {
                                        "clusterLogging": {
                                            "shape": "Sk"
                                        }
                                    }
                                },
                                "status": {},
                                "platformVersion": {},
                                "connectorConfig": {
                                    "type": "structure",
                                    "members": {
                                        "provider": {}
                                    }
                                },
                                "health": {
                                    "type": "structure",
                                    "members": {
                                        "issues": {
                                            "shape": "S1e"
                                        }
                                    }
                                },
                                "accessConfig": {
                                    "type": "structure",
                                    "members": {
                                        "authenticationMode": {}
                                    }
                                },
                                "computeConfig": {
                                    "type": "structure",
                                    "members": {
                                        "enabled": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "zonalShiftConfig": {
                                    "type": "structure",
                                    "members": {
                                        "enabled": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "insightAggregations": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "category": {},
                                            "status": {},
                                            "count": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                },
                                "endOfSupportDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nodegroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "snapshotTime": {
                                    "type": "timestamp"
                                },
                                "organizationId": {},
                                "orgUnitId": {},
                                "orgPathToRoot": {},
                                "accountId": {},
                                "region": {},
                                "name": {},
                                "arn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "clusterName": {},
                                "clusterArn": {},
                                "version": {},
                                "releaseVersion": {},
                                "status": {},
                                "capacityType": {},
                                "scalingConfig": {
                                    "type": "structure",
                                    "members": {
                                        "minSize": {
                                            "type": "integer"
                                        },
                                        "maxSize": {
                                            "type": "integer"
                                        },
                                        "desiredSize": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "instanceTypes": {
                                    "shape": "Sk"
                                },
                                "amiType": {},
                                "labels": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "taints": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "key": {},
                                            "value": {},
                                            "effect": {}
                                        }
                                    }
                                },
                                "resources": {
                                    "type": "structure",
                                    "members": {
                                        "remoteAccessSecurityGroup": {}
                                    }
                                },
                                "health": {
                                    "type": "structure",
                                    "members": {
                                        "issues": {
                                            "shape": "S1e"
                                        }
                                    }
                                },
                                "nodeRepairConfig": {
                                    "type": "structure",
                                    "members": {
                                        "enabled": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "launchTemplate": {
                                    "type": "structure",
                                    "members": {
                                        "name": {},
                                        "id": {},
                                        "version": {}
                                    }
                                },
                                "updateConfig": {
                                    "type": "structure",
                                    "members": {
                                        "updateStrategy": {}
                                    }
                                }
                            }
                        }
                    },
                    "addons": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "snapshotTime": {
                                    "type": "timestamp"
                                },
                                "organizationId": {},
                                "orgUnitId": {},
                                "orgPathToRoot": {},
                                "accountId": {},
                                "region": {},
                                "name": {},
                                "arn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "clusterName": {},
                                "clusterArn": {},
                                "status": {},
                                "addonVersion": {},
                                "health": {
                                    "type": "structure",
                                    "members": {
                                        "issues": {
                                            "shape": "S1e"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "latestUpdateTimes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "timestamp"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "UpdateKubernetesObject": {
            "http": {
                "method": "PATCH",
                "requestUri": "/clusters/{name}/k8sapi/{k8sapi+}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "k8sapi"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "k8sapi": {
                        "location": "uri",
                        "locationName": "k8sapi"
                    },
                    "payload": {
                        "type": "blob"
                    }
                },
                "payload": "payload"
            },
            "output": {
                "type": "structure",
                "members": {
                    "k8sobj": {
                        "shape": "S5"
                    }
                },
                "payload": "k8sobj"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {},
            "document": true
        },
        "Sk": {
            "type": "list",
            "member": {}
        },
        "S1e": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "code": {}
                }
            }
        }
    }
}