{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-10-24",
        "endpointPrefix": "sms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SMS",
        "serviceFullName": "AWS Server Migration Service",
        "serviceId": "SMS",
        "signatureVersion": "v4",
        "targetPrefix": "AWSServerMigrationService_V2016_10_24",
        "uid": "sms-2016-10-24",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateApp": {
            "input": {
                "type": "structure",
                "members": {
                    "name": {},
                    "description": {},
                    "roleName": {},
                    "clientToken": {},
                    "serverGroups": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "appSummary": {
                        "shape": "St"
                    },
                    "serverGroups": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateReplicationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "serverId",
                    "seedReplicationTime"
                ],
                "members": {
                    "serverId": {},
                    "seedReplicationTime": {
                        "type": "timestamp"
                    },
                    "frequency": {
                        "type": "integer"
                    },
                    "runOnce": {
                        "type": "boolean"
                    },
                    "licenseType": {},
                    "roleName": {},
                    "description": {},
                    "numberOfRecentAmisToKeep": {
                        "type": "integer"
                    },
                    "encrypted": {
                        "type": "boolean"
                    },
                    "kmsKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "replicationJobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteApp": {
            "input": {
                "type": "structure",
                "members": {
                    "appId": {},
                    "forceStopAppReplication": {
                        "type": "boolean"
                    },
                    "forceTerminateApp": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAppLaunchConfiguration": {
            "input": {
                "type": "structure",
                "members": {
                    "appId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAppReplicationConfiguration": {
            "input": {
                "type": "structure",
                "members": {
                    "appId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAppValidationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteReplicationJob": {
            "input": {
                "type": "structure",
                "required": [
                    "replicationJobId"
                ],
                "members": {
                    "replicationJobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteServerCatalog": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DisassociateConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "connectorId"
                ],
                "members": {
                    "connectorId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GenerateChangeSet": {
            "input": {
                "type": "structure",
                "members": {
                    "appId": {},
                    "changesetFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "s3Location": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GenerateTemplate": {
            "input": {
                "type": "structure",
                "members": {
                    "appId": {},
                    "templateFormat": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "s3Location": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetApp": {
            "input": {
                "type": "structure",
                "members": {
                    "appId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "appSummary": {
                        "shape": "St"
                    },
                    "serverGroups": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAppLaunchConfiguration": {
            "input": {
                "type": "structure",
                "members": {
                    "appId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "appId": {},
                    "roleName": {},
                    "autoLaunch": {
                        "type": "boolean"
                    },
                    "serverGroupLaunchConfigurations": {
                        "shape": "S2e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAppReplicationConfiguration": {
            "input": {
                "type": "structure",
                "members": {
                    "appId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serverGroupReplicationConfigurations": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAppValidationConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "appValidationConfigurations": {
                        "shape": "S31"
                    },
                    "serverGroupValidationConfigurations": {
                        "shape": "S3c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAppValidationOutput": {
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "validationOutputList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "validationId": {},
                                "name": {},
                                "status": {},
                                "statusMessage": {},
                                "latestValidationTime": {
                                    "type": "timestamp"
                                },
                                "appValidationOutput": {
                                    "type": "structure",
                                    "members": {
                                        "ssmOutput": {
                                            "type": "structure",
                                            "members": {
                                                "s3Location": {
                                                    "shape": "S24"
                                                }
                                            }
                                        }
                                    }
                                },
                                "serverValidationOutput": {
                                    "type": "structure",
                                    "members": {
                                        "server": {
                                            "shape": "Sb"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetConnectors": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectorList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "connectorId": {},
                                "version": {},
                                "status": {},
                                "capabilityList": {
                                    "type": "list",
                                    "member": {}
                                },
                                "vmManagerName": {},
                                "vmManagerType": {},
                                "vmManagerId": {},
                                "ipAddress": {},
                                "macAddress": {},
                                "associatedOn": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetReplicationJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "replicationJobId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "replicationJobList": {
                        "type": "list",
                        "member": {
                            "shape": "S46"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetReplicationRuns": {
            "input": {
                "type": "structure",
                "required": [
                    "replicationJobId"
                ],
                "members": {
                    "replicationJobId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "replicationJob": {
                        "shape": "S46"
                    },
                    "replicationRunList": {
                        "shape": "S4a"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetServers": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "vmServerAddressList": {
                        "type": "list",
                        "member": {
                            "shape": "Sf"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "lastModifiedOn": {
                        "type": "timestamp"
                    },
                    "serverCatalogStatus": {},
                    "serverList": {
                        "shape": "Sa"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ImportAppCatalog": {
            "input": {
                "type": "structure",
                "members": {
                    "roleName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ImportServerCatalog": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "LaunchApp": {
            "input": {
                "type": "structure",
                "members": {
                    "appId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListApps": {
            "input": {
                "type": "structure",
                "members": {
                    "appIds": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "apps": {
                        "type": "list",
                        "member": {
                            "shape": "St"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "NotifyAppValidationOutput": {
            "input": {
                "type": "structure",
                "required": [
                    "appId"
                ],
                "members": {
                    "appId": {},
                    "notificationContext": {
                        "type": "structure",
                        "members": {
                            "validationId": {},
                            "status": {},
                            "statusMessage": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "PutAppLaunchConfiguration": {
            "input": {
                "type": "structure",
                "members": {
                    "appId": {},
                    "roleName": {},
                    "autoLaunch": {
                        "type": "boolean"
                    },
                    "serverGroupLaunchConfigurations": {
                        "shape": "S2e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
[...]
