{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-01",
        "endpointPrefix": "SnowInventoryManagementService",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "SnowInventoryManagementService",
        "serviceFullName": "A centralized service for managing inventory and asset for the Snow Family",
        "serviceId": "SnowInventoryManagementService",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "SnowInventoryManagementService-2020-08-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QHCASQMJPVNKHM7R4O5YY7TERYMHRJ2PPC3FSSO3LTE46T3NWULQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
        ]
    },
    "operations": {
        "CreateDeviceInspection": {
            "http": {
                "requestUri": "/CreateDeviceInspection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInspectionRequest"
                ],
                "members": {
                    "deviceInspectionRequest": {
                        "type": "structure",
                        "required": [
                            "inspectionType",
                            "deviceId",
                            "deviceInspectionChecklist"
                        ],
                        "members": {
                            "inspectionType": {},
                            "deviceId": {},
                            "deviceInspectionChecklist": {
                                "shape": "S5"
                            },
                            "operator": {},
                            "location": {},
                            "comment": {},
                            "identifier": {},
                            "eInkTrackingNumber": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "inspectionId": {},
                    "ticketId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "CreateDeviceNfcKeysAndData": {
            "http": {
                "requestUri": "/CreateDeviceNfcKeysAndData"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId",
                    "nfcData"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "nfcData": {
                        "location": "querystring",
                        "locationName": "nfcData"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "CreateDeviceReservation": {
            "http": {
                "requestUri": "/CreateDeviceReservation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "reservationRequest"
                ],
                "members": {
                    "reservationRequest": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "reservationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "DeleteDeviceReservation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteDeviceReservation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "reservationId"
                ],
                "members": {
                    "reservationId": {
                        "location": "querystring",
                        "locationName": "reservationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "DeregisterDevice": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeregisterDevice"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "DisassociateDeviceNfcTags": {
            "http": {
                "method": "PUT",
                "requestUri": "/DisassociateDeviceNfcTags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId",
                    "shouldCleanNextKey",
                    "operator"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "shouldCleanNextKey": {
                        "location": "querystring",
                        "locationName": "shouldCleanNextKey",
                        "type": "boolean"
                    },
                    "operator": {
                        "location": "querystring",
                        "locationName": "operator"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetAssetDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetAssetDetails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetId"
                ],
                "members": {
                    "assetId": {
                        "location": "querystring",
                        "locationName": "assetId"
                    },
                    "parentAssetId": {
                        "location": "querystring",
                        "locationName": "parentAssetId"
                    },
                    "assetType": {
                        "location": "querystring",
                        "locationName": "assetType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetAssetHierarchyInfo": {
            "http": {
                "method": "GET",
                "requestUri": "/GetAssetHierarchyInfo"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetId"
                ],
                "members": {
                    "assetId": {
                        "location": "querystring",
                        "locationName": "assetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assetHierarchy": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetAssetUnresolvedDiffs": {
            "http": {
                "requestUri": "/GetAssetUnresolvedDiffs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetId"
                ],
                "members": {
                    "assetId": {
                        "location": "querystring",
                        "locationName": "assetId"
                    },
                    "childAssets": {
                        "shape": "S1b"
                    },
                    "validationStage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assetDiffs": {
                        "shape": "S1e"
                    },
                    "shouldBlock": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetDefectDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDefectDetails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "defectId"
                ],
                "members": {
                    "defectId": {
                        "location": "querystring",
                        "locationName": "defectId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "defect": {
                        "type": "structure",
                        "members": {
                            "defectId": {},
                            "deviceId": {},
                            "defectCategory": {},
                            "defectCode": {},
                            "defectState": {},
                            "isActive": {
                                "type": "boolean"
                            },
                            "description": {},
                            "relatedTicket": {},
                            "actionTicket": {},
                            "remarks": {},
                            "estimatedResolutionDate": {
                                "type": "timestamp"
                            },
                            "creationDate": {
                                "type": "timestamp"
                            },
                            "updateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetDeviceDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceDetails"
            },
            "input": {
                "type": "structure",
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "macAddress": {
                        "location": "querystring",
                        "locationName": "macAddress"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "device": {
                        "type": "structure",
                        "members": {
                            "deviceId": {},
                            "deviceVersion": {},
                            "deviceType": {},
                            "deviceCapacity": {},
                            "onBoardDataCenter": {},
                            "currentDataCenter": {},
                            "deviceLocation": {
                                "shape": "S1z"
                            },
                            "deviceImpactLevel": {},
                            "deviceProperties": {
                                "shape": "S21"
                            },
                            "deviceMetadata": {
                                "shape": "S25"
                            },
                            "remarks": {},
                            "creationDate": {
                                "type": "timestamp"
                            },
                            "updateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetDeviceInspectionChecklist": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceInspectionChecklist"
            },
            "input": {
                "type": "structure",
                "required": [
                    "inspectionType"
                ],
                "members": {
                    "inspectionType": {
                        "location": "querystring",
                        "locationName": "inspectionType"
                    },
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "deviceVersion": {
                        "location": "querystring",
                        "locationName": "deviceVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceInspectionChecklist": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetDeviceInspectionDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceInspectionDetails"
            },
            "input": {
                "type": "structure",
                "members": {
                    "inspectionId": {
                        "location": "querystring",
                        "locationName": "inspectionId"
                    },
                    "inspectionType": {
                        "location": "querystring",
                        "locationName": "inspectionType"
                    },
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceInspection": {
                        "shape": "S2h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetDeviceLoanDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceLoanDetails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceLoan": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetDeviceNfcAuditTrails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceNfcAuditTrails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceNfcAuditTrails": {
                        "type": "list",
                        "member": {
                            "shape": "S2s"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetDeviceNfcDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceNfcDetails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceNfc": {
                        "shape": "S2s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetDeviceState": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceState"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceStateEntry": {
                        "shape": "S33"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetDeviceStateAuditTrails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceStateAuditTrails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "deviceState": {
                        "location": "querystring",
                        "locationName": "deviceState"
                    },
                    "stateUpdateDate": {
                        "location": "querystring",
                        "locationName": "stateUpdateDate",
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceStateAuditTrails": {
                        "type": "list",
                        "member": {
                            "shape": "S33"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetDeviceTaskDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceTaskDetails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId",
                    "deviceTaskType"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "deviceTaskType": {
                        "location": "querystring",
                        "locationName": "deviceTaskType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceTask": {
                        "type": "structure",
                        "members": {
                            "deviceId": {},
                            "deviceTaskType": {},
                            "deviceTaskState": {},
                            "inspectionId": {},
                            "operator": {},
                            "comment": {},
                            "updateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetDeviceToProvision": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceToProvision"
            },
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId",
                    "deviceCapacity",
                    "deviceVersion"
                ],
                "members": {
                    "awsAccountId": {
                        "location": "querystring",
                        "locationName": "awsAccountId"
                    },
                    "deviceCapacity": {
                        "location": "querystring",
                        "locationName": "deviceCapacity"
                    },
                    "deviceVersion": {
                        "location": "querystring",
                        "locationName": "deviceVersion"
                    },
                    "provisionRegion": {
                        "location": "querystring",
                        "locationName": "provisionRegion"
                    },
                    "impactLevel": {
                        "location": "querystring",
                        "locationName": "impactLevel"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetInventorySnapshot": {
            "http": {
                "method": "GET",
                "requestUri": "/GetInventorySnapshot"
            },
            "input": {
                "type": "structure",
                "members": {
                    "deviceCapacity": {
                        "location": "querystring",
                        "locationName": "deviceCapacity"
                    },
                    "deviceVersion": {
                        "location": "querystring",
                        "locationName": "deviceVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "inventorySnapshot": {
                        "type": "structure",
                        "members": {
                            "deviceCapacity": {},
                            "deviceVersion": {},
                            "totalDevices": {
                                "shape": "Sp"
                            },
                            "deviceStateSnapshotListMap": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "deviceId": {},
                                            "deviceSubState": {},
                                            "isAttached": {
                                                "type": "boolean"
                                            },
                                            "isReserved": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetInventoryStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/GetInventoryStatus"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "inventoryStatusMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "inventoryLevel": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "ListDeviceAttachments": {
            "http": {
                "method": "GET",
                "requestUri": "/ListDeviceAttachments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "deviceIp": {
                        "location": "querystring",
                        "locationName": "deviceIp"
                    },
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceAttachments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "deviceId": {},
                                "deviceIp": {},
                                "dataCenter": {},
                                "updateDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
[...]
