{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-02-03",
        "endpointPrefix": "snowball",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Snow Family",
        "serviceId": "snowball",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIESnowballJobManagementService",
        "uid": "snowball-2014-02-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QHCASQMJPVNKHM7R4O5YY7TERYMHRJ2PPC3FSSO3LTE46T3NWULQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
        ]
    },
    "operations": {
        "AssociateJob": {
            "input": {
                "type": "structure",
                "required": [
                    "SiteId",
                    "JobId"
                ],
                "members": {
                    "SiteId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "CancelCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "CancelJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "CancelPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanId"
                ],
                "members": {
                    "PlanId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "CancelSite": {
            "input": {
                "type": "structure",
                "required": [
                    "SiteId"
                ],
                "members": {
                    "SiteId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "CreateAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "Address"
                ],
                "members": {
                    "Address": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AddressId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "CreateCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "JobType",
                    "AddressId",
                    "SnowballType",
                    "ShippingOption"
                ],
                "members": {
                    "JobType": {},
                    "Resources": {
                        "shape": "Sp"
                    },
                    "OnDeviceServiceConfiguration": {
                        "shape": "S15"
                    },
                    "Description": {},
                    "AddressId": {},
                    "KmsKeyARN": {},
                    "RoleARN": {},
                    "SnowballType": {},
                    "ShippingOption": {},
                    "Notification": {
                        "shape": "S1j"
                    },
                    "ForwardingAddressId": {},
                    "TaxDocuments": {
                        "shape": "S1n"
                    },
                    "RemoteManagement": {},
                    "InitialClusterSize": {
                        "type": "integer"
                    },
                    "ForceCreateJobs": {
                        "type": "boolean"
                    },
                    "LongTermPricingIds": {
                        "type": "list",
                        "member": {}
                    },
                    "SnowballCapacityPreference": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterId": {},
                    "JobListEntries": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "CreateJob": {
            "input": {
                "type": "structure",
                "members": {
                    "JobType": {},
                    "Resources": {
                        "shape": "Sp"
                    },
                    "OnDeviceServiceConfiguration": {
                        "shape": "S15"
                    },
                    "Description": {},
                    "AddressId": {},
                    "KmsKeyARN": {},
                    "RoleARN": {},
                    "SnowballCapacityPreference": {},
                    "ShippingOption": {},
                    "Notification": {
                        "shape": "S1j"
                    },
                    "ClusterId": {},
                    "SnowballType": {},
                    "ForwardingAddressId": {},
                    "TaxDocuments": {
                        "shape": "S1n"
                    },
                    "DeviceConfiguration": {
                        "shape": "S20"
                    },
                    "RemoteManagement": {},
                    "LongTermPricingId": {},
                    "ImpactLevel": {},
                    "PickupDetails": {
                        "shape": "S24"
                    },
                    "Referer": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "CreateLongTermPricing": {
            "input": {
                "type": "structure",
                "required": [
                    "LongTermPricingType",
                    "SnowballType"
                ],
                "members": {
                    "LongTermPricingType": {},
                    "IsLongTermPricingAutoRenew": {
                        "type": "boolean"
                    },
                    "SnowballType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LongTermPricingId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "CreatePlan": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanName",
                    "PlanType",
                    "Notification",
                    "RoleARN"
                ],
                "members": {
                    "ClientToken": {},
                    "PlanName": {},
                    "PlanType": {},
                    "Notification": {
                        "shape": "S1j"
                    },
                    "RoleARN": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PlanId",
                    "PlanArn",
                    "PlanState",
                    "CreationDate",
                    "LastUpdateDate"
                ],
                "members": {
                    "PlanId": {},
                    "PlanArn": {},
                    "PlanState": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastUpdateDate": {
                        "type": "timestamp"
                    },
                    "CompletionDate": {
                        "type": "timestamp"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "CreateReturnShippingLabel": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "ShippingOption": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "CreateSite": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanId",
                    "SiteName",
                    "StartDate",
                    "OnsiteData",
                    "AddressId",
                    "Capabilities"
                ],
                "members": {
                    "ClientToken": {},
                    "PlanId": {},
                    "SiteName": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "Repeat": {},
                    "OnsiteData": {
                        "shape": "S2q"
                    },
                    "AddressId": {},
                    "Capabilities": {
                        "shape": "S2s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SiteId",
                    "SiteArn",
                    "SiteState",
                    "CreationDate",
                    "LastUpdateDate"
                ],
                "members": {
                    "SiteId": {},
                    "SiteArn": {},
                    "SiteState": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastUpdateDate": {
                        "type": "timestamp"
                    },
                    "CompletionDate": {
                        "type": "timestamp"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "DeletePlan": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanId"
                ],
                "members": {
                    "PlanId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "DeleteSite": {
            "input": {
                "type": "structure",
                "required": [
                    "SiteId"
                ],
                "members": {
                    "SiteId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "DescribeAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "AddressId"
                ],
                "members": {
                    "AddressId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Address": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "DescribeAddresses": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Addresses": {
                        "shape": "S37"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "DescribeCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterMetadata": {
                        "type": "structure",
                        "members": {
                            "ClusterId": {},
                            "Description": {},
                            "KmsKeyARN": {},
                            "RoleARN": {},
                            "ClusterState": {},
                            "JobType": {},
                            "SnowballType": {},
                            "CreationDate": {
                                "type": "timestamp"
                            },
                            "Resources": {
                                "shape": "Sp"
                            },
                            "AddressId": {},
                            "ShippingOption": {},
                            "Notification": {
                                "shape": "S1j"
                            },
                            "ForwardingAddressId": {},
                            "TaxDocuments": {
                                "shape": "S1n"
                            },
                            "OnDeviceServiceConfiguration": {
                                "shape": "S15"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "DescribeJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobMetadata": {
                        "shape": "S3e"
                    },
                    "SubJobMetadata": {
                        "type": "list",
                        "member": {
                            "shape": "S3e"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "DescribePlan": {
            "input": {
                "type": "structure",
                "members": {
                    "PlanId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Plan"
                ],
                "members": {
                    "Plan": {
                        "type": "structure",
                        "members": {
                            "PlanId": {},
                            "PlanArn": {},
                            "PlanName": {},
                            "PlanType": {},
                            "Notification": {
                                "shape": "S1j"
                            },
                            "PlanState": {},
                            "CreationDate": {
                                "type": "timestamp"
                            },
                            "LastUpdateDate": {
                                "type": "timestamp"
                            },
                            "CompletionDate": {
                                "type": "timestamp"
                            },
                            "RoleARN": {}
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "DescribeReturnShippingLabel": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "ExpirationDate": {
                        "type": "timestamp"
                    },
                    "ReturnShippingLabelURI": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "DescribeSite": {
            "input": {
                "type": "structure",
                "members": {
                    "SiteId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Site"
                ],
                "members": {
                    "Site": {
                        "type": "structure",
                        "members": {
                            "SiteId": {},
                            "SiteArn": {},
                            "SiteName": {},
                            "PlanId": {},
                            "StartDate": {
                                "type": "timestamp"
                            },
                            "EndDate": {
                                "type": "timestamp"
                            },
                            "Repeat": {},
                            "OnsiteData": {
                                "shape": "S2q"
                            },
                            "AddressId": {},
                            "Capabilities": {
                                "shape": "S2s"
                            },
                            "SiteState": {},
                            "Region": {},
                            "CreationDate": {
                                "type": "timestamp"
                            },
                            "LastUpdateDate": {
                                "type": "timestamp"
                            },
                            "CompletionDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "DisassociateJob": {
            "input": {
                "type": "structure",
                "required": [
                    "SiteId",
                    "JobId"
                ],
                "members": {
                    "SiteId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetJobCreationSchedule": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanId"
                ],
                "members": {
                    "PlanId": {},
                    "SiteId": {},
                    "DryRunJobCreationSchedule": {
                        "type": "structure",
                        "members": {
                            "StartDate": {
                                "type": "timestamp"
                            },
                            "EndDate": {
                                "type": "timestamp"
                            },
                            "Repeat": {},
                            "OnsiteData": {
                                "shape": "S2q"
                            },
                            "Capabilities": {
                                "shape": "S2s"
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobCreationSchedule"
                ],
                "members": {
                    "JobCreationSchedule": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PlanId": {},
                                "PlanName": {},
                                "SiteId": {},
                                "SiteName": {},
                                "Region": {},
                                "CreateByDate": {
                                    "type": "timestamp"
                                },
                                "DeviceType": {},
                                "JobId": {}
                            }
                        }
                    },
                    "DeviceNeededPerRepeatCycle": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetJobManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManifestURI": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetJobUnlockCode": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnlockCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
[...]
