{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-01",
        "endpointPrefix": "SnowInventoryManagementService",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "SnowInventoryManagementService",
        "serviceFullName": "A centralized service for managing inventory and asset for the Snow Family",
        "serviceId": "SnowInventoryManagementService",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "SnowInventoryManagementService-2020-08-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FBXTHGOHYNS5GEJUOUM2RABDYGM5T4DGOV747MFA36B3FGU4E7EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
        ]
    },
    "operations": {
        "CreateDeviceInspection": {
            "http": {
                "requestUri": "/CreateDeviceInspection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceInspectionRequest"
                ],
                "members": {
                    "deviceInspectionRequest": {
                        "type": "structure",
                        "required": [
                            "inspectionType",
                            "deviceId",
                            "deviceInspectionChecklist"
                        ],
                        "members": {
                            "inspectionType": {},
                            "deviceId": {},
                            "deviceInspectionChecklist": {
                                "shape": "S5"
                            },
                            "operator": {},
                            "location": {},
                            "comment": {},
                            "identifier": {},
                            "eInkTrackingNumber": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "inspectionId": {},
                    "ticketId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "CreateDeviceNfcKeysAndData": {
            "http": {
                "requestUri": "/CreateDeviceNfcKeysAndData"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId",
                    "nfcData"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "nfcData": {
                        "location": "querystring",
                        "locationName": "nfcData"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "CreateDeviceReservation": {
            "http": {
                "requestUri": "/CreateDeviceReservation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "reservationRequest"
                ],
                "members": {
                    "reservationRequest": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "reservationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "DeleteDeviceReservation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeleteDeviceReservation"
            },
            "input": {
                "type": "structure",
                "required": [
                    "reservationId"
                ],
                "members": {
                    "reservationId": {
                        "location": "querystring",
                        "locationName": "reservationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "DeregisterDevice": {
            "http": {
                "method": "DELETE",
                "requestUri": "/DeregisterDevice"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "DisassociateDeviceNfcTags": {
            "http": {
                "method": "PUT",
                "requestUri": "/DisassociateDeviceNfcTags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId",
                    "shouldCleanNextKey",
                    "operator"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "shouldCleanNextKey": {
                        "location": "querystring",
                        "locationName": "shouldCleanNextKey",
                        "type": "boolean"
                    },
                    "operator": {
                        "location": "querystring",
                        "locationName": "operator"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetAssetDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetAssetDetails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetId"
                ],
                "members": {
                    "assetId": {
                        "location": "querystring",
                        "locationName": "assetId"
                    },
                    "parentAssetId": {
                        "location": "querystring",
                        "locationName": "parentAssetId"
                    },
                    "assetType": {
                        "location": "querystring",
                        "locationName": "assetType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetAssetHierarchyInfo": {
            "http": {
                "method": "GET",
                "requestUri": "/GetAssetHierarchyInfo"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetId"
                ],
                "members": {
                    "assetId": {
                        "location": "querystring",
                        "locationName": "assetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assetHierarchy": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "list",
                            "member": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetAssetUnresolvedDiffs": {
            "http": {
                "requestUri": "/GetAssetUnresolvedDiffs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetId"
                ],
                "members": {
                    "assetId": {
                        "location": "querystring",
                        "locationName": "assetId"
                    },
                    "childAssets": {
                        "shape": "S1b"
                    },
                    "validationStage": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assetDiffs": {
                        "shape": "S1e"
                    },
                    "shouldBlock": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetDefectDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDefectDetails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "defectId"
                ],
                "members": {
                    "defectId": {
                        "location": "querystring",
                        "locationName": "defectId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "defect": {
                        "type": "structure",
                        "members": {
                            "defectId": {},
                            "deviceId": {},
                            "defectCategory": {},
                            "defectCode": {},
                            "defectState": {},
                            "isActive": {
                                "type": "boolean"
                            },
                            "description": {},
                            "relatedTicket": {},
                            "actionTicket": {},
                            "remarks": {},
                            "estimatedResolutionDate": {
                                "type": "timestamp"
                            },
                            "creationDate": {
                                "type": "timestamp"
                            },
                            "updateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetDeviceDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceDetails"
            },
            "input": {
                "type": "structure",
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "macAddress": {
                        "location": "querystring",
                        "locationName": "macAddress"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "device": {
                        "type": "structure",
                        "members": {
                            "deviceId": {},
                            "deviceVersion": {},
                            "deviceType": {},
                            "deviceCapacity": {},
                            "onBoardDataCenter": {},
                            "currentDataCenter": {},
                            "deviceLocation": {
                                "shape": "S1z"
                            },
                            "deviceImpactLevel": {},
                            "deviceProperties": {
                                "shape": "S21"
                            },
                            "deviceMetadata": {
                                "shape": "S25"
                            },
                            "remarks": {},
                            "creationDate": {
                                "type": "timestamp"
                            },
                            "updateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetDeviceInspectionChecklist": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceInspectionChecklist"
            },
            "input": {
                "type": "structure",
                "required": [
                    "inspectionType"
                ],
                "members": {
                    "inspectionType": {
                        "location": "querystring",
                        "locationName": "inspectionType"
                    },
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "deviceVersion": {
                        "location": "querystring",
                        "locationName": "deviceVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceInspectionChecklist": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetDeviceInspectionDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceInspectionDetails"
            },
            "input": {
                "type": "structure",
                "members": {
                    "inspectionId": {
                        "location": "querystring",
                        "locationName": "inspectionId"
                    },
                    "inspectionType": {
                        "location": "querystring",
                        "locationName": "inspectionType"
                    },
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceInspection": {
                        "shape": "S2h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetDeviceLoanDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceLoanDetails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceLoan": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetDeviceNfcAuditTrails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceNfcAuditTrails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceNfcAuditTrails": {
                        "type": "list",
                        "member": {
                            "shape": "S2s"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetDeviceNfcDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceNfcDetails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceNfc": {
                        "shape": "S2s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetDeviceState": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceState"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceStateEntry": {
                        "shape": "S33"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetDeviceStateAuditTrails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceStateAuditTrails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "deviceState": {
                        "location": "querystring",
                        "locationName": "deviceState"
                    },
                    "stateUpdateDate": {
                        "location": "querystring",
                        "locationName": "stateUpdateDate",
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceStateAuditTrails": {
                        "type": "list",
                        "member": {
                            "shape": "S33"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetDeviceTaskDetails": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceTaskDetails"
            },
            "input": {
                "type": "structure",
                "required": [
                    "deviceId",
                    "deviceTaskType"
                ],
                "members": {
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "deviceTaskType": {
                        "location": "querystring",
                        "locationName": "deviceTaskType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceTask": {
                        "type": "structure",
                        "members": {
                            "deviceId": {},
                            "deviceTaskType": {},
                            "deviceTaskState": {},
                            "inspectionId": {},
                            "operator": {},
                            "comment": {},
                            "updateDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetDeviceToProvision": {
            "http": {
                "method": "GET",
                "requestUri": "/GetDeviceToProvision"
            },
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId",
                    "deviceCapacity",
                    "deviceVersion"
                ],
                "members": {
                    "awsAccountId": {
                        "location": "querystring",
                        "locationName": "awsAccountId"
                    },
                    "deviceCapacity": {
                        "location": "querystring",
                        "locationName": "deviceCapacity"
                    },
                    "deviceVersion": {
                        "location": "querystring",
                        "locationName": "deviceVersion"
                    },
                    "provisionRegion": {
                        "location": "querystring",
                        "locationName": "provisionRegion"
                    },
                    "impactLevel": {
                        "location": "querystring",
                        "locationName": "impactLevel"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetInventorySnapshot": {
            "http": {
                "method": "GET",
                "requestUri": "/GetInventorySnapshot"
            },
            "input": {
                "type": "structure",
                "members": {
                    "deviceCapacity": {
                        "location": "querystring",
                        "locationName": "deviceCapacity"
                    },
                    "deviceVersion": {
                        "location": "querystring",
                        "locationName": "deviceVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "inventorySnapshot": {
                        "type": "structure",
                        "members": {
                            "deviceCapacity": {},
                            "deviceVersion": {},
                            "totalDevices": {
                                "shape": "Sp"
                            },
                            "deviceStateSnapshotListMap": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "deviceId": {},
                                            "deviceSubState": {},
                                            "isAttached": {
                                                "type": "boolean"
                                            },
                                            "isReserved": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "GetInventoryStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/GetInventoryStatus"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "inventoryStatusMap": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "inventoryLevel": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23RGEUOP74KZSULVUCLEC4SK2AW4JZUIZQ6LE7GHYFGJADSUQBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R3FFF4YRUHZJQFSN2W3Y25DTAJ45PJQG3UBSHMHAKUSFTNSTMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SY3YCRA4MO6PXOW727NJEKJLMBF4HR5ZJ5XVQCJ4FMBTCNWOGGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHM4HZPUB6YV4WQSMZY3CTI47E5RQT6FGXQQB75TZIYUQLDFLDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SG5ZLMZSD5WZKHMRNFMMUY3CETJI4VFKYRSTEX5L3JOTXHMVN3YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJDQKKBNR7RLGQLENEIFHXT5SCHOVJSPZ5JEFOIHLA24OUDMEHPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3ZEPS5B3MA6L66GSX5LJV27PXMAN7BNY4OR5MMIR2GHLMIJNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYF3TYDJKYZADLFNUI6T4KZ4D4L24YU62U2MNNXKP3YU7G42MU5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js"
            ]
        },
        "ListDeviceAttachments": {
            "http": {
                "method": "GET",
                "requestUri": "/ListDeviceAttachments"
            },
            "input": {
                "type": "structure",
                "members": {
                    "deviceIp": {
                        "location": "querystring",
                        "locationName": "deviceIp"
                    },
                    "deviceId": {
                        "location": "querystring",
                        "locationName": "deviceId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deviceAttachments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "deviceId": {},
                                "deviceIp": {},
                                "dataCenter": {},
                                "updateDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QRWGANTOPVB2GUVD2XVEVGMZNMCD6DLCB2S2SWVYVDDECMGRJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3JA7ORRWLUM53B5TDIN5MKRLLXT3IGTQKBVJNUUQCJTSQXA25AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH4QWAG7FZPBI437HDII5ZGJZUIHI5XOOM35FZEDOWD2T5ZJK4FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KXUQYRPWK3B6RTDQGZBFRIPMVGA6M3CKZC6OVJMWHZQNH32ME3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AZCNZIZ7P5HRSPK67WS7QPNU764UOB5OVWKHTMLZ2IEN2C7QK6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPTQDPNSXWHJ3FVTMILCOO3HOW7SVSPSUXT43TM3YZCOICYOPB6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCRIYCO3AHMCNGGJ2GQGOFSC4KBWK63S5EBLU3IHCFAOKG5KLSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLH46YCQY7XVB4V37MJROLTKONIPKMF4FB46AM6XV7BRGNTVZTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FULO2SGVK6P7D6JCD4DX7W4VXHIEE373KPLDVRJY6CSY4USFZMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTHM5XPA46RJWIEKWETWSDJJGFLXG4FW2JTIKTTGG7OOQYO4HPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PSK36MBEQ5B7G3I6NC7JYQPIPM7JFH4DC4PYYEZJRX4QP72ONDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVR7JDJY4OPTBEEQUL3LGMTH64KH4V5RQ4IL7EJTIWMSPPTTI5YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIKOJKGI7RKSPJA3YMQ2AU275RYXZH3X3IQAJE5PTNRSQW2KUKXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZY4MLSKDPABUBUVUYKK4THG4K4UBNGAU3KBQQHJIG3CNN6PBGYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7DRQCFKYZG773JO56CQ2CK3ZTZN3KBUV6P2UNRL5XKVJ6DYV57A/vendors.js",
[...]
