{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-02-03",
        "endpointPrefix": "snowball",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Snow Family",
        "serviceId": "snowball",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIESnowballJobManagementService",
        "uid": "snowball-2014-02-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVYMZI6LJWW7IUF2LWPZHEKUB7H4NFAKVQG34LSG2NVXCGR66NXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
        ]
    },
    "operations": {
        "AssociateJob": {
            "input": {
                "type": "structure",
                "required": [
                    "SiteId",
                    "JobId"
                ],
                "members": {
                    "SiteId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "CancelCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "CancelJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "CancelPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanId"
                ],
                "members": {
                    "PlanId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "CancelSite": {
            "input": {
                "type": "structure",
                "required": [
                    "SiteId"
                ],
                "members": {
                    "SiteId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "CreateAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "Address"
                ],
                "members": {
                    "Address": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AddressId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "CreateCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "JobType",
                    "AddressId",
                    "SnowballType",
                    "ShippingOption"
                ],
                "members": {
                    "JobType": {},
                    "Resources": {
                        "shape": "Sp"
                    },
                    "OnDeviceServiceConfiguration": {
                        "shape": "S15"
                    },
                    "Description": {},
                    "AddressId": {},
                    "KmsKeyARN": {},
                    "RoleARN": {},
                    "SnowballType": {},
                    "ShippingOption": {},
                    "Notification": {
                        "shape": "S1j"
                    },
                    "ForwardingAddressId": {},
                    "TaxDocuments": {
                        "shape": "S1n"
                    },
                    "RemoteManagement": {},
                    "InitialClusterSize": {
                        "type": "integer"
                    },
                    "ForceCreateJobs": {
                        "type": "boolean"
                    },
                    "LongTermPricingIds": {
                        "type": "list",
                        "member": {}
                    },
                    "SnowballCapacityPreference": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterId": {},
                    "JobListEntries": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "CreateJob": {
            "input": {
                "type": "structure",
                "members": {
                    "JobType": {},
                    "Resources": {
                        "shape": "Sp"
                    },
                    "OnDeviceServiceConfiguration": {
                        "shape": "S15"
                    },
                    "Description": {},
                    "AddressId": {},
                    "KmsKeyARN": {},
                    "RoleARN": {},
                    "SnowballCapacityPreference": {},
                    "ShippingOption": {},
                    "Notification": {
                        "shape": "S1j"
                    },
                    "ClusterId": {},
                    "SnowballType": {},
                    "ForwardingAddressId": {},
                    "TaxDocuments": {
                        "shape": "S1n"
                    },
                    "DeviceConfiguration": {
                        "shape": "S20"
                    },
                    "RemoteManagement": {},
                    "LongTermPricingId": {},
                    "ImpactLevel": {},
                    "PickupDetails": {
                        "shape": "S24"
                    },
                    "Referer": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "CreateLongTermPricing": {
            "input": {
                "type": "structure",
                "required": [
                    "LongTermPricingType",
                    "SnowballType"
                ],
                "members": {
                    "LongTermPricingType": {},
                    "IsLongTermPricingAutoRenew": {
                        "type": "boolean"
                    },
                    "SnowballType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LongTermPricingId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "CreatePlan": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanName",
                    "PlanType",
                    "Notification",
                    "RoleARN"
                ],
                "members": {
                    "ClientToken": {},
                    "PlanName": {},
                    "PlanType": {},
                    "Notification": {
                        "shape": "S1j"
                    },
                    "RoleARN": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PlanId",
                    "PlanArn",
                    "PlanState",
                    "CreationDate",
                    "LastUpdateDate"
                ],
                "members": {
                    "PlanId": {},
                    "PlanArn": {},
                    "PlanState": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastUpdateDate": {
                        "type": "timestamp"
                    },
                    "CompletionDate": {
                        "type": "timestamp"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "CreateReturnShippingLabel": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "ShippingOption": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "CreateSite": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanId",
                    "SiteName",
                    "StartDate",
                    "OnsiteData",
                    "AddressId",
                    "Capabilities"
                ],
                "members": {
                    "ClientToken": {},
                    "PlanId": {},
                    "SiteName": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "Repeat": {},
                    "OnsiteData": {
                        "shape": "S2q"
                    },
                    "AddressId": {},
                    "Capabilities": {
                        "shape": "S2s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SiteId",
                    "SiteArn",
                    "SiteState",
                    "CreationDate",
                    "LastUpdateDate"
                ],
                "members": {
                    "SiteId": {},
                    "SiteArn": {},
                    "SiteState": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastUpdateDate": {
                        "type": "timestamp"
                    },
                    "CompletionDate": {
                        "type": "timestamp"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "DeletePlan": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanId"
                ],
                "members": {
                    "PlanId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "DeleteSite": {
            "input": {
                "type": "structure",
                "required": [
                    "SiteId"
                ],
                "members": {
                    "SiteId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "DescribeAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "AddressId"
                ],
                "members": {
                    "AddressId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Address": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "DescribeAddresses": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Addresses": {
                        "shape": "S37"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "DescribeCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterMetadata": {
                        "type": "structure",
                        "members": {
                            "ClusterId": {},
                            "Description": {},
                            "KmsKeyARN": {},
                            "RoleARN": {},
                            "ClusterState": {},
                            "JobType": {},
                            "SnowballType": {},
                            "CreationDate": {
                                "type": "timestamp"
                            },
                            "Resources": {
                                "shape": "Sp"
                            },
                            "AddressId": {},
                            "ShippingOption": {},
                            "Notification": {
                                "shape": "S1j"
                            },
                            "ForwardingAddressId": {},
                            "TaxDocuments": {
                                "shape": "S1n"
                            },
                            "OnDeviceServiceConfiguration": {
                                "shape": "S15"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "DescribeJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobMetadata": {
                        "shape": "S3e"
                    },
                    "SubJobMetadata": {
                        "type": "list",
                        "member": {
                            "shape": "S3e"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "DescribePlan": {
            "input": {
                "type": "structure",
                "members": {
                    "PlanId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Plan"
                ],
                "members": {
                    "Plan": {
                        "type": "structure",
                        "members": {
                            "PlanId": {},
                            "PlanArn": {},
                            "PlanName": {},
                            "PlanType": {},
                            "Notification": {
                                "shape": "S1j"
                            },
                            "PlanState": {},
                            "CreationDate": {
                                "type": "timestamp"
                            },
                            "LastUpdateDate": {
                                "type": "timestamp"
                            },
                            "CompletionDate": {
                                "type": "timestamp"
                            },
                            "RoleARN": {}
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "DescribeReturnShippingLabel": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "ExpirationDate": {
                        "type": "timestamp"
                    },
                    "ReturnShippingLabelURI": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "DescribeSite": {
            "input": {
                "type": "structure",
                "members": {
                    "SiteId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Site"
                ],
                "members": {
                    "Site": {
                        "type": "structure",
                        "members": {
                            "SiteId": {},
                            "SiteArn": {},
                            "SiteName": {},
                            "PlanId": {},
                            "StartDate": {
                                "type": "timestamp"
                            },
                            "EndDate": {
                                "type": "timestamp"
                            },
                            "Repeat": {},
                            "OnsiteData": {
                                "shape": "S2q"
                            },
                            "AddressId": {},
                            "Capabilities": {
                                "shape": "S2s"
                            },
                            "SiteState": {},
                            "Region": {},
                            "CreationDate": {
                                "type": "timestamp"
                            },
                            "LastUpdateDate": {
                                "type": "timestamp"
                            },
                            "CompletionDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "DisassociateJob": {
            "input": {
                "type": "structure",
                "required": [
                    "SiteId",
                    "JobId"
                ],
                "members": {
                    "SiteId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "GetJobCreationSchedule": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanId"
                ],
                "members": {
                    "PlanId": {},
                    "SiteId": {},
                    "DryRunJobCreationSchedule": {
                        "type": "structure",
                        "members": {
                            "StartDate": {
                                "type": "timestamp"
                            },
                            "EndDate": {
                                "type": "timestamp"
                            },
                            "Repeat": {},
                            "OnsiteData": {
                                "shape": "S2q"
                            },
                            "Capabilities": {
                                "shape": "S2s"
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobCreationSchedule"
                ],
                "members": {
                    "JobCreationSchedule": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PlanId": {},
                                "PlanName": {},
                                "SiteId": {},
                                "SiteName": {},
                                "Region": {},
                                "CreateByDate": {
                                    "type": "timestamp"
                                },
                                "DeviceType": {},
                                "JobId": {}
                            }
                        }
                    },
                    "DeviceNeededPerRepeatCycle": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "GetJobManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManifestURI": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "GetJobUnlockCode": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnlockCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
[...]
