{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-02-03",
        "endpointPrefix": "snowball",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Snow Family",
        "serviceId": "snowball",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIESnowballJobManagementService",
        "uid": "snowball-2014-02-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QTYXSK5MSHKMOMSLJO5W4GPTYRSWUWYDQI77OPJZJ766C2SKCUTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateJob": {
            "input": {
                "type": "structure",
                "required": [
                    "SiteId",
                    "JobId"
                ],
                "members": {
                    "SiteId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "CancelCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "CancelJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "CancelPlan": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanId"
                ],
                "members": {
                    "PlanId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "CancelSite": {
            "input": {
                "type": "structure",
                "required": [
                    "SiteId"
                ],
                "members": {
                    "SiteId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "CreateAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "Address"
                ],
                "members": {
                    "Address": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AddressId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "CreateCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "JobType",
                    "AddressId",
                    "SnowballType",
                    "ShippingOption"
                ],
                "members": {
                    "JobType": {},
                    "Resources": {
                        "shape": "Sp"
                    },
                    "OnDeviceServiceConfiguration": {
                        "shape": "S15"
                    },
                    "Description": {},
                    "AddressId": {},
                    "KmsKeyARN": {},
                    "RoleARN": {},
                    "SnowballType": {},
                    "ShippingOption": {},
                    "Notification": {
                        "shape": "S1j"
                    },
                    "ForwardingAddressId": {},
                    "TaxDocuments": {
                        "shape": "S1n"
                    },
                    "RemoteManagement": {},
                    "InitialClusterSize": {
                        "type": "integer"
                    },
                    "ForceCreateJobs": {
                        "type": "boolean"
                    },
                    "LongTermPricingIds": {
                        "type": "list",
                        "member": {}
                    },
                    "SnowballCapacityPreference": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterId": {},
                    "JobListEntries": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "CreateJob": {
            "input": {
                "type": "structure",
                "members": {
                    "JobType": {},
                    "Resources": {
                        "shape": "Sp"
                    },
                    "OnDeviceServiceConfiguration": {
                        "shape": "S15"
                    },
                    "Description": {},
                    "AddressId": {},
                    "KmsKeyARN": {},
                    "RoleARN": {},
                    "SnowballCapacityPreference": {},
                    "ShippingOption": {},
                    "Notification": {
                        "shape": "S1j"
                    },
                    "ClusterId": {},
                    "SnowballType": {},
                    "ForwardingAddressId": {},
                    "TaxDocuments": {
                        "shape": "S1n"
                    },
                    "DeviceConfiguration": {
                        "shape": "S20"
                    },
                    "RemoteManagement": {},
                    "LongTermPricingId": {},
                    "ImpactLevel": {},
                    "PickupDetails": {
                        "shape": "S24"
                    },
                    "Referer": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "CreateLongTermPricing": {
            "input": {
                "type": "structure",
                "required": [
                    "LongTermPricingType",
                    "SnowballType"
                ],
                "members": {
                    "LongTermPricingType": {},
                    "IsLongTermPricingAutoRenew": {
                        "type": "boolean"
                    },
                    "SnowballType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LongTermPricingId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "CreatePlan": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanName",
                    "PlanType",
                    "Notification",
                    "RoleARN"
                ],
                "members": {
                    "ClientToken": {},
                    "PlanName": {},
                    "PlanType": {},
                    "Notification": {
                        "shape": "S1j"
                    },
                    "RoleARN": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PlanId",
                    "PlanArn",
                    "PlanState",
                    "CreationDate",
                    "LastUpdateDate"
                ],
                "members": {
                    "PlanId": {},
                    "PlanArn": {},
                    "PlanState": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastUpdateDate": {
                        "type": "timestamp"
                    },
                    "CompletionDate": {
                        "type": "timestamp"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "CreateReturnShippingLabel": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "ShippingOption": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "CreateSite": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanId",
                    "SiteName",
                    "StartDate",
                    "OnsiteData",
                    "AddressId",
                    "Capabilities"
                ],
                "members": {
                    "ClientToken": {},
                    "PlanId": {},
                    "SiteName": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "EndDate": {
                        "type": "timestamp"
                    },
                    "Repeat": {},
                    "OnsiteData": {
                        "shape": "S2q"
                    },
                    "AddressId": {},
                    "Capabilities": {
                        "shape": "S2s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SiteId",
                    "SiteArn",
                    "SiteState",
                    "CreationDate",
                    "LastUpdateDate"
                ],
                "members": {
                    "SiteId": {},
                    "SiteArn": {},
                    "SiteState": {},
                    "CreationDate": {
                        "type": "timestamp"
                    },
                    "LastUpdateDate": {
                        "type": "timestamp"
                    },
                    "CompletionDate": {
                        "type": "timestamp"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "DeletePlan": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanId"
                ],
                "members": {
                    "PlanId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "DeleteSite": {
            "input": {
                "type": "structure",
                "required": [
                    "SiteId"
                ],
                "members": {
                    "SiteId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "DescribeAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "AddressId"
                ],
                "members": {
                    "AddressId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Address": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "DescribeAddresses": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Addresses": {
                        "shape": "S37"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "DescribeCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterMetadata": {
                        "type": "structure",
                        "members": {
                            "ClusterId": {},
                            "Description": {},
                            "KmsKeyARN": {},
                            "RoleARN": {},
                            "ClusterState": {},
                            "JobType": {},
                            "SnowballType": {},
                            "CreationDate": {
                                "type": "timestamp"
                            },
                            "Resources": {
                                "shape": "Sp"
                            },
                            "AddressId": {},
                            "ShippingOption": {},
                            "Notification": {
                                "shape": "S1j"
                            },
                            "ForwardingAddressId": {},
                            "TaxDocuments": {
                                "shape": "S1n"
                            },
                            "OnDeviceServiceConfiguration": {
                                "shape": "S15"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "DescribeJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobMetadata": {
                        "shape": "S3e"
                    },
                    "SubJobMetadata": {
                        "type": "list",
                        "member": {
                            "shape": "S3e"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "DescribePlan": {
            "input": {
                "type": "structure",
                "members": {
                    "PlanId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Plan"
                ],
                "members": {
                    "Plan": {
                        "type": "structure",
                        "members": {
                            "PlanId": {},
                            "PlanArn": {},
                            "PlanName": {},
                            "PlanType": {},
                            "Notification": {
                                "shape": "S1j"
                            },
                            "PlanState": {},
                            "CreationDate": {
                                "type": "timestamp"
                            },
                            "LastUpdateDate": {
                                "type": "timestamp"
                            },
                            "CompletionDate": {
                                "type": "timestamp"
                            },
                            "RoleARN": {}
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "DescribeReturnShippingLabel": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "ExpirationDate": {
                        "type": "timestamp"
                    },
                    "ReturnShippingLabelURI": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "DescribeSite": {
            "input": {
                "type": "structure",
                "members": {
                    "SiteId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Site"
                ],
                "members": {
                    "Site": {
                        "type": "structure",
                        "members": {
                            "SiteId": {},
                            "SiteArn": {},
                            "SiteName": {},
                            "PlanId": {},
                            "StartDate": {
                                "type": "timestamp"
                            },
                            "EndDate": {
                                "type": "timestamp"
                            },
                            "Repeat": {},
                            "OnsiteData": {
                                "shape": "S2q"
                            },
                            "AddressId": {},
                            "Capabilities": {
                                "shape": "S2s"
                            },
                            "SiteState": {},
                            "Region": {},
                            "CreationDate": {
                                "type": "timestamp"
                            },
                            "LastUpdateDate": {
                                "type": "timestamp"
                            },
                            "CompletionDate": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "DisassociateJob": {
            "input": {
                "type": "structure",
                "required": [
                    "SiteId",
                    "JobId"
                ],
                "members": {
                    "SiteId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "GetJobCreationSchedule": {
            "input": {
                "type": "structure",
                "required": [
                    "PlanId"
                ],
                "members": {
                    "PlanId": {},
                    "SiteId": {},
                    "DryRunJobCreationSchedule": {
                        "type": "structure",
                        "members": {
                            "StartDate": {
                                "type": "timestamp"
                            },
                            "EndDate": {
                                "type": "timestamp"
                            },
                            "Repeat": {},
                            "OnsiteData": {
                                "shape": "S2q"
                            },
                            "Capabilities": {
                                "shape": "S2s"
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobCreationSchedule"
                ],
                "members": {
                    "JobCreationSchedule": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PlanId": {},
                                "PlanName": {},
                                "SiteId": {},
                                "SiteName": {},
                                "Region": {},
                                "CreateByDate": {
                                    "type": "timestamp"
                                },
                                "DeviceType": {},
                                "JobId": {}
                            }
                        }
                    },
                    "DeviceNeededPerRepeatCycle": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "GetJobManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManifestURI": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U22ZOJJAW6J2GN2C2GJ2WTC6Z5RMEEV5YA5SUZGEO7MS3P5SC5SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQU5RTIJMUI4BT3ZT4HDMCMJSMLZKE7AYDOIBR5DFHTFJFJOM6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGBYNZQ4WDA4PCPU4UXDJNWOZJXD5JTEG2XWRZETNWJ2TW46JFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOTKHQ4KWXZ2GVDWDGFOEVJZ6V7POKTIXLURRQYJXRHV2OUGUWFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJ32Y2EITDI2GTRCIVW64E5HSBIWJ72D7X3HYBWDPETDBCAZYDMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKAOTJL25TOFUHQV7QAWB6CIIOY73NFPEHDSNJYMLEK2DSMSNAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72TEYXFXON75NBZMT4IXO4HWTDCZKSYLLRVJUOV7QB5CR3X4ETGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQ4EHZ6AG2HJFD3TNTY7MVNQTWX6JIOFPRXNNCVO7XZP32YFTJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HTAMXDC6F577OIMYW5SRLS4IB3PBODVGPY3WUIU3FELIAEAD2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P4ZRXCN4HNZXC7U5XAQHTLOJVL552MGEVAACAUXPN6XDANAA4LWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGPTTGKFCZVFIQL52XLSKK3BALVYUI56ES2ZETORESMWUQIVDTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J72M37NKJ3LVQI7CQAQ526SBSNALUZ32IJ34S2Z6GAQYJNR3TVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25REPK5EUIUQNLBJEXVUXCGCSTQTYZI4NWV4UVYA4NMKS2GJ4TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5LZ6VF4FDLUSEFLOLBQIIIWURK4GCUT3LEMFCJNVUOUVPNTJZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOYRXMYVWOZWOS7RJNN53B4VPFZQ53YP2NKUXNYXHJCMPDEDGUVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUCDVTVUPSGAOSWGXCWOTWU7WOBE4QQ4XKR563BZRZZ4SHDTTVBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js"
            ]
        },
        "GetJobUnlockCode": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnlockCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3WCUVYGGBRDDPOVJGIPK3PEV7QM4DMRCDFFJ7EWLVOS4MDH66ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z6XHDVZBXEOK3HUXLOPULO4Q2XTPKFU4YNB77CZRWLNPTTMXOCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASYVUTDKF7LM4XHUOPMUOSP5H4DTANWOTFJFD5HBGOMB6IXVIFZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2LTPAVVKRVPZJ73U6CFQIMO5UILIVYXHPIEMUYKRK6U33KC7OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CVDRVM2KZGCE3MTJAC7F4XWLRNUCSGSDEVUHUXFZNK3KKV3K5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4L37HT2Z7MVGFB442OMG5UDMDITXOHCAXRVJZKXENDJINQK37MQ/vendors.js",
[...]
