{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-06-30",
        "endpointPrefix": "snowball",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Amazon Snowball",
        "serviceFullName": "Amazon Import/Export Snowball",
        "serviceId": "Snowball",
        "signatureVersion": "v4",
        "targetPrefix": "AWSIESnowballJobManagementService",
        "uid": "snowball-2016-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CancelJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "Address"
                ],
                "members": {
                    "Address": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AddressId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "JobType",
                    "Resources",
                    "AddressId",
                    "RoleARN",
                    "SnowballType",
                    "ShippingOption"
                ],
                "members": {
                    "JobType": {},
                    "Resources": {
                        "shape": "Sf"
                    },
                    "OnDeviceServiceConfiguration": {
                        "shape": "Sv"
                    },
                    "Description": {},
                    "AddressId": {},
                    "KmsKeyARN": {},
                    "RoleARN": {},
                    "SnowballType": {},
                    "ShippingOption": {},
                    "Notification": {
                        "shape": "S14"
                    },
                    "ForwardingAddressId": {},
                    "TaxDocuments": {
                        "shape": "S18"
                    },
                    "RemoteManagement": {},
                    "InitialClusterSize": {
                        "type": "integer"
                    },
                    "ForceCreateJobs": {
                        "type": "boolean"
                    },
                    "LongTermPricingIds": {
                        "type": "list",
                        "member": {}
                    },
                    "SnowballCapacityPreference": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateJob": {
            "input": {
                "type": "structure",
                "members": {
                    "JobType": {},
                    "Resources": {
                        "shape": "Sf"
                    },
                    "OnDeviceServiceConfiguration": {
                        "shape": "Sv"
                    },
                    "Description": {},
                    "AddressId": {},
                    "KmsKeyARN": {},
                    "RoleARN": {},
                    "SnowballCapacityPreference": {},
                    "ShippingOption": {},
                    "Notification": {
                        "shape": "S14"
                    },
                    "ClusterId": {},
                    "SnowballType": {},
                    "ForwardingAddressId": {},
                    "TaxDocuments": {
                        "shape": "S18"
                    },
                    "DeviceConfiguration": {
                        "shape": "S1f"
                    },
                    "RemoteManagement": {},
                    "LongTermPricingId": {},
                    "ImpactLevel": {},
                    "PickupDetails": {
                        "shape": "S1v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateLongTermPricing": {
            "input": {
                "type": "structure",
                "required": [
                    "LongTermPricingType"
                ],
                "members": {
                    "LongTermPricingType": {},
                    "IsLongTermPricingAutoRenew": {
                        "type": "boolean"
                    },
                    "SnowballType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LongTermPricingId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateReturnShippingLabel": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "ShippingOption": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "AddressId"
                ],
                "members": {
                    "AddressId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Address": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeAddresses": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Addresses": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterMetadata": {
                        "type": "structure",
                        "members": {
                            "ClusterId": {},
                            "Description": {},
                            "KmsKeyARN": {},
                            "RoleARN": {},
                            "ClusterState": {},
                            "JobType": {},
                            "SnowballType": {},
                            "CreationDate": {
                                "type": "timestamp"
                            },
                            "Resources": {
                                "shape": "Sf"
                            },
                            "AddressId": {},
                            "ShippingOption": {},
                            "Notification": {
                                "shape": "S14"
                            },
                            "ForwardingAddressId": {},
                            "TaxDocuments": {
                                "shape": "S18"
                            },
                            "OnDeviceServiceConfiguration": {
                                "shape": "Sv"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobMetadata": {
                        "shape": "S24"
                    },
                    "SubJobMetadata": {
                        "type": "list",
                        "member": {
                            "shape": "S24"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeReturnShippingLabel": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "ExpirationDate": {
                        "type": "timestamp"
                    },
                    "ReturnShippingLabelURI": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetJobManifest": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManifestURI": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetJobUnlockCode": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnlockCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetSnowballUsage": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnowballLimit": {
                        "type": "integer"
                    },
                    "SnowballsInUse": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetSoftwareUpdates": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UpdatesURI": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListClusterJobs": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobListEntries": {
                        "shape": "S2o"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListClusters": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClusterListEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ClusterId": {},
                                "ClusterState": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                },
                                "Description": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListCompatibleImages": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CompatibleImages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AmiId": {},
                                "Name": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobListEntries": {
                        "shape": "S2o"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListLongTermPricing": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LongTermPricingEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LongTermPricingId": {},
                                "LongTermPricingEndDate": {
                                    "type": "timestamp"
                                },
                                "LongTermPricingStartDate": {
                                    "type": "timestamp"
                                },
                                "LongTermPricingType": {},
                                "CurrentActiveJob": {},
                                "ReplacementJob": {},
                                "IsLongTermPricingAutoRenew": {
                                    "type": "boolean"
                                },
                                "LongTermPricingStatus": {},
                                "SnowballType": {},
                                "JobIds": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "ClusterId"
                ],
                "members": {
                    "ClusterId": {},
                    "RoleARN": {},
                    "Description": {},
                    "Resources": {
                        "shape": "Sf"
                    },
                    "OnDeviceServiceConfiguration": {
                        "shape": "Sv"
                    },
                    "AddressId": {},
                    "ShippingOption": {},
                    "Notification": {
                        "shape": "S14"
                    },
                    "ForwardingAddressId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "RoleARN": {},
                    "Notification": {
                        "shape": "S14"
                    },
                    "Resources": {
                        "shape": "Sf"
                    },
                    "OnDeviceServiceConfiguration": {
                        "shape": "Sv"
                    },
                    "AddressId": {},
                    "ShippingOption": {},
                    "Description": {},
                    "SnowballCapacityPreference": {},
                    "ForwardingAddressId": {},
                    "PickupDetails": {
                        "shape": "S1v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateJobShipmentState": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId",
                    "ShipmentState"
                ],
                "members": {
                    "JobId": {},
                    "ShipmentState": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateLongTermPricing": {
            "input": {
                "type": "structure",
                "required": [
                    "LongTermPricingId"
                ],
                "members": {
                    "LongTermPricingId": {},
                    "ReplacementJob": {},
                    "IsLongTermPricingAutoRenew": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListServiceVersions": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceName"
[...]
