{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-03-31",
        "endpointPrefix": "sns",
        "protocol": "query",
        "serviceAbbreviation": "Amazon SNS",
        "serviceFullName": "Amazon Simple Notification Service",
        "serviceId": "SNS",
        "signatureVersion": "v4",
        "uid": "sns-2010-03-31",
        "xmlNamespace": "http://sns.amazonaws.com/doc/2010-03-31/",
        "download_location": [
            "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
        ]
    },
    "operations": {
        "AddPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "TopicArn",
                    "Label",
                    "AWSAccountId",
                    "ActionName"
                ],
                "members": {
                    "TopicArn": {},
                    "Label": {},
                    "AWSAccountId": {
                        "type": "list",
                        "member": {}
                    },
                    "ActionName": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CheckIfPhoneNumberIsOptedOut": {
            "input": {
                "type": "structure",
                "required": [
                    "phoneNumber"
                ],
                "members": {
                    "phoneNumber": {}
                }
            },
            "output": {
                "resultWrapper": "CheckIfPhoneNumberIsOptedOutResult",
                "type": "structure",
                "members": {
                    "isOptedOut": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ConfirmSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "TopicArn",
                    "Token"
                ],
                "members": {
                    "TopicArn": {},
                    "Token": {},
                    "AuthenticateOnUnsubscribe": {}
                }
            },
            "output": {
                "resultWrapper": "ConfirmSubscriptionResult",
                "type": "structure",
                "members": {
                    "SubscriptionArn": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreatePlatformApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Platform",
                    "Attributes"
                ],
                "members": {
                    "Name": {},
                    "Platform": {},
                    "Attributes": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreatePlatformApplicationResult",
                "type": "structure",
                "members": {
                    "PlatformApplicationArn": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreatePlatformEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "PlatformApplicationArn",
                    "Token"
                ],
                "members": {
                    "PlatformApplicationArn": {},
                    "Token": {},
                    "CustomUserData": {},
                    "Attributes": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreatePlatformEndpointResult",
                "type": "structure",
                "members": {
                    "EndpointArn": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "CreateTopic": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Attributes": {
                        "shape": "Sp"
                    },
                    "Tags": {
                        "shape": "Ss"
                    },
                    "DataProtectionPolicy": {}
                }
            },
            "output": {
                "resultWrapper": "CreateTopicResult",
                "type": "structure",
                "members": {
                    "TopicArn": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointArn"
                ],
                "members": {
                    "EndpointArn": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeletePlatformApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "PlatformApplicationArn"
                ],
                "members": {
                    "PlatformApplicationArn": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "DeleteTopic": {
            "input": {
                "type": "structure",
                "required": [
                    "TopicArn"
                ],
                "members": {
                    "TopicArn": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetEndpointAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointArn"
                ],
                "members": {
                    "EndpointArn": {}
                }
            },
            "output": {
                "resultWrapper": "GetEndpointAttributesResult",
                "type": "structure",
                "members": {
                    "Attributes": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetPlatformApplicationAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "PlatformApplicationArn"
                ],
                "members": {
                    "PlatformApplicationArn": {}
                }
            },
            "output": {
                "resultWrapper": "GetPlatformApplicationAttributesResult",
                "type": "structure",
                "members": {
                    "Attributes": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetSMSAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "attributes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "GetSMSAttributesResult",
                "type": "structure",
                "members": {
                    "attributes": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetSubscriptionAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionArn"
                ],
                "members": {
                    "SubscriptionArn": {}
                }
            },
            "output": {
                "resultWrapper": "GetSubscriptionAttributesResult",
                "type": "structure",
                "members": {
                    "Attributes": {
                        "shape": "S19"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "GetTopicAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "TopicArn"
                ],
                "members": {
                    "TopicArn": {}
                }
            },
            "output": {
                "resultWrapper": "GetTopicAttributesResult",
                "type": "structure",
                "members": {
                    "Attributes": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListEndpointsByPlatformApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "PlatformApplicationArn"
                ],
                "members": {
                    "PlatformApplicationArn": {},
                    "NextToken": {}
                }
            },
            "output": {
                "resultWrapper": "ListEndpointsByPlatformApplicationResult",
                "type": "structure",
                "members": {
                    "Endpoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "EndpointArn": {},
                                "Attributes": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListPhoneNumbersOptedOut": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {}
                }
            },
            "output": {
                "resultWrapper": "ListPhoneNumbersOptedOutResult",
                "type": "structure",
                "members": {
                    "phoneNumbers": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListPlatformApplications": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "resultWrapper": "ListPlatformApplicationsResult",
                "type": "structure",
                "members": {
                    "PlatformApplications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PlatformApplicationArn": {},
                                "Attributes": {
                                    "shape": "Sj"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListSubscriptions": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "resultWrapper": "ListSubscriptionsResult",
                "type": "structure",
                "members": {
                    "Subscriptions": {
                        "shape": "S1r"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListSubscriptionsByTopic": {
            "input": {
                "type": "structure",
                "required": [
                    "TopicArn"
                ],
                "members": {
                    "TopicArn": {},
                    "NextToken": {}
                }
            },
            "output": {
                "resultWrapper": "ListSubscriptionsByTopicResult",
                "type": "structure",
                "members": {
                    "Subscriptions": {
                        "shape": "S1r"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "resultWrapper": "ListTagsForResourceResult",
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "ListTopics": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "resultWrapper": "ListTopicsResult",
                "type": "structure",
                "members": {
                    "Topics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TopicArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "OptInPhoneNumber": {
            "input": {
                "type": "structure",
                "required": [
                    "phoneNumber"
                ],
                "members": {
                    "phoneNumber": {}
                }
            },
            "output": {
                "resultWrapper": "OptInPhoneNumberResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "Publish": {
            "input": {
                "type": "structure",
                "required": [
                    "Message"
                ],
                "members": {
                    "TopicArn": {},
                    "TargetArn": {},
                    "PhoneNumber": {},
                    "Message": {},
                    "Subject": {},
                    "MessageStructure": {},
                    "MessageAttributes": {
                        "type": "map",
                        "key": {
                            "locationName": "Name"
                        },
                        "value": {
                            "locationName": "Value",
                            "type": "structure",
                            "required": [
                                "DataType"
                            ],
                            "members": {
                                "DataType": {},
                                "StringValue": {},
                                "BinaryValue": {
                                    "type": "blob"
                                }
                            }
                        }
                    },
                    "MessageDeduplicationId": {},
                    "MessageGroupId": {},
                    "Attributes": {
                        "internalonly": true,
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "PublishResult",
                "type": "structure",
                "members": {
                    "MessageId": {},
                    "SequenceNumber": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "RemovePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "TopicArn",
                    "Label"
                ],
                "members": {
                    "TopicArn": {},
                    "Label": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "SetEndpointAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "EndpointArn",
                    "Attributes"
                ],
                "members": {
                    "EndpointArn": {},
                    "Attributes": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AAPZ2VOBBN7TY2EPAI25CWVLQWWX5C5K5DVJLFDPADRAESX5Y5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6MUWLNM6NVG4QGJGKQW3OOGRY7ZAGDRPXISW5PZIY3CUX2LWDPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUDJGOB7PMGFYMGYT7FJUFAXM4BROECTFCWJGLJS6VF5NCRSXPLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPB6TKKPSXIFMVK765743J4F25KRRK4WH3JGW2A5LMMQHSII3XGA/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKICK2ZOBN2FTJDJ27GTYKMY4DAQ67KZGXBAGF7TCEZA64V66ICQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js"
            ]
        },
        "SetPlatformApplicationAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "PlatformApplicationArn",
                    "Attributes"
                ],
                "members": {
                    "PlatformApplicationArn": {},
                    "Attributes": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWMIHJ5SI4AGUJ7SU3ZFGVNHZM6N7S6B3TIJ2TZLPIRHANOUECCA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYRVGTUPI5SUMGON6BCQAZCWEDHNI6VFJRCR6ZFH6TBYBX4Y6NOQ/vendors.misc.js",
[...]
