{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-02-12",
        "endpointPrefix": "sqlworkbench",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "CranberryFrontendCoralService",
        "serviceId": "SQLWorkbench",
        "signatureVersion": "v4",
        "signingName": "sqlworkbench",
        "uid": "sqlworkbench-2024-02-12",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/I4IVHT6XS4UJFK7Y5RM3QTRE6H4TVWR2FJMW4CUPGHHH5HYI7YDQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
        ]
    },
    "operations": {
        "CreateBeer": {
            "http": {
                "requestUri": "/beer",
                "responseCode": 200
            },
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S1"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3TOROANJZWF3HB567CNYE3CAH5KHQIU646QISEALT37KDB7T57A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6TTSEFZ4BALPQ3BANCYVIF6B7QCFUAYU26LAODTRMACRZDMXQGQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5KYQ7QHYI2KVKBWG4NAYNIVLSTWQLXGV4XNL73FYBFBRTFJUGCQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RIQK5CHJOIITCNXYS2UTE5U4ZXEBD5VACTNJERGEUQ7SJBEPIEQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4IVHT6XS4UJFK7Y5RM3QTRE6H4TVWR2FJMW4CUPGHHH5HYI7YDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js"
            ]
        },
        "CreateConnection": {
            "http": {
                "method": "PUT",
                "requestUri": "/connection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "databaseName",
                    "authenticationType"
                ],
                "members": {
                    "name": {
                        "type": "string",
                        "sensitive": true
                    },
                    "databaseName": {
                        "type": "string",
                        "sensitive": true
                    },
                    "authenticationType": {
                        "type": "string",
                        "sensitive": true
                    },
                    "isProd": {},
                    "userSettings": {},
                    "secretArn": {},
                    "clusterId": {},
                    "isServerless": {
                        "type": "boolean"
                    },
                    "dbUser": {
                        "type": "string",
                        "sensitive": true
                    },
                    "isStoreNewSecret": {},
                    "username": {
                        "type": "string",
                        "sensitive": true
                    },
                    "password": {
                        "type": "string",
                        "sensitive": true
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "host": {},
                    "secretName": {},
                    "description": {},
                    "databaseType": {},
                    "connectableResourceIdentifier": {
                        "type": "string",
                        "sensitive": true
                    },
                    "connectableResourceType": {},
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "data": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "DeleteConnection": {
            "http": {
                "requestUri": "/connections/{connectionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectionId"
                ],
                "members": {
                    "connectionId": {
                        "location": "uri",
                        "locationName": "connectionId"
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "data": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "DriverExecute": {
            "http": {
                "requestUri": "/driver",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "path",
                    "data"
                ],
                "members": {
                    "path": {},
                    "data": {
                        "type": "string",
                        "sensitive": true
                    },
                    "databaseName": {
                        "shape": "Sn"
                    },
                    "version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "code": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "data": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3TOROANJZWF3HB567CNYE3CAH5KHQIU646QISEALT37KDB7T57A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6TTSEFZ4BALPQ3BANCYVIF6B7QCFUAYU26LAODTRMACRZDMXQGQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5KYQ7QHYI2KVKBWG4NAYNIVLSTWQLXGV4XNL73FYBFBRTFJUGCQ/vendors1.js"
            ]
        },
        "GetAllBeers": {
            "http": {
                "method": "GET",
                "requestUri": "/beer",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "beers": {
                        "type": "list",
                        "member": {
                            "shape": "S1"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3TOROANJZWF3HB567CNYE3CAH5KHQIU646QISEALT37KDB7T57A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6TTSEFZ4BALPQ3BANCYVIF6B7QCFUAYU26LAODTRMACRZDMXQGQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7O2TQ7LFQ2RKPEAGNAQ7KPCY7C5PAVXRHLZ56YB3P2IV7GOGGEA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5KYQ7QHYI2KVKBWG4NAYNIVLSTWQLXGV4XNL73FYBFBRTFJUGCQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RIQK5CHJOIITCNXYS2UTE5U4ZXEBD5VACTNJERGEUQ7SJBEPIEQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4IVHT6XS4UJFK7Y5RM3QTRE6H4TVWR2FJMW4CUPGHHH5HYI7YDQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js"
            ]
        },
        "GetConnection": {
            "http": {
                "method": "GET",
                "requestUri": "/connections/{connectionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectionId"
                ],
                "members": {
                    "connectionId": {
                        "location": "uri",
                        "locationName": "connectionId"
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "data": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "CancelQueries": {
            "http": {
                "requestUri": "/database/cancelQueries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "queryExecutionIds",
                    "databaseType"
                ],
                "members": {
                    "accountSettings": {
                        "shape": "S2"
                    },
                    "queryExecutionIds": {
                        "type": "list",
                        "member": {}
                    },
                    "databaseType": {
                        "location": "querystring",
                        "locationName": "databaseType"
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cancelQueryResponses"
                ],
                "members": {
                    "cancelQueryResponses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "queryExecutionId"
                            ],
                            "members": {
                                "queryExecutionId": {},
                                "queryCancellationStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "ExecuteQuery": {
            "http": {
                "requestUri": "/database/executeQuery",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "tabId",
                    "executionContext",
                    "query",
                    "queryExecutionType",
                    "queryResponseDeliveryType",
                    "maxItems"
                ],
                "members": {
                    "connectionId": {},
                    "databaseType": {
                        "location": "querystring",
                        "locationName": "databaseType"
                    },
                    "connection": {
                        "shape": "S1e"
                    },
                    "accountSettings": {
                        "shape": "S2"
                    },
                    "tabId": {},
                    "executionContext": {
                        "type": "list",
                        "member": {
                            "shape": "S1o"
                        }
                    },
                    "query": {
                        "type": "string",
                        "sensitive": true
                    },
                    "queryExecutionType": {},
                    "sessionId": {},
                    "queryResponseDeliveryType": {},
                    "maxItems": {
                        "type": "integer"
                    },
                    "limitQueryResults": {
                        "type": "integer"
                    },
                    "isExplain": {
                        "type": "boolean"
                    },
                    "ignoreHistory": {
                        "type": "boolean"
                    },
                    "timeoutMillis": {
                        "type": "integer"
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "queryExecutions"
                ],
                "members": {
                    "sessionId": {},
                    "queryExecutions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "queryExecutionId"
                            ],
                            "members": {
                                "queryExecutionStatus": {},
                                "queryExecutionId": {},
                                "queryResult": {
                                    "shape": "S23"
                                },
                                "queryText": {
                                    "shape": "S2k"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "ExportQueryResults": {
            "http": {
                "requestUri": "/database/exportResults",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "queryExecutionId",
                    "databaseType"
                ],
                "members": {
                    "accountSettings": {
                        "shape": "S2"
                    },
                    "queryExecutionId": {},
                    "databaseType": {
                        "location": "querystring",
                        "locationName": "databaseType"
                    },
                    "fileType": {},
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "queryResult"
                ],
                "members": {
                    "queryResult": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "GetConnectableResources": {
            "http": {
                "requestUri": "/database/getConnectableResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "type",
                    "maxItems",
                    "databaseType"
                ],
                "members": {
                    "accountSettings": {
                        "shape": "S2"
                    },
                    "type": {},
                    "maxItems": {
                        "type": "integer"
                    },
                    "pageToken": {},
                    "databaseType": {
                        "location": "querystring",
                        "locationName": "databaseType"
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "connectableResources"
                ],
                "members": {
                    "connectableResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "displayName",
                                "identifier",
                                "childObjectTypes",
                                "availableConnectionConfigurationOptions"
                            ],
                            "members": {
                                "displayName": {
                                    "shape": "S2y"
                                },
                                "identifier": {
                                    "shape": "S18"
                                },
                                "type": {},
                                "unavailable": {
                                    "type": "boolean"
                                },
                                "tooltipTranslationKey": {},
                                "childObjectTypes": {
                                    "shape": "S31"
                                },
                                "availableConnectionConfigurationOptions": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "GetDatabaseConfigurations": {
            "http": {
                "requestUri": "/database/configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "accountSettings": {
                        "shape": "S2"
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "configurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "databaseType",
                                "authenticationOptions",
                                "connectableResourceTypes",
                                "sessionSupported",
                                "eventAcknowledgementSupported",
                                "appendingLimitToQuerySupported",
                                "queryStatsSupported"
                            ],
                            "members": {
                                "databaseType": {},
                                "authenticationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "connectableResourceType",
                                            "authenticationMethods"
                                        ],
                                        "members": {
                                            "connectableResourceType": {},
                                            "authenticationMethods": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                },
                                "connectableResourceTypes": {
                                    "type": "list",
                                    "member": {}
                                },
                                "sessionSupported": {
                                    "type": "boolean"
                                },
                                "eventAcknowledgementSupported": {
                                    "type": "boolean"
                                },
                                "appendingLimitToQuerySupported": {
                                    "type": "boolean"
                                },
                                "queryStatsSupported": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "GetQueryExecutionHistory": {
            "http": {
                "requestUri": "/queryExecutionHistory/details",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "queryExecutionId"
                ],
                "members": {
                    "queryExecutionId": {},
                    "accountSettings": {
                        "shape": "S2"
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "querySourceId": {},
                    "queryStartTime": {
                        "type": "long"
                    },
                    "queryEndTime": {
                        "type": "long"
                    },
                    "status": {},
                    "queryText": {
                        "type": "string",
                        "sensitive": true
                    },
                    "serializedMetadata": {
                        "shape": "S3m"
                    },
                    "serializedQueryStats": {
                        "type": "string",
                        "sensitive": true
                    },
                    "databaseType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "GetQueryResult": {
            "http": {
                "requestUri": "/database/getQueryResults",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "queryExecutionId",
                    "databaseType"
                ],
                "members": {
                    "queryExecutionId": {},
                    "accountSettings": {
                        "shape": "S2"
                    },
                    "pageToken": {},
                    "databaseType": {
                        "location": "querystring",
                        "locationName": "databaseType"
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    },
                    "pageSize": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "queryResult": {
                        "shape": "S23"
                    },
                    "nextToken": {},
                    "previousToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "GetResources": {
            "http": {
                "requestUri": "/database/getResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "parents",
                    "type",
                    "maxItems"
                ],
                "members": {
                    "connectionId": {},
                    "databaseType": {
                        "location": "querystring",
                        "locationName": "databaseType"
                    },
                    "connection": {
                        "shape": "S1e"
                    },
                    "accountSettings": {
                        "shape": "S2"
                    },
                    "parents": {
                        "type": "list",
                        "member": {
                            "shape": "S1o"
                        }
                    },
                    "type": {},
                    "maxItems": {
                        "type": "integer"
                    },
                    "pageToken": {},
                    "forceRefresh": {
                        "type": "boolean"
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    },
                    "forceRefreshRecursive": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "displayName",
                                "identifier",
                                "childObjectTypes"
                            ],
                            "members": {
                                "displayName": {
                                    "shape": "S2y"
                                },
                                "identifier": {
                                    "shape": "S18"
                                },
                                "type": {},
                                "unavailable": {
                                    "type": "boolean"
                                },
                                "tooltipTranslationKey": {},
                                "childObjectTypes": {
                                    "shape": "S31"
                                },
                                "allowedActions": {
                                    "type": "list",
                                    "member": {}
                                },
                                "resourceMetadata": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "key": {},
                                            "value": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "GetTabStates": {
            "http": {
                "requestUri": "/tab/state",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "tabId"
                ],
                "members": {
                    "accountSettings": {
                        "shape": "S2"
                    },
                    "tabId": {},
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "queryExecutionStates"
                ],
                "members": {
                    "queryExecutionStates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "queryExecutionId",
                                "status",
                                "databaseType"
                            ],
                            "members": {
                                "queryExecutionId": {},
                                "status": {},
                                "databaseType": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "ListQueryExecutionHistory": {
            "http": {
                "requestUri": "/queryExecutionHistory/list",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "maxItems"
                ],
                "members": {
                    "maxItems": {
                        "type": "integer"
                    },
                    "accountSettings": {
                        "shape": "S2"
                    },
                    "pageToken": {},
                    "querySourceId": {},
                    "status": {},
                    "startTime": {
                        "type": "long"
                    },
                    "endTime": {
                        "type": "long"
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    },
                    "containsText": {},
                    "databaseType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "items"
                ],
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "querySourceId": {},
                                "queryStartTime": {
                                    "type": "long"
                                },
                                "queryEndTime": {
                                    "type": "long"
                                },
                                "status": {},
                                "queryTextPreview": {
                                    "type": "string",
                                    "sensitive": true
                                },
                                "serializedMetadata": {
                                    "shape": "S3m"
                                },
                                "databaseType": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "PollQueryExecutionEvents": {
            "http": {
                "requestUri": "/database/pollQueryExecutionEvents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "queryExecutionIds",
                    "databaseType"
                ],
                "members": {
                    "queryExecutionIds": {
                        "type": "list",
                        "member": {}
                    },
                    "accountSettings": {
                        "shape": "S2"
                    },
                    "databaseType": {
                        "location": "querystring",
                        "locationName": "databaseType"
                    },
                    "ackIds": {
                        "type": "list",
                        "member": {}
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "queryExecutionEventType",
                                "queryExecutionId"
                            ],
                            "members": {
                                "queryExecutionEventType": {},
                                "queryExecutionId": {},
                                "queryExecutionStatus": {},
                                "queryResult": {
                                    "shape": "S23"
                                },
                                "nextToken": {},
                                "ackId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Su"
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    },
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTYSIOLXYR5NW2DKJWEGNBVZF4YMTTYXMLYGTJPM3CCK5ESNBN7Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSSUWBTAM3HZRYLBJJMSYTPPVADIAJ4YLAFAMUMQI2NPZLTBU6LA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUL4MTUKJ3NSS3MBVEUYBBB3WPOHI7X4CSO4ZUJ3CO3UDE5SBMPQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIIJDOHIDFJUD4FXSRZJ6ZZV4YAWQHUEDYGBSJ4WVYUKEBD4NWOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEMTQW7AKAUCFZTEKRPPO2OQUPTJEHDUBGSUMVO2YM23BQZ2YR2Q/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPUM73WNBATGXM3FJIBJZBEGMMB4OSKLSFYHFPR4UCH7UW4LOHYA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTPPCBEWZZMPF3QICYCD4SR5RE4GYJ6AOCJTU37GG74P4R5VODA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q65J7ZA453JIATJVT2KG6OJKDRAJ2FLND3TFPJ7WEWBWXFK6KDVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5F4MGYRELKVIGHRHAUTLUWTKJ72LNS2UYFSH26L3ECU7VHCW5TYQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGWZQOQCBB7FBPYKZM67QFY4JEJCQYQUEUMSMQYMSG3OV7RXTDQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4STBW4V7C7P6IDGGIIVLQVONWRJ7QSUZC3L32BOELZQ4O7LXDOA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFJO2WTSLJB5HE3UBIBCIBDRQ6NY4JWHN2OVFFAARZSGFEX32FVQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVL5IEVY52GTPCYZQ6PYMAO42IOWQ6BKV73WKNVX3HFVBMKF5FPA/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M352XTKFMMOCFR2QFRWAKYVLDKXC5EEER3R376JHGSPCPFTH7OCQ/vendors2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQP7VL6CB4U655LHHGJDQ6XXXOT2KGUOCXQUTD67MG62UOUJMGUQ/vendors2.js"
            ]
        },
        "UpdateConnection": {
            "http": {
                "requestUri": "/connections",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "authenticationType"
                ],
                "members": {
                    "id": {},
                    "name": {
                        "type": "string",
                        "sensitive": true
                    },
                    "databaseName": {
                        "type": "string",
                        "sensitive": true
                    },
                    "authenticationType": {
                        "type": "string",
                        "sensitive": true
                    },
                    "secretArn": {},
                    "clusterId": {},
                    "isServerless": {
                        "type": "boolean"
                    },
                    "dbUser": {
                        "shape": "Sr"
                    },
                    "username": {
                        "shape": "Sr"
                    },
                    "password": {
                        "type": "string",
                        "sensitive": true
                    },
                    "host": {},
                    "databaseType": {},
                    "connectableResourceIdentifier": {
                        "type": "string",
                        "sensitive": true
                    },
                    "connectableResourceType": {},
                    "sqlworkbenchSource": {
                        "location": "header",
                        "locationName": "sqlworkbench-source"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "data": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONY2EHGGVCS77SCULJBVCUWRY3GSZBIJM54SXH4PLAB2U4NFA6VQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXJ73OOK7SJZJWXGDYC4WAGB2P6UOFBL45HUUADV2RLC5WX3UM6Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ2GSY4FO7LK5AXRLSMGUETJTM7HDK43JV3IK5IXS6QK3FEC7Y7Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53VJVGC2PNGQMU43AFB5UNLWMXL7RPHLO4Z3D3RRY4G3X7NBHLRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOUKNTEAIT3HT54U7IXGK3ZMGOEDBVYHCBNX4O5HRLRNS5OQHF6A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH5PQ3PGI7P46VX6AWGDO6V4QR3NMZROCFIH77PLFOAPPUMIIWA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMNZGKMIZWD7G3C4N5BWJ7T3CFKJZJJOH5VT5WGVHWCR56X7MG5A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWPVJ2AURJCCE4IMF3WPQF4NFCHGRV6XGUVZAF6UG3LZYUM2OMVQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENMARPENBNFYRLFN6CGZFNMNPQRQ65PYFF7XT2ZR75VHEFM3XEMQ/vendors2.js",
[...]
