{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-02-12",
        "endpointPrefix": "sqlworkbench",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "CranberryFrontendCoralService",
        "serviceId": "SQLWorkbench",
        "signatureVersion": "v4",
        "signingName": "sqlworkbench",
        "uid": "sqlworkbench-2024-02-12",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3TOROANJZWF3HB567CNYE3CAH5KHQIU646QISEALT37KDB7T57A/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6TTSEFZ4BALPQ3BANCYVIF6B7QCFUAYU26LAODTRMACRZDMXQGQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
        ]
    },
    "operations": {
        "CreateBeer": {
            "http": {
                "requestUri": "/beer",
                "responseCode": 200
            },
            "input": {
                "shape": "S1"
            },
            "output": {
                "shape": "S1"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3TOROANJZWF3HB567CNYE3CAH5KHQIU646QISEALT37KDB7T57A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6TTSEFZ4BALPQ3BANCYVIF6B7QCFUAYU26LAODTRMACRZDMXQGQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        },
        "CreateConnection": {
            "http": {
                "method": "PUT",
                "requestUri": "/connection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "databaseName",
                    "authenticationType"
                ],
                "members": {
                    "name": {
                        "type": "string",
                        "sensitive": true
                    },
                    "databaseName": {
                        "type": "string",
                        "sensitive": true
                    },
                    "authenticationType": {
                        "type": "string",
                        "sensitive": true
                    },
                    "isProd": {},
                    "userSettings": {},
                    "secretArn": {},
                    "clusterId": {},
                    "isServerless": {
                        "type": "boolean"
                    },
                    "dbUser": {
                        "type": "string",
                        "sensitive": true
                    },
                    "isStoreNewSecret": {},
                    "username": {
                        "type": "string",
                        "sensitive": true
                    },
                    "password": {
                        "type": "string",
                        "sensitive": true
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "host": {},
                    "secretName": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "data": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3TOROANJZWF3HB567CNYE3CAH5KHQIU646QISEALT37KDB7T57A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6TTSEFZ4BALPQ3BANCYVIF6B7QCFUAYU26LAODTRMACRZDMXQGQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        },
        "DeleteConnection": {
            "http": {
                "requestUri": "/connections/{connectionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectionId"
                ],
                "members": {
                    "connectionId": {
                        "location": "uri",
                        "locationName": "connectionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "data": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3TOROANJZWF3HB567CNYE3CAH5KHQIU646QISEALT37KDB7T57A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6TTSEFZ4BALPQ3BANCYVIF6B7QCFUAYU26LAODTRMACRZDMXQGQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        },
        "DriverExecute": {
            "http": {
                "requestUri": "/driver",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "path",
                    "data"
                ],
                "members": {
                    "path": {},
                    "data": {
                        "type": "string",
                        "sensitive": true
                    },
                    "databaseName": {
                        "shape": "Sn"
                    },
                    "version": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "code": {
                        "location": "statusCode",
                        "type": "integer"
                    },
                    "data": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3TOROANJZWF3HB567CNYE3CAH5KHQIU646QISEALT37KDB7T57A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6TTSEFZ4BALPQ3BANCYVIF6B7QCFUAYU26LAODTRMACRZDMXQGQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        },
        "GetAllBeers": {
            "http": {
                "method": "GET",
                "requestUri": "/beer",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "beers": {
                        "type": "list",
                        "member": {
                            "shape": "S1"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3TOROANJZWF3HB567CNYE3CAH5KHQIU646QISEALT37KDB7T57A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6TTSEFZ4BALPQ3BANCYVIF6B7QCFUAYU26LAODTRMACRZDMXQGQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        },
        "GetConnection": {
            "http": {
                "method": "GET",
                "requestUri": "/connections/{connectionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectionId"
                ],
                "members": {
                    "connectionId": {
                        "location": "uri",
                        "locationName": "connectionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "data": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3TOROANJZWF3HB567CNYE3CAH5KHQIU646QISEALT37KDB7T57A/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIDZSDJBCWZVB2U3WDW2CGXP3XFAYK7P22PPCEZNH6IAW42LUN2Q/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6TTSEFZ4BALPQ3BANCYVIF6B7QCFUAYU26LAODTRMACRZDMXQGQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js"
            ]
        }
    },
    "shapes": {
        "S1": {
            "type": "structure",
            "required": [
                "name"
            ],
            "members": {
                "beerId": {
                    "type": "long"
                },
                "name": {},
                "description": {},
                "beerCompanyName": {},
                "beerTypeName": {}
            }
        },
        "Si": {
            "type": "structure",
            "members": {
                "key": {},
                "value": {}
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "id": {},
                "name": {
                    "type": "string",
                    "sensitive": true
                },
                "authenticationType": {
                    "type": "string",
                    "sensitive": true
                },
                "secretArn": {},
                "databaseName": {
                    "shape": "Sn"
                },
                "clusterId": {},
                "dbUser": {
                    "type": "string",
                    "sensitive": true
                },
                "isProd": {},
                "isEnabled": {},
                "userSettings": {},
                "recordDate": {},
                "updatedDate": {},
                "dbType": {},
                "tags": {
                    "shape": "Si"
                }
            }
        },
        "Sn": {
            "type": "string",
            "sensitive": true
        }
    }
}