{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2012-11-05",
        "awsQueryCompatible": {},
        "endpointPrefix": "sqs",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "Amazon SQS",
        "serviceFullName": "Amazon Simple Queue Service",
        "serviceId": "SQS",
        "signatureVersion": "v4",
        "targetPrefix": "AmazonSQS",
        "uid": "sqs-2012-11-05",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/2ce53d7a-8599-42a5-9b40-4a5ebb15b7db/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
            "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
        ]
    },
    "operations": {
        "AddPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label",
                    "AWSAccountIds",
                    "Actions"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {},
                    "AWSAccountIds": {
                        "type": "list",
                        "member": {},
                        "flattened": true
                    },
                    "Actions": {
                        "type": "list",
                        "member": {},
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "ChangeMessageVisibility": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle",
                    "VisibilityTimeout"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {},
                    "VisibilityTimeout": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "ChangeMessageVisibilityBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {},
                                "VisibilityTimeout": {
                                    "type": "integer"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "CreateQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "Attributes": {
                        "shape": "Sh"
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "DeleteMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "DeleteMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "DeleteQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "GetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Attributes": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "GetQueueUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "QueueOwnerAWSAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "ListDeadLetterSourceQueues": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "queueUrls"
                ],
                "members": {
                    "queueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "ListQueueTags": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "ListQueues": {
            "input": {
                "type": "structure",
                "members": {
                    "QueueNamePrefix": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "PurgeQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "ReceiveMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    },
                    "MessageAttributeNames": {
                        "type": "list",
                        "member": {},
                        "flattened": true
                    },
                    "MaxNumberOfMessages": {
                        "type": "integer"
                    },
                    "VisibilityTimeout": {
                        "type": "integer"
                    },
                    "WaitTimeSeconds": {
                        "type": "integer"
                    },
                    "ReceiveRequestAttemptId": {},
                    "MessageSystemAttributeNames": {
                        "type": "list",
                        "member": {},
                        "flattened": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MessageId": {},
                                "ReceiptHandle": {},
                                "MD5OfBody": {},
                                "Body": {},
                                "Attributes": {
                                    "type": "map",
                                    "key": {},
                                    "value": {},
                                    "flattened": true
                                },
                                "MD5OfMessageAttributes": {},
                                "MessageAttributes": {
                                    "shape": "S1i"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "RemovePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "SendMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "MessageBody"
                ],
                "members": {
                    "QueueUrl": {},
                    "MessageBody": {},
                    "DelaySeconds": {
                        "type": "integer"
                    },
                    "MessageAttributes": {
                        "shape": "S1i"
                    },
                    "MessageSystemAttributes": {
                        "shape": "S1p"
                    },
                    "MessageDeduplicationId": {},
                    "MessageGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MD5OfMessageBody": {},
                    "MD5OfMessageAttributes": {},
                    "MD5OfMessageSystemAttributes": {},
                    "MessageId": {},
                    "SequenceNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "SendMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageBody": {},
                                "DelaySeconds": {
                                    "type": "integer"
                                },
                                "MessageAttributes": {
                                    "shape": "S1i"
                                },
                                "MessageSystemAttributes": {
                                    "shape": "S1p"
                                },
                                "MessageDeduplicationId": {},
                                "MessageGroupId": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageId",
                                "MD5OfMessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageId": {},
                                "MD5OfMessageBody": {},
                                "MD5OfMessageAttributes": {},
                                "MD5OfMessageSystemAttributes": {},
                                "SequenceNumber": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "SetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Attributes"
                ],
                "members": {
                    "QueueUrl": {},
                    "Attributes": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "TagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Tags"
                ],
                "members": {
                    "QueueUrl": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "UntagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "TagKeys"
                ],
                "members": {
                    "QueueUrl": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {},
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "CancelMessageMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskHandle"
                ],
                "members": {
                    "TaskHandle": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "ListMessageMoveTasks": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn"
                ],
                "members": {
                    "SourceArn": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "flattened": true,
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TaskHandle": {},
                                "Status": {},
                                "SourceArn": {},
                                "DestinationArn": {},
                                "MaxNumberOfMessagesPerSecond": {
                                    "type": "integer"
                                },
                                "ApproximateNumberOfMessagesMoved": {
                                    "type": "long"
                                },
                                "ApproximateNumberOfMessagesToMove": {
                                    "type": "long"
                                },
                                "FailureReason": {},
                                "StartedTimestamp": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        },
        "StartMessageMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn"
                ],
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TaskHandle": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33VKBTM4YLAQRHA6VJJV5SVHZOSDKVWIWQUYQ4T2M6K5CB7U4H5Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRBIWNKL2MDZNBH7WGINTMBHVMAG3LKPQTU3MPJLC56FMDDS2C6Q/main.js"
            ]
        }
    },
    "shapes": {
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Id",
                    "SenderFault",
                    "Code"
                ],
                "members": {
                    "Id": {},
                    "SenderFault": {
                        "type": "boolean"
                    },
                    "Code": {},
                    "Message": {}
                }
            },
            "flattened": true
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {},
            "flattened": true
        },
        "Sj": {
            "type": "map",
            "key": {},
            "value": {},
            "flattened": true
        },
        "Sw": {
            "type": "list",
            "member": {},
            "flattened": true
        },
        "S14": {
            "type": "list",
            "member": {},
            "flattened": true
        },
        "S1i": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1l",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1m",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        },
        "S1l": {
            "type": "list",
            "member": {}
        },
        "S1m": {
            "type": "list",
            "member": {
                "type": "blob"
            }
        },
        "S1p": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1l",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1m",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Id",
                    "SenderFault",
                    "Code"
                ],
                "members": {
                    "Id": {},
                    "SenderFault": {
                        "type": "boolean"
                    },
                    "Code": {},
                    "Message": {}
                }
            },
            "flattened": true
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {},
            "flattened": true
        },
        "Sm": {
            "type": "map",
            "key": {},
            "value": {},
            "flattened": true
        },
        "Sz": {
            "type": "list",
            "member": {},
            "flattened": true
        },
        "S17": {
            "type": "list",
            "member": {},
            "flattened": true
        },
        "S1q": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1t",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1u",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        },
        "S1t": {
            "type": "list",
            "member": {}
        },
        "S1u": {
            "type": "list",
            "member": {
                "type": "blob"
            }
        },
        "S1x": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1t",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1u",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        },
        "S1r": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1u",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1v",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        },
        "S1v": {
            "type": "list",
            "member": {
                "type": "blob"
            }
        },
        "S1y": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1u",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1v",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        }
    }
}