{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2012-11-05",
        "endpointPrefix": "sqs",
        "protocol": "query",
        "serviceAbbreviation": "Amazon SQS",
        "serviceFullName": "Amazon Simple Queue Service",
        "serviceId": "SQS",
        "signatureVersion": "v4",
        "uid": "sqs-2012-11-05",
        "xmlNamespace": "http://queue.amazonaws.com/doc/2012-11-05/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
        ]
    },
    "operations": {
        "AddPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label",
                    "AWSAccountIds",
                    "Actions"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {},
                    "AWSAccountIds": {
                        "type": "list",
                        "member": {
                            "locationName": "AWSAccountId"
                        },
                        "flattened": true
                    },
                    "Actions": {
                        "type": "list",
                        "member": {
                            "locationName": "ActionName"
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ChangeMessageVisibility": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle",
                    "VisibilityTimeout"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {},
                    "VisibilityTimeout": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ChangeMessageVisibilityBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "locationName": "ChangeMessageVisibilityBatchRequestEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {},
                                "VisibilityTimeout": {
                                    "type": "integer"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "resultWrapper": "ChangeMessageVisibilityBatchResult",
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "locationName": "ChangeMessageVisibilityBatchResultEntry",
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "Attributes": {
                        "shape": "Sh",
                        "locationName": "Attribute"
                    },
                    "tags": {
                        "shape": "Sj",
                        "locationName": "Tag"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateQueueResult",
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "locationName": "DeleteMessageBatchRequestEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "resultWrapper": "DeleteMessageBatchResult",
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "locationName": "DeleteMessageBatchResultEntry",
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetQueueAttributesResult",
                "type": "structure",
                "members": {
                    "Attributes": {
                        "shape": "Sh",
                        "locationName": "Attribute"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "GetQueueUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "QueueOwnerAWSAccountId": {}
                }
            },
            "output": {
                "resultWrapper": "GetQueueUrlResult",
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ListDeadLetterSourceQueues": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListDeadLetterSourceQueuesResult",
                "type": "structure",
                "required": [
                    "queueUrls"
                ],
                "members": {
                    "queueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ListQueueTags": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "output": {
                "resultWrapper": "ListQueueTagsResult",
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sj",
                        "locationName": "Tag"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ListQueues": {
            "input": {
                "type": "structure",
                "members": {
                    "QueueNamePrefix": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListQueuesResult",
                "type": "structure",
                "members": {
                    "QueueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "PurgeQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ReceiveMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    },
                    "MessageAttributeNames": {
                        "type": "list",
                        "member": {
                            "locationName": "MessageAttributeName"
                        },
                        "flattened": true
                    },
                    "MaxNumberOfMessages": {
                        "type": "integer"
                    },
                    "VisibilityTimeout": {
                        "type": "integer"
                    },
                    "WaitTimeSeconds": {
                        "type": "integer"
                    },
                    "ReceiveRequestAttemptId": {}
                }
            },
            "output": {
                "resultWrapper": "ReceiveMessageResult",
                "type": "structure",
                "members": {
                    "Messages": {
                        "type": "list",
                        "member": {
                            "locationName": "Message",
                            "type": "structure",
                            "members": {
                                "MessageId": {},
                                "ReceiptHandle": {},
                                "MD5OfBody": {},
                                "Body": {},
                                "Attributes": {
                                    "locationName": "Attribute",
                                    "type": "map",
                                    "key": {
                                        "locationName": "Name"
                                    },
                                    "value": {
                                        "locationName": "Value"
                                    },
                                    "flattened": true
                                },
                                "MD5OfMessageAttributes": {},
                                "MessageAttributes": {
                                    "shape": "S1i",
                                    "locationName": "MessageAttribute"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "RemovePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "SendMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "MessageBody"
                ],
                "members": {
                    "QueueUrl": {},
                    "MessageBody": {},
                    "DelaySeconds": {
                        "type": "integer"
                    },
                    "MessageAttributes": {
                        "shape": "S1i",
                        "locationName": "MessageAttribute"
                    },
                    "MessageSystemAttributes": {
                        "shape": "S1p",
                        "locationName": "MessageSystemAttribute"
                    },
                    "MessageDeduplicationId": {},
                    "MessageGroupId": {}
                }
            },
            "output": {
                "resultWrapper": "SendMessageResult",
                "type": "structure",
                "members": {
                    "MD5OfMessageBody": {},
                    "MD5OfMessageAttributes": {},
                    "MD5OfMessageSystemAttributes": {},
                    "MessageId": {},
                    "SequenceNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "SendMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "locationName": "SendMessageBatchRequestEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageBody": {},
                                "DelaySeconds": {
                                    "type": "integer"
                                },
                                "MessageAttributes": {
                                    "shape": "S1i",
                                    "locationName": "MessageAttribute"
                                },
                                "MessageSystemAttributes": {
                                    "shape": "S1p",
                                    "locationName": "MessageSystemAttribute"
                                },
                                "MessageDeduplicationId": {},
                                "MessageGroupId": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "resultWrapper": "SendMessageBatchResult",
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "locationName": "SendMessageBatchResultEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageId",
                                "MD5OfMessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageId": {},
                                "MD5OfMessageBody": {},
                                "MD5OfMessageAttributes": {},
                                "MD5OfMessageSystemAttributes": {},
                                "SequenceNumber": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "SetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Attributes"
                ],
                "members": {
                    "QueueUrl": {},
                    "Attributes": {
                        "shape": "Sh",
                        "locationName": "Attribute"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "TagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Tags"
                ],
                "members": {
                    "QueueUrl": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "UntagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "TagKeys"
                ],
                "members": {
                    "QueueUrl": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {
                            "locationName": "TagKey"
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZNVECZQPPNDVBQRG2Z44FVKUPH4OXEA6EXHJRQVFMLUEPBBFYFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUCVD5MF6ARJCBON4CAXDUEEEPSH334WVJIPOL4X4AR2FFFC5XBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6DPUBODKS7DSYJAIDIJ5DIPKAOXF4FCVFSY3Y72FXEGIKAVCTAA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GEBULXE2K2TGW2K377ALCFGTPLUXV5BBXL2OYILC3VZPZFXNAU5Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G64NFGMB65Y2LXVUFR5GBDK5V2ZJQIYHBYADIAIHDOCW2XHJOTA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6POY67MBM7X63HZDWJLXRGPUN643YXYY5BXRCEX4NBKEYRVET7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CancelMessageMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskHandle"
                ],
                "members": {
                    "TaskHandle": {}
                }
            },
            "output": {
                "resultWrapper": "CancelMessageMoveTaskResult",
                "type": "structure",
                "members": {
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNYGS6GK6RE2XV4FO2HCXXGDWKSMAHA2OW2HDHWZZZWHNV2KRIVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIUI6BAZVXS5MDVLGNB4YLBOZND5ORUEVNU6YOOIIRYNNJZOBXSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIUI6BAZVXS5MDVLGNB4YLBOZND5ORUEVNU6YOOIIRYNNJZOBXSQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR43Z35DOUPG44OUJ76B6KFMQIBG7MPW6EB4XJXITH3XNZOZLSFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR43Z35DOUPG44OUJ76B6KFMQIBG7MPW6EB4XJXITH3XNZOZLSFQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTH5S2IVZJPCGBRHDORMWEJVEB42N6XFBIZEQPT5P3TMYQF2YP3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWLOOMS44TNZP4XVVMLAKYBTISCKJBXAXTT7M46AUYP6XWQI3OMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYLPTZ3VNFLMJQHVAERIK4CRJJ4O7DTSBXCYK3TMSAXSJQF66EQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYLPTZ3VNFLMJQHVAERIK4CRJJ4O7DTSBXCYK3TMSAXSJQF66EQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA62RS5D3IGVI5JCL7NLP7FGP4VF4QIRY7UJ56K7DTE5J4LR2TUQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA62RS5D3IGVI5JCL7NLP7FGP4VF4QIRY7UJ56K7DTE5J4LR2TUQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET6BSN67JSVM4DDV47XN5VG7D6LONEBENJNATAZNEC4TR3QBKGMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GRDQF7R3XBKGQV4HZYWRL5JGXIIEO5IJFSFBRCI4MPKYNSIVMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX2XHZWVBTJZ5UNWFMGXIBMRCMPIDVXNSAXYYRJNEDCPB7GTGOYA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX2XHZWVBTJZ5UNWFMGXIBMRCMPIDVXNSAXYYRJNEDCPB7GTGOYA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js"
            ]
        },
        "CancelMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "TaskName"
                ],
                "members": {
                    "SourceArn": {},
                    "TaskName": {}
                }
            },
            "output": {
                "resultWrapper": "CancelMoveTaskResult",
                "type": "structure",
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {},
                    "Status": {},
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    },
                    "CreateTime": {
                        "type": "long"
                    },
                    "FailureReason": {},
                    "TaskHandle": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KENERLIQIGNPV7KMZQLKRCRFUN7Q2TWURKW3F6A3ZWNBRGSBG4LQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF67LWSJH4DP2QEPBHLZOFLAZZKT3BTYTELEBMIDM62OYKITTDKQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIMQPX7JBG7FRSKLJYTDPGIFFXYWPKTZLRMPKHQZ7VKME2CJ3CJA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QDMWJN5N5S56L5BK547UQ222BTVUJY2VXHXIFPUBHOUPE3ZKKA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2CJYS46YYAQFPWULNVN6VN56565NLPYPYGPKFHR4ZRVJD2CZQXA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QUP33H72ZWX2MWFR6UQ5ZBV4S77UCOBBIESDCZT5EPZ3EHCXFFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54M4NBU36OIC3OMN7ROUU5ZIG27H7VKQDVEIALQIABBCFFP5RCQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFYDJU6TWWUABRHDC4YKVBMKUTCNCGPIACHHMYDM5SJTYHMRLGSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QBP7A7NCEYNSBILYAAVDB4RDN3WKTKOBERH4K3HOXGBF5NONMA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YRJYRYOZ2WPNNLLTAQ4UOAKFBFSCYEKMUZH6IPIQ3DP73EKBNFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO2QVBIYUK37K3O62DCGB5KVQSDDEHF6ZEKNA3OZNMULN6ZF744Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K45ZLEOWCD6NOQZCUNOKH3N5CHUCH5VRG3BITME7R5UQLZDV3MQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6A3YU2IUOMI7QPIRI7UKC5NN3BRSCPCYR2A473BDVVVHN4N6BRRQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44IWFB6HKFIZ5XXYQPRPR3CFWSODMDWJ3G2QHR7YPHXRG2SHUWGA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIUI6BAZVXS5MDVLGNB4YLBOZND5ORUEVNU6YOOIIRYNNJZOBXSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR43Z35DOUPG44OUJ76B6KFMQIBG7MPW6EB4XJXITH3XNZOZLSFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYLPTZ3VNFLMJQHVAERIK4CRJJ4O7DTSBXCYK3TMSAXSJQF66EQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA62RS5D3IGVI5JCL7NLP7FGP4VF4QIRY7UJ56K7DTE5J4LR2TUQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX2XHZWVBTJZ5UNWFMGXIBMRCMPIDVXNSAXYYRJNEDCPB7GTGOYA/vendors.amzn.js"
            ]
        },
        "CreateMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskName",
                    "SourceArn"
                ],
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {}
                }
            },
            "output": {
                "resultWrapper": "CreateMoveTaskResult",
                "type": "structure",
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {},
                    "Status": {},
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    },
                    "CreateTime": {
                        "type": "long"
                    },
                    "FailureReason": {},
                    "TaskHandle": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KENERLIQIGNPV7KMZQLKRCRFUN7Q2TWURKW3F6A3ZWNBRGSBG4LQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF67LWSJH4DP2QEPBHLZOFLAZZKT3BTYTELEBMIDM62OYKITTDKQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIMQPX7JBG7FRSKLJYTDPGIFFXYWPKTZLRMPKHQZ7VKME2CJ3CJA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QDMWJN5N5S56L5BK547UQ222BTVUJY2VXHXIFPUBHOUPE3ZKKA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2CJYS46YYAQFPWULNVN6VN56565NLPYPYGPKFHR4ZRVJD2CZQXA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QUP33H72ZWX2MWFR6UQ5ZBV4S77UCOBBIESDCZT5EPZ3EHCXFFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54M4NBU36OIC3OMN7ROUU5ZIG27H7VKQDVEIALQIABBCFFP5RCQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFYDJU6TWWUABRHDC4YKVBMKUTCNCGPIACHHMYDM5SJTYHMRLGSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QBP7A7NCEYNSBILYAAVDB4RDN3WKTKOBERH4K3HOXGBF5NONMA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YRJYRYOZ2WPNNLLTAQ4UOAKFBFSCYEKMUZH6IPIQ3DP73EKBNFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO2QVBIYUK37K3O62DCGB5KVQSDDEHF6ZEKNA3OZNMULN6ZF744Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K45ZLEOWCD6NOQZCUNOKH3N5CHUCH5VRG3BITME7R5UQLZDV3MQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6A3YU2IUOMI7QPIRI7UKC5NN3BRSCPCYR2A473BDVVVHN4N6BRRQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44IWFB6HKFIZ5XXYQPRPR3CFWSODMDWJ3G2QHR7YPHXRG2SHUWGA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIUI6BAZVXS5MDVLGNB4YLBOZND5ORUEVNU6YOOIIRYNNJZOBXSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR43Z35DOUPG44OUJ76B6KFMQIBG7MPW6EB4XJXITH3XNZOZLSFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYLPTZ3VNFLMJQHVAERIK4CRJJ4O7DTSBXCYK3TMSAXSJQF66EQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA62RS5D3IGVI5JCL7NLP7FGP4VF4QIRY7UJ56K7DTE5J4LR2TUQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX2XHZWVBTJZ5UNWFMGXIBMRCMPIDVXNSAXYYRJNEDCPB7GTGOYA/vendors.amzn.js"
            ]
        },
        "DescribeMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "TaskName"
                ],
                "members": {
                    "SourceArn": {},
                    "TaskName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeMoveTaskResult",
                "type": "structure",
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
[...]
