{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2012-11-05",
        "awsQueryCompatible": {},
        "endpointPrefix": "sqs",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "Amazon SQS",
        "serviceFullName": "Amazon Simple Queue Service",
        "serviceId": "SQS",
        "signatureVersion": "v4",
        "targetPrefix": "AmazonSQS",
        "uid": "sqs-2012-11-05",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
        ]
    },
    "operations": {
        "AddPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label",
                    "AWSAccountIds",
                    "Actions"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {},
                    "AWSAccountIds": {
                        "type": "list",
                        "member": {},
                        "flattened": true
                    },
                    "Actions": {
                        "type": "list",
                        "member": {},
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "ChangeMessageVisibility": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle",
                    "VisibilityTimeout"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {},
                    "VisibilityTimeout": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "ChangeMessageVisibilityBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {},
                                "VisibilityTimeout": {
                                    "type": "integer"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "CreateQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "Attributes": {
                        "shape": "Sh"
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "DeleteMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "DeleteMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "DeleteQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "GetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Attributes": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "GetQueueUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "QueueOwnerAWSAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "ListDeadLetterSourceQueues": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "queueUrls"
                ],
                "members": {
                    "queueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "ListQueueTags": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "ListQueues": {
            "input": {
                "type": "structure",
                "members": {
                    "QueueNamePrefix": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "PurgeQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "ReceiveMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    },
                    "MessageAttributeNames": {
                        "type": "list",
                        "member": {},
                        "flattened": true
                    },
                    "MaxNumberOfMessages": {
                        "type": "integer"
                    },
                    "VisibilityTimeout": {
                        "type": "integer"
                    },
                    "WaitTimeSeconds": {
                        "type": "integer"
                    },
                    "ReceiveRequestAttemptId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MessageId": {},
                                "ReceiptHandle": {},
                                "MD5OfBody": {},
                                "Body": {},
                                "Attributes": {
                                    "type": "map",
                                    "key": {},
                                    "value": {},
                                    "flattened": true
                                },
                                "MD5OfMessageAttributes": {},
                                "MessageAttributes": {
                                    "shape": "S1i"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "RemovePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "SendMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "MessageBody"
                ],
                "members": {
                    "QueueUrl": {},
                    "MessageBody": {},
                    "DelaySeconds": {
                        "type": "integer"
                    },
                    "MessageAttributes": {
                        "shape": "S1i"
                    },
                    "MessageSystemAttributes": {
                        "shape": "S1p"
                    },
                    "MessageDeduplicationId": {},
                    "MessageGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MD5OfMessageBody": {},
                    "MD5OfMessageAttributes": {},
                    "MD5OfMessageSystemAttributes": {},
                    "MessageId": {},
                    "SequenceNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "SendMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageBody": {},
                                "DelaySeconds": {
                                    "type": "integer"
                                },
                                "MessageAttributes": {
                                    "shape": "S1i"
                                },
                                "MessageSystemAttributes": {
                                    "shape": "S1p"
                                },
                                "MessageDeduplicationId": {},
                                "MessageGroupId": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageId",
                                "MD5OfMessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageId": {},
                                "MD5OfMessageBody": {},
                                "MD5OfMessageAttributes": {},
                                "MD5OfMessageSystemAttributes": {},
                                "SequenceNumber": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "SetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Attributes"
                ],
                "members": {
                    "QueueUrl": {},
                    "Attributes": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "TagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Tags"
                ],
                "members": {
                    "QueueUrl": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "UntagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "TagKeys"
                ],
                "members": {
                    "QueueUrl": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {},
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMGDGHXRRCKUVNRA5DYVOJP2A4JR4H55UN76BAUAPJODKVIK32AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPTM23L4MYABYINBOMG3NZMBXIFTA5EFARTUTKF3WORTU2TRWBFA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLBSOOEBBNY7EQJOFT2KNBBUYDSOZW5XHY3MGI6FJZABGEI2EF4Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7OW5RUQQUJ276NLBTNPVNOUQKCYUJJG4JSQ3VOBLL2MM2IKV4A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OR473HKAVH4CPQTYJPFQTTOLEB7TVKEWU5LWX6TGXQQM7YPNYFRQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33AVOVXZQZEVV7WZ7M2BLJ6G6EI2K52CI5J4RSZJX4VKOUR23ARQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKURW33WZXTZRLOL2K6OJOZPKIVROVVGWXK4UFMNOSC23XQ3MIPA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YCCBTQYQ7DGAHR3W2TGVUOUL5OO32UNINPDQB6IWZWMII2U2EPEA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIKZ43RMZUOSTK7BVJGEZMSYDYRFZ5UX7XYWMDSIIF6R4RUEDH7Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMRH4GICOJP3KJC26P274YSALGFMDES3SUWY44G5PBP77EXJ7VZQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGJLZ43LWZF6XAGJL4YUIGPDFT62LZKDL35QAKQAVLHKUHEU4DQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/45T35ELAWZBJGLLKB5WV5P2C33CGU64QJQF4JXR4M447SQPVJALA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NQM52NXCQ2WWJIZ3USO37H3WLNODBW5L2XPY6G7VNHHI22LNFVQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFQKY52ZX2EVOUW4TJAP5XSEIPUMZDM6336BGE6ODSCHYP4N267A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "CancelMessageMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskHandle"
                ],
                "members": {
                    "TaskHandle": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "ListMessageMoveTasks": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn"
                ],
                "members": {
                    "SourceArn": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "flattened": true,
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TaskHandle": {},
                                "Status": {},
                                "SourceArn": {},
                                "DestinationArn": {},
                                "MaxNumberOfMessagesPerSecond": {
                                    "type": "integer"
                                },
                                "ApproximateNumberOfMessagesMoved": {
                                    "type": "long"
                                },
                                "ApproximateNumberOfMessagesToMove": {
                                    "type": "long"
                                },
                                "FailureReason": {},
                                "StartedTimestamp": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        },
        "StartMessageMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn"
                ],
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TaskHandle": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OXACWIWQOR5PBG4PE2BD6AKFZMTZ7RLRUM3B4O5I5LTGTHG77TQ/vendors.misc.js"
            ]
        }
    },
    "shapes": {
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Id",
                    "SenderFault",
                    "Code"
                ],
                "members": {
                    "Id": {},
                    "SenderFault": {
                        "type": "boolean"
                    },
                    "Code": {},
                    "Message": {}
                }
            },
            "flattened": true
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {},
            "flattened": true
        },
        "Sj": {
            "type": "map",
            "key": {},
            "value": {},
            "flattened": true
        },
        "Sw": {
            "type": "list",
            "member": {},
            "flattened": true
        },
        "S14": {
            "type": "list",
            "member": {},
            "flattened": true
        },
        "S1i": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1l",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1m",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        },
        "S1l": {
            "type": "list",
            "member": {}
        },
        "S1m": {
            "type": "list",
            "member": {
                "type": "blob"
            }
        },
        "S1p": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1l",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1m",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Id",
                    "SenderFault",
                    "Code"
                ],
                "members": {
                    "Id": {},
                    "SenderFault": {
                        "type": "boolean"
                    },
                    "Code": {},
                    "Message": {}
                }
            },
            "flattened": true
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {},
            "flattened": true
        },
        "Sm": {
            "type": "map",
            "key": {},
            "value": {},
            "flattened": true
        },
        "Sz": {
            "type": "list",
            "member": {},
            "flattened": true
        },
        "S17": {
            "type": "list",
            "member": {},
            "flattened": true
        },
        "S1q": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1t",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1u",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        },
        "S1t": {
            "type": "list",
            "member": {}
        },
        "S1u": {
            "type": "list",
            "member": {
                "type": "blob"
            }
        },
        "S1x": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1t",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1u",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        }
    }
}