{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2012-11-05",
        "endpointPrefix": "sqs",
        "protocol": "query",
        "serviceAbbreviation": "Amazon SQS",
        "serviceFullName": "Amazon Simple Queue Service",
        "serviceId": "SQS",
        "signatureVersion": "v4",
        "uid": "sqs-2012-11-05",
        "xmlNamespace": "http://queue.amazonaws.com/doc/2012-11-05/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7A75OL7OX7V2644H5RNKNC3K3CPZGXBTPKXKVTSQ75UR3R4MSLHQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js"
        ]
    },
    "operations": {
        "AddPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label",
                    "AWSAccountIds",
                    "Actions"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {},
                    "AWSAccountIds": {
                        "type": "list",
                        "member": {
                            "locationName": "AWSAccountId"
                        },
                        "flattened": true
                    },
                    "Actions": {
                        "type": "list",
                        "member": {
                            "locationName": "ActionName"
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "ChangeMessageVisibility": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle",
                    "VisibilityTimeout"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {},
                    "VisibilityTimeout": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "ChangeMessageVisibilityBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "locationName": "ChangeMessageVisibilityBatchRequestEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {},
                                "VisibilityTimeout": {
                                    "type": "integer"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "resultWrapper": "ChangeMessageVisibilityBatchResult",
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "locationName": "ChangeMessageVisibilityBatchResultEntry",
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "CreateQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "Attributes": {
                        "shape": "Sh",
                        "locationName": "Attribute"
                    },
                    "tags": {
                        "shape": "Sj",
                        "locationName": "Tag"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateQueueResult",
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "DeleteMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "DeleteMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "locationName": "DeleteMessageBatchRequestEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "resultWrapper": "DeleteMessageBatchResult",
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "locationName": "DeleteMessageBatchResultEntry",
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "DeleteQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "GetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetQueueAttributesResult",
                "type": "structure",
                "members": {
                    "Attributes": {
                        "shape": "Sh",
                        "locationName": "Attribute"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "GetQueueUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "QueueOwnerAWSAccountId": {}
                }
            },
            "output": {
                "resultWrapper": "GetQueueUrlResult",
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "ListDeadLetterSourceQueues": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListDeadLetterSourceQueuesResult",
                "type": "structure",
                "required": [
                    "queueUrls"
                ],
                "members": {
                    "queueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "ListQueueTags": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "output": {
                "resultWrapper": "ListQueueTagsResult",
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sj",
                        "locationName": "Tag"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "ListQueues": {
            "input": {
                "type": "structure",
                "members": {
                    "QueueNamePrefix": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListQueuesResult",
                "type": "structure",
                "members": {
                    "QueueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "PurgeQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "ReceiveMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    },
                    "MessageAttributeNames": {
                        "type": "list",
                        "member": {
                            "locationName": "MessageAttributeName"
                        },
                        "flattened": true
                    },
                    "MaxNumberOfMessages": {
                        "type": "integer"
                    },
                    "VisibilityTimeout": {
                        "type": "integer"
                    },
                    "WaitTimeSeconds": {
                        "type": "integer"
                    },
                    "ReceiveRequestAttemptId": {}
                }
            },
            "output": {
                "resultWrapper": "ReceiveMessageResult",
                "type": "structure",
                "members": {
                    "Messages": {
                        "type": "list",
                        "member": {
                            "locationName": "Message",
                            "type": "structure",
                            "members": {
                                "MessageId": {},
                                "ReceiptHandle": {},
                                "MD5OfBody": {},
                                "Body": {},
                                "Attributes": {
                                    "locationName": "Attribute",
                                    "type": "map",
                                    "key": {
                                        "locationName": "Name"
                                    },
                                    "value": {
                                        "locationName": "Value"
                                    },
                                    "flattened": true
                                },
                                "MD5OfMessageAttributes": {},
                                "MessageAttributes": {
                                    "shape": "S1i",
                                    "locationName": "MessageAttribute"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "RemovePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "SendMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "MessageBody"
                ],
                "members": {
                    "QueueUrl": {},
                    "MessageBody": {},
                    "DelaySeconds": {
                        "type": "integer"
                    },
                    "MessageAttributes": {
                        "shape": "S1i",
                        "locationName": "MessageAttribute"
                    },
                    "MessageSystemAttributes": {
                        "shape": "S1p",
                        "locationName": "MessageSystemAttribute"
                    },
                    "MessageDeduplicationId": {},
                    "MessageGroupId": {}
                }
            },
            "output": {
                "resultWrapper": "SendMessageResult",
                "type": "structure",
                "members": {
                    "MD5OfMessageBody": {},
                    "MD5OfMessageAttributes": {},
                    "MD5OfMessageSystemAttributes": {},
                    "MessageId": {},
                    "SequenceNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "SendMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "locationName": "SendMessageBatchRequestEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageBody": {},
                                "DelaySeconds": {
                                    "type": "integer"
                                },
                                "MessageAttributes": {
                                    "shape": "S1i",
                                    "locationName": "MessageAttribute"
                                },
                                "MessageSystemAttributes": {
                                    "shape": "S1p",
                                    "locationName": "MessageSystemAttribute"
                                },
                                "MessageDeduplicationId": {},
                                "MessageGroupId": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "resultWrapper": "SendMessageBatchResult",
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "locationName": "SendMessageBatchResultEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageId",
                                "MD5OfMessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageId": {},
                                "MD5OfMessageBody": {},
                                "MD5OfMessageAttributes": {},
                                "MD5OfMessageSystemAttributes": {},
                                "SequenceNumber": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "SetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Attributes"
                ],
                "members": {
                    "QueueUrl": {},
                    "Attributes": {
                        "shape": "Sh",
                        "locationName": "Attribute"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "TagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Tags"
                ],
                "members": {
                    "QueueUrl": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "UntagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "TagKeys"
                ],
                "members": {
                    "QueueUrl": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {
                            "locationName": "TagKey"
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VTTVQHE376BBNO3AJAJGB5O2RXY6SHLECMFZXVZXQKU4I3BQQIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLRANLJ4GYWM267Z2JEJS4XC77PM7V2VGBN5BN3CCB33B4MUSZCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBMJWCOBKL4ATOFFJ3UCG267OXHSOK7TTKTBHWQ3SCLQQBEJAVNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5FCWFEFOIM4SL5ZJS43IM2KMT7542IRZM7VKJBTPEUM2DQ2ZLJ7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGGFPMARLHESCLPF6MGWSHQIFFQOTTNXOT4USSGRKZQ74KQ33HLQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMHDGNBPNRWWUSFOUIUBSRBWWCDIV7LULOXGXXTHKZLECG33RWKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWSKPYINQ5LLFOH3YESISCSFDT3KTOMVYFLXJXB3UPYKOJCN452A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZX3FREL4546U6VBIYX24NDM6FIS43NTQHJNC2ZEJJGSFCSHMZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NW75K7OQCRYWA3RVIQUYK62XSSHTQXAVC67INFFHDH2OOZW53CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYIQIK622I232YAPHT66XBSNWXCT7Q5KWSEDH5FGCBOWN45LI3QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4RJYRQD6S5ZZOVWYWDQFBQUDRL5CO3M5KXIPYA43Y6EGAYHJXLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N47ULKARSYE43X4GROBMRUEPY7R6PLRFFEWUM47MKTRMJXC4FXWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGYC6FNBR4JO6SVWHOKMBOLIXISRWEPCN3J6RECGYC3GIFXIRMKQ/main.js"
            ]
        },
        "CancelMessageMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskHandle"
                ],
                "members": {
                    "TaskHandle": {}
                }
            },
            "output": {
                "resultWrapper": "CancelMessageMoveTaskResult",
                "type": "structure",
                "members": {
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX2XHZWVBTJZ5UNWFMGXIBMRCMPIDVXNSAXYYRJNEDCPB7GTGOYA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX2XHZWVBTJZ5UNWFMGXIBMRCMPIDVXNSAXYYRJNEDCPB7GTGOYA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC5XYZKLTX5SZVDBGFIRLMM347WKUU6JJKHLGEPSKOCZVMBUNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EORVMQTVO322JDTY3VECQCS4OYTB73VN6OXG6WQJOUG6W3EPILA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVBHE53DI5GXD7WWHZWUP2QHNBM35VRCIKKINZV2XTKDOH6EFE4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLYCW7E7BQUG3TVAMUMDMOVJ2BGWAUOZQDUCJ4YQYNPXRXBGWYLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6E6PYHJYFNAFWJNCJZRL45F2IGABG4FOSG26MTMIGR52D25MP7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GICXZIHSR6HL52Z5CHEVWAXG4TPVIWRN7QGNSMKQHIXJMSRBKWPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCQSBB4U72TG6CS4WXCL7RTXZDJ6BSAFTKVMJM6FNKZWHSHJHZQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKOE4JSVBWAI6GXKKUGGB2YG3EJPLZC26Y6OXW7ED4BFGBFA52OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22AB7D4TKQGK6K4WO5G7SAQXCFVP7BLFOBRQMUW7S3R3KTUBBCUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALBZRDYXWJNFGYFM5PIG5DAXLPQHZDATQB52B6JZ6VEADR7RG7FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44PM7PW77YZMBEN62R74RDHBV3OMTIVEII6BMEG4BWUJ33GW5MYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDNMYKAJJBBCQJFIHWBN5RGE4ESZ6IO62OQ23W5VPUWMIBUHIVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MLVGAOI66Q5YYDGCAINAU5BNRYFVQPK3RC6C4NMS2QPQ3ZIRSXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2C7I3N5MYGVNHRPMUWH642J7TU6LV3YDG6VWQR4KYZQUGCIJ3RQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ATKAUK3KKEL7RYIQPAI3HJ6KGUC3N47IBMGDCFYCX33RLEBQ3R7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CG7QUILZTZWQZPABKJRMG4BEXR6FIR2XZVDP6YCO5C2RTAL6SRBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6H6XCIE4E5LINXOK4J564NVR3ALJ5CGUPOOT5TCH4YZ5I6NXDEYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js"
            ]
        },
        "CancelMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "TaskName"
                ],
                "members": {
                    "SourceArn": {},
                    "TaskName": {}
                }
            },
            "output": {
                "resultWrapper": "CancelMoveTaskResult",
                "type": "structure",
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {},
                    "Status": {},
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    },
                    "CreateTime": {
                        "type": "long"
                    },
                    "FailureReason": {},
                    "TaskHandle": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KENERLIQIGNPV7KMZQLKRCRFUN7Q2TWURKW3F6A3ZWNBRGSBG4LQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF67LWSJH4DP2QEPBHLZOFLAZZKT3BTYTELEBMIDM62OYKITTDKQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIMQPX7JBG7FRSKLJYTDPGIFFXYWPKTZLRMPKHQZ7VKME2CJ3CJA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QDMWJN5N5S56L5BK547UQ222BTVUJY2VXHXIFPUBHOUPE3ZKKA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2CJYS46YYAQFPWULNVN6VN56565NLPYPYGPKFHR4ZRVJD2CZQXA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QUP33H72ZWX2MWFR6UQ5ZBV4S77UCOBBIESDCZT5EPZ3EHCXFFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54M4NBU36OIC3OMN7ROUU5ZIG27H7VKQDVEIALQIABBCFFP5RCQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFYDJU6TWWUABRHDC4YKVBMKUTCNCGPIACHHMYDM5SJTYHMRLGSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QBP7A7NCEYNSBILYAAVDB4RDN3WKTKOBERH4K3HOXGBF5NONMA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YRJYRYOZ2WPNNLLTAQ4UOAKFBFSCYEKMUZH6IPIQ3DP73EKBNFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO2QVBIYUK37K3O62DCGB5KVQSDDEHF6ZEKNA3OZNMULN6ZF744Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K45ZLEOWCD6NOQZCUNOKH3N5CHUCH5VRG3BITME7R5UQLZDV3MQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6A3YU2IUOMI7QPIRI7UKC5NN3BRSCPCYR2A473BDVVVHN4N6BRRQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44IWFB6HKFIZ5XXYQPRPR3CFWSODMDWJ3G2QHR7YPHXRG2SHUWGA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIUI6BAZVXS5MDVLGNB4YLBOZND5ORUEVNU6YOOIIRYNNJZOBXSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR43Z35DOUPG44OUJ76B6KFMQIBG7MPW6EB4XJXITH3XNZOZLSFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYLPTZ3VNFLMJQHVAERIK4CRJJ4O7DTSBXCYK3TMSAXSJQF66EQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA62RS5D3IGVI5JCL7NLP7FGP4VF4QIRY7UJ56K7DTE5J4LR2TUQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX2XHZWVBTJZ5UNWFMGXIBMRCMPIDVXNSAXYYRJNEDCPB7GTGOYA/vendors.amzn.js"
            ]
        },
        "CreateMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskName",
                    "SourceArn"
                ],
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {}
                }
            },
            "output": {
                "resultWrapper": "CreateMoveTaskResult",
                "type": "structure",
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {},
                    "Status": {},
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    },
                    "CreateTime": {
                        "type": "long"
                    },
                    "FailureReason": {},
                    "TaskHandle": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KENERLIQIGNPV7KMZQLKRCRFUN7Q2TWURKW3F6A3ZWNBRGSBG4LQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF67LWSJH4DP2QEPBHLZOFLAZZKT3BTYTELEBMIDM62OYKITTDKQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIMQPX7JBG7FRSKLJYTDPGIFFXYWPKTZLRMPKHQZ7VKME2CJ3CJA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QDMWJN5N5S56L5BK547UQ222BTVUJY2VXHXIFPUBHOUPE3ZKKA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2CJYS46YYAQFPWULNVN6VN56565NLPYPYGPKFHR4ZRVJD2CZQXA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QUP33H72ZWX2MWFR6UQ5ZBV4S77UCOBBIESDCZT5EPZ3EHCXFFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54M4NBU36OIC3OMN7ROUU5ZIG27H7VKQDVEIALQIABBCFFP5RCQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFYDJU6TWWUABRHDC4YKVBMKUTCNCGPIACHHMYDM5SJTYHMRLGSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QBP7A7NCEYNSBILYAAVDB4RDN3WKTKOBERH4K3HOXGBF5NONMA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YRJYRYOZ2WPNNLLTAQ4UOAKFBFSCYEKMUZH6IPIQ3DP73EKBNFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO2QVBIYUK37K3O62DCGB5KVQSDDEHF6ZEKNA3OZNMULN6ZF744Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K45ZLEOWCD6NOQZCUNOKH3N5CHUCH5VRG3BITME7R5UQLZDV3MQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6A3YU2IUOMI7QPIRI7UKC5NN3BRSCPCYR2A473BDVVVHN4N6BRRQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44IWFB6HKFIZ5XXYQPRPR3CFWSODMDWJ3G2QHR7YPHXRG2SHUWGA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIUI6BAZVXS5MDVLGNB4YLBOZND5ORUEVNU6YOOIIRYNNJZOBXSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR43Z35DOUPG44OUJ76B6KFMQIBG7MPW6EB4XJXITH3XNZOZLSFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYLPTZ3VNFLMJQHVAERIK4CRJJ4O7DTSBXCYK3TMSAXSJQF66EQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA62RS5D3IGVI5JCL7NLP7FGP4VF4QIRY7UJ56K7DTE5J4LR2TUQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX2XHZWVBTJZ5UNWFMGXIBMRCMPIDVXNSAXYYRJNEDCPB7GTGOYA/vendors.amzn.js"
            ]
        },
        "DescribeMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "TaskName"
                ],
                "members": {
                    "SourceArn": {},
                    "TaskName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeMoveTaskResult",
                "type": "structure",
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {},
                    "Status": {},
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    },
                    "CreateTime": {
                        "type": "long"
                    },
                    "FailureReason": {},
                    "TaskHandle": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KENERLIQIGNPV7KMZQLKRCRFUN7Q2TWURKW3F6A3ZWNBRGSBG4LQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF67LWSJH4DP2QEPBHLZOFLAZZKT3BTYTELEBMIDM62OYKITTDKQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIMQPX7JBG7FRSKLJYTDPGIFFXYWPKTZLRMPKHQZ7VKME2CJ3CJA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QDMWJN5N5S56L5BK547UQ222BTVUJY2VXHXIFPUBHOUPE3ZKKA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2CJYS46YYAQFPWULNVN6VN56565NLPYPYGPKFHR4ZRVJD2CZQXA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QUP33H72ZWX2MWFR6UQ5ZBV4S77UCOBBIESDCZT5EPZ3EHCXFFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54M4NBU36OIC3OMN7ROUU5ZIG27H7VKQDVEIALQIABBCFFP5RCQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFYDJU6TWWUABRHDC4YKVBMKUTCNCGPIACHHMYDM5SJTYHMRLGSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QBP7A7NCEYNSBILYAAVDB4RDN3WKTKOBERH4K3HOXGBF5NONMA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YRJYRYOZ2WPNNLLTAQ4UOAKFBFSCYEKMUZH6IPIQ3DP73EKBNFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO2QVBIYUK37K3O62DCGB5KVQSDDEHF6ZEKNA3OZNMULN6ZF744Q/vendors.amzn.js",
[...]
