{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2012-11-05",
        "awsQueryCompatible": {},
        "endpointPrefix": "sqs",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "Amazon SQS",
        "serviceFullName": "Amazon Simple Queue Service",
        "serviceId": "SQS",
        "signatureVersion": "v4",
        "targetPrefix": "AmazonSQS",
        "uid": "sqs-2012-11-05",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWILZMQ5RM6TQOXNRZD2VVSZW26VRX5AJO73SS6LPTOTBHRZSS3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
            "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
        ]
    },
    "operations": {
        "AddPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label",
                    "AWSAccountIds",
                    "Actions"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {},
                    "AWSAccountIds": {
                        "type": "list",
                        "member": {},
                        "flattened": true
                    },
                    "Actions": {
                        "type": "list",
                        "member": {},
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "ChangeMessageVisibility": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle",
                    "VisibilityTimeout"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {},
                    "VisibilityTimeout": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "ChangeMessageVisibilityBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {},
                                "VisibilityTimeout": {
                                    "type": "integer"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "CreateQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "Attributes": {
                        "shape": "Sh"
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "DeleteMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "DeleteMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "DeleteQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "GetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Attributes": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "GetQueueUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "QueueOwnerAWSAccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "ListDeadLetterSourceQueues": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "queueUrls"
                ],
                "members": {
                    "queueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "ListQueueTags": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "ListQueues": {
            "input": {
                "type": "structure",
                "members": {
                    "QueueNamePrefix": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "PurgeQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "ReceiveMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    },
                    "MessageAttributeNames": {
                        "type": "list",
                        "member": {},
                        "flattened": true
                    },
                    "MaxNumberOfMessages": {
                        "type": "integer"
                    },
                    "VisibilityTimeout": {
                        "type": "integer"
                    },
                    "WaitTimeSeconds": {
                        "type": "integer"
                    },
                    "ReceiveRequestAttemptId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Messages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MessageId": {},
                                "ReceiptHandle": {},
                                "MD5OfBody": {},
                                "Body": {},
                                "Attributes": {
                                    "type": "map",
                                    "key": {},
                                    "value": {},
                                    "flattened": true
                                },
                                "MD5OfMessageAttributes": {},
                                "MessageAttributes": {
                                    "shape": "S1i"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "RemovePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "SendMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "MessageBody"
                ],
                "members": {
                    "QueueUrl": {},
                    "MessageBody": {},
                    "DelaySeconds": {
                        "type": "integer"
                    },
                    "MessageAttributes": {
                        "shape": "S1i"
                    },
                    "MessageSystemAttributes": {
                        "shape": "S1p"
                    },
                    "MessageDeduplicationId": {},
                    "MessageGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MD5OfMessageBody": {},
                    "MD5OfMessageAttributes": {},
                    "MD5OfMessageSystemAttributes": {},
                    "MessageId": {},
                    "SequenceNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "SendMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageBody": {},
                                "DelaySeconds": {
                                    "type": "integer"
                                },
                                "MessageAttributes": {
                                    "shape": "S1i"
                                },
                                "MessageSystemAttributes": {
                                    "shape": "S1p"
                                },
                                "MessageDeduplicationId": {},
                                "MessageGroupId": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageId",
                                "MD5OfMessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageId": {},
                                "MD5OfMessageBody": {},
                                "MD5OfMessageAttributes": {},
                                "MD5OfMessageSystemAttributes": {},
                                "SequenceNumber": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "SetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Attributes"
                ],
                "members": {
                    "QueueUrl": {},
                    "Attributes": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "TagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Tags"
                ],
                "members": {
                    "QueueUrl": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "UntagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "TagKeys"
                ],
                "members": {
                    "QueueUrl": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {},
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "CancelMessageMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskHandle"
                ],
                "members": {
                    "TaskHandle": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "ListMessageMoveTasks": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn"
                ],
                "members": {
                    "SourceArn": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "flattened": true,
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TaskHandle": {},
                                "Status": {},
                                "SourceArn": {},
                                "DestinationArn": {},
                                "MaxNumberOfMessagesPerSecond": {
                                    "type": "integer"
                                },
                                "ApproximateNumberOfMessagesMoved": {
                                    "type": "long"
                                },
                                "ApproximateNumberOfMessagesToMove": {
                                    "type": "long"
                                },
                                "FailureReason": {},
                                "StartedTimestamp": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        },
        "StartMessageMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn"
                ],
                "members": {
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TaskHandle": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5JCSHSZJ3RH4P66GCFK5HE2JTBOYSHSSPFRSQTFJ6YOF53CVZIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSHVVYS25VGJ2HM52ACAGONEJIUMJ5MY7VXMYPZXVBD6NDHWCZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLOCWUKYWTKHZX3J3PP6PHWZ2ETEV26WWAVF6WE7LZVMWOJYF66A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMIWFEKUNT7SMNBT4KMG4NBQCMLXBOIL65WMFLYTZJRJJ7Q6CLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX3YLJ7VPRJLGRRWQFCCMZGZ2RAVELBFBQHOXDU7FPJNCBCAUEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKCVNTVWEGIMOPJN4QFS2WVPCJVEETJ373OAWIPK6W6ZUN36JMJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3ITMR5P6JQOIMHTN6X4EDALZGNQIJBKNVSQTCOZHQIPMYHAP32Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js"
            ]
        }
    },
    "shapes": {
        "Sd": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Id",
                    "SenderFault",
                    "Code"
                ],
                "members": {
                    "Id": {},
                    "SenderFault": {
                        "type": "boolean"
                    },
                    "Code": {},
                    "Message": {}
                }
            },
            "flattened": true
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {},
            "flattened": true
        },
        "Sj": {
            "type": "map",
            "key": {},
            "value": {},
            "flattened": true
        },
        "Sw": {
            "type": "list",
            "member": {},
            "flattened": true
        },
        "S14": {
            "type": "list",
            "member": {},
            "flattened": true
        },
        "S1i": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1l",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1m",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        },
        "S1l": {
            "type": "list",
            "member": {}
        },
        "S1m": {
            "type": "list",
            "member": {
                "type": "blob"
            }
        },
        "S1p": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1l",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1m",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        },
        "Sg": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Id",
                    "SenderFault",
                    "Code"
                ],
                "members": {
                    "Id": {},
                    "SenderFault": {
                        "type": "boolean"
                    },
                    "Code": {},
                    "Message": {}
                }
            },
            "flattened": true
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {},
            "flattened": true
        },
        "Sm": {
            "type": "map",
            "key": {},
            "value": {},
            "flattened": true
        },
        "Sz": {
            "type": "list",
            "member": {},
            "flattened": true
        },
        "S17": {
            "type": "list",
            "member": {},
            "flattened": true
        },
        "S1q": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1t",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1u",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        },
        "S1t": {
            "type": "list",
            "member": {}
        },
        "S1u": {
            "type": "list",
            "member": {
                "type": "blob"
            }
        },
        "S1x": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "DataType"
                ],
                "members": {
                    "StringValue": {},
                    "BinaryValue": {
                        "type": "blob"
                    },
                    "StringListValues": {
                        "shape": "S1t",
                        "flattened": true
                    },
                    "BinaryListValues": {
                        "shape": "S1u",
                        "flattened": true
                    },
                    "DataType": {}
                }
            },
            "flattened": true
        }
    }
}