{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2012-11-05",
        "endpointPrefix": "sqs",
        "protocol": "query",
        "serviceAbbreviation": "Amazon SQS",
        "serviceFullName": "Amazon Simple Queue Service",
        "serviceId": "SQS",
        "signatureVersion": "v4",
        "uid": "sqs-2012-11-05",
        "xmlNamespace": "http://queue.amazonaws.com/doc/2012-11-05/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
        ]
    },
    "operations": {
        "AddPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label",
                    "AWSAccountIds",
                    "Actions"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {},
                    "AWSAccountIds": {
                        "type": "list",
                        "member": {
                            "locationName": "AWSAccountId"
                        },
                        "flattened": true
                    },
                    "Actions": {
                        "type": "list",
                        "member": {
                            "locationName": "ActionName"
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ChangeMessageVisibility": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle",
                    "VisibilityTimeout"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {},
                    "VisibilityTimeout": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ChangeMessageVisibilityBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "locationName": "ChangeMessageVisibilityBatchRequestEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {},
                                "VisibilityTimeout": {
                                    "type": "integer"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "resultWrapper": "ChangeMessageVisibilityBatchResult",
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "locationName": "ChangeMessageVisibilityBatchResultEntry",
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "Attributes": {
                        "shape": "Sh",
                        "locationName": "Attribute"
                    },
                    "tags": {
                        "shape": "Sj",
                        "locationName": "Tag"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateQueueResult",
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "locationName": "DeleteMessageBatchRequestEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "resultWrapper": "DeleteMessageBatchResult",
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "locationName": "DeleteMessageBatchResultEntry",
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetQueueAttributesResult",
                "type": "structure",
                "members": {
                    "Attributes": {
                        "shape": "Sh",
                        "locationName": "Attribute"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GetQueueUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "QueueOwnerAWSAccountId": {}
                }
            },
            "output": {
                "resultWrapper": "GetQueueUrlResult",
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListDeadLetterSourceQueues": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListDeadLetterSourceQueuesResult",
                "type": "structure",
                "required": [
                    "queueUrls"
                ],
                "members": {
                    "queueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListQueueTags": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "output": {
                "resultWrapper": "ListQueueTagsResult",
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sj",
                        "locationName": "Tag"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ListQueues": {
            "input": {
                "type": "structure",
                "members": {
                    "QueueNamePrefix": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListQueuesResult",
                "type": "structure",
                "members": {
                    "QueueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "PurgeQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "ReceiveMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    },
                    "MessageAttributeNames": {
                        "type": "list",
                        "member": {
                            "locationName": "MessageAttributeName"
                        },
                        "flattened": true
                    },
                    "MaxNumberOfMessages": {
                        "type": "integer"
                    },
                    "VisibilityTimeout": {
                        "type": "integer"
                    },
                    "WaitTimeSeconds": {
                        "type": "integer"
                    },
                    "ReceiveRequestAttemptId": {}
                }
            },
            "output": {
                "resultWrapper": "ReceiveMessageResult",
                "type": "structure",
                "members": {
                    "Messages": {
                        "type": "list",
                        "member": {
                            "locationName": "Message",
                            "type": "structure",
                            "members": {
                                "MessageId": {},
                                "ReceiptHandle": {},
                                "MD5OfBody": {},
                                "Body": {},
                                "Attributes": {
                                    "locationName": "Attribute",
                                    "type": "map",
                                    "key": {
                                        "locationName": "Name"
                                    },
                                    "value": {
                                        "locationName": "Value"
                                    },
                                    "flattened": true
                                },
                                "MD5OfMessageAttributes": {},
                                "MessageAttributes": {
                                    "shape": "S1i",
                                    "locationName": "MessageAttribute"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "RemovePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "SendMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "MessageBody"
                ],
                "members": {
                    "QueueUrl": {},
                    "MessageBody": {},
                    "DelaySeconds": {
                        "type": "integer"
                    },
                    "MessageAttributes": {
                        "shape": "S1i",
                        "locationName": "MessageAttribute"
                    },
                    "MessageSystemAttributes": {
                        "shape": "S1p",
                        "locationName": "MessageSystemAttribute"
                    },
                    "MessageDeduplicationId": {},
                    "MessageGroupId": {}
                }
            },
            "output": {
                "resultWrapper": "SendMessageResult",
                "type": "structure",
                "members": {
                    "MD5OfMessageBody": {},
                    "MD5OfMessageAttributes": {},
                    "MD5OfMessageSystemAttributes": {},
                    "MessageId": {},
                    "SequenceNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "SendMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "locationName": "SendMessageBatchRequestEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageBody": {},
                                "DelaySeconds": {
                                    "type": "integer"
                                },
                                "MessageAttributes": {
                                    "shape": "S1i",
                                    "locationName": "MessageAttribute"
                                },
                                "MessageSystemAttributes": {
                                    "shape": "S1p",
                                    "locationName": "MessageSystemAttribute"
                                },
                                "MessageDeduplicationId": {},
                                "MessageGroupId": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "resultWrapper": "SendMessageBatchResult",
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "locationName": "SendMessageBatchResultEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageId",
                                "MD5OfMessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageId": {},
                                "MD5OfMessageBody": {},
                                "MD5OfMessageAttributes": {},
                                "MD5OfMessageSystemAttributes": {},
                                "SequenceNumber": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "SetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Attributes"
                ],
                "members": {
                    "QueueUrl": {},
                    "Attributes": {
                        "shape": "Sh",
                        "locationName": "Attribute"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "TagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Tags"
                ],
                "members": {
                    "QueueUrl": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "UntagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "TagKeys"
                ],
                "members": {
                    "QueueUrl": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {
                            "locationName": "TagKey"
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETBVXXV4FWR2I7UYGGLNNSK243PMOCTJTJLDHCKIEYV23GUCFBCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ADEXTPBSFG5HYNTKCITR6YKEGCNJQOMRRM6UV4SCEALHSTSOBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CancelMessageMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskHandle"
                ],
                "members": {
                    "TaskHandle": {}
                }
            },
            "output": {
                "resultWrapper": "CancelMessageMoveTaskResult",
                "type": "structure",
                "members": {
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTIUUWTRKGLZPKRJWTEPDDYM7E7JIP2JNP7FPXRELTMORGULLRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56BJSDNQNHOO7NLGXUCU22MHXXVTFUQR7CLPIXWW5KHVSNDH7DIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2FIVLHINOUWVKH5ZRY4N5LCEXUJ4VJSPFD3WYQGK6S3FQGWPBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDUJ6WNWO2PHH67K4OYIKAKIGAYKK6DGKLFQC32USQGP7ZAITVDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ME4YPIBFGPKX224PUIKIIQBJWMZZ5IJBVULQCTN3BCKMEPABJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Y5E4R2WQABATPSAOIQK2HMYQL64J43ULVLMSOIZHDEMZH5PCRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOG3RXZESQWBN5KS35JO3HT5DUI4K7Q24NS5MRC2ZWPEI7UWIDYQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISQH3J5MP5BV5QYBCKSNMQDRJPEZXIUKH3JKBXFE6XCLNMF4GSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHTQPR3GRV4ZPKA4HPLFJW4SDHNCJBQZNIRWZ2QPM7KY3I7PI77Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4P34UAOFHRY4PHUWLJRKML6MO4N3NCPEIIMYQEKCSM5SVSQOMOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.misc.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "CancelMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "TaskName"
                ],
                "members": {
                    "SourceArn": {},
                    "TaskName": {}
                }
            },
            "output": {
                "resultWrapper": "CancelMoveTaskResult",
                "type": "structure",
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {},
                    "Status": {},
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    },
                    "CreateTime": {
                        "type": "long"
                    },
                    "FailureReason": {},
                    "TaskHandle": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y74VMZNIONPTXOBIH5DMKV37JJKDV4Z44PW74DMLICE7P5ZAQK3A/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIIV4M5XD66S25E4URYXATSOOJ5M4GPZAN4VQRZD6QDW744IMBKA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OJZNNUKKPH4X3QT2FJ7DYGJC3CJLZ64ARO4VKYHIFXYO7RKJEOQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FORYKWKADIKU2JSRAAR4QQ4YWXCKYKQNVRPTGMJK75RR5MQOZTYQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F2BHH6UK6WRLPUG7BMBR5PFLKTYTJ47XJV4DDXFCNHV4SEMD6XQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJCCRKEO5DTARQFK2RC3VKCQCT37PO26OZZ5AXVTVCSVC7E3WRJQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RGM3SMO275MR2UU7IZEZC5SLQKUESHWA3MFRL2F72W3GX2G2QYA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/354UGBDN4XRSYHR4WPDRWSADA27QA476AIIWQ3A5PULUTBWRCDIQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V74MRFNK4FXHELPINVRPVBF5KGVTAWMCI6FX5DPVCEC3S3XUVFWA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNO52MTGS7NOUDQOJ3QO4ZMO3TMLLLYA6M5KOXBCNUM3DKBRV5QQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLCYXZAJYRNE3XGC3GRLEZFWPBM3D6JO743LOXHZERNEHRNPVOQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBKRPOF7O26Q7KT5UYYUY2ACJR4SJGVW2XU7GGGH44VCYPTEDOHA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WRQ3IERSS73XEQKZ7BG235P4VZMP4JPBW7BTY7XDNUKEDDNDJ5A/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LYO6DXUMGUX62TF3BI5XYBS2PJLS7E3MDVSQXEV2V3Y6HON3NPQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESLMDOEZK2IYLJIB7P3CDLNJRJH6WZIV7LCGSZQDICLVKWDTITGQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HY36BQD34CPIAGZJFF6EBURNED2EMDHLZE4SNHMPHPQXN5VQMMA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPDTS3IBW3KBOGTCB2RJTKRMUGZ6DVXO4OOHOTIRNF4KCOGZCO3A/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KENERLIQIGNPV7KMZQLKRCRFUN7Q2TWURKW3F6A3ZWNBRGSBG4LQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF67LWSJH4DP2QEPBHLZOFLAZZKT3BTYTELEBMIDM62OYKITTDKQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIMQPX7JBG7FRSKLJYTDPGIFFXYWPKTZLRMPKHQZ7VKME2CJ3CJA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js"
            ]
        },
        "CreateMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskName",
                    "SourceArn"
                ],
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {}
                }
            },
            "output": {
                "resultWrapper": "CreateMoveTaskResult",
                "type": "structure",
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {},
                    "Status": {},
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    },
                    "CreateTime": {
                        "type": "long"
                    },
                    "FailureReason": {},
                    "TaskHandle": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y74VMZNIONPTXOBIH5DMKV37JJKDV4Z44PW74DMLICE7P5ZAQK3A/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIIV4M5XD66S25E4URYXATSOOJ5M4GPZAN4VQRZD6QDW744IMBKA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OJZNNUKKPH4X3QT2FJ7DYGJC3CJLZ64ARO4VKYHIFXYO7RKJEOQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FORYKWKADIKU2JSRAAR4QQ4YWXCKYKQNVRPTGMJK75RR5MQOZTYQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F2BHH6UK6WRLPUG7BMBR5PFLKTYTJ47XJV4DDXFCNHV4SEMD6XQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJCCRKEO5DTARQFK2RC3VKCQCT37PO26OZZ5AXVTVCSVC7E3WRJQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RGM3SMO275MR2UU7IZEZC5SLQKUESHWA3MFRL2F72W3GX2G2QYA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/354UGBDN4XRSYHR4WPDRWSADA27QA476AIIWQ3A5PULUTBWRCDIQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V74MRFNK4FXHELPINVRPVBF5KGVTAWMCI6FX5DPVCEC3S3XUVFWA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNO52MTGS7NOUDQOJ3QO4ZMO3TMLLLYA6M5KOXBCNUM3DKBRV5QQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRLCYXZAJYRNE3XGC3GRLEZFWPBM3D6JO743LOXHZERNEHRNPVOQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HBKRPOF7O26Q7KT5UYYUY2ACJR4SJGVW2XU7GGGH44VCYPTEDOHA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WRQ3IERSS73XEQKZ7BG235P4VZMP4JPBW7BTY7XDNUKEDDNDJ5A/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LYO6DXUMGUX62TF3BI5XYBS2PJLS7E3MDVSQXEV2V3Y6HON3NPQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESLMDOEZK2IYLJIB7P3CDLNJRJH6WZIV7LCGSZQDICLVKWDTITGQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HY36BQD34CPIAGZJFF6EBURNED2EMDHLZE4SNHMPHPQXN5VQMMA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPDTS3IBW3KBOGTCB2RJTKRMUGZ6DVXO4OOHOTIRNF4KCOGZCO3A/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KENERLIQIGNPV7KMZQLKRCRFUN7Q2TWURKW3F6A3ZWNBRGSBG4LQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF67LWSJH4DP2QEPBHLZOFLAZZKT3BTYTELEBMIDM62OYKITTDKQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIMQPX7JBG7FRSKLJYTDPGIFFXYWPKTZLRMPKHQZ7VKME2CJ3CJA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js"
            ]
        },
        "DescribeMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "TaskName"
                ],
                "members": {
                    "SourceArn": {},
                    "TaskName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeMoveTaskResult",
                "type": "structure",
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
[...]
