{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2012-11-05",
        "endpointPrefix": "sqs",
        "protocol": "query",
        "serviceAbbreviation": "Amazon SQS",
        "serviceFullName": "Amazon Simple Queue Service",
        "serviceId": "SQS",
        "signatureVersion": "v4",
        "uid": "sqs-2012-11-05",
        "xmlNamespace": "http://queue.amazonaws.com/doc/2012-11-05/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2XD4XWJMIDD6OCIMCNPC7CA77SMNM2LXVVAWDQ5FNWKMIE4TXBDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
        ]
    },
    "operations": {
        "AddPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label",
                    "AWSAccountIds",
                    "Actions"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {},
                    "AWSAccountIds": {
                        "type": "list",
                        "member": {
                            "locationName": "AWSAccountId"
                        },
                        "flattened": true
                    },
                    "Actions": {
                        "type": "list",
                        "member": {
                            "locationName": "ActionName"
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "ChangeMessageVisibility": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle",
                    "VisibilityTimeout"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {},
                    "VisibilityTimeout": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "ChangeMessageVisibilityBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "locationName": "ChangeMessageVisibilityBatchRequestEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {},
                                "VisibilityTimeout": {
                                    "type": "integer"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "resultWrapper": "ChangeMessageVisibilityBatchResult",
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "locationName": "ChangeMessageVisibilityBatchResultEntry",
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "CreateQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "Attributes": {
                        "shape": "Sh",
                        "locationName": "Attribute"
                    },
                    "tags": {
                        "shape": "Sj",
                        "locationName": "Tag"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateQueueResult",
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "ReceiptHandle"
                ],
                "members": {
                    "QueueUrl": {},
                    "ReceiptHandle": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "locationName": "DeleteMessageBatchRequestEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "ReceiptHandle"
                            ],
                            "members": {
                                "Id": {},
                                "ReceiptHandle": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "resultWrapper": "DeleteMessageBatchResult",
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "locationName": "DeleteMessageBatchResultEntry",
                            "type": "structure",
                            "required": [
                                "Id"
                            ],
                            "members": {
                                "Id": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "DeleteQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetQueueAttributesResult",
                "type": "structure",
                "members": {
                    "Attributes": {
                        "shape": "Sh",
                        "locationName": "Attribute"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "GetQueueUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueName"
                ],
                "members": {
                    "QueueName": {},
                    "QueueOwnerAWSAccountId": {}
                }
            },
            "output": {
                "resultWrapper": "GetQueueUrlResult",
                "type": "structure",
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "ListDeadLetterSourceQueues": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListDeadLetterSourceQueuesResult",
                "type": "structure",
                "required": [
                    "queueUrls"
                ],
                "members": {
                    "queueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "ListQueueTags": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "output": {
                "resultWrapper": "ListQueueTagsResult",
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sj",
                        "locationName": "Tag"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "ListQueues": {
            "input": {
                "type": "structure",
                "members": {
                    "QueueNamePrefix": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListQueuesResult",
                "type": "structure",
                "members": {
                    "QueueUrls": {
                        "shape": "S14"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "PurgeQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "ReceiveMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl"
                ],
                "members": {
                    "QueueUrl": {},
                    "AttributeNames": {
                        "shape": "Sw"
                    },
                    "MessageAttributeNames": {
                        "type": "list",
                        "member": {
                            "locationName": "MessageAttributeName"
                        },
                        "flattened": true
                    },
                    "MaxNumberOfMessages": {
                        "type": "integer"
                    },
                    "VisibilityTimeout": {
                        "type": "integer"
                    },
                    "WaitTimeSeconds": {
                        "type": "integer"
                    },
                    "ReceiveRequestAttemptId": {}
                }
            },
            "output": {
                "resultWrapper": "ReceiveMessageResult",
                "type": "structure",
                "members": {
                    "Messages": {
                        "type": "list",
                        "member": {
                            "locationName": "Message",
                            "type": "structure",
                            "members": {
                                "MessageId": {},
                                "ReceiptHandle": {},
                                "MD5OfBody": {},
                                "Body": {},
                                "Attributes": {
                                    "locationName": "Attribute",
                                    "type": "map",
                                    "key": {
                                        "locationName": "Name"
                                    },
                                    "value": {
                                        "locationName": "Value"
                                    },
                                    "flattened": true
                                },
                                "MD5OfMessageAttributes": {},
                                "MessageAttributes": {
                                    "shape": "S1i",
                                    "locationName": "MessageAttribute"
                                }
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "RemovePermission": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Label"
                ],
                "members": {
                    "QueueUrl": {},
                    "Label": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "SendMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "MessageBody"
                ],
                "members": {
                    "QueueUrl": {},
                    "MessageBody": {},
                    "DelaySeconds": {
                        "type": "integer"
                    },
                    "MessageAttributes": {
                        "shape": "S1i",
                        "locationName": "MessageAttribute"
                    },
                    "MessageSystemAttributes": {
                        "shape": "S1p",
                        "locationName": "MessageSystemAttribute"
                    },
                    "MessageDeduplicationId": {},
                    "MessageGroupId": {}
                }
            },
            "output": {
                "resultWrapper": "SendMessageResult",
                "type": "structure",
                "members": {
                    "MD5OfMessageBody": {},
                    "MD5OfMessageAttributes": {},
                    "MD5OfMessageSystemAttributes": {},
                    "MessageId": {},
                    "SequenceNumber": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "SendMessageBatch": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Entries"
                ],
                "members": {
                    "QueueUrl": {},
                    "Entries": {
                        "type": "list",
                        "member": {
                            "locationName": "SendMessageBatchRequestEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageBody": {},
                                "DelaySeconds": {
                                    "type": "integer"
                                },
                                "MessageAttributes": {
                                    "shape": "S1i",
                                    "locationName": "MessageAttribute"
                                },
                                "MessageSystemAttributes": {
                                    "shape": "S1p",
                                    "locationName": "MessageSystemAttribute"
                                },
                                "MessageDeduplicationId": {},
                                "MessageGroupId": {}
                            }
                        },
                        "flattened": true
                    }
                }
            },
            "output": {
                "resultWrapper": "SendMessageBatchResult",
                "type": "structure",
                "required": [
                    "Successful",
                    "Failed"
                ],
                "members": {
                    "Successful": {
                        "type": "list",
                        "member": {
                            "locationName": "SendMessageBatchResultEntry",
                            "type": "structure",
                            "required": [
                                "Id",
                                "MessageId",
                                "MD5OfMessageBody"
                            ],
                            "members": {
                                "Id": {},
                                "MessageId": {},
                                "MD5OfMessageBody": {},
                                "MD5OfMessageAttributes": {},
                                "MD5OfMessageSystemAttributes": {},
                                "SequenceNumber": {}
                            }
                        },
                        "flattened": true
                    },
                    "Failed": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "SetQueueAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Attributes"
                ],
                "members": {
                    "QueueUrl": {},
                    "Attributes": {
                        "shape": "Sh",
                        "locationName": "Attribute"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "TagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "Tags"
                ],
                "members": {
                    "QueueUrl": {},
                    "Tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "UntagQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "QueueUrl",
                    "TagKeys"
                ],
                "members": {
                    "QueueUrl": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {
                            "locationName": "TagKey"
                        },
                        "flattened": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TONXKHEQEWQGUTXFNCOQ4D7UFG45SRE7OHXJVAG52RD3O6VJR74A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRBKMCXDF6EKJVAH2TFLFXWPPTQJB2AD7BWBT5A5I5EY5VQQT6RA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3UOSXJWOA2QRUZQU3VCRHTHMFMMH4VE2HTJNEP22M23JGJ3PRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXI4NVDAD44WUIT3TSJGL5WD4RR2T5TB57BW6BJRO6E3P2IUB6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5HD2277VGYKD3EJ76WYJUG6FP6AVYKAVGXYPI7UEIVTTVNA46BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67QQHXRKCVZ6NEHQO3PMPNPIKSZYVUNU4BY7Q37CZXUS4LQVKR6Q/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCWHQPGNJIGY3ZQRWOWLVV7XO5ZNOVMAPAK2A43K2SYR7UYK6INQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNCZQJUAGKCDHP57EEKVJZRBBUJEUMETNDQTXQEHLYWTBHNZ3YWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YN4OX2G6T7CWFCK2J6XWR4MU6LECEAWT3SHBDIMOTQC7YE7WTNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC3GDQ2ACG2EU5JSTUTHPXDP4DVY6DNMCQLBNM3GJTWNWTH533VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGINOFH2SJQA7ZTJYUTZ7TGX2A43FQTQZIAIRTRFEM32RKFH3XNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PY7TGPPFWJJF6YUG4BKIUFOHFU2X5U74G2KET3FHUHKU3NNBKCRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYPBN2K5OYVNEQ7ATRQWWAAWZH4PZVGYSH7Z3MBVTIK65ZN4ABFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js"
            ]
        },
        "CancelMessageMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskHandle"
                ],
                "members": {
                    "TaskHandle": {}
                }
            },
            "output": {
                "resultWrapper": "CancelMessageMoveTaskResult",
                "type": "structure",
                "members": {
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKRBRCC3KAM27LRF4RITFEW6SCE6UDVM42CCZSGAL275I7EUCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CS26GS5NEGJIOXM2OG2P2VIPIC66G2XU3EET23G26BASNOFM2G5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBR45TLXZYMBD2FSHZDFYRANPHLOVEXWKRPGVEOBAHP5FEZSKEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24ETKUBZJ74VNG7SERHXQJUPTGIROSAY3HZMP5RYPHR2HJCJOWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6SHNCXRJMG2QKGEGXE43ALX6J2KSZHIRWIFBAAUMEMJ2PW6EMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXUMLPQOWPDYNQUUSGY32ZEAGI7NO3TOP55DEHLA4ZBFIS6RIMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDWNCJKMHG7YULMGMXX525VSWF7TIJHZJZSYKAW7CILKB65VAAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVSCVLWULYZI23EKM6NGQ62W6XBVH25R65MS3WXHU6R2VZYXTDAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSAAXIAC3A7LH7JLL4ANYOAOWB3PGWIQSBXVSA356VZJJTEOTZNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNL5XKBH3JK2O2FFLQESKDMKISOO6IWJQMYETZ33GSG5XDCTBJEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EA5NKBRIYAQWUMWRS2746WEGEKOSVSTCIOU2DZ5XFBILIT5U54PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRIK53YMWAQF2O3LG7RY7FPYJ2H7RVILPYWS2STGTUIINDY2SUYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G24VT4QH6IVH2WZYLEPH4F3VK7D27RXK3INRUOKYFROEKYUHSVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPELZX3SKIIK3GLEA7BOSJKAJCBLCUFV2IOVN6WIIVQCAVGFM3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOL6UNQSH4YGHC22NEDZLZUFFH4P32V4SAZOFDQKZUEXSWJKB6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIB6T4SZ65KYSJVAPEZSM3PI3KSCIMCESZSHWNPR74TKCY4CUFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJVWECM4XNSEEMONJ4YV4PJEF7YHCKNXKXW5475EVNZ2ABJKUM6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ6KBZWHP5AZCG6TCCV7SOA2E2RVG7OVSVNPFZCTFPF2MJAP2PAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ34LJ4BEIE2UYNF5LAL6K2XCBZ4M7AOHBVZK2KN7VEV5U4I5GAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DT5FC5Z6XW4FZ45ZT7M5JJTMFSCHXNET4V6JWLAW4TRPU4SM2VPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GATSMGQNJJVA7BNBE7OVYX3O3BLTNLLSSYWGTAB52YNFBFHZDNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2F2DY3PBM74OR67G4RELXH5RWOFJVMZQ4I4VULUVYQZH4FJFOVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XHKQLIO2QNMR3EYW75XWS6RLDVFYNFYCPCBM6UHOWCZTTJZEDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js"
            ]
        },
        "CancelMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "TaskName"
                ],
                "members": {
                    "SourceArn": {},
                    "TaskName": {}
                }
            },
            "output": {
                "resultWrapper": "CancelMoveTaskResult",
                "type": "structure",
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {},
                    "Status": {},
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    },
                    "CreateTime": {
                        "type": "long"
                    },
                    "FailureReason": {},
                    "TaskHandle": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KENERLIQIGNPV7KMZQLKRCRFUN7Q2TWURKW3F6A3ZWNBRGSBG4LQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF67LWSJH4DP2QEPBHLZOFLAZZKT3BTYTELEBMIDM62OYKITTDKQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIMQPX7JBG7FRSKLJYTDPGIFFXYWPKTZLRMPKHQZ7VKME2CJ3CJA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QDMWJN5N5S56L5BK547UQ222BTVUJY2VXHXIFPUBHOUPE3ZKKA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2CJYS46YYAQFPWULNVN6VN56565NLPYPYGPKFHR4ZRVJD2CZQXA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QUP33H72ZWX2MWFR6UQ5ZBV4S77UCOBBIESDCZT5EPZ3EHCXFFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54M4NBU36OIC3OMN7ROUU5ZIG27H7VKQDVEIALQIABBCFFP5RCQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFYDJU6TWWUABRHDC4YKVBMKUTCNCGPIACHHMYDM5SJTYHMRLGSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QBP7A7NCEYNSBILYAAVDB4RDN3WKTKOBERH4K3HOXGBF5NONMA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YRJYRYOZ2WPNNLLTAQ4UOAKFBFSCYEKMUZH6IPIQ3DP73EKBNFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO2QVBIYUK37K3O62DCGB5KVQSDDEHF6ZEKNA3OZNMULN6ZF744Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K45ZLEOWCD6NOQZCUNOKH3N5CHUCH5VRG3BITME7R5UQLZDV3MQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6A3YU2IUOMI7QPIRI7UKC5NN3BRSCPCYR2A473BDVVVHN4N6BRRQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44IWFB6HKFIZ5XXYQPRPR3CFWSODMDWJ3G2QHR7YPHXRG2SHUWGA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIUI6BAZVXS5MDVLGNB4YLBOZND5ORUEVNU6YOOIIRYNNJZOBXSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR43Z35DOUPG44OUJ76B6KFMQIBG7MPW6EB4XJXITH3XNZOZLSFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYLPTZ3VNFLMJQHVAERIK4CRJJ4O7DTSBXCYK3TMSAXSJQF66EQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA62RS5D3IGVI5JCL7NLP7FGP4VF4QIRY7UJ56K7DTE5J4LR2TUQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX2XHZWVBTJZ5UNWFMGXIBMRCMPIDVXNSAXYYRJNEDCPB7GTGOYA/vendors.amzn.js"
            ]
        },
        "CreateMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskName",
                    "SourceArn"
                ],
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {}
                }
            },
            "output": {
                "resultWrapper": "CreateMoveTaskResult",
                "type": "structure",
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {},
                    "Status": {},
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    },
                    "CreateTime": {
                        "type": "long"
                    },
                    "FailureReason": {},
                    "TaskHandle": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KENERLIQIGNPV7KMZQLKRCRFUN7Q2TWURKW3F6A3ZWNBRGSBG4LQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF67LWSJH4DP2QEPBHLZOFLAZZKT3BTYTELEBMIDM62OYKITTDKQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIMQPX7JBG7FRSKLJYTDPGIFFXYWPKTZLRMPKHQZ7VKME2CJ3CJA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QDMWJN5N5S56L5BK547UQ222BTVUJY2VXHXIFPUBHOUPE3ZKKA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2CJYS46YYAQFPWULNVN6VN56565NLPYPYGPKFHR4ZRVJD2CZQXA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QUP33H72ZWX2MWFR6UQ5ZBV4S77UCOBBIESDCZT5EPZ3EHCXFFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54M4NBU36OIC3OMN7ROUU5ZIG27H7VKQDVEIALQIABBCFFP5RCQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFYDJU6TWWUABRHDC4YKVBMKUTCNCGPIACHHMYDM5SJTYHMRLGSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QBP7A7NCEYNSBILYAAVDB4RDN3WKTKOBERH4K3HOXGBF5NONMA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YRJYRYOZ2WPNNLLTAQ4UOAKFBFSCYEKMUZH6IPIQ3DP73EKBNFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO2QVBIYUK37K3O62DCGB5KVQSDDEHF6ZEKNA3OZNMULN6ZF744Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K45ZLEOWCD6NOQZCUNOKH3N5CHUCH5VRG3BITME7R5UQLZDV3MQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6A3YU2IUOMI7QPIRI7UKC5NN3BRSCPCYR2A473BDVVVHN4N6BRRQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4FEREYJC3CIOGLAGBUIICV33QCRP6F7DGNBOBJII6NNL4T6SMTPA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44IWFB6HKFIZ5XXYQPRPR3CFWSODMDWJ3G2QHR7YPHXRG2SHUWGA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIUI6BAZVXS5MDVLGNB4YLBOZND5ORUEVNU6YOOIIRYNNJZOBXSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR43Z35DOUPG44OUJ76B6KFMQIBG7MPW6EB4XJXITH3XNZOZLSFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYLPTZ3VNFLMJQHVAERIK4CRJJ4O7DTSBXCYK3TMSAXSJQF66EQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA62RS5D3IGVI5JCL7NLP7FGP4VF4QIRY7UJ56K7DTE5J4LR2TUQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4I4AHEHBAG5434OXI23HIHPYP2PSLYV5G2IUPWDI6AV3ZOVNJTQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YX2XHZWVBTJZ5UNWFMGXIBMRCMPIDVXNSAXYYRJNEDCPB7GTGOYA/vendors.amzn.js"
            ]
        },
        "DescribeMoveTask": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceArn",
                    "TaskName"
                ],
                "members": {
                    "SourceArn": {},
                    "TaskName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeMoveTaskResult",
                "type": "structure",
                "members": {
                    "TaskName": {},
                    "SourceArn": {},
                    "DestinationArn": {},
                    "MaxNumberOfMessagesPerSecond": {
                        "type": "long"
                    },
                    "MaxNumberOfMessagesToMove": {
                        "type": "long"
                    },
                    "UnprocessedArn": {},
                    "Status": {},
                    "ApproximateNumberOfMessagesMoved": {
                        "type": "long"
                    },
                    "CreateTime": {
                        "type": "long"
                    },
                    "FailureReason": {},
                    "TaskHandle": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KENERLIQIGNPV7KMZQLKRCRFUN7Q2TWURKW3F6A3ZWNBRGSBG4LQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF67LWSJH4DP2QEPBHLZOFLAZZKT3BTYTELEBMIDM62OYKITTDKQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIMQPX7JBG7FRSKLJYTDPGIFFXYWPKTZLRMPKHQZ7VKME2CJ3CJA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4JH7ITT6CJF4Z2RXDRJ4ER2OBYR7SFRRCQ7GAMIB4CXNV2N7HHA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YULPAFHZZ674QNFULRKR5BEETSLXW2XA2CTL34WCAETJAMC6IQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WPUCVY552MCKUNYIL6RWBGD33JSNJ6ROKPC4YGMCG2THZ6BSLAA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVBMKRMN4EHRJYODQIXXPIQAEO3MJAQIAILAXG3CBQLZTEGUNL2Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QDMWJN5N5S56L5BK547UQ222BTVUJY2VXHXIFPUBHOUPE3ZKKA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2CJYS46YYAQFPWULNVN6VN56565NLPYPYGPKFHR4ZRVJD2CZQXA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QUP33H72ZWX2MWFR6UQ5ZBV4S77UCOBBIESDCZT5EPZ3EHCXFFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54M4NBU36OIC3OMN7ROUU5ZIG27H7VKQDVEIALQIABBCFFP5RCQQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFYDJU6TWWUABRHDC4YKVBMKUTCNCGPIACHHMYDM5SJTYHMRLGSQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7QBP7A7NCEYNSBILYAAVDB4RDN3WKTKOBERH4K3HOXGBF5NONMA/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YRJYRYOZ2WPNNLLTAQ4UOAKFBFSCYEKMUZH6IPIQ3DP73EKBNFQ/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UO2QVBIYUK37K3O62DCGB5KVQSDDEHF6ZEKNA3OZNMULN6ZF744Q/vendors.amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K45ZLEOWCD6NOQZCUNOKH3N5CHUCH5VRG3BITME7R5UQLZDV3MQ/vendors.amzn.js",
[...]
