{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "ssm-quicksetup",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "AWS Systems Manager QuickSetup",
        "serviceId": "SSM QuickSetup",
        "signatureVersion": "v4",
        "signingName": "ssm-quicksetup",
        "uid": "ssm-quicksetup-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3UZXILYEMOD5M4J4X2KUGF4RCSWJRY4FZOZ5NXDPZOIIJR35ANQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
        ]
    },
    "operations": {
        "CreateConfigurationManager": {
            "http": {
                "requestUri": "/configurationManager",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationDefinitions"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ConfigurationDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Type",
                                "Parameters"
                            ],
                            "members": {
                                "Type": {},
                                "Parameters": {
                                    "shape": "S7"
                                },
                                "TypeVersion": {},
                                "LocalDeploymentExecutionRoleName": {},
                                "LocalDeploymentAdministrationRoleArn": {}
                            }
                        }
                    },
                    "Tags": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ManagerArn"
                ],
                "members": {
                    "ManagerArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        },
        "DeleteConfigurationManager": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configurationManager/{ManagerArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ManagerArn"
                ],
                "members": {
                    "ManagerArn": {
                        "location": "uri",
                        "locationName": "ManagerArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        },
        "GetConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/getConfiguration/{ConfigurationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationId"
                ],
                "members": {
                    "ConfigurationId": {
                        "location": "uri",
                        "locationName": "ConfigurationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Id": {},
                    "ManagerArn": {},
                    "ConfigurationDefinitionId": {},
                    "Type": {},
                    "Version": {},
                    "Account": {},
                    "Region": {},
                    "CreatedAt": {
                        "shape": "Sn"
                    },
                    "LastModifiedAt": {
                        "shape": "Sn"
                    },
                    "AssociationsSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "LastUpdatedAt"
                            ],
                            "members": {
                                "AssociationName": {},
                                "AssociationStatus": {},
                                "StatusMessage": {},
                                "LastUpdatedAt": {
                                    "shape": "Sn"
                                },
                                "InstancesPerStatus": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "ScheduleRate": {}
                            }
                        }
                    },
                    "StatusSummaries": {
                        "shape": "Ss"
                    },
                    "Parameters": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        },
        "GetConfigurationManager": {
            "http": {
                "method": "GET",
                "requestUri": "/configurationManager/{ManagerArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ManagerArn"
                ],
                "members": {
                    "ManagerArn": {
                        "location": "uri",
                        "locationName": "ManagerArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ManagerArn"
                ],
                "members": {
                    "ManagerArn": {},
                    "Description": {},
                    "Name": {},
                    "CreatedAt": {
                        "shape": "Sn"
                    },
                    "LastModifiedAt": {
                        "shape": "Sn"
                    },
                    "StatusSummaries": {
                        "shape": "Ss"
                    },
                    "ConfigurationDefinitions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Type",
                                "Parameters"
                            ],
                            "members": {
                                "Type": {},
                                "Parameters": {
                                    "shape": "S7"
                                },
                                "TypeVersion": {},
                                "LocalDeploymentExecutionRoleName": {},
                                "LocalDeploymentAdministrationRoleArn": {},
                                "Id": {}
                            }
                        }
                    },
                    "Tags": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        },
        "GetServiceSettings": {
            "http": {
                "method": "GET",
                "requestUri": "/serviceSettings",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceSettings": {
                        "type": "structure",
                        "members": {
                            "ExplorerEnablingRoleArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        },
        "ListConfigurationManagers": {
            "http": {
                "requestUri": "/listConfigurationManagers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "StartingToken": {},
                    "MaxItems": {
                        "type": "integer"
                    },
                    "Filters": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationManagersList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ManagerArn"
                            ],
                            "members": {
                                "ManagerArn": {},
                                "Description": {},
                                "Name": {},
                                "StatusSummaries": {
                                    "shape": "Ss"
                                },
                                "ConfigurationDefinitionSummaries": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Id": {},
                                            "Type": {},
                                            "TypeVersion": {},
                                            "FirstClassParameters": {
                                                "shape": "S7"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        },
        "ListConfigurations": {
            "http": {
                "requestUri": "/listConfigurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "StartingToken": {},
                    "MaxItems": {
                        "type": "integer"
                    },
                    "Filters": {
                        "shape": "S19"
                    },
                    "ManagerArn": {},
                    "ConfigurationDefinitionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "ManagerArn": {},
                                "ConfigurationDefinitionId": {},
                                "Type": {},
                                "Version": {},
                                "ConfigurationRegion": {},
                                "ConfigurationAccount": {},
                                "CreatedAt": {
                                    "shape": "Sn"
                                },
                                "FirstClassParameters": {
                                    "shape": "S7"
                                },
                                "StatusSummaries": {
                                    "shape": "Ss"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        },
        "ListQuickSetupTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/listQuickSetupTypes",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "QuickSetupTypeList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "LatestVersion": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Key": {},
                                "Value": {}
                            },
                            "sensitive": true
                        },
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "method": "PUT",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "Tags": {
                        "shape": "Sd"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        },
        "UpdateConfigurationDefinition": {
            "http": {
                "method": "PUT",
                "requestUri": "/configurationDefinition/{ManagerArn}/{Id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ManagerArn",
                    "Id"
                ],
                "members": {
                    "ManagerArn": {
                        "location": "uri",
                        "locationName": "ManagerArn"
                    },
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "TypeVersion": {},
                    "Parameters": {
                        "shape": "S7"
                    },
                    "LocalDeploymentExecutionRoleName": {},
                    "LocalDeploymentAdministrationRoleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        },
        "UpdateConfigurationManager": {
            "http": {
                "method": "PUT",
                "requestUri": "/configurationManager/{ManagerArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ManagerArn"
                ],
                "members": {
                    "ManagerArn": {
                        "location": "uri",
                        "locationName": "ManagerArn"
                    },
                    "Name": {},
                    "Description": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        },
        "UpdateServiceSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/serviceSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ExplorerEnablingRoleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJSUR2B7SETKROPKQP5OLYX4YDZOQ45SFFPAWBYNDV7UTIILKNVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCB2NMCX6CNHTK5QSRMNLWR5G266PWFNOQPLTFD3KRISF66PPZVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DM6V6CBN666F4PJQSDQQ7RIHMNH6WDT4BFA2Z2FERQFKFQEBBGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPJ6TK47QBXTVFSA4JUYAVI4OUDUFAI2JEPIK7OYV4T57INC35ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SUGU32P4JNPIXFMUBRZ5ZBK5LAKOCWAMTJSRHLQQ4XI2F5C3JCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WR64S4M6HTKJJZN5DPKXOPOLJY6F5VVYATV4KYERK5PJN4IE2HZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6CGCMFTJ7N3E2WV5ISBO3ID7DYER6FIBSD7CDPZ63UTEPIONZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KWXUKXODRYKV5VPE6VF7BU4KKKL7563LSSAQIZVB3IKXKZCYSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IVGEVJ356ETNP37UI3W63NBZOAQPIZYBYND2M6KZU3VZW4OGASLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRVUUTEHD7YBKBQ57OCF7FVTD3NQYRSV4UAE4CCPYBAOK27YZTUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U343XJ73ZFGXSHAU25R7TWQPS727OY6LXMJ5OM4DPGQ576MZBWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7L53H6EF7B73EXZAXBU2NTI7RD7DSYKMCFCXBCRUV6XI4JWEMAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5O46XUHEVLZBLDESWIOABYAZ3R2R6HVZDXGRXTY7IBO44OLQ6PQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3B5VYQSJVODLGO37Z6F22TIQH73XGTVE35JISV3F3TARFTL4FOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4BX54S6WC3GFR4CUID5EPTKTJ4HRJOHRLBD4EJPX76CLWPANSDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBRJ5OF6TNQBVEDG7EJTVIRDEK4VHUZBAAK7RHISBXGAA4SZSKUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQDJ6ZFUDKA42MOI3KXMXQ4FWBL4NAYWQSPPNX7KCCWCSB6XQZXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQYKR5LJL3RYZO5UTXJH4TP2WO57LLKSG5IMJD4HAIHHNYPBBRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDXB7VGQONN2RKVCWVMOI5JPUVHZAM5YKYS7EX3DKHVIRTSO5C4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66B3RFJ6I7RVD7CEXZVZPDYP7WTKOEYRMYG6RVUCXQTYNXFIMJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64JOZM35V5JBEGGMKDZIMCKZ4T47O574SRQ2JY3U6RURGEWV52RQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IZKSF7TBZHCZSHFE3OF5F7AZZCNDKPB7TNTVEJVSFKJFBSSEVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EANQI7JCUV37DW5EU7C2LUOAUMXZLENCINDQ2MEBYZ7CXV3LVG5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKDLG4ZJHBCPAFAFPO7I7JJLYTOGG7RKL4LE4LLOD4A37JHSXD6Q/main.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sd": {
            "type": "map",
            "key": {},
            "value": {},
            "sensitive": true
        },
        "Sn": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "StatusType",
                    "LastUpdatedAt"
                ],
                "members": {
                    "StatusType": {},
                    "Status": {},
                    "StatusMessage": {},
                    "LastUpdatedAt": {
                        "shape": "Sn"
                    },
                    "StatusDetails": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            }
        },
        "S19": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Values"
                ],
                "members": {
                    "Key": {},
                    "Values": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        }
    }
}