{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-05-01",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "ssm-guiconnect",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "AWS SSM-GUIConnect",
        "serviceId": "SSM GuiConnect",
        "signatureVersion": "v4",
        "signingName": "ssm-guiconnect",
        "uid": "ssm-guiconnect-2021-05-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4A2BDOB474XYKGLKARJCO234WXYUIKAIE35NUR74RYXCLPDKUN7A/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VT2WT3Y3XFVLRZAALD6NXC6UXEKZ32BA4JIG35UGTP52EZJKWRUQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KW3YPIE6B724MSPUBSU4RK6ZOU5UWES624QMYYETZPPVM3X2W2TQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YBNEH6SHYKADLDGSKPLLZ74UZM46YJRSOLDEQLKE2PDMSJJLD6UA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
        ]
    },
    "operations": {
        "CancelConnection": {
            "http": {
                "requestUri": "/CancelConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionArn": {},
                    "RequestId": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT2WT3Y3XFVLRZAALD6NXC6UXEKZ32BA4JIG35UGTP52EZJKWRUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KW3YPIE6B724MSPUBSU4RK6ZOU5UWES624QMYYETZPPVM3X2W2TQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBNEH6SHYKADLDGSKPLLZ74UZM46YJRSOLDEQLKE2PDMSJJLD6UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "DeleteConnectionRecordingPreferences": {
            "http": {
                "requestUri": "/DeleteConnectionRecordingPreferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT2WT3Y3XFVLRZAALD6NXC6UXEKZ32BA4JIG35UGTP52EZJKWRUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KW3YPIE6B724MSPUBSU4RK6ZOU5UWES624QMYYETZPPVM3X2W2TQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBNEH6SHYKADLDGSKPLLZ74UZM46YJRSOLDEQLKE2PDMSJJLD6UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "DeletePreferences": {
            "http": {
                "requestUri": "/DeletePreferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Preferences"
                ],
                "members": {
                    "Preferences": {
                        "type": "list",
                        "member": {}
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT2WT3Y3XFVLRZAALD6NXC6UXEKZ32BA4JIG35UGTP52EZJKWRUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KW3YPIE6B724MSPUBSU4RK6ZOU5UWES624QMYYETZPPVM3X2W2TQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBNEH6SHYKADLDGSKPLLZ74UZM46YJRSOLDEQLKE2PDMSJJLD6UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "GetConnection": {
            "http": {
                "method": "GET",
                "requestUri": "/GetConnection/{ConnectionToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionToken"
                ],
                "members": {
                    "ConnectionToken": {
                        "location": "uri",
                        "locationName": "ConnectionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionToken": {},
                    "RequestId": {},
                    "Token": {},
                    "ConnectionUri": {},
                    "Status": {},
                    "TargetIp": {
                        "location": "header",
                        "locationName": "X-Target-IP"
                    },
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "InstanceId": {},
                    "AccountId": {},
                    "SsmSessionId": {},
                    "AuthType": {},
                    "AuthTokenPublicKey": {},
                    "ConnectionType": {},
                    "Protocol": {},
                    "ConnectionErrorMessage": {},
                    "ConnectionRecordingPreferences": {
                        "type": "structure",
                        "members": {
                            "RecordingStatus": {},
                            "RecordingPaths": {
                                "shape": "Su"
                            }
                        }
                    },
                    "IdleConnection": {
                        "shape": "Sw"
                    },
                    "MaxConnectionTime": {
                        "shape": "S13"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT2WT3Y3XFVLRZAALD6NXC6UXEKZ32BA4JIG35UGTP52EZJKWRUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KW3YPIE6B724MSPUBSU4RK6ZOU5UWES624QMYYETZPPVM3X2W2TQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBNEH6SHYKADLDGSKPLLZ74UZM46YJRSOLDEQLKE2PDMSJJLD6UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "GetConnectionRecordingPreferences": {
            "http": {
                "requestUri": "/GetConnectionRecordingPreferences",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {},
                    "ConnectionRecordingPreferences": {
                        "shape": "S18"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT2WT3Y3XFVLRZAALD6NXC6UXEKZ32BA4JIG35UGTP52EZJKWRUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KW3YPIE6B724MSPUBSU4RK6ZOU5UWES624QMYYETZPPVM3X2W2TQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBNEH6SHYKADLDGSKPLLZ74UZM46YJRSOLDEQLKE2PDMSJJLD6UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "GetPreferences": {
            "http": {
                "requestUri": "/GetPreferences",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "IdleConnection": {
                        "shape": "Sw"
                    },
                    "MaxConnectionTime": {
                        "shape": "S13",
                        "internalonly": true
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT2WT3Y3XFVLRZAALD6NXC6UXEKZ32BA4JIG35UGTP52EZJKWRUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KW3YPIE6B724MSPUBSU4RK6ZOU5UWES624QMYYETZPPVM3X2W2TQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBNEH6SHYKADLDGSKPLLZ74UZM46YJRSOLDEQLKE2PDMSJJLD6UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "ListConnections": {
            "http": {
                "requestUri": "/ListConnections",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "AfterStartDate": {
                                "type": "timestamp"
                            },
                            "BeforeStartDate": {
                                "type": "timestamp"
                            },
                            "ConnectionIds": {
                                "type": "list",
                                "member": {}
                            },
                            "Status": {
                                "type": "list",
                                "member": {}
                            },
                            "Owners": {
                                "type": "list",
                                "member": {}
                            },
                            "InstanceIds": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Connections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConnectionId": {},
                                "Owner": {},
                                "Username": {},
                                "InstanceId": {},
                                "Protocol": {},
                                "AuthType": {},
                                "Status": {},
                                "StartDate": {
                                    "type": "timestamp"
                                },
                                "EndDate": {
                                    "type": "timestamp"
                                },
                                "RecordingStatus": {
                                    "internalonly": true
                                },
                                "RecordingUri": {
                                    "shape": "Su",
                                    "internalonly": true
                                },
                                "Reason": {
                                    "internalonly": true
                                },
                                "ConnectionType": {
                                    "internalonly": true
                                },
                                "ConnectionErrorMessage": {
                                    "internalonly": true
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT2WT3Y3XFVLRZAALD6NXC6UXEKZ32BA4JIG35UGTP52EZJKWRUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KW3YPIE6B724MSPUBSU4RK6ZOU5UWES624QMYYETZPPVM3X2W2TQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBNEH6SHYKADLDGSKPLLZ74UZM46YJRSOLDEQLKE2PDMSJJLD6UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "StartConnection": {
            "http": {
                "requestUri": "/StartConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "Protocol",
                    "ConnectionType",
                    "AuthType"
                ],
                "members": {
                    "InstanceId": {},
                    "Protocol": {},
                    "ConnectionType": {},
                    "AuthType": {},
                    "ConnectionParameters": {
                        "type": "structure",
                        "members": {
                            "SupportGraphicsPipeline": {
                                "type": "boolean"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionArn": {},
                    "ConnectionKey": {},
                    "RequestId": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT2WT3Y3XFVLRZAALD6NXC6UXEKZ32BA4JIG35UGTP52EZJKWRUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KW3YPIE6B724MSPUBSU4RK6ZOU5UWES624QMYYETZPPVM3X2W2TQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBNEH6SHYKADLDGSKPLLZ74UZM46YJRSOLDEQLKE2PDMSJJLD6UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "UpdateConnectionRecordingPreferences": {
            "http": {
                "requestUri": "/UpdateConnectionRecordingPreferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionRecordingPreferences"
                ],
                "members": {
                    "ConnectionRecordingPreferences": {
                        "shape": "S18"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {},
                    "ConnectionRecordingPreferences": {
                        "shape": "S18"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT2WT3Y3XFVLRZAALD6NXC6UXEKZ32BA4JIG35UGTP52EZJKWRUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KW3YPIE6B724MSPUBSU4RK6ZOU5UWES624QMYYETZPPVM3X2W2TQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBNEH6SHYKADLDGSKPLLZ74UZM46YJRSOLDEQLKE2PDMSJJLD6UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        },
        "UpdatePreferences": {
            "http": {
                "requestUri": "/UpdatePreferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "IdleConnection": {
                        "shape": "Sw"
                    },
                    "MaxConnectionTime": {
                        "shape": "S13",
                        "internalonly": true
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "IdleConnection": {
                        "shape": "Sw"
                    },
                    "MaxConnectionTime": {
                        "shape": "S13",
                        "internalonly": true
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT2WT3Y3XFVLRZAALD6NXC6UXEKZ32BA4JIG35UGTP52EZJKWRUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KW3YPIE6B724MSPUBSU4RK6ZOU5UWES624QMYYETZPPVM3X2W2TQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBNEH6SHYKADLDGSKPLLZ74UZM46YJRSOLDEQLKE2PDMSJJLD6UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NOU6WPNZ77LZOOADLIK6YBFGD6LJMJ2CF4ROMFJZVJVN6CFXXXPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAT7HJ3EVBQ4L3WUVFLOPYP2GFBTUMDZCLJQY5QZ4LHBAGNIZ2WA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO27YZ5ZOOKA4EFHBWZVPUURNNXMK6ZPJBFJVVYVXN55XW3AXD6Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNRULSDUU4OOSA5AMEUBDOATDBPVIKVD4ULJV2LK4GBZYDWLC5OA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7VE6QTYUMUDFRH3KTMMKRRTG652H352U775A3VZDY35KUL2CXBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXJ57SKJJ3BNFBVALS6V4D2HVXHL6CQTXC2JZ5BVB25OBQEIXUEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJHQPTHCKRIDIVDBBGBLE5FAY6B4FZC5LOVJWTOLJR6CFFBJWDCQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKBMT7VYVOGMVXP4OSJTPFU7EBPNV4QGL3FIATK5IN6KEJIOYQWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUH3ZRJNKDHNZ52XK2W3EZSUALOAAT75SVIOAS4EW2XFAPX5DDMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37IITFBXFNINES5OVC7ZUMKPZXSTWDYPGEXBTRDPLUQAG3XGREZQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7JA6BIAGH2UA3PZINAYHQ42S3BNTL6ZOH5ZFMXJ6OACONQK66FA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWCXFW7YJPPW4C32K5N4OXDWUWK7IVIKJMVIAJEVDCHT4QL3TZYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQQ6ETZN24JGUPKQCHRH4QNCONHVQXNZJPHJTK6HLAJUGJSNMPJQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFI5JW5RPWOOWPBW6Y44APEQAKRYZL4CZDCIB2CRSOYA5CEDLBTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWH45VYVOHLX7R5KXKFEMP6GZXZQCLPYUXNNGCDHBDKTZRDH2VJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2UQXDMW4FOLEP37QKNJD2T35ZYHY7CSDGTZUEUSDPP7L4VXLBIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ENEPBZCIYQ4VUDC3B5KNEQKTMRLGUFD66ZQYSCZSU3FOX5SHNMDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5P4YZ6VGXK5PCPG2SL34KSEUNANQFA4CQXCIGJQ52J2XOK64TMQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K77V3FJ7XGW4RRNIFWJMB5QZD7YT2OP5E2EHJUO2UE7AQ4TXDXSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM7MPFSRPOR2T2IXGBNMBKDTHXF5L66Y5SCOXJ2IRDOYJCVYMPNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js"
            ]
        }
    },
    "shapes": {
        "Su": {
            "type": "list",
            "member": {}
        },
        "Sw": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Timeout": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    },
                    "Alert": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "S13": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Duration": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "S18": {
            "type": "structure",
            "required": [
                "RecordingDestinations",
                "KMSKeyArn"
            ],
            "members": {
                "RecordingDestinations": {
                    "type": "structure",
                    "required": [
                        "S3Buckets"
                    ],
                    "members": {
                        "S3Buckets": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "BucketOwner",
                                    "BucketName"
                                ],
                                "members": {
                                    "BucketOwner": {},
                                    "BucketName": {}
                                }
                            }
                        }
                    }
                },
                "KMSKeyArn": {}
            }
        }
    }
}