{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "ssm-incidents",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "SSM Incidents",
        "serviceFullName": "AWS Systems Manager Incident Manager",
        "serviceId": "SSM Incidents",
        "signatureVersion": "v4",
        "signingName": "ssm-incidents",
        "uid": "ssm-incidents-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
        ]
    },
    "operations": {
        "CreateReplicationSet": {
            "http": {
                "requestUri": "/createReplicationSet",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "regions"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "regions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "sseKmsKeyId": {}
                            }
                        }
                    },
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "CreateResponsePlan": {
            "http": {
                "requestUri": "/createResponsePlan",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "incidentTemplate",
                    "name"
                ],
                "members": {
                    "actions": {
                        "shape": "Sd"
                    },
                    "chatChannel": {
                        "shape": "Ss"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "displayName": {},
                    "engagements": {
                        "shape": "Sx"
                    },
                    "incidentTemplate": {
                        "shape": "Sz"
                    },
                    "integrations": {
                        "shape": "S16"
                    },
                    "name": {},
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "CreateTimelineEvent": {
            "http": {
                "requestUri": "/createTimelineEvent",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "eventData",
                    "eventTime",
                    "eventType",
                    "incidentRecordArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "eventData": {},
                    "eventReferences": {
                        "shape": "S1h"
                    },
                    "eventTime": {
                        "type": "timestamp"
                    },
                    "eventType": {},
                    "incidentRecordArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "eventId",
                    "incidentRecordArn"
                ],
                "members": {
                    "eventId": {},
                    "incidentRecordArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DeleteIncidentRecord": {
            "http": {
                "requestUri": "/deleteIncidentRecord",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DeleteReplicationSet": {
            "http": {
                "requestUri": "/deleteReplicationSet",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "requestUri": "/deleteResourcePolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policyId",
                    "resourceArn"
                ],
                "members": {
                    "policyId": {},
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DeleteResponsePlan": {
            "http": {
                "requestUri": "/deleteResponsePlan",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "DeleteTimelineEvent": {
            "http": {
                "requestUri": "/deleteTimelineEvent",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "eventId",
                    "incidentRecordArn"
                ],
                "members": {
                    "eventId": {},
                    "incidentRecordArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "GetIncidentRecord": {
            "http": {
                "method": "GET",
                "requestUri": "/getIncidentRecord",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "incidentRecord"
                ],
                "members": {
                    "incidentRecord": {
                        "type": "structure",
                        "required": [
                            "arn",
                            "creationTime",
                            "dedupeString",
                            "impact",
                            "incidentRecordSource",
                            "lastModifiedBy",
                            "lastModifiedTime",
                            "status",
                            "title"
                        ],
                        "members": {
                            "arn": {},
                            "automationExecutions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "ssmExecutionArn": {}
                                    },
                                    "union": true
                                }
                            },
                            "chatChannel": {
                                "shape": "Ss"
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "dedupeString": {},
                            "impact": {
                                "type": "integer"
                            },
                            "incidentRecordSource": {
                                "shape": "S24"
                            },
                            "lastModifiedBy": {},
                            "lastModifiedTime": {
                                "type": "timestamp"
                            },
                            "notificationTargets": {
                                "shape": "S12"
                            },
                            "resolvedTime": {
                                "type": "timestamp"
                            },
                            "status": {},
                            "summary": {},
                            "title": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "GetReplicationSet": {
            "http": {
                "method": "GET",
                "requestUri": "/getReplicationSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "replicationSet"
                ],
                "members": {
                    "replicationSet": {
                        "type": "structure",
                        "required": [
                            "createdBy",
                            "createdTime",
                            "deletionProtected",
                            "lastModifiedBy",
                            "lastModifiedTime",
                            "regionMap",
                            "status"
                        ],
                        "members": {
                            "arn": {},
                            "createdBy": {},
                            "createdTime": {
                                "type": "timestamp"
                            },
                            "deletionProtected": {
                                "type": "boolean"
                            },
                            "lastModifiedBy": {},
                            "lastModifiedTime": {
                                "type": "timestamp"
                            },
                            "regionMap": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "required": [
                                        "status",
                                        "statusUpdateDateTime"
                                    ],
                                    "members": {
                                        "sseKmsKeyId": {},
                                        "status": {},
                                        "statusMessage": {},
                                        "statusUpdateDateTime": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            },
                            "status": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "GetResourcePolicies": {
            "http": {
                "requestUri": "/getResourcePolicies",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "resourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourcePolicies"
                ],
                "members": {
                    "nextToken": {},
                    "resourcePolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "policyDocument",
                                "policyId",
                                "ramResourceShareRegion"
                            ],
                            "members": {
                                "policyDocument": {},
                                "policyId": {},
                                "ramResourceShareRegion": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "GetResponsePlan": {
            "http": {
                "method": "GET",
                "requestUri": "/getResponsePlan",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "incidentTemplate",
                    "name"
                ],
                "members": {
                    "actions": {
                        "shape": "Sd"
                    },
                    "arn": {},
                    "chatChannel": {
                        "shape": "Ss"
                    },
                    "displayName": {},
                    "engagements": {
                        "shape": "Sx"
                    },
                    "incidentTemplate": {
                        "shape": "Sz"
                    },
                    "integrations": {
                        "shape": "S16"
                    },
                    "name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "GetTimelineEvent": {
            "http": {
                "method": "GET",
                "requestUri": "/getTimelineEvent",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "eventId",
                    "incidentRecordArn"
                ],
                "members": {
                    "eventId": {
                        "location": "querystring",
                        "locationName": "eventId"
                    },
                    "incidentRecordArn": {
                        "location": "querystring",
                        "locationName": "incidentRecordArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "event"
                ],
                "members": {
                    "event": {
                        "type": "structure",
                        "required": [
                            "eventData",
                            "eventId",
                            "eventTime",
                            "eventType",
                            "eventUpdatedTime",
                            "incidentRecordArn"
                        ],
                        "members": {
                            "eventData": {},
                            "eventId": {},
                            "eventReferences": {
                                "shape": "S1h"
                            },
                            "eventTime": {
                                "type": "timestamp"
                            },
                            "eventType": {},
                            "eventUpdatedTime": {
                                "type": "timestamp"
                            },
                            "incidentRecordArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "ListIncidentRecords": {
            "http": {
                "requestUri": "/listIncidentRecords",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "shape": "S2u"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "incidentRecordSummaries"
                ],
                "members": {
                    "incidentRecordSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "creationTime",
                                "impact",
                                "incidentRecordSource",
                                "status",
                                "title"
                            ],
                            "members": {
                                "arn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "impact": {
                                    "type": "integer"
                                },
                                "incidentRecordSource": {
                                    "shape": "S24"
                                },
                                "resolvedTime": {
                                    "type": "timestamp"
                                },
                                "status": {},
                                "title": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "ListRelatedItems": {
            "http": {
                "requestUri": "/listRelatedItems",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "incidentRecordArn"
                ],
                "members": {
                    "incidentRecordArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "relatedItems"
                ],
                "members": {
                    "nextToken": {},
                    "relatedItems": {
                        "shape": "S38"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "ListReplicationSets": {
            "http": {
                "requestUri": "/listReplicationSets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "replicationSetArns"
                ],
                "members": {
                    "nextToken": {},
                    "replicationSetArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "ListResponsePlans": {
            "http": {
                "requestUri": "/listResponsePlans",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "responsePlanSummaries"
                ],
                "members": {
                    "nextToken": {},
                    "responsePlanSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "name"
                            ],
                            "members": {
                                "arn": {},
                                "displayName": {},
                                "name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "ListTimelineEvents": {
            "http": {
                "requestUri": "/listTimelineEvents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "incidentRecordArn"
                ],
                "members": {
                    "filters": {
                        "shape": "S2u"
                    },
                    "incidentRecordArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "sortBy": {},
                    "sortOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "eventSummaries"
                ],
                "members": {
                    "eventSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "eventId",
                                "eventTime",
                                "eventType",
                                "eventUpdatedTime",
                                "incidentRecordArn"
                            ],
                            "members": {
                                "eventId": {},
                                "eventReferences": {
                                    "shape": "S1h"
                                },
                                "eventTime": {
                                    "type": "timestamp"
                                },
                                "eventType": {},
                                "eventUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "incidentRecordArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "PutResourcePolicy": {
            "http": {
                "requestUri": "/putResourcePolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policy",
                    "resourceArn"
                ],
                "members": {
                    "policy": {},
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policyId"
                ],
                "members": {
                    "policyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "StartIncident": {
            "http": {
                "requestUri": "/startIncident",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "responsePlanArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "impact": {
                        "type": "integer"
                    },
                    "relatedItems": {
                        "shape": "S38"
                    },
                    "responsePlanArn": {},
                    "title": {},
                    "triggerDetails": {
                        "type": "structure",
                        "required": [
                            "source",
                            "timestamp"
                        ],
                        "members": {
                            "rawData": {},
                            "source": {},
                            "timestamp": {
                                "type": "timestamp"
                            },
                            "triggerArn": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "incidentRecordArn"
                ],
                "members": {
                    "incidentRecordArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XIM7KCL4MNGLR565AHPQ4SNCWGUEFJ52CNIGC3O3Q3GYFUPM6KNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OVOEDMZSNVWA5MLKCMWHPN55XMPLEJ6L4CF2FTHL3TOW5HNX2OQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3EUD4PZDTB6YYPPN2FLS75OD2JF3VDEUQWUXPIHG73T4WGHKVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNL5FM7H45UUBQOGAOXZMW3GFGKBG5EWY5CDMUTMYB24MAU25Q4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ICUJ632K3XEMRYPUEFPOAARN35H5CLCAOTV5AIWQSCGWZJF24MHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SI2SM5XKC3CY72AW6VS7X3BJWKCRBBQS73ASLKUJZPPB57HPTBOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTR7GBTMBW44COY2BG2BRSFASFFC2NAGJPK7F3ZANCJKOFKRK4CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3QX2MRNSPEJ4RMPTCQ4NN7ZWYH2RFMG4AXTIQ2XWATV6X67F7QZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4B4324OYGITPFS5WENH525D65IINFIEGZNIRIVLP5T3APNVEIGLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
[...]
