{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-05-03",
        "endpointPrefix": "ssm-contacts",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SSM Contacts",
        "serviceFullName": "AWS Systems Manager Incident Manager Contacts",
        "serviceId": "SSM Contacts",
        "signatureVersion": "v4",
        "signingName": "ssm-contacts",
        "targetPrefix": "SSMContacts",
        "uid": "ssm-contacts-2021-05-03",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2SJH65T4N3P2VA5S5WV2QSR2VELJAYQJBHTIJOEJMHVLJW4H5VA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IN7XIIP3XI6P7BXZHQ6TSBSMEV3FPBL33LBESXOPBECF2NOTSFYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AcceptPage": {
            "input": {
                "type": "structure",
                "required": [
                    "PageId",
                    "AcceptType",
                    "AcceptCode"
                ],
                "members": {
                    "PageId": {},
                    "ContactChannelId": {},
                    "AcceptType": {},
                    "Note": {},
                    "AcceptCode": {},
                    "AcceptCodeValidation": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ActivateContactChannel": {
            "input": {
                "type": "structure",
                "required": [
                    "ContactChannelId",
                    "ActivationCode"
                ],
                "members": {
                    "ContactChannelId": {},
                    "ActivationCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateContact": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias",
                    "Type",
                    "Plan"
                ],
                "members": {
                    "Alias": {},
                    "DisplayName": {},
                    "Type": {},
                    "Plan": {
                        "shape": "Sf"
                    },
                    "Tags": {
                        "shape": "Sp"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ContactArn"
                ],
                "members": {
                    "ContactArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateContactChannel": {
            "input": {
                "type": "structure",
                "required": [
                    "ContactId",
                    "Name",
                    "Type",
                    "DeliveryAddress"
                ],
                "members": {
                    "ContactId": {},
                    "Name": {},
                    "Type": {},
                    "DeliveryAddress": {
                        "shape": "Sy"
                    },
                    "DeferActivation": {
                        "type": "boolean"
                    },
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ContactChannelArn"
                ],
                "members": {
                    "ContactChannelArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeactivateContactChannel": {
            "input": {
                "type": "structure",
                "required": [
                    "ContactChannelId"
                ],
                "members": {
                    "ContactChannelId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteContact": {
            "input": {
                "type": "structure",
                "required": [
                    "ContactId"
                ],
                "members": {
                    "ContactId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteContactChannel": {
            "input": {
                "type": "structure",
                "required": [
                    "ContactChannelId"
                ],
                "members": {
                    "ContactChannelId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeEngagement": {
            "input": {
                "type": "structure",
                "required": [
                    "EngagementId"
                ],
                "members": {
                    "EngagementId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ContactArn",
                    "EngagementArn",
                    "Sender",
                    "Subject",
                    "Content"
                ],
                "members": {
                    "ContactArn": {},
                    "EngagementArn": {},
                    "Sender": {},
                    "Subject": {},
                    "Content": {},
                    "PublicSubject": {},
                    "PublicContent": {},
                    "IncidentId": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "StopTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribePage": {
            "input": {
                "type": "structure",
                "required": [
                    "PageId"
                ],
                "members": {
                    "PageId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PageArn",
                    "EngagementArn",
                    "ContactArn",
                    "Sender",
                    "Subject",
                    "Content"
                ],
                "members": {
                    "PageArn": {},
                    "EngagementArn": {},
                    "ContactArn": {},
                    "Sender": {},
                    "Subject": {},
                    "Content": {},
                    "PublicSubject": {},
                    "PublicContent": {},
                    "IncidentId": {},
                    "SentTime": {
                        "type": "timestamp"
                    },
                    "ReadTime": {
                        "type": "timestamp"
                    },
                    "DeliveryTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetContact": {
            "input": {
                "type": "structure",
                "required": [
                    "ContactId"
                ],
                "members": {
                    "ContactId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ContactArn",
                    "Alias",
                    "Type",
                    "Plan"
                ],
                "members": {
                    "ContactArn": {},
                    "Alias": {},
                    "DisplayName": {},
                    "Type": {},
                    "Plan": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetContactChannel": {
            "input": {
                "type": "structure",
                "required": [
                    "ContactChannelId"
                ],
                "members": {
                    "ContactChannelId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ContactArn",
                    "ContactChannelArn",
                    "Name",
                    "Type",
                    "DeliveryAddress"
                ],
                "members": {
                    "ContactArn": {},
                    "ContactChannelArn": {},
                    "Name": {},
                    "Type": {},
                    "DeliveryAddress": {
                        "shape": "Sy"
                    },
                    "ActivationStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetContactPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContactArn"
                ],
                "members": {
                    "ContactArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContactArn": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListContactChannels": {
            "input": {
                "type": "structure",
                "required": [
                    "ContactId"
                ],
                "members": {
                    "ContactId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ContactChannels"
                ],
                "members": {
                    "NextToken": {},
                    "ContactChannels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ContactChannelArn",
                                "ContactArn",
                                "Name",
                                "DeliveryAddress",
                                "ActivationStatus"
                            ],
                            "members": {
                                "ContactChannelArn": {},
                                "ContactArn": {},
                                "Name": {},
                                "Type": {},
                                "DeliveryAddress": {
                                    "shape": "Sy"
                                },
                                "ActivationStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListContacts": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "AliasPrefix": {},
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Contacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ContactArn",
                                "Alias",
                                "Type"
                            ],
                            "members": {
                                "ContactArn": {},
                                "Alias": {},
                                "DisplayName": {},
                                "Type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListEngagements": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "IncidentId": {},
                    "TimeRangeValue": {
                        "type": "structure",
                        "members": {
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Engagements"
                ],
                "members": {
                    "NextToken": {},
                    "Engagements": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "EngagementArn",
                                "ContactArn",
                                "Sender"
                            ],
                            "members": {
                                "EngagementArn": {},
                                "ContactArn": {},
                                "Sender": {},
                                "IncidentId": {},
                                "StartTime": {
                                    "type": "timestamp"
                                },
                                "StopTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListPageReceipts": {
            "input": {
                "type": "structure",
                "required": [
                    "PageId"
                ],
                "members": {
                    "PageId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Receipts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ReceiptType",
                                "ReceiptTime"
                            ],
                            "members": {
                                "ContactChannelArn": {},
                                "ReceiptType": {},
                                "ReceiptInfo": {},
                                "ReceiptTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListPagesByContact": {
            "input": {
                "type": "structure",
                "required": [
                    "ContactId"
                ],
                "members": {
                    "ContactId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Pages"
                ],
                "members": {
                    "NextToken": {},
                    "Pages": {
                        "shape": "S2d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListPagesByEngagement": {
            "input": {
                "type": "structure",
                "required": [
                    "EngagementId"
                ],
                "members": {
                    "EngagementId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Pages"
                ],
                "members": {
                    "NextToken": {},
                    "Pages": {
                        "shape": "S2d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "PutContactPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "ContactArn",
                    "Policy"
                ],
                "members": {
                    "ContactArn": {},
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "SendActivationCode": {
            "input": {
                "type": "structure",
                "required": [
                    "ContactChannelId"
                ],
                "members": {
                    "ContactChannelId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartEngagement": {
            "input": {
                "type": "structure",
                "required": [
                    "ContactId",
                    "Sender",
                    "Subject",
                    "Content"
                ],
                "members": {
                    "ContactId": {},
                    "Sender": {},
                    "Subject": {},
                    "Content": {},
                    "PublicSubject": {},
                    "PublicContent": {},
                    "IncidentId": {},
                    "IdempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EngagementArn"
                ],
                "members": {
                    "EngagementArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StopEngagement": {
            "input": {
                "type": "structure",
                "required": [
                    "EngagementId"
                ],
                "members": {
                    "EngagementId": {},
                    "Reason": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "Sp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
[...]
