{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "ssm-incidents",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "SSM Incidents",
        "serviceFullName": "AWS Systems Manager Incident Manager",
        "serviceId": "SSM Incidents",
        "signatureVersion": "v4",
        "signingName": "ssm-incidents",
        "uid": "ssm-incidents-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWKRXLCXW5PCU3H3MR7ZYXMGT3QJHN25DBN25QV65X6HYZR4AMFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateReplicationSet": {
            "http": {
                "requestUri": "/createReplicationSet",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "regions"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "regions": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "sseKmsKeyId": {}
                            }
                        }
                    },
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateResponsePlan": {
            "http": {
                "requestUri": "/createResponsePlan",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "incidentTemplate",
                    "name"
                ],
                "members": {
                    "actions": {
                        "shape": "Sd"
                    },
                    "chatChannel": {
                        "shape": "Ss"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "displayName": {},
                    "engagements": {
                        "shape": "Sx"
                    },
                    "incidentTemplate": {
                        "shape": "Sz"
                    },
                    "integrations": {
                        "shape": "S16"
                    },
                    "name": {},
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateTimelineEvent": {
            "http": {
                "requestUri": "/createTimelineEvent",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "eventData",
                    "eventTime",
                    "eventType",
                    "incidentRecordArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "eventData": {},
                    "eventReferences": {
                        "shape": "S1h"
                    },
                    "eventTime": {
                        "type": "timestamp"
                    },
                    "eventType": {},
                    "incidentRecordArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "eventId",
                    "incidentRecordArn"
                ],
                "members": {
                    "eventId": {},
                    "incidentRecordArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteIncidentRecord": {
            "http": {
                "requestUri": "/deleteIncidentRecord",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteReplicationSet": {
            "http": {
                "requestUri": "/deleteReplicationSet",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteResourcePolicy": {
            "http": {
                "requestUri": "/deleteResourcePolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policyId",
                    "resourceArn"
                ],
                "members": {
                    "policyId": {},
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteResponsePlan": {
            "http": {
                "requestUri": "/deleteResponsePlan",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteTimelineEvent": {
            "http": {
                "requestUri": "/deleteTimelineEvent",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "eventId",
                    "incidentRecordArn"
                ],
                "members": {
                    "eventId": {},
                    "incidentRecordArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetIncidentRecord": {
            "http": {
                "method": "GET",
                "requestUri": "/getIncidentRecord",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "incidentRecord"
                ],
                "members": {
                    "incidentRecord": {
                        "type": "structure",
                        "required": [
                            "arn",
                            "creationTime",
                            "dedupeString",
                            "impact",
                            "incidentRecordSource",
                            "lastModifiedBy",
                            "lastModifiedTime",
                            "status",
                            "title"
                        ],
                        "members": {
                            "arn": {},
                            "automationExecutions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "ssmExecutionArn": {}
                                    },
                                    "union": true
                                }
                            },
                            "chatChannel": {
                                "shape": "Ss"
                            },
                            "creationTime": {
                                "type": "timestamp"
                            },
                            "dedupeString": {},
                            "impact": {
                                "type": "integer"
                            },
                            "incidentRecordSource": {
                                "shape": "S24"
                            },
                            "lastModifiedBy": {},
                            "lastModifiedTime": {
                                "type": "timestamp"
                            },
                            "notificationTargets": {
                                "shape": "S12"
                            },
                            "resolvedTime": {
                                "type": "timestamp"
                            },
                            "status": {},
                            "summary": {},
                            "title": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetReplicationSet": {
            "http": {
                "method": "GET",
                "requestUri": "/getReplicationSet",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "replicationSet"
                ],
                "members": {
                    "replicationSet": {
                        "type": "structure",
                        "required": [
                            "createdBy",
                            "createdTime",
                            "deletionProtected",
                            "lastModifiedBy",
                            "lastModifiedTime",
                            "regionMap",
                            "status"
                        ],
                        "members": {
                            "arn": {},
                            "createdBy": {},
                            "createdTime": {
                                "type": "timestamp"
                            },
                            "deletionProtected": {
                                "type": "boolean"
                            },
                            "lastModifiedBy": {},
                            "lastModifiedTime": {
                                "type": "timestamp"
                            },
                            "regionMap": {
                                "type": "map",
                                "key": {},
                                "value": {
                                    "type": "structure",
                                    "required": [
                                        "status",
                                        "statusUpdateDateTime"
                                    ],
                                    "members": {
                                        "sseKmsKeyId": {},
                                        "status": {},
                                        "statusMessage": {},
                                        "statusUpdateDateTime": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            },
                            "status": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetResourcePolicies": {
            "http": {
                "requestUri": "/getResourcePolicies",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "resourceArn": {
                        "location": "querystring",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "resourcePolicies"
                ],
                "members": {
                    "nextToken": {},
                    "resourcePolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "policyDocument",
                                "policyId",
                                "ramResourceShareRegion"
                            ],
                            "members": {
                                "policyDocument": {},
                                "policyId": {},
                                "ramResourceShareRegion": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetResponsePlan": {
            "http": {
                "method": "GET",
                "requestUri": "/getResponsePlan",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "incidentTemplate",
                    "name"
                ],
                "members": {
                    "actions": {
                        "shape": "Sd"
                    },
                    "arn": {},
                    "chatChannel": {
                        "shape": "Ss"
                    },
                    "displayName": {},
                    "engagements": {
                        "shape": "Sx"
                    },
                    "incidentTemplate": {
                        "shape": "Sz"
                    },
                    "integrations": {
                        "shape": "S16"
                    },
                    "name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetTimelineEvent": {
            "http": {
                "method": "GET",
                "requestUri": "/getTimelineEvent",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "eventId",
                    "incidentRecordArn"
                ],
                "members": {
                    "eventId": {
                        "location": "querystring",
                        "locationName": "eventId"
                    },
                    "incidentRecordArn": {
                        "location": "querystring",
                        "locationName": "incidentRecordArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "event"
                ],
                "members": {
                    "event": {
                        "type": "structure",
                        "required": [
                            "eventData",
                            "eventId",
                            "eventTime",
                            "eventType",
                            "eventUpdatedTime",
                            "incidentRecordArn"
                        ],
                        "members": {
                            "eventData": {},
                            "eventId": {},
                            "eventReferences": {
                                "shape": "S1h"
                            },
                            "eventTime": {
                                "type": "timestamp"
                            },
                            "eventType": {},
                            "eventUpdatedTime": {
                                "type": "timestamp"
                            },
                            "incidentRecordArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListIncidentRecords": {
            "http": {
                "requestUri": "/listIncidentRecords",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "shape": "S2u"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "incidentRecordSummaries"
                ],
                "members": {
                    "incidentRecordSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "creationTime",
                                "impact",
                                "incidentRecordSource",
                                "status",
                                "title"
                            ],
                            "members": {
                                "arn": {},
                                "creationTime": {
                                    "type": "timestamp"
                                },
                                "impact": {
                                    "type": "integer"
                                },
                                "incidentRecordSource": {
                                    "shape": "S24"
                                },
                                "resolvedTime": {
                                    "type": "timestamp"
                                },
                                "status": {},
                                "title": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListRelatedItems": {
            "http": {
                "requestUri": "/listRelatedItems",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "incidentRecordArn"
                ],
                "members": {
                    "incidentRecordArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "relatedItems"
                ],
                "members": {
                    "nextToken": {},
                    "relatedItems": {
                        "shape": "S38"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListReplicationSets": {
            "http": {
                "requestUri": "/listReplicationSets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "replicationSetArns"
                ],
                "members": {
                    "nextToken": {},
                    "replicationSetArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListResponsePlans": {
            "http": {
                "requestUri": "/listResponsePlans",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "responsePlanSummaries"
                ],
                "members": {
                    "nextToken": {},
                    "responsePlanSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "name"
                            ],
                            "members": {
                                "arn": {},
                                "displayName": {},
                                "name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTimelineEvents": {
            "http": {
                "requestUri": "/listTimelineEvents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "incidentRecordArn"
                ],
                "members": {
                    "filters": {
                        "shape": "S2u"
                    },
                    "incidentRecordArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "sortBy": {},
                    "sortOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "eventSummaries"
                ],
                "members": {
                    "eventSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "eventId",
                                "eventTime",
                                "eventType",
                                "eventUpdatedTime",
                                "incidentRecordArn"
                            ],
                            "members": {
                                "eventId": {},
                                "eventReferences": {
                                    "shape": "S1h"
                                },
                                "eventTime": {
                                    "type": "timestamp"
                                },
                                "eventType": {},
                                "eventUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "incidentRecordArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "PutResourcePolicy": {
            "http": {
                "requestUri": "/putResourcePolicy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "policy",
                    "resourceArn"
                ],
                "members": {
                    "policy": {},
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "policyId"
                ],
                "members": {
                    "policyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartIncident": {
            "http": {
                "requestUri": "/startIncident",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "responsePlanArn"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "impact": {
                        "type": "integer"
                    },
                    "relatedItems": {
                        "shape": "S38"
                    },
                    "responsePlanArn": {},
                    "title": {},
                    "triggerDetails": {
                        "type": "structure",
                        "required": [
                            "source",
                            "timestamp"
                        ],
                        "members": {
                            "rawData": {},
                            "source": {},
                            "timestamp": {
                                "type": "timestamp"
                            },
                            "triggerArn": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "incidentRecordArn"
                ],
                "members": {
                    "incidentRecordArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SAWTH7D7R2FGAALFMJ3BEHQY62UPGX4AVCPJXLZZPFAFQFRVPLGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJKGIQZG5BONRNYWURGGT53GPOIR5GWJEVIOD4QFJCK3WYN5TWRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BMKTZ365FHEEIN6U6WVZ3CSKDNOZUHGTTAVIBXWTKA3MTV3HT7WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQQ4RT6RYN75FNXXYGXFAAZTXDAASZOJTLBCZQVD47CKTZAGYR6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIVBHAOH6RJK4WHJYGFTHMKNRD7P7GNR7FPOR4KP2BY3OCDWFW6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ORRBF2ELE3Y2BHKGS2TEPIA7MF6D75EDXXCGUA46E65GF4V7TUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPBKLLG4U6U55OKZLNA2USXX4PJ6WRDVUYWXE5LOBC5ADGWM3CDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FIYHOYSB7AP5DQVIBCRQ7PS3SNZ3III5ZN7PRHVVQ7UY4T76JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYTNBYUKNBFFMNVNPEH3EDH6NWCGLYWDGCX2DVEVQKHL3TKXQ7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4QXR32WIWOB2RS5HRXL6HMVTWMGVJPTR26ZYCWIF4MI4EDLEMEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
[...]
