{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-05-01",
        "endpointPrefix": "ssm-guiconnect",
        "jsonVersion": "1.0",
        "protocol": "rest-json",
        "ripServiceName": "periscope",
        "serviceFullName": "SSM-GUIConnect",
        "serviceId": "SSMGuiConnect",
        "signatureVersion": "v4",
        "signingName": "ssm-guiconnect",
        "uid": "ssmguiconnect-2021-05-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/N26CC5MZZXE3RS67YUR32262P5S6SXE2Z3RYH56IWL6JI4HWDXEQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6PDX5ICCU26TTAK7BREMFJK3X5C2C7INNY66H6TGTCF6MIO7COQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2UGCEIZK7DRAJFH3QPEB63AQT6Z5ELHUAM5XTTBGQDWK7AK5Q3UA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQL42DRXRJHZE5XVRM4DIF6L3Y6I4XIMD5IIJSRCVS26JKRXS3JQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBM6CRT3VHFWPUPSL262KCFCMKN3W7JZQ5ZBDRMY3YMBFVEFTVDQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KT5P2XAXHHY2LY2Z4YJ3HRNZBAELX4GV7COUZGTTVGGXPADYX6BA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3BJQQXJZECI7BEQ6KVU4X7JWDKH2XMBJRKJLL5EP6HXSF6S3ZEQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EG3CTTKZCIX4YZREJ776HR6CXW34QMR6NDFTOA7S64FMLJDCEDWA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNH3ZWJ4TNPDPUG54NPCGVPS6OSSKG55N7RSN3P6OOBMU4BDYJAA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EYOKUNAHKSZZEA25ASGDW7ZDN4SF2ILRL3XSJSD6IMRV4ZIZGJWQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
        ]
    },
    "operations": {
        "CancelConnection": {
            "http": {
                "requestUri": "/CancelConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionArn": {},
                    "RequestId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PDX5ICCU26TTAK7BREMFJK3X5C2C7INNY66H6TGTCF6MIO7COQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UGCEIZK7DRAJFH3QPEB63AQT6Z5ELHUAM5XTTBGQDWK7AK5Q3UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQL42DRXRJHZE5XVRM4DIF6L3Y6I4XIMD5IIJSRCVS26JKRXS3JQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBM6CRT3VHFWPUPSL262KCFCMKN3W7JZQ5ZBDRMY3YMBFVEFTVDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT5P2XAXHHY2LY2Z4YJ3HRNZBAELX4GV7COUZGTTVGGXPADYX6BA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3BJQQXJZECI7BEQ6KVU4X7JWDKH2XMBJRKJLL5EP6HXSF6S3ZEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG3CTTKZCIX4YZREJ776HR6CXW34QMR6NDFTOA7S64FMLJDCEDWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNH3ZWJ4TNPDPUG54NPCGVPS6OSSKG55N7RSN3P6OOBMU4BDYJAA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYOKUNAHKSZZEA25ASGDW7ZDN4SF2ILRL3XSJSD6IMRV4ZIZGJWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "GetConnection": {
            "http": {
                "method": "GET",
                "requestUri": "/GetConnection/{ConnectionToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionToken"
                ],
                "members": {
                    "ConnectionToken": {
                        "location": "uri",
                        "locationName": "ConnectionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "AuthTokenPublicKey": {},
                    "AuthType": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionErrorMessage": {},
                    "ConnectionToken": {},
                    "ConnectionType": {},
                    "ConnectionUri": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "InstanceId": {},
                    "Protocol": {},
                    "RequestId": {},
                    "SsmSessionId": {},
                    "Status": {},
                    "TargetIp": {
                        "location": "header",
                        "locationName": "X-Target-IP"
                    },
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PDX5ICCU26TTAK7BREMFJK3X5C2C7INNY66H6TGTCF6MIO7COQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UGCEIZK7DRAJFH3QPEB63AQT6Z5ELHUAM5XTTBGQDWK7AK5Q3UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQL42DRXRJHZE5XVRM4DIF6L3Y6I4XIMD5IIJSRCVS26JKRXS3JQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBM6CRT3VHFWPUPSL262KCFCMKN3W7JZQ5ZBDRMY3YMBFVEFTVDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT5P2XAXHHY2LY2Z4YJ3HRNZBAELX4GV7COUZGTTVGGXPADYX6BA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3BJQQXJZECI7BEQ6KVU4X7JWDKH2XMBJRKJLL5EP6HXSF6S3ZEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG3CTTKZCIX4YZREJ776HR6CXW34QMR6NDFTOA7S64FMLJDCEDWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNH3ZWJ4TNPDPUG54NPCGVPS6OSSKG55N7RSN3P6OOBMU4BDYJAA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYOKUNAHKSZZEA25ASGDW7ZDN4SF2ILRL3XSJSD6IMRV4ZIZGJWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "StartConnection": {
            "http": {
                "requestUri": "/StartConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AuthType",
                    "ConnectionType",
                    "InstanceId",
                    "Protocol"
                ],
                "members": {
                    "AuthType": {},
                    "ConnectionParameters": {
                        "type": "structure",
                        "members": {
                            "SupportGraphicsPipeline": {
                                "type": "boolean"
                            }
                        }
                    },
                    "ConnectionType": {},
                    "InstanceId": {},
                    "Protocol": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionArn": {},
                    "ConnectionKey": {},
                    "RequestId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PDX5ICCU26TTAK7BREMFJK3X5C2C7INNY66H6TGTCF6MIO7COQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UGCEIZK7DRAJFH3QPEB63AQT6Z5ELHUAM5XTTBGQDWK7AK5Q3UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQL42DRXRJHZE5XVRM4DIF6L3Y6I4XIMD5IIJSRCVS26JKRXS3JQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBM6CRT3VHFWPUPSL262KCFCMKN3W7JZQ5ZBDRMY3YMBFVEFTVDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT5P2XAXHHY2LY2Z4YJ3HRNZBAELX4GV7COUZGTTVGGXPADYX6BA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3BJQQXJZECI7BEQ6KVU4X7JWDKH2XMBJRKJLL5EP6HXSF6S3ZEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG3CTTKZCIX4YZREJ776HR6CXW34QMR6NDFTOA7S64FMLJDCEDWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNH3ZWJ4TNPDPUG54NPCGVPS6OSSKG55N7RSN3P6OOBMU4BDYJAA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYOKUNAHKSZZEA25ASGDW7ZDN4SF2ILRL3XSJSD6IMRV4ZIZGJWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "GetPreferences": {
            "http": {
                "requestUri": "/GetPreferences",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionRecordingPreferences": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PDX5ICCU26TTAK7BREMFJK3X5C2C7INNY66H6TGTCF6MIO7COQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UGCEIZK7DRAJFH3QPEB63AQT6Z5ELHUAM5XTTBGQDWK7AK5Q3UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQL42DRXRJHZE5XVRM4DIF6L3Y6I4XIMD5IIJSRCVS26JKRXS3JQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBM6CRT3VHFWPUPSL262KCFCMKN3W7JZQ5ZBDRMY3YMBFVEFTVDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT5P2XAXHHY2LY2Z4YJ3HRNZBAELX4GV7COUZGTTVGGXPADYX6BA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3BJQQXJZECI7BEQ6KVU4X7JWDKH2XMBJRKJLL5EP6HXSF6S3ZEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG3CTTKZCIX4YZREJ776HR6CXW34QMR6NDFTOA7S64FMLJDCEDWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNH3ZWJ4TNPDPUG54NPCGVPS6OSSKG55N7RSN3P6OOBMU4BDYJAA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYOKUNAHKSZZEA25ASGDW7ZDN4SF2ILRL3XSJSD6IMRV4ZIZGJWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "ListConnections": {
            "http": {
                "requestUri": "/ListConnections",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "AfterStartDate": {
                                "type": "timestamp"
                            },
                            "BeforeStartDate": {
                                "type": "timestamp"
                            },
                            "ConnectionId": {
                                "type": "list",
                                "member": {}
                            },
                            "Status": {
                                "type": "list",
                                "member": {}
                            },
                            "Owner": {
                                "type": "list",
                                "member": {}
                            },
                            "InstanceId": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "RequestId": {},
                    "Connections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConnectionId": {},
                                "Owner": {},
                                "Username": {},
                                "InstanceId": {},
                                "Protocol": {},
                                "AuthType": {},
                                "RecordingUri": {
                                    "shape": "So"
                                },
                                "Status": {},
                                "Reason": {},
                                "StartDate": {
                                    "type": "timestamp"
                                },
                                "EndDate": {
                                    "type": "timestamp"
                                },
                                "RecordingStatus": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PDX5ICCU26TTAK7BREMFJK3X5C2C7INNY66H6TGTCF6MIO7COQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UGCEIZK7DRAJFH3QPEB63AQT6Z5ELHUAM5XTTBGQDWK7AK5Q3UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQL42DRXRJHZE5XVRM4DIF6L3Y6I4XIMD5IIJSRCVS26JKRXS3JQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBM6CRT3VHFWPUPSL262KCFCMKN3W7JZQ5ZBDRMY3YMBFVEFTVDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT5P2XAXHHY2LY2Z4YJ3HRNZBAELX4GV7COUZGTTVGGXPADYX6BA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3BJQQXJZECI7BEQ6KVU4X7JWDKH2XMBJRKJLL5EP6HXSF6S3ZEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG3CTTKZCIX4YZREJ776HR6CXW34QMR6NDFTOA7S64FMLJDCEDWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNH3ZWJ4TNPDPUG54NPCGVPS6OSSKG55N7RSN3P6OOBMU4BDYJAA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYOKUNAHKSZZEA25ASGDW7ZDN4SF2ILRL3XSJSD6IMRV4ZIZGJWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "UpdatePreferences": {
            "http": {
                "requestUri": "/UpdatePreferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionRecordingPreferences"
                ],
                "members": {
                    "ConnectionRecordingPreferences": {
                        "shape": "Sr"
                    },
                    "IdleConnection": {
                        "shape": "Sw"
                    },
                    "MaxConnectionTime": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionRecordingPreferences": {
                        "shape": "Sr"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PDX5ICCU26TTAK7BREMFJK3X5C2C7INNY66H6TGTCF6MIO7COQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UGCEIZK7DRAJFH3QPEB63AQT6Z5ELHUAM5XTTBGQDWK7AK5Q3UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQL42DRXRJHZE5XVRM4DIF6L3Y6I4XIMD5IIJSRCVS26JKRXS3JQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBM6CRT3VHFWPUPSL262KCFCMKN3W7JZQ5ZBDRMY3YMBFVEFTVDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT5P2XAXHHY2LY2Z4YJ3HRNZBAELX4GV7COUZGTTVGGXPADYX6BA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3BJQQXJZECI7BEQ6KVU4X7JWDKH2XMBJRKJLL5EP6HXSF6S3ZEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG3CTTKZCIX4YZREJ776HR6CXW34QMR6NDFTOA7S64FMLJDCEDWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNH3ZWJ4TNPDPUG54NPCGVPS6OSSKG55N7RSN3P6OOBMU4BDYJAA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYOKUNAHKSZZEA25ASGDW7ZDN4SF2ILRL3XSJSD6IMRV4ZIZGJWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        },
        "DeletePreferences": {
            "http": {
                "requestUri": "/DeletePreferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Preferences"
                ],
                "members": {
                    "Preferences": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PDX5ICCU26TTAK7BREMFJK3X5C2C7INNY66H6TGTCF6MIO7COQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2UGCEIZK7DRAJFH3QPEB63AQT6Z5ELHUAM5XTTBGQDWK7AK5Q3UA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQL42DRXRJHZE5XVRM4DIF6L3Y6I4XIMD5IIJSRCVS26JKRXS3JQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBM6CRT3VHFWPUPSL262KCFCMKN3W7JZQ5ZBDRMY3YMBFVEFTVDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KT5P2XAXHHY2LY2Z4YJ3HRNZBAELX4GV7COUZGTTVGGXPADYX6BA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3BJQQXJZECI7BEQ6KVU4X7JWDKH2XMBJRKJLL5EP6HXSF6S3ZEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EG3CTTKZCIX4YZREJ776HR6CXW34QMR6NDFTOA7S64FMLJDCEDWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNH3ZWJ4TNPDPUG54NPCGVPS6OSSKG55N7RSN3P6OOBMU4BDYJAA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYOKUNAHKSZZEA25ASGDW7ZDN4SF2ILRL3XSJSD6IMRV4ZIZGJWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4T65IFBNXO22NIGQBRU6XKYDMUFRUD4ECQYIV6RFWGJUM62BTW7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KMHZC2WDBCYBBFHJ7MEAVBX7OQLRDLM5ROUCI63KECGVV52PFVQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEYX4BR6FLKTICIRZR5PFXJWREFV7JXHDRFSTZSJMZMFVLQ4CPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHWG7C47R7YFJRO3EALHOC2SJNVAH7BWX27QJDPPD5T7DQSYWFBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMCUGM5SADCPGPRBL6ZA4YRKS7A24M3JH4O6TGU5KB6TAMEGX42Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMSSSTLVQ2XZOXQ2OZQMQT6FMR5EB35EJXFOV73PHANBC7KRYHIA/awsSdk.js"
            ]
        }
    },
    "shapes": {
        "So": {
            "type": "list",
            "member": {}
        },
        "Sr": {
            "type": "structure",
            "required": [
                "IsRecordingEnabled"
            ],
            "members": {
                "IsRecordingEnabled": {
                    "type": "boolean"
                },
                "S3Buckets": {
                    "type": "list",
                    "member": {}
                },
                "KMSKeyArn": {}
            }
        },
        "S3": {
            "type": "structure",
            "required": [
                "IsRecordingEnabled"
            ],
            "members": {
                "IsRecordingEnabled": {
                    "type": "boolean"
                },
                "S3Buckets": {
                    "type": "list",
                    "member": {}
                },
                "KMSKeyArn": {}
            }
        },
        "Sw": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Timeout": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    },
                    "Alert": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "Ss": {
            "type": "list",
            "member": {}
        },
        "Sv": {
            "type": "structure",
            "required": [
                "IsRecordingEnabled"
            ],
            "members": {
                "IsRecordingEnabled": {
                    "type": "boolean"
                },
                "S3Buckets": {
                    "type": "list",
                    "member": {}
                },
                "KMSKeyArn": {}
            }
        },
        "S10": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Timeout": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    },
                    "Alert": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Timeout": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    },
                    "Alert": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "S11": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Duration": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "S16": {
            "type": "structure",
            "required": [
                "IsRecordingEnabled"
            ],
            "members": {
                "IsRecordingEnabled": {
                    "type": "boolean"
                },
                "S3Buckets": {
                    "type": "list",
                    "member": {}
                },
                "KMSKeyArn": {}
            }
        }
    }
}