{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-05-01",
        "endpointPrefix": "ssm-guiconnect",
        "jsonVersion": "1.0",
        "protocol": "rest-json",
        "ripServiceName": "periscope",
        "serviceFullName": "SSM-GUIConnect",
        "serviceId": "SSMGuiConnect",
        "signatureVersion": "v4",
        "signingName": "ssm-guiconnect",
        "uid": "ssmguiconnect-2021-05-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YPMB52MOHSDAGGWSTFPRGZPXSSFBOCLJD45YIMLZFUYHCWA67N3Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7N76MZJMUBGTDEITEXN7ZJLJQ2HW7MHKR3QEPWNXWMSKGYM6U7CQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TMJWDPFQ6B6T67RG2VAWCMKVW4FDICGB4V7MGX4JLCYRCDDW7JBA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWZZDCUMJ26EPMCRWIM3EAKX36YEWN7XOLUJAUYPNTP6OIC4UHPA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3W23MY6EOLQYCNGKEPPG6EKZ7QYIO57IZCVYGAMD2LDGQAR4RBIA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FEFTCEESVDIDAUVIFBJU7TQWB4CB4HSVJAX2EFLXYJYX3FURUC7A/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYUPTWOCYUTY4HMLAEFDAKCCSCCSOBHWHNMCRPIUB745IOJDDCAQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K2KBHQ4QGQ5HTT7RN224DHRQ3QICJT5DKHO2WNGNZ43NZG6NEQDQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UULOOXPG6VISAMQX3O6LOMZ4IEBHZBSBXMF7CESBZVNXSCXQDS4Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNCPCAH74SNXB4P2X4MZYG3XCE6QVXIBYUQUL3ICMPFCZU3ULUDA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGBPXBBXDTWYLR3CUK7RKRB4S7AR3BEZCQX4WUBQXC67TC7VG4LQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NHDMRAER5QJDETVWJ4CMCKBTMDKXP7C7TUT2XGXQAQXAMC2YWMA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5FKI4TJA34NSX3BM5MNXH5L2VYQ4QP7J7HGQBH7T56QKEU55HKTA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TF53SPGB3AVFBEFM7W7LK5IZF6TLDBRDZG7XKJZH55EUQL3AMP5A/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V2U3D27ALYPXBET27XZNQMQT4IU27SL4UF6TPH2V2SYKWOEQFPOQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N26CC5MZZXE3RS67YUR32262P5S6SXE2Z3RYH56IWL6JI4HWDXEQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
        ]
    },
    "operations": {
        "CancelConnection": {
            "http": {
                "requestUri": "/CancelConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionArn": {},
                    "RequestId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N76MZJMUBGTDEITEXN7ZJLJQ2HW7MHKR3QEPWNXWMSKGYM6U7CQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMJWDPFQ6B6T67RG2VAWCMKVW4FDICGB4V7MGX4JLCYRCDDW7JBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWZZDCUMJ26EPMCRWIM3EAKX36YEWN7XOLUJAUYPNTP6OIC4UHPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W23MY6EOLQYCNGKEPPG6EKZ7QYIO57IZCVYGAMD2LDGQAR4RBIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEFTCEESVDIDAUVIFBJU7TQWB4CB4HSVJAX2EFLXYJYX3FURUC7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUPTWOCYUTY4HMLAEFDAKCCSCCSOBHWHNMCRPIUB745IOJDDCAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2KBHQ4QGQ5HTT7RN224DHRQ3QICJT5DKHO2WNGNZ43NZG6NEQDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UULOOXPG6VISAMQX3O6LOMZ4IEBHZBSBXMF7CESBZVNXSCXQDS4Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNCPCAH74SNXB4P2X4MZYG3XCE6QVXIBYUQUL3ICMPFCZU3ULUDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGBPXBBXDTWYLR3CUK7RKRB4S7AR3BEZCQX4WUBQXC67TC7VG4LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NHDMRAER5QJDETVWJ4CMCKBTMDKXP7C7TUT2XGXQAQXAMC2YWMA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKI4TJA34NSX3BM5MNXH5L2VYQ4QP7J7HGQBH7T56QKEU55HKTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF53SPGB3AVFBEFM7W7LK5IZF6TLDBRDZG7XKJZH55EUQL3AMP5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2U3D27ALYPXBET27XZNQMQT4IU27SL4UF6TPH2V2SYKWOEQFPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N26CC5MZZXE3RS67YUR32262P5S6SXE2Z3RYH56IWL6JI4HWDXEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "GetConnection": {
            "http": {
                "method": "GET",
                "requestUri": "/GetConnection/{ConnectionToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionToken"
                ],
                "members": {
                    "ConnectionToken": {
                        "location": "uri",
                        "locationName": "ConnectionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "AuthTokenPublicKey": {},
                    "AuthType": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionErrorMessage": {},
                    "ConnectionToken": {},
                    "ConnectionType": {},
                    "ConnectionUri": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "InstanceId": {},
                    "Protocol": {},
                    "RequestId": {},
                    "SsmSessionId": {},
                    "Status": {},
                    "TargetIp": {
                        "location": "header",
                        "locationName": "X-Target-IP"
                    },
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N76MZJMUBGTDEITEXN7ZJLJQ2HW7MHKR3QEPWNXWMSKGYM6U7CQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMJWDPFQ6B6T67RG2VAWCMKVW4FDICGB4V7MGX4JLCYRCDDW7JBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWZZDCUMJ26EPMCRWIM3EAKX36YEWN7XOLUJAUYPNTP6OIC4UHPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W23MY6EOLQYCNGKEPPG6EKZ7QYIO57IZCVYGAMD2LDGQAR4RBIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEFTCEESVDIDAUVIFBJU7TQWB4CB4HSVJAX2EFLXYJYX3FURUC7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUPTWOCYUTY4HMLAEFDAKCCSCCSOBHWHNMCRPIUB745IOJDDCAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2KBHQ4QGQ5HTT7RN224DHRQ3QICJT5DKHO2WNGNZ43NZG6NEQDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UULOOXPG6VISAMQX3O6LOMZ4IEBHZBSBXMF7CESBZVNXSCXQDS4Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNCPCAH74SNXB4P2X4MZYG3XCE6QVXIBYUQUL3ICMPFCZU3ULUDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGBPXBBXDTWYLR3CUK7RKRB4S7AR3BEZCQX4WUBQXC67TC7VG4LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NHDMRAER5QJDETVWJ4CMCKBTMDKXP7C7TUT2XGXQAQXAMC2YWMA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKI4TJA34NSX3BM5MNXH5L2VYQ4QP7J7HGQBH7T56QKEU55HKTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF53SPGB3AVFBEFM7W7LK5IZF6TLDBRDZG7XKJZH55EUQL3AMP5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2U3D27ALYPXBET27XZNQMQT4IU27SL4UF6TPH2V2SYKWOEQFPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N26CC5MZZXE3RS67YUR32262P5S6SXE2Z3RYH56IWL6JI4HWDXEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "StartConnection": {
            "http": {
                "requestUri": "/StartConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AuthType",
                    "ConnectionType",
                    "InstanceId",
                    "Protocol"
                ],
                "members": {
                    "AuthType": {},
                    "ConnectionParameters": {
                        "type": "structure",
                        "members": {
                            "SupportGraphicsPipeline": {
                                "type": "boolean"
                            }
                        }
                    },
                    "ConnectionType": {},
                    "InstanceId": {},
                    "Protocol": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionArn": {},
                    "ConnectionKey": {},
                    "RequestId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N76MZJMUBGTDEITEXN7ZJLJQ2HW7MHKR3QEPWNXWMSKGYM6U7CQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMJWDPFQ6B6T67RG2VAWCMKVW4FDICGB4V7MGX4JLCYRCDDW7JBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWZZDCUMJ26EPMCRWIM3EAKX36YEWN7XOLUJAUYPNTP6OIC4UHPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W23MY6EOLQYCNGKEPPG6EKZ7QYIO57IZCVYGAMD2LDGQAR4RBIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEFTCEESVDIDAUVIFBJU7TQWB4CB4HSVJAX2EFLXYJYX3FURUC7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUPTWOCYUTY4HMLAEFDAKCCSCCSOBHWHNMCRPIUB745IOJDDCAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2KBHQ4QGQ5HTT7RN224DHRQ3QICJT5DKHO2WNGNZ43NZG6NEQDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UULOOXPG6VISAMQX3O6LOMZ4IEBHZBSBXMF7CESBZVNXSCXQDS4Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNCPCAH74SNXB4P2X4MZYG3XCE6QVXIBYUQUL3ICMPFCZU3ULUDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGBPXBBXDTWYLR3CUK7RKRB4S7AR3BEZCQX4WUBQXC67TC7VG4LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NHDMRAER5QJDETVWJ4CMCKBTMDKXP7C7TUT2XGXQAQXAMC2YWMA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKI4TJA34NSX3BM5MNXH5L2VYQ4QP7J7HGQBH7T56QKEU55HKTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF53SPGB3AVFBEFM7W7LK5IZF6TLDBRDZG7XKJZH55EUQL3AMP5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2U3D27ALYPXBET27XZNQMQT4IU27SL4UF6TPH2V2SYKWOEQFPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N26CC5MZZXE3RS67YUR32262P5S6SXE2Z3RYH56IWL6JI4HWDXEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "GetPreferences": {
            "http": {
                "requestUri": "/GetPreferences",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionRecordingPreferences": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N76MZJMUBGTDEITEXN7ZJLJQ2HW7MHKR3QEPWNXWMSKGYM6U7CQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMJWDPFQ6B6T67RG2VAWCMKVW4FDICGB4V7MGX4JLCYRCDDW7JBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWZZDCUMJ26EPMCRWIM3EAKX36YEWN7XOLUJAUYPNTP6OIC4UHPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W23MY6EOLQYCNGKEPPG6EKZ7QYIO57IZCVYGAMD2LDGQAR4RBIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEFTCEESVDIDAUVIFBJU7TQWB4CB4HSVJAX2EFLXYJYX3FURUC7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUPTWOCYUTY4HMLAEFDAKCCSCCSOBHWHNMCRPIUB745IOJDDCAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2KBHQ4QGQ5HTT7RN224DHRQ3QICJT5DKHO2WNGNZ43NZG6NEQDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UULOOXPG6VISAMQX3O6LOMZ4IEBHZBSBXMF7CESBZVNXSCXQDS4Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNCPCAH74SNXB4P2X4MZYG3XCE6QVXIBYUQUL3ICMPFCZU3ULUDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGBPXBBXDTWYLR3CUK7RKRB4S7AR3BEZCQX4WUBQXC67TC7VG4LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NHDMRAER5QJDETVWJ4CMCKBTMDKXP7C7TUT2XGXQAQXAMC2YWMA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKI4TJA34NSX3BM5MNXH5L2VYQ4QP7J7HGQBH7T56QKEU55HKTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF53SPGB3AVFBEFM7W7LK5IZF6TLDBRDZG7XKJZH55EUQL3AMP5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2U3D27ALYPXBET27XZNQMQT4IU27SL4UF6TPH2V2SYKWOEQFPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N26CC5MZZXE3RS67YUR32262P5S6SXE2Z3RYH56IWL6JI4HWDXEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "ListConnections": {
            "http": {
                "requestUri": "/ListConnections",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "AfterStartDate": {
                                "type": "timestamp"
                            },
                            "BeforeStartDate": {
                                "type": "timestamp"
                            },
                            "ConnectionId": {
                                "type": "list",
                                "member": {}
                            },
                            "Status": {
                                "type": "list",
                                "member": {}
                            },
                            "Owner": {
                                "type": "list",
                                "member": {}
                            },
                            "InstanceId": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "RequestId": {},
                    "Connections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConnectionId": {},
                                "Owner": {},
                                "Username": {},
                                "InstanceId": {},
                                "Protocol": {},
                                "AuthType": {},
                                "RecordingUri": {
                                    "shape": "So"
                                },
                                "Status": {},
                                "Reason": {},
                                "StartDate": {
                                    "type": "timestamp"
                                },
                                "EndDate": {
                                    "type": "timestamp"
                                },
                                "RecordingStatus": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N76MZJMUBGTDEITEXN7ZJLJQ2HW7MHKR3QEPWNXWMSKGYM6U7CQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMJWDPFQ6B6T67RG2VAWCMKVW4FDICGB4V7MGX4JLCYRCDDW7JBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWZZDCUMJ26EPMCRWIM3EAKX36YEWN7XOLUJAUYPNTP6OIC4UHPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W23MY6EOLQYCNGKEPPG6EKZ7QYIO57IZCVYGAMD2LDGQAR4RBIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEFTCEESVDIDAUVIFBJU7TQWB4CB4HSVJAX2EFLXYJYX3FURUC7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUPTWOCYUTY4HMLAEFDAKCCSCCSOBHWHNMCRPIUB745IOJDDCAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2KBHQ4QGQ5HTT7RN224DHRQ3QICJT5DKHO2WNGNZ43NZG6NEQDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UULOOXPG6VISAMQX3O6LOMZ4IEBHZBSBXMF7CESBZVNXSCXQDS4Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNCPCAH74SNXB4P2X4MZYG3XCE6QVXIBYUQUL3ICMPFCZU3ULUDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGBPXBBXDTWYLR3CUK7RKRB4S7AR3BEZCQX4WUBQXC67TC7VG4LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NHDMRAER5QJDETVWJ4CMCKBTMDKXP7C7TUT2XGXQAQXAMC2YWMA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKI4TJA34NSX3BM5MNXH5L2VYQ4QP7J7HGQBH7T56QKEU55HKTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF53SPGB3AVFBEFM7W7LK5IZF6TLDBRDZG7XKJZH55EUQL3AMP5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2U3D27ALYPXBET27XZNQMQT4IU27SL4UF6TPH2V2SYKWOEQFPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N26CC5MZZXE3RS67YUR32262P5S6SXE2Z3RYH56IWL6JI4HWDXEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "UpdatePreferences": {
            "http": {
                "requestUri": "/UpdatePreferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionRecordingPreferences"
                ],
                "members": {
                    "ConnectionRecordingPreferences": {
                        "shape": "Sr"
                    },
                    "IdleConnection": {
                        "shape": "Sw"
                    },
                    "MaxConnectionTime": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionRecordingPreferences": {
                        "shape": "Sr"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N76MZJMUBGTDEITEXN7ZJLJQ2HW7MHKR3QEPWNXWMSKGYM6U7CQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMJWDPFQ6B6T67RG2VAWCMKVW4FDICGB4V7MGX4JLCYRCDDW7JBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWZZDCUMJ26EPMCRWIM3EAKX36YEWN7XOLUJAUYPNTP6OIC4UHPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W23MY6EOLQYCNGKEPPG6EKZ7QYIO57IZCVYGAMD2LDGQAR4RBIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEFTCEESVDIDAUVIFBJU7TQWB4CB4HSVJAX2EFLXYJYX3FURUC7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUPTWOCYUTY4HMLAEFDAKCCSCCSOBHWHNMCRPIUB745IOJDDCAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2KBHQ4QGQ5HTT7RN224DHRQ3QICJT5DKHO2WNGNZ43NZG6NEQDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UULOOXPG6VISAMQX3O6LOMZ4IEBHZBSBXMF7CESBZVNXSCXQDS4Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNCPCAH74SNXB4P2X4MZYG3XCE6QVXIBYUQUL3ICMPFCZU3ULUDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGBPXBBXDTWYLR3CUK7RKRB4S7AR3BEZCQX4WUBQXC67TC7VG4LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NHDMRAER5QJDETVWJ4CMCKBTMDKXP7C7TUT2XGXQAQXAMC2YWMA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKI4TJA34NSX3BM5MNXH5L2VYQ4QP7J7HGQBH7T56QKEU55HKTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF53SPGB3AVFBEFM7W7LK5IZF6TLDBRDZG7XKJZH55EUQL3AMP5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2U3D27ALYPXBET27XZNQMQT4IU27SL4UF6TPH2V2SYKWOEQFPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N26CC5MZZXE3RS67YUR32262P5S6SXE2Z3RYH56IWL6JI4HWDXEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        },
        "DeletePreferences": {
            "http": {
                "requestUri": "/DeletePreferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Preferences"
                ],
                "members": {
                    "Preferences": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7N76MZJMUBGTDEITEXN7ZJLJQ2HW7MHKR3QEPWNXWMSKGYM6U7CQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMJWDPFQ6B6T67RG2VAWCMKVW4FDICGB4V7MGX4JLCYRCDDW7JBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWZZDCUMJ26EPMCRWIM3EAKX36YEWN7XOLUJAUYPNTP6OIC4UHPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W23MY6EOLQYCNGKEPPG6EKZ7QYIO57IZCVYGAMD2LDGQAR4RBIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEFTCEESVDIDAUVIFBJU7TQWB4CB4HSVJAX2EFLXYJYX3FURUC7A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYUPTWOCYUTY4HMLAEFDAKCCSCCSOBHWHNMCRPIUB745IOJDDCAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2KBHQ4QGQ5HTT7RN224DHRQ3QICJT5DKHO2WNGNZ43NZG6NEQDQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UULOOXPG6VISAMQX3O6LOMZ4IEBHZBSBXMF7CESBZVNXSCXQDS4Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNCPCAH74SNXB4P2X4MZYG3XCE6QVXIBYUQUL3ICMPFCZU3ULUDA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGBPXBBXDTWYLR3CUK7RKRB4S7AR3BEZCQX4WUBQXC67TC7VG4LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NHDMRAER5QJDETVWJ4CMCKBTMDKXP7C7TUT2XGXQAQXAMC2YWMA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKI4TJA34NSX3BM5MNXH5L2VYQ4QP7J7HGQBH7T56QKEU55HKTA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TF53SPGB3AVFBEFM7W7LK5IZF6TLDBRDZG7XKJZH55EUQL3AMP5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2U3D27ALYPXBET27XZNQMQT4IU27SL4UF6TPH2V2SYKWOEQFPOQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N26CC5MZZXE3RS67YUR32262P5S6SXE2Z3RYH56IWL6JI4HWDXEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MYFC5CGVXXBTEAVPOYJILU4TYUEAEHY6GXO5AQSP4LSJH4AWFZPA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SYMBL74DRSRECZWCZMTKHFV2X6I6LH4T3HHW55QWJYYAT4ENA6BQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWNBHGIVAMCNDXEBYROZS3TZ7ARHW7P7FOLQ6AHDVRL5KKXKZW5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7AVFD22CG5QKAXI4RFDBT4XX7L56MCRFHWNMOFICXID7PPFFUWA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP7JIAP76PC3WE5A3BF3WA53TDWUGKYQHRYEUNKJYKO6DZH2NL5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TQEQGRA5AT536OVSIDRUAZ5INTOJCCHK4PJ75NMUK6HI4ZN3MMAQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KDNYC5SQZCUYWSRJDRLJG5WRCHD6ZRIVFZUMWTGSS6KEJRBDQRIA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBUZWBK6X3K7J2364SIQSNCQ6U2QADBCESXAATQ52DZJ3FQIKYKA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYW5I7XLXMCLPUUEMRERLR3VUW4IKYBFDOZNJJKL5RJX2NXBCBTQ/awsSdk.js"
            ]
        }
    },
    "shapes": {
        "So": {
            "type": "list",
            "member": {}
        },
        "Sr": {
            "type": "structure",
            "required": [
                "IsRecordingEnabled"
            ],
            "members": {
                "IsRecordingEnabled": {
                    "type": "boolean"
                },
                "S3Buckets": {
                    "type": "list",
                    "member": {}
                },
                "KMSKeyArn": {}
            }
        },
        "S3": {
            "type": "structure",
            "required": [
                "IsRecordingEnabled"
            ],
            "members": {
                "IsRecordingEnabled": {
                    "type": "boolean"
                },
                "S3Buckets": {
                    "type": "list",
                    "member": {}
                },
                "KMSKeyArn": {}
            }
        },
        "Sw": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Timeout": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    },
                    "Alert": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "Ss": {
            "type": "list",
            "member": {}
        },
        "Sv": {
            "type": "structure",
            "required": [
                "IsRecordingEnabled"
            ],
            "members": {
                "IsRecordingEnabled": {
                    "type": "boolean"
                },
                "S3Buckets": {
                    "type": "list",
                    "member": {}
                },
                "KMSKeyArn": {}
            }
        },
        "S10": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Timeout": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    },
                    "Alert": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "Su": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Timeout": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    },
                    "Alert": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "S11": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Duration": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        },
        "S16": {
            "type": "structure",
            "required": [
                "IsRecordingEnabled"
            ],
            "members": {
                "IsRecordingEnabled": {
                    "type": "boolean"
                },
                "S3Buckets": {
                    "type": "list",
                    "member": {}
                },
                "KMSKeyArn": {}
            }
        }
    }
}