{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-05-01",
        "endpointPrefix": "ssm-guiconnect",
        "jsonVersion": "1.0",
        "protocol": "rest-json",
        "ripServiceName": "periscope",
        "serviceFullName": "SSM-GUIConnect",
        "serviceId": "SSMGuiConnect",
        "signatureVersion": "v4",
        "signingName": "ssm-guiconnect",
        "uid": "ssmguiconnect-2021-05-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2FAQQCTHO645KM3I7JRGYZ3BO4HE4BHY2AMY63GGO6A4WI6OTBQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T6HOD5TWLA4OUQJJAZZ7UFWFRS272XVQ2Y22ZBWWWK3WPK2QKEQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ZWLHDUK6X6PXV74UJGLRVQVMRCKEH3I6Q2C4CHSCHQZG7W5KIEA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3OQBM2XOEM7IV4W3K6N2U6RVA462XAYSUGW6QJO3LMKXODXZS4TA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/55ABACHAPZTLCHUVY3FWFMBO5F77DJSRCPDJTT5GJGF4T64GMIYA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T54TG4BUKSBH4TNIPXOD37Y2JR7NQDU5WC5HYZKWCFOA4ZBGQBJA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYDEHNLTTD7K2IUPBXSUBF3K2BBAJ23HWWWPKGNQHZ3KWTIK6JUQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTKQ4NLLWJ2DLJSGS4ZJGNCHUDI46IX4G7WSMREQVQRKGBHHNKNA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js"
        ]
    },
    "operations": {
        "CancelConnection": {
            "http": {
                "requestUri": "/CancelConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionArn"
                ],
                "members": {
                    "ConnectionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionArn": {},
                    "RequestId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXS3RJOE3LW7EJ7XYXFOWYHU42EYXPK7PWRYE7GXC3H4KEZNIJGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPFMUDWJYOUTQBCSSXH33ROO55N2MIPL5O7CM2WXXLFGARUXMN5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A65UCGWI7CN3Z776M6TPV63OM5K2F3RGJMDPTQBVOBK3TAJQRUVA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSXGKAETTIVBZGQG4P2GNUQFWNH6VISRDGZZJ46Q3OZKHWC5KQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW3JEREXAUGBWZPYQYUNIEENGZ2H5KZYPDI3J2UI6SYLRU6L7VOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZ6AAEYMXB4J5QX34QAW76L2MA6ZYVJXGJ7TSSMXRQCKAXFRQRA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2FAQQCTHO645KM3I7JRGYZ3BO4HE4BHY2AMY63GGO6A4WI6OTBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T6HOD5TWLA4OUQJJAZZ7UFWFRS272XVQ2Y22ZBWWWK3WPK2QKEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZWLHDUK6X6PXV74UJGLRVQVMRCKEH3I6Q2C4CHSCHQZG7W5KIEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OQBM2XOEM7IV4W3K6N2U6RVA462XAYSUGW6QJO3LMKXODXZS4TA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55ABACHAPZTLCHUVY3FWFMBO5F77DJSRCPDJTT5GJGF4T64GMIYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T54TG4BUKSBH4TNIPXOD37Y2JR7NQDU5WC5HYZKWCFOA4ZBGQBJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYDEHNLTTD7K2IUPBXSUBF3K2BBAJ23HWWWPKGNQHZ3KWTIK6JUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKQ4NLLWJ2DLJSGS4ZJGNCHUDI46IX4G7WSMREQVQRKGBHHNKNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js"
            ]
        },
        "GetConnection": {
            "http": {
                "method": "GET",
                "requestUri": "/GetConnection/{ConnectionToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionToken"
                ],
                "members": {
                    "ConnectionToken": {
                        "location": "uri",
                        "locationName": "ConnectionToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "AuthTokenPublicKey": {},
                    "AuthType": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionErrorMessage": {},
                    "ConnectionToken": {},
                    "ConnectionType": {},
                    "ConnectionUri": {},
                    "CreatedTime": {
                        "type": "timestamp"
                    },
                    "InstanceId": {},
                    "Protocol": {},
                    "RequestId": {},
                    "SsmSessionId": {},
                    "Status": {},
                    "TargetIp": {
                        "location": "header",
                        "locationName": "X-Target-IP"
                    },
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXS3RJOE3LW7EJ7XYXFOWYHU42EYXPK7PWRYE7GXC3H4KEZNIJGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPFMUDWJYOUTQBCSSXH33ROO55N2MIPL5O7CM2WXXLFGARUXMN5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A65UCGWI7CN3Z776M6TPV63OM5K2F3RGJMDPTQBVOBK3TAJQRUVA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSXGKAETTIVBZGQG4P2GNUQFWNH6VISRDGZZJ46Q3OZKHWC5KQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW3JEREXAUGBWZPYQYUNIEENGZ2H5KZYPDI3J2UI6SYLRU6L7VOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZ6AAEYMXB4J5QX34QAW76L2MA6ZYVJXGJ7TSSMXRQCKAXFRQRA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2FAQQCTHO645KM3I7JRGYZ3BO4HE4BHY2AMY63GGO6A4WI6OTBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T6HOD5TWLA4OUQJJAZZ7UFWFRS272XVQ2Y22ZBWWWK3WPK2QKEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZWLHDUK6X6PXV74UJGLRVQVMRCKEH3I6Q2C4CHSCHQZG7W5KIEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OQBM2XOEM7IV4W3K6N2U6RVA462XAYSUGW6QJO3LMKXODXZS4TA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55ABACHAPZTLCHUVY3FWFMBO5F77DJSRCPDJTT5GJGF4T64GMIYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T54TG4BUKSBH4TNIPXOD37Y2JR7NQDU5WC5HYZKWCFOA4ZBGQBJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYDEHNLTTD7K2IUPBXSUBF3K2BBAJ23HWWWPKGNQHZ3KWTIK6JUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKQ4NLLWJ2DLJSGS4ZJGNCHUDI46IX4G7WSMREQVQRKGBHHNKNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js"
            ]
        },
        "StartConnection": {
            "http": {
                "requestUri": "/StartConnection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AuthType",
                    "ConnectionType",
                    "InstanceId",
                    "Protocol"
                ],
                "members": {
                    "AuthType": {},
                    "ConnectionParameters": {
                        "type": "structure",
                        "members": {
                            "SupportGraphicsPipeline": {
                                "type": "boolean"
                            }
                        }
                    },
                    "ConnectionType": {},
                    "InstanceId": {},
                    "Protocol": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionArn": {},
                    "ConnectionKey": {},
                    "RequestId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXS3RJOE3LW7EJ7XYXFOWYHU42EYXPK7PWRYE7GXC3H4KEZNIJGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPFMUDWJYOUTQBCSSXH33ROO55N2MIPL5O7CM2WXXLFGARUXMN5A/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A65UCGWI7CN3Z776M6TPV63OM5K2F3RGJMDPTQBVOBK3TAJQRUVA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSXGKAETTIVBZGQG4P2GNUQFWNH6VISRDGZZJ46Q3OZKHWC5KQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW3JEREXAUGBWZPYQYUNIEENGZ2H5KZYPDI3J2UI6SYLRU6L7VOA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZ6AAEYMXB4J5QX34QAW76L2MA6ZYVJXGJ7TSSMXRQCKAXFRQRA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2FAQQCTHO645KM3I7JRGYZ3BO4HE4BHY2AMY63GGO6A4WI6OTBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T6HOD5TWLA4OUQJJAZZ7UFWFRS272XVQ2Y22ZBWWWK3WPK2QKEQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZWLHDUK6X6PXV74UJGLRVQVMRCKEH3I6Q2C4CHSCHQZG7W5KIEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OQBM2XOEM7IV4W3K6N2U6RVA462XAYSUGW6QJO3LMKXODXZS4TA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55ABACHAPZTLCHUVY3FWFMBO5F77DJSRCPDJTT5GJGF4T64GMIYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T54TG4BUKSBH4TNIPXOD37Y2JR7NQDU5WC5HYZKWCFOA4ZBGQBJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYDEHNLTTD7K2IUPBXSUBF3K2BBAJ23HWWWPKGNQHZ3KWTIK6JUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKQ4NLLWJ2DLJSGS4ZJGNCHUDI46IX4G7WSMREQVQRKGBHHNKNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js"
            ]
        },
        "GetPreferences": {
            "http": {
                "requestUri": "/GetPreferences",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionRecordingPreferences": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZWLHDUK6X6PXV74UJGLRVQVMRCKEH3I6Q2C4CHSCHQZG7W5KIEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OQBM2XOEM7IV4W3K6N2U6RVA462XAYSUGW6QJO3LMKXODXZS4TA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55ABACHAPZTLCHUVY3FWFMBO5F77DJSRCPDJTT5GJGF4T64GMIYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T54TG4BUKSBH4TNIPXOD37Y2JR7NQDU5WC5HYZKWCFOA4ZBGQBJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYDEHNLTTD7K2IUPBXSUBF3K2BBAJ23HWWWPKGNQHZ3KWTIK6JUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKQ4NLLWJ2DLJSGS4ZJGNCHUDI46IX4G7WSMREQVQRKGBHHNKNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js"
            ]
        },
        "ListConnections": {
            "http": {
                "requestUri": "/ListConnections",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "AfterStartDate": {
                                "type": "timestamp"
                            },
                            "BeforeStartDate": {
                                "type": "timestamp"
                            },
                            "ConnectionId": {
                                "type": "list",
                                "member": {}
                            },
                            "Status": {
                                "type": "list",
                                "member": {}
                            },
                            "Owner": {
                                "type": "list",
                                "member": {}
                            },
                            "InstanceId": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "RequestId": {},
                    "Connections": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ConnectionId": {},
                                "Owner": {},
                                "Username": {},
                                "InstanceId": {},
                                "Protocol": {},
                                "AuthType": {},
                                "RecordingUri": {
                                    "shape": "So"
                                },
                                "Status": {},
                                "Reason": {},
                                "StartDate": {
                                    "type": "timestamp"
                                },
                                "EndDate": {
                                    "type": "timestamp"
                                },
                                "RecordingStatus": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZWLHDUK6X6PXV74UJGLRVQVMRCKEH3I6Q2C4CHSCHQZG7W5KIEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OQBM2XOEM7IV4W3K6N2U6RVA462XAYSUGW6QJO3LMKXODXZS4TA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55ABACHAPZTLCHUVY3FWFMBO5F77DJSRCPDJTT5GJGF4T64GMIYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T54TG4BUKSBH4TNIPXOD37Y2JR7NQDU5WC5HYZKWCFOA4ZBGQBJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYDEHNLTTD7K2IUPBXSUBF3K2BBAJ23HWWWPKGNQHZ3KWTIK6JUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKQ4NLLWJ2DLJSGS4ZJGNCHUDI46IX4G7WSMREQVQRKGBHHNKNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js"
            ]
        },
        "UpdatePreferences": {
            "http": {
                "requestUri": "/UpdatePreferences",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConnectionRecordingPreferences"
                ],
                "members": {
                    "ConnectionRecordingPreferences": {
                        "shape": "Sr"
                    },
                    "IdleConnection": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "ConnectionRecordingPreferences": {
                        "shape": "Sr"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ZWLHDUK6X6PXV74UJGLRVQVMRCKEH3I6Q2C4CHSCHQZG7W5KIEA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OQBM2XOEM7IV4W3K6N2U6RVA462XAYSUGW6QJO3LMKXODXZS4TA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/55ABACHAPZTLCHUVY3FWFMBO5F77DJSRCPDJTT5GJGF4T64GMIYA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T54TG4BUKSBH4TNIPXOD37Y2JR7NQDU5WC5HYZKWCFOA4ZBGQBJA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYDEHNLTTD7K2IUPBXSUBF3K2BBAJ23HWWWPKGNQHZ3KWTIK6JUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKQ4NLLWJ2DLJSGS4ZJGNCHUDI46IX4G7WSMREQVQRKGBHHNKNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NXYZLYBEQFOJ53S2EVN3CVAPUWISAUIPO4TMBQP2YP5DW7UDDQQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVHBZD6CAK4HVT3D7PISZTUTU5R6U4VMQI4MNNLHIKSIACDWY4PQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTVSR6NRG5CFONLJSHCL7LPQLE3ZEHZYQLF4E4KXWBZDRQBS4SWQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYHGDLM5Y263DUDKCT3Z27Z73HGOMXELIP7VQ63TB3QKNIMSBQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3SAZLB3GHCZLC5YKI55V2AKZN5DGSMU37UHSHZ6X7PLLGS277LQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Y3JL6H5IA5BKQQDCJNNSMJYJO6YEANTRJ6N42JDBKV7RZI2HQUQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYFDUKUEBS5R3TK2GWZ2LIO7E3DJPRXHSS4D3KZ6FYAO3UOFB7RQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MZBWPEWRK25ACDJNI3YSVCUSQ3QGI46GCHEZVO2G3Q6MV6FELWGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U6YCACBKHVUYPCE26XPZAUAUN3ELMGR5O47VPGAM36DNMKFBITBA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSWSTPKJ22VASGYZWIIT2BJUV7CLV54FCGCKEKUQ5ORY232GAUNA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4BHEHGM35WICJCXLCQNCDW7SAFXAHRBU2TFHJFOTYBFXAZGTBGA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHEFKYPAONPDUDGP6IJOHJT2IWGKVBL5F5FM7JGE2MXCFYGXX2VA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMVC54AF5XGYPQDONFLZL6DJ62HH4JAQGS7H2CTAC5VLK5JQUSTQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MY3WAX4JQV3S2DW4GIE5A6ZZBVIOJTIBUACWD5XG5VD4QXJ7TUSA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3PAKTVWJZV2CPG3AG3BAXTMBZEYULD6YDFAXJRRY36I3ULLDS7Q/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDDYHRZZTKBCGPBBCPL4HDGXCG6FVM75BWM5OO2E47LXFDST3YA/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js"
            ]
        }
    },
    "shapes": {
        "So": {
            "type": "list",
            "member": {}
        },
        "Sr": {
            "type": "structure",
            "required": [
                "IsRecordingEnabled"
            ],
            "members": {
                "IsRecordingEnabled": {
                    "type": "boolean"
                },
                "S3Buckets": {
                    "type": "list",
                    "member": {}
                },
                "KMSKeyArn": {}
            }
        },
        "S3": {
            "type": "structure",
            "required": [
                "IsRecordingEnabled"
            ],
            "members": {
                "IsRecordingEnabled": {
                    "type": "boolean"
                },
                "S3Buckets": {
                    "type": "list",
                    "member": {}
                },
                "KMSKeyArn": {}
            }
        },
        "Sw": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Timeout": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    },
                    "Alert": {
                        "type": "structure",
                        "required": [
                            "Value"
                        ],
                        "members": {
                            "Type": {},
                            "Value": {
                                "type": "integer"
                            }
                        }
                    }
                }
            }
        }
    }
}