{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "ssm-incidents",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "SSMIncidentsPrerelease",
        "serviceId": "SSMIncidentsPrerelease",
        "signatureVersion": "v4",
        "signingName": "ssm-incidents",
        "uid": "ssmincidentsprerelease-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CQBD5P6TCZYCQJVWIW5ISNQIP2WATP6ITOFCWGJE5NTEEISBH7IA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
        ]
    },
    "operations": {
        "BatchGetIncidentFindings": {
            "name": "BatchGetIncidentFindings",
            "http": {
                "method": "POST",
                "requestUri": "/batchGetIncidentFindings",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchGetIncidentFindingsInput"
            },
            "output": {
                "shape": "BatchGetIncidentFindingsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "CreateReplicationSet": {
            "name": "CreateReplicationSet",
            "http": {
                "method": "POST",
                "requestUri": "/createReplicationSet",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateReplicationSetInput"
            },
            "output": {
                "shape": "CreateReplicationSetOutput"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "CreateResponsePlan": {
            "name": "CreateResponsePlan",
            "http": {
                "method": "POST",
                "requestUri": "/createResponsePlan",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateResponsePlanInput"
            },
            "output": {
                "shape": "CreateResponsePlanOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "CreateTimelineEvent": {
            "name": "CreateTimelineEvent",
            "http": {
                "method": "POST",
                "requestUri": "/createTimelineEvent",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateTimelineEventInput"
            },
            "output": {
                "shape": "CreateTimelineEventOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "DeleteIncidentRecord": {
            "name": "DeleteIncidentRecord",
            "http": {
                "method": "POST",
                "requestUri": "/deleteIncidentRecord",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteIncidentRecordInput"
            },
            "output": {
                "shape": "DeleteIncidentRecordOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "DeleteReplicationSet": {
            "name": "DeleteReplicationSet",
            "http": {
                "method": "POST",
                "requestUri": "/deleteReplicationSet",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteReplicationSetInput"
            },
            "output": {
                "shape": "DeleteReplicationSetOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "DeleteResourcePolicy": {
            "name": "DeleteResourcePolicy",
            "http": {
                "method": "POST",
                "requestUri": "/deleteResourcePolicy",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteResourcePolicyInput"
            },
            "output": {
                "shape": "DeleteResourcePolicyOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "DeleteResponsePlan": {
            "name": "DeleteResponsePlan",
            "http": {
                "method": "POST",
                "requestUri": "/deleteResponsePlan",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteResponsePlanInput"
            },
            "output": {
                "shape": "DeleteResponsePlanOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "DeleteTimelineEvent": {
            "name": "DeleteTimelineEvent",
            "http": {
                "method": "POST",
                "requestUri": "/deleteTimelineEvent",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteTimelineEventInput"
            },
            "output": {
                "shape": "DeleteTimelineEventOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "GetIncidentRecord": {
            "name": "GetIncidentRecord",
            "http": {
                "method": "GET",
                "requestUri": "/getIncidentRecord",
                "responseCode": 200
            },
            "input": {
                "shape": "GetIncidentRecordInput"
            },
            "output": {
                "shape": "GetIncidentRecordOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "GetReplicationSet": {
            "name": "GetReplicationSet",
            "http": {
                "method": "GET",
                "requestUri": "/getReplicationSet",
                "responseCode": 200
            },
            "input": {
                "shape": "GetReplicationSetInput"
            },
            "output": {
                "shape": "GetReplicationSetOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "GetResourcePolicies": {
            "name": "GetResourcePolicies",
            "http": {
                "method": "POST",
                "requestUri": "/getResourcePolicies",
                "responseCode": 200
            },
            "input": {
                "shape": "GetResourcePoliciesInput"
            },
            "output": {
                "shape": "GetResourcePoliciesOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "GetResponsePlan": {
            "name": "GetResponsePlan",
            "http": {
                "method": "GET",
                "requestUri": "/getResponsePlan",
                "responseCode": 200
            },
            "input": {
                "shape": "GetResponsePlanInput"
            },
            "output": {
                "shape": "GetResponsePlanOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "GetTimelineEvent": {
            "name": "GetTimelineEvent",
            "http": {
                "method": "GET",
                "requestUri": "/getTimelineEvent",
                "responseCode": 200
            },
            "input": {
                "shape": "GetTimelineEventInput"
            },
            "output": {
                "shape": "GetTimelineEventOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "ListIncidentFindings": {
            "name": "ListIncidentFindings",
            "http": {
                "method": "POST",
                "requestUri": "/listIncidentFindings",
                "responseCode": 200
            },
            "input": {
                "shape": "ListIncidentFindingsInput"
            },
            "output": {
                "shape": "ListIncidentFindingsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "ListIncidentRecords": {
            "name": "ListIncidentRecords",
            "http": {
                "method": "POST",
                "requestUri": "/listIncidentRecords",
                "responseCode": 200
            },
            "input": {
                "shape": "ListIncidentRecordsInput"
            },
            "output": {
                "shape": "ListIncidentRecordsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "ListRelatedItems": {
            "name": "ListRelatedItems",
            "http": {
                "method": "POST",
                "requestUri": "/listRelatedItems",
                "responseCode": 200
            },
            "input": {
                "shape": "ListRelatedItemsInput"
            },
            "output": {
                "shape": "ListRelatedItemsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "ListReplicationSets": {
            "name": "ListReplicationSets",
            "http": {
                "method": "POST",
                "requestUri": "/listReplicationSets",
                "responseCode": 200
            },
            "input": {
                "shape": "ListReplicationSetsInput"
            },
            "output": {
                "shape": "ListReplicationSetsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "ListResponsePlans": {
            "name": "ListResponsePlans",
            "http": {
                "method": "POST",
                "requestUri": "/listResponsePlans",
                "responseCode": 200
            },
            "input": {
                "shape": "ListResponsePlansInput"
            },
            "output": {
                "shape": "ListResponsePlansOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTagsForResourceRequest"
            },
            "output": {
                "shape": "ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "ListTimelineEvents": {
            "name": "ListTimelineEvents",
            "http": {
                "method": "POST",
                "requestUri": "/listTimelineEvents",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTimelineEventsInput"
            },
            "output": {
                "shape": "ListTimelineEventsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "PutResourcePolicy": {
            "name": "PutResourcePolicy",
            "http": {
                "method": "POST",
                "requestUri": "/putResourcePolicy",
                "responseCode": 200
            },
            "input": {
                "shape": "PutResourcePolicyInput"
            },
            "output": {
                "shape": "PutResourcePolicyOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAWONWSWY2ZBILSCRBX643YXALQJA6B7LGVSAV7R2EIHHDZ4XBBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L3KRBFDBZDPNPVL2L3MPOGVDJSPUOCWUQYOT2XXY4JWIJVKORVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUHIXMET6LZD27VMIOJPTCYDJXXSZ3S7S6ARQNW737GZR7BID5MA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HSFQ7BJOYWIWW6W7DOOKH6UCAJCHCMKH2IIMBGKP74KJKM6KT4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BESP4ZZNVW6BDXOFWJIFD7CMZYW3AW2X62ZDMJYYC7J3JSZNVJA/incidentDashboard.js"
            ]
        },
        "StartIncident": {
            "name": "StartIncident",
            "http": {
                "method": "POST",
                "requestUri": "/startIncident",
                "responseCode": 200
            },
            "input": {
                "shape": "StartIncidentInput"
            },
            "output": {
                "shape": "StartIncidentOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ7CYKD4JDGN5OBWATV2RZKLUHUXVSUGYHOXYJAFOBYHUNASI35Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTKKARG4I3NODG44RUWUO32NUBJ4244HZY7R2OA4WSE2PLPQ4RBQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NN3VQDXMY55EHIMEYSHRROQAXXESF6E7T4HZHCBMBVAXWV3H4IQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSOUCLL2OVWPBBGGTTBV624QT7LV2ON5ZAZUE5GJVC4UPVPWITYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSKHK6PKDHB6HLODZ6JAC57AWVJOE4QEIOQWZYMLS3PNFYMSZL5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZYQQV4K22BRNM5U66IZIHO5OTMXBI2OO7TPRPUKQHI62DFI3NOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIQXWL2IBF7D46TJ6UFDXNWCC5APY2SAO3Y7N455LLZP5Y4RTXDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNDSVK53UIWJVMDVZSZGK6ZFTIOIHWKZX6TI4CMGRJZTSXZE5CRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JORJDZSNLXFO5OJUPYLRRH6FKLXNW635EFQMLUXJTST2TB4HL3CA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4BPGHWRAJYP45JGTCBN4ZCYCWEN4NELNP7T2DVWM3DK5GJP45PLA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZADJ7KKAAC2XTKBE24XVH6ALAVKPRAZ4S2YJXVPAQBD7GJSMSFQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3433SDLIU3WINPBEIFXRSBI7M75RP5FROF32U4XY6YKZ7SZ4JQZQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MX6PAVVCM2PUXQCBW4OFAUUTZPORV2HTIN57WPH4IPTQIMLVNUQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35D6ZDVCMO4BORU3OMNE3RRT7DDYT5OI6MYKY3XNAVHZ4HJDC7KA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MM65NFT42PBBJOIOMNAVPPGAEXAOH7Z5XPBPQ6VGSXFQELWWKECA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YJPI24KDBRW2HE4SV55A4KLODSRX4S7UVWQLBT7Z7EK5CROAL3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPOFL5E7SPVBDNDPAUC63EGCY76OMLTDBKMYEFLL7JVOTSL2DCMQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIYF2MIT5KWR2LQTRLIYIZKDPEVFKGFPKM35DNEU75REGZGN3FVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4X4KBHJKVA36QQA7Z7QZHVTOIOXKSJKQWBTUXDTJURQLGLOVU7OA/incidentDashboard.js",
[...]
