{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "ssm-incidents",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "SSMIncidentsPrerelease",
        "serviceId": "SSMIncidentsPrerelease",
        "signatureVersion": "v4",
        "signingName": "ssm-incidents",
        "uid": "ssmincidentsprerelease-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
        ]
    },
    "operations": {
        "BatchGetIncidentFindings": {
            "name": "BatchGetIncidentFindings",
            "http": {
                "method": "POST",
                "requestUri": "/batchGetIncidentFindings",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchGetIncidentFindingsInput"
            },
            "output": {
                "shape": "BatchGetIncidentFindingsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "CreateReplicationSet": {
            "name": "CreateReplicationSet",
            "http": {
                "method": "POST",
                "requestUri": "/createReplicationSet",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateReplicationSetInput"
            },
            "output": {
                "shape": "CreateReplicationSetOutput"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "CreateResponsePlan": {
            "name": "CreateResponsePlan",
            "http": {
                "method": "POST",
                "requestUri": "/createResponsePlan",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateResponsePlanInput"
            },
            "output": {
                "shape": "CreateResponsePlanOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "CreateTimelineEvent": {
            "name": "CreateTimelineEvent",
            "http": {
                "method": "POST",
                "requestUri": "/createTimelineEvent",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateTimelineEventInput"
            },
            "output": {
                "shape": "CreateTimelineEventOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "DeleteIncidentRecord": {
            "name": "DeleteIncidentRecord",
            "http": {
                "method": "POST",
                "requestUri": "/deleteIncidentRecord",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteIncidentRecordInput"
            },
            "output": {
                "shape": "DeleteIncidentRecordOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "DeleteReplicationSet": {
            "name": "DeleteReplicationSet",
            "http": {
                "method": "POST",
                "requestUri": "/deleteReplicationSet",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteReplicationSetInput"
            },
            "output": {
                "shape": "DeleteReplicationSetOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "DeleteResourcePolicy": {
            "name": "DeleteResourcePolicy",
            "http": {
                "method": "POST",
                "requestUri": "/deleteResourcePolicy",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteResourcePolicyInput"
            },
            "output": {
                "shape": "DeleteResourcePolicyOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "DeleteResponsePlan": {
            "name": "DeleteResponsePlan",
            "http": {
                "method": "POST",
                "requestUri": "/deleteResponsePlan",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteResponsePlanInput"
            },
            "output": {
                "shape": "DeleteResponsePlanOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "DeleteTimelineEvent": {
            "name": "DeleteTimelineEvent",
            "http": {
                "method": "POST",
                "requestUri": "/deleteTimelineEvent",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteTimelineEventInput"
            },
            "output": {
                "shape": "DeleteTimelineEventOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "GetIncidentRecord": {
            "name": "GetIncidentRecord",
            "http": {
                "method": "GET",
                "requestUri": "/getIncidentRecord",
                "responseCode": 200
            },
            "input": {
                "shape": "GetIncidentRecordInput"
            },
            "output": {
                "shape": "GetIncidentRecordOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "GetReplicationSet": {
            "name": "GetReplicationSet",
            "http": {
                "method": "GET",
                "requestUri": "/getReplicationSet",
                "responseCode": 200
            },
            "input": {
                "shape": "GetReplicationSetInput"
            },
            "output": {
                "shape": "GetReplicationSetOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "GetResourcePolicies": {
            "name": "GetResourcePolicies",
            "http": {
                "method": "POST",
                "requestUri": "/getResourcePolicies",
                "responseCode": 200
            },
            "input": {
                "shape": "GetResourcePoliciesInput"
            },
            "output": {
                "shape": "GetResourcePoliciesOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "GetResponsePlan": {
            "name": "GetResponsePlan",
            "http": {
                "method": "GET",
                "requestUri": "/getResponsePlan",
                "responseCode": 200
            },
            "input": {
                "shape": "GetResponsePlanInput"
            },
            "output": {
                "shape": "GetResponsePlanOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "GetTimelineEvent": {
            "name": "GetTimelineEvent",
            "http": {
                "method": "GET",
                "requestUri": "/getTimelineEvent",
                "responseCode": 200
            },
            "input": {
                "shape": "GetTimelineEventInput"
            },
            "output": {
                "shape": "GetTimelineEventOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "ListIncidentFindings": {
            "name": "ListIncidentFindings",
            "http": {
                "method": "POST",
                "requestUri": "/listIncidentFindings",
                "responseCode": 200
            },
            "input": {
                "shape": "ListIncidentFindingsInput"
            },
            "output": {
                "shape": "ListIncidentFindingsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "ListIncidentRecords": {
            "name": "ListIncidentRecords",
            "http": {
                "method": "POST",
                "requestUri": "/listIncidentRecords",
                "responseCode": 200
            },
            "input": {
                "shape": "ListIncidentRecordsInput"
            },
            "output": {
                "shape": "ListIncidentRecordsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "ListRelatedItems": {
            "name": "ListRelatedItems",
            "http": {
                "method": "POST",
                "requestUri": "/listRelatedItems",
                "responseCode": 200
            },
            "input": {
                "shape": "ListRelatedItemsInput"
            },
            "output": {
                "shape": "ListRelatedItemsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "ListReplicationSets": {
            "name": "ListReplicationSets",
            "http": {
                "method": "POST",
                "requestUri": "/listReplicationSets",
                "responseCode": 200
            },
            "input": {
                "shape": "ListReplicationSetsInput"
            },
            "output": {
                "shape": "ListReplicationSetsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "ListResponsePlans": {
            "name": "ListResponsePlans",
            "http": {
                "method": "POST",
                "requestUri": "/listResponsePlans",
                "responseCode": 200
            },
            "input": {
                "shape": "ListResponsePlansInput"
            },
            "output": {
                "shape": "ListResponsePlansOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTagsForResourceRequest"
            },
            "output": {
                "shape": "ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "ListTimelineEvents": {
            "name": "ListTimelineEvents",
            "http": {
                "method": "POST",
                "requestUri": "/listTimelineEvents",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTimelineEventsInput"
            },
            "output": {
                "shape": "ListTimelineEventsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "PutResourcePolicy": {
            "name": "PutResourcePolicy",
            "http": {
                "method": "POST",
                "requestUri": "/putResourcePolicy",
                "responseCode": 200
            },
            "input": {
                "shape": "PutResourcePolicyInput"
            },
            "output": {
                "shape": "PutResourcePolicyOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6BZVJYTMHYO2XTEJ4HL7JJ6AAVEMZ6CJQDIEES7SLMMIJ3ONH4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYI7EZWCNHOUGNE3ZDMNTOPGOGITCT5QWUHVXRJF4ZCLF25FKPYA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGULMUK2NCNRTXF65RUA2CFRZ6KWYFUNVV2KVIPZU554X7F46GXQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF26V5VFNQYMV3U7GEE4PXMZULQFXD6LHEUODQO2KXQF4E2C7UNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2U3VW3KIUQ5YRBD52DABAR256HLDKOP2VAFCL7HW3M3E6S7GAOQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZIXFIXSXWUBPN2HFMONJ5UQWWXFVXUOEZK2G6JE55VZR6TYNMXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZKTMY7MC3HAHOUZMTICBDQMUA6BBZG43BZVXUVXYAZYH5BFCXKQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTESAXTOESEPZFEEZVZOOZW46W5LM3EJ3SG3HVPBJ7Y32VBNJMVA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSNDROIA7P2YFAQC6RTQMYOGMYO5BLMKJNNXNY36OEPKY33HEBZA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKYAQGYW3I4A5O2MQH327JYZTPLFYVVIJYAELTNHP2B7TK32WIMA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YBQZ7Y7AROKOLV3AQHA7CP6Q4RTRNAAXS72IHEK25Z2DPHSNFEQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN3NNDIR6PXSGU4XC4UZPPOL7BM4QWS3LZ5YNPASRO2JMKJB4I7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WLWA4FA3ZO6O5KLEH5TNI4MCMHJRYMJX3KNLXAGFQAKGSDOV66Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT4YQ7YJGRMUXOPBTBIMQ7VLV7K76NJCOCZUTEHESKTVS53FFYIQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFMDE6TJJJGNG7TUF6A5MWJ23SFYJSNUGP4BEB7IID36OUFLJJDA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YK5LWAWOTT7ZO73KH2ATI7M2L7Z67XE2CJCQUDKGKW3SFBY7WVQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN33ETJCWP56UOIBMCD7WJ5R75DATQLWPUTITW7UJFGN2QA3N4Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NE6PNWBIN7Z7CNBJR3MDPNFP3LKSZBDR3KSKFFVHSWWTXP5IPVNQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQPTZTXCRRFG6PD6MX6OAHR3BO4LV6NFZHG4OYIJKWTI2IBRPLPA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XRTNPHUMEX6GT2G2TGWKSIJXBG3XUWEF5FNJZJMLP5Q43TDCBPTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWUJWGHXEDBOWEVXYLE6W3CV2A6LC3IATTXODQFMPSATPTSAHV5A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6HWYNQOHFPFC3HLPQBFZQJXMHFGKEJVZJIVQV3JAYYLLEOT7BJYA/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2WWBYPTVUYKBHM42R5JPKYWA6W4P56MSZSZGUNVFCWS7WS5HE2Q/incidentDashboard.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y6G2LCUVWRQKXMJHHQGXOOH2GDSTXC2TNB7X2KHAXBM7AXMHBDNQ/incidentDashboard.js"
            ]
        },
        "StartIncident": {
            "name": "StartIncident",
            "http": {
                "method": "POST",
                "requestUri": "/startIncident",
                "responseCode": 200
            },
            "input": {
                "shape": "StartIncidentInput"
            },
            "output": {
                "shape": "StartIncidentOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
[...]
