{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "ssm-incidents",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "SSMIncidentsPrerelease",
        "serviceId": "SSMIncidentsPrerelease",
        "signatureVersion": "v4",
        "signingName": "ssm-incidents",
        "uid": "ssmincidentsprerelease-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4OOSTQBUB2RHQTNU7MLCNOIBHSETWJGRGOJJDCIWDBVP2XKKFGA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
        ]
    },
    "operations": {
        "BatchGetIncidentFindings": {
            "name": "BatchGetIncidentFindings",
            "http": {
                "method": "POST",
                "requestUri": "/batchGetIncidentFindings",
                "responseCode": 200
            },
            "input": {
                "shape": "BatchGetIncidentFindingsInput"
            },
            "output": {
                "shape": "BatchGetIncidentFindingsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "CreateReplicationSet": {
            "name": "CreateReplicationSet",
            "http": {
                "method": "POST",
                "requestUri": "/createReplicationSet",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateReplicationSetInput"
            },
            "output": {
                "shape": "CreateReplicationSetOutput"
            },
            "errors": [
                {
                    "shape": "ServiceQuotaExceededException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "CreateResponsePlan": {
            "name": "CreateResponsePlan",
            "http": {
                "method": "POST",
                "requestUri": "/createResponsePlan",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateResponsePlanInput"
            },
            "output": {
                "shape": "CreateResponsePlanOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "CreateTimelineEvent": {
            "name": "CreateTimelineEvent",
            "http": {
                "method": "POST",
                "requestUri": "/createTimelineEvent",
                "responseCode": 201
            },
            "input": {
                "shape": "CreateTimelineEventInput"
            },
            "output": {
                "shape": "CreateTimelineEventOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "DeleteIncidentRecord": {
            "name": "DeleteIncidentRecord",
            "http": {
                "method": "POST",
                "requestUri": "/deleteIncidentRecord",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteIncidentRecordInput"
            },
            "output": {
                "shape": "DeleteIncidentRecordOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "DeleteReplicationSet": {
            "name": "DeleteReplicationSet",
            "http": {
                "method": "POST",
                "requestUri": "/deleteReplicationSet",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteReplicationSetInput"
            },
            "output": {
                "shape": "DeleteReplicationSetOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "DeleteResourcePolicy": {
            "name": "DeleteResourcePolicy",
            "http": {
                "method": "POST",
                "requestUri": "/deleteResourcePolicy",
                "responseCode": 200
            },
            "input": {
                "shape": "DeleteResourcePolicyInput"
            },
            "output": {
                "shape": "DeleteResourcePolicyOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "DeleteResponsePlan": {
            "name": "DeleteResponsePlan",
            "http": {
                "method": "POST",
                "requestUri": "/deleteResponsePlan",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteResponsePlanInput"
            },
            "output": {
                "shape": "DeleteResponsePlanOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "DeleteTimelineEvent": {
            "name": "DeleteTimelineEvent",
            "http": {
                "method": "POST",
                "requestUri": "/deleteTimelineEvent",
                "responseCode": 204
            },
            "input": {
                "shape": "DeleteTimelineEventInput"
            },
            "output": {
                "shape": "DeleteTimelineEventOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "GetIncidentRecord": {
            "name": "GetIncidentRecord",
            "http": {
                "method": "GET",
                "requestUri": "/getIncidentRecord",
                "responseCode": 200
            },
            "input": {
                "shape": "GetIncidentRecordInput"
            },
            "output": {
                "shape": "GetIncidentRecordOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "GetReplicationSet": {
            "name": "GetReplicationSet",
            "http": {
                "method": "GET",
                "requestUri": "/getReplicationSet",
                "responseCode": 200
            },
            "input": {
                "shape": "GetReplicationSetInput"
            },
            "output": {
                "shape": "GetReplicationSetOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "GetResourcePolicies": {
            "name": "GetResourcePolicies",
            "http": {
                "method": "POST",
                "requestUri": "/getResourcePolicies",
                "responseCode": 200
            },
            "input": {
                "shape": "GetResourcePoliciesInput"
            },
            "output": {
                "shape": "GetResourcePoliciesOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "GetResponsePlan": {
            "name": "GetResponsePlan",
            "http": {
                "method": "GET",
                "requestUri": "/getResponsePlan",
                "responseCode": 200
            },
            "input": {
                "shape": "GetResponsePlanInput"
            },
            "output": {
                "shape": "GetResponsePlanOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "GetTimelineEvent": {
            "name": "GetTimelineEvent",
            "http": {
                "method": "GET",
                "requestUri": "/getTimelineEvent",
                "responseCode": 200
            },
            "input": {
                "shape": "GetTimelineEventInput"
            },
            "output": {
                "shape": "GetTimelineEventOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "ListIncidentFindings": {
            "name": "ListIncidentFindings",
            "http": {
                "method": "POST",
                "requestUri": "/listIncidentFindings",
                "responseCode": 200
            },
            "input": {
                "shape": "ListIncidentFindingsInput"
            },
            "output": {
                "shape": "ListIncidentFindingsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "ListIncidentRecords": {
            "name": "ListIncidentRecords",
            "http": {
                "method": "POST",
                "requestUri": "/listIncidentRecords",
                "responseCode": 200
            },
            "input": {
                "shape": "ListIncidentRecordsInput"
            },
            "output": {
                "shape": "ListIncidentRecordsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "ListRelatedItems": {
            "name": "ListRelatedItems",
            "http": {
                "method": "POST",
                "requestUri": "/listRelatedItems",
                "responseCode": 200
            },
            "input": {
                "shape": "ListRelatedItemsInput"
            },
            "output": {
                "shape": "ListRelatedItemsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "ListReplicationSets": {
            "name": "ListReplicationSets",
            "http": {
                "method": "POST",
                "requestUri": "/listReplicationSets",
                "responseCode": 200
            },
            "input": {
                "shape": "ListReplicationSetsInput"
            },
            "output": {
                "shape": "ListReplicationSetsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "ListResponsePlans": {
            "name": "ListResponsePlans",
            "http": {
                "method": "POST",
                "requestUri": "/listResponsePlans",
                "responseCode": 200
            },
            "input": {
                "shape": "ListResponsePlansInput"
            },
            "output": {
                "shape": "ListResponsePlansOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "ListTagsForResource": {
            "name": "ListTagsForResource",
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTagsForResourceRequest"
            },
            "output": {
                "shape": "ListTagsForResourceResponse"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "ListTimelineEvents": {
            "name": "ListTimelineEvents",
            "http": {
                "method": "POST",
                "requestUri": "/listTimelineEvents",
                "responseCode": 200
            },
            "input": {
                "shape": "ListTimelineEventsInput"
            },
            "output": {
                "shape": "ListTimelineEventsOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "PutResourcePolicy": {
            "name": "PutResourcePolicy",
            "http": {
                "method": "POST",
                "requestUri": "/putResourcePolicy",
                "responseCode": 200
            },
            "input": {
                "shape": "PutResourcePolicyInput"
            },
            "output": {
                "shape": "PutResourcePolicyOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX3QZAITQKI2BY2REYX5W73WXDJ6DSSYTEFHHQJORQDYWJ7HRP7A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2EUAHWNNAKBVWW5BYIJG6XLSNKBPX5ZC4ISORLA6NWEG5KGRCTA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SKEPZ3WMULGA677VUQEDTPBV5BZE2HCDKKGTFQYWNLI4L2PPX2Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6Y7BCPHQLY76ICTCOPRM44ORRLC5RXUFRNWCEIYIXCRINGJBLDQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CA7FEXXRLAPHNEEIRXZO3ADS63NXZFAZX5ZM5W7CCHANJYIEJHUQ/incidentDashboard.js"
            ]
        },
        "StartIncident": {
            "name": "StartIncident",
            "http": {
                "method": "POST",
                "requestUri": "/startIncident",
                "responseCode": 200
            },
            "input": {
                "shape": "StartIncidentInput"
            },
            "output": {
                "shape": "StartIncidentOutput"
            },
            "errors": [
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ConflictException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JAHG3TOANOFV4AVCBRCMVAIIQLRRQCTDDTCE4HYS72IOP76JITA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HX6UTOIGAJDEYEGOEPOYWFRIK6UIW5VK5IARWZINASSS37YRVJ4A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUW7J2M7FRA2LNALDQQ6YAITJAJWNGG7FIRINKLMC47IOPRO3FA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGL5UYIBLHERBI46SHNJADTDVO2CH2UTGANVIOQHAV325X4B4L3A/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJQDKH7BNYBGDFCQBSXRYSQ77BQDMG2LXXPNX5RFSYJ77ETGMBRQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTCDJRVOCD5G7WUUPSVSQ47Q42NTD52HXWJLGHIMFL4BIL5VADCQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIZMVNNMNHMBJNNZC24P7ND2LPUDD4VS7QNKUFPEA65YW23WAJFA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY4CVNNMHVZMF67RUWHDRLSWQVIGL2OTQOAAE4O3SZL5HFCJJZXA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFW2PDLKE47TQZPESRTYX2CT3MVCY4JPSMZT6KAHPFSTKZHFGH3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63JMOL6L2GCMDCBAXZUH7OHON5LXP7CIVLSOKUYOTR735USX6USA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TDMTNXCYU6WTNVZHWG2HBXT7C4WFOC7JORYFSOC7IJSAPNI2I3Q/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDJWEEBWURIL4SGJ5UVSFEOEZWXDFOBA2F4TVIWPKDSFSOAR4KOA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6RRP6ZV3VHYDVWO5QNQ6RI4G2GLY7QN7F4SEOFRS2MHJYVEPNHSQ/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3REVAL6JU3I2Q7OO7ICORJHH3RWZPZUJGNNL5CVXG3XKRRWIFUA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TIDWZ3RO5GVFO76WUGQJB3RTYADH2XLPA2U2VAV3DJMPO2RWBJA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KP3GFWM2YWLIW2PBSBJO5U6IOX3YFYXMMQLNPSW626V32JNFJYRA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4UDTEZCSM4QUBDFMMVWKEZ2EHHOZBVQNIL6N4ASRLBG37PBIIA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZSTBFXPG6EKYJPMUP5SIJ2PIGA37OTDDK5K7LHQUNGQDTQ4K6EA/incidentDashboard.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EAQIP5KVH7577NKBU4R2O6AYUGHKGMKBHSFQK4GM46BUV27FR2Q/incidentDashboard.js",
[...]
