{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "ssm-sap",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "ssmSAP",
        "serviceFullName": "AWS Systems Manager for SAP",
        "serviceId": "SsmSap",
        "signatureVersion": "v4",
        "signingName": "ssm-sap",
        "uid": "ssmsap-2018-05-10",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/QU2TBZ24IHF2QMPNRZELSYO5Q3BZKUNIHAQLU5YHYU4QXVEIQE6A/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
        ]
    },
    "operations": {
        "BackupDatabase": {
            "http": {
                "requestUri": "/backup-database",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseArn",
                    "ControllerJobId",
                    "SuggestedBackupType"
                ],
                "members": {
                    "DatabaseArn": {},
                    "ControllerJobId": {},
                    "SuggestedBackupType": {},
                    "PreviousBackupInformation": {
                        "type": "structure",
                        "required": [
                            "LastDataBackupHANABackupId",
                            "LastFullBackupHANABackupId",
                            "HANABackupEncryptionAtLastBackup",
                            "HANAVersionAtLastBackup"
                        ],
                        "members": {
                            "LastDataBackupHANABackupId": {},
                            "LastFullBackupHANABackupId": {},
                            "HANABackupEncryptionAtLastBackup": {
                                "type": "boolean"
                            },
                            "HANAVersionAtLastBackup": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "DeleteResourcePermission": {
            "http": {
                "requestUri": "/delete-resource-permission",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ActionType": {},
                    "SourceResourceArn": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "DeregisterApplication": {
            "http": {
                "requestUri": "/deregister-application",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId"
                ],
                "members": {
                    "ApplicationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "GetApplication": {
            "http": {
                "requestUri": "/get-application",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "ApplicationArn": {},
                    "AppRegistryArn": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Application": {
                        "shape": "Sm"
                    },
                    "Tags": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "GetComponent": {
            "http": {
                "requestUri": "/get-component",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "ComponentId"
                ],
                "members": {
                    "ApplicationId": {},
                    "ComponentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Component": {
                        "type": "structure",
                        "members": {
                            "ComponentId": {},
                            "ApplicationId": {},
                            "ComponentType": {},
                            "Status": {},
                            "Databases": {
                                "type": "list",
                                "member": {}
                            },
                            "Hosts": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "HostName": {},
                                        "HostRole": {},
                                        "HostIp": {},
                                        "InstanceId": {}
                                    }
                                }
                            },
                            "PrimaryHost": {},
                            "LastUpdated": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "GetDatabase": {
            "http": {
                "requestUri": "/get-database",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "ComponentId": {},
                    "DatabaseId": {},
                    "DatabaseArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Database": {
                        "type": "structure",
                        "members": {
                            "ApplicationId": {},
                            "ComponentId": {},
                            "Credentials": {
                                "shape": "S18"
                            },
                            "DatabaseId": {},
                            "DatabaseName": {},
                            "DatabaseType": {},
                            "Arn": {},
                            "Status": {},
                            "PrimaryHost": {},
                            "SQLPort": {
                                "type": "integer"
                            },
                            "LastUpdated": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "Tags": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "GetOperation": {
            "http": {
                "requestUri": "/get-operation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OperationId"
                ],
                "members": {
                    "OperationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operation": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "GetResourcePermission": {
            "http": {
                "requestUri": "/get-resource-permission",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ActionType": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "ListApplications": {
            "http": {
                "requestUri": "/list-applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Applications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Type": {},
                                "Arn": {},
                                "Tags": {
                                    "shape": "Ss"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "ListComponents": {
            "http": {
                "requestUri": "/list-components",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Components": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "ComponentId": {},
                                "ComponentType": {},
                                "Tags": {
                                    "shape": "Ss"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "ListDatabases": {
            "http": {
                "requestUri": "/list-databases",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "ComponentId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Databases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "ComponentId": {},
                                "DatabaseId": {},
                                "DatabaseType": {},
                                "Arn": {},
                                "Tags": {
                                    "shape": "Ss"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "ListOperations": {
            "http": {
                "requestUri": "/list-operations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId"
                ],
                "members": {
                    "ApplicationId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value",
                                "Operator"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {},
                                "Operator": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operations": {
                        "type": "list",
                        "member": {
                            "shape": "S1i"
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "PutResourcePermission": {
            "http": {
                "requestUri": "/put-resource-permission",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ActionType",
                    "SourceResourceArn",
                    "ResourceArn"
                ],
                "members": {
                    "ActionType": {},
                    "SourceResourceArn": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "RegisterApplication": {
            "http": {
                "requestUri": "/register-application",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "ApplicationType",
                    "Instances",
                    "Credentials"
                ],
                "members": {
                    "ApplicationId": {},
                    "ApplicationType": {},
                    "Instances": {
                        "type": "list",
                        "member": {}
                    },
                    "SapInstanceNumber": {},
                    "Sid": {},
                    "Tags": {
                        "shape": "Ss"
                    },
                    "Credentials": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Application": {
                        "shape": "Sm"
                    },
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "RestoreDatabase": {
            "http": {
                "requestUri": "/restore-database",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetDatabaseArn",
                    "SourceDatabaseArn",
                    "ControllerJobId",
                    "StorageJobId",
                    "FullDataBackupHANABackupId",
                    "CatalogRestoreOption",
                    "RecoveryType"
                ],
                "members": {
                    "TargetDatabaseArn": {},
                    "SourceDatabaseArn": {},
                    "ControllerJobId": {},
                    "StorageJobId": {},
                    "FullDataBackupHANABackupId": {},
                    "FullBackupNamePrefix": {},
                    "LastBackupEndTime": {},
                    "CatalogRestoreOption": {},
                    "LocalCatalogPath": {},
                    "LogBackupRestoreOption": {},
                    "LocalLogBackupPaths": {
                        "type": "list",
                        "member": {}
                    },
                    "RecoveryType": {},
                    "DatabaseInformation": {
                        "type": "structure",
                        "required": [
                            "SystemDatabaseSID",
                            "DatabaseName"
                        ],
                        "members": {
                            "SystemDatabaseSID": {},
                            "DatabaseName": {}
                        }
                    },
                    "InitializeLogArea": {
                        "type": "boolean"
                    },
                    "UseDeltaBackups": {
                        "type": "boolean"
                    },
                    "RestoreTimestamp": {},
                    "LogPosition": {
                        "type": "structure",
                        "required": [
                            "Position",
                            "Volume"
                        ],
                        "members": {
                            "Position": {},
                            "Volume": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "StartApplication": {
            "http": {
                "requestUri": "/start-application",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId"
                ],
                "members": {
                    "ApplicationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Application": {
                        "shape": "Sm"
                    },
                    "OperationId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "StopApplication": {
            "http": {
                "requestUri": "/stop-application",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId"
                ],
                "members": {
                    "ApplicationId": {},
                    "StopEc2Instances": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Application": {
                        "shape": "Sm"
                    },
                    "OperationId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "UpdateApplicationSettings": {
            "http": {
                "requestUri": "/update-application-settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId"
                ],
                "members": {
                    "ApplicationId": {},
                    "CredentialsToAddOrUpdate": {
                        "shape": "S18"
                    },
                    "CredentialsToRemove": {
                        "shape": "S18"
                    },
                    "DataProvider": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {},
                    "OperationIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/LEN3LTQIZRWBRQMZHWOKKJG3PTJTVESLJXYFORY2CYWDQXPZSV3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4XA6BNTFSHAQLHZFTBYJH5OT4IYVC2XVHQCFX4GH3UBORTDR37QA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BJYRA7TLF77FP455AFZKVKGK3NWJZAFRLP5CXEILT3RNYXO2ZPXA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6SO4PAVCLTYPKNYODH4WV3CCR7SCSLVZEET5IFTO3BS2AVZLOVFA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
[...]
