{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "ssm-sap",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "ssmSAP",
        "serviceFullName": "AWS Systems Manager for SAP",
        "serviceId": "SsmSap",
        "signatureVersion": "v4",
        "signingName": "ssm-sap",
        "uid": "ssmsap-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3ARG6K6TF5XGYJCJZBANLILBVEUMRTIY5PY3ON6FGMWZ7JGGWGGA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
        ]
    },
    "operations": {
        "BackupDatabase": {
            "http": {
                "requestUri": "/backup-database",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseArn",
                    "ControllerJobId",
                    "SuggestedBackupType"
                ],
                "members": {
                    "DatabaseArn": {},
                    "ControllerJobId": {},
                    "SuggestedBackupType": {},
                    "PreviousBackupInformation": {
                        "type": "structure",
                        "required": [
                            "LastDataBackupHANABackupId",
                            "LastFullBackupHANABackupId",
                            "HANABackupEncryptionAtLastBackup",
                            "HANAVersionAtLastBackup"
                        ],
                        "members": {
                            "LastDataBackupHANABackupId": {},
                            "LastFullBackupHANABackupId": {},
                            "HANABackupEncryptionAtLastBackup": {
                                "type": "boolean"
                            },
                            "HANAVersionAtLastBackup": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "DeleteResourcePermission": {
            "http": {
                "requestUri": "/delete-resource-permission",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ActionType": {},
                    "SourceResourceArn": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "DeregisterApplication": {
            "http": {
                "requestUri": "/deregister-application",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId"
                ],
                "members": {
                    "ApplicationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "GetApplication": {
            "http": {
                "requestUri": "/get-application",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "ApplicationArn": {},
                    "AppRegistryArn": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Application": {
                        "shape": "Sm"
                    },
                    "Tags": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "GetComponent": {
            "http": {
                "requestUri": "/get-component",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "ComponentId"
                ],
                "members": {
                    "ApplicationId": {},
                    "ComponentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Component": {
                        "type": "structure",
                        "members": {
                            "ComponentId": {},
                            "ApplicationId": {},
                            "ComponentType": {},
                            "Status": {},
                            "Databases": {
                                "type": "list",
                                "member": {}
                            },
                            "Hosts": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "HostName": {},
                                        "HostRole": {},
                                        "HostIp": {},
                                        "InstanceId": {}
                                    }
                                }
                            },
                            "PrimaryHost": {},
                            "LastUpdated": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "GetDatabase": {
            "http": {
                "requestUri": "/get-database",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "ComponentId": {},
                    "DatabaseId": {},
                    "DatabaseArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Database": {
                        "type": "structure",
                        "members": {
                            "ApplicationId": {},
                            "ComponentId": {},
                            "Credentials": {
                                "shape": "S18"
                            },
                            "DatabaseId": {},
                            "DatabaseName": {},
                            "DatabaseType": {},
                            "Arn": {},
                            "Status": {},
                            "PrimaryHost": {},
                            "SQLPort": {
                                "type": "integer"
                            },
                            "LastUpdated": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "Tags": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "GetOperation": {
            "http": {
                "requestUri": "/get-operation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OperationId"
                ],
                "members": {
                    "OperationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operation": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "GetResourcePermission": {
            "http": {
                "requestUri": "/get-resource-permission",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ActionType": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListApplications": {
            "http": {
                "requestUri": "/list-applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Applications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Type": {},
                                "Arn": {},
                                "Tags": {
                                    "shape": "Ss"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListComponents": {
            "http": {
                "requestUri": "/list-components",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Components": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "ComponentId": {},
                                "ComponentType": {},
                                "Tags": {
                                    "shape": "Ss"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListDatabases": {
            "http": {
                "requestUri": "/list-databases",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationId": {},
                    "ComponentId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Databases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ApplicationId": {},
                                "ComponentId": {},
                                "DatabaseId": {},
                                "DatabaseType": {},
                                "Arn": {},
                                "Tags": {
                                    "shape": "Ss"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListOperations": {
            "http": {
                "requestUri": "/list-operations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId"
                ],
                "members": {
                    "ApplicationId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value",
                                "Operator"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {},
                                "Operator": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Operations": {
                        "type": "list",
                        "member": {
                            "shape": "S1i"
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "PutResourcePermission": {
            "http": {
                "requestUri": "/put-resource-permission",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ActionType",
                    "SourceResourceArn",
                    "ResourceArn"
                ],
                "members": {
                    "ActionType": {},
                    "SourceResourceArn": {},
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "RegisterApplication": {
            "http": {
                "requestUri": "/register-application",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId",
                    "ApplicationType",
                    "Instances",
                    "Credentials"
                ],
                "members": {
                    "ApplicationId": {},
                    "ApplicationType": {},
                    "Instances": {
                        "type": "list",
                        "member": {}
                    },
                    "SapInstanceNumber": {},
                    "Sid": {},
                    "Tags": {
                        "shape": "Ss"
                    },
                    "Credentials": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Application": {
                        "shape": "Sm"
                    },
                    "OperationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "RestoreDatabase": {
            "http": {
                "requestUri": "/restore-database",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "TargetDatabaseArn",
                    "SourceDatabaseArn",
                    "ControllerJobId",
                    "StorageJobId",
                    "FullDataBackupHANABackupId",
                    "CatalogRestoreOption",
                    "RecoveryType"
                ],
                "members": {
                    "TargetDatabaseArn": {},
                    "SourceDatabaseArn": {},
                    "ControllerJobId": {},
                    "StorageJobId": {},
                    "FullDataBackupHANABackupId": {},
                    "FullBackupNamePrefix": {},
                    "LastBackupEndTime": {},
                    "CatalogRestoreOption": {},
                    "LocalCatalogPath": {},
                    "LogBackupRestoreOption": {},
                    "LocalLogBackupPaths": {
                        "type": "list",
                        "member": {}
                    },
                    "RecoveryType": {},
                    "DatabaseInformation": {
                        "type": "structure",
                        "required": [
                            "SystemDatabaseSID",
                            "DatabaseName"
                        ],
                        "members": {
                            "SystemDatabaseSID": {},
                            "DatabaseName": {}
                        }
                    },
                    "InitializeLogArea": {
                        "type": "boolean"
                    },
                    "UseDeltaBackups": {
                        "type": "boolean"
                    },
                    "RestoreTimestamp": {},
                    "LogPosition": {
                        "type": "structure",
                        "required": [
                            "Position",
                            "Volume"
                        ],
                        "members": {
                            "Position": {},
                            "Volume": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "StartApplication": {
            "http": {
                "requestUri": "/start-application",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId"
                ],
                "members": {
                    "ApplicationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Application": {
                        "shape": "Sm"
                    },
                    "OperationId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "StopApplication": {
            "http": {
                "requestUri": "/stop-application",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId"
                ],
                "members": {
                    "ApplicationId": {},
                    "StopEc2Instances": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Application": {
                        "shape": "Sm"
                    },
                    "OperationId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "UpdateApplicationSettings": {
            "http": {
                "requestUri": "/update-application-settings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationId"
                ],
                "members": {
                    "ApplicationId": {},
                    "CredentialsToAddOrUpdate": {
                        "shape": "S18"
                    },
                    "CredentialsToRemove": {
                        "shape": "S18"
                    },
                    "DataProvider": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {},
                    "OperationIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
[...]
