{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-28",
        "endpointPrefix": "sso",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SSOInternal",
        "serviceFullName": "AWS Single Sign-On",
        "serviceId": "SSO Internal",
        "signatureVersion": "v4",
        "targetPrefix": "SWBService",
        "uid": "SSO-2017-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
        ]
    },
    "operations": {
        "AssociateDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryType"
                ],
                "members": {
                    "directoryId": {},
                    "directoryType": {},
                    "instanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "directoryAssociation"
                ],
                "members": {
                    "directoryAssociation": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "AssociateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "accessorId",
                    "accessorType",
                    "directoryId",
                    "directoryType",
                    "instanceId",
                    "profileId"
                ],
                "members": {
                    "accessorId": {},
                    "ssoGuid": {},
                    "accessorType": {},
                    "accessorDisplay": {
                        "shape": "Sm"
                    },
                    "directoryId": {},
                    "directoryType": {},
                    "instanceId": {},
                    "profileId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "assignment"
                ],
                "members": {
                    "assignment": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "AttachManagedPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "permissionSetId",
                    "arn"
                ],
                "members": {
                    "permissionSetId": {},
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "CreateApplicationInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "templateId",
                    "name"
                ],
                "members": {
                    "templateId": {},
                    "templateVersion": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationInstance"
                ],
                "members": {
                    "applicationInstance": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "CreateApplicationInstanceCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationInstanceCertificate"
                ],
                "members": {
                    "applicationInstanceCertificate": {
                        "shape": "S2g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "CreateManagedApplicationInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "templateId",
                    "tenantId",
                    "startUrl",
                    "displayName"
                ],
                "members": {
                    "templateId": {},
                    "templateVersion": {},
                    "tenantId": {},
                    "templateContext": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "startUrl": {},
                    "displayName": {
                        "shape": "Sn"
                    },
                    "regionName": {},
                    "assignmentConfig": {
                        "shape": "S2m"
                    },
                    "endUserVisible": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationInstance"
                ],
                "members": {
                    "applicationInstance": {
                        "shape": "S14"
                    },
                    "identityStoreId": {},
                    "instanceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "CreatePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "permissionSetName"
                ],
                "members": {
                    "permissionSetName": {},
                    "description": {},
                    "ttl": {},
                    "relayState": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "permissionSet"
                ],
                "members": {
                    "permissionSet": {
                        "shape": "S30"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "CreateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "instanceId"
                ],
                "members": {
                    "name": {
                        "shape": "Sn"
                    },
                    "instanceId": {},
                    "responseConfig": {
                        "shape": "S1o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationProfile"
                ],
                "members": {
                    "applicationProfile": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DeleteApplicationInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DeleteApplicationInstanceCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "certificateId",
                    "instanceId"
                ],
                "members": {
                    "certificateId": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DeleteApplicationInstanceForAWsAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DeleteApplicationProfileForAwsAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "profileId",
                    "instanceId"
                ],
                "members": {
                    "profileId": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DeleteAssignmentsForAccessor": {
            "input": {
                "type": "structure",
                "required": [
                    "accessor"
                ],
                "members": {
                    "accessor": {
                        "shape": "St"
                    },
                    "instanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "allAssignmentsDeleted": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DeleteManagedApplicationInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "clientId"
                ],
                "members": {
                    "clientId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DeletePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "permissionSetId"
                ],
                "members": {
                    "permissionSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DeletePermissionsPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "permissionSetId"
                ],
                "members": {
                    "permissionSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DeleteProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "profileId",
                    "instanceId"
                ],
                "members": {
                    "profileId": {},
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DeleteSSO": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DescribePermissionsPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "permissionSetId"
                ],
                "members": {
                    "permissionSetId": {},
                    "marker": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "attachedManagedPolicies"
                ],
                "members": {
                    "attachedManagedPolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {
                                    "shape": "Sn"
                                },
                                "Arn": {}
                            }
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DescribeRegisteredRegions": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "regions"
                ],
                "members": {
                    "regions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "regionName"
                            ],
                            "members": {
                                "regionName": {},
                                "regionDisplayName": {
                                    "shape": "Sn"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DetachManagedPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "permissionSetId",
                    "arn"
                ],
                "members": {
                    "permissionSetId": {},
                    "arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DisassociateDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "directoryType"
                ],
                "members": {
                    "directoryId": {},
                    "directoryType": {},
                    "instanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DisassociateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "accessorId",
                    "accessorType",
                    "directoryId",
                    "directoryType",
                    "instanceId",
                    "profileId"
                ],
                "members": {
                    "accessorId": {},
                    "ssoGuid": {},
                    "accessorType": {},
                    "directoryId": {},
                    "directoryType": {},
                    "instanceId": {},
                    "profileId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "GetAWSAccountProfileStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId",
                    "profileId"
                ],
                "members": {
                    "instanceId": {},
                    "profileId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "awsProfileStatus"
                ],
                "members": {
                    "awsProfileStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "GetAccessorsForDirectoryAssociation": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryId",
                    "directoryType"
                ],
                "members": {
                    "directoryId": {},
                    "directoryType": {},
                    "marker": {},
                    "instanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessors": {
                        "type": "list",
                        "member": {
                            "shape": "St"
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIPNH5SAQEREH4AL7JL22RJCLTPKBILVRZGMLK65UTWIIAAZFC7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "GetApplicationInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceId"
                ],
                "members": {
                    "instanceId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationInstance"
                ],
                "members": {
                    "applicationInstance": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NUZOYTINXIBRG2RGRURDP7NXD2WN57BRSHSGAV6OYD4QKCMOF7Q/amzn/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDTMZL6NRUWLQIPUD5WILTN7NJU2S376CJOBHLKETH32WXHR6Y7Q/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3J5PRV6RYOEMRHTQR65F5NAUFHWKKXR4FKQDDEGYDTTMVSM55FIQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QHGGTBKTIT4FMQ65ZJMZBN64P32DRGKTB43RUMPZ4SW47ATS3NLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFOTZDJTJMM2QFCRR7UX54EV7EFAVWSGWIZGWNVZOONXNKA5SNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T4HK7M2BM3LDT7LSZ5VOWGKQTDCC66ZBMLUR5FS5M5S3CYTC3IXA/main.js",
[...]
