{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-20",
        "endpointPrefix": "sso",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SSO Admin",
        "serviceFullName": "AWS Single Sign-On Admin",
        "serviceId": "SSO Admin",
        "signatureVersion": "v4",
        "signingName": "sso",
        "targetPrefix": "SWBExternalService",
        "uid": "sso-admin-2020-07-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
        ]
    },
    "operations": {
        "AttachCustomerManagedPolicyReferenceToPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "CustomerManagedPolicyReference"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "CustomerManagedPolicyReference": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "AttachManagedPolicyToPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "ManagedPolicyArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "ManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateAccountAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "TargetId",
                    "TargetType",
                    "PermissionSetArn",
                    "PrincipalType",
                    "PrincipalId"
                ],
                "members": {
                    "InstanceArn": {},
                    "TargetId": {},
                    "TargetType": {},
                    "PermissionSetArn": {},
                    "PrincipalType": {},
                    "PrincipalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentCreationStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateInstanceAccessControlAttributeConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "InstanceAccessControlAttributeConfiguration"
                ],
                "members": {
                    "InstanceArn": {},
                    "InstanceAccessControlAttributeConfiguration": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreatePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "InstanceArn"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "InstanceArn": {},
                    "SessionDuration": {},
                    "RelayState": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSet": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeleteAccountAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "TargetId",
                    "TargetType",
                    "PermissionSetArn",
                    "PrincipalType",
                    "PrincipalId"
                ],
                "members": {
                    "InstanceArn": {},
                    "TargetId": {},
                    "TargetType": {},
                    "PermissionSetArn": {},
                    "PrincipalType": {},
                    "PrincipalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentDeletionStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeleteInlinePolicyFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeleteInstanceAccessControlAttributeConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeletePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeletePermissionsBoundaryFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DescribeAccountAssignmentCreationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "AccountAssignmentCreationRequestId"
                ],
                "members": {
                    "InstanceArn": {},
                    "AccountAssignmentCreationRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentCreationStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DescribeAccountAssignmentDeletionStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "AccountAssignmentDeletionRequestId"
                ],
                "members": {
                    "InstanceArn": {},
                    "AccountAssignmentDeletionRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentDeletionStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DescribeInstanceAccessControlAttributeConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "StatusReason": {},
                    "InstanceAccessControlAttributeConfiguration": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DescribePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSet": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DescribePermissionSetProvisioningStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "ProvisionPermissionSetRequestId"
                ],
                "members": {
                    "InstanceArn": {},
                    "ProvisionPermissionSetRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSetProvisioningStatus": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DetachCustomerManagedPolicyReferenceFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "CustomerManagedPolicyReference"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "CustomerManagedPolicyReference": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DetachManagedPolicyFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "ManagedPolicyArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "ManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetInlinePolicyForPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InlinePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetPermissionsBoundaryForPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionsBoundary": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "ListAccountAssignmentCreationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filter": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentsCreationStatus": {
                        "shape": "S29"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "ListAccountAssignmentDeletionStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filter": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentsDeletionStatus": {
                        "shape": "S29"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "ListAccountAssignments": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "AccountId",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "AccountId": {},
                    "PermissionSetArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "PermissionSetArn": {},
                                "PrincipalType": {},
                                "PrincipalId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "ListAccountsForProvisionedPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "ProvisioningStatus": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "ListCustomerManagedPolicyReferencesInPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomerManagedPolicyReferences": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "ListInstances": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceArn": {},
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "ListManagedPoliciesInPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AttachedManagedPolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Arn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "ListPermissionSetProvisioningStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filter": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSetsProvisioningStatus": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Status": {},
                                "RequestId": {},
                                "CreatedDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
[...]
