{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-20",
        "endpointPrefix": "sso",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SSO Admin",
        "serviceFullName": "AWS Single Sign-On Admin",
        "serviceId": "SSO Admin",
        "signatureVersion": "v4",
        "signingName": "sso",
        "targetPrefix": "SWBExternalService",
        "uid": "sso-admin-2020-07-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
        ]
    },
    "operations": {
        "AttachCustomerManagedPolicyReferenceToPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "CustomerManagedPolicyReference"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "CustomerManagedPolicyReference": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "AttachManagedPolicyToPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "ManagedPolicyArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "ManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateAccountAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "TargetId",
                    "TargetType",
                    "PermissionSetArn",
                    "PrincipalType",
                    "PrincipalId"
                ],
                "members": {
                    "InstanceArn": {},
                    "TargetId": {},
                    "TargetType": {},
                    "PermissionSetArn": {},
                    "PrincipalType": {},
                    "PrincipalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentCreationStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreateInstanceAccessControlAttributeConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "InstanceAccessControlAttributeConfiguration"
                ],
                "members": {
                    "InstanceArn": {},
                    "InstanceAccessControlAttributeConfiguration": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "CreatePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "InstanceArn"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "InstanceArn": {},
                    "SessionDuration": {},
                    "RelayState": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSet": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "DeleteAccountAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "TargetId",
                    "TargetType",
                    "PermissionSetArn",
                    "PrincipalType",
                    "PrincipalId"
                ],
                "members": {
                    "InstanceArn": {},
                    "TargetId": {},
                    "TargetType": {},
                    "PermissionSetArn": {},
                    "PrincipalType": {},
                    "PrincipalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentDeletionStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "DeleteInlinePolicyFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "DeleteInstanceAccessControlAttributeConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "DeletePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "DeletePermissionsBoundaryFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "DescribeAccountAssignmentCreationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "AccountAssignmentCreationRequestId"
                ],
                "members": {
                    "InstanceArn": {},
                    "AccountAssignmentCreationRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentCreationStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "DescribeAccountAssignmentDeletionStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "AccountAssignmentDeletionRequestId"
                ],
                "members": {
                    "InstanceArn": {},
                    "AccountAssignmentDeletionRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentDeletionStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "DescribeInstanceAccessControlAttributeConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "StatusReason": {},
                    "InstanceAccessControlAttributeConfiguration": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "DescribePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSet": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "DescribePermissionSetProvisioningStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "ProvisionPermissionSetRequestId"
                ],
                "members": {
                    "InstanceArn": {},
                    "ProvisionPermissionSetRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSetProvisioningStatus": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "DetachCustomerManagedPolicyReferenceFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "CustomerManagedPolicyReference"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "CustomerManagedPolicyReference": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "DetachManagedPolicyFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "ManagedPolicyArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "ManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "GetInlinePolicyForPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InlinePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "GetPermissionsBoundaryForPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionsBoundary": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "ListAccountAssignmentCreationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filter": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentsCreationStatus": {
                        "shape": "S29"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "ListAccountAssignmentDeletionStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filter": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentsDeletionStatus": {
                        "shape": "S29"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "ListAccountAssignments": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "AccountId",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "AccountId": {},
                    "PermissionSetArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "PermissionSetArn": {},
                                "PrincipalType": {},
                                "PrincipalId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "ListAccountsForProvisionedPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "ProvisioningStatus": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "ListCustomerManagedPolicyReferencesInPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomerManagedPolicyReferences": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "ListInstances": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceArn": {},
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSBYEDRHZ2VYKX6GKHC2N7MREB3MQYFD3YYNJ6UPJUEFSGH56ZRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "ListManagedPoliciesInPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AttachedManagedPolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Arn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IQGJRDICDGSYKQP2W2Q2M3XERHQIO7SY275CWFE4G5GAS7S3X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBDBQYOXB5Q6YKFL4GXIYROMT6DRUK4GAJ52EETSUY32SHP2YMUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QD3ESEGYWJIICRVYFUJPXN4EXKEYB54GBBJW242FO7VVYJRB3O2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U55UTMZ4APEOVQCEROD5FMQ4RI6GNCJPTS4QTIDAJJDTRQOJHKNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
[...]
