{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-20",
        "endpointPrefix": "sso",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SSO Admin",
        "serviceFullName": "AWS Single Sign-On Admin",
        "serviceId": "SSO Admin",
        "signatureVersion": "v4",
        "signingName": "sso",
        "targetPrefix": "SWBExternalService",
        "uid": "sso-admin-2020-07-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
        ]
    },
    "operations": {
        "AttachCustomerManagedPolicyReferenceToPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "CustomerManagedPolicyReference"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "CustomerManagedPolicyReference": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "AttachManagedPolicyToPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "ManagedPolicyArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "ManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateAccountAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "TargetId",
                    "TargetType",
                    "PermissionSetArn",
                    "PrincipalType",
                    "PrincipalId"
                ],
                "members": {
                    "InstanceArn": {},
                    "TargetId": {},
                    "TargetType": {},
                    "PermissionSetArn": {},
                    "PrincipalType": {},
                    "PrincipalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentCreationStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateInstanceAccessControlAttributeConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "InstanceAccessControlAttributeConfiguration"
                ],
                "members": {
                    "InstanceArn": {},
                    "InstanceAccessControlAttributeConfiguration": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreatePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "InstanceArn"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "InstanceArn": {},
                    "SessionDuration": {},
                    "RelayState": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSet": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteAccountAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "TargetId",
                    "TargetType",
                    "PermissionSetArn",
                    "PrincipalType",
                    "PrincipalId"
                ],
                "members": {
                    "InstanceArn": {},
                    "TargetId": {},
                    "TargetType": {},
                    "PermissionSetArn": {},
                    "PrincipalType": {},
                    "PrincipalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentDeletionStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteInlinePolicyFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteInstanceAccessControlAttributeConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeletePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeletePermissionsBoundaryFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeAccountAssignmentCreationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "AccountAssignmentCreationRequestId"
                ],
                "members": {
                    "InstanceArn": {},
                    "AccountAssignmentCreationRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentCreationStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeAccountAssignmentDeletionStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "AccountAssignmentDeletionRequestId"
                ],
                "members": {
                    "InstanceArn": {},
                    "AccountAssignmentDeletionRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentDeletionStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeInstanceAccessControlAttributeConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "StatusReason": {},
                    "InstanceAccessControlAttributeConfiguration": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSet": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribePermissionSetProvisioningStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "ProvisionPermissionSetRequestId"
                ],
                "members": {
                    "InstanceArn": {},
                    "ProvisionPermissionSetRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSetProvisioningStatus": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DetachCustomerManagedPolicyReferenceFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "CustomerManagedPolicyReference"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "CustomerManagedPolicyReference": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DetachManagedPolicyFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "ManagedPolicyArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "ManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "GetInlinePolicyForPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InlinePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "GetPermissionsBoundaryForPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionsBoundary": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "ListAccountAssignmentCreationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filter": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentsCreationStatus": {
                        "shape": "S29"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "ListAccountAssignmentDeletionStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filter": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentsDeletionStatus": {
                        "shape": "S29"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "ListAccountAssignments": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "AccountId",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "AccountId": {},
                    "PermissionSetArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "PermissionSetArn": {},
                                "PrincipalType": {},
                                "PrincipalId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "ListAccountsForProvisionedPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "ProvisioningStatus": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "ListCustomerManagedPolicyReferencesInPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomerManagedPolicyReferences": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RTCHF56VPFFTQ4ECFSQ6THBWABEZH5YBO32OVVAUOOZT2R3DTQ2A/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74NRLGKF5ZSBF7O6NL633NV4VVVUBOP6UZQ4VL6PO5NXZ2GEWTBA/2213e92a64a8278d3084.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "ListInstances": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceArn": {},
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RL5GOLQSZM5PWP5XRTCN2NRFEC7VD4YIIK23R2AHRR4IWN43XFA/54efd4cc0187f6f0b9df.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
[...]
