{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-20",
        "endpointPrefix": "sso",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SSO Admin",
        "serviceFullName": "AWS Single Sign-On Admin",
        "serviceId": "SSO Admin",
        "signatureVersion": "v4",
        "signingName": "sso",
        "targetPrefix": "SWBExternalService",
        "uid": "sso-admin-2020-07-20",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
        ]
    },
    "operations": {
        "AttachCustomerManagedPolicyReferenceToPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "CustomerManagedPolicyReference"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "CustomerManagedPolicyReference": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "AttachManagedPolicyToPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "ManagedPolicyArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "ManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "CreateAccountAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "TargetId",
                    "TargetType",
                    "PermissionSetArn",
                    "PrincipalType",
                    "PrincipalId"
                ],
                "members": {
                    "InstanceArn": {},
                    "TargetId": {},
                    "TargetType": {},
                    "PermissionSetArn": {},
                    "PrincipalType": {},
                    "PrincipalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentCreationStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "CreateInstanceAccessControlAttributeConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "InstanceAccessControlAttributeConfiguration"
                ],
                "members": {
                    "InstanceArn": {},
                    "InstanceAccessControlAttributeConfiguration": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "CreatePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "InstanceArn"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "InstanceArn": {},
                    "SessionDuration": {},
                    "RelayState": {},
                    "Tags": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSet": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "DeleteAccountAssignment": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "TargetId",
                    "TargetType",
                    "PermissionSetArn",
                    "PrincipalType",
                    "PrincipalId"
                ],
                "members": {
                    "InstanceArn": {},
                    "TargetId": {},
                    "TargetType": {},
                    "PermissionSetArn": {},
                    "PrincipalType": {},
                    "PrincipalId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentDeletionStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "DeleteInlinePolicyFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "DeleteInstanceAccessControlAttributeConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "DeletePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "DeletePermissionsBoundaryFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DescribeAccountAssignmentCreationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "AccountAssignmentCreationRequestId"
                ],
                "members": {
                    "InstanceArn": {},
                    "AccountAssignmentCreationRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentCreationStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "DescribeAccountAssignmentDeletionStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "AccountAssignmentDeletionRequestId"
                ],
                "members": {
                    "InstanceArn": {},
                    "AccountAssignmentDeletionRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentDeletionStatus": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "DescribeInstanceAccessControlAttributeConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {},
                    "StatusReason": {},
                    "InstanceAccessControlAttributeConfiguration": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "DescribePermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSet": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "DescribePermissionSetProvisioningStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "ProvisionPermissionSetRequestId"
                ],
                "members": {
                    "InstanceArn": {},
                    "ProvisionPermissionSetRequestId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSetProvisioningStatus": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "DetachCustomerManagedPolicyReferenceFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "CustomerManagedPolicyReference"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "CustomerManagedPolicyReference": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "DetachManagedPolicyFromPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn",
                    "ManagedPolicyArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "ManagedPolicyArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "GetInlinePolicyForPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InlinePolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "GetPermissionsBoundaryForPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionsBoundary": {
                        "shape": "S23"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "ListAccountAssignmentCreationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filter": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentsCreationStatus": {
                        "shape": "S29"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "ListAccountAssignmentDeletionStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Filter": {
                        "shape": "S27"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignmentsDeletionStatus": {
                        "shape": "S29"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "ListAccountAssignments": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "AccountId",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "AccountId": {},
                    "PermissionSetArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountAssignments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "PermissionSetArn": {},
                                "PrincipalType": {},
                                "PrincipalId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "ListAccountsForProvisionedPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "ProvisioningStatus": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "ListCustomerManagedPolicyReferencesInPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CustomerManagedPolicyReferences": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3ETP2WR3JQKH6QXKH4HZCTFYI5IM5O2SRZDQ4I4ZKLNQOPIBLLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js"
            ]
        },
        "ListInstances": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Instances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "InstanceArn": {},
                                "IdentityStoreId": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZZTVCT7W6B63ZJCAFVUR5SO5YIYYODJU3SN3CWKMDUFAVQVSR7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J46Z4D4K2LM5ZHWOO5JW7L4C2WBO7X6VKM6JHV66KIYS2EXFV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "ListManagedPoliciesInPermissionSet": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "PermissionSetArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "PermissionSetArn": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AttachedManagedPolicies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Arn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLQPJW5G5NVILV5FP5RYSRWDVWIVWHRP7ANDLQCBX5TEAZLDZA2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/355P3RQ63T2CIFLKSFK2BOZX56C5WKE3VIWG4LGFMPSC4VX4B2WQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLD4BM4UNPAOKULNNLF6LHPJCDQHXVWL3XJZQKLGLVRKN5IIPDIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB2FLL66NDHNBPTQCBYUBFNHVNLBENY5TPV5CGQ4LQINNVGX7TIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
[...]
