{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-25",
        "endpointPrefix": "ssoadmin",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SSOAdmin",
        "serviceFullName": "AWS Single Sign-On Admin",
        "serviceId": "SSO Admin",
        "signatureVersion": "v4",
        "targetPrefix": "SWBAdminService",
        "uid": "SSOAdmin-2017-10-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
        ]
    },
    "operations": {
        "CompleteTrustPolicyBackfill": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "CallbackState"
                ],
                "members": {
                    "InstanceArn": {},
                    "CallbackState": {},
                    "CallbackStateReason": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "DescribeDirectories": {
            "input": {
                "type": "structure",
                "members": {
                    "directoryIds": {
                        "type": "list",
                        "member": {}
                    },
                    "marker": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directoryDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "Name": {},
                                "Type": {}
                            }
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "DescribeTrusts": {
            "input": {
                "type": "structure",
                "members": {
                    "directoryId": {},
                    "marker": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "trusts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "TrustId": {},
                                "RemoteDomainName": {},
                                "TrustType": {},
                                "TrustDirection": {},
                                "TrustState": {}
                            }
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "GetApplicationInstanceIdentityStoreId": {
            "input": {
                "type": "structure",
                "required": [
                    "clientId",
                    "instanceArn"
                ],
                "members": {
                    "clientId": {},
                    "instanceArn": {},
                    "applicationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "identityStoreId"
                ],
                "members": {
                    "identityStoreId": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "ListAssignedAccessors": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "directoryId",
                    "directoryType"
                ],
                "members": {
                    "accountId": {},
                    "directoryId": {},
                    "directoryType": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assignedAccessors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "type",
                                "directoryType",
                                "directoryId"
                            ],
                            "members": {
                                "id": {},
                                "ssoGuid": {},
                                "softDeleted": {},
                                "type": {},
                                "display": {
                                    "type": "structure",
                                    "members": {
                                        "userName": {
                                            "shape": "S13"
                                        },
                                        "groupName": {
                                            "shape": "S13"
                                        },
                                        "identifiedUserName": {
                                            "shape": "S13"
                                        },
                                        "firstName": {
                                            "shape": "S13"
                                        },
                                        "lastName": {
                                            "shape": "S13"
                                        },
                                        "windowsUpn": {
                                            "shape": "S14"
                                        }
                                    }
                                },
                                "directoryType": {},
                                "directoryId": {},
                                "normalizedId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "ListDirectoryAssociationsPrivate": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "directoryAssociations"
                ],
                "members": {
                    "directoryAssociations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "directoryId",
                                "directoryType",
                                "status"
                            ],
                            "members": {
                                "directoryId": {},
                                "directoryType": {},
                                "directoryAlias": {},
                                "status": {},
                                "attributeMapping": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "structure",
                                        "required": [
                                            "source"
                                        ],
                                        "members": {
                                            "transforms": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "source": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                },
                                "authenticationType": {},
                                "provisioningTypes": {
                                    "type": "list",
                                    "member": {}
                                },
                                "instanceArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "ListPermissionSetsPrivate": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSets": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "ResetAccessControlAttributesConfig": {
            "input": {
                "type": "structure",
                "members": {
                    "forceAssumeRolePolicyReset": {
                        "type": "boolean"
                    },
                    "targetAccountId": {},
                    "permissionsSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "ResetSharing": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "SearchDirectoryGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryType",
                    "directoryId",
                    "searchString",
                    "realm"
                ],
                "members": {
                    "directoryType": {},
                    "directoryId": {},
                    "searchString": {
                        "shape": "S24"
                    },
                    "realm": {},
                    "marker": {},
                    "searchAttributes": {
                        "shape": "S26"
                    },
                    "groupAttributes": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "groups"
                ],
                "members": {
                    "groups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "groupId",
                                "groupName",
                                "directoryId",
                                "realm"
                            ],
                            "members": {
                                "groupId": {},
                                "groupName": {
                                    "shape": "S13"
                                },
                                "windowsUpn": {
                                    "shape": "S14"
                                },
                                "directoryId": {},
                                "realm": {}
                            }
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "SearchDirectoryUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryType",
                    "directoryId",
                    "searchString",
                    "realm"
                ],
                "members": {
                    "directoryType": {},
                    "directoryId": {},
                    "searchString": {
                        "shape": "S24"
                    },
                    "realm": {},
                    "marker": {},
                    "searchAttributes": {
                        "shape": "S26"
                    },
                    "userAttributes": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "users"
                ],
                "members": {
                    "users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userId",
                                "userName",
                                "directoryId",
                                "realm"
                            ],
                            "members": {
                                "userId": {},
                                "guid": {},
                                "userName": {
                                    "shape": "S13"
                                },
                                "firstName": {
                                    "shape": "S13"
                                },
                                "lastName": {
                                    "shape": "S13"
                                },
                                "windowsUpn": {
                                    "shape": "S14"
                                },
                                "directoryId": {},
                                "realm": {}
                            }
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "SendRegionOptTestEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "regionName",
                    "optinRegionState"
                ],
                "members": {
                    "regionName": {},
                    "optinRegionState": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "SendRegionOptTestEventToRegionalQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "optinRegionState"
                ],
                "members": {
                    "optinRegionState": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "ValidateServiceLinkedRolePropagation": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId",
                    "trialCount"
                ],
                "members": {
                    "awsAccountId": {},
                    "trialCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "propagated",
                    "assumeSLRTrialsPassed",
                    "useSLRTrialsPassed"
                ],
                "members": {
                    "propagated": {
                        "type": "boolean"
                    },
                    "assumeSLRTrialsPassed": {
                        "type": "integer"
                    },
                    "useSLRTrialsPassed": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698087464229/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698184275012/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698415238617/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698689647580/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1698780197037/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699060583849/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699383093576/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699471232626/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699481304485/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1699659733903/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700000962931/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700086159788/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js"
            ]
        }
    },
    "shapes": {
        "S13": {
            "type": "string",
            "sensitive": true
        },
        "S14": {
            "type": "string",
            "sensitive": true
        },
        "S24": {
            "type": "string",
            "sensitive": true
        },
        "S26": {
            "type": "list",
            "member": {}
        }
    }
}