{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-25",
        "endpointPrefix": "ssoadmin",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SSOAdmin",
        "serviceFullName": "AWS Single Sign-On Admin",
        "serviceId": "SSO Admin",
        "signatureVersion": "v4",
        "targetPrefix": "SWBAdminService",
        "uid": "SSOAdmin-2017-10-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
        ]
    },
    "operations": {
        "CompleteTrustPolicyBackfill": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "CallbackState"
                ],
                "members": {
                    "InstanceArn": {},
                    "CallbackState": {},
                    "CallbackStateReason": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "DescribeDirectories": {
            "input": {
                "type": "structure",
                "members": {
                    "directoryIds": {
                        "type": "list",
                        "member": {}
                    },
                    "marker": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directoryDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "Name": {},
                                "Type": {}
                            }
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "DescribeTrusts": {
            "input": {
                "type": "structure",
                "members": {
                    "directoryId": {},
                    "marker": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "trusts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "TrustId": {},
                                "RemoteDomainName": {},
                                "TrustType": {},
                                "TrustDirection": {},
                                "TrustState": {}
                            }
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "GetApplicationInstanceIdentityStoreId": {
            "input": {
                "type": "structure",
                "required": [
                    "clientId",
                    "instanceArn"
                ],
                "members": {
                    "clientId": {},
                    "instanceArn": {},
                    "applicationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "identityStoreId"
                ],
                "members": {
                    "identityStoreId": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "ListAssignedAccessors": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "directoryId",
                    "directoryType"
                ],
                "members": {
                    "accountId": {},
                    "directoryId": {},
                    "directoryType": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assignedAccessors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "type",
                                "directoryType",
                                "directoryId"
                            ],
                            "members": {
                                "id": {},
                                "ssoGuid": {},
                                "softDeleted": {},
                                "type": {},
                                "display": {
                                    "type": "structure",
                                    "members": {
                                        "userName": {
                                            "shape": "S13"
                                        },
                                        "groupName": {
                                            "shape": "S13"
                                        },
                                        "identifiedUserName": {
                                            "shape": "S13"
                                        },
                                        "firstName": {
                                            "shape": "S13"
                                        },
                                        "lastName": {
                                            "shape": "S13"
                                        },
                                        "windowsUpn": {
                                            "shape": "S14"
                                        }
                                    }
                                },
                                "directoryType": {},
                                "directoryId": {},
                                "normalizedId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "ListDirectoryAssociationsPrivate": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "directoryAssociations"
                ],
                "members": {
                    "directoryAssociations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "directoryId",
                                "directoryType",
                                "status"
                            ],
                            "members": {
                                "directoryId": {},
                                "directoryType": {},
                                "directoryAlias": {},
                                "status": {},
                                "attributeMapping": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "structure",
                                        "required": [
                                            "source"
                                        ],
                                        "members": {
                                            "transforms": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "source": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                },
                                "authenticationType": {},
                                "provisioningTypes": {
                                    "type": "list",
                                    "member": {}
                                },
                                "instanceArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "ListPermissionSetsPrivate": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSets": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "ResetAccessControlAttributesConfig": {
            "input": {
                "type": "structure",
                "members": {
                    "forceAssumeRolePolicyReset": {
                        "type": "boolean"
                    },
                    "targetAccountId": {},
                    "permissionsSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "ResetSharing": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "SearchDirectoryGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryType",
                    "directoryId",
                    "searchString",
                    "realm"
                ],
                "members": {
                    "directoryType": {},
                    "directoryId": {},
                    "searchString": {
                        "shape": "S24"
                    },
                    "realm": {},
                    "marker": {},
                    "searchAttributes": {
                        "shape": "S26"
                    },
                    "groupAttributes": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "groups"
                ],
                "members": {
                    "groups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "groupId",
                                "groupName",
                                "directoryId",
                                "realm"
                            ],
                            "members": {
                                "groupId": {},
                                "groupName": {
                                    "shape": "S13"
                                },
                                "windowsUpn": {
                                    "shape": "S14"
                                },
                                "directoryId": {},
                                "realm": {}
                            }
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "SearchDirectoryUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryType",
                    "directoryId",
                    "searchString",
                    "realm"
                ],
                "members": {
                    "directoryType": {},
                    "directoryId": {},
                    "searchString": {
                        "shape": "S24"
                    },
                    "realm": {},
                    "marker": {},
                    "searchAttributes": {
                        "shape": "S26"
                    },
                    "userAttributes": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "users"
                ],
                "members": {
                    "users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userId",
                                "userName",
                                "directoryId",
                                "realm"
                            ],
                            "members": {
                                "userId": {},
                                "guid": {},
                                "userName": {
                                    "shape": "S13"
                                },
                                "firstName": {
                                    "shape": "S13"
                                },
                                "lastName": {
                                    "shape": "S13"
                                },
                                "windowsUpn": {
                                    "shape": "S14"
                                },
                                "directoryId": {},
                                "realm": {}
                            }
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "SendRegionOptTestEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "regionName",
                    "optinRegionState"
                ],
                "members": {
                    "regionName": {},
                    "optinRegionState": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "SendRegionOptTestEventToRegionalQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "optinRegionState"
                ],
                "members": {
                    "optinRegionState": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "ValidateServiceLinkedRolePropagation": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId",
                    "trialCount"
                ],
                "members": {
                    "awsAccountId": {},
                    "trialCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "propagated",
                    "assumeSLRTrialsPassed",
                    "useSLRTrialsPassed"
                ],
                "members": {
                    "propagated": {
                        "type": "boolean"
                    },
                    "assumeSLRTrialsPassed": {
                        "type": "integer"
                    },
                    "useSLRTrialsPassed": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://d3gz1r5kdm6nwl.cloudfront.net/1712978873068/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713222764917/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713393762689/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js"
            ]
        }
    },
    "shapes": {
        "S13": {
            "type": "string",
            "sensitive": true
        },
        "S14": {
            "type": "string",
            "sensitive": true
        },
        "S24": {
            "type": "string",
            "sensitive": true
        },
        "S26": {
            "type": "list",
            "member": {}
        }
    }
}