{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-25",
        "endpointPrefix": "ssoadmin",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SSOAdmin",
        "serviceFullName": "AWS Single Sign-On Admin",
        "serviceId": "SSO Admin",
        "signatureVersion": "v4",
        "targetPrefix": "SWBAdminService",
        "uid": "SSOAdmin-2017-10-25",
        "download_location": [
            "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
            "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
        ]
    },
    "operations": {
        "CompleteTrustPolicyBackfill": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn",
                    "CallbackState"
                ],
                "members": {
                    "InstanceArn": {},
                    "CallbackState": {},
                    "CallbackStateReason": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DescribeDirectories": {
            "input": {
                "type": "structure",
                "members": {
                    "directoryIds": {
                        "type": "list",
                        "member": {}
                    },
                    "marker": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "directoryDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "Name": {},
                                "Type": {}
                            }
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "DescribeTrusts": {
            "input": {
                "type": "structure",
                "members": {
                    "directoryId": {},
                    "marker": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "trusts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "TrustId": {},
                                "RemoteDomainName": {},
                                "TrustType": {},
                                "TrustDirection": {},
                                "TrustState": {}
                            }
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "GetApplicationInstanceIdentityStoreId": {
            "input": {
                "type": "structure",
                "required": [
                    "clientId",
                    "instanceArn"
                ],
                "members": {
                    "clientId": {},
                    "instanceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "identityStoreId"
                ],
                "members": {
                    "identityStoreId": {}
                }
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ListAssignedAccessors": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "directoryId",
                    "directoryType"
                ],
                "members": {
                    "accountId": {},
                    "directoryId": {},
                    "directoryType": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assignedAccessors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "type",
                                "directoryType",
                                "directoryId"
                            ],
                            "members": {
                                "id": {},
                                "ssoGuid": {},
                                "softDeleted": {},
                                "type": {},
                                "display": {
                                    "type": "structure",
                                    "members": {
                                        "userName": {
                                            "shape": "S13"
                                        },
                                        "groupName": {
                                            "shape": "S13"
                                        },
                                        "identifiedUserName": {
                                            "shape": "S13"
                                        },
                                        "firstName": {
                                            "shape": "S13"
                                        },
                                        "lastName": {
                                            "shape": "S13"
                                        },
                                        "windowsUpn": {
                                            "shape": "S14"
                                        }
                                    }
                                },
                                "directoryType": {},
                                "directoryId": {},
                                "normalizedId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ListDirectoryAssociationsPrivate": {
            "input": {
                "type": "structure",
                "required": [
                    "accountId"
                ],
                "members": {
                    "accountId": {},
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "directoryAssociations"
                ],
                "members": {
                    "directoryAssociations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "directoryId",
                                "directoryType",
                                "status"
                            ],
                            "members": {
                                "directoryId": {},
                                "directoryType": {},
                                "directoryAlias": {},
                                "status": {},
                                "attributeMapping": {
                                    "type": "map",
                                    "key": {},
                                    "value": {
                                        "type": "structure",
                                        "required": [
                                            "source"
                                        ],
                                        "members": {
                                            "transforms": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "source": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                },
                                "authenticationType": {},
                                "provisioningTypes": {
                                    "type": "list",
                                    "member": {}
                                },
                                "instanceArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ListPermissionSetsPrivate": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceArn"
                ],
                "members": {
                    "InstanceArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PermissionSets": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ResetAccessControlAttributesConfig": {
            "input": {
                "type": "structure",
                "members": {
                    "forceAssumeRolePolicyReset": {
                        "type": "boolean"
                    },
                    "targetAccountId": {},
                    "permissionsSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ResetSharing": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "SearchDirectoryGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryType",
                    "directoryId",
                    "searchString",
                    "realm"
                ],
                "members": {
                    "directoryType": {},
                    "directoryId": {},
                    "searchString": {
                        "shape": "S24"
                    },
                    "realm": {},
                    "marker": {},
                    "searchAttributes": {
                        "shape": "S26"
                    },
                    "groupAttributes": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "groups"
                ],
                "members": {
                    "groups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "groupId",
                                "groupName",
                                "directoryId",
                                "realm"
                            ],
                            "members": {
                                "groupId": {},
                                "groupName": {
                                    "shape": "S13"
                                },
                                "windowsUpn": {
                                    "shape": "S14"
                                },
                                "directoryId": {},
                                "realm": {}
                            }
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "SearchDirectoryUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "directoryType",
                    "directoryId",
                    "searchString",
                    "realm"
                ],
                "members": {
                    "directoryType": {},
                    "directoryId": {},
                    "searchString": {
                        "shape": "S24"
                    },
                    "realm": {},
                    "marker": {},
                    "searchAttributes": {
                        "shape": "S26"
                    },
                    "userAttributes": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "users"
                ],
                "members": {
                    "users": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "userId",
                                "userName",
                                "directoryId",
                                "realm"
                            ],
                            "members": {
                                "userId": {},
                                "guid": {},
                                "userName": {
                                    "shape": "S13"
                                },
                                "firstName": {
                                    "shape": "S13"
                                },
                                "lastName": {
                                    "shape": "S13"
                                },
                                "windowsUpn": {
                                    "shape": "S14"
                                },
                                "directoryId": {},
                                "realm": {}
                            }
                        }
                    },
                    "marker": {}
                }
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "SendRegionOptTestEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "regionName",
                    "optinRegionState"
                ],
                "members": {
                    "regionName": {},
                    "optinRegionState": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "SendRegionOptTestEventToRegionalQueue": {
            "input": {
                "type": "structure",
                "required": [
                    "optinRegionState"
                ],
                "members": {
                    "optinRegionState": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "ValidateServiceLinkedRolePropagation": {
            "input": {
                "type": "structure",
                "required": [
                    "awsAccountId",
                    "trialCount"
                ],
                "members": {
                    "awsAccountId": {},
                    "trialCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "propagated",
                    "assumeSLRTrialsPassed",
                    "useSLRTrialsPassed"
                ],
                "members": {
                    "propagated": {
                        "type": "boolean"
                    },
                    "assumeSLRTrialsPassed": {
                        "type": "integer"
                    },
                    "useSLRTrialsPassed": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_8782f1369050cabdfceafa532d7351f6919f2c23.gz.js",
                "https://d2vrh8t1ao8du6.cloudfront.net/js/iot_mindep_Prod_f44c161fad96ef085d287341fb74d46e42985627.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDESLM6DHDWNQ4Y6SZN42DT76AYY2RKAAZ5SSXZ6K37CQ47KIEXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1685638235307/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2OFCHLVLPMHMHQS6LQMY326IVYRC65CWX2ZSQYTBKBLGZ5I2WVA/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js"
            ]
        }
    },
    "shapes": {
        "S13": {
            "type": "string",
            "sensitive": true
        },
        "S14": {
            "type": "string",
            "sensitive": true
        },
        "S24": {
            "type": "string",
            "sensitive": true
        },
        "S26": {
            "type": "list",
            "member": {}
        }
    }
}