{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-09-06",
        "endpointPrefix": "madison-stark",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "madison-stark",
        "serviceId": "Stark",
        "signatureVersion": "v4",
        "signingName": "madison-stark",
        "uid": "stark-2023-09-06",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
        ]
    },
    "operations": {
        "CreateAudienceModel": {
            "http": {
                "requestUri": "/audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDataStartTime": {
                        "shape": "S2"
                    },
                    "trainingDataEndTime": {
                        "shape": "S2"
                    },
                    "name": {},
                    "trainingDatasetArn": {},
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "CreateConfiguredAudienceModel": {
            "http": {
                "requestUri": "/configured-audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "audienceModelArn",
                    "outputConfig",
                    "sharedAudienceMetrics"
                ],
                "members": {
                    "name": {},
                    "audienceModelArn": {},
                    "outputConfig": {
                        "shape": "Sd"
                    },
                    "description": {},
                    "sharedAudienceMetrics": {
                        "shape": "Si"
                    },
                    "minimumSeedSize": {
                        "type": "integer"
                    },
                    "audienceSizeConfig": {
                        "shape": "Sl"
                    },
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "CreateTrainingDataset": {
            "http": {
                "requestUri": "/training-dataset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArn",
                    "trainingData"
                ],
                "members": {
                    "name": {},
                    "roleArn": {},
                    "trainingData": {
                        "type": "list",
                        "member": {
                            "shape": "St"
                        }
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "DeleteAudienceGenerationJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/audience-generation-job/{audienceGenerationJobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobArn"
                ],
                "members": {
                    "audienceGenerationJobArn": {
                        "location": "uri",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "DeleteAudienceModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/audience-model/{audienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {
                        "location": "uri",
                        "locationName": "audienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "DeleteConfiguredAudienceModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "DeleteConfiguredAudienceModelPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "DeleteTrainingDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/training-dataset/{trainingDatasetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {
                        "location": "uri",
                        "locationName": "trainingDatasetArn"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "GetAudienceGenerationJob": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-generation-job/{audienceGenerationJobArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobArn"
                ],
                "members": {
                    "audienceGenerationJobArn": {
                        "location": "uri",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "configuredAudienceModelArn",
                    "seedAudience",
                    "createTime",
                    "updateTime",
                    "audienceGenerationJobArn",
                    "status"
                ],
                "members": {
                    "name": {},
                    "configuredAudienceModelArn": {},
                    "collaborationId": {},
                    "description": {},
                    "seedAudience": {
                        "shape": "S1f"
                    },
                    "includeSeedInOutput": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "audienceGenerationJobArn": {},
                    "status": {},
                    "statusDetails": {
                        "shape": "S1i"
                    },
                    "metrics": {
                        "type": "structure",
                        "required": [
                            "relevanceMetrics"
                        ],
                        "members": {
                            "relevanceMetrics": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "audienceSize"
                                    ],
                                    "members": {
                                        "audienceSize": {
                                            "shape": "S1m"
                                        },
                                        "score": {
                                            "type": "double"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "startedBy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "GetAudienceModel": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-model/{audienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "audienceModelArn"
                ],
                "members": {
                    "audienceModelArn": {
                        "location": "uri",
                        "locationName": "audienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "audienceModelArn",
                    "name",
                    "trainingDatasetArn",
                    "status"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "trainingDataStartTime": {
                        "shape": "S2"
                    },
                    "trainingDataEndTime": {
                        "shape": "S2"
                    },
                    "audienceModelArn": {},
                    "name": {},
                    "trainingDatasetArn": {},
                    "status": {},
                    "statusDetails": {
                        "shape": "S1i"
                    },
                    "metrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "type",
                                "forTopKItemPredictions",
                                "value"
                            ],
                            "members": {
                                "type": {},
                                "forTopKItemPredictions": {
                                    "type": "integer"
                                },
                                "value": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "GetConfiguredAudienceModel": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "name",
                    "audienceModelArn",
                    "outputConfig",
                    "sharedAudienceMetrics",
                    "createTime",
                    "updateTime",
                    "configuredAudienceModelArn",
                    "status"
                ],
                "members": {
                    "name": {},
                    "audienceModelArn": {},
                    "outputConfig": {
                        "shape": "Sd"
                    },
                    "description": {},
                    "sharedAudienceMetrics": {
                        "shape": "Si"
                    },
                    "minimumSeedSize": {
                        "type": "integer"
                    },
                    "audienceSizeConfig": {
                        "shape": "Sl"
                    },
                    "tags": {
                        "shape": "S6"
                    },
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "configuredAudienceModelArn": {},
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "GetConfiguredAudienceModelPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn",
                    "configuredAudienceModelPolicy",
                    "policyHash"
                ],
                "members": {
                    "configuredAudienceModelArn": {},
                    "configuredAudienceModelPolicy": {},
                    "policyHash": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "GetTrainingDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/training-dataset/{trainingDatasetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trainingDatasetArn"
                ],
                "members": {
                    "trainingDatasetArn": {
                        "location": "uri",
                        "locationName": "trainingDatasetArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "createTime",
                    "updateTime",
                    "trainingDatasetArn",
                    "name",
                    "trainingData",
                    "status"
                ],
                "members": {
                    "createTime": {
                        "shape": "S2"
                    },
                    "updateTime": {
                        "shape": "S2"
                    },
                    "trainingDatasetArn": {},
                    "name": {},
                    "trainingData": {
                        "type": "list",
                        "member": {
                            "shape": "St"
                        }
                    },
                    "status": {},
                    "tags": {
                        "shape": "S6"
                    },
                    "description": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "ListAudienceExportJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-export-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "audienceGenerationJobArn": {
                        "location": "querystring",
                        "locationName": "audienceGenerationJobArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceExportJobs"
                ],
                "members": {
                    "nextToken": {},
                    "audienceExportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "audienceGenerationJobArn",
                                "audienceSize",
                                "createTime",
                                "updateTime",
                                "status"
                            ],
                            "members": {
                                "name": {},
                                "audienceGenerationJobArn": {},
                                "audienceSize": {
                                    "shape": "S1m"
                                },
                                "description": {},
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "ListAudienceGenerationJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-generation-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "configuredAudienceModelArn": {
                        "location": "querystring",
                        "locationName": "configuredAudienceModelArn"
                    },
                    "collaborationId": {
                        "location": "querystring",
                        "locationName": "collaborationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobs"
                ],
                "members": {
                    "nextToken": {},
                    "audienceGenerationJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "configuredAudienceModelArn",
                                "createTime",
                                "updateTime",
                                "audienceGenerationJobArn",
                                "status"
                            ],
                            "members": {
                                "name": {},
                                "configuredAudienceModelArn": {},
                                "collaborationId": {},
                                "description": {},
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "audienceGenerationJobArn": {},
                                "status": {},
                                "startedBy": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "ListAudienceModels": {
            "http": {
                "method": "GET",
                "requestUri": "/audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceModels"
                ],
                "members": {
                    "nextToken": {},
                    "audienceModels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "audienceModelArn",
                                "name",
                                "trainingDatasetArn",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "audienceModelArn": {},
                                "name": {},
                                "trainingDatasetArn": {},
                                "status": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "ListConfiguredAudienceModels": {
            "http": {
                "method": "GET",
                "requestUri": "/configured-audience-model",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModels"
                ],
                "members": {
                    "nextToken": {},
                    "configuredAudienceModels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "audienceModelArn",
                                "outputConfig",
                                "createTime",
                                "updateTime",
                                "configuredAudienceModelArn",
                                "status"
                            ],
                            "members": {
                                "name": {},
                                "audienceModelArn": {},
                                "outputConfig": {
                                    "shape": "Sd"
                                },
                                "description": {},
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "configuredAudienceModelArn": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "ListTrainingDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/training-dataset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trainingDatasets"
                ],
                "members": {
                    "nextToken": {},
                    "trainingDatasets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "createTime",
                                "updateTime",
                                "trainingDatasetArn",
                                "name",
                                "status"
                            ],
                            "members": {
                                "createTime": {
                                    "shape": "S2"
                                },
                                "updateTime": {
                                    "shape": "S2"
                                },
                                "trainingDatasetArn": {},
                                "name": {},
                                "status": {},
                                "description": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "PutConfiguredAudienceModelPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}/policy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn",
                    "configuredAudienceModelPolicy"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    },
                    "configuredAudienceModelPolicy": {},
                    "previousPolicyHash": {},
                    "policyExistenceCondition": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelPolicy",
                    "policyHash"
                ],
                "members": {
                    "configuredAudienceModelPolicy": {},
                    "policyHash": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "StartAudienceExportJob": {
            "http": {
                "requestUri": "/audience-export-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "audienceGenerationJobArn",
                    "audienceSize"
                ],
                "members": {
                    "name": {},
                    "audienceGenerationJobArn": {},
                    "audienceSize": {
                        "shape": "S1m"
                    },
                    "description": {},
                    "outputLocation": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "StartAudienceGenerationJob": {
            "http": {
                "requestUri": "/audience-generation-job",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "configuredAudienceModelArn",
                    "seedAudience"
                ],
                "members": {
                    "name": {},
                    "configuredAudienceModelArn": {},
                    "collaborationId": {},
                    "description": {},
                    "seedAudience": {
                        "shape": "S1f"
                    },
                    "includeSeedInOutput": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audienceGenerationJobArn"
                ],
                "members": {
                    "audienceGenerationJobArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        },
        "UpdateConfiguredAudienceModel": {
            "http": {
                "method": "PATCH",
                "requestUri": "/configured-audience-model/{configuredAudienceModelArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {
                        "location": "uri",
                        "locationName": "configuredAudienceModelArn"
                    },
                    "outputConfig": {
                        "shape": "Sd"
                    },
                    "audienceModelArn": {},
                    "sharedAudienceMetrics": {
                        "shape": "Si"
                    },
                    "minimumSeedSize": {
                        "type": "integer"
                    },
                    "audienceSizeConfig": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "configuredAudienceModelArn"
                ],
                "members": {
                    "configuredAudienceModelArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/65475PWQXWAERZ2KOOVZP7V33ZN25LTOTGUDAXRIJMP6BVJGVFBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2HYUQB7YINQBQCK5E3GFDGCUS5A5DZR6H7ESYF6BQCQS52WWSPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6VCQZHTIPGDJT7LKY226X4PBWXVLRHFEHOHY6AN3LFPZZNJRG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA7VDK34XXEXYWF5XYEHTPVSI7WGJ3SN2XKMQNJXF7GSHULFQDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIR5POCCRQA53G5D5TBCGX6CBW52NIY3WZKKHQ6EU7GT2XAFHNSQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S6": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sd": {
            "type": "structure",
            "required": [
                "destination",
                "roleArn"
            ],
            "members": {
                "destination": {
                    "type": "structure",
                    "required": [
                        "s3Destination"
                    ],
                    "members": {
                        "s3Destination": {
                            "shape": "Sf"
                        }
                    }
                },
                "roleArn": {}
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "s3Uri"
            ],
            "members": {
                "s3Uri": {}
            }
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "Sl": {
            "type": "structure",
            "required": [
                "audienceSizeType",
                "audienceSizeBins"
            ],
            "members": {
                "audienceSizeType": {},
                "audienceSizeBins": {
                    "type": "list",
                    "member": {
                        "type": "integer"
                    }
                }
            }
        },
        "St": {
            "type": "structure",
            "required": [
                "type",
                "inputConfig"
            ],
            "members": {
                "type": {},
                "inputConfig": {
                    "type": "structure",
                    "required": [
                        "schema",
                        "dataSource"
                    ],
                    "members": {
                        "schema": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "columnName",
                                    "columnTypes"
                                ],
                                "members": {
                                    "columnName": {},
                                    "columnTypes": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            }
                        },
                        "dataSource": {
                            "type": "structure",
                            "required": [
                                "glueDataSource"
                            ],
                            "members": {
                                "glueDataSource": {
                                    "type": "structure",
                                    "required": [
                                        "tableName",
                                        "databaseName"
                                    ],
                                    "members": {
                                        "tableName": {},
                                        "databaseName": {},
                                        "catalogId": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S1f": {
            "type": "structure",
            "required": [
                "dataSource",
                "roleArn"
            ],
            "members": {
                "dataSource": {
                    "shape": "Sf"
                },
                "roleArn": {}
            }
        },
        "S1i": {
            "type": "structure",
            "members": {
                "statusCode": {},
                "message": {}
            }
        },
        "S1m": {
            "type": "structure",
            "required": [
                "type",
                "value"
            ],
            "members": {
                "type": {},
                "value": {
                    "type": "integer"
                }
            }
        }
    }
}