{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-23",
        "endpointPrefix": "states",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS SFN",
        "serviceFullName": "AWS Step Functions",
        "serviceId": "SFN",
        "signatureVersion": "v4",
        "targetPrefix": "AWSStepFunctions",
        "uid": "states-2016-11-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBUELINTLTDQEIFTAZZB3LXDHSKNJJI2KASJIM6NCGFSU3FGSHMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZACDSJSUBVAFL2JRZAHQIGAJGDPR52KP65LBL43UQUUIV5SOHDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
        ]
    },
    "operations": {
        "CreateActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "tags": {
                        "shape": "S3"
                    },
                    "encryptionConfiguration": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activityArn",
                    "creationDate"
                ],
                "members": {
                    "activityArn": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "CreateStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "definition",
                    "roleArn"
                ],
                "members": {
                    "name": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "type": {},
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    },
                    "publish": {
                        "type": "boolean"
                    },
                    "versionDescription": {
                        "shape": "Sm"
                    },
                    "encryptionConfiguration": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "creationDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "DeleteActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "DeleteStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "DescribeActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activityArn",
                    "name",
                    "creationDate"
                ],
                "members": {
                    "activityArn": {},
                    "name": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "DescribeExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "stateMachineArn",
                    "status",
                    "startDate"
                ],
                "members": {
                    "executionArn": {},
                    "stateMachineArn": {},
                    "name": {},
                    "status": {},
                    "startDate": {
                        "type": "timestamp"
                    },
                    "stopDate": {
                        "type": "timestamp"
                    },
                    "input": {
                        "shape": "Sv"
                    },
                    "inputDetails": {
                        "shape": "Sw"
                    },
                    "output": {
                        "shape": "Sv"
                    },
                    "outputDetails": {
                        "shape": "Sw"
                    },
                    "traceHeader": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "DescribeStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "name",
                    "definition",
                    "roleArn",
                    "type",
                    "creationDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "status": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "type": {},
                    "creationDate": {
                        "type": "timestamp"
                    },
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "DescribeStateMachineForExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "name",
                    "definition",
                    "roleArn",
                    "updateDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "updateDate": {
                        "type": "timestamp"
                    },
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "GetActivityTask": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {},
                    "workerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskToken": {},
                    "input": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "GetExecutionHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "reverseOrder": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "includeExecutionData": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "events"
                ],
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "timestamp",
                                "type",
                                "id"
                            ],
                            "members": {
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "type": {},
                                "id": {
                                    "type": "long"
                                },
                                "previousEventId": {
                                    "type": "long"
                                },
                                "activityFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "activityScheduleFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "activityScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resource"
                                    ],
                                    "members": {
                                        "resource": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        },
                                        "heartbeatInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "activityStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "workerName": {}
                                    }
                                },
                                "activitySucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "activityTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource",
                                        "region",
                                        "parameters"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "region": {},
                                        "parameters": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        },
                                        "heartbeatInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "taskStartFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskStartedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {}
                                    }
                                },
                                "taskSubmitFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskSubmittedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "taskSucceededEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "taskTimedOutEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "roleArn": {}
                                    }
                                },
                                "executionSucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "executionAbortedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "mapStateStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "length": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "mapIterationStartedEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationSucceededEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationFailedEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationAbortedEventDetails": {
                                    "shape": "S2a"
                                },
                                "lambdaFunctionFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionScheduleFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resource"
                                    ],
                                    "members": {
                                        "resource": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lambdaFunctionStartFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionSucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "lambdaFunctionTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "stateEnteredEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "name"
                                    ],
                                    "members": {
                                        "name": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "stateExitedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "name"
                                    ],
                                    "members": {
                                        "name": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "ListActivities": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activities"
                ],
                "members": {
                    "activities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "activityArn",
                                "name",
                                "creationDate"
                            ],
                            "members": {
                                "activityArn": {},
                                "name": {},
                                "creationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "ListExecutions": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "statusFilter": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "mapRunArn": {},
                    "redriveFilter": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executions"
                ],
                "members": {
                    "executions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "executionArn",
                                "stateMachineArn",
                                "name",
                                "status",
                                "startDate"
                            ],
                            "members": {
                                "executionArn": {},
                                "stateMachineArn": {},
                                "name": {},
                                "status": {},
                                "startDate": {
                                    "type": "timestamp"
                                },
                                "stopDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "ListStateMachines": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachines"
                ],
                "members": {
                    "stateMachines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "stateMachineArn",
                                "name",
                                "type",
                                "creationDate"
                            ],
                            "members": {
                                "stateMachineArn": {},
                                "name": {},
                                "type": {},
                                "creationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "SendTaskFailure": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken"
                ],
                "members": {
                    "taskToken": {},
                    "error": {
                        "shape": "S1j"
                    },
                    "cause": {
                        "shape": "S1k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "SendTaskHeartbeat": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken"
                ],
                "members": {
                    "taskToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "SendTaskSuccess": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken",
                    "output"
                ],
                "members": {
                    "taskToken": {},
                    "output": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "StartExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "input": {
                        "shape": "Sv"
                    },
                    "traceHeader": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "startDate"
                ],
                "members": {
                    "executionArn": {},
                    "startDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCNSTV3OSQIVXM3C2X5FVQ3KZNQ6NE66H3J432HVZYFBKOHD3ZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCXVWG3JQ5BE337O4F5CBK757MUTX7AQWUI3UXEPONUHKGQLH27A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZMEZXLLC4KJEDYRERUF32NPZAEUVJLOVW7X52J4ODINRRIG7CRKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQBMH22R6BVTEOZUWGFTFFGXCEYGBRFFHGBUGAUPNGHFTUF4ZIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YR5NH5UQA5DQJKG6DAXQNB2AOGCBNMPVV3J65IZLHU4M5LO6NQQA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A42S6INHHVTUHHIROGYPPLGFFSAOQ7M6I74WT6BJKHI25NGPSSTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJYLNBMFLEGQLJFFIVQHNZ6LUVB4N2PBCCHG2TJILTLIPNNID32Q/vendors.js"
            ]
        },
        "StartSyncExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "input": {
                        "shape": "Sv"
                    },
                    "traceHeader": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "startDate",
                    "stopDate",
                    "status"
                ],
                "members": {
                    "executionArn": {},
                    "stateMachineArn": {},
                    "name": {},
                    "startDate": {
                        "type": "timestamp"
                    },
                    "stopDate": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "error": {
                        "shape": "S1j"
                    },
                    "cause": {
                        "shape": "S1k"
                    },
                    "input": {
                        "shape": "Sv"
                    },
                    "inputDetails": {
                        "shape": "Sw"
                    },
                    "output": {
                        "shape": "Sv"
                    },
                    "outputDetails": {
                        "shape": "Sw"
                    },
                    "traceHeader": {},
                    "billingDetails": {
                        "type": "structure",
                        "members": {
                            "billedMemoryUsedInMB": {
                                "type": "long"
                            },
                            "billedDurationInMilliseconds": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "sync-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XGOAC5Z5MOKZGMDFWVT25LQTKX3EUREXUY2IQB22L4W2AY33P4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZBRPZJZOBP26V24X7VBUNRENYHNEXHR3MH5JNJK6IRWREYWUMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAPZNELDJJ3SIH6ZU5HN2FEKVAM62Q3Y36ZJGI3ALKRZI4LSPYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BN3MSD7OXCIUT7CA5XYKDU3BHPSW6HHTJ4IY4OI53KYGRPADX4IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDJFSOR77DUOXWS4CD5IPDW2B7NK5KI4MZFSS2W6V3RK2EDX7CFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKGQCP6UTPL2V3IAHJFN5MGZSO34RW746NXFYTLXOLXKOWJ7SNWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDUKV7DXTQCLVAW6UEMPMT7IPGXXSXSB3TRDSOQ2DAYWJZQRCYA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62HNLSJ5Q4G3E2XAIYDPJ4TSFAKOCAU52QKKHRWSNG7VIJXBBZLA/vendors.js",
[...]
