{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-23",
        "endpointPrefix": "states",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS SFN",
        "serviceFullName": "AWS Step Functions",
        "serviceId": "SFN",
        "signatureVersion": "v4",
        "targetPrefix": "AWSStepFunctions",
        "uid": "states-2016-11-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKKWFNT6D5CJDZZYR5IM34T6OXTBLFO65OXM2LBEZPNFS7GNGFTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
        ]
    },
    "operations": {
        "CreateActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "tags": {
                        "shape": "S3"
                    },
                    "encryptionConfiguration": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activityArn",
                    "creationDate"
                ],
                "members": {
                    "activityArn": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "CreateStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "definition",
                    "roleArn"
                ],
                "members": {
                    "name": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "type": {},
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    },
                    "publish": {
                        "type": "boolean"
                    },
                    "versionDescription": {
                        "shape": "Sm"
                    },
                    "encryptionConfiguration": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "creationDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "DeleteActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "DeleteStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "DescribeActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activityArn",
                    "name",
                    "creationDate"
                ],
                "members": {
                    "activityArn": {},
                    "name": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "DescribeExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "stateMachineArn",
                    "status",
                    "startDate"
                ],
                "members": {
                    "executionArn": {},
                    "stateMachineArn": {},
                    "name": {},
                    "status": {},
                    "startDate": {
                        "type": "timestamp"
                    },
                    "stopDate": {
                        "type": "timestamp"
                    },
                    "input": {
                        "shape": "Sv"
                    },
                    "inputDetails": {
                        "shape": "Sw"
                    },
                    "output": {
                        "shape": "Sv"
                    },
                    "outputDetails": {
                        "shape": "Sw"
                    },
                    "traceHeader": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "DescribeStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "name",
                    "definition",
                    "roleArn",
                    "type",
                    "creationDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "status": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "type": {},
                    "creationDate": {
                        "type": "timestamp"
                    },
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "DescribeStateMachineForExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "name",
                    "definition",
                    "roleArn",
                    "updateDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "updateDate": {
                        "type": "timestamp"
                    },
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "GetActivityTask": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {},
                    "workerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskToken": {},
                    "input": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "GetExecutionHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "reverseOrder": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "includeExecutionData": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "events"
                ],
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "timestamp",
                                "type",
                                "id"
                            ],
                            "members": {
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "type": {},
                                "id": {
                                    "type": "long"
                                },
                                "previousEventId": {
                                    "type": "long"
                                },
                                "activityFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "activityScheduleFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "activityScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resource"
                                    ],
                                    "members": {
                                        "resource": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        },
                                        "heartbeatInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "activityStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "workerName": {}
                                    }
                                },
                                "activitySucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "activityTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource",
                                        "region",
                                        "parameters"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "region": {},
                                        "parameters": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        },
                                        "heartbeatInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "taskStartFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskStartedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {}
                                    }
                                },
                                "taskSubmitFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskSubmittedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "taskSucceededEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "taskTimedOutEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "roleArn": {}
                                    }
                                },
                                "executionSucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "executionAbortedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "mapStateStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "length": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "mapIterationStartedEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationSucceededEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationFailedEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationAbortedEventDetails": {
                                    "shape": "S2a"
                                },
                                "lambdaFunctionFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionScheduleFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resource"
                                    ],
                                    "members": {
                                        "resource": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lambdaFunctionStartFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionSucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "lambdaFunctionTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "stateEnteredEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "name"
                                    ],
                                    "members": {
                                        "name": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "stateExitedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "name"
                                    ],
                                    "members": {
                                        "name": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "ListActivities": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activities"
                ],
                "members": {
                    "activities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "activityArn",
                                "name",
                                "creationDate"
                            ],
                            "members": {
                                "activityArn": {},
                                "name": {},
                                "creationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "ListExecutions": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "statusFilter": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "mapRunArn": {},
                    "redriveFilter": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executions"
                ],
                "members": {
                    "executions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "executionArn",
                                "stateMachineArn",
                                "name",
                                "status",
                                "startDate"
                            ],
                            "members": {
                                "executionArn": {},
                                "stateMachineArn": {},
                                "name": {},
                                "status": {},
                                "startDate": {
                                    "type": "timestamp"
                                },
                                "stopDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "ListStateMachines": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachines"
                ],
                "members": {
                    "stateMachines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "stateMachineArn",
                                "name",
                                "type",
                                "creationDate"
                            ],
                            "members": {
                                "stateMachineArn": {},
                                "name": {},
                                "type": {},
                                "creationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "SendTaskFailure": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken"
                ],
                "members": {
                    "taskToken": {},
                    "error": {
                        "shape": "S1j"
                    },
                    "cause": {
                        "shape": "S1k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "SendTaskHeartbeat": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken"
                ],
                "members": {
                    "taskToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "SendTaskSuccess": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken",
                    "output"
                ],
                "members": {
                    "taskToken": {},
                    "output": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "StartExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "input": {
                        "shape": "Sv"
                    },
                    "traceHeader": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "startDate"
                ],
                "members": {
                    "executionArn": {},
                    "startDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EHRWGZL6EXAVM67VXIBKJHSKZL2XV2NZQVQHYHWYYNEWT2ZJLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KI7E3TXZSF3TCYD2CUHIFLB6TX5SNJNLEKOV4JNHBCAKOUADZOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPT7XPMYRTLCUC236BG64Q2JCUQKWG3B5VWIABEGA3TWCVWKR4LQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js"
            ]
        },
        "StartSyncExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "input": {
                        "shape": "Sv"
                    },
                    "traceHeader": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "startDate",
                    "stopDate",
                    "status"
                ],
                "members": {
                    "executionArn": {},
                    "stateMachineArn": {},
                    "name": {},
                    "startDate": {
                        "type": "timestamp"
                    },
                    "stopDate": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "error": {
                        "shape": "S1j"
                    },
                    "cause": {
                        "shape": "S1k"
                    },
                    "input": {
                        "shape": "Sv"
                    },
                    "inputDetails": {
                        "shape": "Sw"
                    },
                    "output": {
                        "shape": "Sv"
                    },
                    "outputDetails": {
                        "shape": "Sw"
                    },
                    "traceHeader": {},
                    "billingDetails": {
                        "type": "structure",
                        "members": {
                            "billedMemoryUsedInMB": {
                                "type": "long"
                            },
                            "billedDurationInMilliseconds": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "sync-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ITBJ6SECGGQJ6XTCX5EDSIXTBLGGOBLMZY35JKGBADQNKI4D6HA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
[...]
