{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-23",
        "endpointPrefix": "states",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS SFN",
        "serviceFullName": "AWS Step Functions",
        "serviceId": "SFN",
        "signatureVersion": "v4",
        "targetPrefix": "AWSStepFunctions",
        "uid": "states-2016-11-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HDU2GHHCOEYAZXV6GVIQGJD7NIKQ7VJ36HHC7YYYPDC42NKI6N3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "tags": {
                        "shape": "S3"
                    },
                    "encryptionConfiguration": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activityArn",
                    "creationDate"
                ],
                "members": {
                    "activityArn": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "CreateStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "definition",
                    "roleArn"
                ],
                "members": {
                    "name": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "type": {},
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    },
                    "publish": {
                        "type": "boolean"
                    },
                    "versionDescription": {
                        "shape": "Sm"
                    },
                    "encryptionConfiguration": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "creationDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DeleteActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DeleteStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DescribeActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activityArn",
                    "name",
                    "creationDate"
                ],
                "members": {
                    "activityArn": {},
                    "name": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DescribeExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "stateMachineArn",
                    "status",
                    "startDate"
                ],
                "members": {
                    "executionArn": {},
                    "stateMachineArn": {},
                    "name": {},
                    "status": {},
                    "startDate": {
                        "type": "timestamp"
                    },
                    "stopDate": {
                        "type": "timestamp"
                    },
                    "input": {
                        "shape": "Sv"
                    },
                    "inputDetails": {
                        "shape": "Sw"
                    },
                    "output": {
                        "shape": "Sv"
                    },
                    "outputDetails": {
                        "shape": "Sw"
                    },
                    "traceHeader": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DescribeStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "name",
                    "definition",
                    "roleArn",
                    "type",
                    "creationDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "status": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "type": {},
                    "creationDate": {
                        "type": "timestamp"
                    },
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "DescribeStateMachineForExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "name",
                    "definition",
                    "roleArn",
                    "updateDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "updateDate": {
                        "type": "timestamp"
                    },
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetActivityTask": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {},
                    "workerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskToken": {},
                    "input": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "GetExecutionHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "reverseOrder": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "includeExecutionData": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "events"
                ],
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "timestamp",
                                "type",
                                "id"
                            ],
                            "members": {
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "type": {},
                                "id": {
                                    "type": "long"
                                },
                                "previousEventId": {
                                    "type": "long"
                                },
                                "activityFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "activityScheduleFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "activityScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resource"
                                    ],
                                    "members": {
                                        "resource": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        },
                                        "heartbeatInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "activityStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "workerName": {}
                                    }
                                },
                                "activitySucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "activityTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource",
                                        "region",
                                        "parameters"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "region": {},
                                        "parameters": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        },
                                        "heartbeatInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "taskStartFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskStartedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {}
                                    }
                                },
                                "taskSubmitFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskSubmittedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "taskSucceededEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "taskTimedOutEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "roleArn": {}
                                    }
                                },
                                "executionSucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "executionAbortedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "mapStateStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "length": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "mapIterationStartedEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationSucceededEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationFailedEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationAbortedEventDetails": {
                                    "shape": "S2a"
                                },
                                "lambdaFunctionFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionScheduleFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resource"
                                    ],
                                    "members": {
                                        "resource": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lambdaFunctionStartFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionSucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "lambdaFunctionTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "stateEnteredEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "name"
                                    ],
                                    "members": {
                                        "name": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "stateExitedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "name"
                                    ],
                                    "members": {
                                        "name": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListActivities": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activities"
                ],
                "members": {
                    "activities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "activityArn",
                                "name",
                                "creationDate"
                            ],
                            "members": {
                                "activityArn": {},
                                "name": {},
                                "creationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListExecutions": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "statusFilter": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "mapRunArn": {},
                    "redriveFilter": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executions"
                ],
                "members": {
                    "executions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "executionArn",
                                "stateMachineArn",
                                "name",
                                "status",
                                "startDate"
                            ],
                            "members": {
                                "executionArn": {},
                                "stateMachineArn": {},
                                "name": {},
                                "status": {},
                                "startDate": {
                                    "type": "timestamp"
                                },
                                "stopDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListStateMachines": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachines"
                ],
                "members": {
                    "stateMachines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "stateMachineArn",
                                "name",
                                "type",
                                "creationDate"
                            ],
                            "members": {
                                "stateMachineArn": {},
                                "name": {},
                                "type": {},
                                "creationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "SendTaskFailure": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken"
                ],
                "members": {
                    "taskToken": {},
                    "error": {
                        "shape": "S1j"
                    },
                    "cause": {
                        "shape": "S1k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "SendTaskHeartbeat": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken"
                ],
                "members": {
                    "taskToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "SendTaskSuccess": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken",
                    "output"
                ],
                "members": {
                    "taskToken": {},
                    "output": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "StartExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "input": {
                        "shape": "Sv"
                    },
                    "traceHeader": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "startDate"
                ],
                "members": {
                    "executionArn": {},
                    "startDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF2EH76B6MFRLTKU2LQUHVMLLDIMO63IL7J7IOQ5WEPOEJFRL2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFNTUWNFWD773E32WRUW7C7GQPM5PN7PJVUTO5V73NOM3LHTHOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KH2XM2NJPRBLQUPJ2VAX47XH2F6F7RHKBFGGM4IC7QJ6L75UTFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFWOWVU5SQQNTRYGSGX5JWRXLJLXLY3LWZME6EIBB5R6UKBZQBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HULARPEJVLSGTARCJFH3H6ZFW3HQQLCTP62B5LF4NOK2RYCSIP2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYUMZED2AJ3NT5NCGXLVWOZNWR25UJYN7DQZJ2MAZFO7UODFJYSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGAHSBK525MWCVDPHEG2Y5S6VEVRW32NW46DKIHEYLB5TBYJ4OBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QRMV75PKSZ47M2XKUAKQ2FTTUF3QH7UE5DLSZ6NADSB4IFBEYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTTBE6752FMOOMFOJBWSL27DUWQ4VC5ILRDGV4L55JQBXYC5O7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js"
            ]
        },
        "StartSyncExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "input": {
                        "shape": "Sv"
                    },
                    "traceHeader": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "startDate",
                    "stopDate",
                    "status"
                ],
                "members": {
                    "executionArn": {},
                    "stateMachineArn": {},
                    "name": {},
                    "startDate": {
                        "type": "timestamp"
                    },
                    "stopDate": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "error": {
                        "shape": "S1j"
                    },
                    "cause": {
                        "shape": "S1k"
                    },
                    "input": {
                        "shape": "Sv"
                    },
                    "inputDetails": {
                        "shape": "Sw"
                    },
                    "output": {
                        "shape": "Sv"
                    },
                    "outputDetails": {
                        "shape": "Sw"
                    },
                    "traceHeader": {},
                    "billingDetails": {
                        "type": "structure",
                        "members": {
                            "billedMemoryUsedInMB": {
                                "type": "long"
                            },
                            "billedDurationInMilliseconds": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "sync-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBSB4WW6YKH5W4AFUP55J5HU5EEQLTRNKXF42VXCME2DK6TEXP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5D36MF6GZ5GYQKCLDHENKPK2I4OBCHM2XKUNVNSAMYDSZ77KYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2NKGPLMCEPQ3ZNXLNVUKHREMDYQ6PGXZMTF7DN3GBCSHAOCYSPYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPEEZJ3UM4JOGQDR6PVTQRFZ6URZVQ4OBEF2S23MMQFXKBAOLPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RJPOBCTTUT7YVZE2JTOZGUBIK4W3MCTAXTL6YVOAVOJ2LJAQLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXLIWHBLM5MY77EW7LJMA3IXGH7IZ5457LR3RHJH77L2R2YLFNJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/STM7VKRNTJFEVIE5MS4ELNAUZKN4TT3KTA5YAVEV2ET4G4UB76CA/vendors.js",
[...]
