{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-23",
        "endpointPrefix": "states",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS SFN",
        "serviceFullName": "AWS Step Functions",
        "serviceId": "SFN",
        "signatureVersion": "v4",
        "targetPrefix": "AWSStepFunctions",
        "uid": "states-2016-11-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDZ37OGMFWMLI66TJKCGJ636AMKEXWLMAYWHETM3UWMEYJJLFX7A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5JM3SEPI3SKSKYQ7MPPM34D7KN6DAER237R5W76U3BH2Z3OPJCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZTCENYEYPWYK7VDWHCEUC2Q6CV6TQ6WY4RZYR6AV5YX5WNIY5FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "tags": {
                        "shape": "S3"
                    },
                    "encryptionConfiguration": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activityArn",
                    "creationDate"
                ],
                "members": {
                    "activityArn": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "definition",
                    "roleArn"
                ],
                "members": {
                    "name": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "type": {},
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    },
                    "publish": {
                        "type": "boolean"
                    },
                    "versionDescription": {
                        "shape": "Sm"
                    },
                    "encryptionConfiguration": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "creationDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activityArn",
                    "name",
                    "creationDate"
                ],
                "members": {
                    "activityArn": {},
                    "name": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "stateMachineArn",
                    "status",
                    "startDate"
                ],
                "members": {
                    "executionArn": {},
                    "stateMachineArn": {},
                    "name": {},
                    "status": {},
                    "startDate": {
                        "type": "timestamp"
                    },
                    "stopDate": {
                        "type": "timestamp"
                    },
                    "input": {
                        "shape": "Sv"
                    },
                    "inputDetails": {
                        "shape": "Sw"
                    },
                    "output": {
                        "shape": "Sv"
                    },
                    "outputDetails": {
                        "shape": "Sw"
                    },
                    "traceHeader": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "name",
                    "definition",
                    "roleArn",
                    "type",
                    "creationDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "status": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "type": {},
                    "creationDate": {
                        "type": "timestamp"
                    },
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeStateMachineForExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "name",
                    "definition",
                    "roleArn",
                    "updateDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "updateDate": {
                        "type": "timestamp"
                    },
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetActivityTask": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {},
                    "workerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskToken": {},
                    "input": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetExecutionHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "reverseOrder": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "includeExecutionData": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "events"
                ],
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "timestamp",
                                "type",
                                "id"
                            ],
                            "members": {
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "type": {},
                                "id": {
                                    "type": "long"
                                },
                                "previousEventId": {
                                    "type": "long"
                                },
                                "activityFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "activityScheduleFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "activityScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resource"
                                    ],
                                    "members": {
                                        "resource": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        },
                                        "heartbeatInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "activityStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "workerName": {}
                                    }
                                },
                                "activitySucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "activityTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource",
                                        "region",
                                        "parameters"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "region": {},
                                        "parameters": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        },
                                        "heartbeatInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "taskStartFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskStartedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {}
                                    }
                                },
                                "taskSubmitFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskSubmittedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "taskSucceededEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "taskTimedOutEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "roleArn": {}
                                    }
                                },
                                "executionSucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "executionAbortedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "mapStateStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "length": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "mapIterationStartedEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationSucceededEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationFailedEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationAbortedEventDetails": {
                                    "shape": "S2a"
                                },
                                "lambdaFunctionFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionScheduleFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resource"
                                    ],
                                    "members": {
                                        "resource": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lambdaFunctionStartFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionSucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "lambdaFunctionTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "stateEnteredEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "name"
                                    ],
                                    "members": {
                                        "name": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "stateExitedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "name"
                                    ],
                                    "members": {
                                        "name": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListActivities": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activities"
                ],
                "members": {
                    "activities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "activityArn",
                                "name",
                                "creationDate"
                            ],
                            "members": {
                                "activityArn": {},
                                "name": {},
                                "creationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListExecutions": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "statusFilter": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "mapRunArn": {},
                    "redriveFilter": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executions"
                ],
                "members": {
                    "executions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "executionArn",
                                "stateMachineArn",
                                "name",
                                "status",
                                "startDate"
                            ],
                            "members": {
                                "executionArn": {},
                                "stateMachineArn": {},
                                "name": {},
                                "status": {},
                                "startDate": {
                                    "type": "timestamp"
                                },
                                "stopDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListStateMachines": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachines"
                ],
                "members": {
                    "stateMachines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "stateMachineArn",
                                "name",
                                "type",
                                "creationDate"
                            ],
                            "members": {
                                "stateMachineArn": {},
                                "name": {},
                                "type": {},
                                "creationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "SendTaskFailure": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken"
                ],
                "members": {
                    "taskToken": {},
                    "error": {
                        "shape": "S1j"
                    },
                    "cause": {
                        "shape": "S1k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "SendTaskHeartbeat": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken"
                ],
                "members": {
                    "taskToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "SendTaskSuccess": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken",
                    "output"
                ],
                "members": {
                    "taskToken": {},
                    "output": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "input": {
                        "shape": "Sv"
                    },
                    "traceHeader": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "startDate"
                ],
                "members": {
                    "executionArn": {},
                    "startDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4HUNVCAMOV6NYBV4DN4KAPBJFZB3AEVXKACTEBTCLB3BDBQRFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTFAXW3YZXKTUSBWAYMKAWN66YWQT7TPXKPQWDHF47CYVUEWSHMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXR4VD6DNY6IS5GBGZEO2GLDSNWEEI5QNTO4TVKUZKBIAU6U4CCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64BKPB6AW7G6BE4BDWQKKNMS5T45D4JUMXFF4DLM5M2RUH7K7LUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZO4MTUUNNJEPJP6YXF4EQYCDF5I7SI3RA37RUJOEBWO6U4NGACOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6L5MP2SVRD3JLOJHPKKFJTRDHINDKUWBKFGX2NYIIFOC57Q3QNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2RTYJ5GIRFZ3LTUDVWLQPL2AI6JHX4MIWHOEV2GAOMXJBO333IQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABR2CRCY7DTIO6YFGWT44L4YRLY5VVVYIJJF5ZG226KSIT6YWRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartSyncExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "input": {
                        "shape": "Sv"
                    },
                    "traceHeader": {},
                    "includedData": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "startDate",
                    "stopDate",
                    "status"
                ],
                "members": {
                    "executionArn": {},
                    "stateMachineArn": {},
                    "name": {},
                    "startDate": {
                        "type": "timestamp"
                    },
                    "stopDate": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "error": {
                        "shape": "S1j"
                    },
                    "cause": {
                        "shape": "S1k"
                    },
                    "input": {
                        "shape": "Sv"
                    },
                    "inputDetails": {
                        "shape": "Sw"
                    },
                    "output": {
                        "shape": "Sv"
                    },
                    "outputDetails": {
                        "shape": "Sw"
                    },
                    "traceHeader": {},
                    "billingDetails": {
                        "type": "structure",
                        "members": {
                            "billedMemoryUsedInMB": {
                                "type": "long"
                            },
                            "billedDurationInMilliseconds": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "sync-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7IA3ENKV3XW726BBWCGE3PZ5746LX5FHWIFZX2MV2LKZPXPHXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZO5VAGXD5DN254NUTVOMFCTCD4XJDZ4HORGTPFDDYNF4S4J3YXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUDN6OLC3PJ3VCOSNAV7UGR6TWOZL7OOJOY7GKX77SNVPIT4WYHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DTHLFIX4TBQDX4OTEJMLUB3CBIYVX3YQBSQC2LTH3F4I4GMHH5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2YL2JZIS7ZKD3EQBBLGV6QCWKKL4FZO4ZT5TBV3W3BWPWJVETLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
[...]
