{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-23",
        "endpointPrefix": "states",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS SFN",
        "serviceFullName": "AWS Step Functions",
        "serviceId": "SFN",
        "signatureVersion": "v4",
        "targetPrefix": "AWSStepFunctions",
        "uid": "states-2016-11-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
        ]
    },
    "operations": {
        "CreateActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activityArn",
                    "creationDate"
                ],
                "members": {
                    "activityArn": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "CreateStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "definition",
                    "roleArn"
                ],
                "members": {
                    "name": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "type": {},
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    },
                    "publish": {
                        "type": "boolean"
                    },
                    "versionDescription": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "creationDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "DeleteActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "DeleteStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "DescribeActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activityArn",
                    "name",
                    "creationDate"
                ],
                "members": {
                    "activityArn": {},
                    "name": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "DescribeExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "stateMachineArn",
                    "status",
                    "startDate"
                ],
                "members": {
                    "executionArn": {},
                    "stateMachineArn": {},
                    "name": {},
                    "status": {},
                    "startDate": {
                        "type": "timestamp"
                    },
                    "stopDate": {
                        "type": "timestamp"
                    },
                    "input": {
                        "shape": "Sv"
                    },
                    "inputDetails": {
                        "shape": "Sw"
                    },
                    "output": {
                        "shape": "Sv"
                    },
                    "outputDetails": {
                        "shape": "Sw"
                    },
                    "traceHeader": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "DescribeStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "name",
                    "definition",
                    "roleArn",
                    "type",
                    "creationDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "status": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "type": {},
                    "creationDate": {
                        "type": "timestamp"
                    },
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "DescribeStateMachineForExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "name",
                    "definition",
                    "roleArn",
                    "updateDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "updateDate": {
                        "type": "timestamp"
                    },
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "GetActivityTask": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {},
                    "workerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskToken": {},
                    "input": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "GetExecutionHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "reverseOrder": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "includeExecutionData": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "events"
                ],
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "timestamp",
                                "type",
                                "id"
                            ],
                            "members": {
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "type": {},
                                "id": {
                                    "type": "long"
                                },
                                "previousEventId": {
                                    "type": "long"
                                },
                                "activityFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "activityScheduleFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "activityScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resource"
                                    ],
                                    "members": {
                                        "resource": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        },
                                        "heartbeatInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "activityStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "workerName": {}
                                    }
                                },
                                "activitySucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "activityTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource",
                                        "region",
                                        "parameters"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "region": {},
                                        "parameters": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        },
                                        "heartbeatInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "taskStartFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskStartedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {}
                                    }
                                },
                                "taskSubmitFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskSubmittedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "taskSucceededEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "taskTimedOutEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "roleArn": {}
                                    }
                                },
                                "executionSucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "executionAbortedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "mapStateStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "length": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "mapIterationStartedEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationSucceededEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationFailedEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationAbortedEventDetails": {
                                    "shape": "S2a"
                                },
                                "lambdaFunctionFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionScheduleFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resource"
                                    ],
                                    "members": {
                                        "resource": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lambdaFunctionStartFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionSucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "lambdaFunctionTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "stateEnteredEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "name"
                                    ],
                                    "members": {
                                        "name": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "stateExitedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "name"
                                    ],
                                    "members": {
                                        "name": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "ListActivities": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activities"
                ],
                "members": {
                    "activities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "activityArn",
                                "name",
                                "creationDate"
                            ],
                            "members": {
                                "activityArn": {},
                                "name": {},
                                "creationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "ListExecutions": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "statusFilter": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "mapRunArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executions"
                ],
                "members": {
                    "executions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "executionArn",
                                "stateMachineArn",
                                "name",
                                "status",
                                "startDate"
                            ],
                            "members": {
                                "executionArn": {},
                                "stateMachineArn": {},
                                "name": {},
                                "status": {},
                                "startDate": {
                                    "type": "timestamp"
                                },
                                "stopDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "ListStateMachines": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachines"
                ],
                "members": {
                    "stateMachines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "stateMachineArn",
                                "name",
                                "type",
                                "creationDate"
                            ],
                            "members": {
                                "stateMachineArn": {},
                                "name": {},
                                "type": {},
                                "creationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "SendTaskFailure": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken"
                ],
                "members": {
                    "taskToken": {},
                    "error": {
                        "shape": "S1j"
                    },
                    "cause": {
                        "shape": "S1k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "SendTaskHeartbeat": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken"
                ],
                "members": {
                    "taskToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "SendTaskSuccess": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken",
                    "output"
                ],
                "members": {
                    "taskToken": {},
                    "output": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "StartExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "input": {
                        "shape": "Sv"
                    },
                    "traceHeader": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "startDate"
                ],
                "members": {
                    "executionArn": {},
                    "startDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKNSNA7G5OAK2BWL53C3EEOA7SJ6UKS2GS5CUWISAZIIGM7C44XA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIWVSOIP4K4OX7LDEAAZ4ZA4LSU63IYHHG3X6LYYD5JF2TVE75BQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7R3DFMEM43REBCGWD5WSAW7FGPZWAM7O2AQGM7WLX2Y3SXGH2GA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "StartSyncExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "input": {
                        "shape": "Sv"
                    },
                    "traceHeader": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "startDate",
                    "stopDate",
                    "status"
                ],
                "members": {
                    "executionArn": {},
                    "stateMachineArn": {},
                    "name": {},
                    "startDate": {
                        "type": "timestamp"
                    },
                    "stopDate": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "error": {
                        "shape": "S1j"
                    },
                    "cause": {
                        "shape": "S1k"
                    },
                    "input": {
                        "shape": "Sv"
                    },
                    "inputDetails": {
                        "shape": "Sw"
                    },
                    "output": {
                        "shape": "Sv"
                    },
                    "outputDetails": {
                        "shape": "Sw"
                    },
                    "traceHeader": {},
                    "billingDetails": {
                        "type": "structure",
                        "members": {
                            "billedMemoryUsedInMB": {
                                "type": "long"
                            },
                            "billedDurationInMilliseconds": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "sync-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYI2V6OMBFOMDTCRRHHEI54Y4Y2WAFGKQC4R2PKQ2HNI5I2LPYBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJFXTYHBFFXEAFYMMRMUQV7H6FUSA4UMM4E4JVDOYOUL4XKMMFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C2FQI33EXCQIAL2K5EI2BTYKY5WBZTTAPB5C67GXN4RIAX4JJAPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXQM3SQ2A7LDOIB3P66XNIIGO2SVZ5PZWBUSZEBOROQVITESV4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBXIWPJ3JRZX5BFMSMUEJYOJNCADRZSRT36R42YCRWBWC4TCYTLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILE3N4NZP2SNI5D57QCKIWZCXQ2SDEA2JNROU72ZCDVRROE6RZEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XS5UKPS6XWWPNJI7F5GUSZCLEPY6FNNHXU5HY5U2CKTXGZ2BPLBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N32EZ3RLQO7VS5B4IVAKVU4FQV5FV7TMSBIZEA33WP5PDNMPQKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
[...]
