{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-11-23",
        "endpointPrefix": "states",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "AWS SFN",
        "serviceFullName": "AWS Step Functions",
        "serviceId": "SFN",
        "signatureVersion": "v4",
        "targetPrefix": "AWSStepFunctions",
        "uid": "states-2016-11-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activityArn",
                    "creationDate"
                ],
                "members": {
                    "activityArn": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "CreateStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "definition",
                    "roleArn"
                ],
                "members": {
                    "name": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "type": {},
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    },
                    "publish": {
                        "type": "boolean"
                    },
                    "versionDescription": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "creationDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DeleteActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DeleteStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DescribeActivity": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activityArn",
                    "name",
                    "creationDate"
                ],
                "members": {
                    "activityArn": {},
                    "name": {},
                    "creationDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DescribeExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "stateMachineArn",
                    "status",
                    "startDate"
                ],
                "members": {
                    "executionArn": {},
                    "stateMachineArn": {},
                    "name": {},
                    "status": {},
                    "startDate": {
                        "type": "timestamp"
                    },
                    "stopDate": {
                        "type": "timestamp"
                    },
                    "input": {
                        "shape": "Sv"
                    },
                    "inputDetails": {
                        "shape": "Sw"
                    },
                    "output": {
                        "shape": "Sv"
                    },
                    "outputDetails": {
                        "shape": "Sw"
                    },
                    "traceHeader": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DescribeStateMachine": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "name",
                    "definition",
                    "roleArn",
                    "type",
                    "creationDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "status": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "type": {},
                    "creationDate": {
                        "type": "timestamp"
                    },
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DescribeStateMachineForExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachineArn",
                    "name",
                    "definition",
                    "roleArn",
                    "updateDate"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "definition": {
                        "shape": "Sb"
                    },
                    "roleArn": {},
                    "updateDate": {
                        "type": "timestamp"
                    },
                    "loggingConfiguration": {
                        "shape": "Sd"
                    },
                    "tracingConfiguration": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "GetActivityTask": {
            "input": {
                "type": "structure",
                "required": [
                    "activityArn"
                ],
                "members": {
                    "activityArn": {},
                    "workerName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "taskToken": {},
                    "input": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "GetExecutionHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "executionArn"
                ],
                "members": {
                    "executionArn": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "reverseOrder": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "includeExecutionData": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "events"
                ],
                "members": {
                    "events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "timestamp",
                                "type",
                                "id"
                            ],
                            "members": {
                                "timestamp": {
                                    "type": "timestamp"
                                },
                                "type": {},
                                "id": {
                                    "type": "long"
                                },
                                "previousEventId": {
                                    "type": "long"
                                },
                                "activityFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "activityScheduleFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "activityScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resource"
                                    ],
                                    "members": {
                                        "resource": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        },
                                        "heartbeatInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "activityStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "workerName": {}
                                    }
                                },
                                "activitySucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "activityTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource",
                                        "region",
                                        "parameters"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "region": {},
                                        "parameters": {
                                            "type": "string",
                                            "sensitive": true
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        },
                                        "heartbeatInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "taskStartFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskStartedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {}
                                    }
                                },
                                "taskSubmitFailedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "taskSubmittedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "taskSucceededEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "taskTimedOutEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resourceType",
                                        "resource"
                                    ],
                                    "members": {
                                        "resourceType": {},
                                        "resource": {},
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "roleArn": {}
                                    }
                                },
                                "executionSucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "executionAbortedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "executionTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "mapStateStartedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "length": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "mapIterationStartedEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationSucceededEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationFailedEventDetails": {
                                    "shape": "S2a"
                                },
                                "mapIterationAbortedEventDetails": {
                                    "shape": "S2a"
                                },
                                "lambdaFunctionFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionScheduleFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionScheduledEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "resource"
                                    ],
                                    "members": {
                                        "resource": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        },
                                        "timeoutInSeconds": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "lambdaFunctionStartFailedEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "lambdaFunctionSucceededEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "lambdaFunctionTimedOutEventDetails": {
                                    "type": "structure",
                                    "members": {
                                        "error": {
                                            "shape": "S1j"
                                        },
                                        "cause": {
                                            "shape": "S1k"
                                        }
                                    }
                                },
                                "stateEnteredEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "name"
                                    ],
                                    "members": {
                                        "name": {},
                                        "input": {
                                            "shape": "Sv"
                                        },
                                        "inputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                },
                                "stateExitedEventDetails": {
                                    "type": "structure",
                                    "required": [
                                        "name"
                                    ],
                                    "members": {
                                        "name": {},
                                        "output": {
                                            "shape": "Sv"
                                        },
                                        "outputDetails": {
                                            "shape": "S1n"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ListActivities": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "activities"
                ],
                "members": {
                    "activities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "activityArn",
                                "name",
                                "creationDate"
                            ],
                            "members": {
                                "activityArn": {},
                                "name": {},
                                "creationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ListExecutions": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "statusFilter": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "mapRunArn": {},
                    "redriveFilter": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executions"
                ],
                "members": {
                    "executions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "executionArn",
                                "stateMachineArn",
                                "name",
                                "status",
                                "startDate"
                            ],
                            "members": {
                                "executionArn": {},
                                "stateMachineArn": {},
                                "name": {},
                                "status": {},
                                "startDate": {
                                    "type": "timestamp"
                                },
                                "stopDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ListStateMachines": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "stateMachines"
                ],
                "members": {
                    "stateMachines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "stateMachineArn",
                                "name",
                                "type",
                                "creationDate"
                            ],
                            "members": {
                                "stateMachineArn": {},
                                "name": {},
                                "type": {},
                                "creationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "SendTaskFailure": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken"
                ],
                "members": {
                    "taskToken": {},
                    "error": {
                        "shape": "S1j"
                    },
                    "cause": {
                        "shape": "S1k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "SendTaskHeartbeat": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken"
                ],
                "members": {
                    "taskToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "SendTaskSuccess": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken",
                    "output"
                ],
                "members": {
                    "taskToken": {},
                    "output": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "StartExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "input": {
                        "shape": "Sv"
                    },
                    "traceHeader": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "startDate"
                ],
                "members": {
                    "executionArn": {},
                    "startDate": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEURDYCT7BKIKFHRMIXX3EC6FSBFV23KFYMRQAN4UX2NTFI6EKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2OCNASMUV6XYLK254RPHDYZ7BWVUMXNZXMBL44F55SKXGJ3PG3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIP36G7ZN2FBHEBJM4U2JLFYFO6DPOZXJM5AIER6OR2R5VFQPSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYQ6IOOBHSBLGNGVNFRKY3LKYGWEWA4N3TJ726WIW7LGOSJ3YOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LGMWEMHFFNXRWXLDYY3AE2OKCTRTZ5ZRLKMVJ2OK5MVXUBCHFPTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "StartSyncExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "stateMachineArn"
                ],
                "members": {
                    "stateMachineArn": {},
                    "name": {},
                    "input": {
                        "shape": "Sv"
                    },
                    "traceHeader": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionArn",
                    "startDate",
                    "stopDate",
                    "status"
                ],
                "members": {
                    "executionArn": {},
                    "stateMachineArn": {},
                    "name": {},
                    "startDate": {
                        "type": "timestamp"
                    },
                    "stopDate": {
                        "type": "timestamp"
                    },
                    "status": {},
                    "error": {
                        "shape": "S1j"
                    },
                    "cause": {
                        "shape": "S1k"
                    },
                    "input": {
                        "shape": "Sv"
                    },
                    "inputDetails": {
                        "shape": "Sw"
                    },
                    "output": {
                        "shape": "Sv"
                    },
                    "outputDetails": {
                        "shape": "Sw"
                    },
                    "traceHeader": {},
                    "billingDetails": {
                        "type": "structure",
                        "members": {
                            "billedMemoryUsedInMB": {
                                "type": "long"
                            },
                            "billedDurationInMilliseconds": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "sync-"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PN6CULJPVM2XTXRLD4QV2SMV5SW5CHJ5IQFTEGXHSV6IWBEGWW4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCCKDHWCDUEHIJ6JTVQ5IVRZF4ODPEEWIB6SOVMXOM5GW5DZWT5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGLF4UZQSMCEZVK6LJNMZUEQC2Q6CK2X7AYKY3DYKMNFI2Z64SYA/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5BMIAJHNZTFTHDAQIKJ43FGLGIIWZEDPDN5MEHS3IOAO4ODIHYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOQQHQK43XO7ZGYCSJNDGQ5KSNWDBOVTG6HWOWF66EYE3WIWQDHA/vendors.js",
[...]
