{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "steward",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Steward",
        "serviceId": "steward",
        "signatureVersion": "v4",
        "uid": "steward-2017-07-25",
        "download_location": [
            "https://d2p4q6mkc1wici.cloudfront.net/f0668610f2078e86b008288917418128d994092e/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/b1f95a55513efdd3ccfec262e04f8e51f1256b6d/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/32e2777dbf0ea72661e90908bb00ecf17fde4257/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/894d9648140554e47d4fa811aaabb2436396f3db/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/a73ef9778b653b475d85cf2e985a1f62da18673d/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/e2ffcaab54c4706cb11d2dabf7860b7b213dfba5/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/4a57db99e78d4eb8040c04b5d5a1a1d993d83182/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/91b660a166489e8eebaf0f81b296b04348bdc518/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/14a51731b60833439b12aa30e751fddd93e55467/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/93910cdd8a7d51bb504ffcf9a89d60c33d2fc0a6/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/259c584e365dada646c9514025f2bf8c605aec64/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/b2bd7412ec3b2378e445a3a15c79519bf4fc0509/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/258d37909e9cc1345f424ca1fb1252df6c2e5708/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/7c1fd387e815ccc33916fba4021eea68650657a9/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/6343ea52d0ed77d1060b9662a8faed409bdca28d/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/c5582221d5e79429cee5932a25b523d7a0235fb8/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/29ff82cca17ef2414608c11ecb82bbfb76e2ce84/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/c68a8ef843ae23714dce719dac1d2c650855f78f/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/52a3d08d7669a6ac07c31d248c0b3eb49d76975b/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/6decba00b6ac0ba13d39b812ceb326a7ba0c8679/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/c349951b7ce3adc53cfcc2fde7f2551dc84a10ce/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/52ce3502c7b81e256824d00e8ee93105a7f6955b/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/fc23e7c77c3640a6e94f2491adb0d0ccd2e23d71/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/70b95d9b887223470ddbb512494b859bfff48be3/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js"
        ]
    },
    "operations": {
        "CreateNamedEntity": {
            "http": {
                "requestUri": "/named-entities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntity"
                ],
                "members": {
                    "namedEntity": {
                        "shape": "S2"
                    },
                    "kmsKeyId": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namedEntityArn": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/b1f95a55513efdd3ccfec262e04f8e51f1256b6d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/32e2777dbf0ea72661e90908bb00ecf17fde4257/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/894d9648140554e47d4fa811aaabb2436396f3db/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a73ef9778b653b475d85cf2e985a1f62da18673d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/e2ffcaab54c4706cb11d2dabf7860b7b213dfba5/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/4a57db99e78d4eb8040c04b5d5a1a1d993d83182/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/91b660a166489e8eebaf0f81b296b04348bdc518/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/14a51731b60833439b12aa30e751fddd93e55467/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/93910cdd8a7d51bb504ffcf9a89d60c33d2fc0a6/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/259c584e365dada646c9514025f2bf8c605aec64/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/b2bd7412ec3b2378e445a3a15c79519bf4fc0509/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/258d37909e9cc1345f424ca1fb1252df6c2e5708/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/7c1fd387e815ccc33916fba4021eea68650657a9/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6343ea52d0ed77d1060b9662a8faed409bdca28d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c5582221d5e79429cee5932a25b523d7a0235fb8/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/29ff82cca17ef2414608c11ecb82bbfb76e2ce84/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c68a8ef843ae23714dce719dac1d2c650855f78f/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52a3d08d7669a6ac07c31d248c0b3eb49d76975b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6decba00b6ac0ba13d39b812ceb326a7ba0c8679/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c349951b7ce3adc53cfcc2fde7f2551dc84a10ce/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52ce3502c7b81e256824d00e8ee93105a7f6955b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/fc23e7c77c3640a6e94f2491adb0d0ccd2e23d71/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/70b95d9b887223470ddbb512494b859bfff48be3/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js"
            ]
        },
        "DeleteNamedEntity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/named-entities/{namedEntityArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntityArn"
                ],
                "members": {
                    "namedEntityArn": {
                        "location": "uri",
                        "locationName": "namedEntityArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/b1f95a55513efdd3ccfec262e04f8e51f1256b6d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/32e2777dbf0ea72661e90908bb00ecf17fde4257/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/894d9648140554e47d4fa811aaabb2436396f3db/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a73ef9778b653b475d85cf2e985a1f62da18673d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/e2ffcaab54c4706cb11d2dabf7860b7b213dfba5/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/4a57db99e78d4eb8040c04b5d5a1a1d993d83182/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/91b660a166489e8eebaf0f81b296b04348bdc518/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/14a51731b60833439b12aa30e751fddd93e55467/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/93910cdd8a7d51bb504ffcf9a89d60c33d2fc0a6/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/259c584e365dada646c9514025f2bf8c605aec64/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/b2bd7412ec3b2378e445a3a15c79519bf4fc0509/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/258d37909e9cc1345f424ca1fb1252df6c2e5708/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/7c1fd387e815ccc33916fba4021eea68650657a9/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6343ea52d0ed77d1060b9662a8faed409bdca28d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c5582221d5e79429cee5932a25b523d7a0235fb8/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/29ff82cca17ef2414608c11ecb82bbfb76e2ce84/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c68a8ef843ae23714dce719dac1d2c650855f78f/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52a3d08d7669a6ac07c31d248c0b3eb49d76975b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6decba00b6ac0ba13d39b812ceb326a7ba0c8679/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c349951b7ce3adc53cfcc2fde7f2551dc84a10ce/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52ce3502c7b81e256824d00e8ee93105a7f6955b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/fc23e7c77c3640a6e94f2491adb0d0ccd2e23d71/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/70b95d9b887223470ddbb512494b859bfff48be3/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js"
            ]
        },
        "DeprecateNamedEntity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/named-entities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntityArn"
                ],
                "members": {
                    "namedEntityArn": {
                        "location": "querystring",
                        "locationName": "namedEntityArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/b1f95a55513efdd3ccfec262e04f8e51f1256b6d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/32e2777dbf0ea72661e90908bb00ecf17fde4257/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/894d9648140554e47d4fa811aaabb2436396f3db/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a73ef9778b653b475d85cf2e985a1f62da18673d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/e2ffcaab54c4706cb11d2dabf7860b7b213dfba5/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/4a57db99e78d4eb8040c04b5d5a1a1d993d83182/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/91b660a166489e8eebaf0f81b296b04348bdc518/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/14a51731b60833439b12aa30e751fddd93e55467/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/93910cdd8a7d51bb504ffcf9a89d60c33d2fc0a6/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/259c584e365dada646c9514025f2bf8c605aec64/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/b2bd7412ec3b2378e445a3a15c79519bf4fc0509/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/258d37909e9cc1345f424ca1fb1252df6c2e5708/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/7c1fd387e815ccc33916fba4021eea68650657a9/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6343ea52d0ed77d1060b9662a8faed409bdca28d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c5582221d5e79429cee5932a25b523d7a0235fb8/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/29ff82cca17ef2414608c11ecb82bbfb76e2ce84/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c68a8ef843ae23714dce719dac1d2c650855f78f/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52a3d08d7669a6ac07c31d248c0b3eb49d76975b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6decba00b6ac0ba13d39b812ceb326a7ba0c8679/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c349951b7ce3adc53cfcc2fde7f2551dc84a10ce/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52ce3502c7b81e256824d00e8ee93105a7f6955b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/fc23e7c77c3640a6e94f2491adb0d0ccd2e23d71/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/70b95d9b887223470ddbb512494b859bfff48be3/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js"
            ]
        },
        "DetectNamedEntities": {
            "http": {
                "requestUri": "/detect-named-entities"
            },
            "input": {
                "type": "structure",
                "members": {
                    "content": {},
                    "namedEntityArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namedEntities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "arn": {},
                                "count": {
                                    "type": "integer"
                                },
                                "detections": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "start": {
                                                "type": "integer"
                                            },
                                            "end": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/b1f95a55513efdd3ccfec262e04f8e51f1256b6d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/32e2777dbf0ea72661e90908bb00ecf17fde4257/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/894d9648140554e47d4fa811aaabb2436396f3db/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a73ef9778b653b475d85cf2e985a1f62da18673d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/e2ffcaab54c4706cb11d2dabf7860b7b213dfba5/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/4a57db99e78d4eb8040c04b5d5a1a1d993d83182/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/91b660a166489e8eebaf0f81b296b04348bdc518/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/14a51731b60833439b12aa30e751fddd93e55467/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/93910cdd8a7d51bb504ffcf9a89d60c33d2fc0a6/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/259c584e365dada646c9514025f2bf8c605aec64/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/b2bd7412ec3b2378e445a3a15c79519bf4fc0509/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/258d37909e9cc1345f424ca1fb1252df6c2e5708/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/7c1fd387e815ccc33916fba4021eea68650657a9/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6343ea52d0ed77d1060b9662a8faed409bdca28d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c5582221d5e79429cee5932a25b523d7a0235fb8/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/29ff82cca17ef2414608c11ecb82bbfb76e2ce84/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c68a8ef843ae23714dce719dac1d2c650855f78f/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52a3d08d7669a6ac07c31d248c0b3eb49d76975b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6decba00b6ac0ba13d39b812ceb326a7ba0c8679/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c349951b7ce3adc53cfcc2fde7f2551dc84a10ce/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52ce3502c7b81e256824d00e8ee93105a7f6955b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/fc23e7c77c3640a6e94f2491adb0d0ccd2e23d71/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/70b95d9b887223470ddbb512494b859bfff48be3/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js"
            ]
        },
        "GetNamedEntity": {
            "http": {
                "method": "GET",
                "requestUri": "/named-entities/{namedEntityArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntityArn"
                ],
                "members": {
                    "namedEntityArn": {
                        "location": "uri",
                        "locationName": "namedEntityArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namedEntity": {
                        "shape": "S2"
                    },
                    "kmsKeyId": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/b1f95a55513efdd3ccfec262e04f8e51f1256b6d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/32e2777dbf0ea72661e90908bb00ecf17fde4257/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/894d9648140554e47d4fa811aaabb2436396f3db/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a73ef9778b653b475d85cf2e985a1f62da18673d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/e2ffcaab54c4706cb11d2dabf7860b7b213dfba5/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/4a57db99e78d4eb8040c04b5d5a1a1d993d83182/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/91b660a166489e8eebaf0f81b296b04348bdc518/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/14a51731b60833439b12aa30e751fddd93e55467/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/93910cdd8a7d51bb504ffcf9a89d60c33d2fc0a6/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/259c584e365dada646c9514025f2bf8c605aec64/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/b2bd7412ec3b2378e445a3a15c79519bf4fc0509/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/258d37909e9cc1345f424ca1fb1252df6c2e5708/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/7c1fd387e815ccc33916fba4021eea68650657a9/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6343ea52d0ed77d1060b9662a8faed409bdca28d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c5582221d5e79429cee5932a25b523d7a0235fb8/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/29ff82cca17ef2414608c11ecb82bbfb76e2ce84/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c68a8ef843ae23714dce719dac1d2c650855f78f/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52a3d08d7669a6ac07c31d248c0b3eb49d76975b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6decba00b6ac0ba13d39b812ceb326a7ba0c8679/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c349951b7ce3adc53cfcc2fde7f2551dc84a10ce/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52ce3502c7b81e256824d00e8ee93105a7f6955b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/fc23e7c77c3640a6e94f2491adb0d0ccd2e23d71/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/70b95d9b887223470ddbb512494b859bfff48be3/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js"
            ]
        },
        "ListNamedEntities": {
            "http": {
                "method": "GET",
                "requestUri": "/named-entities"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namedEntityList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "name": {},
                                "createTimestamp": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/b1f95a55513efdd3ccfec262e04f8e51f1256b6d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/32e2777dbf0ea72661e90908bb00ecf17fde4257/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/894d9648140554e47d4fa811aaabb2436396f3db/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a73ef9778b653b475d85cf2e985a1f62da18673d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/e2ffcaab54c4706cb11d2dabf7860b7b213dfba5/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/4a57db99e78d4eb8040c04b5d5a1a1d993d83182/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/91b660a166489e8eebaf0f81b296b04348bdc518/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/14a51731b60833439b12aa30e751fddd93e55467/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/93910cdd8a7d51bb504ffcf9a89d60c33d2fc0a6/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/259c584e365dada646c9514025f2bf8c605aec64/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/b2bd7412ec3b2378e445a3a15c79519bf4fc0509/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/258d37909e9cc1345f424ca1fb1252df6c2e5708/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/7c1fd387e815ccc33916fba4021eea68650657a9/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6343ea52d0ed77d1060b9662a8faed409bdca28d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c5582221d5e79429cee5932a25b523d7a0235fb8/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/29ff82cca17ef2414608c11ecb82bbfb76e2ce84/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c68a8ef843ae23714dce719dac1d2c650855f78f/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52a3d08d7669a6ac07c31d248c0b3eb49d76975b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6decba00b6ac0ba13d39b812ceb326a7ba0c8679/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c349951b7ce3adc53cfcc2fde7f2551dc84a10ce/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52ce3502c7b81e256824d00e8ee93105a7f6955b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/fc23e7c77c3640a6e94f2491adb0d0ccd2e23d71/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/70b95d9b887223470ddbb512494b859bfff48be3/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js"
            ]
        },
        "UpdateNamedEntity": {
            "http": {
                "method": "PUT",
                "requestUri": "/named-entities/{namedEntityArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntityArn",
                    "namedEntity"
                ],
                "members": {
                    "namedEntityArn": {
                        "location": "uri",
                        "locationName": "namedEntityArn"
                    },
                    "namedEntity": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/b1f95a55513efdd3ccfec262e04f8e51f1256b6d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/32e2777dbf0ea72661e90908bb00ecf17fde4257/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/894d9648140554e47d4fa811aaabb2436396f3db/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a73ef9778b653b475d85cf2e985a1f62da18673d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/e2ffcaab54c4706cb11d2dabf7860b7b213dfba5/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/4a57db99e78d4eb8040c04b5d5a1a1d993d83182/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/91b660a166489e8eebaf0f81b296b04348bdc518/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/14a51731b60833439b12aa30e751fddd93e55467/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/93910cdd8a7d51bb504ffcf9a89d60c33d2fc0a6/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/259c584e365dada646c9514025f2bf8c605aec64/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/b2bd7412ec3b2378e445a3a15c79519bf4fc0509/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/258d37909e9cc1345f424ca1fb1252df6c2e5708/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/7c1fd387e815ccc33916fba4021eea68650657a9/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6343ea52d0ed77d1060b9662a8faed409bdca28d/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c5582221d5e79429cee5932a25b523d7a0235fb8/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/29ff82cca17ef2414608c11ecb82bbfb76e2ce84/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c68a8ef843ae23714dce719dac1d2c650855f78f/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52a3d08d7669a6ac07c31d248c0b3eb49d76975b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/6decba00b6ac0ba13d39b812ceb326a7ba0c8679/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/c349951b7ce3adc53cfcc2fde7f2551dc84a10ce/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/52ce3502c7b81e256824d00e8ee93105a7f6955b/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/fc23e7c77c3640a6e94f2491adb0d0ccd2e23d71/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/70b95d9b887223470ddbb512494b859bfff48be3/main.js",
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "members": {
                "name": {},
                "description": {},
                "regex": {
                    "type": "string",
                    "sensitive": true
                },
                "keywords": {
                    "type": "list",
                    "member": {}
                },
                "severityForOne": {
                    "type": "integer"
                },
                "severityForMany": {
                    "type": "integer"
                },
                "maximumMatchDistance": {
                    "type": "integer"
                }
            }
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        }
    }
}