{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "steward",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Steward",
        "serviceId": "steward",
        "signatureVersion": "v4",
        "uid": "steward-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FSZO5VNSFZR4SWE3H6QMUKJQQRQHSBHXCYUH7SONI5IMCTWNA6CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WESKN63OVDJF6HC45HOZ3PLVWFZCCUDKOOT4TFBFV7MQPPMJ5JPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AEHSGA6U3R6Q7NDTHFSWQTV7EEQF5ZF3EDUW4JRCKRDY5VZYJ55A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KR2RE5D463LSHOY5IGGIUXVNDB4BKMNOGGZOJLEPT6MPVNHBBRJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NKQJ7QEZK7FDUTX3G2NVYWBX6DVIJDA53QQ6IVD5W5CSCCOOLXKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VGLS72DYB4OHZZLJRLKNSI2TIDSI6MPZ7NKYYCYNC4RGH26C6CHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6UPRZGMXNGGU2NP3J27PREKUSTZN6KA2EXXCHMUQYBN3UDLKAXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PQDOIQVZ234QIHBWJN24XQHGLFTYKZVV57XDKWYYR37DLMDQK7SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OIX3A27YWUOV44MG2LYBMCETO7BGXIKCEZUITGEVMCORABZR6QPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AAP52ORBJPNO4M6RORRFO5SYI3QPHG5C4IBAW7VW7LRXJ6ZSQOIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMWLCB4DPNVLNUDF4UBPFYVM7R4ROP4DYNCWPDMTW7AJWXARRZPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGPRJA3PKA3PHWCLEZYVPTC7UM5WKNCKDQLHV4PN27EYIE4TYR4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYTFFRHQBVSHGEP4JOYMIGE4LPXUMNWRI66ITJ2LQVTYYVXCIAIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U5LLL7PXMEVQENMHZN7RDIRVOLNXWRVRRDZDEXTCE55MD6TQA2SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4J44RK4B4AWB7XEFWL62XXECWHQXC5UVXPRVFTS4EAT7THIUEXTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KGRU2ZJPV3NRFTN5E3N6REEHXZHX4IPW7PFATFYVDQZHCYZNFXWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7NSX6FPQPKN33QK3VO3PO2AAAYEP4QCV4H7W6DVSCZ7WE6AFRSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZS4H7Q77YXN2RB6UP2AMS7BO3D6LXXGWUTTNK5RS25S7IT7H4GQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BCNTXOKINBAO2EGT467ZCULO53IHCSBPOEQYQHSA4R4Y6C3NZEHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUPLLNTYIW6TFDLWKW66L2BC3ATEMGSPVPYNK3WCW6SHBTLZKPJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RSGWMDCV2HGCDG64GPAW2P62RHAOFMQSO2YSBE6XONMC5NRPR3WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QB3IXR5ON6QQ3FUZFM7HT77OQXKARLMLRIADT6UFGUYU6SUOKZNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js"
        ]
    },
    "operations": {
        "CreateNamedEntity": {
            "http": {
                "requestUri": "/named-entities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntity"
                ],
                "members": {
                    "namedEntity": {
                        "shape": "S2"
                    },
                    "kmsKeyId": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namedEntityArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WESKN63OVDJF6HC45HOZ3PLVWFZCCUDKOOT4TFBFV7MQPPMJ5JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEHSGA6U3R6Q7NDTHFSWQTV7EEQF5ZF3EDUW4JRCKRDY5VZYJ55A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KR2RE5D463LSHOY5IGGIUXVNDB4BKMNOGGZOJLEPT6MPVNHBBRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQJ7QEZK7FDUTX3G2NVYWBX6DVIJDA53QQ6IVD5W5CSCCOOLXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGLS72DYB4OHZZLJRLKNSI2TIDSI6MPZ7NKYYCYNC4RGH26C6CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6UPRZGMXNGGU2NP3J27PREKUSTZN6KA2EXXCHMUQYBN3UDLKAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQDOIQVZ234QIHBWJN24XQHGLFTYKZVV57XDKWYYR37DLMDQK7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX3A27YWUOV44MG2LYBMCETO7BGXIKCEZUITGEVMCORABZR6QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAP52ORBJPNO4M6RORRFO5SYI3QPHG5C4IBAW7VW7LRXJ6ZSQOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMWLCB4DPNVLNUDF4UBPFYVM7R4ROP4DYNCWPDMTW7AJWXARRZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGPRJA3PKA3PHWCLEZYVPTC7UM5WKNCKDQLHV4PN27EYIE4TYR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYTFFRHQBVSHGEP4JOYMIGE4LPXUMNWRI66ITJ2LQVTYYVXCIAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5LLL7PXMEVQENMHZN7RDIRVOLNXWRVRRDZDEXTCE55MD6TQA2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J44RK4B4AWB7XEFWL62XXECWHQXC5UVXPRVFTS4EAT7THIUEXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRU2ZJPV3NRFTN5E3N6REEHXZHX4IPW7PFATFYVDQZHCYZNFXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7NSX6FPQPKN33QK3VO3PO2AAAYEP4QCV4H7W6DVSCZ7WE6AFRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS4H7Q77YXN2RB6UP2AMS7BO3D6LXXGWUTTNK5RS25S7IT7H4GQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCNTXOKINBAO2EGT467ZCULO53IHCSBPOEQYQHSA4R4Y6C3NZEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUPLLNTYIW6TFDLWKW66L2BC3ATEMGSPVPYNK3WCW6SHBTLZKPJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSGWMDCV2HGCDG64GPAW2P62RHAOFMQSO2YSBE6XONMC5NRPR3WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB3IXR5ON6QQ3FUZFM7HT77OQXKARLMLRIADT6UFGUYU6SUOKZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js"
            ]
        },
        "DeleteNamedEntity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/named-entities/{namedEntityArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntityArn"
                ],
                "members": {
                    "namedEntityArn": {
                        "location": "uri",
                        "locationName": "namedEntityArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WESKN63OVDJF6HC45HOZ3PLVWFZCCUDKOOT4TFBFV7MQPPMJ5JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEHSGA6U3R6Q7NDTHFSWQTV7EEQF5ZF3EDUW4JRCKRDY5VZYJ55A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KR2RE5D463LSHOY5IGGIUXVNDB4BKMNOGGZOJLEPT6MPVNHBBRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQJ7QEZK7FDUTX3G2NVYWBX6DVIJDA53QQ6IVD5W5CSCCOOLXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGLS72DYB4OHZZLJRLKNSI2TIDSI6MPZ7NKYYCYNC4RGH26C6CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6UPRZGMXNGGU2NP3J27PREKUSTZN6KA2EXXCHMUQYBN3UDLKAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQDOIQVZ234QIHBWJN24XQHGLFTYKZVV57XDKWYYR37DLMDQK7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX3A27YWUOV44MG2LYBMCETO7BGXIKCEZUITGEVMCORABZR6QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAP52ORBJPNO4M6RORRFO5SYI3QPHG5C4IBAW7VW7LRXJ6ZSQOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMWLCB4DPNVLNUDF4UBPFYVM7R4ROP4DYNCWPDMTW7AJWXARRZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGPRJA3PKA3PHWCLEZYVPTC7UM5WKNCKDQLHV4PN27EYIE4TYR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYTFFRHQBVSHGEP4JOYMIGE4LPXUMNWRI66ITJ2LQVTYYVXCIAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5LLL7PXMEVQENMHZN7RDIRVOLNXWRVRRDZDEXTCE55MD6TQA2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J44RK4B4AWB7XEFWL62XXECWHQXC5UVXPRVFTS4EAT7THIUEXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRU2ZJPV3NRFTN5E3N6REEHXZHX4IPW7PFATFYVDQZHCYZNFXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7NSX6FPQPKN33QK3VO3PO2AAAYEP4QCV4H7W6DVSCZ7WE6AFRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS4H7Q77YXN2RB6UP2AMS7BO3D6LXXGWUTTNK5RS25S7IT7H4GQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCNTXOKINBAO2EGT467ZCULO53IHCSBPOEQYQHSA4R4Y6C3NZEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUPLLNTYIW6TFDLWKW66L2BC3ATEMGSPVPYNK3WCW6SHBTLZKPJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSGWMDCV2HGCDG64GPAW2P62RHAOFMQSO2YSBE6XONMC5NRPR3WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB3IXR5ON6QQ3FUZFM7HT77OQXKARLMLRIADT6UFGUYU6SUOKZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js"
            ]
        },
        "DeprecateNamedEntity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/named-entities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntityArn"
                ],
                "members": {
                    "namedEntityArn": {
                        "location": "querystring",
                        "locationName": "namedEntityArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WESKN63OVDJF6HC45HOZ3PLVWFZCCUDKOOT4TFBFV7MQPPMJ5JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEHSGA6U3R6Q7NDTHFSWQTV7EEQF5ZF3EDUW4JRCKRDY5VZYJ55A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KR2RE5D463LSHOY5IGGIUXVNDB4BKMNOGGZOJLEPT6MPVNHBBRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQJ7QEZK7FDUTX3G2NVYWBX6DVIJDA53QQ6IVD5W5CSCCOOLXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGLS72DYB4OHZZLJRLKNSI2TIDSI6MPZ7NKYYCYNC4RGH26C6CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6UPRZGMXNGGU2NP3J27PREKUSTZN6KA2EXXCHMUQYBN3UDLKAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQDOIQVZ234QIHBWJN24XQHGLFTYKZVV57XDKWYYR37DLMDQK7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX3A27YWUOV44MG2LYBMCETO7BGXIKCEZUITGEVMCORABZR6QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAP52ORBJPNO4M6RORRFO5SYI3QPHG5C4IBAW7VW7LRXJ6ZSQOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMWLCB4DPNVLNUDF4UBPFYVM7R4ROP4DYNCWPDMTW7AJWXARRZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGPRJA3PKA3PHWCLEZYVPTC7UM5WKNCKDQLHV4PN27EYIE4TYR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYTFFRHQBVSHGEP4JOYMIGE4LPXUMNWRI66ITJ2LQVTYYVXCIAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5LLL7PXMEVQENMHZN7RDIRVOLNXWRVRRDZDEXTCE55MD6TQA2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J44RK4B4AWB7XEFWL62XXECWHQXC5UVXPRVFTS4EAT7THIUEXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRU2ZJPV3NRFTN5E3N6REEHXZHX4IPW7PFATFYVDQZHCYZNFXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7NSX6FPQPKN33QK3VO3PO2AAAYEP4QCV4H7W6DVSCZ7WE6AFRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS4H7Q77YXN2RB6UP2AMS7BO3D6LXXGWUTTNK5RS25S7IT7H4GQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCNTXOKINBAO2EGT467ZCULO53IHCSBPOEQYQHSA4R4Y6C3NZEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUPLLNTYIW6TFDLWKW66L2BC3ATEMGSPVPYNK3WCW6SHBTLZKPJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSGWMDCV2HGCDG64GPAW2P62RHAOFMQSO2YSBE6XONMC5NRPR3WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB3IXR5ON6QQ3FUZFM7HT77OQXKARLMLRIADT6UFGUYU6SUOKZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js"
            ]
        },
        "DetectNamedEntities": {
            "http": {
                "requestUri": "/detect-named-entities"
            },
            "input": {
                "type": "structure",
                "members": {
                    "content": {},
                    "namedEntityArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namedEntities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "arn": {},
                                "count": {
                                    "type": "integer"
                                },
                                "detections": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "start": {
                                                "type": "integer"
                                            },
                                            "end": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WESKN63OVDJF6HC45HOZ3PLVWFZCCUDKOOT4TFBFV7MQPPMJ5JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEHSGA6U3R6Q7NDTHFSWQTV7EEQF5ZF3EDUW4JRCKRDY5VZYJ55A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KR2RE5D463LSHOY5IGGIUXVNDB4BKMNOGGZOJLEPT6MPVNHBBRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQJ7QEZK7FDUTX3G2NVYWBX6DVIJDA53QQ6IVD5W5CSCCOOLXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGLS72DYB4OHZZLJRLKNSI2TIDSI6MPZ7NKYYCYNC4RGH26C6CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6UPRZGMXNGGU2NP3J27PREKUSTZN6KA2EXXCHMUQYBN3UDLKAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQDOIQVZ234QIHBWJN24XQHGLFTYKZVV57XDKWYYR37DLMDQK7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX3A27YWUOV44MG2LYBMCETO7BGXIKCEZUITGEVMCORABZR6QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAP52ORBJPNO4M6RORRFO5SYI3QPHG5C4IBAW7VW7LRXJ6ZSQOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMWLCB4DPNVLNUDF4UBPFYVM7R4ROP4DYNCWPDMTW7AJWXARRZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGPRJA3PKA3PHWCLEZYVPTC7UM5WKNCKDQLHV4PN27EYIE4TYR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYTFFRHQBVSHGEP4JOYMIGE4LPXUMNWRI66ITJ2LQVTYYVXCIAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5LLL7PXMEVQENMHZN7RDIRVOLNXWRVRRDZDEXTCE55MD6TQA2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J44RK4B4AWB7XEFWL62XXECWHQXC5UVXPRVFTS4EAT7THIUEXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRU2ZJPV3NRFTN5E3N6REEHXZHX4IPW7PFATFYVDQZHCYZNFXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7NSX6FPQPKN33QK3VO3PO2AAAYEP4QCV4H7W6DVSCZ7WE6AFRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS4H7Q77YXN2RB6UP2AMS7BO3D6LXXGWUTTNK5RS25S7IT7H4GQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCNTXOKINBAO2EGT467ZCULO53IHCSBPOEQYQHSA4R4Y6C3NZEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUPLLNTYIW6TFDLWKW66L2BC3ATEMGSPVPYNK3WCW6SHBTLZKPJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSGWMDCV2HGCDG64GPAW2P62RHAOFMQSO2YSBE6XONMC5NRPR3WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB3IXR5ON6QQ3FUZFM7HT77OQXKARLMLRIADT6UFGUYU6SUOKZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js"
            ]
        },
        "GetNamedEntity": {
            "http": {
                "method": "GET",
                "requestUri": "/named-entities/{namedEntityArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntityArn"
                ],
                "members": {
                    "namedEntityArn": {
                        "location": "uri",
                        "locationName": "namedEntityArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namedEntity": {
                        "shape": "S2"
                    },
                    "kmsKeyId": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WESKN63OVDJF6HC45HOZ3PLVWFZCCUDKOOT4TFBFV7MQPPMJ5JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEHSGA6U3R6Q7NDTHFSWQTV7EEQF5ZF3EDUW4JRCKRDY5VZYJ55A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KR2RE5D463LSHOY5IGGIUXVNDB4BKMNOGGZOJLEPT6MPVNHBBRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQJ7QEZK7FDUTX3G2NVYWBX6DVIJDA53QQ6IVD5W5CSCCOOLXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGLS72DYB4OHZZLJRLKNSI2TIDSI6MPZ7NKYYCYNC4RGH26C6CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6UPRZGMXNGGU2NP3J27PREKUSTZN6KA2EXXCHMUQYBN3UDLKAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQDOIQVZ234QIHBWJN24XQHGLFTYKZVV57XDKWYYR37DLMDQK7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX3A27YWUOV44MG2LYBMCETO7BGXIKCEZUITGEVMCORABZR6QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAP52ORBJPNO4M6RORRFO5SYI3QPHG5C4IBAW7VW7LRXJ6ZSQOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMWLCB4DPNVLNUDF4UBPFYVM7R4ROP4DYNCWPDMTW7AJWXARRZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGPRJA3PKA3PHWCLEZYVPTC7UM5WKNCKDQLHV4PN27EYIE4TYR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYTFFRHQBVSHGEP4JOYMIGE4LPXUMNWRI66ITJ2LQVTYYVXCIAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5LLL7PXMEVQENMHZN7RDIRVOLNXWRVRRDZDEXTCE55MD6TQA2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J44RK4B4AWB7XEFWL62XXECWHQXC5UVXPRVFTS4EAT7THIUEXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRU2ZJPV3NRFTN5E3N6REEHXZHX4IPW7PFATFYVDQZHCYZNFXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7NSX6FPQPKN33QK3VO3PO2AAAYEP4QCV4H7W6DVSCZ7WE6AFRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS4H7Q77YXN2RB6UP2AMS7BO3D6LXXGWUTTNK5RS25S7IT7H4GQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCNTXOKINBAO2EGT467ZCULO53IHCSBPOEQYQHSA4R4Y6C3NZEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUPLLNTYIW6TFDLWKW66L2BC3ATEMGSPVPYNK3WCW6SHBTLZKPJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSGWMDCV2HGCDG64GPAW2P62RHAOFMQSO2YSBE6XONMC5NRPR3WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB3IXR5ON6QQ3FUZFM7HT77OQXKARLMLRIADT6UFGUYU6SUOKZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js"
            ]
        },
        "ListNamedEntities": {
            "http": {
                "method": "GET",
                "requestUri": "/named-entities"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namedEntityList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "name": {},
                                "createTimestamp": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WESKN63OVDJF6HC45HOZ3PLVWFZCCUDKOOT4TFBFV7MQPPMJ5JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEHSGA6U3R6Q7NDTHFSWQTV7EEQF5ZF3EDUW4JRCKRDY5VZYJ55A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KR2RE5D463LSHOY5IGGIUXVNDB4BKMNOGGZOJLEPT6MPVNHBBRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQJ7QEZK7FDUTX3G2NVYWBX6DVIJDA53QQ6IVD5W5CSCCOOLXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGLS72DYB4OHZZLJRLKNSI2TIDSI6MPZ7NKYYCYNC4RGH26C6CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6UPRZGMXNGGU2NP3J27PREKUSTZN6KA2EXXCHMUQYBN3UDLKAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQDOIQVZ234QIHBWJN24XQHGLFTYKZVV57XDKWYYR37DLMDQK7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX3A27YWUOV44MG2LYBMCETO7BGXIKCEZUITGEVMCORABZR6QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAP52ORBJPNO4M6RORRFO5SYI3QPHG5C4IBAW7VW7LRXJ6ZSQOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMWLCB4DPNVLNUDF4UBPFYVM7R4ROP4DYNCWPDMTW7AJWXARRZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGPRJA3PKA3PHWCLEZYVPTC7UM5WKNCKDQLHV4PN27EYIE4TYR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYTFFRHQBVSHGEP4JOYMIGE4LPXUMNWRI66ITJ2LQVTYYVXCIAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5LLL7PXMEVQENMHZN7RDIRVOLNXWRVRRDZDEXTCE55MD6TQA2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J44RK4B4AWB7XEFWL62XXECWHQXC5UVXPRVFTS4EAT7THIUEXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRU2ZJPV3NRFTN5E3N6REEHXZHX4IPW7PFATFYVDQZHCYZNFXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7NSX6FPQPKN33QK3VO3PO2AAAYEP4QCV4H7W6DVSCZ7WE6AFRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS4H7Q77YXN2RB6UP2AMS7BO3D6LXXGWUTTNK5RS25S7IT7H4GQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCNTXOKINBAO2EGT467ZCULO53IHCSBPOEQYQHSA4R4Y6C3NZEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUPLLNTYIW6TFDLWKW66L2BC3ATEMGSPVPYNK3WCW6SHBTLZKPJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSGWMDCV2HGCDG64GPAW2P62RHAOFMQSO2YSBE6XONMC5NRPR3WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB3IXR5ON6QQ3FUZFM7HT77OQXKARLMLRIADT6UFGUYU6SUOKZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js"
            ]
        },
        "UpdateNamedEntity": {
            "http": {
                "method": "PUT",
                "requestUri": "/named-entities/{namedEntityArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntityArn",
                    "namedEntity"
                ],
                "members": {
                    "namedEntityArn": {
                        "location": "uri",
                        "locationName": "namedEntityArn"
                    },
                    "namedEntity": {
                        "shape": "S2"
                    },
                    "kmsKeyId": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WESKN63OVDJF6HC45HOZ3PLVWFZCCUDKOOT4TFBFV7MQPPMJ5JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEHSGA6U3R6Q7NDTHFSWQTV7EEQF5ZF3EDUW4JRCKRDY5VZYJ55A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KR2RE5D463LSHOY5IGGIUXVNDB4BKMNOGGZOJLEPT6MPVNHBBRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQJ7QEZK7FDUTX3G2NVYWBX6DVIJDA53QQ6IVD5W5CSCCOOLXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGLS72DYB4OHZZLJRLKNSI2TIDSI6MPZ7NKYYCYNC4RGH26C6CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6UPRZGMXNGGU2NP3J27PREKUSTZN6KA2EXXCHMUQYBN3UDLKAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQDOIQVZ234QIHBWJN24XQHGLFTYKZVV57XDKWYYR37DLMDQK7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX3A27YWUOV44MG2LYBMCETO7BGXIKCEZUITGEVMCORABZR6QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAP52ORBJPNO4M6RORRFO5SYI3QPHG5C4IBAW7VW7LRXJ6ZSQOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMWLCB4DPNVLNUDF4UBPFYVM7R4ROP4DYNCWPDMTW7AJWXARRZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGPRJA3PKA3PHWCLEZYVPTC7UM5WKNCKDQLHV4PN27EYIE4TYR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYTFFRHQBVSHGEP4JOYMIGE4LPXUMNWRI66ITJ2LQVTYYVXCIAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5LLL7PXMEVQENMHZN7RDIRVOLNXWRVRRDZDEXTCE55MD6TQA2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J44RK4B4AWB7XEFWL62XXECWHQXC5UVXPRVFTS4EAT7THIUEXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRU2ZJPV3NRFTN5E3N6REEHXZHX4IPW7PFATFYVDQZHCYZNFXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7NSX6FPQPKN33QK3VO3PO2AAAYEP4QCV4H7W6DVSCZ7WE6AFRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS4H7Q77YXN2RB6UP2AMS7BO3D6LXXGWUTTNK5RS25S7IT7H4GQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCNTXOKINBAO2EGT467ZCULO53IHCSBPOEQYQHSA4R4Y6C3NZEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUPLLNTYIW6TFDLWKW66L2BC3ATEMGSPVPYNK3WCW6SHBTLZKPJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSGWMDCV2HGCDG64GPAW2P62RHAOFMQSO2YSBE6XONMC5NRPR3WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB3IXR5ON6QQ3FUZFM7HT77OQXKARLMLRIADT6UFGUYU6SUOKZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js"
            ]
        },
        "CreateContentPolicy": {
            "http": {
                "requestUri": "/content-policies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "contentPolicy"
                ],
                "members": {
                    "contentPolicy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentPolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WESKN63OVDJF6HC45HOZ3PLVWFZCCUDKOOT4TFBFV7MQPPMJ5JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEHSGA6U3R6Q7NDTHFSWQTV7EEQF5ZF3EDUW4JRCKRDY5VZYJ55A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KR2RE5D463LSHOY5IGGIUXVNDB4BKMNOGGZOJLEPT6MPVNHBBRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQJ7QEZK7FDUTX3G2NVYWBX6DVIJDA53QQ6IVD5W5CSCCOOLXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGLS72DYB4OHZZLJRLKNSI2TIDSI6MPZ7NKYYCYNC4RGH26C6CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6UPRZGMXNGGU2NP3J27PREKUSTZN6KA2EXXCHMUQYBN3UDLKAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQDOIQVZ234QIHBWJN24XQHGLFTYKZVV57XDKWYYR37DLMDQK7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX3A27YWUOV44MG2LYBMCETO7BGXIKCEZUITGEVMCORABZR6QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAP52ORBJPNO4M6RORRFO5SYI3QPHG5C4IBAW7VW7LRXJ6ZSQOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMWLCB4DPNVLNUDF4UBPFYVM7R4ROP4DYNCWPDMTW7AJWXARRZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGPRJA3PKA3PHWCLEZYVPTC7UM5WKNCKDQLHV4PN27EYIE4TYR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYTFFRHQBVSHGEP4JOYMIGE4LPXUMNWRI66ITJ2LQVTYYVXCIAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5LLL7PXMEVQENMHZN7RDIRVOLNXWRVRRDZDEXTCE55MD6TQA2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J44RK4B4AWB7XEFWL62XXECWHQXC5UVXPRVFTS4EAT7THIUEXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRU2ZJPV3NRFTN5E3N6REEHXZHX4IPW7PFATFYVDQZHCYZNFXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7NSX6FPQPKN33QK3VO3PO2AAAYEP4QCV4H7W6DVSCZ7WE6AFRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS4H7Q77YXN2RB6UP2AMS7BO3D6LXXGWUTTNK5RS25S7IT7H4GQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCNTXOKINBAO2EGT467ZCULO53IHCSBPOEQYQHSA4R4Y6C3NZEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUPLLNTYIW6TFDLWKW66L2BC3ATEMGSPVPYNK3WCW6SHBTLZKPJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSGWMDCV2HGCDG64GPAW2P62RHAOFMQSO2YSBE6XONMC5NRPR3WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB3IXR5ON6QQ3FUZFM7HT77OQXKARLMLRIADT6UFGUYU6SUOKZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js"
            ]
        },
        "DeleteContentPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/content-policies/{contentPolicyArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "contentPolicyArn"
                ],
                "members": {
                    "contentPolicyArn": {
                        "location": "uri",
                        "locationName": "contentPolicyArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WESKN63OVDJF6HC45HOZ3PLVWFZCCUDKOOT4TFBFV7MQPPMJ5JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEHSGA6U3R6Q7NDTHFSWQTV7EEQF5ZF3EDUW4JRCKRDY5VZYJ55A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KR2RE5D463LSHOY5IGGIUXVNDB4BKMNOGGZOJLEPT6MPVNHBBRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQJ7QEZK7FDUTX3G2NVYWBX6DVIJDA53QQ6IVD5W5CSCCOOLXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGLS72DYB4OHZZLJRLKNSI2TIDSI6MPZ7NKYYCYNC4RGH26C6CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6UPRZGMXNGGU2NP3J27PREKUSTZN6KA2EXXCHMUQYBN3UDLKAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQDOIQVZ234QIHBWJN24XQHGLFTYKZVV57XDKWYYR37DLMDQK7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX3A27YWUOV44MG2LYBMCETO7BGXIKCEZUITGEVMCORABZR6QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAP52ORBJPNO4M6RORRFO5SYI3QPHG5C4IBAW7VW7LRXJ6ZSQOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMWLCB4DPNVLNUDF4UBPFYVM7R4ROP4DYNCWPDMTW7AJWXARRZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGPRJA3PKA3PHWCLEZYVPTC7UM5WKNCKDQLHV4PN27EYIE4TYR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYTFFRHQBVSHGEP4JOYMIGE4LPXUMNWRI66ITJ2LQVTYYVXCIAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5LLL7PXMEVQENMHZN7RDIRVOLNXWRVRRDZDEXTCE55MD6TQA2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J44RK4B4AWB7XEFWL62XXECWHQXC5UVXPRVFTS4EAT7THIUEXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRU2ZJPV3NRFTN5E3N6REEHXZHX4IPW7PFATFYVDQZHCYZNFXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7NSX6FPQPKN33QK3VO3PO2AAAYEP4QCV4H7W6DVSCZ7WE6AFRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS4H7Q77YXN2RB6UP2AMS7BO3D6LXXGWUTTNK5RS25S7IT7H4GQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCNTXOKINBAO2EGT467ZCULO53IHCSBPOEQYQHSA4R4Y6C3NZEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUPLLNTYIW6TFDLWKW66L2BC3ATEMGSPVPYNK3WCW6SHBTLZKPJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSGWMDCV2HGCDG64GPAW2P62RHAOFMQSO2YSBE6XONMC5NRPR3WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB3IXR5ON6QQ3FUZFM7HT77OQXKARLMLRIADT6UFGUYU6SUOKZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js"
            ]
        },
        "GetContentPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/content-policies/{contentPolicyArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "contentPolicyArn"
                ],
                "members": {
                    "contentPolicyArn": {
                        "location": "uri",
                        "locationName": "contentPolicyArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentPolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WESKN63OVDJF6HC45HOZ3PLVWFZCCUDKOOT4TFBFV7MQPPMJ5JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEHSGA6U3R6Q7NDTHFSWQTV7EEQF5ZF3EDUW4JRCKRDY5VZYJ55A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KR2RE5D463LSHOY5IGGIUXVNDB4BKMNOGGZOJLEPT6MPVNHBBRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQJ7QEZK7FDUTX3G2NVYWBX6DVIJDA53QQ6IVD5W5CSCCOOLXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGLS72DYB4OHZZLJRLKNSI2TIDSI6MPZ7NKYYCYNC4RGH26C6CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6UPRZGMXNGGU2NP3J27PREKUSTZN6KA2EXXCHMUQYBN3UDLKAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQDOIQVZ234QIHBWJN24XQHGLFTYKZVV57XDKWYYR37DLMDQK7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX3A27YWUOV44MG2LYBMCETO7BGXIKCEZUITGEVMCORABZR6QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAP52ORBJPNO4M6RORRFO5SYI3QPHG5C4IBAW7VW7LRXJ6ZSQOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMWLCB4DPNVLNUDF4UBPFYVM7R4ROP4DYNCWPDMTW7AJWXARRZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGPRJA3PKA3PHWCLEZYVPTC7UM5WKNCKDQLHV4PN27EYIE4TYR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYTFFRHQBVSHGEP4JOYMIGE4LPXUMNWRI66ITJ2LQVTYYVXCIAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5LLL7PXMEVQENMHZN7RDIRVOLNXWRVRRDZDEXTCE55MD6TQA2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J44RK4B4AWB7XEFWL62XXECWHQXC5UVXPRVFTS4EAT7THIUEXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRU2ZJPV3NRFTN5E3N6REEHXZHX4IPW7PFATFYVDQZHCYZNFXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7NSX6FPQPKN33QK3VO3PO2AAAYEP4QCV4H7W6DVSCZ7WE6AFRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS4H7Q77YXN2RB6UP2AMS7BO3D6LXXGWUTTNK5RS25S7IT7H4GQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCNTXOKINBAO2EGT467ZCULO53IHCSBPOEQYQHSA4R4Y6C3NZEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUPLLNTYIW6TFDLWKW66L2BC3ATEMGSPVPYNK3WCW6SHBTLZKPJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSGWMDCV2HGCDG64GPAW2P62RHAOFMQSO2YSBE6XONMC5NRPR3WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB3IXR5ON6QQ3FUZFM7HT77OQXKARLMLRIADT6UFGUYU6SUOKZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js"
            ]
        },
        "ListContentPolicies": {
            "http": {
                "method": "GET",
                "requestUri": "/content-policies"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentPolicyList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "name": {},
                                "createTimestamp": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WESKN63OVDJF6HC45HOZ3PLVWFZCCUDKOOT4TFBFV7MQPPMJ5JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEHSGA6U3R6Q7NDTHFSWQTV7EEQF5ZF3EDUW4JRCKRDY5VZYJ55A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KR2RE5D463LSHOY5IGGIUXVNDB4BKMNOGGZOJLEPT6MPVNHBBRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQJ7QEZK7FDUTX3G2NVYWBX6DVIJDA53QQ6IVD5W5CSCCOOLXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGLS72DYB4OHZZLJRLKNSI2TIDSI6MPZ7NKYYCYNC4RGH26C6CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6UPRZGMXNGGU2NP3J27PREKUSTZN6KA2EXXCHMUQYBN3UDLKAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQDOIQVZ234QIHBWJN24XQHGLFTYKZVV57XDKWYYR37DLMDQK7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX3A27YWUOV44MG2LYBMCETO7BGXIKCEZUITGEVMCORABZR6QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAP52ORBJPNO4M6RORRFO5SYI3QPHG5C4IBAW7VW7LRXJ6ZSQOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMWLCB4DPNVLNUDF4UBPFYVM7R4ROP4DYNCWPDMTW7AJWXARRZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGPRJA3PKA3PHWCLEZYVPTC7UM5WKNCKDQLHV4PN27EYIE4TYR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYTFFRHQBVSHGEP4JOYMIGE4LPXUMNWRI66ITJ2LQVTYYVXCIAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5LLL7PXMEVQENMHZN7RDIRVOLNXWRVRRDZDEXTCE55MD6TQA2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J44RK4B4AWB7XEFWL62XXECWHQXC5UVXPRVFTS4EAT7THIUEXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRU2ZJPV3NRFTN5E3N6REEHXZHX4IPW7PFATFYVDQZHCYZNFXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7NSX6FPQPKN33QK3VO3PO2AAAYEP4QCV4H7W6DVSCZ7WE6AFRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS4H7Q77YXN2RB6UP2AMS7BO3D6LXXGWUTTNK5RS25S7IT7H4GQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCNTXOKINBAO2EGT467ZCULO53IHCSBPOEQYQHSA4R4Y6C3NZEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUPLLNTYIW6TFDLWKW66L2BC3ATEMGSPVPYNK3WCW6SHBTLZKPJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSGWMDCV2HGCDG64GPAW2P62RHAOFMQSO2YSBE6XONMC5NRPR3WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB3IXR5ON6QQ3FUZFM7HT77OQXKARLMLRIADT6UFGUYU6SUOKZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js"
            ]
        },
        "UpdateContentPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/content-policies/{contentPolicyArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "contentPolicyArn",
                    "contentPolicy"
                ],
                "members": {
                    "contentPolicyArn": {
                        "location": "uri",
                        "locationName": "contentPolicyArn"
                    },
                    "contentPolicy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WESKN63OVDJF6HC45HOZ3PLVWFZCCUDKOOT4TFBFV7MQPPMJ5JPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AEHSGA6U3R6Q7NDTHFSWQTV7EEQF5ZF3EDUW4JRCKRDY5VZYJ55A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KR2RE5D463LSHOY5IGGIUXVNDB4BKMNOGGZOJLEPT6MPVNHBBRJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQJ7QEZK7FDUTX3G2NVYWBX6DVIJDA53QQ6IVD5W5CSCCOOLXKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKIRD3H5AIKS3TDF2MQ3VUMC76ECC54EJM3PKONMT77RHBVLIPVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGLS72DYB4OHZZLJRLKNSI2TIDSI6MPZ7NKYYCYNC4RGH26C6CHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6UPRZGMXNGGU2NP3J27PREKUSTZN6KA2EXXCHMUQYBN3UDLKAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQDOIQVZ234QIHBWJN24XQHGLFTYKZVV57XDKWYYR37DLMDQK7SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OIX3A27YWUOV44MG2LYBMCETO7BGXIKCEZUITGEVMCORABZR6QPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAP52ORBJPNO4M6RORRFO5SYI3QPHG5C4IBAW7VW7LRXJ6ZSQOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMWLCB4DPNVLNUDF4UBPFYVM7R4ROP4DYNCWPDMTW7AJWXARRZPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGPRJA3PKA3PHWCLEZYVPTC7UM5WKNCKDQLHV4PN27EYIE4TYR4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYTFFRHQBVSHGEP4JOYMIGE4LPXUMNWRI66ITJ2LQVTYYVXCIAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5LLL7PXMEVQENMHZN7RDIRVOLNXWRVRRDZDEXTCE55MD6TQA2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4J44RK4B4AWB7XEFWL62XXECWHQXC5UVXPRVFTS4EAT7THIUEXTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KGRU2ZJPV3NRFTN5E3N6REEHXZHX4IPW7PFATFYVDQZHCYZNFXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7NSX6FPQPKN33QK3VO3PO2AAAYEP4QCV4H7W6DVSCZ7WE6AFRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGTEXDG4QNUY4IKJIB4J3YY7XIGEFAPPEPNMLW22R462KS7ZR4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS4H7Q77YXN2RB6UP2AMS7BO3D6LXXGWUTTNK5RS25S7IT7H4GQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCNTXOKINBAO2EGT467ZCULO53IHCSBPOEQYQHSA4R4Y6C3NZEHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUPLLNTYIW6TFDLWKW66L2BC3ATEMGSPVPYNK3WCW6SHBTLZKPJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RSGWMDCV2HGCDG64GPAW2P62RHAOFMQSO2YSBE6XONMC5NRPR3WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB3IXR5ON6QQ3FUZFM7HT77OQXKARLMLRIADT6UFGUYU6SUOKZNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "members": {
                "name": {},
                "description": {},
                "regex": {
                    "type": "string",
                    "sensitive": true
                },
                "keywords": {
                    "type": "list",
                    "member": {}
                },
                "severityForOne": {
                    "type": "integer"
                },
                "severityForMany": {
                    "type": "integer"
                },
                "maximumMatchDistance": {
                    "type": "integer"
                }
            }
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        },
        "S6": {
            "type": "structure",
            "members": {
                "name": {},
                "description": {},
                "regex": {
                    "type": "string",
                    "sensitive": true
                },
                "keywords": {
                    "type": "list",
                    "member": {}
                },
                "severityForOne": {
                    "type": "integer"
                },
                "severityForMany": {
                    "type": "integer"
                },
                "maximumMatchDistance": {
                    "type": "integer"
                }
            }
        },
        "Sd": {
            "type": "string",
            "sensitive": true
        }
    }
}