{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "steward",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Steward",
        "serviceId": "steward",
        "signatureVersion": "v4",
        "uid": "steward-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GKXVO3ZZ7BWAP3DFURPYPTYUCG6RGKABDX2BLZT5HGJADFIPVBMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GLZZ7AKJO7WYJUGXTURRMG3USC76ARIVRGLPDUMMOZMK23OV7RCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V3FBKW5P5GNS2I24XVHFI7SOTQWSANP2KGGCHL77CDDRUP6U767Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZGOXRNZ3JMEZKCEG6JGXHB5DTN5I57G6RISDJZXRPRAKHBKASUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GWZX7N55ZHWM5EZVOWX4WY65TLTPY7IOFRAQONODYK56O3I7WPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O23EIXGKQWNVIZRFULVVU4UKIODSRDCFBNHTYB7CP7Q4TZRJ5LYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNK2QAMYIM2IWVZYCTKKTCPBKOEXVIOXLY2N4LFI25J2ZLE5KCSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4K6IU6VMZVUHOVGI3T6HQSTPICXYYZE6EPRLXBZWXGHMVYF7I2NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DCPVWQ45NZVTJKIXCC667NHLFQVRNY2TXBQYWVTREMMQD5TMGGWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3L572SIOPP3KFVR7KVV3HQJIIHHH4VCBFEMCF6R2JQ5FWSR6WAAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OKHFJJHD654RX4UFPGRDIRZLDLEIXYT6P4RJ55DL2PNZDOW3QZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HXIGW5EHN4CKQUVQFOMAZCWLXFJ4HAMHMH42PVDVCIW45OSIFVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UUN64RICU6MLHOOBR7OY6LXG4KZPCQVY3PD2SN64ZRI4ZPXWMUOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TZAE742HRGVZAE6H4RRCIAXHJ5I5D2D3CGVGJJ3QUXSCQMFS6HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMDQKSOP6EGJRKQBSGVLQW5W3WEO72GTODJTGK4KM3HHFJALIXMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A73WNU3IJVSKMFVPS5FF4UKDABGNLAAWRBHF27V65P5BXDW3ECPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NBEJBUEV43MUNU4HBPZG6F7VIAE5VNFO6I7KVBRZWELGGLVLUTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5KCFZUIU4XLZBGQCPB5CBT63O35AB33KNZILJ4IX27W4P53RKAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TTF5OQOGZOOWRSWRPASA6BIAZY7YLHOYAAMHRNIBOXL4YDBKTOEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCO5DC327PEKFDAL3JGCIDYNOGQAYYY5G62TZ7LILG7Z76EHTSLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XMFKINFNQ63ZL3C6J24UC3IUCTWHAXPZZOC3PCC7YSAQDLTM6O4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJYSYUU4Q5HPEMYWKQ63JWELVBCWEFTFFVM6C44DCGTRZO4I2CYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YNYXXUCCHDJ6HSZ6ZJP247CO6UYKYWENAHBI27P6EPQRN5LZLZOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPXJYJOB6ZJVJKNUDUFUZRA5QSZKDLT5TBAAFNQADLPBER6OZEBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XA77UPZ7CM65OG3YVP3BYNNZTRXZFCMMQIIPOW2WJMLVN4SQJQGA/vendors.js"
        ]
    },
    "operations": {
        "CreateNamedEntity": {
            "http": {
                "requestUri": "/named-entities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntity"
                ],
                "members": {
                    "namedEntity": {
                        "shape": "S2"
                    },
                    "kmsKeyId": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namedEntityArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLZZ7AKJO7WYJUGXTURRMG3USC76ARIVRGLPDUMMOZMK23OV7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3FBKW5P5GNS2I24XVHFI7SOTQWSANP2KGGCHL77CDDRUP6U767Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZGOXRNZ3JMEZKCEG6JGXHB5DTN5I57G6RISDJZXRPRAKHBKASUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GWZX7N55ZHWM5EZVOWX4WY65TLTPY7IOFRAQONODYK56O3I7WPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O23EIXGKQWNVIZRFULVVU4UKIODSRDCFBNHTYB7CP7Q4TZRJ5LYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNK2QAMYIM2IWVZYCTKKTCPBKOEXVIOXLY2N4LFI25J2ZLE5KCSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K6IU6VMZVUHOVGI3T6HQSTPICXYYZE6EPRLXBZWXGHMVYF7I2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCPVWQ45NZVTJKIXCC667NHLFQVRNY2TXBQYWVTREMMQD5TMGGWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3L572SIOPP3KFVR7KVV3HQJIIHHH4VCBFEMCF6R2JQ5FWSR6WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OKHFJJHD654RX4UFPGRDIRZLDLEIXYT6P4RJ55DL2PNZDOW3QZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HXIGW5EHN4CKQUVQFOMAZCWLXFJ4HAMHMH42PVDVCIW45OSIFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUN64RICU6MLHOOBR7OY6LXG4KZPCQVY3PD2SN64ZRI4ZPXWMUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TZAE742HRGVZAE6H4RRCIAXHJ5I5D2D3CGVGJJ3QUXSCQMFS6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMDQKSOP6EGJRKQBSGVLQW5W3WEO72GTODJTGK4KM3HHFJALIXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A73WNU3IJVSKMFVPS5FF4UKDABGNLAAWRBHF27V65P5BXDW3ECPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NBEJBUEV43MUNU4HBPZG6F7VIAE5VNFO6I7KVBRZWELGGLVLUTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5KCFZUIU4XLZBGQCPB5CBT63O35AB33KNZILJ4IX27W4P53RKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTF5OQOGZOOWRSWRPASA6BIAZY7YLHOYAAMHRNIBOXL4YDBKTOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCO5DC327PEKFDAL3JGCIDYNOGQAYYY5G62TZ7LILG7Z76EHTSLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMFKINFNQ63ZL3C6J24UC3IUCTWHAXPZZOC3PCC7YSAQDLTM6O4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJYSYUU4Q5HPEMYWKQ63JWELVBCWEFTFFVM6C44DCGTRZO4I2CYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNYXXUCCHDJ6HSZ6ZJP247CO6UYKYWENAHBI27P6EPQRN5LZLZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPXJYJOB6ZJVJKNUDUFUZRA5QSZKDLT5TBAAFNQADLPBER6OZEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA77UPZ7CM65OG3YVP3BYNNZTRXZFCMMQIIPOW2WJMLVN4SQJQGA/vendors.js"
            ]
        },
        "DeleteNamedEntity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/named-entities/{namedEntityArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntityArn"
                ],
                "members": {
                    "namedEntityArn": {
                        "location": "uri",
                        "locationName": "namedEntityArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLZZ7AKJO7WYJUGXTURRMG3USC76ARIVRGLPDUMMOZMK23OV7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3FBKW5P5GNS2I24XVHFI7SOTQWSANP2KGGCHL77CDDRUP6U767Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZGOXRNZ3JMEZKCEG6JGXHB5DTN5I57G6RISDJZXRPRAKHBKASUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GWZX7N55ZHWM5EZVOWX4WY65TLTPY7IOFRAQONODYK56O3I7WPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O23EIXGKQWNVIZRFULVVU4UKIODSRDCFBNHTYB7CP7Q4TZRJ5LYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNK2QAMYIM2IWVZYCTKKTCPBKOEXVIOXLY2N4LFI25J2ZLE5KCSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K6IU6VMZVUHOVGI3T6HQSTPICXYYZE6EPRLXBZWXGHMVYF7I2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCPVWQ45NZVTJKIXCC667NHLFQVRNY2TXBQYWVTREMMQD5TMGGWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3L572SIOPP3KFVR7KVV3HQJIIHHH4VCBFEMCF6R2JQ5FWSR6WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OKHFJJHD654RX4UFPGRDIRZLDLEIXYT6P4RJ55DL2PNZDOW3QZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HXIGW5EHN4CKQUVQFOMAZCWLXFJ4HAMHMH42PVDVCIW45OSIFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUN64RICU6MLHOOBR7OY6LXG4KZPCQVY3PD2SN64ZRI4ZPXWMUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TZAE742HRGVZAE6H4RRCIAXHJ5I5D2D3CGVGJJ3QUXSCQMFS6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMDQKSOP6EGJRKQBSGVLQW5W3WEO72GTODJTGK4KM3HHFJALIXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A73WNU3IJVSKMFVPS5FF4UKDABGNLAAWRBHF27V65P5BXDW3ECPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NBEJBUEV43MUNU4HBPZG6F7VIAE5VNFO6I7KVBRZWELGGLVLUTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5KCFZUIU4XLZBGQCPB5CBT63O35AB33KNZILJ4IX27W4P53RKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTF5OQOGZOOWRSWRPASA6BIAZY7YLHOYAAMHRNIBOXL4YDBKTOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCO5DC327PEKFDAL3JGCIDYNOGQAYYY5G62TZ7LILG7Z76EHTSLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMFKINFNQ63ZL3C6J24UC3IUCTWHAXPZZOC3PCC7YSAQDLTM6O4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJYSYUU4Q5HPEMYWKQ63JWELVBCWEFTFFVM6C44DCGTRZO4I2CYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNYXXUCCHDJ6HSZ6ZJP247CO6UYKYWENAHBI27P6EPQRN5LZLZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPXJYJOB6ZJVJKNUDUFUZRA5QSZKDLT5TBAAFNQADLPBER6OZEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA77UPZ7CM65OG3YVP3BYNNZTRXZFCMMQIIPOW2WJMLVN4SQJQGA/vendors.js"
            ]
        },
        "DeprecateNamedEntity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/named-entities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntityArn"
                ],
                "members": {
                    "namedEntityArn": {
                        "location": "querystring",
                        "locationName": "namedEntityArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLZZ7AKJO7WYJUGXTURRMG3USC76ARIVRGLPDUMMOZMK23OV7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3FBKW5P5GNS2I24XVHFI7SOTQWSANP2KGGCHL77CDDRUP6U767Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZGOXRNZ3JMEZKCEG6JGXHB5DTN5I57G6RISDJZXRPRAKHBKASUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GWZX7N55ZHWM5EZVOWX4WY65TLTPY7IOFRAQONODYK56O3I7WPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O23EIXGKQWNVIZRFULVVU4UKIODSRDCFBNHTYB7CP7Q4TZRJ5LYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNK2QAMYIM2IWVZYCTKKTCPBKOEXVIOXLY2N4LFI25J2ZLE5KCSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K6IU6VMZVUHOVGI3T6HQSTPICXYYZE6EPRLXBZWXGHMVYF7I2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCPVWQ45NZVTJKIXCC667NHLFQVRNY2TXBQYWVTREMMQD5TMGGWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3L572SIOPP3KFVR7KVV3HQJIIHHH4VCBFEMCF6R2JQ5FWSR6WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OKHFJJHD654RX4UFPGRDIRZLDLEIXYT6P4RJ55DL2PNZDOW3QZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HXIGW5EHN4CKQUVQFOMAZCWLXFJ4HAMHMH42PVDVCIW45OSIFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUN64RICU6MLHOOBR7OY6LXG4KZPCQVY3PD2SN64ZRI4ZPXWMUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TZAE742HRGVZAE6H4RRCIAXHJ5I5D2D3CGVGJJ3QUXSCQMFS6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMDQKSOP6EGJRKQBSGVLQW5W3WEO72GTODJTGK4KM3HHFJALIXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A73WNU3IJVSKMFVPS5FF4UKDABGNLAAWRBHF27V65P5BXDW3ECPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NBEJBUEV43MUNU4HBPZG6F7VIAE5VNFO6I7KVBRZWELGGLVLUTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5KCFZUIU4XLZBGQCPB5CBT63O35AB33KNZILJ4IX27W4P53RKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTF5OQOGZOOWRSWRPASA6BIAZY7YLHOYAAMHRNIBOXL4YDBKTOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCO5DC327PEKFDAL3JGCIDYNOGQAYYY5G62TZ7LILG7Z76EHTSLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMFKINFNQ63ZL3C6J24UC3IUCTWHAXPZZOC3PCC7YSAQDLTM6O4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJYSYUU4Q5HPEMYWKQ63JWELVBCWEFTFFVM6C44DCGTRZO4I2CYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNYXXUCCHDJ6HSZ6ZJP247CO6UYKYWENAHBI27P6EPQRN5LZLZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPXJYJOB6ZJVJKNUDUFUZRA5QSZKDLT5TBAAFNQADLPBER6OZEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA77UPZ7CM65OG3YVP3BYNNZTRXZFCMMQIIPOW2WJMLVN4SQJQGA/vendors.js"
            ]
        },
        "DetectNamedEntities": {
            "http": {
                "requestUri": "/detect-named-entities"
            },
            "input": {
                "type": "structure",
                "members": {
                    "content": {},
                    "namedEntityArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namedEntities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "arn": {},
                                "count": {
                                    "type": "integer"
                                },
                                "detections": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "start": {
                                                "type": "integer"
                                            },
                                            "end": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLZZ7AKJO7WYJUGXTURRMG3USC76ARIVRGLPDUMMOZMK23OV7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3FBKW5P5GNS2I24XVHFI7SOTQWSANP2KGGCHL77CDDRUP6U767Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZGOXRNZ3JMEZKCEG6JGXHB5DTN5I57G6RISDJZXRPRAKHBKASUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GWZX7N55ZHWM5EZVOWX4WY65TLTPY7IOFRAQONODYK56O3I7WPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O23EIXGKQWNVIZRFULVVU4UKIODSRDCFBNHTYB7CP7Q4TZRJ5LYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNK2QAMYIM2IWVZYCTKKTCPBKOEXVIOXLY2N4LFI25J2ZLE5KCSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K6IU6VMZVUHOVGI3T6HQSTPICXYYZE6EPRLXBZWXGHMVYF7I2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCPVWQ45NZVTJKIXCC667NHLFQVRNY2TXBQYWVTREMMQD5TMGGWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3L572SIOPP3KFVR7KVV3HQJIIHHH4VCBFEMCF6R2JQ5FWSR6WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OKHFJJHD654RX4UFPGRDIRZLDLEIXYT6P4RJ55DL2PNZDOW3QZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HXIGW5EHN4CKQUVQFOMAZCWLXFJ4HAMHMH42PVDVCIW45OSIFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUN64RICU6MLHOOBR7OY6LXG4KZPCQVY3PD2SN64ZRI4ZPXWMUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TZAE742HRGVZAE6H4RRCIAXHJ5I5D2D3CGVGJJ3QUXSCQMFS6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMDQKSOP6EGJRKQBSGVLQW5W3WEO72GTODJTGK4KM3HHFJALIXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A73WNU3IJVSKMFVPS5FF4UKDABGNLAAWRBHF27V65P5BXDW3ECPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NBEJBUEV43MUNU4HBPZG6F7VIAE5VNFO6I7KVBRZWELGGLVLUTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5KCFZUIU4XLZBGQCPB5CBT63O35AB33KNZILJ4IX27W4P53RKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTF5OQOGZOOWRSWRPASA6BIAZY7YLHOYAAMHRNIBOXL4YDBKTOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCO5DC327PEKFDAL3JGCIDYNOGQAYYY5G62TZ7LILG7Z76EHTSLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMFKINFNQ63ZL3C6J24UC3IUCTWHAXPZZOC3PCC7YSAQDLTM6O4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJYSYUU4Q5HPEMYWKQ63JWELVBCWEFTFFVM6C44DCGTRZO4I2CYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNYXXUCCHDJ6HSZ6ZJP247CO6UYKYWENAHBI27P6EPQRN5LZLZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPXJYJOB6ZJVJKNUDUFUZRA5QSZKDLT5TBAAFNQADLPBER6OZEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA77UPZ7CM65OG3YVP3BYNNZTRXZFCMMQIIPOW2WJMLVN4SQJQGA/vendors.js"
            ]
        },
        "GetNamedEntity": {
            "http": {
                "method": "GET",
                "requestUri": "/named-entities/{namedEntityArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntityArn"
                ],
                "members": {
                    "namedEntityArn": {
                        "location": "uri",
                        "locationName": "namedEntityArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namedEntity": {
                        "shape": "S2"
                    },
                    "kmsKeyId": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLZZ7AKJO7WYJUGXTURRMG3USC76ARIVRGLPDUMMOZMK23OV7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3FBKW5P5GNS2I24XVHFI7SOTQWSANP2KGGCHL77CDDRUP6U767Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZGOXRNZ3JMEZKCEG6JGXHB5DTN5I57G6RISDJZXRPRAKHBKASUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GWZX7N55ZHWM5EZVOWX4WY65TLTPY7IOFRAQONODYK56O3I7WPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O23EIXGKQWNVIZRFULVVU4UKIODSRDCFBNHTYB7CP7Q4TZRJ5LYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNK2QAMYIM2IWVZYCTKKTCPBKOEXVIOXLY2N4LFI25J2ZLE5KCSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K6IU6VMZVUHOVGI3T6HQSTPICXYYZE6EPRLXBZWXGHMVYF7I2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCPVWQ45NZVTJKIXCC667NHLFQVRNY2TXBQYWVTREMMQD5TMGGWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3L572SIOPP3KFVR7KVV3HQJIIHHH4VCBFEMCF6R2JQ5FWSR6WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OKHFJJHD654RX4UFPGRDIRZLDLEIXYT6P4RJ55DL2PNZDOW3QZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HXIGW5EHN4CKQUVQFOMAZCWLXFJ4HAMHMH42PVDVCIW45OSIFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUN64RICU6MLHOOBR7OY6LXG4KZPCQVY3PD2SN64ZRI4ZPXWMUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TZAE742HRGVZAE6H4RRCIAXHJ5I5D2D3CGVGJJ3QUXSCQMFS6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMDQKSOP6EGJRKQBSGVLQW5W3WEO72GTODJTGK4KM3HHFJALIXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A73WNU3IJVSKMFVPS5FF4UKDABGNLAAWRBHF27V65P5BXDW3ECPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NBEJBUEV43MUNU4HBPZG6F7VIAE5VNFO6I7KVBRZWELGGLVLUTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5KCFZUIU4XLZBGQCPB5CBT63O35AB33KNZILJ4IX27W4P53RKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTF5OQOGZOOWRSWRPASA6BIAZY7YLHOYAAMHRNIBOXL4YDBKTOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCO5DC327PEKFDAL3JGCIDYNOGQAYYY5G62TZ7LILG7Z76EHTSLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMFKINFNQ63ZL3C6J24UC3IUCTWHAXPZZOC3PCC7YSAQDLTM6O4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJYSYUU4Q5HPEMYWKQ63JWELVBCWEFTFFVM6C44DCGTRZO4I2CYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNYXXUCCHDJ6HSZ6ZJP247CO6UYKYWENAHBI27P6EPQRN5LZLZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPXJYJOB6ZJVJKNUDUFUZRA5QSZKDLT5TBAAFNQADLPBER6OZEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA77UPZ7CM65OG3YVP3BYNNZTRXZFCMMQIIPOW2WJMLVN4SQJQGA/vendors.js"
            ]
        },
        "ListNamedEntities": {
            "http": {
                "method": "GET",
                "requestUri": "/named-entities"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "namedEntityList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "name": {},
                                "createTimestamp": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLZZ7AKJO7WYJUGXTURRMG3USC76ARIVRGLPDUMMOZMK23OV7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3FBKW5P5GNS2I24XVHFI7SOTQWSANP2KGGCHL77CDDRUP6U767Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZGOXRNZ3JMEZKCEG6JGXHB5DTN5I57G6RISDJZXRPRAKHBKASUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GWZX7N55ZHWM5EZVOWX4WY65TLTPY7IOFRAQONODYK56O3I7WPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O23EIXGKQWNVIZRFULVVU4UKIODSRDCFBNHTYB7CP7Q4TZRJ5LYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNK2QAMYIM2IWVZYCTKKTCPBKOEXVIOXLY2N4LFI25J2ZLE5KCSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K6IU6VMZVUHOVGI3T6HQSTPICXYYZE6EPRLXBZWXGHMVYF7I2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCPVWQ45NZVTJKIXCC667NHLFQVRNY2TXBQYWVTREMMQD5TMGGWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3L572SIOPP3KFVR7KVV3HQJIIHHH4VCBFEMCF6R2JQ5FWSR6WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OKHFJJHD654RX4UFPGRDIRZLDLEIXYT6P4RJ55DL2PNZDOW3QZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HXIGW5EHN4CKQUVQFOMAZCWLXFJ4HAMHMH42PVDVCIW45OSIFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUN64RICU6MLHOOBR7OY6LXG4KZPCQVY3PD2SN64ZRI4ZPXWMUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TZAE742HRGVZAE6H4RRCIAXHJ5I5D2D3CGVGJJ3QUXSCQMFS6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMDQKSOP6EGJRKQBSGVLQW5W3WEO72GTODJTGK4KM3HHFJALIXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A73WNU3IJVSKMFVPS5FF4UKDABGNLAAWRBHF27V65P5BXDW3ECPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NBEJBUEV43MUNU4HBPZG6F7VIAE5VNFO6I7KVBRZWELGGLVLUTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5KCFZUIU4XLZBGQCPB5CBT63O35AB33KNZILJ4IX27W4P53RKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTF5OQOGZOOWRSWRPASA6BIAZY7YLHOYAAMHRNIBOXL4YDBKTOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCO5DC327PEKFDAL3JGCIDYNOGQAYYY5G62TZ7LILG7Z76EHTSLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMFKINFNQ63ZL3C6J24UC3IUCTWHAXPZZOC3PCC7YSAQDLTM6O4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJYSYUU4Q5HPEMYWKQ63JWELVBCWEFTFFVM6C44DCGTRZO4I2CYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNYXXUCCHDJ6HSZ6ZJP247CO6UYKYWENAHBI27P6EPQRN5LZLZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPXJYJOB6ZJVJKNUDUFUZRA5QSZKDLT5TBAAFNQADLPBER6OZEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA77UPZ7CM65OG3YVP3BYNNZTRXZFCMMQIIPOW2WJMLVN4SQJQGA/vendors.js"
            ]
        },
        "UpdateNamedEntity": {
            "http": {
                "method": "PUT",
                "requestUri": "/named-entities/{namedEntityArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "namedEntityArn",
                    "namedEntity"
                ],
                "members": {
                    "namedEntityArn": {
                        "location": "uri",
                        "locationName": "namedEntityArn"
                    },
                    "namedEntity": {
                        "shape": "S2"
                    },
                    "kmsKeyId": {
                        "shape": "Sd"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLZZ7AKJO7WYJUGXTURRMG3USC76ARIVRGLPDUMMOZMK23OV7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3FBKW5P5GNS2I24XVHFI7SOTQWSANP2KGGCHL77CDDRUP6U767Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZGOXRNZ3JMEZKCEG6JGXHB5DTN5I57G6RISDJZXRPRAKHBKASUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GWZX7N55ZHWM5EZVOWX4WY65TLTPY7IOFRAQONODYK56O3I7WPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O23EIXGKQWNVIZRFULVVU4UKIODSRDCFBNHTYB7CP7Q4TZRJ5LYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNK2QAMYIM2IWVZYCTKKTCPBKOEXVIOXLY2N4LFI25J2ZLE5KCSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K6IU6VMZVUHOVGI3T6HQSTPICXYYZE6EPRLXBZWXGHMVYF7I2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCPVWQ45NZVTJKIXCC667NHLFQVRNY2TXBQYWVTREMMQD5TMGGWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3L572SIOPP3KFVR7KVV3HQJIIHHH4VCBFEMCF6R2JQ5FWSR6WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OKHFJJHD654RX4UFPGRDIRZLDLEIXYT6P4RJ55DL2PNZDOW3QZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HXIGW5EHN4CKQUVQFOMAZCWLXFJ4HAMHMH42PVDVCIW45OSIFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUN64RICU6MLHOOBR7OY6LXG4KZPCQVY3PD2SN64ZRI4ZPXWMUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TZAE742HRGVZAE6H4RRCIAXHJ5I5D2D3CGVGJJ3QUXSCQMFS6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMDQKSOP6EGJRKQBSGVLQW5W3WEO72GTODJTGK4KM3HHFJALIXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A73WNU3IJVSKMFVPS5FF4UKDABGNLAAWRBHF27V65P5BXDW3ECPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NBEJBUEV43MUNU4HBPZG6F7VIAE5VNFO6I7KVBRZWELGGLVLUTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5KCFZUIU4XLZBGQCPB5CBT63O35AB33KNZILJ4IX27W4P53RKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTF5OQOGZOOWRSWRPASA6BIAZY7YLHOYAAMHRNIBOXL4YDBKTOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCO5DC327PEKFDAL3JGCIDYNOGQAYYY5G62TZ7LILG7Z76EHTSLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMFKINFNQ63ZL3C6J24UC3IUCTWHAXPZZOC3PCC7YSAQDLTM6O4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJYSYUU4Q5HPEMYWKQ63JWELVBCWEFTFFVM6C44DCGTRZO4I2CYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNYXXUCCHDJ6HSZ6ZJP247CO6UYKYWENAHBI27P6EPQRN5LZLZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPXJYJOB6ZJVJKNUDUFUZRA5QSZKDLT5TBAAFNQADLPBER6OZEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA77UPZ7CM65OG3YVP3BYNNZTRXZFCMMQIIPOW2WJMLVN4SQJQGA/vendors.js"
            ]
        },
        "CreateContentPolicy": {
            "http": {
                "requestUri": "/content-policies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "contentPolicy"
                ],
                "members": {
                    "contentPolicy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentPolicyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLZZ7AKJO7WYJUGXTURRMG3USC76ARIVRGLPDUMMOZMK23OV7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3FBKW5P5GNS2I24XVHFI7SOTQWSANP2KGGCHL77CDDRUP6U767Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZGOXRNZ3JMEZKCEG6JGXHB5DTN5I57G6RISDJZXRPRAKHBKASUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GWZX7N55ZHWM5EZVOWX4WY65TLTPY7IOFRAQONODYK56O3I7WPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O23EIXGKQWNVIZRFULVVU4UKIODSRDCFBNHTYB7CP7Q4TZRJ5LYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNK2QAMYIM2IWVZYCTKKTCPBKOEXVIOXLY2N4LFI25J2ZLE5KCSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K6IU6VMZVUHOVGI3T6HQSTPICXYYZE6EPRLXBZWXGHMVYF7I2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCPVWQ45NZVTJKIXCC667NHLFQVRNY2TXBQYWVTREMMQD5TMGGWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3L572SIOPP3KFVR7KVV3HQJIIHHH4VCBFEMCF6R2JQ5FWSR6WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OKHFJJHD654RX4UFPGRDIRZLDLEIXYT6P4RJ55DL2PNZDOW3QZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HXIGW5EHN4CKQUVQFOMAZCWLXFJ4HAMHMH42PVDVCIW45OSIFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUN64RICU6MLHOOBR7OY6LXG4KZPCQVY3PD2SN64ZRI4ZPXWMUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TZAE742HRGVZAE6H4RRCIAXHJ5I5D2D3CGVGJJ3QUXSCQMFS6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMDQKSOP6EGJRKQBSGVLQW5W3WEO72GTODJTGK4KM3HHFJALIXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A73WNU3IJVSKMFVPS5FF4UKDABGNLAAWRBHF27V65P5BXDW3ECPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NBEJBUEV43MUNU4HBPZG6F7VIAE5VNFO6I7KVBRZWELGGLVLUTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5KCFZUIU4XLZBGQCPB5CBT63O35AB33KNZILJ4IX27W4P53RKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTF5OQOGZOOWRSWRPASA6BIAZY7YLHOYAAMHRNIBOXL4YDBKTOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCO5DC327PEKFDAL3JGCIDYNOGQAYYY5G62TZ7LILG7Z76EHTSLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMFKINFNQ63ZL3C6J24UC3IUCTWHAXPZZOC3PCC7YSAQDLTM6O4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJYSYUU4Q5HPEMYWKQ63JWELVBCWEFTFFVM6C44DCGTRZO4I2CYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNYXXUCCHDJ6HSZ6ZJP247CO6UYKYWENAHBI27P6EPQRN5LZLZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPXJYJOB6ZJVJKNUDUFUZRA5QSZKDLT5TBAAFNQADLPBER6OZEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA77UPZ7CM65OG3YVP3BYNNZTRXZFCMMQIIPOW2WJMLVN4SQJQGA/vendors.js"
            ]
        },
        "DeleteContentPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/content-policies/{contentPolicyArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "contentPolicyArn"
                ],
                "members": {
                    "contentPolicyArn": {
                        "location": "uri",
                        "locationName": "contentPolicyArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLZZ7AKJO7WYJUGXTURRMG3USC76ARIVRGLPDUMMOZMK23OV7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3FBKW5P5GNS2I24XVHFI7SOTQWSANP2KGGCHL77CDDRUP6U767Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZGOXRNZ3JMEZKCEG6JGXHB5DTN5I57G6RISDJZXRPRAKHBKASUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GWZX7N55ZHWM5EZVOWX4WY65TLTPY7IOFRAQONODYK56O3I7WPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O23EIXGKQWNVIZRFULVVU4UKIODSRDCFBNHTYB7CP7Q4TZRJ5LYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNK2QAMYIM2IWVZYCTKKTCPBKOEXVIOXLY2N4LFI25J2ZLE5KCSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K6IU6VMZVUHOVGI3T6HQSTPICXYYZE6EPRLXBZWXGHMVYF7I2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCPVWQ45NZVTJKIXCC667NHLFQVRNY2TXBQYWVTREMMQD5TMGGWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3L572SIOPP3KFVR7KVV3HQJIIHHH4VCBFEMCF6R2JQ5FWSR6WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OKHFJJHD654RX4UFPGRDIRZLDLEIXYT6P4RJ55DL2PNZDOW3QZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HXIGW5EHN4CKQUVQFOMAZCWLXFJ4HAMHMH42PVDVCIW45OSIFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUN64RICU6MLHOOBR7OY6LXG4KZPCQVY3PD2SN64ZRI4ZPXWMUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TZAE742HRGVZAE6H4RRCIAXHJ5I5D2D3CGVGJJ3QUXSCQMFS6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMDQKSOP6EGJRKQBSGVLQW5W3WEO72GTODJTGK4KM3HHFJALIXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A73WNU3IJVSKMFVPS5FF4UKDABGNLAAWRBHF27V65P5BXDW3ECPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NBEJBUEV43MUNU4HBPZG6F7VIAE5VNFO6I7KVBRZWELGGLVLUTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5KCFZUIU4XLZBGQCPB5CBT63O35AB33KNZILJ4IX27W4P53RKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTF5OQOGZOOWRSWRPASA6BIAZY7YLHOYAAMHRNIBOXL4YDBKTOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCO5DC327PEKFDAL3JGCIDYNOGQAYYY5G62TZ7LILG7Z76EHTSLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMFKINFNQ63ZL3C6J24UC3IUCTWHAXPZZOC3PCC7YSAQDLTM6O4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJYSYUU4Q5HPEMYWKQ63JWELVBCWEFTFFVM6C44DCGTRZO4I2CYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNYXXUCCHDJ6HSZ6ZJP247CO6UYKYWENAHBI27P6EPQRN5LZLZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPXJYJOB6ZJVJKNUDUFUZRA5QSZKDLT5TBAAFNQADLPBER6OZEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA77UPZ7CM65OG3YVP3BYNNZTRXZFCMMQIIPOW2WJMLVN4SQJQGA/vendors.js"
            ]
        },
        "GetContentPolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/content-policies/{contentPolicyArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "contentPolicyArn"
                ],
                "members": {
                    "contentPolicyArn": {
                        "location": "uri",
                        "locationName": "contentPolicyArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentPolicy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLZZ7AKJO7WYJUGXTURRMG3USC76ARIVRGLPDUMMOZMK23OV7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3FBKW5P5GNS2I24XVHFI7SOTQWSANP2KGGCHL77CDDRUP6U767Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZGOXRNZ3JMEZKCEG6JGXHB5DTN5I57G6RISDJZXRPRAKHBKASUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GWZX7N55ZHWM5EZVOWX4WY65TLTPY7IOFRAQONODYK56O3I7WPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O23EIXGKQWNVIZRFULVVU4UKIODSRDCFBNHTYB7CP7Q4TZRJ5LYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNK2QAMYIM2IWVZYCTKKTCPBKOEXVIOXLY2N4LFI25J2ZLE5KCSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K6IU6VMZVUHOVGI3T6HQSTPICXYYZE6EPRLXBZWXGHMVYF7I2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCPVWQ45NZVTJKIXCC667NHLFQVRNY2TXBQYWVTREMMQD5TMGGWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3L572SIOPP3KFVR7KVV3HQJIIHHH4VCBFEMCF6R2JQ5FWSR6WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OKHFJJHD654RX4UFPGRDIRZLDLEIXYT6P4RJ55DL2PNZDOW3QZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HXIGW5EHN4CKQUVQFOMAZCWLXFJ4HAMHMH42PVDVCIW45OSIFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUN64RICU6MLHOOBR7OY6LXG4KZPCQVY3PD2SN64ZRI4ZPXWMUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TZAE742HRGVZAE6H4RRCIAXHJ5I5D2D3CGVGJJ3QUXSCQMFS6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMDQKSOP6EGJRKQBSGVLQW5W3WEO72GTODJTGK4KM3HHFJALIXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A73WNU3IJVSKMFVPS5FF4UKDABGNLAAWRBHF27V65P5BXDW3ECPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NBEJBUEV43MUNU4HBPZG6F7VIAE5VNFO6I7KVBRZWELGGLVLUTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5KCFZUIU4XLZBGQCPB5CBT63O35AB33KNZILJ4IX27W4P53RKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTF5OQOGZOOWRSWRPASA6BIAZY7YLHOYAAMHRNIBOXL4YDBKTOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCO5DC327PEKFDAL3JGCIDYNOGQAYYY5G62TZ7LILG7Z76EHTSLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMFKINFNQ63ZL3C6J24UC3IUCTWHAXPZZOC3PCC7YSAQDLTM6O4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJYSYUU4Q5HPEMYWKQ63JWELVBCWEFTFFVM6C44DCGTRZO4I2CYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNYXXUCCHDJ6HSZ6ZJP247CO6UYKYWENAHBI27P6EPQRN5LZLZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPXJYJOB6ZJVJKNUDUFUZRA5QSZKDLT5TBAAFNQADLPBER6OZEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA77UPZ7CM65OG3YVP3BYNNZTRXZFCMMQIIPOW2WJMLVN4SQJQGA/vendors.js"
            ]
        },
        "ListContentPolicies": {
            "http": {
                "method": "GET",
                "requestUri": "/content-policies"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentPolicyList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "name": {},
                                "createTimestamp": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLZZ7AKJO7WYJUGXTURRMG3USC76ARIVRGLPDUMMOZMK23OV7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3FBKW5P5GNS2I24XVHFI7SOTQWSANP2KGGCHL77CDDRUP6U767Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZGOXRNZ3JMEZKCEG6JGXHB5DTN5I57G6RISDJZXRPRAKHBKASUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GWZX7N55ZHWM5EZVOWX4WY65TLTPY7IOFRAQONODYK56O3I7WPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O23EIXGKQWNVIZRFULVVU4UKIODSRDCFBNHTYB7CP7Q4TZRJ5LYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNK2QAMYIM2IWVZYCTKKTCPBKOEXVIOXLY2N4LFI25J2ZLE5KCSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K6IU6VMZVUHOVGI3T6HQSTPICXYYZE6EPRLXBZWXGHMVYF7I2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCPVWQ45NZVTJKIXCC667NHLFQVRNY2TXBQYWVTREMMQD5TMGGWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3L572SIOPP3KFVR7KVV3HQJIIHHH4VCBFEMCF6R2JQ5FWSR6WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OKHFJJHD654RX4UFPGRDIRZLDLEIXYT6P4RJ55DL2PNZDOW3QZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HXIGW5EHN4CKQUVQFOMAZCWLXFJ4HAMHMH42PVDVCIW45OSIFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUN64RICU6MLHOOBR7OY6LXG4KZPCQVY3PD2SN64ZRI4ZPXWMUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TZAE742HRGVZAE6H4RRCIAXHJ5I5D2D3CGVGJJ3QUXSCQMFS6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMDQKSOP6EGJRKQBSGVLQW5W3WEO72GTODJTGK4KM3HHFJALIXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A73WNU3IJVSKMFVPS5FF4UKDABGNLAAWRBHF27V65P5BXDW3ECPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NBEJBUEV43MUNU4HBPZG6F7VIAE5VNFO6I7KVBRZWELGGLVLUTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5KCFZUIU4XLZBGQCPB5CBT63O35AB33KNZILJ4IX27W4P53RKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTF5OQOGZOOWRSWRPASA6BIAZY7YLHOYAAMHRNIBOXL4YDBKTOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCO5DC327PEKFDAL3JGCIDYNOGQAYYY5G62TZ7LILG7Z76EHTSLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMFKINFNQ63ZL3C6J24UC3IUCTWHAXPZZOC3PCC7YSAQDLTM6O4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJYSYUU4Q5HPEMYWKQ63JWELVBCWEFTFFVM6C44DCGTRZO4I2CYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNYXXUCCHDJ6HSZ6ZJP247CO6UYKYWENAHBI27P6EPQRN5LZLZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPXJYJOB6ZJVJKNUDUFUZRA5QSZKDLT5TBAAFNQADLPBER6OZEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA77UPZ7CM65OG3YVP3BYNNZTRXZFCMMQIIPOW2WJMLVN4SQJQGA/vendors.js"
            ]
        },
        "UpdateContentPolicy": {
            "http": {
                "method": "PUT",
                "requestUri": "/content-policies/{contentPolicyArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "contentPolicyArn",
                    "contentPolicy"
                ],
                "members": {
                    "contentPolicyArn": {
                        "location": "uri",
                        "locationName": "contentPolicyArn"
                    },
                    "contentPolicy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLZZ7AKJO7WYJUGXTURRMG3USC76ARIVRGLPDUMMOZMK23OV7RCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3FBKW5P5GNS2I24XVHFI7SOTQWSANP2KGGCHL77CDDRUP6U767Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZGOXRNZ3JMEZKCEG6JGXHB5DTN5I57G6RISDJZXRPRAKHBKASUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GWZX7N55ZHWM5EZVOWX4WY65TLTPY7IOFRAQONODYK56O3I7WPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O23EIXGKQWNVIZRFULVVU4UKIODSRDCFBNHTYB7CP7Q4TZRJ5LYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNK2QAMYIM2IWVZYCTKKTCPBKOEXVIOXLY2N4LFI25J2ZLE5KCSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K6IU6VMZVUHOVGI3T6HQSTPICXYYZE6EPRLXBZWXGHMVYF7I2NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCPVWQ45NZVTJKIXCC667NHLFQVRNY2TXBQYWVTREMMQD5TMGGWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3L572SIOPP3KFVR7KVV3HQJIIHHH4VCBFEMCF6R2JQ5FWSR6WAAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OKHFJJHD654RX4UFPGRDIRZLDLEIXYT6P4RJ55DL2PNZDOW3QZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HXIGW5EHN4CKQUVQFOMAZCWLXFJ4HAMHMH42PVDVCIW45OSIFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUN64RICU6MLHOOBR7OY6LXG4KZPCQVY3PD2SN64ZRI4ZPXWMUOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TZAE742HRGVZAE6H4RRCIAXHJ5I5D2D3CGVGJJ3QUXSCQMFS6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMDQKSOP6EGJRKQBSGVLQW5W3WEO72GTODJTGK4KM3HHFJALIXMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A73WNU3IJVSKMFVPS5FF4UKDABGNLAAWRBHF27V65P5BXDW3ECPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NBEJBUEV43MUNU4HBPZG6F7VIAE5VNFO6I7KVBRZWELGGLVLUTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5KCFZUIU4XLZBGQCPB5CBT63O35AB33KNZILJ4IX27W4P53RKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTF5OQOGZOOWRSWRPASA6BIAZY7YLHOYAAMHRNIBOXL4YDBKTOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCO5DC327PEKFDAL3JGCIDYNOGQAYYY5G62TZ7LILG7Z76EHTSLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMFKINFNQ63ZL3C6J24UC3IUCTWHAXPZZOC3PCC7YSAQDLTM6O4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJYSYUU4Q5HPEMYWKQ63JWELVBCWEFTFFVM6C44DCGTRZO4I2CYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNYXXUCCHDJ6HSZ6ZJP247CO6UYKYWENAHBI27P6EPQRN5LZLZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPXJYJOB6ZJVJKNUDUFUZRA5QSZKDLT5TBAAFNQADLPBER6OZEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XA77UPZ7CM65OG3YVP3BYNNZTRXZFCMMQIIPOW2WJMLVN4SQJQGA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "members": {
                "name": {},
                "description": {},
                "regex": {
                    "type": "string",
                    "sensitive": true
                },
                "keywords": {
                    "type": "list",
                    "member": {}
                },
                "severityForOne": {
                    "type": "integer"
                },
                "severityForMany": {
                    "type": "integer"
                },
                "maximumMatchDistance": {
                    "type": "integer"
                }
            }
        },
        "Sa": {
            "type": "string",
            "sensitive": true
        },
        "S6": {
            "type": "structure",
            "members": {
                "name": {},
                "description": {},
                "regex": {
                    "type": "string",
                    "sensitive": true
                },
                "keywords": {
                    "type": "list",
                    "member": {}
                },
                "severityForOne": {
                    "type": "integer"
                },
                "severityForMany": {
                    "type": "integer"
                },
                "maximumMatchDistance": {
                    "type": "integer"
                }
            }
        },
        "Sd": {
            "type": "string",
            "sensitive": true
        }
    }
}