{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-06-30",
        "endpointPrefix": "storagegateway",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Storage Gateway",
        "serviceId": "Storage Gateway",
        "signatureVersion": "v4",
        "targetPrefix": "StorageGateway_20130630",
        "uid": "storagegateway-2013-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
        ]
    },
    "operations": {
        "ActivateGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "ActivationKey",
                    "GatewayName",
                    "GatewayTimezone",
                    "GatewayRegion"
                ],
                "members": {
                    "ActivationKey": {},
                    "GatewayName": {},
                    "GatewayTimezone": {},
                    "GatewayRegion": {},
                    "GatewayType": {},
                    "TapeDriveType": {},
                    "MediumChangerType": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "AddCache": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN",
                    "DiskIds"
                ],
                "members": {
                    "GatewayARN": {},
                    "DiskIds": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "AddUploadBuffer": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN",
                    "DiskIds"
                ],
                "members": {
                    "GatewayARN": {},
                    "DiskIds": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "AddWorkingStorage": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN",
                    "DiskIds"
                ],
                "members": {
                    "GatewayARN": {},
                    "DiskIds": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "AssignTapePool": {
            "input": {
                "type": "structure",
                "required": [
                    "TapeARN",
                    "PoolId"
                ],
                "members": {
                    "TapeARN": {},
                    "PoolId": {},
                    "BypassGovernanceRetention": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TapeARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "AttachVolume": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN",
                    "VolumeARN",
                    "NetworkInterfaceId"
                ],
                "members": {
                    "GatewayARN": {},
                    "TargetName": {},
                    "VolumeARN": {},
                    "NetworkInterfaceId": {},
                    "DiskId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VolumeARN": {},
                    "TargetARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CancelArchival": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN",
                    "TapeARN"
                ],
                "members": {
                    "GatewayARN": {},
                    "TapeARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TapeARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CancelRetrieval": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN",
                    "TapeARN"
                ],
                "members": {
                    "GatewayARN": {},
                    "TapeARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TapeARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateCachediSCSIVolume": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN",
                    "VolumeSizeInBytes",
                    "TargetName",
                    "NetworkInterfaceId",
                    "ClientToken"
                ],
                "members": {
                    "GatewayARN": {},
                    "VolumeSizeInBytes": {
                        "type": "long"
                    },
                    "SnapshotId": {},
                    "TargetName": {},
                    "SourceVolumeARN": {},
                    "NetworkInterfaceId": {},
                    "ClientToken": {},
                    "KMSEncrypted": {
                        "type": "boolean"
                    },
                    "KMSKey": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VolumeARN": {},
                    "TargetARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateNFSFileShare": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "GatewayARN",
                    "Role",
                    "LocationARN"
                ],
                "members": {
                    "ClientToken": {},
                    "NFSFileShareDefaults": {
                        "shape": "S1d"
                    },
                    "GatewayARN": {},
                    "KMSEncrypted": {
                        "type": "boolean"
                    },
                    "KMSKey": {},
                    "Role": {},
                    "LocationARN": {},
                    "DefaultStorageClass": {},
                    "ObjectACL": {},
                    "ClientList": {
                        "shape": "S1k"
                    },
                    "Squash": {},
                    "ReadOnly": {
                        "type": "boolean"
                    },
                    "GuessMIMETypeEnabled": {
                        "type": "boolean"
                    },
                    "RequesterPays": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S9"
                    },
                    "FileShareName": {},
                    "CacheAttributes": {
                        "shape": "S1o"
                    },
                    "NotificationPolicy": {},
                    "VPCEndpointDNSName": {},
                    "BucketRegion": {},
                    "AuditDestinationARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FileShareARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateSMBFileShare": {
            "input": {
                "type": "structure",
                "required": [
                    "ClientToken",
                    "GatewayARN",
                    "Role",
                    "LocationARN"
                ],
                "members": {
                    "ClientToken": {},
                    "GatewayARN": {},
                    "KMSEncrypted": {
                        "type": "boolean"
                    },
                    "KMSKey": {},
                    "Role": {},
                    "LocationARN": {},
                    "DefaultStorageClass": {},
                    "ObjectACL": {},
                    "ReadOnly": {
                        "type": "boolean"
                    },
                    "GuessMIMETypeEnabled": {
                        "type": "boolean"
                    },
                    "RequesterPays": {
                        "type": "boolean"
                    },
                    "SMBACLEnabled": {
                        "type": "boolean"
                    },
                    "AccessBasedEnumeration": {
                        "type": "boolean"
                    },
                    "AdminUserList": {
                        "shape": "S1u"
                    },
                    "ValidUserList": {
                        "shape": "S1u"
                    },
                    "InvalidUserList": {
                        "shape": "S1u"
                    },
                    "AuditDestinationARN": {},
                    "Authentication": {},
                    "CaseSensitivity": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "FileShareName": {},
                    "CacheAttributes": {
                        "shape": "S1o"
                    },
                    "NotificationPolicy": {},
                    "VPCEndpointDNSName": {},
                    "BucketRegion": {},
                    "OplocksEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FileShareARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "VolumeARN",
                    "SnapshotDescription"
                ],
                "members": {
                    "VolumeARN": {},
                    "SnapshotDescription": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VolumeARN": {},
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateSnapshotFromVolumeRecoveryPoint": {
            "input": {
                "type": "structure",
                "required": [
                    "VolumeARN",
                    "SnapshotDescription"
                ],
                "members": {
                    "VolumeARN": {},
                    "SnapshotDescription": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {},
                    "VolumeARN": {},
                    "VolumeRecoveryPointTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateStorediSCSIVolume": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN",
                    "DiskId",
                    "PreserveExistingData",
                    "TargetName",
                    "NetworkInterfaceId"
                ],
                "members": {
                    "GatewayARN": {},
                    "DiskId": {},
                    "SnapshotId": {},
                    "PreserveExistingData": {
                        "type": "boolean"
                    },
                    "TargetName": {},
                    "NetworkInterfaceId": {},
                    "KMSEncrypted": {
                        "type": "boolean"
                    },
                    "KMSKey": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VolumeARN": {},
                    "VolumeSizeInBytes": {
                        "type": "long"
                    },
                    "TargetARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateTapePool": {
            "input": {
                "type": "structure",
                "required": [
                    "PoolName",
                    "StorageClass"
                ],
                "members": {
                    "PoolName": {},
                    "StorageClass": {},
                    "RetentionLockType": {},
                    "RetentionLockTimeInDays": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PoolARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateTapeWithBarcode": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN",
                    "TapeSizeInBytes",
                    "TapeBarcode"
                ],
                "members": {
                    "GatewayARN": {},
                    "TapeSizeInBytes": {
                        "type": "long"
                    },
                    "TapeBarcode": {},
                    "KMSEncrypted": {
                        "type": "boolean"
                    },
                    "KMSKey": {},
                    "PoolId": {},
                    "Worm": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TapeARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateTapes": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN",
                    "TapeSizeInBytes",
                    "ClientToken",
                    "NumTapesToCreate",
                    "TapeBarcodePrefix"
                ],
                "members": {
                    "GatewayARN": {},
                    "TapeSizeInBytes": {
                        "type": "long"
                    },
                    "ClientToken": {},
                    "NumTapesToCreate": {
                        "type": "integer"
                    },
                    "TapeBarcodePrefix": {},
                    "KMSEncrypted": {
                        "type": "boolean"
                    },
                    "KMSKey": {},
                    "PoolId": {},
                    "Worm": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TapeARNs": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteAutomaticTapeCreationPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN"
                ],
                "members": {
                    "GatewayARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteBandwidthRateLimit": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN",
                    "BandwidthType"
                ],
                "members": {
                    "GatewayARN": {},
                    "BandwidthType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteChapCredentials": {
            "input": {
                "type": "structure",
                "required": [
                    "TargetARN",
                    "InitiatorName"
                ],
                "members": {
                    "TargetARN": {},
                    "InitiatorName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TargetARN": {},
                    "InitiatorName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteFileShare": {
            "input": {
                "type": "structure",
                "required": [
                    "FileShareARN"
                ],
                "members": {
                    "FileShareARN": {},
                    "ForceDelete": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FileShareARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteGateway": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN"
                ],
                "members": {
                    "GatewayARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GatewayARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteSnapshotSchedule": {
            "input": {
                "type": "structure",
                "required": [
                    "VolumeARN"
                ],
                "members": {
                    "VolumeARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "VolumeARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteTape": {
            "input": {
                "type": "structure",
                "required": [
                    "GatewayARN",
                    "TapeARN"
                ],
                "members": {
                    "GatewayARN": {},
                    "TapeARN": {},
                    "BypassGovernanceRetention": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TapeARN": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
[...]
