{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-06-15",
        "endpointPrefix": "sts",
        "globalEndpoint": "sts.amazonaws.com",
        "protocol": "query",
        "serviceAbbreviation": "AWS STS",
        "serviceFullName": "AWS Security Token Service",
        "serviceId": "STS",
        "signatureVersion": "v4",
        "uid": "sts-2011-06-15",
        "xmlNamespace": "https://sts.amazonaws.com/doc/2011-06-15/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CNWM3427YHO3UGXLUL44P2BXWCDE5O7SQVTUTROLMFMMG5EZ6VAQ/vendors.js",
            "https://d21wmzj1elck7b.cloudfront.net/9818d7861a1c3738f4ac8c3146803e5b6b9dbf60/index.en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
            "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js",
            "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
            "https://dajwst0dz8lha.cloudfront.net/88ff3fcb706215df119dc49fb52d0fc69a8bea6d/main.js",
            "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v4bc9ff19e23f1a033a0ab5c952181e6441d08db1.gz.js",
            "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js",
            "https://dhpai2dqa80oy.cloudfront.net/7a289adad530dab986cb2af119ae162b1afb70e4/vpc/vpcconsole.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJVEID2TASPNJUNC2BPCNUJECZC42E6LPJIUCPQT7EJYY44JFZZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3AXBBNNJYDYCXYJA7NOXRZ7UBNKB6BUDNZKUSFQUZPAUYWQE3AUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FSEXMXIM6KU24YQF2OPQE7VSGR7E74CFCYW2KDA7NAN4WVRP5PBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGEKL7HWDOZG55C2REKJ72SV2QJNLGTGTCLJ4SZYHBI646L7SGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDVGZSJHRKVIKQOUWWKL66UYDBSVNXD2MRMIYONDPQIHQLLUHMUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
            "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJ4OSR4S3TYPXJR2NFDBMRN6RUXS2KWHY6YQUQBGESLUEWN7WRSQ/vendors.js"
        ]
    },
    "operations": {
        "AssumeRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "TransitiveTagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "ExternalId": {},
                    "SerialNumber": {},
                    "TokenCode": {},
                    "SourceIdentity": {}
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNWM3427YHO3UGXLUL44P2BXWCDE5O7SQVTUTROLMFMMG5EZ6VAQ/vendors.js",
                "https://d21wmzj1elck7b.cloudfront.net/9818d7861a1c3738f4ac8c3146803e5b6b9dbf60/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://dajwst0dz8lha.cloudfront.net/88ff3fcb706215df119dc49fb52d0fc69a8bea6d/main.js",
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v4bc9ff19e23f1a033a0ab5c952181e6441d08db1.gz.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js",
                "https://dhpai2dqa80oy.cloudfront.net/7a289adad530dab986cb2af119ae162b1afb70e4/vpc/vpcconsole.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJVEID2TASPNJUNC2BPCNUJECZC42E6LPJIUCPQT7EJYY44JFZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AXBBNNJYDYCXYJA7NOXRZ7UBNKB6BUDNZKUSFQUZPAUYWQE3AUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSEXMXIM6KU24YQF2OPQE7VSGR7E74CFCYW2KDA7NAN4WVRP5PBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGEKL7HWDOZG55C2REKJ72SV2QJNLGTGTCLJ4SZYHBI646L7SGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVGZSJHRKVIKQOUWWKL66UYDBSVNXD2MRMIYONDPQIHQLLUHMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ4OSR4S3TYPXJR2NFDBMRN6RUXS2KWHY6YQUQBGESLUEWN7WRSQ/vendors.js"
            ]
        },
        "AssumeRoleWithSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "PrincipalArn",
                    "SAMLAssertion"
                ],
                "members": {
                    "RoleArn": {},
                    "PrincipalArn": {},
                    "SAMLAssertion": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithSAMLResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Subject": {},
                    "SubjectType": {},
                    "Issuer": {},
                    "Audience": {},
                    "NameQualifier": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNWM3427YHO3UGXLUL44P2BXWCDE5O7SQVTUTROLMFMMG5EZ6VAQ/vendors.js",
                "https://d21wmzj1elck7b.cloudfront.net/9818d7861a1c3738f4ac8c3146803e5b6b9dbf60/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://dajwst0dz8lha.cloudfront.net/88ff3fcb706215df119dc49fb52d0fc69a8bea6d/main.js",
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v4bc9ff19e23f1a033a0ab5c952181e6441d08db1.gz.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js",
                "https://dhpai2dqa80oy.cloudfront.net/7a289adad530dab986cb2af119ae162b1afb70e4/vpc/vpcconsole.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJVEID2TASPNJUNC2BPCNUJECZC42E6LPJIUCPQT7EJYY44JFZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AXBBNNJYDYCXYJA7NOXRZ7UBNKB6BUDNZKUSFQUZPAUYWQE3AUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSEXMXIM6KU24YQF2OPQE7VSGR7E74CFCYW2KDA7NAN4WVRP5PBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGEKL7HWDOZG55C2REKJ72SV2QJNLGTGTCLJ4SZYHBI646L7SGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVGZSJHRKVIKQOUWWKL66UYDBSVNXD2MRMIYONDPQIHQLLUHMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ4OSR4S3TYPXJR2NFDBMRN6RUXS2KWHY6YQUQBGESLUEWN7WRSQ/vendors.js"
            ]
        },
        "AssumeRoleWithWebIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName",
                    "WebIdentityToken"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "WebIdentityToken": {},
                    "ProviderId": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithWebIdentityResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "SubjectFromWebIdentityToken": {},
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Provider": {},
                    "Audience": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNWM3427YHO3UGXLUL44P2BXWCDE5O7SQVTUTROLMFMMG5EZ6VAQ/vendors.js",
                "https://d21wmzj1elck7b.cloudfront.net/9818d7861a1c3738f4ac8c3146803e5b6b9dbf60/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://dajwst0dz8lha.cloudfront.net/88ff3fcb706215df119dc49fb52d0fc69a8bea6d/main.js",
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v4bc9ff19e23f1a033a0ab5c952181e6441d08db1.gz.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js",
                "https://dhpai2dqa80oy.cloudfront.net/7a289adad530dab986cb2af119ae162b1afb70e4/vpc/vpcconsole.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJVEID2TASPNJUNC2BPCNUJECZC42E6LPJIUCPQT7EJYY44JFZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AXBBNNJYDYCXYJA7NOXRZ7UBNKB6BUDNZKUSFQUZPAUYWQE3AUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSEXMXIM6KU24YQF2OPQE7VSGR7E74CFCYW2KDA7NAN4WVRP5PBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGEKL7HWDOZG55C2REKJ72SV2QJNLGTGTCLJ4SZYHBI646L7SGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVGZSJHRKVIKQOUWWKL66UYDBSVNXD2MRMIYONDPQIHQLLUHMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ4OSR4S3TYPXJR2NFDBMRN6RUXS2KWHY6YQUQBGESLUEWN7WRSQ/vendors.js"
            ]
        },
        "DecodeAuthorizationMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "EncodedMessage"
                ],
                "members": {
                    "EncodedMessage": {}
                }
            },
            "output": {
                "resultWrapper": "DecodeAuthorizationMessageResult",
                "type": "structure",
                "members": {
                    "DecodedMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNWM3427YHO3UGXLUL44P2BXWCDE5O7SQVTUTROLMFMMG5EZ6VAQ/vendors.js",
                "https://d21wmzj1elck7b.cloudfront.net/9818d7861a1c3738f4ac8c3146803e5b6b9dbf60/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://dajwst0dz8lha.cloudfront.net/88ff3fcb706215df119dc49fb52d0fc69a8bea6d/main.js",
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v4bc9ff19e23f1a033a0ab5c952181e6441d08db1.gz.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js",
                "https://dhpai2dqa80oy.cloudfront.net/7a289adad530dab986cb2af119ae162b1afb70e4/vpc/vpcconsole.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJVEID2TASPNJUNC2BPCNUJECZC42E6LPJIUCPQT7EJYY44JFZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AXBBNNJYDYCXYJA7NOXRZ7UBNKB6BUDNZKUSFQUZPAUYWQE3AUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSEXMXIM6KU24YQF2OPQE7VSGR7E74CFCYW2KDA7NAN4WVRP5PBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGEKL7HWDOZG55C2REKJ72SV2QJNLGTGTCLJ4SZYHBI646L7SGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVGZSJHRKVIKQOUWWKL66UYDBSVNXD2MRMIYONDPQIHQLLUHMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ4OSR4S3TYPXJR2NFDBMRN6RUXS2KWHY6YQUQBGESLUEWN7WRSQ/vendors.js"
            ]
        },
        "GetAccessKeyInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyId"
                ],
                "members": {
                    "AccessKeyId": {}
                }
            },
            "output": {
                "resultWrapper": "GetAccessKeyInfoResult",
                "type": "structure",
                "members": {
                    "Account": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2BWRP26UQZUNG6HADQBV5GIXWEI72KS22OLKAZ6JGUDGUG6QTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNWM3427YHO3UGXLUL44P2BXWCDE5O7SQVTUTROLMFMMG5EZ6VAQ/vendors.js",
                "https://d21wmzj1elck7b.cloudfront.net/9818d7861a1c3738f4ac8c3146803e5b6b9dbf60/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://dajwst0dz8lha.cloudfront.net/88ff3fcb706215df119dc49fb52d0fc69a8bea6d/main.js",
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v4bc9ff19e23f1a033a0ab5c952181e6441d08db1.gz.js",
                "https://dhpai2dqa80oy.cloudfront.net/7a289adad530dab986cb2af119ae162b1afb70e4/vpc/vpcconsole.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJVEID2TASPNJUNC2BPCNUJECZC42E6LPJIUCPQT7EJYY44JFZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AXBBNNJYDYCXYJA7NOXRZ7UBNKB6BUDNZKUSFQUZPAUYWQE3AUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSEXMXIM6KU24YQF2OPQE7VSGR7E74CFCYW2KDA7NAN4WVRP5PBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGEKL7HWDOZG55C2REKJ72SV2QJNLGTGTCLJ4SZYHBI646L7SGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVGZSJHRKVIKQOUWWKL66UYDBSVNXD2MRMIYONDPQIHQLLUHMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ4OSR4S3TYPXJR2NFDBMRN6RUXS2KWHY6YQUQBGESLUEWN7WRSQ/vendors.js"
            ]
        },
        "GetCallerIdentity": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "GetCallerIdentityResult",
                "type": "structure",
                "members": {
                    "UserId": {},
                    "Account": {},
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNWM3427YHO3UGXLUL44P2BXWCDE5O7SQVTUTROLMFMMG5EZ6VAQ/vendors.js",
                "https://d21wmzj1elck7b.cloudfront.net/9818d7861a1c3738f4ac8c3146803e5b6b9dbf60/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://dajwst0dz8lha.cloudfront.net/88ff3fcb706215df119dc49fb52d0fc69a8bea6d/main.js",
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v4bc9ff19e23f1a033a0ab5c952181e6441d08db1.gz.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js",
                "https://dhpai2dqa80oy.cloudfront.net/7a289adad530dab986cb2af119ae162b1afb70e4/vpc/vpcconsole.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJVEID2TASPNJUNC2BPCNUJECZC42E6LPJIUCPQT7EJYY44JFZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AXBBNNJYDYCXYJA7NOXRZ7UBNKB6BUDNZKUSFQUZPAUYWQE3AUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSEXMXIM6KU24YQF2OPQE7VSGR7E74CFCYW2KDA7NAN4WVRP5PBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGEKL7HWDOZG55C2REKJ72SV2QJNLGTGTCLJ4SZYHBI646L7SGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVGZSJHRKVIKQOUWWKL66UYDBSVNXD2MRMIYONDPQIHQLLUHMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ4OSR4S3TYPXJR2NFDBMRN6RUXS2KWHY6YQUQBGESLUEWN7WRSQ/vendors.js"
            ]
        },
        "GetFederationToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Policy": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetFederationTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "FederatedUser": {
                        "type": "structure",
                        "required": [
                            "FederatedUserId",
                            "Arn"
                        ],
                        "members": {
                            "FederatedUserId": {},
                            "Arn": {}
                        }
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNWM3427YHO3UGXLUL44P2BXWCDE5O7SQVTUTROLMFMMG5EZ6VAQ/vendors.js",
                "https://d21wmzj1elck7b.cloudfront.net/9818d7861a1c3738f4ac8c3146803e5b6b9dbf60/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://dajwst0dz8lha.cloudfront.net/88ff3fcb706215df119dc49fb52d0fc69a8bea6d/main.js",
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v4bc9ff19e23f1a033a0ab5c952181e6441d08db1.gz.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js",
                "https://dhpai2dqa80oy.cloudfront.net/7a289adad530dab986cb2af119ae162b1afb70e4/vpc/vpcconsole.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJVEID2TASPNJUNC2BPCNUJECZC42E6LPJIUCPQT7EJYY44JFZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AXBBNNJYDYCXYJA7NOXRZ7UBNKB6BUDNZKUSFQUZPAUYWQE3AUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSEXMXIM6KU24YQF2OPQE7VSGR7E74CFCYW2KDA7NAN4WVRP5PBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGEKL7HWDOZG55C2REKJ72SV2QJNLGTGTCLJ4SZYHBI646L7SGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVGZSJHRKVIKQOUWWKL66UYDBSVNXD2MRMIYONDPQIHQLLUHMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ4OSR4S3TYPXJR2NFDBMRN6RUXS2KWHY6YQUQBGESLUEWN7WRSQ/vendors.js"
            ]
        },
        "GetSessionToken": {
            "input": {
                "type": "structure",
                "members": {
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "SerialNumber": {},
                    "TokenCode": {}
                }
            },
            "output": {
                "resultWrapper": "GetSessionTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNWM3427YHO3UGXLUL44P2BXWCDE5O7SQVTUTROLMFMMG5EZ6VAQ/vendors.js",
                "https://d21wmzj1elck7b.cloudfront.net/9818d7861a1c3738f4ac8c3146803e5b6b9dbf60/index.en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJCY2ALEG7NUUSDCY43K43Y4CN7YMYGTOI4UJIVEAG5SPPO7CX5A/groundtruth.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5ZNZLKRTHNNYUQJCNXTZPF7B2AZOSUMEIYB65FPEWZEX3UKBA5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVHDPLQMF64K2QJTTJLGU56CACH6Y56OGDIPOCT6ZAGG7DVZRREQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MF5DATIHWTHRDYFJUMTJ4FUMORYX4MPZVHBHLJFHZC5DKGFOYNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MDVN7HU5T4N7FEXQLGDIWK2FMYB52JVNYRFAWCKDWHQOWLHPZAQ/328bdbf1f6e8a8764bdd6ae35495b34c.js",
                "https://d32lzpo3vjlthz.cloudfront.net/1685540729540/main.js",
                "https://dd25om75gc08l.cloudfront.net/20230529141721691/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js",
                "https://dajwst0dz8lha.cloudfront.net/88ff3fcb706215df119dc49fb52d0fc69a8bea6d/main.js",
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v4bc9ff19e23f1a033a0ab5c952181e6441d08db1.gz.js",
                "https://d2ziyq7zksuzai.cloudfront.net/1668047178994/main.js",
                "https://dhpai2dqa80oy.cloudfront.net/7a289adad530dab986cb2af119ae162b1afb70e4/vpc/vpcconsole.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJVEID2TASPNJUNC2BPCNUJECZC42E6LPJIUCPQT7EJYY44JFZZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AXBBNNJYDYCXYJA7NOXRZ7UBNKB6BUDNZKUSFQUZPAUYWQE3AUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SME5LKPAEREKNPLWZ4A6OH3OW6SWPLJWIHYLZJGZAOZGKQWMU4PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FSEXMXIM6KU24YQF2OPQE7VSGR7E74CFCYW2KDA7NAN4WVRP5PBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGEKL7HWDOZG55C2REKJ72SV2QJNLGTGTCLJ4SZYHBI646L7SGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PTFXCZUOWL5YCJ7OHVHVHTV4QKJVL3VOETRS5JFLDMOSTAZWOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDVGZSJHRKVIKQOUWWKL66UYDBSVNXD2MRMIYONDPQIHQLLUHMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P6W65HL32XZYGDXS5I76HN23BSVIU3KRWBG35TYPOHRUVVSY5EUQ/tangerine.js",
                "https://d3l7tabrwpoxyr.cloudfront.net/js/30de6ea8e84c1b9ba3287eef929e52b06c22b93c/gzip/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHZBDZ5IP76J6J5F2QCJ6K2D2DIOM4R4DST2QKRM5ZJ4ZPJ2S6QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJ4OSR4S3TYPXJR2NFDBMRN6RUXS2KWHY6YQUQBGESLUEWN7WRSQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sn": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        }
    }
}