{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-06-15",
        "endpointPrefix": "sts",
        "globalEndpoint": "sts.amazonaws.com",
        "protocol": "query",
        "serviceAbbreviation": "AWS STS",
        "serviceFullName": "AWS Security Token Service",
        "serviceId": "STS",
        "signatureVersion": "v4",
        "uid": "sts-2011-06-15",
        "xmlNamespace": "https://sts.amazonaws.com/doc/2011-06-15/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
            "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
            "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
        ]
    },
    "operations": {
        "AssumeRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "TransitiveTagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "ExternalId": {},
                    "SerialNumber": {},
                    "TokenCode": {},
                    "SourceIdentity": {},
                    "ProvidedContexts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ProviderArn": {},
                                "ContextAssertion": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "AssumeRoleWithSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "PrincipalArn",
                    "SAMLAssertion"
                ],
                "members": {
                    "RoleArn": {},
                    "PrincipalArn": {},
                    "SAMLAssertion": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithSAMLResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Subject": {},
                    "SubjectType": {},
                    "Issuer": {},
                    "Audience": {},
                    "NameQualifier": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "AssumeRoleWithWebIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName",
                    "WebIdentityToken"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "WebIdentityToken": {},
                    "ProviderId": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithWebIdentityResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "SubjectFromWebIdentityToken": {},
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Provider": {},
                    "Audience": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DecodeAuthorizationMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "EncodedMessage"
                ],
                "members": {
                    "EncodedMessage": {}
                }
            },
            "output": {
                "resultWrapper": "DecodeAuthorizationMessageResult",
                "type": "structure",
                "members": {
                    "DecodedMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetAccessKeyInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyId"
                ],
                "members": {
                    "AccessKeyId": {}
                }
            },
            "output": {
                "resultWrapper": "GetAccessKeyInfoResult",
                "type": "structure",
                "members": {
                    "Account": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetCallerIdentity": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "GetCallerIdentityResult",
                "type": "structure",
                "members": {
                    "UserId": {},
                    "Account": {},
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetFederationToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Policy": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetFederationTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "FederatedUser": {
                        "type": "structure",
                        "required": [
                            "FederatedUserId",
                            "Arn"
                        ],
                        "members": {
                            "FederatedUserId": {},
                            "Arn": {}
                        }
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetSessionToken": {
            "input": {
                "type": "structure",
                "members": {
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "SerialNumber": {},
                    "TokenCode": {}
                }
            },
            "output": {
                "resultWrapper": "GetSessionTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "AssumeRoot": {
            "input": {
                "type": "structure",
                "required": [
                    "TargetPrincipal",
                    "TaskPolicyArn"
                ],
                "members": {
                    "TargetPrincipal": {},
                    "TaskPolicyArn": {
                        "shape": "S5"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRootResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Sl"
                    },
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/7DWHYARF7QZJV4KCXY7HHVWH4HKIMT36RIXDXZIRMWOBOMJI4IRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OMHOFKBFYXO7ACC5TCDM4CKOORP774BBVHS3ZYYPRMMSN6QA7GKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NKA3D2KIE3X4FAHU4RTKZRPIQXC2WT6RIO2LQD5LFBJADQ5FJ7MA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LRBEISPHLE2QT4RDXX4DDPOXPY4LHQGBEWQJWLYWWEEFIBZY3JKQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IJBGC425GKC3GNFLJFSQTHY4P5HINNSNJ4C24KLI3BJ6LLO2DWLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5IIGL5NB4ARSAISXYX7JAMIHAUFD3VA7B7XCVLTF4YUP237U2XBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BSCJHHROORARTTRITJADZEVAJKZBJUHNXMRA2POWHWAA3DHFMRRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BY75KDGFGD2WT56YGH4YZU2OWILD5SYMU75W76CQJ64LKVZ7ITZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3Y7FG6GVWDROE3QUDKYARTD6XCPAGLWF4FUOYUSQPMIKK5AGHD2A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A5JWP5HB2TVDOYRBQVJZMI44KAUQ2MG7AQKOXO6GQ3R436LHAGAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KOYJKX7DMHAG6IFA6SUZ6TPBZK5WD4TOTYPZH67XJY5T42MBI2DQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/E34P6BIKCPG67KMYUQYY6JK7XROB2MRAVVNHXHKW62H22TBFKZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QYOYMMZHCMQKVG6HUPAY5SFHVGBZT5WT2WVFYNFKKOQHXTDX2E2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3ZBY4TP4LCZYETHWVWIFCQ7E3VJCP3X5UBUQ47AGMSQ3AZFVNEVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X6GHOGKP3DLX4CTJ3V2FG2VXIF3TTANVNHWMIZIYFAYHAPVKEMUQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MOMFDX57XGAFRZZMR36JN7D3OAOWCWAS667KED35BTH6737L6DBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SXWY7JJHKILFWIYIBYKBGZHE3SETE3O6XBMCX275RW45TKRTFKOA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TSALNNEEMNCFZ2MMGLMHIH5IJFGBOPSUC3YTYSOCNQQ2EXYQRM2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BAZVBNQ5TCJ3JPQJJURQ4J3VMCBQ25LFGTQOJGJLCQLX4VOGXFTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XNCZ2HOWWNMII34GTZXOYUM4MHHZFU6L5TN5ZFC4UFNZPV6YJEZQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MVLPBKNA52HZF346S7M373SOZKSY4UZ3YANUWKR2AZU7K6O3UQXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VMN56FRL4SH4LU7J7YRPAG7Q7UP5DYC6EZGRXPEOKP5C5EVSDZ4A/AWSConsole-IAM-Widgets-Libraries.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/335P6YERJONN275SRKU6FBIHOW4HPRMY4NCRNFQZG776X7F5Q7JA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YVWS2AESARKORHPFBLBI2VQ5LYLGXFVO3F53Q3KLLWYRN6F32UGQ/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sn": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sl": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {
                    "type": "string",
                    "sensitive": true
                },
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "S5": {
            "type": "structure",
            "members": {
                "arn": {}
            }
        }
    }
}