{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-06-15",
        "endpointPrefix": "sts",
        "globalEndpoint": "sts.amazonaws.com",
        "protocol": "query",
        "serviceAbbreviation": "AWS STS",
        "serviceFullName": "AWS Security Token Service",
        "serviceId": "STS",
        "signatureVersion": "v4",
        "uid": "sts-2011-06-15",
        "xmlNamespace": "https://sts.amazonaws.com/doc/2011-06-15/",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
        ]
    },
    "operations": {
        "AssumeRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "TransitiveTagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "ExternalId": {},
                    "SerialNumber": {},
                    "TokenCode": {},
                    "SourceIdentity": {},
                    "ProvidedContexts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ProviderArn": {},
                                "ContextAssertion": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "AssumeRoleWithSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "PrincipalArn",
                    "SAMLAssertion"
                ],
                "members": {
                    "RoleArn": {},
                    "PrincipalArn": {},
                    "SAMLAssertion": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithSAMLResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Subject": {},
                    "SubjectType": {},
                    "Issuer": {},
                    "Audience": {},
                    "NameQualifier": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "AssumeRoleWithWebIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName",
                    "WebIdentityToken"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "WebIdentityToken": {},
                    "ProviderId": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithWebIdentityResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "SubjectFromWebIdentityToken": {},
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Provider": {},
                    "Audience": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "DecodeAuthorizationMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "EncodedMessage"
                ],
                "members": {
                    "EncodedMessage": {}
                }
            },
            "output": {
                "resultWrapper": "DecodeAuthorizationMessageResult",
                "type": "structure",
                "members": {
                    "DecodedMessage": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetAccessKeyInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyId"
                ],
                "members": {
                    "AccessKeyId": {}
                }
            },
            "output": {
                "resultWrapper": "GetAccessKeyInfoResult",
                "type": "structure",
                "members": {
                    "Account": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetCallerIdentity": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "GetCallerIdentityResult",
                "type": "structure",
                "members": {
                    "UserId": {},
                    "Account": {},
                    "Arn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetFederationToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Policy": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetFederationTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "FederatedUser": {
                        "type": "structure",
                        "required": [
                            "FederatedUserId",
                            "Arn"
                        ],
                        "members": {
                            "FederatedUserId": {},
                            "Arn": {}
                        }
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "GetSessionToken": {
            "input": {
                "type": "structure",
                "members": {
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "SerialNumber": {},
                    "TokenCode": {}
                }
            },
            "output": {
                "resultWrapper": "GetSessionTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XFYGG64VZEXVN6EHNUXF2SV6YVICC57BK5IDMY56MLTUCJIHRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJR6NKWTM4QNKZUX3E4JHYAFM73I5662N2R6PGLSBJFXWEMIVEFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D45U6MYQAG6ANGDOGGSUBJ5V6PU5NH42OA5THTB2Z2B54ESUSSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWXQMQJYFSORTEHCIXYVVYVY4VEN7DLP437WOHF4Z6NCZ3VB5U4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYV3BWF3V3A7J4MS7NKBOJEL2G2Q76NFHVX4NNHMSPQN73LGWBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWTCQYM5FPDAJU5IV7YWK25L4NERZUCAC775H7OVDF3UIPVLVXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5EYNJRF2ASYN3IP42OBSMVXKYFZMT34AHEVAHEPKBJUF4GBTLSYQ/vendorv3.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZBHXH7TFHR5RRW2WVT3T6HGH7XHCTCGQX2CSK7PLNWPT2OQMWRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTV76TYUJJJW4ODKUXB5M3Q4JD26MOO74TP5JXNO5AYXUBQUR3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OPLMGKXKAEJWMGJRZEJCRTULEOK5RE54VHQIE3QC3OV4D3454N7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6LHJ7EKRK5Z37ZNBM4DGL3EIBKZ6NBPDD72IBTFDPDF6UVGSS6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPM7WLYZ5FRJKTH4MW7XVU2NEKV72KIZ2HQS3GALOTYCRML3J3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        },
        "AssumeRoot": {
            "input": {
                "type": "structure",
                "required": [
                    "TargetPrincipal",
                    "TaskPolicyArn"
                ],
                "members": {
                    "TargetPrincipal": {},
                    "TaskPolicyArn": {
                        "shape": "S5"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRootResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Sl"
                    },
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNONHTEE3BTAB77PXP23UM24RNEELDQDF7CVXZVIDTS65OLEGXOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFM6MXXX46HZXQGDXOIBQ7TD5ORGYEU2CER73NZNFFFAFCAEECNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXUH6JLFWDKS5PIWTYQFXXBNDTWOMETUL63VOX3AHJQNVXFA36UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OSF3EOVTBBDWVKWXZMUAHIJ6VVLHIVYRYR24O2A7JQBXSVZUMIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSIMZ5VCA3R6QFE3OS5I3DHEW7SZKNDWVPTH2SUZ43KNUT2RSTHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q52QG6G2N2F4TVNQGBIX6KZAHGGZFVJT467KBWIIBJDSILLUPRCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FY27LTQPFKBGIUQDM5SNOY4IQEVSAJ6BP3WPLXSXI2QIADMBA5TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEZIQCOIM2WXKCASNYCZP6K7YD2TWSLENWCLLLWRIA7QEKTTT3XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G34PLYIA4WGXBRES52VNLI2ZAMEJVSEAO2YVJNEJWDSHWJW5J3NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFN73HPHP6HJMRJXE535KXT56G32GZEVM4ODEMPCFAFMYFJ2QUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLGVULHGPIHTXKWLS3RTYPI4D5WA656CIT2HJF3745VTNMQ52TZA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sn": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sl": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {
                    "type": "string",
                    "sensitive": true
                },
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "S5": {
            "type": "structure",
            "members": {
                "arn": {}
            }
        }
    }
}