{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-06-15",
        "endpointPrefix": "sts",
        "globalEndpoint": "sts.amazonaws.com",
        "protocol": "query",
        "serviceAbbreviation": "AWS STS",
        "serviceFullName": "AWS Security Token Service",
        "serviceId": "STS",
        "signatureVersion": "v4",
        "uid": "sts-2011-06-15",
        "xmlNamespace": "https://sts.amazonaws.com/doc/2011-06-15/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
        ]
    },
    "operations": {
        "AssumeRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "TransitiveTagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "ExternalId": {},
                    "SerialNumber": {},
                    "TokenCode": {},
                    "SourceIdentity": {},
                    "ProvidedContexts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ProviderArn": {},
                                "ContextAssertion": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "AssumeRoleWithSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "PrincipalArn",
                    "SAMLAssertion"
                ],
                "members": {
                    "RoleArn": {},
                    "PrincipalArn": {},
                    "SAMLAssertion": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithSAMLResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Subject": {},
                    "SubjectType": {},
                    "Issuer": {},
                    "Audience": {},
                    "NameQualifier": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "AssumeRoleWithWebIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName",
                    "WebIdentityToken"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "WebIdentityToken": {},
                    "ProviderId": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithWebIdentityResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "SubjectFromWebIdentityToken": {},
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Provider": {},
                    "Audience": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "DecodeAuthorizationMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "EncodedMessage"
                ],
                "members": {
                    "EncodedMessage": {}
                }
            },
            "output": {
                "resultWrapper": "DecodeAuthorizationMessageResult",
                "type": "structure",
                "members": {
                    "DecodedMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetAccessKeyInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyId"
                ],
                "members": {
                    "AccessKeyId": {}
                }
            },
            "output": {
                "resultWrapper": "GetAccessKeyInfoResult",
                "type": "structure",
                "members": {
                    "Account": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetCallerIdentity": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "GetCallerIdentityResult",
                "type": "structure",
                "members": {
                    "UserId": {},
                    "Account": {},
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetFederationToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Policy": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetFederationTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "FederatedUser": {
                        "type": "structure",
                        "required": [
                            "FederatedUserId",
                            "Arn"
                        ],
                        "members": {
                            "FederatedUserId": {},
                            "Arn": {}
                        }
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetSessionToken": {
            "input": {
                "type": "structure",
                "members": {
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "SerialNumber": {},
                    "TokenCode": {}
                }
            },
            "output": {
                "resultWrapper": "GetSessionTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W77GZYQ3UMIZ6UOQRXDYBCGVQKCNEIT4EV5L2HU3UEWKZLC2MGEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2UYACP4SC7DQ3HFGKZUH77IGIMOAR3SUXCI57XDABROVBEFQW4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIXTM3DFX74OYGXWZ6F5HPQQIMS26J7OH3XFAACAR6I2T6FZVGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTQXAPPIAVHZU7LAWTFOUI7EHTBVHDDTKXEFUVRN5VEI64XPBKLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCILQMM7WTICP7BPEWMJ4ANGBODJ2HHL7EOKAWE4RWL22QSLXSSA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/b4cda628-c142-42a0-8885-563c73c867ec/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGRH75YTCWJ3V4VLRUILURNW7DQMPRQIEGEXWHJZXB4VZHW4JY4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GBPYRIDWJ4GP7KRJJQIC5J26HB2UNIJ3HZS5PWE5W6EOH6C2GUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XT3WCY2PWC5JTGEIEQFGTHTAI7K6WEHY2ZA6EHR45RT7I2RQ3W5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGJO2MOSR2UBOKJ7UUGBTP5JYK7BJHD2FDMMIWKZMJ4MPXBYS3DA/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sn": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sl": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {
                    "type": "string",
                    "sensitive": true
                },
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        }
    }
}