{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-06-15",
        "endpointPrefix": "sts",
        "globalEndpoint": "sts.amazonaws.com",
        "protocol": "query",
        "serviceAbbreviation": "AWS STS",
        "serviceFullName": "AWS Security Token Service",
        "serviceId": "STS",
        "signatureVersion": "v4",
        "uid": "sts-2011-06-15",
        "xmlNamespace": "https://sts.amazonaws.com/doc/2011-06-15/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
        ]
    },
    "operations": {
        "AssumeRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "TransitiveTagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "ExternalId": {},
                    "SerialNumber": {},
                    "TokenCode": {},
                    "SourceIdentity": {},
                    "ProvidedContexts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ProviderArn": {},
                                "ContextAssertion": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "AssumeRoleWithSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "PrincipalArn",
                    "SAMLAssertion"
                ],
                "members": {
                    "RoleArn": {},
                    "PrincipalArn": {},
                    "SAMLAssertion": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithSAMLResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Subject": {},
                    "SubjectType": {},
                    "Issuer": {},
                    "Audience": {},
                    "NameQualifier": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "AssumeRoleWithWebIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName",
                    "WebIdentityToken"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "WebIdentityToken": {},
                    "ProviderId": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithWebIdentityResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "SubjectFromWebIdentityToken": {},
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Provider": {},
                    "Audience": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "DecodeAuthorizationMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "EncodedMessage"
                ],
                "members": {
                    "EncodedMessage": {}
                }
            },
            "output": {
                "resultWrapper": "DecodeAuthorizationMessageResult",
                "type": "structure",
                "members": {
                    "DecodedMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetAccessKeyInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyId"
                ],
                "members": {
                    "AccessKeyId": {}
                }
            },
            "output": {
                "resultWrapper": "GetAccessKeyInfoResult",
                "type": "structure",
                "members": {
                    "Account": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetCallerIdentity": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "GetCallerIdentityResult",
                "type": "structure",
                "members": {
                    "UserId": {},
                    "Account": {},
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetFederationToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Policy": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetFederationTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "FederatedUser": {
                        "type": "structure",
                        "required": [
                            "FederatedUserId",
                            "Arn"
                        ],
                        "members": {
                            "FederatedUserId": {},
                            "Arn": {}
                        }
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetSessionToken": {
            "input": {
                "type": "structure",
                "members": {
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "SerialNumber": {},
                    "TokenCode": {}
                }
            },
            "output": {
                "resultWrapper": "GetSessionTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E35VXFGXOD2Y2RZ6JYMZRFKYCL626GBRCXMZHBCOGINZBYWYQHLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEHKKMPS25WYR7RSYJE3AAGEMKAC34WA5D62FVAE57JS7OSUJE3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/26792995-3405-4d6b-bf78-f3040a0f3dd7/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPUWW6Y2SKUVMZB6OPCR662NRQUM4VQUCP4OBUCQHQVMEG5F7V5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVHVNJX7YY4HSR2XMYHWASC2Q6A6BJZDHF2YWTUUYSWWCFIST2MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFOW5ULZCL5ML6X3PAPMBMVTGEZVVWYATI4GQCLB6Y5O7TMQG4CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3QY5IGAHXO462DYDZCC4JESJB6RRNQVSPPEUGXAU6X5KIHFY5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "AssumeRoot": {
            "input": {
                "type": "structure",
                "required": [
                    "TargetPrincipal",
                    "TaskPolicyArn"
                ],
                "members": {
                    "TargetPrincipal": {},
                    "TaskPolicyArn": {
                        "shape": "S5"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRootResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Sl"
                    },
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sn": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sl": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {
                    "type": "string",
                    "sensitive": true
                },
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "S5": {
            "type": "structure",
            "members": {
                "arn": {}
            }
        }
    }
}