{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-06-15",
        "endpointPrefix": "sts",
        "globalEndpoint": "sts.amazonaws.com",
        "protocol": "query",
        "serviceAbbreviation": "AWS STS",
        "serviceFullName": "AWS Security Token Service",
        "serviceId": "STS",
        "signatureVersion": "v4",
        "uid": "sts-2011-06-15",
        "xmlNamespace": "https://sts.amazonaws.com/doc/2011-06-15/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FV5N6MJSZ2MTOB4XZU72WWTZ4EMHVCUR2EPHY7G5GSGMR6RUK37A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
        ]
    },
    "operations": {
        "AssumeRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "TransitiveTagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "ExternalId": {},
                    "SerialNumber": {},
                    "TokenCode": {},
                    "SourceIdentity": {},
                    "ProvidedContexts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ProviderArn": {},
                                "ContextAssertion": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV5N6MJSZ2MTOB4XZU72WWTZ4EMHVCUR2EPHY7G5GSGMR6RUK37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "AssumeRoleWithSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "PrincipalArn",
                    "SAMLAssertion"
                ],
                "members": {
                    "RoleArn": {},
                    "PrincipalArn": {},
                    "SAMLAssertion": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithSAMLResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Subject": {},
                    "SubjectType": {},
                    "Issuer": {},
                    "Audience": {},
                    "NameQualifier": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV5N6MJSZ2MTOB4XZU72WWTZ4EMHVCUR2EPHY7G5GSGMR6RUK37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "AssumeRoleWithWebIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName",
                    "WebIdentityToken"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "WebIdentityToken": {},
                    "ProviderId": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithWebIdentityResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "SubjectFromWebIdentityToken": {},
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Provider": {},
                    "Audience": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV5N6MJSZ2MTOB4XZU72WWTZ4EMHVCUR2EPHY7G5GSGMR6RUK37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "DecodeAuthorizationMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "EncodedMessage"
                ],
                "members": {
                    "EncodedMessage": {}
                }
            },
            "output": {
                "resultWrapper": "DecodeAuthorizationMessageResult",
                "type": "structure",
                "members": {
                    "DecodedMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV5N6MJSZ2MTOB4XZU72WWTZ4EMHVCUR2EPHY7G5GSGMR6RUK37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetAccessKeyInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyId"
                ],
                "members": {
                    "AccessKeyId": {}
                }
            },
            "output": {
                "resultWrapper": "GetAccessKeyInfoResult",
                "type": "structure",
                "members": {
                    "Account": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV5N6MJSZ2MTOB4XZU72WWTZ4EMHVCUR2EPHY7G5GSGMR6RUK37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetCallerIdentity": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "GetCallerIdentityResult",
                "type": "structure",
                "members": {
                    "UserId": {},
                    "Account": {},
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV5N6MJSZ2MTOB4XZU72WWTZ4EMHVCUR2EPHY7G5GSGMR6RUK37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetFederationToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Policy": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetFederationTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "FederatedUser": {
                        "type": "structure",
                        "required": [
                            "FederatedUserId",
                            "Arn"
                        ],
                        "members": {
                            "FederatedUserId": {},
                            "Arn": {}
                        }
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV5N6MJSZ2MTOB4XZU72WWTZ4EMHVCUR2EPHY7G5GSGMR6RUK37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        },
        "GetSessionToken": {
            "input": {
                "type": "structure",
                "members": {
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "SerialNumber": {},
                    "TokenCode": {}
                }
            },
            "output": {
                "resultWrapper": "GetSessionTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FV5N6MJSZ2MTOB4XZU72WWTZ4EMHVCUR2EPHY7G5GSGMR6RUK37A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF52RF7K7GUMPMIOBTBYSUWZ7P4BMS5WD3CY6XEQ3FSJVOC2ZEFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6CC2J5VLHTW4W3DHLI6QQ6RHYMKXVTVCBO5YQYNDMYL47AW5TRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TDIAV7PVXMFKNSAJAU3HHMDX7G2GFEHGGGWL6L5KLHIEVTCJOU4Q/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9d58dd03-11ab-4718-9d06-8679bc790d78/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYTLI5UPWO2OHNYD2BJFS4NTKPWGOSU2M3PHWXS665R2QM4N2BOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FES43VOWOPICKIVQ4ASIC3CM74UANISDX74IVDRQALXS3E5R5LHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sn": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sl": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {
                    "type": "string",
                    "sensitive": true
                },
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        }
    }
}