{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-06-15",
        "endpointPrefix": "sts",
        "globalEndpoint": "sts.amazonaws.com",
        "protocol": "query",
        "serviceAbbreviation": "AWS STS",
        "serviceFullName": "AWS Security Token Service",
        "serviceId": "STS",
        "signatureVersion": "v4",
        "uid": "sts-2011-06-15",
        "xmlNamespace": "https://sts.amazonaws.com/doc/2011-06-15/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
        ]
    },
    "operations": {
        "AssumeRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "TransitiveTagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "ExternalId": {},
                    "SerialNumber": {},
                    "TokenCode": {},
                    "SourceIdentity": {},
                    "ProvidedContexts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ProviderArn": {},
                                "ContextAssertion": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "AssumeRoleWithSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "PrincipalArn",
                    "SAMLAssertion"
                ],
                "members": {
                    "RoleArn": {},
                    "PrincipalArn": {},
                    "SAMLAssertion": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithSAMLResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Subject": {},
                    "SubjectType": {},
                    "Issuer": {},
                    "Audience": {},
                    "NameQualifier": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "AssumeRoleWithWebIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName",
                    "WebIdentityToken"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "WebIdentityToken": {},
                    "ProviderId": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithWebIdentityResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "SubjectFromWebIdentityToken": {},
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Provider": {},
                    "Audience": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "DecodeAuthorizationMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "EncodedMessage"
                ],
                "members": {
                    "EncodedMessage": {}
                }
            },
            "output": {
                "resultWrapper": "DecodeAuthorizationMessageResult",
                "type": "structure",
                "members": {
                    "DecodedMessage": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetAccessKeyInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyId"
                ],
                "members": {
                    "AccessKeyId": {}
                }
            },
            "output": {
                "resultWrapper": "GetAccessKeyInfoResult",
                "type": "structure",
                "members": {
                    "Account": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetCallerIdentity": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "GetCallerIdentityResult",
                "type": "structure",
                "members": {
                    "UserId": {},
                    "Account": {},
                    "Arn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetFederationToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Policy": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetFederationTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "FederatedUser": {
                        "type": "structure",
                        "required": [
                            "FederatedUserId",
                            "Arn"
                        ],
                        "members": {
                            "FederatedUserId": {},
                            "Arn": {}
                        }
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "GetSessionToken": {
            "input": {
                "type": "structure",
                "members": {
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "SerialNumber": {},
                    "TokenCode": {}
                }
            },
            "output": {
                "resultWrapper": "GetSessionTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IW5Y7IXSL2V7V3KP4YACNXVN6YA65DSKIGQFW522IT3DD2NBHD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMJ4J6KJWC5KVUJBFZZC3VKSS3CNSNCP77JXGAZVNKGK4FBWGNHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUG3RNHDNMK47I6BFPJJEGPFU4MLRLTR3G4LWV5SV4BX2H5BL62A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JF3U4LASGBAQFZ2H5QND2X3EXXHU3F46PVJXYDQJBYSCRC7ZCVCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PV3LHWOXID5RNHEK5ZNNCUNTOKG6Q2NCNSWA37HUTP7XQBVV5LDA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/9597f4d7-a535-439c-af13-77558cad0167/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/THDFQ2FKZLQIOSSFNDS3RKO4ZDP3UTPYNK67L2K5KG3PNZICG74A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV7UX6LWO6A737A7PFRBDDGTP6CSHJ74QO24ZAVPYGX36QALDCTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BO5IADIXWOXAZQY63CGWV53HK6M3DT5OPU5H6JDTI4XIZ6VMYYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCWP4ZSRRCMIFSR2FOGIUJQKGOGVA65TGZ7KDC7IHEZEVPI4JKBQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        },
        "AssumeRoot": {
            "input": {
                "type": "structure",
                "required": [
                    "TargetPrincipal",
                    "TaskPolicyArn"
                ],
                "members": {
                    "TargetPrincipal": {},
                    "TaskPolicyArn": {
                        "shape": "S5"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRootResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Sl"
                    },
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRENUNPA334DJ3VC7OMOXSDJYAD4DPHRAIJRF7MDC6HHID2XKLKQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sn": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sl": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {
                    "type": "string",
                    "sensitive": true
                },
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "S5": {
            "type": "structure",
            "members": {
                "arn": {}
            }
        }
    }
}