{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2011-06-15",
        "endpointPrefix": "sts",
        "globalEndpoint": "sts.amazonaws.com",
        "protocol": "query",
        "serviceAbbreviation": "AWS STS",
        "serviceFullName": "AWS Security Token Service",
        "serviceId": "STS",
        "signatureVersion": "v4",
        "uid": "sts-2011-06-15",
        "xmlNamespace": "https://sts.amazonaws.com/doc/2011-06-15/",
        "download_location": [
            "https://d2ziyq7zksuzai.cloudfront.net/1690924662887/main.js",
            "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
        ]
    },
    "operations": {
        "AssumeRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    },
                    "TransitiveTagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "ExternalId": {},
                    "SerialNumber": {},
                    "TokenCode": {},
                    "SourceIdentity": {},
                    "ProvidedContexts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ProviderArn": {},
                                "ContextAssertion": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "AssumeRoleWithSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "PrincipalArn",
                    "SAMLAssertion"
                ],
                "members": {
                    "RoleArn": {},
                    "PrincipalArn": {},
                    "SAMLAssertion": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithSAMLResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Subject": {},
                    "SubjectType": {},
                    "Issuer": {},
                    "Audience": {},
                    "NameQualifier": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "AssumeRoleWithWebIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "RoleSessionName",
                    "WebIdentityToken"
                ],
                "members": {
                    "RoleArn": {},
                    "RoleSessionName": {},
                    "WebIdentityToken": {},
                    "ProviderId": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "AssumeRoleWithWebIdentityResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "SubjectFromWebIdentityToken": {},
                    "AssumedRoleUser": {
                        "shape": "Sn"
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    },
                    "Provider": {},
                    "Audience": {},
                    "SourceIdentity": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "DecodeAuthorizationMessage": {
            "input": {
                "type": "structure",
                "required": [
                    "EncodedMessage"
                ],
                "members": {
                    "EncodedMessage": {}
                }
            },
            "output": {
                "resultWrapper": "DecodeAuthorizationMessageResult",
                "type": "structure",
                "members": {
                    "DecodedMessage": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "GetAccessKeyInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessKeyId"
                ],
                "members": {
                    "AccessKeyId": {}
                }
            },
            "output": {
                "resultWrapper": "GetAccessKeyInfoResult",
                "type": "structure",
                "members": {
                    "Account": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TTHXLJLRICYBHNWC7VYYB3HHL5SBOK3PIHESEA3YHLYO6XCYEBPA/vendors.sdk.js",
                "https://d1naxcrxd07icq.cloudfront.net/js/insightsExplorer_Prod_v2460b9632e2dd73ca46b6a6141110c339b41b76a.gz.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "GetCallerIdentity": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "GetCallerIdentityResult",
                "type": "structure",
                "members": {
                    "UserId": {},
                    "Account": {},
                    "Arn": {}
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "GetFederationToken": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Policy": {},
                    "PolicyArns": {
                        "shape": "S4"
                    },
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "S8"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetFederationTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    },
                    "FederatedUser": {
                        "type": "structure",
                        "required": [
                            "FederatedUserId",
                            "Arn"
                        ],
                        "members": {
                            "FederatedUserId": {},
                            "Arn": {}
                        }
                    },
                    "PackedPolicySize": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        },
        "GetSessionToken": {
            "input": {
                "type": "structure",
                "members": {
                    "DurationSeconds": {
                        "type": "integer"
                    },
                    "SerialNumber": {},
                    "TokenCode": {}
                }
            },
            "output": {
                "resultWrapper": "GetSessionTokenResult",
                "type": "structure",
                "members": {
                    "Credentials": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://d2p4q6mkc1wici.cloudfront.net/a847d4483c7ca3579f432aabe78d38b3d657d483/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFIL72NJ3LTQJW7P52XX6WO7S2CID4774IYJ6KDHUKE2TLW5J7CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PDOO7CG34YH626TTGRW32PGB63VCVEYA7F3U44FK2CNPJ5ROZLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKEO2NWFCR6DC3JHKFASANXC62NFHPXZFYSYAJKRMLYODVI7EBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1700175852837/main_en.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNZAMM3H6CR6LPIIBX4SYTRKQOVCM3HLBSURG3HHYQISKKMM6YGQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/744WXLUQICCIOFLNQMWNEI6VIG3EVEOWFN5VKU6XKONYITOVJ25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYQXA3LJXCPNZPBYPDIYN62QM4OPJCXCUAHIJAA5JRZN4AILWTLA/vendor.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTIH2XRGISQIV4QAEWQNGZBBDQKXNVQPCDB4ZXMHI7FB2YXWOLJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ABTVIQMCTUSGBNCYX6634DRMYWWLME7BH6ERIGE5VBTFUSSGLCA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMPLW4WIHRRPQ57HLGXXKCN7FNZVORCWZ7SBLXYLWNTXK5QZNEYA/index.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "arn": {}
                }
            }
        },
        "S8": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sn": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sm": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {},
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sf": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        },
        "Sl": {
            "type": "structure",
            "required": [
                "AccessKeyId",
                "SecretAccessKey",
                "SessionToken",
                "Expiration"
            ],
            "members": {
                "AccessKeyId": {},
                "SecretAccessKey": {
                    "type": "string",
                    "sensitive": true
                },
                "SessionToken": {},
                "Expiration": {
                    "type": "timestamp"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "required": [
                "AssumedRoleId",
                "Arn"
            ],
            "members": {
                "AssumedRoleId": {},
                "Arn": {}
            }
        }
    }
}