{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-28",
        "endpointPrefix": "ssoup",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SUP",
        "serviceFullName": "AWS Single Sign-On Native Directory",
        "signatureVersion": "v4",
        "signingName": "userpool",
        "targetPrefix": "SWBUPService",
        "uid": "SUP-2017-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
        ]
    },
    "operations": {
        "AddMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Member",
                    "GroupId"
                ],
                "members": {
                    "Member": {
                        "shape": "S2"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "Description": {},
                    "GroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "Name",
                    "Emails",
                    "PasswordMode"
                ],
                "members": {
                    "UserName": {
                        "shape": "Sg"
                    },
                    "Name": {
                        "shape": "Sh"
                    },
                    "DisplayName": {},
                    "PreferredLanguage": {},
                    "Emails": {
                        "shape": "Si"
                    },
                    "PhoneNumbers": {
                        "shape": "Sj"
                    },
                    "Addresses": {
                        "shape": "Sl"
                    },
                    "PasswordMode": {},
                    "EmployeeNumber": {},
                    "AdObjectGuid": {},
                    "Notes": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "GroupIds": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "members": {
                    "UserIds": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S19"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "DisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "EnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "GetUserPoolInfo": {
            "input": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Alias": {},
                    "DirectoryId": {},
                    "MigrationStatus": {},
                    "DirectoryType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "ListGroupsForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "GroupAttributes": {
                        "shape": "S1k"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "ListMembersInGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Members"
                ],
                "members": {
                    "Members": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "RemoveMemberFromGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Member",
                    "GroupId"
                ],
                "members": {
                    "Member": {
                        "shape": "S2"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "SearchGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "SearchString"
                ],
                "members": {
                    "SearchString": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "SearchAttributes": {
                        "shape": "S1k"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "SearchUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "SearchString"
                ],
                "members": {
                    "SearchString": {},
                    "SearchAttributes": {
                        "shape": "S1k"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S19"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "UpdateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {},
                    "Description": {
                        "type": "structure",
                        "members": {
                            "Value": {},
                            "UpdateType": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "UpdatePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "PasswordMode"
                ],
                "members": {
                    "UserId": {},
                    "PasswordMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Password": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "UpdateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {},
                    "Name": {
                        "type": "structure",
                        "required": [
                            "GivenName",
                            "FamilyName"
                        ],
                        "members": {
                            "GivenName": {
                                "shape": "S25"
                            },
                            "FamilyName": {
                                "shape": "S25"
                            },
                            "MiddleName": {
                                "shape": "S26"
                            }
                        },
                        "sensitive": true
                    },
                    "DisplayName": {
                        "shape": "S26"
                    },
                    "PreferredLanguage": {
                        "shape": "S26"
                    },
                    "PhoneNumbers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Value": {
                                    "shape": "Sk"
                                },
                                "UpdateType": {}
                            }
                        }
                    },
                    "Addresses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StreetAddress": {
                                    "shape": "S26"
                                },
                                "Region": {
                                    "shape": "S26"
                                },
                                "PostalCode": {
                                    "shape": "S26"
                                },
                                "Country": {
                                    "shape": "S26"
                                }
                            },
                            "sensitive": true
                        }
                    },
                    "EmployeeNumber": {
                        "shape": "S26"
                    },
                    "AdObjectGuid": {
                        "shape": "S26"
                    },
                    "Notes": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "VerifyEmail": {
            "input": {
                "type": "structure",
                "members": {
                    "UserId": {},
                    "EmailId": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "members": {
                "Id": {},
                "Type": {}
            }
        },
        "Se": {
            "type": "structure",
            "required": [
                "GroupId"
            ],
            "members": {
                "GroupId": {},
                "Description": {},
                "GroupName": {}
            }
        },
        "Sg": {
            "type": "string",
            "sensitive": true
        },
        "Sh": {
            "type": "structure",
            "required": [
                "GivenName",
                "FamilyName"
            ],
            "members": {
                "GivenName": {},
                "FamilyName": {},
                "MiddleName": {}
            },
            "sensitive": true
        },
        "Si": {
            "type": "list",
            "member": {
                "shape": "Sg"
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "shape": "Sk"
            }
        },
        "Sk": {
            "type": "string",
            "sensitive": true
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "StreetAddress": {},
                    "Region": {},
                    "PostalCode": {},
                    "Country": {}
                },
                "sensitive": true
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "UserId",
                "UserName",
                "Name"
            ],
            "members": {
                "UserId": {},
                "UserName": {
                    "shape": "Sg"
                },
                "Name": {
                    "shape": "Sh"
                },
                "DisplayName": {},
                "PreferredLanguage": {},
                "Active": {
                    "type": "boolean"
                },
                "Emails": {
                    "shape": "Si"
                },
                "PhoneNumbers": {
                    "shape": "Sj"
                },
                "Addresses": {
                    "shape": "Sl"
                },
                "Password": {
                    "shape": "Ss"
                },
                "EmployeeNumber": {},
                "AdObjectGuid": {},
                "Notes": {},
                "EmailsInfo": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Email": {
                                "shape": "Sg"
                            },
                            "Status": {}
                        }
                    }
                }
            }
        },
        "Ss": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "list",
            "member": {
                "shape": "Se"
            }
        },
        "S19": {
            "type": "list",
            "member": {
                "shape": "Sp"
            }
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S25": {
            "type": "structure",
            "members": {
                "Value": {}
            }
        },
        "S26": {
            "type": "structure",
            "members": {
                "Value": {},
                "UpdateType": {}
            }
        }
    }
}