{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-28",
        "endpointPrefix": "ssoup",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SUP",
        "serviceFullName": "AWS Single Sign-On Native Directory",
        "signatureVersion": "v4",
        "signingName": "userpool",
        "targetPrefix": "SWBUPService",
        "uid": "SUP-2017-11-28",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
        ]
    },
    "operations": {
        "AddMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Member",
                    "GroupId"
                ],
                "members": {
                    "Member": {
                        "shape": "S2"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "Description": {},
                    "GroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "Name",
                    "Emails",
                    "PasswordMode"
                ],
                "members": {
                    "UserName": {
                        "shape": "Sg"
                    },
                    "Name": {
                        "shape": "Sh"
                    },
                    "DisplayName": {},
                    "PreferredLanguage": {},
                    "Emails": {
                        "shape": "Si"
                    },
                    "PhoneNumbers": {
                        "shape": "Sj"
                    },
                    "Addresses": {
                        "shape": "Sl"
                    },
                    "PasswordMode": {},
                    "EmployeeNumber": {},
                    "AdObjectGuid": {},
                    "Notes": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "GroupIds": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "members": {
                    "UserIds": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S19"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "EnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetUserPoolInfo": {
            "input": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Alias": {},
                    "DirectoryId": {},
                    "MigrationStatus": {},
                    "DirectoryType": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListGroupsForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "GroupAttributes": {
                        "shape": "S1k"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "ListMembersInGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Members"
                ],
                "members": {
                    "Members": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "RemoveMemberFromGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Member",
                    "GroupId"
                ],
                "members": {
                    "Member": {
                        "shape": "S2"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "SearchGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "SearchString"
                ],
                "members": {
                    "SearchString": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "SearchAttributes": {
                        "shape": "S1k"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "SearchUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "SearchString"
                ],
                "members": {
                    "SearchString": {},
                    "SearchAttributes": {
                        "shape": "S1k"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S19"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "UpdateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {},
                    "Description": {
                        "type": "structure",
                        "members": {
                            "Value": {},
                            "UpdateType": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "UpdatePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "PasswordMode"
                ],
                "members": {
                    "UserId": {},
                    "PasswordMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Password": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "UpdateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {},
                    "Name": {
                        "type": "structure",
                        "required": [
                            "GivenName",
                            "FamilyName"
                        ],
                        "members": {
                            "GivenName": {
                                "shape": "S25"
                            },
                            "FamilyName": {
                                "shape": "S25"
                            },
                            "MiddleName": {
                                "shape": "S26"
                            }
                        },
                        "sensitive": true
                    },
                    "DisplayName": {
                        "shape": "S26"
                    },
                    "PreferredLanguage": {
                        "shape": "S26"
                    },
                    "PhoneNumbers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Value": {
                                    "shape": "Sk"
                                },
                                "UpdateType": {}
                            }
                        }
                    },
                    "Addresses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StreetAddress": {
                                    "shape": "S26"
                                },
                                "Region": {
                                    "shape": "S26"
                                },
                                "PostalCode": {
                                    "shape": "S26"
                                },
                                "Country": {
                                    "shape": "S26"
                                }
                            },
                            "sensitive": true
                        }
                    },
                    "EmployeeNumber": {
                        "shape": "S26"
                    },
                    "AdObjectGuid": {
                        "shape": "S26"
                    },
                    "Notes": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "VerifyEmail": {
            "input": {
                "type": "structure",
                "members": {
                    "UserId": {},
                    "EmailId": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DXBTVBWLDWC54I5D2MK4IKGA357LZWI4BXKUKBX6KBBAA5PPL3ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNILSWKLRBQCT4TMWFLEFM3LZHEGSLHTCGCN7YHUOPKJ3I3ZHN3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWPKNWFYSDVXV3ZV6VUWQVIDCB5SPPFKNWBI5XJNJJLXUN3WLLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "members": {
                "Id": {},
                "Type": {}
            }
        },
        "Se": {
            "type": "structure",
            "required": [
                "GroupId"
            ],
            "members": {
                "GroupId": {},
                "Description": {},
                "GroupName": {}
            }
        },
        "Sg": {
            "type": "string",
            "sensitive": true
        },
        "Sh": {
            "type": "structure",
            "required": [
                "GivenName",
                "FamilyName"
            ],
            "members": {
                "GivenName": {},
                "FamilyName": {},
                "MiddleName": {}
            },
            "sensitive": true
        },
        "Si": {
            "type": "list",
            "member": {
                "shape": "Sg"
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "shape": "Sk"
            }
        },
        "Sk": {
            "type": "string",
            "sensitive": true
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "StreetAddress": {},
                    "Region": {},
                    "PostalCode": {},
                    "Country": {}
                },
                "sensitive": true
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "UserId",
                "UserName",
                "Name"
            ],
            "members": {
                "UserId": {},
                "UserName": {
                    "shape": "Sg"
                },
                "Name": {
                    "shape": "Sh"
                },
                "DisplayName": {},
                "PreferredLanguage": {},
                "Active": {
                    "type": "boolean"
                },
                "Emails": {
                    "shape": "Si"
                },
                "PhoneNumbers": {
                    "shape": "Sj"
                },
                "Addresses": {
                    "shape": "Sl"
                },
                "Password": {
                    "shape": "Ss"
                },
                "EmployeeNumber": {},
                "AdObjectGuid": {},
                "Notes": {},
                "EmailsInfo": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Email": {
                                "shape": "Sg"
                            },
                            "Status": {}
                        }
                    }
                }
            }
        },
        "Ss": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "list",
            "member": {
                "shape": "Se"
            }
        },
        "S19": {
            "type": "list",
            "member": {
                "shape": "Sp"
            }
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S25": {
            "type": "structure",
            "members": {
                "Value": {}
            }
        },
        "S26": {
            "type": "structure",
            "members": {
                "Value": {},
                "UpdateType": {}
            }
        }
    }
}