{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-28",
        "endpointPrefix": "ssoup",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SUP",
        "serviceFullName": "AWS Single Sign-On Native Directory",
        "signatureVersion": "v4",
        "signingName": "userpool",
        "targetPrefix": "SWBUPService",
        "uid": "SUP-2017-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
        ]
    },
    "operations": {
        "AddMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Member",
                    "GroupId"
                ],
                "members": {
                    "Member": {
                        "shape": "S2"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "Description": {},
                    "GroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "Name",
                    "Emails",
                    "PasswordMode"
                ],
                "members": {
                    "UserName": {
                        "shape": "Sg"
                    },
                    "Name": {
                        "shape": "Sh"
                    },
                    "DisplayName": {},
                    "PreferredLanguage": {},
                    "Emails": {
                        "shape": "Si"
                    },
                    "PhoneNumbers": {
                        "shape": "Sj"
                    },
                    "Addresses": {
                        "shape": "Sl"
                    },
                    "PasswordMode": {},
                    "EmployeeNumber": {},
                    "AdObjectGuid": {},
                    "Notes": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "GroupIds": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "members": {
                    "UserIds": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S19"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "EnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetUserPoolInfo": {
            "input": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Alias": {},
                    "DirectoryId": {},
                    "MigrationStatus": {},
                    "DirectoryType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListGroupsForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "GroupAttributes": {
                        "shape": "S1k"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ListMembersInGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Members"
                ],
                "members": {
                    "Members": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "RemoveMemberFromGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Member",
                    "GroupId"
                ],
                "members": {
                    "Member": {
                        "shape": "S2"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "SearchGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "SearchString"
                ],
                "members": {
                    "SearchString": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "SearchAttributes": {
                        "shape": "S1k"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "SearchUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "SearchString"
                ],
                "members": {
                    "SearchString": {},
                    "SearchAttributes": {
                        "shape": "S1k"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S19"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "UpdateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {},
                    "Description": {
                        "type": "structure",
                        "members": {
                            "Value": {},
                            "UpdateType": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "UpdatePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "PasswordMode"
                ],
                "members": {
                    "UserId": {},
                    "PasswordMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Password": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "UpdateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {},
                    "Name": {
                        "type": "structure",
                        "required": [
                            "GivenName",
                            "FamilyName"
                        ],
                        "members": {
                            "GivenName": {
                                "shape": "S25"
                            },
                            "FamilyName": {
                                "shape": "S25"
                            },
                            "MiddleName": {
                                "shape": "S26"
                            }
                        },
                        "sensitive": true
                    },
                    "DisplayName": {
                        "shape": "S26"
                    },
                    "PreferredLanguage": {
                        "shape": "S26"
                    },
                    "PhoneNumbers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Value": {
                                    "shape": "Sk"
                                },
                                "UpdateType": {}
                            }
                        }
                    },
                    "Addresses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StreetAddress": {
                                    "shape": "S26"
                                },
                                "Region": {
                                    "shape": "S26"
                                },
                                "PostalCode": {
                                    "shape": "S26"
                                },
                                "Country": {
                                    "shape": "S26"
                                }
                            },
                            "sensitive": true
                        }
                    },
                    "EmployeeNumber": {
                        "shape": "S26"
                    },
                    "AdObjectGuid": {
                        "shape": "S26"
                    },
                    "Notes": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "VerifyEmail": {
            "input": {
                "type": "structure",
                "members": {
                    "UserId": {},
                    "EmailId": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U76ZD34EDG5DM5KAN3GQGFGVXVG5XX3I3OZZZLDRKZPKLDXM6SKQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "members": {
                "Id": {},
                "Type": {}
            }
        },
        "Se": {
            "type": "structure",
            "required": [
                "GroupId"
            ],
            "members": {
                "GroupId": {},
                "Description": {},
                "GroupName": {}
            }
        },
        "Sg": {
            "type": "string",
            "sensitive": true
        },
        "Sh": {
            "type": "structure",
            "required": [
                "GivenName",
                "FamilyName"
            ],
            "members": {
                "GivenName": {},
                "FamilyName": {},
                "MiddleName": {}
            },
            "sensitive": true
        },
        "Si": {
            "type": "list",
            "member": {
                "shape": "Sg"
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "shape": "Sk"
            }
        },
        "Sk": {
            "type": "string",
            "sensitive": true
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "StreetAddress": {},
                    "Region": {},
                    "PostalCode": {},
                    "Country": {}
                },
                "sensitive": true
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "UserId",
                "UserName",
                "Name"
            ],
            "members": {
                "UserId": {},
                "UserName": {
                    "shape": "Sg"
                },
                "Name": {
                    "shape": "Sh"
                },
                "DisplayName": {},
                "PreferredLanguage": {},
                "Active": {
                    "type": "boolean"
                },
                "Emails": {
                    "shape": "Si"
                },
                "PhoneNumbers": {
                    "shape": "Sj"
                },
                "Addresses": {
                    "shape": "Sl"
                },
                "Password": {
                    "shape": "Ss"
                },
                "EmployeeNumber": {},
                "AdObjectGuid": {},
                "Notes": {},
                "EmailsInfo": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Email": {
                                "shape": "Sg"
                            },
                            "Status": {}
                        }
                    }
                }
            }
        },
        "Ss": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "list",
            "member": {
                "shape": "Se"
            }
        },
        "S19": {
            "type": "list",
            "member": {
                "shape": "Sp"
            }
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S25": {
            "type": "structure",
            "members": {
                "Value": {}
            }
        },
        "S26": {
            "type": "structure",
            "members": {
                "Value": {},
                "UpdateType": {}
            }
        }
    }
}