{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-28",
        "endpointPrefix": "ssoup",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SUP",
        "serviceFullName": "AWS Single Sign-On Native Directory",
        "signatureVersion": "v4",
        "signingName": "userpool",
        "targetPrefix": "SWBUPService",
        "uid": "SUP-2017-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5T6QVW4RQOAGSLFHRYHSZ64Y6GUK2JY4JAYK64KQGH5DTN74ACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
        ]
    },
    "operations": {
        "AddMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Member",
                    "GroupId"
                ],
                "members": {
                    "Member": {
                        "shape": "S2"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "Description": {},
                    "GroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "Name",
                    "Emails",
                    "PasswordMode"
                ],
                "members": {
                    "UserName": {
                        "shape": "Sg"
                    },
                    "Name": {
                        "shape": "Sh"
                    },
                    "DisplayName": {},
                    "PreferredLanguage": {},
                    "Emails": {
                        "shape": "Si"
                    },
                    "PhoneNumbers": {
                        "shape": "Sj"
                    },
                    "Addresses": {
                        "shape": "Sl"
                    },
                    "PasswordMode": {},
                    "EmployeeNumber": {},
                    "AdObjectGuid": {},
                    "Notes": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "GroupIds": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "members": {
                    "UserIds": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S19"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "DisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "EnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "GetUserPoolInfo": {
            "input": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Alias": {},
                    "DirectoryId": {},
                    "MigrationStatus": {},
                    "DirectoryType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "ListGroupsForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "GroupAttributes": {
                        "shape": "S1k"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "ListMembersInGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Members"
                ],
                "members": {
                    "Members": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "RemoveMemberFromGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Member",
                    "GroupId"
                ],
                "members": {
                    "Member": {
                        "shape": "S2"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "SearchGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "SearchString"
                ],
                "members": {
                    "SearchString": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "SearchAttributes": {
                        "shape": "S1k"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "SearchUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "SearchString"
                ],
                "members": {
                    "SearchString": {},
                    "SearchAttributes": {
                        "shape": "S1k"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S19"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "UpdateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {},
                    "Description": {
                        "type": "structure",
                        "members": {
                            "Value": {},
                            "UpdateType": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "UpdatePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "PasswordMode"
                ],
                "members": {
                    "UserId": {},
                    "PasswordMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Password": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "UpdateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {},
                    "Name": {
                        "type": "structure",
                        "required": [
                            "GivenName",
                            "FamilyName"
                        ],
                        "members": {
                            "GivenName": {
                                "shape": "S25"
                            },
                            "FamilyName": {
                                "shape": "S25"
                            },
                            "MiddleName": {
                                "shape": "S26"
                            }
                        },
                        "sensitive": true
                    },
                    "DisplayName": {
                        "shape": "S26"
                    },
                    "PreferredLanguage": {
                        "shape": "S26"
                    },
                    "PhoneNumbers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Value": {
                                    "shape": "Sk"
                                },
                                "UpdateType": {}
                            }
                        }
                    },
                    "Addresses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StreetAddress": {
                                    "shape": "S26"
                                },
                                "Region": {
                                    "shape": "S26"
                                },
                                "PostalCode": {
                                    "shape": "S26"
                                },
                                "Country": {
                                    "shape": "S26"
                                }
                            },
                            "sensitive": true
                        }
                    },
                    "EmployeeNumber": {
                        "shape": "S26"
                    },
                    "AdObjectGuid": {
                        "shape": "S26"
                    },
                    "Notes": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        },
        "VerifyEmail": {
            "input": {
                "type": "structure",
                "members": {
                    "UserId": {},
                    "EmailId": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOAD4LIWTUP7SOTPESRZXESJPT4PPTLLBVSFKHFWSDAG3LS7MTGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "members": {
                "Id": {},
                "Type": {}
            }
        },
        "Se": {
            "type": "structure",
            "required": [
                "GroupId"
            ],
            "members": {
                "GroupId": {},
                "Description": {},
                "GroupName": {}
            }
        },
        "Sg": {
            "type": "string",
            "sensitive": true
        },
        "Sh": {
            "type": "structure",
            "required": [
                "GivenName",
                "FamilyName"
            ],
            "members": {
                "GivenName": {},
                "FamilyName": {},
                "MiddleName": {}
            },
            "sensitive": true
        },
        "Si": {
            "type": "list",
            "member": {
                "shape": "Sg"
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "shape": "Sk"
            }
        },
        "Sk": {
            "type": "string",
            "sensitive": true
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "StreetAddress": {},
                    "Region": {},
                    "PostalCode": {},
                    "Country": {}
                },
                "sensitive": true
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "UserId",
                "UserName",
                "Name"
            ],
            "members": {
                "UserId": {},
                "UserName": {
                    "shape": "Sg"
                },
                "Name": {
                    "shape": "Sh"
                },
                "DisplayName": {},
                "PreferredLanguage": {},
                "Active": {
                    "type": "boolean"
                },
                "Emails": {
                    "shape": "Si"
                },
                "PhoneNumbers": {
                    "shape": "Sj"
                },
                "Addresses": {
                    "shape": "Sl"
                },
                "Password": {
                    "shape": "Ss"
                },
                "EmployeeNumber": {},
                "AdObjectGuid": {},
                "Notes": {},
                "EmailsInfo": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Email": {
                                "shape": "Sg"
                            },
                            "Status": {}
                        }
                    }
                }
            }
        },
        "Ss": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "list",
            "member": {
                "shape": "Se"
            }
        },
        "S19": {
            "type": "list",
            "member": {
                "shape": "Sp"
            }
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S25": {
            "type": "structure",
            "members": {
                "Value": {}
            }
        },
        "S26": {
            "type": "structure",
            "members": {
                "Value": {},
                "UpdateType": {}
            }
        }
    }
}