{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-28",
        "endpointPrefix": "ssoup",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SUP",
        "serviceFullName": "AWS Single Sign-On Native Directory",
        "signatureVersion": "v4",
        "signingName": "userpool",
        "targetPrefix": "SWBUPService",
        "uid": "SUP-2017-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BXKZKFHKPZU6AFECTW52NNTLXYISX3UQM4WLYBM44TMKJV3B7AKQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
        ]
    },
    "operations": {
        "AddMemberToGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Member",
                    "GroupId"
                ],
                "members": {
                    "Member": {
                        "shape": "S2"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "Alias"
                ],
                "members": {
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupName"
                ],
                "members": {
                    "Description": {},
                    "GroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserName",
                    "Name",
                    "Emails",
                    "PasswordMode"
                ],
                "members": {
                    "UserName": {
                        "shape": "Sg"
                    },
                    "Name": {
                        "shape": "Sh"
                    },
                    "DisplayName": {},
                    "PreferredLanguage": {},
                    "Emails": {
                        "shape": "Si"
                    },
                    "PhoneNumbers": {
                        "shape": "Sj"
                    },
                    "Addresses": {
                        "shape": "Sl"
                    },
                    "PasswordMode": {},
                    "EmployeeNumber": {},
                    "AdObjectGuid": {},
                    "Notes": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "User": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DescribeGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "GroupIds": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DescribeUsers": {
            "input": {
                "type": "structure",
                "members": {
                    "UserIds": {
                        "type": "list",
                        "member": {}
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S19"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "DisableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "EnableUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "GetUserPoolInfo": {
            "input": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Alias": {},
                    "DirectoryId": {},
                    "MigrationStatus": {},
                    "DirectoryType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListGroupsForUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "GroupAttributes": {
                        "shape": "S1k"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "ListMembersInGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Members"
                ],
                "members": {
                    "Members": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "RemoveMemberFromGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "Member",
                    "GroupId"
                ],
                "members": {
                    "Member": {
                        "shape": "S2"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "SearchGroups": {
            "input": {
                "type": "structure",
                "required": [
                    "SearchString"
                ],
                "members": {
                    "SearchString": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "SearchAttributes": {
                        "shape": "S1k"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Groups"
                ],
                "members": {
                    "Groups": {
                        "shape": "S15"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "SearchUsers": {
            "input": {
                "type": "structure",
                "required": [
                    "SearchString"
                ],
                "members": {
                    "SearchString": {},
                    "SearchAttributes": {
                        "shape": "S1k"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Users"
                ],
                "members": {
                    "Users": {
                        "shape": "S19"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "UpdateGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GroupId"
                ],
                "members": {
                    "GroupId": {},
                    "Description": {
                        "type": "structure",
                        "members": {
                            "Value": {},
                            "UpdateType": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "UpdatePassword": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "PasswordMode"
                ],
                "members": {
                    "UserId": {},
                    "PasswordMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Password": {
                        "shape": "Ss"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "UpdateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId"
                ],
                "members": {
                    "UserId": {},
                    "Name": {
                        "type": "structure",
                        "required": [
                            "GivenName",
                            "FamilyName"
                        ],
                        "members": {
                            "GivenName": {
                                "shape": "S25"
                            },
                            "FamilyName": {
                                "shape": "S25"
                            },
                            "MiddleName": {
                                "shape": "S26"
                            }
                        },
                        "sensitive": true
                    },
                    "DisplayName": {
                        "shape": "S26"
                    },
                    "PreferredLanguage": {
                        "shape": "S26"
                    },
                    "PhoneNumbers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Value": {
                                    "shape": "Sk"
                                },
                                "UpdateType": {}
                            }
                        }
                    },
                    "Addresses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StreetAddress": {
                                    "shape": "S26"
                                },
                                "Region": {
                                    "shape": "S26"
                                },
                                "PostalCode": {
                                    "shape": "S26"
                                },
                                "Country": {
                                    "shape": "S26"
                                }
                            },
                            "sensitive": true
                        }
                    },
                    "EmployeeNumber": {
                        "shape": "S26"
                    },
                    "AdObjectGuid": {
                        "shape": "S26"
                    },
                    "Notes": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNYMRMYV6XNFKPQY7RM42V25QA5SPISF7ZMWVGLCQ6RLJRVNHR6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVBG5BZM2WQSXQAX6SOZNARZHFPIJJI56XGTPLJQDSAW3ET264YQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4TZUZ2JAOUCZG3MT6DVIQ675LVQIL52LYF2P4OB426N2MWCSERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V3XEBETTU56GDZMB44SCGQ35XP65G2X7I57SD6ZGEUCNNVYTCR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NS2TPGJCR25BVLGM6PT2AJE5W2M6IHJXZGRPRVBFWS6T66BDEL5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5OU6MXAOGG27VOH4OM2HXJATYVPGO6SOFXBNIDMLCW2EQ75TTH2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NXQQWND7QUJNCACLAEV7H45EW6ALUR2R3OFHNPH2MNWJNKJGLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBMCDH5VIRTJAGWTOZPB5PMXOBDNKJHDWG5VVIPV5D5GPXZVFUZQ/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LRBLYZUNEPZDMR5YSKE2XK5IDKW6O5VEX65FW4MYYUGIS2LND2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQQ77PWQ3MEDHPKCZZY2Z7FCGUNMEV7USUZQIHMALINZWI4NTZDA/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOT66SFRWXAVUFCTNBIHL2JIJBP5CT6IQPA2BH2AIHAJIAZEPM4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WS6Y34M2UIL4TK5GUS4OILRY2P4OHCGJF72TVAXIEZ6UGOVAJMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7MGBJUNSIDFYB3LKV4RJMCA5ZYODCMBHPKDTPKPTXA7OPC4S73Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5UJCN3TASERF7WWCH3IHPJYEIGSLTBERR5LD6BW23ERFLEOBIRUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VDYCRUBR362D4JCYUQ2T73DV5G3QC3YW5REPMMKQ2HHX7NLHL7A/vendors-f97724ed.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDL7L7X7J5K3MN4WR3Z3XRKW4R53WUAIDRFREEJF75PSAFRIE73A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO5JHCTJCHPEA2M5L5JIMM7YHI33GAE5OMNPOXXE6AY7AUJHUJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPF45FNZTYXNPG4RN6KBQRCLOSX6DP5WBKPUW27EKY2VDOO7SY3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJG4DHNOR7TVT4XUTBIVN63BKDZAGBQ7PUGR6QTZIAAN76SEUPZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ILU52DFZJ72KTVMGIYSYGHAP67O3KMJ6ZKAEEZIUSXD77I27XVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWQXIETQTYO7HU4WS3GMNCPBPWIRPY7DTGOWMK4BL6QEBOJULJHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBR2ENBWXCKO2CEZ3WMXNF2UMVMQ4SJFSI5M2VHAIIJ2JTLRAKYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APALSI45MQFAPDYTJYSOYW57GQWMSJAUQPO36WZFBF2ZQOTZZE6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js"
            ]
        },
        "VerifyEmail": {
            "input": {
                "type": "structure",
                "members": {
                    "UserId": {},
                    "EmailId": {
                        "shape": "Sg"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GVXBVL3WEHQWC3ZJOIC6ITHDD2BSDB3QIFH3RQLQFG7Y36Q7A5VQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5ONH7YOFJMMHWUMFZMMQCI7H7A5Z2R63TYZ54IVBOSFUUEXJD5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZNCTXUM7DNSRMWSVE5N4LHAABVZEHRVZQ4W4UOFBIDUIVXH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPTH325JUEWIG2P25G32Z7NDYTJOGMP2SPMQD4TXC6DDZ5PZ35TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2BFJIV2VEQL3FIIIZYHWD3A5MUM4XMY6TIZ4OW56AK5MBR4LUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4SVFOPWDVKKIC3YO2NLCWBBDYNITMOL2YZNJWLMYAJ3HQX7Q5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKUCFX4N2SKZII7JN2AFNYB4ILTO2GWLZZPQLMKO62HIYKTMHR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYXFPOJ4IU4ZQMNQTBDW6MZOOT2DT56TC23YEV2RKFOAS3QDWEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVJZTDZKIX7NEVTGEAOJUXJ7KA5R3XGRY5VE25KLQ2Q2WZ5FVSLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU2ODFD5XTBS7BV5DLHJYCHK7VF56LQYGHFZL4YRP62O6IIPUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5D7NJYREXCFUNYVZWVRJFAEMTOTNROTIZLFJE2HDRDOKQDBI4GYQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZVJ4ZJKB5AK4Q3JIIPCJBEPNJOOCLRARKD23BHQIN3WMEJCICDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFTNDRRPK7RVSRI7NCKLA2BZXHJNB6ZYBDOH35NYHUHJ34INO2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYXFYE4V2KA4KJCV74NCGWG7LLA7FOJAH3AZK3FSQ5QCSMJJGNBA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IG7JDGUZKOBJZMSIXAMNTKOWHNLDWL6EW5URHICXMROWYSVVWV3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BPEMTO3OMSOB3S5QTRQ6RGPLGAZKIG6P6DLH6XE2YUUMFXFPL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LM52Y5ILEXQLCXBEIKRZ6IHHCL5KALFYJ24YPUF26V7QIL6QGMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P3K5FLIZCV5ZFQ5ZLT3OYHTVVZN5OYOHKPEICFRRVQVRF4224TQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWE4DTHUQFRZHFOMVAQRU7NMV2PXKSOKRWM3VEVQSI74VPLIWRUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H735WC24J4VTSX2LVRUPN27FKQSTFRRL6ATUPOX5TNRIF354VH5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYPWFJ6LVWCCLUXQNLFDXAXQ53N7JY66FALFSJSMTCIUZ3BFSQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKLZ5SQ73WE54M6YVJSNFPPO6R2DP6LXJ5MPYEUNZYLYDM5XYKXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B4LLSP3HMD6FIY2LVJGTGHLZ2ECEM35WEBKLVLMGPKCAT3LCI6A/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "members": {
                "Id": {},
                "Type": {}
            }
        },
        "Se": {
            "type": "structure",
            "required": [
                "GroupId"
            ],
            "members": {
                "GroupId": {},
                "Description": {},
                "GroupName": {}
            }
        },
        "Sg": {
            "type": "string",
            "sensitive": true
        },
        "Sh": {
            "type": "structure",
            "required": [
                "GivenName",
                "FamilyName"
            ],
            "members": {
                "GivenName": {},
                "FamilyName": {},
                "MiddleName": {}
            },
            "sensitive": true
        },
        "Si": {
            "type": "list",
            "member": {
                "shape": "Sg"
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "shape": "Sk"
            }
        },
        "Sk": {
            "type": "string",
            "sensitive": true
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "StreetAddress": {},
                    "Region": {},
                    "PostalCode": {},
                    "Country": {}
                },
                "sensitive": true
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "UserId",
                "UserName",
                "Name"
            ],
            "members": {
                "UserId": {},
                "UserName": {
                    "shape": "Sg"
                },
                "Name": {
                    "shape": "Sh"
                },
                "DisplayName": {},
                "PreferredLanguage": {},
                "Active": {
                    "type": "boolean"
                },
                "Emails": {
                    "shape": "Si"
                },
                "PhoneNumbers": {
                    "shape": "Sj"
                },
                "Addresses": {
                    "shape": "Sl"
                },
                "Password": {
                    "shape": "Ss"
                },
                "EmployeeNumber": {},
                "AdObjectGuid": {},
                "Notes": {},
                "EmailsInfo": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Email": {
                                "shape": "Sg"
                            },
                            "Status": {}
                        }
                    }
                }
            }
        },
        "Ss": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "list",
            "member": {
                "shape": "Se"
            }
        },
        "S19": {
            "type": "list",
            "member": {
                "shape": "Sp"
            }
        },
        "S1k": {
            "type": "list",
            "member": {}
        },
        "S25": {
            "type": "structure",
            "members": {
                "Value": {}
            }
        },
        "S26": {
            "type": "structure",
            "members": {
                "Value": {},
                "UpdateType": {}
            }
        }
    }
}