{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-28",
        "endpointPrefix": "ssoupinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SUPI",
        "serviceFullName": "AWS Single Sign-On Native Directory Internal",
        "serviceId": "ssoupinternal",
        "signatureVersion": "v4",
        "signingName": "userpoolinternal",
        "targetPrefix": "SWBUPPrivateService",
        "uid": "SUPI-2017-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/25ZGI2Q5YRFG5XER4YWVZVJEFFID4G5EQHQ3DSU4KGNWHJNARFWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
        ]
    },
    "operations": {
        "AuthorizeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "direcotryId",
                    "ApplicationInfos"
                ],
                "members": {
                    "direcotryId": {},
                    "ApplicationInfos": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "CreateStarbaseUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "CreateUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {},
                    "CreateMOCDUserPool": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "DirectoryId": {},
                    "MOCDStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "DeleteIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "DeleteUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "DescribeIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "ResourcePolicy": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "DisableUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "EnableUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "ApplicationIds": {
                        "shape": "Sv"
                    },
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "GetDirectoryInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "AccountId": {},
                    "DirectoryType": {},
                    "MOCDStatus": {},
                    "ConfigurableSyncEnabled": {
                        "type": "boolean"
                    },
                    "UserPoolStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "GetUserPoolConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserPoolConfiguration"
                ],
                "members": {
                    "UserPoolConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "GetUserPoolInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "IdentityPoolId": {},
                    "DirectoryId": {},
                    "CreationTimeStamp": {},
                    "DirectoryType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "GetUserPoolMigrationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MigrationStatus"
                ],
                "members": {
                    "MigrationStatus": {},
                    "StatusReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "MigrateUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "PutIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "Policy"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {},
                    "Policy": {},
                    "Version": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "ResourcePolicy": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "UnauthorizeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "direcotryId",
                    "ApplicationInfos"
                ],
                "members": {
                    "direcotryId": {},
                    "ApplicationInfos": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "UnauthorizeApplications": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIds"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "ApplicationIds": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "UpdateConfigurableSyncStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ConfigurableSyncEnabled"
                ],
                "members": {
                    "DirectoryId": {},
                    "ConfigurableSyncEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "UpdateUserPoolConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SharingStatus"
                ],
                "members": {
                    "DirectoryId": {},
                    "SharingStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        },
        "VerifyDirectoryAuthorization": {
            "input": {
                "type": "structure",
                "required": [
                    "ssoInstanceAccountId",
                    "directoryId"
                ],
                "members": {
                    "ssoInstanceAccountId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "verified"
                ],
                "members": {
                    "verified": {
                        "type": "boolean"
                    },
                    "directoryDetails": {
                        "type": "structure",
                        "members": {
                            "directoryId": {},
                            "directoryType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZIXXCDAYXYMDF5QDDEIDM7RY7QEE52I4BFH3FZ73YVDROTQFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SMMPK3ADDKHBQKL3CAALKVR76DD6J6TSCCOLY3GM7URLDRTSGDHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEH5ZUWXJE2UYS65OLHIFL34T2LD5R6CQ2NJSFH5RQZGSEDWRBNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LFZGJCVXCBTI3DW22KR2P2WUNNQJAEILEM5XUYOLU6N7NUSWB7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQE66Q5QKW4IHMRCE4KPHDQNRNZA63ARN4E6W5SE772LCBF6RSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2LN2DXTKNX6RTYKZDD4THSW4CSZ7NCZHLWMYTXLY3LJYKMXHHKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAZNMFFOP4K4HPB2D5AFL4NOWQX354QNPQ5ACNXUGKCP7JNSKZ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DEWKTSNESV6A3KHHXEOUPNLRPQ3OST4DJOWBUMTZJAADFPORM6Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ApplicationIdentifier": {},
                    "ApplicationIdentifierValue": {}
                }
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "IdentityStoreId",
                "Policy",
                "Version"
            ],
            "members": {
                "IdentityStoreId": {},
                "PolicyId": {},
                "Policy": {},
                "Version": {
                    "type": "long"
                }
            }
        },
        "Sv": {
            "type": "list",
            "member": {}
        },
        "S14": {
            "type": "structure",
            "members": {
                "SharingStatus": {},
                "MigrationStatus": {},
                "ProvisioningModes": {
                    "type": "list",
                    "member": {}
                }
            }
        }
    }
}