{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-28",
        "endpointPrefix": "ssoupinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SUPI",
        "serviceFullName": "AWS Single Sign-On Native Directory Internal",
        "serviceId": "ssoupinternal",
        "signatureVersion": "v4",
        "signingName": "userpoolinternal",
        "targetPrefix": "SWBUPPrivateService",
        "uid": "SUPI-2017-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3UT6Z46Z7SITTX6LBGTXIMY37VCO2RCVZGQACYDS5CAZIHMJURKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
        ]
    },
    "operations": {
        "AuthorizeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "direcotryId",
                    "ApplicationInfos"
                ],
                "members": {
                    "direcotryId": {},
                    "ApplicationInfos": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "CreateStarbaseUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "CreateUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {},
                    "CreateMOCDUserPool": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "DirectoryId": {},
                    "MOCDStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DeleteIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DeleteUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DescribeIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "ResourcePolicy": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "DisableUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "EnableUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "ApplicationIds": {
                        "shape": "Sv"
                    },
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "GetDirectoryInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "AccountId": {},
                    "DirectoryType": {},
                    "MOCDStatus": {},
                    "ConfigurableSyncEnabled": {
                        "type": "boolean"
                    },
                    "UserPoolStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "GetUserPoolConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserPoolConfiguration"
                ],
                "members": {
                    "UserPoolConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "GetUserPoolInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "IdentityPoolId": {},
                    "DirectoryId": {},
                    "CreationTimeStamp": {},
                    "DirectoryType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "GetUserPoolMigrationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MigrationStatus"
                ],
                "members": {
                    "MigrationStatus": {},
                    "StatusReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "MigrateUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "PutIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "Policy"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {},
                    "Policy": {},
                    "Version": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "ResourcePolicy": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "UnauthorizeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "direcotryId",
                    "ApplicationInfos"
                ],
                "members": {
                    "direcotryId": {},
                    "ApplicationInfos": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "UnauthorizeApplications": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIds"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "ApplicationIds": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "UpdateConfigurableSyncStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ConfigurableSyncEnabled"
                ],
                "members": {
                    "DirectoryId": {},
                    "ConfigurableSyncEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "UpdateUserPoolConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SharingStatus"
                ],
                "members": {
                    "DirectoryId": {},
                    "SharingStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        },
        "VerifyDirectoryAuthorization": {
            "input": {
                "type": "structure",
                "required": [
                    "ssoInstanceAccountId",
                    "directoryId"
                ],
                "members": {
                    "ssoInstanceAccountId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "verified"
                ],
                "members": {
                    "verified": {
                        "type": "boolean"
                    },
                    "directoryDetails": {
                        "type": "structure",
                        "members": {
                            "directoryId": {},
                            "directoryType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4E3KU4XTOW7FBHR5EQTIVURR3VSXDB2OIM7NSWBK3K47HPKBMPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7Z4PQ3T2HDQZMMHSC63JSB636RGAJLWPL25G6ZI3YHR5XTNSL6AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUURQFLQZWYRES4GTVZAT54AJVMER7VQMPPSEI42LAJ4SOEECYGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VACTHR652WRTD6YGEEWU6L3GK24VNBD24QNJOHYYTX5HNM45RTLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3ZU6JLK7O6XKIQBH5STVTF4TQDYYIPKQS2HZ7KB2UWDJPDTMCFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYPYHDIRXOKMFZZI7UP32OQHK55LRUQTONGQYEVW22CEZ4OB3FEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GNE5KG6PDWIE6TSFP73327ZEN2MGQOIMQAR22SK67PUXMKYSPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHSGGP3TQGOUTNUIKODXHOBP56QESN6EFV7CIJIFK5NCE5YWE5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZDBMRTREBVZU67K62Q2GLNTKLS3GM5BPZUCZ3HTZUOPDNBHQLSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2ZRH2FXJYPLN7JM3KZ22HND7EWVSVQWEBA3THCO6QBJJG5YC6HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4HV4PJVWZZLJHHDRUFM54UW6BXM7DHDYDUAHI2H24AWCVGCWUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL4T2HWXH4TITQV77RMMFS2NS6FYCP5XCNKKH6VOINRVLEUP7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIBFRWJNQGLLPCV4NN262O5YCIJU6EN4ZIMS2PVGA2YMR57JNO6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ApplicationIdentifier": {},
                    "ApplicationIdentifierValue": {}
                }
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "IdentityStoreId",
                "Policy",
                "Version"
            ],
            "members": {
                "IdentityStoreId": {},
                "PolicyId": {},
                "Policy": {},
                "Version": {
                    "type": "long"
                }
            }
        },
        "Sv": {
            "type": "list",
            "member": {}
        },
        "S14": {
            "type": "structure",
            "members": {
                "SharingStatus": {},
                "MigrationStatus": {},
                "ProvisioningModes": {
                    "type": "list",
                    "member": {}
                }
            }
        }
    }
}