{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-28",
        "endpointPrefix": "ssoupinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SUPI",
        "serviceFullName": "AWS Single Sign-On Native Directory Internal",
        "serviceId": "ssoupinternal",
        "signatureVersion": "v4",
        "signingName": "userpoolinternal",
        "targetPrefix": "SWBUPPrivateService",
        "uid": "SUPI-2017-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
        ]
    },
    "operations": {
        "AuthorizeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "direcotryId",
                    "ApplicationInfos"
                ],
                "members": {
                    "direcotryId": {},
                    "ApplicationInfos": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "CreateStarbaseUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "CreateUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {},
                    "CreateMOCDUserPool": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "DirectoryId": {},
                    "MOCDStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DeleteUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DescribeIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "ResourcePolicy": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "DisableUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "EnableUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "ApplicationIds": {
                        "shape": "Sv"
                    },
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetDirectoryInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "AccountId": {},
                    "DirectoryType": {},
                    "MOCDStatus": {},
                    "ConfigurableSyncEnabled": {
                        "type": "boolean"
                    },
                    "UserPoolStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetUserPoolConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserPoolConfiguration"
                ],
                "members": {
                    "UserPoolConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetUserPoolInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "IdentityPoolId": {},
                    "DirectoryId": {},
                    "CreationTimeStamp": {},
                    "DirectoryType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "GetUserPoolMigrationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MigrationStatus"
                ],
                "members": {
                    "MigrationStatus": {},
                    "StatusReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "MigrateUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "PutIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "Policy"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {},
                    "Policy": {},
                    "Version": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "ResourcePolicy": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "UnauthorizeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "direcotryId",
                    "ApplicationInfos"
                ],
                "members": {
                    "direcotryId": {},
                    "ApplicationInfos": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "UnauthorizeApplications": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIds"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "ApplicationIds": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "UpdateConfigurableSyncStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ConfigurableSyncEnabled"
                ],
                "members": {
                    "DirectoryId": {},
                    "ConfigurableSyncEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "UpdateUserPoolConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SharingStatus"
                ],
                "members": {
                    "DirectoryId": {},
                    "SharingStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        },
        "VerifyDirectoryAuthorization": {
            "input": {
                "type": "structure",
                "required": [
                    "ssoInstanceAccountId",
                    "directoryId"
                ],
                "members": {
                    "ssoInstanceAccountId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "verified"
                ],
                "members": {
                    "verified": {
                        "type": "boolean"
                    },
                    "directoryDetails": {
                        "type": "structure",
                        "members": {
                            "directoryId": {},
                            "directoryType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ApplicationIdentifier": {},
                    "ApplicationIdentifierValue": {}
                }
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "IdentityStoreId",
                "Policy",
                "Version"
            ],
            "members": {
                "IdentityStoreId": {},
                "PolicyId": {},
                "Policy": {},
                "Version": {
                    "type": "long"
                }
            }
        },
        "Sv": {
            "type": "list",
            "member": {}
        },
        "S14": {
            "type": "structure",
            "members": {
                "SharingStatus": {},
                "MigrationStatus": {},
                "ProvisioningModes": {
                    "type": "list",
                    "member": {}
                }
            }
        }
    }
}