{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-28",
        "endpointPrefix": "ssoupinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SUPI",
        "serviceFullName": "AWS Single Sign-On Native Directory Internal",
        "serviceId": "ssoupinternal",
        "signatureVersion": "v4",
        "signingName": "userpoolinternal",
        "targetPrefix": "SWBUPPrivateService",
        "uid": "SUPI-2017-11-28",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/EQ3TUDRH74M2ZSXBQXKNZSBTH5ZC6WGWP7NIIXMTVUJHFOHLRHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
        ]
    },
    "operations": {
        "AuthorizeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "direcotryId",
                    "ApplicationInfos"
                ],
                "members": {
                    "direcotryId": {},
                    "ApplicationInfos": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "CreateStarbaseUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "CreateUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {},
                    "CreateMOCDUserPool": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "DirectoryId": {},
                    "MOCDStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DeleteIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DeleteUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DescribeIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "ResourcePolicy": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "DisableUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "EnableUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "ApplicationIds": {
                        "shape": "Sv"
                    },
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetDirectoryInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "AccountId": {},
                    "DirectoryType": {},
                    "MOCDStatus": {},
                    "ConfigurableSyncEnabled": {
                        "type": "boolean"
                    },
                    "UserPoolStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetUserPoolConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserPoolConfiguration"
                ],
                "members": {
                    "UserPoolConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetUserPoolInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "IdentityPoolId": {},
                    "DirectoryId": {},
                    "CreationTimeStamp": {},
                    "DirectoryType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "GetUserPoolMigrationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MigrationStatus"
                ],
                "members": {
                    "MigrationStatus": {},
                    "StatusReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "MigrateUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "PutIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "Policy"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {},
                    "Policy": {},
                    "Version": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "ResourcePolicy": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "UnauthorizeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "direcotryId",
                    "ApplicationInfos"
                ],
                "members": {
                    "direcotryId": {},
                    "ApplicationInfos": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "UnauthorizeApplications": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIds"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "ApplicationIds": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "UpdateConfigurableSyncStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ConfigurableSyncEnabled"
                ],
                "members": {
                    "DirectoryId": {},
                    "ConfigurableSyncEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "UpdateUserPoolConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SharingStatus"
                ],
                "members": {
                    "DirectoryId": {},
                    "SharingStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "VerifyDirectoryAuthorization": {
            "input": {
                "type": "structure",
                "required": [
                    "ssoInstanceAccountId",
                    "directoryId"
                ],
                "members": {
                    "ssoInstanceAccountId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "verified"
                ],
                "members": {
                    "verified": {
                        "type": "boolean"
                    },
                    "directoryDetails": {
                        "type": "structure",
                        "members": {
                            "directoryId": {},
                            "directoryType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/76HJFK4TAFYXXML3YAJUNL5DAO5SOBQ6JFMBNSDPF5XBRCIRYXHA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V6RJTDUWUQLBBLT5UIZIP6KNCVC4PBNULCJ7PZDNG47RC5XXGQDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXDMBWE4GHC5RSLKTJKUQCV2SNEBFKJ2BHPMCWT7GGV6F24SBERQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ3HQJSVLDQNH73KSQ2OJLQSSOKCHU5N7A6ZZKWEHXBZPA7XWZ4Q/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6AXX4QV6BO7CGTADS5XAXELMQR32EZUPJEQLFSE2VOGSBQBWGFFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5U5Q4266GYAFWPV7JX5AVLEKHEGJUST5IWKSUJNIAKKENSK7YKTA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6OA3MRGWDE6IHIAAXE7JHOO6LBHKKPTI7YLHJHWE4K4ER3MGLQHA/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ApplicationIdentifier": {},
                    "ApplicationIdentifierValue": {}
                }
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "IdentityStoreId",
                "Policy",
                "Version"
            ],
            "members": {
                "IdentityStoreId": {},
                "PolicyId": {},
                "Policy": {},
                "Version": {
                    "type": "long"
                }
            }
        },
        "Sv": {
            "type": "list",
            "member": {}
        },
        "S14": {
            "type": "structure",
            "members": {
                "SharingStatus": {},
                "MigrationStatus": {},
                "ProvisioningModes": {
                    "type": "list",
                    "member": {}
                }
            }
        }
    }
}