{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-28",
        "endpointPrefix": "ssoupinternal",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "SUPI",
        "serviceFullName": "AWS Single Sign-On Native Directory Internal",
        "serviceId": "ssoupinternal",
        "signatureVersion": "v4",
        "signingName": "userpoolinternal",
        "targetPrefix": "SWBUPPrivateService",
        "uid": "SUPI-2017-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERIVFYXNRUJT6CEURVUUPC7XN34SETGMZES2AWNBVRPFAAAG2PWA/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
        ]
    },
    "operations": {
        "AuthorizeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "direcotryId",
                    "ApplicationInfos"
                ],
                "members": {
                    "direcotryId": {},
                    "ApplicationInfos": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "CreateStarbaseUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "CreateUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {},
                    "CreateMOCDUserPool": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "DirectoryId": {},
                    "MOCDStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DeleteIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DeleteUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DescribeIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "ResourcePolicy": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "DisableUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "EnableUserPool": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "ApplicationIds": {
                        "shape": "Sv"
                    },
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "GetDirectoryInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "AccountId": {},
                    "DirectoryType": {},
                    "MOCDStatus": {},
                    "ConfigurableSyncEnabled": {
                        "type": "boolean"
                    },
                    "UserPoolStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "GetUserPoolConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "UserPoolConfiguration"
                ],
                "members": {
                    "UserPoolConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "GetUserPoolInfo": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolId": {},
                    "IdentityPoolId": {},
                    "DirectoryId": {},
                    "CreationTimeStamp": {},
                    "DirectoryType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "GetUserPoolMigrationStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MigrationStatus"
                ],
                "members": {
                    "MigrationStatus": {},
                    "StatusReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "MigrateUserPool": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "PutIdentityStorePolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityStoreId",
                    "Policy"
                ],
                "members": {
                    "IdentityStoreId": {},
                    "PolicyId": {},
                    "Policy": {},
                    "Version": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourcePolicy"
                ],
                "members": {
                    "ResourcePolicy": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "UnauthorizeApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "direcotryId",
                    "ApplicationInfos"
                ],
                "members": {
                    "direcotryId": {},
                    "ApplicationInfos": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "UnauthorizeApplications": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationIds"
                ],
                "members": {
                    "AccountId": {},
                    "OrganizationId": {},
                    "ApplicationIds": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "UpdateConfigurableSyncStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ConfigurableSyncEnabled"
                ],
                "members": {
                    "DirectoryId": {},
                    "ConfigurableSyncEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "UpdateUserPoolConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SharingStatus"
                ],
                "members": {
                    "DirectoryId": {},
                    "SharingStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UserPoolConfiguration": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        },
        "VerifyDirectoryAuthorization": {
            "input": {
                "type": "structure",
                "required": [
                    "ssoInstanceAccountId",
                    "directoryId"
                ],
                "members": {
                    "ssoInstanceAccountId": {},
                    "directoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "verified"
                ],
                "members": {
                    "verified": {
                        "type": "boolean"
                    },
                    "directoryDetails": {
                        "type": "structure",
                        "members": {
                            "directoryId": {},
                            "directoryType": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLYKKC4UWHJISNDFW2YS4VNDHCCKW6EY3BZ7OUAVBFUKPOWI76AA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBBQRCGPHUHPEOMZ54WV7WW6XESLU7PYI4G5HFKRC3XNKC4POHAA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IIKWKSS7SRMSCM3A4LGXMNU6TPM25RWGOM4EZKCJ3ISS576FOLPA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RYSHQ63RTNBBN7NCAV4N2CVL2CEZMLGOKO4DMRF2N42SRHMT33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGQOLL42AIT4TWJ7TNVADBTYS6HZGSZBKULOTFDFKRVXBZQZOZCQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLGT445NZH2R5PFKUE55RNFPWQOSEUZMQTGKZPKTGCLWHTW7H62A/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TR7Z75CVCRHIL54FXKGMJBTFDNOJEUXPBIZEPMJIPWKHKWKX6MRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YR3USH3HTRZPGBW5G7FTBFEXIBUMIA4SLNCE3ZM72JXASN3CVIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLXVZ3CAHANUIFW6MQZKYX6VUTXUVCIAHDXBJ4LFP7O2SHZPSFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVYPHE7VHDQMT2A2KBGQNU5W3VT3Y67YLVJAOFNNUIPYFOI4K2SA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF3NFQTPZLLWWSBXKD4ILXK6LC5BJEZVNBMMW65N2CNAQURWGI4Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW7E4HXO5RJNHBAXJWGFFQ4BWK5NLQTOMDS7AIPNAZR2GASHPBHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQS2SWM5G6NC67QRP3AGELU4C7YMNNKKWZEG7PSWSPUNDO3TQ7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ApplicationIdentifier": {},
                    "ApplicationIdentifierValue": {}
                }
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "IdentityStoreId",
                "Policy",
                "Version"
            ],
            "members": {
                "IdentityStoreId": {},
                "PolicyId": {},
                "Policy": {},
                "Version": {
                    "type": "long"
                }
            }
        },
        "Sv": {
            "type": "list",
            "member": {}
        },
        "S14": {
            "type": "structure",
            "members": {
                "SharingStatus": {},
                "MigrationStatus": {},
                "ProvisioningModes": {
                    "type": "list",
                    "member": {}
                }
            }
        }
    }
}