{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-06-13",
        "endpointPrefix": "support",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Support API Internal",
        "serviceId": "SupportAPIInternal",
        "signatureVersion": "v4",
        "targetPrefix": "AWSSupport_internal_v1",
        "uid": "supportapiinternal-2013-06-13",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ATNB37GHAF7PGSUUY5C55YDCHAZ5HLY7HXEQ2ZDAAZ35FW3DGDQ/5def2c8c20f5609d37ad6c7dbdbe186b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
        ]
    },
    "operations": {
        "AddAttachmentsToSet": {
            "input": {
                "type": "structure",
                "required": [
                    "attachments"
                ],
                "members": {
                    "attachmentSetId": {},
                    "attachments": {
                        "shape": "S3"
                    },
                    "caseId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachmentSetId": {},
                    "expiryTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "AddCommunicationToCase": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationBody"
                ],
                "members": {
                    "caseId": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "type": "list",
                        "member": {}
                    },
                    "attachmentSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "CreateCase": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationBody"
                ],
                "members": {
                    "subject": {},
                    "serviceCode": {},
                    "severityCode": {},
                    "categoryCode": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "type": "list",
                        "member": {}
                    },
                    "language": {},
                    "issueType": {},
                    "attachments": {
                        "shape": "S3"
                    },
                    "attachmentSetId": {},
                    "serviceLimitIncreaseCase": {
                        "type": "structure",
                        "members": {
                            "contactInfo": {
                                "type": "structure",
                                "members": {
                                    "lastName": {},
                                    "firstName": {},
                                    "companyName": {},
                                    "emailAddress": {},
                                    "phoneNumber": {},
                                    "state": {},
                                    "postalCode": {},
                                    "country": {}
                                }
                            },
                            "limitType": {},
                            "limitFields": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "fieldId": {},
                                        "booleanValue": {
                                            "type": "boolean"
                                        },
                                        "timestampValue": {
                                            "type": "timestamp"
                                        },
                                        "doubleValue": {
                                            "type": "double"
                                        },
                                        "floatValue": {
                                            "type": "float"
                                        },
                                        "integerValue": {
                                            "type": "integer"
                                        },
                                        "longValue": {
                                            "type": "long"
                                        },
                                        "stringValue": {}
                                    }
                                }
                            }
                        }
                    },
                    "serviceLimitIncreaseDetails": {
                        "type": "structure",
                        "members": {
                            "serviceLimitIncreases": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceLimitIncreaseId": {},
                                        "value": {
                                            "type": "integer"
                                        },
                                        "expectedIncreaseStartDateTime": {},
                                        "expectedIncreaseEndDateTime": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "caseId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeAttachment": {
            "input": {
                "type": "structure",
                "required": [
                    "attachmentId"
                ],
                "members": {
                    "attachmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachment": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeCaseAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "caseId": {},
                    "namespace": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "namespace": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeCases": {
            "input": {
                "type": "structure",
                "members": {
                    "caseIdList": {
                        "type": "list",
                        "member": {}
                    },
                    "displayId": {},
                    "afterTime": {},
                    "beforeTime": {},
                    "includeResolvedCases": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "language": {},
                    "sortOptions": {
                        "type": "structure",
                        "members": {
                            "field": {},
                            "direction": {}
                        }
                    },
                    "includeCommunications": {
                        "type": "boolean"
                    },
                    "attributeSearchFiltersList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "namespace": {},
                                "valueList": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "caseId": {},
                                "displayId": {},
                                "subject": {},
                                "status": {},
                                "serviceCode": {},
                                "categoryCode": {},
                                "issueType": {},
                                "severityCode": {},
                                "submittedBy": {},
                                "timeCreated": {},
                                "recentCommunications": {
                                    "type": "structure",
                                    "members": {
                                        "communications": {
                                            "shape": "S2c"
                                        },
                                        "nextToken": {}
                                    }
                                },
                                "ccEmailAddresses": {
                                    "type": "list",
                                    "member": {}
                                },
                                "language": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeCommunications": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "beforeTime": {},
                    "afterTime": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "communications": {
                        "shape": "S2c"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeCreateCaseOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "language",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "language": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "languageAvailability": {},
                    "communicationTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "supportedHours": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startTime": {},
                                            "endTime": {}
                                        }
                                    }
                                },
                                "datesWithoutSupport": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startDateTime": {},
                                            "endDateTime": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeIssueTypes": {
            "input": {
                "type": "structure",
                "members": {
                    "issueTypeList": {
                        "type": "list",
                        "member": {}
                    },
                    "serviceLimitIncreaseOptions": {
                        "type": "structure",
                        "members": {
                            "onlyListServiceCodes": {
                                "type": "boolean"
                            },
                            "filterByServiceCodes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serviceLimitIncreaseDescription": {
                        "type": "structure",
                        "members": {
                            "serviceCodes": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceCode": {},
                                        "serviceName": {}
                                    }
                                }
                            },
                            "serviceLimitIncreases": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceLimitIncreaseId": {},
                                        "categorization": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "type": {},
                                                    "name": {}
                                                }
                                            }
                                        },
                                        "name": {},
                                        "currentValue": {},
                                        "serviceCode": {},
                                        "properties": {
                                            "type": "structure",
                                            "members": {
                                                "timeboundServiceLimitIncrease": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeServices": {
            "input": {
                "type": "structure",
                "members": {
                    "serviceCodeList": {
                        "shape": "S3r"
                    },
                    "language": {},
                    "issueType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {},
                                "categories": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "code": {},
                                            "name": {},
                                            "issueType": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeSeverityLevels": {
            "input": {
                "type": "structure",
                "members": {
                    "language": {},
                    "includeAllSeverityLevels": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "severityLevels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {},
                                "maxResponseTimeMinutes": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeSupportLevel": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {},
                    "includeMosaicSupportLevel": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportLevel": {
                        "type": "structure",
                        "members": {
                            "code": {},
                            "name": {}
                        }
                    },
                    "activeSubscription": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeSupportedLanguages": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportedLanguages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "language": {},
                                "display": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeTrustedAdvisorCheckRefreshStatuses": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S4j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "statuses"
                ],
                "members": {
                    "statuses": {
                        "type": "list",
                        "member": {
                            "shape": "S4n"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeTrustedAdvisorCheckResult": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {},
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "checkId",
                            "timestamp",
                            "status",
                            "resourcesSummary",
                            "categorySpecificSummary",
                            "flaggedResources"
                        ],
                        "members": {
                            "checkId": {},
                            "timestamp": {},
                            "status": {},
                            "resourcesSummary": {
                                "shape": "S4s"
                            },
                            "categorySpecificSummary": {
                                "shape": "S4t"
                            },
                            "flaggedResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "status",
                                        "resourceId",
                                        "metadata"
                                    ],
                                    "members": {
                                        "status": {},
                                        "region": {},
                                        "resourceId": {},
                                        "isSuppressed": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "shape": "S4j"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeTrustedAdvisorCheckSummaries": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S4j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "summaries"
                ],
                "members": {
                    "summaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "timestamp",
                                "status",
                                "resourcesSummary",
                                "categorySpecificSummary"
                            ],
                            "members": {
                                "checkId": {},
                                "timestamp": {},
                                "status": {},
                                "hasFlaggedResources": {
                                    "type": "boolean"
                                },
                                "resourcesSummary": {
                                    "shape": "S4s"
                                },
                                "categorySpecificSummary": {
                                    "shape": "S4t"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "DescribeTrustedAdvisorChecks": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checks"
                ],
                "members": {
                    "checks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "description",
                                "category",
                                "metadata"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {},
                                "category": {},
                                "metadata": {
                                    "shape": "S4j"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "InitiateCallForCase": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "phoneNumber": {},
                    "timeToCall": {},
                    "sessionId": {},
                    "phoneExtension": {},
                    "phoneCountryCode": {},
                    "clientIp": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "callToken": {},
                    "callRoutingIdentifier": {},
                    "callContextMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "callRoutingStack": {},
                    "callContactConnectIdentifier": {
                        "type": "structure",
                        "members": {
                            "routingStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "InitiateChatForCase": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "clientIp": {},
                    "sessionId": {},
                    "chatUsername": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "chatToken": {},
                    "chatRoutingIdentifier": {},
                    "chatRoutingStack": {},
                    "chatContactConnectIdentifier": {
                        "type": "structure",
                        "members": {
                            "initialContactId": {},
                            "participantId": {},
                            "participantToken": {}
                        }
                    },
                    "chatLegId": {},
                    "chatProvider": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "PutCaseAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "caseId": {},
                    "namespaceAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "namespace": {},
                                "attributes": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "key": {},
                                            "value": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "success": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKFNOVECBV7LX2GYPDGGQQMTFIXJSTZCKFW73HNIHASAOD7FKYSA/1d3c7a5d7dac351133ee5dc9cf373ec5.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXLVYICSPD545NSWVEL6GWWCD4KCZMC22HU3MNJTTIQV47JOJTUQ/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSQZXF6ZAAZOUXCFX3GHLCAOT3HSX2NIG7OA2GQIQSLCCWBNNLNA/5b18268eb095517b6ca972b78abd2725.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJV6DC53J4UG5FGZ5GNXCGS522H46CTWNZBXCIIJRYVLDZNAGONQ/923060f6f439db4e2cf81b14efdbe236.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUQUGRB5AQ5OJ5RT5UJUMOEASJVDFEB6U4WNIVTTAEUZNNUDR2MA/7cc7c10b4d4961b0798d8fbf35d70652.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOYAD6F37QAVMO3Q37WQ2RFC4WTTUYPSELSIICHUXEHSCKZESJXQ/c52e8435834c52432e1aa49259099c9a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJA7CRZUN2TY5HW6GZYG33S3N75U5QSTQFFUEBJ4YSINRZDDJO7Q/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PGUDACSICDM3SMA7AAMMJB4KKVHPHS2MLKJSRDHAUZYK57Q5WZA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4LXJP6F7PB3PNP6DMKL7KB7S3VHQP3IQJIH3ZRZHXNM2B4JHRJA/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCKJR7ZE3KJGFTSLW5RK6S6X2SPJN3TEAYZUBMSZSX2LJUBXOBRQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWGF6F6K6ZEPFDXNK2SEWMTXSY2MJDNMOFBVHK44KHS6WT5YD2JQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GACODQ5GMYMTORAHGQ7ZW4FRIO2TYW7TJVJNDJPE2VUNNXABAUZQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7F5QAP4ESNESTLDG2INW7VQ7EAOICOLZTGFZ52MZS4O44PTN5UDQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZJNCFFOJ6SUGMAHRJDRGMAVILCXOYCOSVFZKKE3RUQV4PA66DTQ/index.wafv2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6QUBIAQ6KG27NE5ZYIX422KHNGI74HCJ2UIS4PI2TJAMQTEB2LQ/index.wafv2.js"
            ]
        },
        "RateCaseCommunication": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationId",
                    "rating"
                ],
                "members": {
                    "communicationId": {},
                    "caseId": {},
                    "rating": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "boolean"
                    }
[...]
