{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-04-15",
        "endpointPrefix": "support",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Support",
        "serviceId": "Support",
        "signatureVersion": "v4",
        "targetPrefix": "AWSSupport_20130415",
        "uid": "support-2013-04-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
        ]
    },
    "operations": {
        "AddAttachmentsToSet": {
            "input": {
                "type": "structure",
                "required": [
                    "attachments"
                ],
                "members": {
                    "attachmentSetId": {},
                    "attachments": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachmentSetId": {},
                    "expiryTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "AddCommunicationToCase": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationBody"
                ],
                "members": {
                    "caseId": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "shape": "Sc"
                    },
                    "attachmentSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateCase": {
            "input": {
                "type": "structure",
                "required": [
                    "subject",
                    "communicationBody"
                ],
                "members": {
                    "subject": {},
                    "serviceCode": {},
                    "severityCode": {},
                    "categoryCode": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "shape": "Sc"
                    },
                    "language": {},
                    "issueType": {},
                    "attachmentSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "caseId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeAttachment": {
            "input": {
                "type": "structure",
                "required": [
                    "attachmentId"
                ],
                "members": {
                    "attachmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachment": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeCases": {
            "input": {
                "type": "structure",
                "members": {
                    "caseIdList": {
                        "type": "list",
                        "member": {}
                    },
                    "displayId": {},
                    "afterTime": {},
                    "beforeTime": {},
                    "includeResolvedCases": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "language": {},
                    "includeCommunications": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "caseId": {},
                                "displayId": {},
                                "subject": {},
                                "status": {},
                                "serviceCode": {},
                                "categoryCode": {},
                                "severityCode": {},
                                "submittedBy": {},
                                "timeCreated": {},
                                "recentCommunications": {
                                    "type": "structure",
                                    "members": {
                                        "communications": {
                                            "shape": "S17"
                                        },
                                        "nextToken": {}
                                    }
                                },
                                "ccEmailAddresses": {
                                    "shape": "Sc"
                                },
                                "language": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeCommunications": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "beforeTime": {},
                    "afterTime": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "communications": {
                        "shape": "S17"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeServices": {
            "input": {
                "type": "structure",
                "members": {
                    "serviceCodeList": {
                        "type": "list",
                        "member": {}
                    },
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {},
                                "categories": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "code": {},
                                            "name": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeSeverityLevels": {
            "input": {
                "type": "structure",
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "severityLevels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeTrustedAdvisorCheckRefreshStatuses": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S1t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "statuses"
                ],
                "members": {
                    "statuses": {
                        "type": "list",
                        "member": {
                            "shape": "S1x"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeTrustedAdvisorCheckResult": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {},
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "checkId",
                            "timestamp",
                            "status",
                            "resourcesSummary",
                            "categorySpecificSummary",
                            "flaggedResources"
                        ],
                        "members": {
                            "checkId": {},
                            "timestamp": {},
                            "status": {},
                            "resourcesSummary": {
                                "shape": "S22"
                            },
                            "categorySpecificSummary": {
                                "shape": "S23"
                            },
                            "flaggedResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "status",
                                        "resourceId",
                                        "metadata"
                                    ],
                                    "members": {
                                        "status": {},
                                        "region": {},
                                        "resourceId": {},
                                        "isSuppressed": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "shape": "S1t"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeTrustedAdvisorCheckSummaries": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S1t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "summaries"
                ],
                "members": {
                    "summaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "timestamp",
                                "status",
                                "resourcesSummary",
                                "categorySpecificSummary"
                            ],
                            "members": {
                                "checkId": {},
                                "timestamp": {},
                                "status": {},
                                "hasFlaggedResources": {
                                    "type": "boolean"
                                },
                                "resourcesSummary": {
                                    "shape": "S22"
                                },
                                "categorySpecificSummary": {
                                    "shape": "S23"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeTrustedAdvisorChecks": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checks"
                ],
                "members": {
                    "checks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "description",
                                "category",
                                "metadata"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {},
                                "category": {},
                                "metadata": {
                                    "shape": "S1t"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "RefreshTrustedAdvisorCheck": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {
                        "shape": "S1x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "ResolveCase": {
            "input": {
                "type": "structure",
                "members": {
                    "caseId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "initialCaseStatus": {},
                    "finalCaseStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TOLJBMDOKE5GSV7K3M3CBKUN2VSUIAEFNXQBPVB35FRRM33DHIJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXNXXIXS24MIVINLXZVTUEOP5WV5DUBXCWTCBED2WSOIILJAZ74Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ATGNQZHN2BF76VUR3TO2PEC4GWMCQJMVTOF4CERC2V5TUCE2TGA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EPO7EU7SHPXEZAKAGBSXDSHCEBE7QERZAKNL3FOHOPQKHCONAH4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXH6XTEVCML53QQW7MOQO4MNFMEYHZI5CYGOSSO4L2KU4HGYSO4Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5SVEZPGI4ENGXOTXA63ES3YF7QK4PQO6Q5Z6RD2IW6LITGO5IVQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeCreateCaseOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "language",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "language": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "languageAvailability": {},
                    "communicationTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "supportedHours": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startTime": {},
                                            "endTime": {}
                                        }
                                    }
                                },
                                "datesWithoutSupport": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startDateTime": {},
                                            "endDateTime": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMCQE5RUXDAAFZKYG3R3X54QIVJETA2S3BLIC6ZXXR6R4IPLNDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JP7ZMLAWX3UC5F7W4PXRSU5GAKLADDU4W3GSYOYVWYUFJJYKNQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUIBULBYOAOQWKU3IV7JL72VIJ7INZARK2OQVZZUXFWBOKK6NKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHSOGKM5ZNS5HXT4QEDFGYYEOXS4EL7EPRHVDS4DDSYNMEUX7URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js"
            ]
        },
        "DescribeSupportedLanguages": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportedLanguages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "language": {},
                                "display": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMCQE5RUXDAAFZKYG3R3X54QIVJETA2S3BLIC6ZXXR6R4IPLNDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JP7ZMLAWX3UC5F7W4PXRSU5GAKLADDU4W3GSYOYVWYUFJJYKNQ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUIBULBYOAOQWKU3IV7JL72VIJ7INZARK2OQVZZUXFWBOKK6NKCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WHSOGKM5ZNS5HXT4QEDFGYYEOXS4EL7EPRHVDS4DDSYNMEUX7URQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F67JJX3XZ444JZK3S7IAJSSBEJBJSDDAPAPMAARU2EDTJHFTKJSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5JRKVCALNC5VVY4NRBHRI2BL3RVTGACI6VVXRLLNB5FFLLINY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7KF5H2CXRANURVHCP4JS33K4H4KC4QZJWFVYV6VENJ7OEN5LATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AELHSATJFHV3SG6JA7ED3TMRKCLIKX3BSN3JCPIEOL577WPYQL2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK2LRSOYZJR7KQGYB53VGD663ZMFSVE7UBZGKZCHQY4BGUT5F5ZA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "members": {
                "fileName": {},
                "data": {
                    "type": "blob"
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "S17": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "caseId": {},
                    "body": {},
                    "submittedBy": {},
                    "timeCreated": {},
                    "attachmentSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "attachmentId": {},
                                "fileName": {}
                            }
                        }
                    }
                }
            }
        },
        "S1t": {
            "type": "list",
            "member": {}
        },
        "S1x": {
            "type": "structure",
            "required": [
                "checkId",
                "status",
                "millisUntilNextRefreshable"
            ],
            "members": {
                "checkId": {},
                "status": {},
                "millisUntilNextRefreshable": {
                    "type": "long"
                }
            }
        },
        "S22": {
            "type": "structure",
            "required": [
                "resourcesProcessed",
                "resourcesFlagged",
                "resourcesIgnored",
                "resourcesSuppressed"
            ],
            "members": {
                "resourcesProcessed": {
                    "type": "long"
                },
                "resourcesFlagged": {
                    "type": "long"
                },
                "resourcesIgnored": {
                    "type": "long"
                },
                "resourcesSuppressed": {
                    "type": "long"
                }
            }
        },
        "S23": {
            "type": "structure",
            "members": {
                "costOptimizing": {
                    "type": "structure",
                    "required": [
                        "estimatedMonthlySavings",
                        "estimatedPercentMonthlySavings"
                    ],
                    "members": {
                        "estimatedMonthlySavings": {
                            "type": "double"
                        },
                        "estimatedPercentMonthlySavings": {
                            "type": "double"
                        }
                    }
                }
            }
        },
        "S2g": {
            "type": "list",
            "member": {}
        },
        "S2k": {
            "type": "structure",
            "required": [
                "checkId",
                "status",
                "millisUntilNextRefreshable"
            ],
            "members": {
                "checkId": {},
                "status": {},
                "millisUntilNextRefreshable": {
                    "type": "long"
                }
            }
        },
        "S2p": {
            "type": "structure",
            "required": [
                "resourcesProcessed",
                "resourcesFlagged",
                "resourcesIgnored",
                "resourcesSuppressed"
            ],
            "members": {
                "resourcesProcessed": {
                    "type": "long"
                },
                "resourcesFlagged": {
                    "type": "long"
                },
                "resourcesIgnored": {
                    "type": "long"
                },
                "resourcesSuppressed": {
                    "type": "long"
                }
            }
        },
        "S2q": {
            "type": "structure",
            "members": {
                "costOptimizing": {
                    "type": "structure",
                    "required": [
                        "estimatedMonthlySavings",
                        "estimatedPercentMonthlySavings"
                    ],
                    "members": {
                        "estimatedMonthlySavings": {
                            "type": "double"
                        },
                        "estimatedPercentMonthlySavings": {
                            "type": "double"
                        }
                    }
                }
            }
        }
    }
}