{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-06-13",
        "endpointPrefix": "support",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Support API Internal",
        "serviceId": "SupportAPIInternal",
        "signatureVersion": "v4",
        "targetPrefix": "AWSSupport_internal_v1",
        "uid": "supportapiinternal-2013-06-13",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
        ]
    },
    "operations": {
        "AddAttachmentsToSet": {
            "input": {
                "type": "structure",
                "required": [
                    "attachments"
                ],
                "members": {
                    "attachmentSetId": {},
                    "attachments": {
                        "shape": "S3"
                    },
                    "caseId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachmentSetId": {},
                    "expiryTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "AddCommunicationToCase": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationBody"
                ],
                "members": {
                    "caseId": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "type": "list",
                        "member": {}
                    },
                    "attachmentSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "CreateCase": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationBody"
                ],
                "members": {
                    "subject": {},
                    "serviceCode": {},
                    "severityCode": {},
                    "categoryCode": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "type": "list",
                        "member": {}
                    },
                    "language": {},
                    "issueType": {},
                    "attachments": {
                        "shape": "S3"
                    },
                    "attachmentSetId": {},
                    "serviceLimitIncreaseCase": {
                        "type": "structure",
                        "members": {
                            "contactInfo": {
                                "type": "structure",
                                "members": {
                                    "lastName": {},
                                    "firstName": {},
                                    "companyName": {},
                                    "emailAddress": {},
                                    "phoneNumber": {},
                                    "state": {},
                                    "postalCode": {},
                                    "country": {}
                                }
                            },
                            "limitType": {},
                            "limitFields": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "fieldId": {},
                                        "booleanValue": {
                                            "type": "boolean"
                                        },
                                        "timestampValue": {
                                            "type": "timestamp"
                                        },
                                        "doubleValue": {
                                            "type": "double"
                                        },
                                        "floatValue": {
                                            "type": "float"
                                        },
                                        "integerValue": {
                                            "type": "integer"
                                        },
                                        "longValue": {
                                            "type": "long"
                                        },
                                        "stringValue": {}
                                    }
                                }
                            }
                        }
                    },
                    "serviceLimitIncreaseDetails": {
                        "type": "structure",
                        "members": {
                            "serviceLimitIncreases": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceLimitIncreaseId": {},
                                        "value": {
                                            "type": "integer"
                                        },
                                        "expectedIncreaseStartDateTime": {},
                                        "expectedIncreaseEndDateTime": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "caseId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeAttachment": {
            "input": {
                "type": "structure",
                "required": [
                    "attachmentId"
                ],
                "members": {
                    "attachmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachment": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeCaseAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "caseId": {},
                    "namespace": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "namespace": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeCases": {
            "input": {
                "type": "structure",
                "members": {
                    "caseIdList": {
                        "type": "list",
                        "member": {}
                    },
                    "displayId": {},
                    "afterTime": {},
                    "beforeTime": {},
                    "includeResolvedCases": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "language": {},
                    "sortOptions": {
                        "type": "structure",
                        "members": {
                            "field": {},
                            "direction": {}
                        }
                    },
                    "includeCommunications": {
                        "type": "boolean"
                    },
                    "attributeSearchFiltersList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "namespace": {},
                                "valueList": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "caseId": {},
                                "displayId": {},
                                "subject": {},
                                "status": {},
                                "serviceCode": {},
                                "categoryCode": {},
                                "issueType": {},
                                "severityCode": {},
                                "submittedBy": {},
                                "timeCreated": {},
                                "recentCommunications": {
                                    "type": "structure",
                                    "members": {
                                        "communications": {
                                            "shape": "S2c"
                                        },
                                        "nextToken": {}
                                    }
                                },
                                "ccEmailAddresses": {
                                    "type": "list",
                                    "member": {}
                                },
                                "language": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeCommunications": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "beforeTime": {},
                    "afterTime": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "communications": {
                        "shape": "S2c"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeCreateCaseOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "language",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "language": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "languageAvailability": {},
                    "communicationTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "supportedHours": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startTime": {},
                                            "endTime": {}
                                        }
                                    }
                                },
                                "datesWithoutSupport": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startDateTime": {},
                                            "endDateTime": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeIssueTypes": {
            "input": {
                "type": "structure",
                "members": {
                    "issueTypeList": {
                        "type": "list",
                        "member": {}
                    },
                    "serviceLimitIncreaseOptions": {
                        "type": "structure",
                        "members": {
                            "onlyListServiceCodes": {
                                "type": "boolean"
                            },
                            "filterByServiceCodes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serviceLimitIncreaseDescription": {
                        "type": "structure",
                        "members": {
                            "serviceCodes": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceCode": {},
                                        "serviceName": {}
                                    }
                                }
                            },
                            "serviceLimitIncreases": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceLimitIncreaseId": {},
                                        "categorization": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "type": {},
                                                    "name": {}
                                                }
                                            }
                                        },
                                        "name": {},
                                        "currentValue": {},
                                        "serviceCode": {},
                                        "properties": {
                                            "type": "structure",
                                            "members": {
                                                "timeboundServiceLimitIncrease": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeServices": {
            "input": {
                "type": "structure",
                "members": {
                    "serviceCodeList": {
                        "shape": "S3r"
                    },
                    "language": {},
                    "issueType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {},
                                "categories": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "code": {},
                                            "name": {},
                                            "issueType": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeSeverityLevels": {
            "input": {
                "type": "structure",
                "members": {
                    "language": {},
                    "includeAllSeverityLevels": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "severityLevels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {},
                                "maxResponseTimeMinutes": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeSupportLevel": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportLevel": {
                        "type": "structure",
                        "members": {
                            "code": {},
                            "name": {}
                        }
                    },
                    "activeSubscription": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeSupportedLanguages": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportedLanguages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "language": {},
                                "display": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeTrustedAdvisorCheckRefreshStatuses": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S4j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "statuses"
                ],
                "members": {
                    "statuses": {
                        "type": "list",
                        "member": {
                            "shape": "S4n"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeTrustedAdvisorCheckResult": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {},
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "checkId",
                            "timestamp",
                            "status",
                            "resourcesSummary",
                            "categorySpecificSummary",
                            "flaggedResources"
                        ],
                        "members": {
                            "checkId": {},
                            "timestamp": {},
                            "status": {},
                            "resourcesSummary": {
                                "shape": "S4s"
                            },
                            "categorySpecificSummary": {
                                "shape": "S4t"
                            },
                            "flaggedResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "status",
                                        "resourceId",
                                        "metadata"
                                    ],
                                    "members": {
                                        "status": {},
                                        "region": {},
                                        "resourceId": {},
                                        "isSuppressed": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "shape": "S4j"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeTrustedAdvisorCheckSummaries": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S4j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "summaries"
                ],
                "members": {
                    "summaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "timestamp",
                                "status",
                                "resourcesSummary",
                                "categorySpecificSummary"
                            ],
                            "members": {
                                "checkId": {},
                                "timestamp": {},
                                "status": {},
                                "hasFlaggedResources": {
                                    "type": "boolean"
                                },
                                "resourcesSummary": {
                                    "shape": "S4s"
                                },
                                "categorySpecificSummary": {
                                    "shape": "S4t"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "DescribeTrustedAdvisorChecks": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checks"
                ],
                "members": {
                    "checks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "description",
                                "category",
                                "metadata"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {},
                                "category": {},
                                "metadata": {
                                    "shape": "S4j"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "InitiateCallForCase": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "phoneNumber": {},
                    "timeToCall": {},
                    "sessionId": {},
                    "phoneExtension": {},
                    "phoneCountryCode": {},
                    "clientIp": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "callToken": {},
                    "callRoutingIdentifier": {},
                    "callContextMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "callRoutingStack": {},
                    "callContactConnectIdentifier": {
                        "type": "structure",
                        "members": {
                            "routingStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "InitiateChatForCase": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "clientIp": {},
                    "sessionId": {},
                    "chatUsername": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "chatToken": {},
                    "chatRoutingIdentifier": {},
                    "chatRoutingStack": {},
                    "chatContactConnectIdentifier": {
                        "type": "structure",
                        "members": {
                            "initialContactId": {},
                            "participantId": {},
                            "participantToken": {}
                        }
                    },
                    "chatLegId": {},
                    "chatProvider": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "PutCaseAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "caseId": {},
                    "namespaceAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "namespace": {},
                                "attributes": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "key": {},
                                            "value": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "success": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCAMVQJTGIRDMX43HSUUUUOXVLWTRNLVAGMYFJGDSNCVUOVUMEEQ/e3f190b7d2af2d35ba3743fec0d122f6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZH5CXTTYJZKDMWEZ7YN2P2RTEGVI3JH3NOJUQ4PYRYXP2T5VQUSA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3364T27QHR53WPRDUV3NUBQF7KOPH5EIYQL7P33T2PHXITTX25SA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNBVYKINHXHPDY245NEQZHBA6YMXUKBZKMFMTN6QJAUXH7NTTWXA/bf26ea2dda6e1a69750bd27b379962e1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWWO52EAN5EC4D2II2QO4CCS5NNHZY3DGFTXJR3CVPH3HIEPXMMQ/bf26ea2dda6e1a69750bd27b379962e1.js"
            ]
        },
        "RateCaseCommunication": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationId",
                    "rating"
                ],
                "members": {
                    "communicationId": {},
                    "caseId": {},
                    "rating": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
[...]
