{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-04-15",
        "endpointPrefix": "support",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Support",
        "serviceId": "Support",
        "signatureVersion": "v4",
        "targetPrefix": "AWSSupport_20130415",
        "uid": "support-2013-04-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AddAttachmentsToSet": {
            "input": {
                "type": "structure",
                "required": [
                    "attachments"
                ],
                "members": {
                    "attachmentSetId": {},
                    "attachments": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachmentSetId": {},
                    "expiryTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AddCommunicationToCase": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationBody"
                ],
                "members": {
                    "caseId": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "shape": "Sc"
                    },
                    "attachmentSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateCase": {
            "input": {
                "type": "structure",
                "required": [
                    "subject",
                    "communicationBody"
                ],
                "members": {
                    "subject": {},
                    "serviceCode": {},
                    "severityCode": {},
                    "categoryCode": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "shape": "Sc"
                    },
                    "language": {},
                    "issueType": {},
                    "attachmentSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "caseId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAttachment": {
            "input": {
                "type": "structure",
                "required": [
                    "attachmentId"
                ],
                "members": {
                    "attachmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachment": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeCases": {
            "input": {
                "type": "structure",
                "members": {
                    "caseIdList": {
                        "type": "list",
                        "member": {}
                    },
                    "displayId": {},
                    "afterTime": {},
                    "beforeTime": {},
                    "includeResolvedCases": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "language": {},
                    "includeCommunications": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "caseId": {},
                                "displayId": {},
                                "subject": {},
                                "status": {},
                                "serviceCode": {},
                                "categoryCode": {},
                                "severityCode": {},
                                "submittedBy": {},
                                "timeCreated": {},
                                "recentCommunications": {
                                    "type": "structure",
                                    "members": {
                                        "communications": {
                                            "shape": "S17"
                                        },
                                        "nextToken": {}
                                    }
                                },
                                "ccEmailAddresses": {
                                    "shape": "Sc"
                                },
                                "language": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeCommunications": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "beforeTime": {},
                    "afterTime": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "communications": {
                        "shape": "S17"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeServices": {
            "input": {
                "type": "structure",
                "members": {
                    "serviceCodeList": {
                        "type": "list",
                        "member": {}
                    },
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {},
                                "categories": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "code": {},
                                            "name": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeSeverityLevels": {
            "input": {
                "type": "structure",
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "severityLevels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeTrustedAdvisorCheckRefreshStatuses": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S1t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "statuses"
                ],
                "members": {
                    "statuses": {
                        "type": "list",
                        "member": {
                            "shape": "S1x"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeTrustedAdvisorCheckResult": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {},
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "checkId",
                            "timestamp",
                            "status",
                            "resourcesSummary",
                            "categorySpecificSummary",
                            "flaggedResources"
                        ],
                        "members": {
                            "checkId": {},
                            "timestamp": {},
                            "status": {},
                            "resourcesSummary": {
                                "shape": "S22"
                            },
                            "categorySpecificSummary": {
                                "shape": "S23"
                            },
                            "flaggedResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "status",
                                        "resourceId",
                                        "metadata"
                                    ],
                                    "members": {
                                        "status": {},
                                        "region": {},
                                        "resourceId": {},
                                        "isSuppressed": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "shape": "S1t"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeTrustedAdvisorCheckSummaries": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S1t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "summaries"
                ],
                "members": {
                    "summaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "timestamp",
                                "status",
                                "resourcesSummary",
                                "categorySpecificSummary"
                            ],
                            "members": {
                                "checkId": {},
                                "timestamp": {},
                                "status": {},
                                "hasFlaggedResources": {
                                    "type": "boolean"
                                },
                                "resourcesSummary": {
                                    "shape": "S22"
                                },
                                "categorySpecificSummary": {
                                    "shape": "S23"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeTrustedAdvisorChecks": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checks"
                ],
                "members": {
                    "checks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "description",
                                "category",
                                "metadata"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {},
                                "category": {},
                                "metadata": {
                                    "shape": "S1t"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RefreshTrustedAdvisorCheck": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {
                        "shape": "S1x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ResolveCase": {
            "input": {
                "type": "structure",
                "members": {
                    "caseId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "initialCaseStatus": {},
                    "finalCaseStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLAEXL3C5G2KFR5GGLOLAQJJJ2K7HBRPNSSVZNCCQKJQ3WGMYCDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeCreateCaseOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "language",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "language": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "languageAvailability": {},
                    "communicationTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "supportedHours": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startTime": {},
                                            "endTime": {}
                                        }
                                    }
                                },
                                "datesWithoutSupport": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startDateTime": {},
                                            "endDateTime": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWJOZX7JXWAUNPH7FOXDHMXI2IJQI4KDJUIRU4YBIFYNXXZBNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUWRHXEL7B6Q7U3EWGIL75XHXXD3K5KR7ZIGEFONNQUFRUJ2SFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJHSZQBZ7JFRGORDTAJW6UOGZBGO7KQMQVBYOKGGV3CAWAD4VZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPQGUG5U5PFXFZL5P3KRMWGBCZXALFPWLYCLLUS5DRWNQUSZHSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TUWVH3M5OOZ44YYL7LZ6KW2RJREHYHDP2DQHSXJOZC4S6F2KH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3YE4ZU7TKJZ4RIRORJJLAWKZN64N2P2MBWCCSISZ3TMBKEWFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32EYU7QQKN3GJMZ45EPFZTKQU633M2N3ONW443W7XWBUWMKZJN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GODK7O4HZQCPNUZTPH4GX6EZJ5OXKFLOSKRSBQCBLPEM2RUSCYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62OHR3EPIH6VIBGGJXFGESOXOQYCIB5RHNXPIN3V6I7T5YXNLHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeSupportedLanguages": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportedLanguages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "language": {},
                                "display": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQMXA2EHT7OKTAIZO5D4KLNGAEGZGUHWSLQQXPIY5OZ2BHENL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QLWJOZX7JXWAUNPH7FOXDHMXI2IJQI4KDJUIRU4YBIFYNXXZBNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PUWRHXEL7B6Q7U3EWGIL75XHXXD3K5KR7ZIGEFONNQUFRUJ2SFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJHSZQBZ7JFRGORDTAJW6UOGZBGO7KQMQVBYOKGGV3CAWAD4VZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPQGUG5U5PFXFZL5P3KRMWGBCZXALFPWLYCLLUS5DRWNQUSZHSGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TUWVH3M5OOZ44YYL7LZ6KW2RJREHYHDP2DQHSXJOZC4S6F2KH4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJ3YE4ZU7TKJZ4RIRORJJLAWKZN64N2P2MBWCCSISZ3TMBKEWFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32EYU7QQKN3GJMZ45EPFZTKQU633M2N3ONW443W7XWBUWMKZJN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GODK7O4HZQCPNUZTPH4GX6EZJ5OXKFLOSKRSBQCBLPEM2RUSCYCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62OHR3EPIH6VIBGGJXFGESOXOQYCIB5RHNXPIN3V6I7T5YXNLHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOS6D5HM2RDDMUNJIEL6JESE4M4BTQKQAC7S44IJVX25TGYAYAMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJJXJ5EAHSJG6BFOM2AXGC5MGOQBSC562SD4L2DQ6OO5UONLEZ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7JHGZINIYSDTIP5G2VD77RHCRGKG5BPB7OUUQ4NVKLDP25YJNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/347Y2VOMP3DOTA2TKXPYBGUJHZUXA5HRAADRLHWD4HXZA2P374FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "members": {
                "fileName": {},
                "data": {
                    "type": "blob"
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "S17": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "caseId": {},
                    "body": {},
                    "submittedBy": {},
                    "timeCreated": {},
                    "attachmentSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "attachmentId": {},
                                "fileName": {}
                            }
                        }
                    }
                }
            }
        },
        "S1t": {
            "type": "list",
            "member": {}
        },
        "S1x": {
            "type": "structure",
            "required": [
                "checkId",
                "status",
                "millisUntilNextRefreshable"
            ],
            "members": {
                "checkId": {},
                "status": {},
                "millisUntilNextRefreshable": {
                    "type": "long"
                }
            }
        },
        "S22": {
            "type": "structure",
            "required": [
                "resourcesProcessed",
                "resourcesFlagged",
                "resourcesIgnored",
                "resourcesSuppressed"
            ],
            "members": {
                "resourcesProcessed": {
                    "type": "long"
                },
                "resourcesFlagged": {
                    "type": "long"
                },
                "resourcesIgnored": {
                    "type": "long"
                },
                "resourcesSuppressed": {
                    "type": "long"
                }
            }
        },
        "S23": {
            "type": "structure",
            "members": {
                "costOptimizing": {
                    "type": "structure",
                    "required": [
                        "estimatedMonthlySavings",
                        "estimatedPercentMonthlySavings"
                    ],
                    "members": {
                        "estimatedMonthlySavings": {
                            "type": "double"
                        },
                        "estimatedPercentMonthlySavings": {
                            "type": "double"
                        }
                    }
                }
            }
        },
        "S2g": {
            "type": "list",
            "member": {}
        },
        "S2k": {
            "type": "structure",
            "required": [
                "checkId",
                "status",
                "millisUntilNextRefreshable"
            ],
            "members": {
                "checkId": {},
                "status": {},
                "millisUntilNextRefreshable": {
                    "type": "long"
                }
            }
        },
        "S2p": {
            "type": "structure",
            "required": [
                "resourcesProcessed",
                "resourcesFlagged",
                "resourcesIgnored",
                "resourcesSuppressed"
            ],
            "members": {
                "resourcesProcessed": {
                    "type": "long"
                },
                "resourcesFlagged": {
                    "type": "long"
                },
                "resourcesIgnored": {
                    "type": "long"
                },
                "resourcesSuppressed": {
                    "type": "long"
                }
            }
        },
        "S2q": {
            "type": "structure",
            "members": {
                "costOptimizing": {
                    "type": "structure",
                    "required": [
                        "estimatedMonthlySavings",
                        "estimatedPercentMonthlySavings"
                    ],
                    "members": {
                        "estimatedMonthlySavings": {
                            "type": "double"
                        },
                        "estimatedPercentMonthlySavings": {
                            "type": "double"
                        }
                    }
                }
            }
        }
    }
}