{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-04-15",
        "endpointPrefix": "support",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Support",
        "serviceId": "Support",
        "signatureVersion": "v4",
        "targetPrefix": "AWSSupport_20130415",
        "uid": "support-2013-04-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AddAttachmentsToSet": {
            "input": {
                "type": "structure",
                "required": [
                    "attachments"
                ],
                "members": {
                    "attachmentSetId": {},
                    "attachments": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachmentSetId": {},
                    "expiryTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AddCommunicationToCase": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationBody"
                ],
                "members": {
                    "caseId": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "shape": "Sc"
                    },
                    "attachmentSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateCase": {
            "input": {
                "type": "structure",
                "required": [
                    "subject",
                    "communicationBody"
                ],
                "members": {
                    "subject": {},
                    "serviceCode": {},
                    "severityCode": {},
                    "categoryCode": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "shape": "Sc"
                    },
                    "language": {},
                    "issueType": {},
                    "attachmentSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "caseId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeAttachment": {
            "input": {
                "type": "structure",
                "required": [
                    "attachmentId"
                ],
                "members": {
                    "attachmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachment": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeCases": {
            "input": {
                "type": "structure",
                "members": {
                    "caseIdList": {
                        "type": "list",
                        "member": {}
                    },
                    "displayId": {},
                    "afterTime": {},
                    "beforeTime": {},
                    "includeResolvedCases": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "language": {},
                    "includeCommunications": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "caseId": {},
                                "displayId": {},
                                "subject": {},
                                "status": {},
                                "serviceCode": {},
                                "categoryCode": {},
                                "severityCode": {},
                                "submittedBy": {},
                                "timeCreated": {},
                                "recentCommunications": {
                                    "type": "structure",
                                    "members": {
                                        "communications": {
                                            "shape": "S17"
                                        },
                                        "nextToken": {}
                                    }
                                },
                                "ccEmailAddresses": {
                                    "shape": "Sc"
                                },
                                "language": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeCommunications": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "beforeTime": {},
                    "afterTime": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "communications": {
                        "shape": "S17"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeServices": {
            "input": {
                "type": "structure",
                "members": {
                    "serviceCodeList": {
                        "type": "list",
                        "member": {}
                    },
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {},
                                "categories": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "code": {},
                                            "name": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeSeverityLevels": {
            "input": {
                "type": "structure",
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "severityLevels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeTrustedAdvisorCheckRefreshStatuses": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S1t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "statuses"
                ],
                "members": {
                    "statuses": {
                        "type": "list",
                        "member": {
                            "shape": "S1x"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeTrustedAdvisorCheckResult": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {},
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "checkId",
                            "timestamp",
                            "status",
                            "resourcesSummary",
                            "categorySpecificSummary",
                            "flaggedResources"
                        ],
                        "members": {
                            "checkId": {},
                            "timestamp": {},
                            "status": {},
                            "resourcesSummary": {
                                "shape": "S22"
                            },
                            "categorySpecificSummary": {
                                "shape": "S23"
                            },
                            "flaggedResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "status",
                                        "resourceId",
                                        "metadata"
                                    ],
                                    "members": {
                                        "status": {},
                                        "region": {},
                                        "resourceId": {},
                                        "isSuppressed": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "shape": "S1t"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeTrustedAdvisorCheckSummaries": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S1t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "summaries"
                ],
                "members": {
                    "summaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "timestamp",
                                "status",
                                "resourcesSummary",
                                "categorySpecificSummary"
                            ],
                            "members": {
                                "checkId": {},
                                "timestamp": {},
                                "status": {},
                                "hasFlaggedResources": {
                                    "type": "boolean"
                                },
                                "resourcesSummary": {
                                    "shape": "S22"
                                },
                                "categorySpecificSummary": {
                                    "shape": "S23"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeTrustedAdvisorChecks": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checks"
                ],
                "members": {
                    "checks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "description",
                                "category",
                                "metadata"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {},
                                "category": {},
                                "metadata": {
                                    "shape": "S1t"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "RefreshTrustedAdvisorCheck": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {
                        "shape": "S1x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ResolveCase": {
            "input": {
                "type": "structure",
                "members": {
                    "caseId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "initialCaseStatus": {},
                    "finalCaseStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBREOEY2U5V2SQ5JMRKIPK4CFOPNV2ZF63UY2LEPKJNBPGUK2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeCreateCaseOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "language",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "language": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "languageAvailability": {},
                    "communicationTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "supportedHours": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startTime": {},
                                            "endTime": {}
                                        }
                                    }
                                },
                                "datesWithoutSupport": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startDateTime": {},
                                            "endDateTime": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeSupportedLanguages": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportedLanguages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "language": {},
                                "display": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSGBHO4NCEWKJUT572GB6WBT3LPGCKAOHJKXBZN3ALVMJWKZRFVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGWX4UF6J4Q4BX23Z3XUDMQOFHTY6L2ZHASTVITBY5GB72FQG3OQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMEIUXHYQ6JKWX67V3TGI65HNV7FC7SG7F3FIAYDF3LSP7UBW63Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUKY75W43SLAVHPBNYLCMS4WQ4IQMJFUDJQS7P4DNLRAOW2UMECA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PESIBKOCKMP27EUDHPQN6DPG2GMXJDE2UH4672ET4DFJJKMK73VQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TXIERH6KRQBG7HBSR6QUBH7B3R2V54WK7QJI3MLKFAV5R45TWCZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "members": {
                "fileName": {},
                "data": {
                    "type": "blob"
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "S17": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "caseId": {},
                    "body": {},
                    "submittedBy": {},
                    "timeCreated": {},
                    "attachmentSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "attachmentId": {},
                                "fileName": {}
                            }
                        }
                    }
                }
            }
        },
        "S1t": {
            "type": "list",
            "member": {}
        },
        "S1x": {
            "type": "structure",
            "required": [
                "checkId",
                "status",
                "millisUntilNextRefreshable"
            ],
            "members": {
                "checkId": {},
                "status": {},
                "millisUntilNextRefreshable": {
                    "type": "long"
                }
            }
        },
        "S22": {
            "type": "structure",
            "required": [
                "resourcesProcessed",
                "resourcesFlagged",
                "resourcesIgnored",
                "resourcesSuppressed"
            ],
            "members": {
                "resourcesProcessed": {
                    "type": "long"
                },
                "resourcesFlagged": {
                    "type": "long"
                },
                "resourcesIgnored": {
                    "type": "long"
                },
                "resourcesSuppressed": {
                    "type": "long"
                }
            }
        },
        "S23": {
            "type": "structure",
            "members": {
                "costOptimizing": {
                    "type": "structure",
                    "required": [
                        "estimatedMonthlySavings",
                        "estimatedPercentMonthlySavings"
                    ],
                    "members": {
                        "estimatedMonthlySavings": {
                            "type": "double"
                        },
                        "estimatedPercentMonthlySavings": {
                            "type": "double"
                        }
                    }
                }
            }
        },
        "S2g": {
            "type": "list",
            "member": {}
        },
        "S2k": {
            "type": "structure",
            "required": [
                "checkId",
                "status",
                "millisUntilNextRefreshable"
            ],
            "members": {
                "checkId": {},
                "status": {},
                "millisUntilNextRefreshable": {
                    "type": "long"
                }
            }
        },
        "S2p": {
            "type": "structure",
            "required": [
                "resourcesProcessed",
                "resourcesFlagged",
                "resourcesIgnored",
                "resourcesSuppressed"
            ],
            "members": {
                "resourcesProcessed": {
                    "type": "long"
                },
                "resourcesFlagged": {
                    "type": "long"
                },
                "resourcesIgnored": {
                    "type": "long"
                },
                "resourcesSuppressed": {
                    "type": "long"
                }
            }
        },
        "S2q": {
            "type": "structure",
            "members": {
                "costOptimizing": {
                    "type": "structure",
                    "required": [
                        "estimatedMonthlySavings",
                        "estimatedPercentMonthlySavings"
                    ],
                    "members": {
                        "estimatedMonthlySavings": {
                            "type": "double"
                        },
                        "estimatedPercentMonthlySavings": {
                            "type": "double"
                        }
                    }
                }
            }
        }
    }
}