{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-06-13",
        "endpointPrefix": "support",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Support API Internal",
        "serviceId": "SupportAPIInternal",
        "signatureVersion": "v4",
        "targetPrefix": "AWSSupport_internal_v1",
        "uid": "supportapiinternal-2013-06-13",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OHROIPPDLSN33RC67IAZW2IE7BVBRNKJO4QY3L2ZXOKV2AHCIU3Q/efd7e81e5a9cffab94e22aae6edb07b1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
        ]
    },
    "operations": {
        "AddAttachmentsToSet": {
            "input": {
                "type": "structure",
                "required": [
                    "attachments"
                ],
                "members": {
                    "attachmentSetId": {},
                    "attachments": {
                        "shape": "S3"
                    },
                    "caseId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachmentSetId": {},
                    "expiryTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "AddCommunicationToCase": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationBody"
                ],
                "members": {
                    "caseId": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "type": "list",
                        "member": {}
                    },
                    "attachmentSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "CreateCase": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationBody"
                ],
                "members": {
                    "subject": {},
                    "serviceCode": {},
                    "severityCode": {},
                    "categoryCode": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "type": "list",
                        "member": {}
                    },
                    "language": {},
                    "issueType": {},
                    "attachments": {
                        "shape": "S3"
                    },
                    "attachmentSetId": {},
                    "serviceLimitIncreaseCase": {
                        "type": "structure",
                        "members": {
                            "contactInfo": {
                                "type": "structure",
                                "members": {
                                    "lastName": {},
                                    "firstName": {},
                                    "companyName": {},
                                    "emailAddress": {},
                                    "phoneNumber": {},
                                    "state": {},
                                    "postalCode": {},
                                    "country": {}
                                }
                            },
                            "limitType": {},
                            "limitFields": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "fieldId": {},
                                        "booleanValue": {
                                            "type": "boolean"
                                        },
                                        "timestampValue": {
                                            "type": "timestamp"
                                        },
                                        "doubleValue": {
                                            "type": "double"
                                        },
                                        "floatValue": {
                                            "type": "float"
                                        },
                                        "integerValue": {
                                            "type": "integer"
                                        },
                                        "longValue": {
                                            "type": "long"
                                        },
                                        "stringValue": {}
                                    }
                                }
                            }
                        }
                    },
                    "serviceLimitIncreaseDetails": {
                        "type": "structure",
                        "members": {
                            "serviceLimitIncreases": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceLimitIncreaseId": {},
                                        "value": {
                                            "type": "integer"
                                        },
                                        "expectedIncreaseStartDateTime": {},
                                        "expectedIncreaseEndDateTime": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "caseId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeAttachment": {
            "input": {
                "type": "structure",
                "required": [
                    "attachmentId"
                ],
                "members": {
                    "attachmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachment": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeCaseAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "caseId": {},
                    "namespace": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "namespace": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeCases": {
            "input": {
                "type": "structure",
                "members": {
                    "caseIdList": {
                        "type": "list",
                        "member": {}
                    },
                    "displayId": {},
                    "afterTime": {},
                    "beforeTime": {},
                    "includeResolvedCases": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "language": {},
                    "sortOptions": {
                        "type": "structure",
                        "members": {
                            "field": {},
                            "direction": {}
                        }
                    },
                    "includeCommunications": {
                        "type": "boolean"
                    },
                    "attributeSearchFiltersList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "namespace": {},
                                "valueList": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "caseId": {},
                                "displayId": {},
                                "subject": {},
                                "status": {},
                                "serviceCode": {},
                                "categoryCode": {},
                                "issueType": {},
                                "severityCode": {},
                                "submittedBy": {},
                                "timeCreated": {},
                                "recentCommunications": {
                                    "type": "structure",
                                    "members": {
                                        "communications": {
                                            "shape": "S2c"
                                        },
                                        "nextToken": {}
                                    }
                                },
                                "ccEmailAddresses": {
                                    "type": "list",
                                    "member": {}
                                },
                                "language": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeCommunications": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "beforeTime": {},
                    "afterTime": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "communications": {
                        "shape": "S2c"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeCreateCaseOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "language",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "language": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "languageAvailability": {},
                    "communicationTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "supportedHours": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startTime": {},
                                            "endTime": {}
                                        }
                                    }
                                },
                                "datesWithoutSupport": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startDateTime": {},
                                            "endDateTime": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeIssueTypes": {
            "input": {
                "type": "structure",
                "members": {
                    "issueTypeList": {
                        "type": "list",
                        "member": {}
                    },
                    "serviceLimitIncreaseOptions": {
                        "type": "structure",
                        "members": {
                            "onlyListServiceCodes": {
                                "type": "boolean"
                            },
                            "filterByServiceCodes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serviceLimitIncreaseDescription": {
                        "type": "structure",
                        "members": {
                            "serviceCodes": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceCode": {},
                                        "serviceName": {}
                                    }
                                }
                            },
                            "serviceLimitIncreases": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceLimitIncreaseId": {},
                                        "categorization": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "type": {},
                                                    "name": {}
                                                }
                                            }
                                        },
                                        "name": {},
                                        "currentValue": {},
                                        "serviceCode": {},
                                        "properties": {
                                            "type": "structure",
                                            "members": {
                                                "timeboundServiceLimitIncrease": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeServices": {
            "input": {
                "type": "structure",
                "members": {
                    "serviceCodeList": {
                        "shape": "S3r"
                    },
                    "language": {},
                    "issueType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {},
                                "categories": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "code": {},
                                            "name": {},
                                            "issueType": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeSeverityLevels": {
            "input": {
                "type": "structure",
                "members": {
                    "language": {},
                    "includeAllSeverityLevels": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "severityLevels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {},
                                "maxResponseTimeMinutes": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeSupportLevel": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportLevel": {
                        "type": "structure",
                        "members": {
                            "code": {},
                            "name": {}
                        }
                    },
                    "activeSubscription": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeSupportedLanguages": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportedLanguages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "language": {},
                                "display": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeTrustedAdvisorCheckRefreshStatuses": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S4j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "statuses"
                ],
                "members": {
                    "statuses": {
                        "type": "list",
                        "member": {
                            "shape": "S4n"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeTrustedAdvisorCheckResult": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {},
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "checkId",
                            "timestamp",
                            "status",
                            "resourcesSummary",
                            "categorySpecificSummary",
                            "flaggedResources"
                        ],
                        "members": {
                            "checkId": {},
                            "timestamp": {},
                            "status": {},
                            "resourcesSummary": {
                                "shape": "S4s"
                            },
                            "categorySpecificSummary": {
                                "shape": "S4t"
                            },
                            "flaggedResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "status",
                                        "resourceId",
                                        "metadata"
                                    ],
                                    "members": {
                                        "status": {},
                                        "region": {},
                                        "resourceId": {},
                                        "isSuppressed": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "shape": "S4j"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeTrustedAdvisorCheckSummaries": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S4j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "summaries"
                ],
                "members": {
                    "summaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "timestamp",
                                "status",
                                "resourcesSummary",
                                "categorySpecificSummary"
                            ],
                            "members": {
                                "checkId": {},
                                "timestamp": {},
                                "status": {},
                                "hasFlaggedResources": {
                                    "type": "boolean"
                                },
                                "resourcesSummary": {
                                    "shape": "S4s"
                                },
                                "categorySpecificSummary": {
                                    "shape": "S4t"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "DescribeTrustedAdvisorChecks": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checks"
                ],
                "members": {
                    "checks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "description",
                                "category",
                                "metadata"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {},
                                "category": {},
                                "metadata": {
                                    "shape": "S4j"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "InitiateCallForCase": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "phoneNumber": {},
                    "timeToCall": {},
                    "sessionId": {},
                    "phoneExtension": {},
                    "phoneCountryCode": {},
                    "clientIp": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "callToken": {},
                    "callRoutingIdentifier": {},
                    "callContextMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "callRoutingStack": {},
                    "callContactConnectIdentifier": {
                        "type": "structure",
                        "members": {
                            "routingStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "InitiateChatForCase": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "clientIp": {},
                    "sessionId": {},
                    "chatUsername": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "chatToken": {},
                    "chatRoutingIdentifier": {},
                    "chatRoutingStack": {},
                    "chatContactConnectIdentifier": {
                        "type": "structure",
                        "members": {
                            "initialContactId": {},
                            "participantId": {},
                            "participantToken": {}
                        }
                    },
                    "chatLegId": {},
                    "chatProvider": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5IY7Y6RSKNEHWTX4FAVV3CZFCSWVFQAEIAD2I3MTHZHG7FW3WAA/1feb057c24fbb396dfa6f40dabd04834.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLKVRHYF2BZC5VNIEBLUEMERVGWZPNQPGU453ET2WBDLEII7IDUA/e46ba75b597e70a47036b0c42baf3bdf.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6QYIJEEOUQPWCK2DMMEHZG56OZ6MKT7JNDPQ53IEXIWDUQFBRIQ/8f43553d3fe79c8dcb172d1f9fbc9fb2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPYT5RAI33VYW7O3AOQDUOYL3YNR5C7O2PYKSSISNXEWXP6Y362Q/94cbaba0edca8b4db49de3086013583e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCJJ2B4MXGF6AC67O5MINWQFLK7ACINJHNIMYCPDRB6GCLX6PJFQ/5cc7065a7bf749e1814c2aef20fcdb25.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GQAZWYFFX5CCCZ2URTNISXGYVCCDHIOY6HPVCMKWWGZN2SNQMPA/d3478b00032aaa92e75d4ecd64ace402.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHCLILWXDEEZOK6FEENOBN4W6HT7MOIHW6LMKJJOURQ7VRM62TLQ/8d4d2625fab1f559627aa8e5792466d4.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U5XESWSG24ZOUZ7PNMYXXQQNH4SVALF2RPQFJLX46WDRQ56BBJYQ/2505bdc50025868d65159ab972b0e54a.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NT4HVQQHBDLQUIXHNMI6EWJG452ACRHN65QKF47FJAB77RZOQNLA/105b6ae6b53726d137aa8a5482ba0231.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFULGKZACZ2KBESPL6HMK6POUFTKOB7OIUCLNFGXO6W4GIWGZ2CQ/6c10f941fc682611cba43ca5f96ef4b3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5YECAD4F65QUTAEVLTHZMGLLXBLPNLHVYSUVZAI5K54PD56WMZQ/2ee62ed1e8632d1af09b2a6965d38180.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AP5OW5TC7VRW452Y5ZDW3GXTSNWMLEVJWQYOQAGEQBZEWRFMYY4A/e84ffd3da4eb506f65711022b9482e57.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMBI57RXIC243YUFSW4C3IGVUMRSNGXPTNCP3JEQOZAS43AVKNBQ/4c3fc09a2a62fe09e102dc0ad2547431.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4YJNRBBLI3JGZ7P4YQQ5SZUM4UIPKIEFWRCW2GOLCRIHZMFFGRQ/bc9f29e21c09371660097e1e05d5d6b6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MW635HFIB7M5ILAH6DQQZZ5XQLKK3RG5RMVPOO2IJXHT2FFIGBWA/fc037847ce3d896d7ab56a144b5d197d.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMMRLKTMUXYL2HBO5CUTSZ6DQ2DUOHXRJ7YQOVFUGMJIETSMYKYQ/8cf7fb268e07a10d8739bb8b1c57ef50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXYNHMUJFZWNZYN5M3GNMSAO2XDD3II3VPRX3AH4X3EK7AIB7N7Q/7d608cf2c6dcd93960fa21785dd04991.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSIFNN6W5O63U4LRIIABCKPJXCIYMCVXUMN4XRTXTEM5MDINVHFA/2d6909b43de4efb4dbd2465a1fd955de.js"
            ]
        },
        "PutCaseAttributes": {
            "input": {
                "type": "structure",
[...]
