{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-06-13",
        "endpointPrefix": "support",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Support API Internal",
        "serviceId": "SupportAPIInternal",
        "signatureVersion": "v4",
        "targetPrefix": "AWSSupport_internal_v1",
        "uid": "supportapiinternal-2013-06-13",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IW7WAQIG5BAQTSYX7AOUSXYGA4OGKGL7BLVXJOLNJGJ56AWXP4RQ/be3436e5afed7799a4f73198de4501f7.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
        ]
    },
    "operations": {
        "AddAttachmentsToSet": {
            "input": {
                "type": "structure",
                "required": [
                    "attachments"
                ],
                "members": {
                    "attachmentSetId": {},
                    "attachments": {
                        "shape": "S3"
                    },
                    "caseId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachmentSetId": {},
                    "expiryTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "AddCommunicationToCase": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationBody"
                ],
                "members": {
                    "caseId": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "type": "list",
                        "member": {}
                    },
                    "attachmentSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "CreateCase": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationBody"
                ],
                "members": {
                    "subject": {},
                    "serviceCode": {},
                    "severityCode": {},
                    "categoryCode": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "type": "list",
                        "member": {}
                    },
                    "language": {},
                    "issueType": {},
                    "attachments": {
                        "shape": "S3"
                    },
                    "attachmentSetId": {},
                    "serviceLimitIncreaseCase": {
                        "type": "structure",
                        "members": {
                            "contactInfo": {
                                "type": "structure",
                                "members": {
                                    "lastName": {},
                                    "firstName": {},
                                    "companyName": {},
                                    "emailAddress": {},
                                    "phoneNumber": {},
                                    "state": {},
                                    "postalCode": {},
                                    "country": {}
                                }
                            },
                            "limitType": {},
                            "limitFields": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "fieldId": {},
                                        "booleanValue": {
                                            "type": "boolean"
                                        },
                                        "timestampValue": {
                                            "type": "timestamp"
                                        },
                                        "doubleValue": {
                                            "type": "double"
                                        },
                                        "floatValue": {
                                            "type": "float"
                                        },
                                        "integerValue": {
                                            "type": "integer"
                                        },
                                        "longValue": {
                                            "type": "long"
                                        },
                                        "stringValue": {}
                                    }
                                }
                            }
                        }
                    },
                    "serviceLimitIncreaseDetails": {
                        "type": "structure",
                        "members": {
                            "serviceLimitIncreases": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceLimitIncreaseId": {},
                                        "value": {
                                            "type": "integer"
                                        },
                                        "expectedIncreaseStartDateTime": {},
                                        "expectedIncreaseEndDateTime": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "caseId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeAttachment": {
            "input": {
                "type": "structure",
                "required": [
                    "attachmentId"
                ],
                "members": {
                    "attachmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachment": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeCaseAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "caseId": {},
                    "namespace": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "namespace": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeCases": {
            "input": {
                "type": "structure",
                "members": {
                    "caseIdList": {
                        "type": "list",
                        "member": {}
                    },
                    "displayId": {},
                    "afterTime": {},
                    "beforeTime": {},
                    "includeResolvedCases": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "language": {},
                    "sortOptions": {
                        "type": "structure",
                        "members": {
                            "field": {},
                            "direction": {}
                        }
                    },
                    "includeCommunications": {
                        "type": "boolean"
                    },
                    "attributeSearchFiltersList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "namespace": {},
                                "valueList": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "caseId": {},
                                "displayId": {},
                                "subject": {},
                                "status": {},
                                "serviceCode": {},
                                "categoryCode": {},
                                "issueType": {},
                                "severityCode": {},
                                "submittedBy": {},
                                "timeCreated": {},
                                "recentCommunications": {
                                    "type": "structure",
                                    "members": {
                                        "communications": {
                                            "shape": "S2c"
                                        },
                                        "nextToken": {}
                                    }
                                },
                                "ccEmailAddresses": {
                                    "type": "list",
                                    "member": {}
                                },
                                "language": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeCommunications": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "beforeTime": {},
                    "afterTime": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "communications": {
                        "shape": "S2c"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeCreateCaseOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "language",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "language": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "languageAvailability": {},
                    "communicationTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "supportedHours": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startTime": {},
                                            "endTime": {}
                                        }
                                    }
                                },
                                "datesWithoutSupport": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startDateTime": {},
                                            "endDateTime": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeIssueTypes": {
            "input": {
                "type": "structure",
                "members": {
                    "issueTypeList": {
                        "type": "list",
                        "member": {}
                    },
                    "serviceLimitIncreaseOptions": {
                        "type": "structure",
                        "members": {
                            "onlyListServiceCodes": {
                                "type": "boolean"
                            },
                            "filterByServiceCodes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serviceLimitIncreaseDescription": {
                        "type": "structure",
                        "members": {
                            "serviceCodes": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceCode": {},
                                        "serviceName": {}
                                    }
                                }
                            },
                            "serviceLimitIncreases": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceLimitIncreaseId": {},
                                        "categorization": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "type": {},
                                                    "name": {}
                                                }
                                            }
                                        },
                                        "name": {},
                                        "currentValue": {},
                                        "serviceCode": {},
                                        "properties": {
                                            "type": "structure",
                                            "members": {
                                                "timeboundServiceLimitIncrease": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeServices": {
            "input": {
                "type": "structure",
                "members": {
                    "serviceCodeList": {
                        "shape": "S3r"
                    },
                    "language": {},
                    "issueType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {},
                                "categories": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "code": {},
                                            "name": {},
                                            "issueType": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeSeverityLevels": {
            "input": {
                "type": "structure",
                "members": {
                    "language": {},
                    "includeAllSeverityLevels": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "severityLevels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {},
                                "maxResponseTimeMinutes": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeSupportLevel": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportLevel": {
                        "type": "structure",
                        "members": {
                            "code": {},
                            "name": {}
                        }
                    },
                    "activeSubscription": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeSupportedLanguages": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportedLanguages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "language": {},
                                "display": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeTrustedAdvisorCheckRefreshStatuses": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S4j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "statuses"
                ],
                "members": {
                    "statuses": {
                        "type": "list",
                        "member": {
                            "shape": "S4n"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeTrustedAdvisorCheckResult": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {},
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "checkId",
                            "timestamp",
                            "status",
                            "resourcesSummary",
                            "categorySpecificSummary",
                            "flaggedResources"
                        ],
                        "members": {
                            "checkId": {},
                            "timestamp": {},
                            "status": {},
                            "resourcesSummary": {
                                "shape": "S4s"
                            },
                            "categorySpecificSummary": {
                                "shape": "S4t"
                            },
                            "flaggedResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "status",
                                        "resourceId",
                                        "metadata"
                                    ],
                                    "members": {
                                        "status": {},
                                        "region": {},
                                        "resourceId": {},
                                        "isSuppressed": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "shape": "S4j"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeTrustedAdvisorCheckSummaries": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S4j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "summaries"
                ],
                "members": {
                    "summaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "timestamp",
                                "status",
                                "resourcesSummary",
                                "categorySpecificSummary"
                            ],
                            "members": {
                                "checkId": {},
                                "timestamp": {},
                                "status": {},
                                "hasFlaggedResources": {
                                    "type": "boolean"
                                },
                                "resourcesSummary": {
                                    "shape": "S4s"
                                },
                                "categorySpecificSummary": {
                                    "shape": "S4t"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "DescribeTrustedAdvisorChecks": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checks"
                ],
                "members": {
                    "checks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "description",
                                "category",
                                "metadata"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {},
                                "category": {},
                                "metadata": {
                                    "shape": "S4j"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "InitiateCallForCase": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "phoneNumber": {},
                    "timeToCall": {},
                    "sessionId": {},
                    "phoneExtension": {},
                    "phoneCountryCode": {},
                    "clientIp": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "callToken": {},
                    "callRoutingIdentifier": {},
                    "callContextMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "callRoutingStack": {},
                    "callContactConnectIdentifier": {
                        "type": "structure",
                        "members": {
                            "routingStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "InitiateChatForCase": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "clientIp": {},
                    "sessionId": {},
                    "chatUsername": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "chatToken": {},
                    "chatRoutingIdentifier": {},
                    "chatRoutingStack": {},
                    "chatContactConnectIdentifier": {
                        "type": "structure",
                        "members": {
                            "initialContactId": {},
                            "participantId": {},
                            "participantToken": {}
                        }
                    },
                    "chatLegId": {},
                    "chatProvider": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URDVUPZ4XL4UB4GXJ65VAPHMF4CYAMO3PQL53VXN26APZQH23NKQ/88f40c9f0664b24dde7bed40be045468.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RVF75LGNWAETIXXKE56RS6WXSIQSR3GD4LKS2WK6U4YEFTEAMVQ/3cb763de14c0dca7e7daebaad1b77a7e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BP3U3FFHN7IYXH6YSVY4LCG3QIGN3ZS7QJJU3WTHXQKATKYHZEDA/4e5870ac90517abc2852b1640770dfe0.js"
            ]
        },
        "PutCaseAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "caseId": {},
                    "namespaceAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "namespace": {},
                                "attributes": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "key": {},
                                            "value": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "success": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAU52MCKKQ42GLA5NQM4OS24REPMDNXRZTF3HELIHEFETAWQ7QUA/7d065cb7e2ae3080f5ef80d3b0ec4563.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCN7QOE34WKQFT5IV55JZRWV7GBJLAKF7S7PA4LDOZ6AZQ4NVSQ/42d8e7665ec2dfff806088cc870f6ff3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3O3EWAFWNTM7VJIWZ5P72NMXEWIYK46V2DW57LKD5NDX542TEEA/669fab5fed67f568f95f77346f6698e9.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NH3GA5WLYLLMKSL6KKVXCJXH5E4QQT6VY3YFV3A3NYKQXPO3ZVIQ/fc35bb85f5bd0b95994e213936589346.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEDH2ZMYWTWVQJTQIO6KE2FV6NUYIALEKHWH53DVE3MXEV4MZSRQ/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDOT4LLZ24SEFIGHAUF3XVGEQM5QNNDS7G4HEEAQ3XFFC4ISVX4A/edaadba200e040e392b7bffe4f9669d2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/caseDetails.js",
[...]
