{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-10-07",
        "endpointPrefix": "support-console",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "SupportConsole",
        "serviceId": "SupportConsole",
        "signatureVersion": "v4",
        "signingName": "support-console",
        "uid": "supportconsole-2021-10-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
        ]
    },
    "operations": {
        "CancelLiveContact": {
            "http": {
                "requestUri": "/case/{caseId}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseId",
                    "displayId",
                    "contactType"
                ],
                "members": {
                    "caseId": {
                        "location": "uri",
                        "locationName": "caseId"
                    },
                    "displayId": {},
                    "contactType": {},
                    "reason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "CheckSubscription": {
            "http": {
                "method": "GET",
                "requestUri": "/checkSubscription",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "productCode"
                ],
                "members": {
                    "productCode": {
                        "location": "querystring",
                        "locationName": "productCode"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "productCode",
                    "hasSubscription"
                ],
                "members": {
                    "productCode": {},
                    "hasSubscription": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "CreateCaseDraft": {
            "http": {
                "method": "PUT",
                "requestUri": "/caseDraft/{caseType}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseType",
                    "data"
                ],
                "members": {
                    "caseType": {
                        "location": "uri",
                        "locationName": "caseType"
                    },
                    "data": {
                        "jsonvalue": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "CreateContact": {
            "http": {
                "method": "PUT",
                "requestUri": "/contact/{contactType}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "contactType",
                    "data"
                ],
                "members": {
                    "contactType": {
                        "location": "uri",
                        "locationName": "contactType"
                    },
                    "data": {
                        "jsonvalue": true
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "DeleteCaseDraft": {
            "http": {
                "method": "DELETE",
                "requestUri": "/caseDraft/{caseType}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseType",
                    "reason"
                ],
                "members": {
                    "caseType": {
                        "location": "uri",
                        "locationName": "caseType"
                    },
                    "reason": {
                        "location": "querystring",
                        "locationName": "Reason for deleting the case draft"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "DescribeDynamicHelp": {
            "http": {
                "method": "GET",
                "requestUri": "/dynamicHelp",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "service",
                    "locale"
                ],
                "members": {
                    "service": {
                        "location": "querystring",
                        "locationName": "service"
                    },
                    "category": {
                        "location": "querystring",
                        "locationName": "category"
                    },
                    "locale": {
                        "location": "querystring",
                        "locationName": "locale"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "serviceHelpLinks",
                    "categoryHelpLinks",
                    "additionalFields"
                ],
                "members": {
                    "serviceHelpLinks": {
                        "shape": "Sn"
                    },
                    "categoryHelpLinks": {
                        "shape": "Sn"
                    },
                    "descriptionGuidance": {},
                    "additionalFields": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "description": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "EvaluateFeature": {
            "http": {
                "requestUri": "/evaluateFeature",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "featureName",
                    "entityId"
                ],
                "members": {
                    "featureName": {},
                    "entityId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "variation",
                    "value"
                ],
                "members": {
                    "variation": {},
                    "value": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7MDJEQRQOLAXX7FFTHFJGCULANSRU3352SPMBSYQV73MSBSNKA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7MDJEQRQOLAXX7FFTHFJGCULANSRU3352SPMBSYQV73MSBSNKA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FD7MDJEQRQOLAXX7FFTHFJGCULANSRU3352SPMBSYQV73MSBSNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EQQQRAOZEUY4PIX47AJGNEEILWZBWII2ECTSY3CBXUKIPAO3JTQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EQQQRAOZEUY4PIX47AJGNEEILWZBWII2ECTSY3CBXUKIPAO3JTQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EQQQRAOZEUY4PIX47AJGNEEILWZBWII2ECTSY3CBXUKIPAO3JTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTABPGCWHGRUFRWIABP4B2W6IOUZZT6PZ3MN2J2MDKQ57AK6VFYA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTABPGCWHGRUFRWIABP4B2W6IOUZZT6PZ3MN2J2MDKQ57AK6VFYA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTABPGCWHGRUFRWIABP4B2W6IOUZZT6PZ3MN2J2MDKQ57AK6VFYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYPBGQRN3ZWXFGCHMVY2PEBG3EG742IAVNN7Z6HTMRFYFUDO6FUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYPBGQRN3ZWXFGCHMVY2PEBG3EG742IAVNN7Z6HTMRFYFUDO6FUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IYPBGQRN3ZWXFGCHMVY2PEBG3EG742IAVNN7Z6HTMRFYFUDO6FUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNTMGH3XGPT7J7MFIS6HR7Y3PINDSEWRRMIWNRA6QREIG4KCXVSQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNTMGH3XGPT7J7MFIS6HR7Y3PINDSEWRRMIWNRA6QREIG4KCXVSQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNTMGH3XGPT7J7MFIS6HR7Y3PINDSEWRRMIWNRA6QREIG4KCXVSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIDAZSTJO7OS7DUCVWTG3RDIPEPPPJXBUNJZ2PQVDJYFHDMYVRLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIDAZSTJO7OS7DUCVWTG3RDIPEPPPJXBUNJZ2PQVDJYFHDMYVRLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NIDAZSTJO7OS7DUCVWTG3RDIPEPPPJXBUNJZ2PQVDJYFHDMYVRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJD6SQNFBWAHFFSBMOPERIVRHQLAGRBZ2R37C5L2I2BBB3YFDRYA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJD6SQNFBWAHFFSBMOPERIVRHQLAGRBZ2R37C5L2I2BBB3YFDRYA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJD6SQNFBWAHFFSBMOPERIVRHQLAGRBZ2R37C5L2I2BBB3YFDRYA/main.js"
            ]
        },
        "GetAccountGovCloudEnabled": {
            "http": {
                "method": "GET",
                "requestUri": "/account/gc",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "required": [
                    "govCloudEnabled"
                ],
                "members": {
                    "govCloudEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "GetAccountState": {
            "http": {
                "method": "GET",
                "requestUri": "/account/state",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "required": [
                    "state",
                    "reasonCode"
                ],
                "members": {
                    "state": {},
                    "reasonCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "GetBanner": {
            "http": {
                "method": "GET",
                "requestUri": "/banner",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "locale"
                ],
                "members": {
                    "locale": {
                        "location": "querystring",
                        "locationName": "locale"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "banner": {
                        "type": "structure",
                        "required": [
                            "bannerId",
                            "subject",
                            "message",
                            "supportLevels",
                            "language",
                            "includeContactButton"
                        ],
                        "members": {
                            "metadata": {
                                "type": "map",
                                "key": {},
                                "value": {}
                            },
                            "bannerId": {},
                            "subject": {},
                            "message": {},
                            "supportLevels": {
                                "type": "list",
                                "member": {}
                            },
                            "language": {},
                            "includeContactButton": {
                                "type": "boolean"
                            },
                            "caseSubject": {},
                            "queue": {},
                            "eventId": {
                                "type": "long"
                            },
                            "serviceId": {
                                "type": "long"
                            },
                            "categoryId": {
                                "type": "long"
                            },
                            "severity": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "GetBusinessHours": {
            "http": {
                "requestUri": "/businessHours",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "language",
                    "year"
                ],
                "members": {
                    "language": {
                        "location": "querystring",
                        "locationName": "language"
                    },
                    "year": {
                        "location": "querystring",
                        "locationName": "year",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "startTime": {},
                    "endTime": {},
                    "timezone": {},
                    "publicHolidays": {
                        "type": "list",
                        "member": {}
                    },
                    "businessDays": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "GetCaseDraft": {
            "http": {
                "method": "GET",
                "requestUri": "/caseDraft/{caseType}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseType"
                ],
                "members": {
                    "caseType": {
                        "location": "uri",
                        "locationName": "caseType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "caseType",
                    "data",
                    "createTimestamp"
                ],
                "members": {
                    "caseType": {},
                    "data": {
                        "jsonvalue": true
                    },
                    "createTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "GetLiveContactStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/case/{caseId}/status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseId",
                    "type"
                ],
                "members": {
                    "caseId": {
                        "location": "uri",
                        "locationName": "caseId"
                    },
                    "type": {
                        "location": "querystring",
                        "locationName": "type"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "GetQuestionnaire": {
            "http": {
                "method": "GET",
                "requestUri": "/questionnaires/{questionnaireId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "questionnaireId",
                    "language"
                ],
                "members": {
                    "questionnaireId": {
                        "location": "uri",
                        "locationName": "questionnaireId"
                    },
                    "language": {
                        "location": "querystring",
                        "locationName": "language"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "questionnaireId": {},
                    "questions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "questionId": {},
                                "text": {},
                                "type": {},
                                "required": {
                                    "type": "boolean"
                                },
                                "maxLength": {
                                    "type": "integer"
                                },
                                "options": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "optionId": {},
                                            "text": {}
                                        }
                                    }
                                },
                                "defaultOptionId": {},
                                "enableFiltering": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "texts": {
                        "type": "structure",
                        "members": {
                            "pageHeading": {},
                            "pageDescription": {},
                            "questionnairePrefix": {},
                            "submitButton": {},
                            "errorHeader": {},
                            "errorMessage": {},
                            "successHeader": {},
                            "successMessage": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "InitiateCall": {
            "http": {
                "requestUri": "/case/{caseId}/call",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseId",
                    "phoneCountry",
                    "phoneNumber",
                    "sessionId"
                ],
                "members": {
                    "caseId": {
                        "location": "uri",
                        "locationName": "caseId"
                    },
                    "phoneCountry": {},
                    "phoneNumber": {},
                    "phoneExt": {},
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "callRoutingIdentifier",
                    "callRoutingStack",
                    "callToken",
                    "connectIdentifier"
                ],
                "members": {
                    "callRoutingIdentifier": {},
                    "callRoutingStack": {},
                    "callToken": {},
                    "connectIdentifier": {
                        "type": "structure",
                        "required": [
                            "routingStatus"
                        ],
                        "members": {
                            "routingStatus": {}
                        }
                    },
                    "pollDelayMillis": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "InitiateChat": {
            "http": {
                "requestUri": "/case/{caseId}/chat",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseId",
                    "sessionId"
                ],
                "members": {
                    "caseId": {
                        "location": "uri",
                        "locationName": "caseId"
                    },
                    "sessionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "chatLegId",
                    "chatRoutingIdentifier",
                    "chatRoutingStack",
                    "chatToken",
                    "connectIdentifier"
                ],
                "members": {
                    "chatLegId": {},
                    "chatRoutingIdentifier": {},
                    "chatRoutingStack": {},
                    "chatToken": {},
                    "connectIdentifier": {
                        "type": "structure",
                        "required": [
                            "initialContactId",
                            "participantId",
                            "participantToken"
                        ],
                        "members": {
                            "initialContactId": {},
                            "participantId": {},
                            "participantToken": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "ListRecommendationsForCase": {
            "http": {
                "requestUri": "/recommendations/case",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseType",
                    "service"
                ],
                "members": {
                    "caseType": {},
                    "service": {},
                    "category": {},
                    "sessionId": {},
                    "issueId": {},
                    "subject": {
                        "shape": "S1w"
                    },
                    "description": {
                        "shape": "S1w"
                    },
                    "language": {},
                    "supportPlan": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "recommendations"
                ],
                "members": {
                    "requestId": {},
                    "recommendations": {
                        "shape": "S1y"
                    },
                    "solutions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "ids": {
                                    "type": "list",
                                    "member": {}
                                },
                                "indexes": {
                                    "type": "list",
                                    "member": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "ListRecommendationsForSearch": {
            "http": {
                "requestUri": "/recommendations/search",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sessionId",
                    "text"
                ],
                "members": {
                    "sessionId": {},
                    "text": {
                        "shape": "S1w"
                    },
                    "issueId": {},
                    "searchString": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "recommendations"
                ],
                "members": {
                    "recommendations": {
                        "shape": "S1y"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "ListRelatedCases": {
            "http": {
                "method": "GET",
                "requestUri": "/case/{caseId}/relation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseId",
                    "maxResults"
                ],
                "members": {
                    "caseId": {
                        "location": "uri",
                        "locationName": "caseId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "caseId",
                    "relatedCaseIds",
                    "reopenable"
                ],
                "members": {
                    "caseId": {},
                    "relatedCaseIds": {
                        "type": "list",
                        "member": {}
                    },
                    "reopenable": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "RelateCase": {
            "http": {
                "method": "PUT",
                "requestUri": "/case/{caseId}/relation",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseId",
                    "otherCaseId"
                ],
                "members": {
                    "caseId": {
                        "location": "uri",
                        "locationName": "caseId"
                    },
                    "otherCaseId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "SaveFeedback": {
            "http": {
                "requestUri": "/questionnaire/feedback",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "questionnaireId",
                    "eventId",
                    "language",
                    "responses"
                ],
                "members": {
                    "questionnaireId": {},
                    "eventId": {},
                    "language": {},
                    "createTimestamp": {
                        "type": "timestamp"
                    },
                    "responses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "questionId"
                            ],
                            "members": {
                                "questionId": {},
                                "answer": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "eventId",
                    "createTimestamp"
                ],
                "members": {
                    "eventId": {},
                    "createTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/createCase.js"
            ]
        },
        "TranslateCommunication": {
            "http": {
                "requestUri": "/case/{caseId}/communication/translate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "caseId",
                    "communicationId",
                    "targetLanguageCode",
                    "communicationTimestamp"
                ],
                "members": {
                    "caseId": {
                        "location": "uri",
                        "locationName": "caseId"
                    },
                    "communicationId": {},
                    "targetLanguageCode": {},
                    "communicationTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "caseId",
                    "communicationId",
                    "communication"
                ],
                "members": {
                    "caseId": {},
                    "communicationId": {},
                    "communication": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/caseDetails.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/createCase.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/caseDetails.js",
[...]
