{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-08-20",
        "endpointPrefix": "supportapp",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "SupportApp",
        "serviceFullName": "AWS Support App",
        "serviceId": "Support App",
        "signatureVersion": "v4",
        "signingName": "supportapp",
        "uid": "support-app-2021-08-20",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateSlackChannelConfiguration": {
            "http": {
                "requestUri": "/control/create-slack-channel-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelId",
                    "channelRoleArn",
                    "notifyOnCaseSeverity",
                    "teamId"
                ],
                "members": {
                    "channelId": {},
                    "channelName": {},
                    "channelRoleArn": {},
                    "notifyOnAddCorrespondenceToCase": {
                        "type": "boolean"
                    },
                    "notifyOnCaseSeverity": {},
                    "notifyOnCreateOrReopenCase": {
                        "type": "boolean"
                    },
                    "notifyOnResolveCase": {
                        "type": "boolean"
                    },
                    "teamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "DeleteAccountAlias": {
            "http": {
                "requestUri": "/control/delete-account-alias",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "DeleteSlackChannelConfiguration": {
            "http": {
                "requestUri": "/control/delete-slack-channel-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelId",
                    "teamId"
                ],
                "members": {
                    "channelId": {},
                    "teamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "DeleteSlackWorkspaceConfiguration": {
            "http": {
                "requestUri": "/control/delete-slack-workspace-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "teamId"
                ],
                "members": {
                    "teamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "GetAccountAlias": {
            "http": {
                "requestUri": "/control/get-account-alias",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountAlias": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "ListSlackChannelConfigurations": {
            "http": {
                "requestUri": "/control/list-slack-channel-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "slackChannelConfigurations"
                ],
                "members": {
                    "nextToken": {},
                    "slackChannelConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "channelId",
                                "teamId"
                            ],
                            "members": {
                                "channelId": {},
                                "channelName": {},
                                "channelRoleArn": {},
                                "notifyOnAddCorrespondenceToCase": {
                                    "type": "boolean"
                                },
                                "notifyOnCaseSeverity": {},
                                "notifyOnCreateOrReopenCase": {
                                    "type": "boolean"
                                },
                                "notifyOnResolveCase": {
                                    "type": "boolean"
                                },
                                "teamId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "ListSlackWorkspaceConfigurations": {
            "http": {
                "requestUri": "/control/list-slack-workspace-configurations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "slackWorkspaceConfigurations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "teamId"
                            ],
                            "members": {
                                "allowOrganizationMemberAccount": {
                                    "type": "boolean"
                                },
                                "teamId": {},
                                "teamName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "PutAccountAlias": {
            "http": {
                "requestUri": "/control/put-account-alias",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountAlias"
                ],
                "members": {
                    "accountAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "RegisterSlackWorkspaceForOrganization": {
            "http": {
                "requestUri": "/control/register-slack-workspace-for-organization",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "teamId"
                ],
                "members": {
                    "teamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountType": {},
                    "teamId": {},
                    "teamName": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "UpdateSlackChannelConfiguration": {
            "http": {
                "requestUri": "/control/update-slack-channel-configuration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "channelId",
                    "teamId"
                ],
                "members": {
                    "channelId": {},
                    "channelName": {},
                    "channelRoleArn": {},
                    "notifyOnAddCorrespondenceToCase": {
                        "type": "boolean"
                    },
                    "notifyOnCaseSeverity": {},
                    "notifyOnCreateOrReopenCase": {
                        "type": "boolean"
                    },
                    "notifyOnResolveCase": {
                        "type": "boolean"
                    },
                    "teamId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "channelId": {},
                    "channelName": {},
                    "channelRoleArn": {},
                    "notifyOnAddCorrespondenceToCase": {
                        "type": "boolean"
                    },
                    "notifyOnCaseSeverity": {},
                    "notifyOnCreateOrReopenCase": {
                        "type": "boolean"
                    },
                    "notifyOnResolveCase": {
                        "type": "boolean"
                    },
                    "teamId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        }
    },
    "shapes": {}
}