{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2013-06-13",
        "endpointPrefix": "support",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Support API Internal",
        "serviceId": "SupportAPIInternal",
        "signatureVersion": "v4",
        "targetPrefix": "AWSSupport_internal_v1",
        "uid": "supportapiinternal-2013-06-13",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
        ]
    },
    "operations": {
        "AddAttachmentsToSet": {
            "input": {
                "type": "structure",
                "required": [
                    "attachments"
                ],
                "members": {
                    "attachmentSetId": {},
                    "attachments": {
                        "shape": "S3"
                    },
                    "caseId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachmentSetId": {},
                    "expiryTime": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "AddCommunicationToCase": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationBody"
                ],
                "members": {
                    "caseId": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "type": "list",
                        "member": {}
                    },
                    "attachmentSetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "CreateCase": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationBody"
                ],
                "members": {
                    "subject": {},
                    "serviceCode": {},
                    "severityCode": {},
                    "categoryCode": {},
                    "communicationBody": {},
                    "ccEmailAddresses": {
                        "type": "list",
                        "member": {}
                    },
                    "language": {},
                    "issueType": {},
                    "attachments": {
                        "shape": "S3"
                    },
                    "attachmentSetId": {},
                    "serviceLimitIncreaseCase": {
                        "type": "structure",
                        "members": {
                            "contactInfo": {
                                "type": "structure",
                                "members": {
                                    "lastName": {},
                                    "firstName": {},
                                    "companyName": {},
                                    "emailAddress": {},
                                    "phoneNumber": {},
                                    "state": {},
                                    "postalCode": {},
                                    "country": {}
                                }
                            },
                            "limitType": {},
                            "limitFields": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "fieldId": {},
                                        "booleanValue": {
                                            "type": "boolean"
                                        },
                                        "timestampValue": {
                                            "type": "timestamp"
                                        },
                                        "doubleValue": {
                                            "type": "double"
                                        },
                                        "floatValue": {
                                            "type": "float"
                                        },
                                        "integerValue": {
                                            "type": "integer"
                                        },
                                        "longValue": {
                                            "type": "long"
                                        },
                                        "stringValue": {}
                                    }
                                }
                            }
                        }
                    },
                    "serviceLimitIncreaseDetails": {
                        "type": "structure",
                        "members": {
                            "serviceLimitIncreases": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceLimitIncreaseId": {},
                                        "value": {
                                            "type": "integer"
                                        },
                                        "expectedIncreaseStartDateTime": {},
                                        "expectedIncreaseEndDateTime": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "caseId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeAttachment": {
            "input": {
                "type": "structure",
                "required": [
                    "attachmentId"
                ],
                "members": {
                    "attachmentId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachment": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeCaseAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "caseId": {},
                    "namespace": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "namespace": {},
                                "value": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeCases": {
            "input": {
                "type": "structure",
                "members": {
                    "caseIdList": {
                        "type": "list",
                        "member": {}
                    },
                    "displayId": {},
                    "afterTime": {},
                    "beforeTime": {},
                    "includeResolvedCases": {
                        "type": "boolean"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "language": {},
                    "sortOptions": {
                        "type": "structure",
                        "members": {
                            "field": {},
                            "direction": {}
                        }
                    },
                    "includeCommunications": {
                        "type": "boolean"
                    },
                    "attributeSearchFiltersList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "namespace": {},
                                "valueList": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cases": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "caseId": {},
                                "displayId": {},
                                "subject": {},
                                "status": {},
                                "serviceCode": {},
                                "categoryCode": {},
                                "issueType": {},
                                "severityCode": {},
                                "submittedBy": {},
                                "timeCreated": {},
                                "recentCommunications": {
                                    "type": "structure",
                                    "members": {
                                        "communications": {
                                            "shape": "S2c"
                                        },
                                        "nextToken": {}
                                    }
                                },
                                "ccEmailAddresses": {
                                    "type": "list",
                                    "member": {}
                                },
                                "language": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeCommunications": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "beforeTime": {},
                    "afterTime": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "communications": {
                        "shape": "S2c"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeCreateCaseOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "language",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "language": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "languageAvailability": {},
                    "communicationTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "supportedHours": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startTime": {},
                                            "endTime": {}
                                        }
                                    }
                                },
                                "datesWithoutSupport": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "startDateTime": {},
                                            "endDateTime": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeIssueTypes": {
            "input": {
                "type": "structure",
                "members": {
                    "issueTypeList": {
                        "type": "list",
                        "member": {}
                    },
                    "serviceLimitIncreaseOptions": {
                        "type": "structure",
                        "members": {
                            "onlyListServiceCodes": {
                                "type": "boolean"
                            },
                            "filterByServiceCodes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serviceLimitIncreaseDescription": {
                        "type": "structure",
                        "members": {
                            "serviceCodes": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceCode": {},
                                        "serviceName": {}
                                    }
                                }
                            },
                            "serviceLimitIncreases": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "serviceLimitIncreaseId": {},
                                        "categorization": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "type": {},
                                                    "name": {}
                                                }
                                            }
                                        },
                                        "name": {},
                                        "currentValue": {},
                                        "serviceCode": {},
                                        "properties": {
                                            "type": "structure",
                                            "members": {
                                                "timeboundServiceLimitIncrease": {
                                                    "type": "boolean"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeServices": {
            "input": {
                "type": "structure",
                "members": {
                    "serviceCodeList": {
                        "shape": "S3r"
                    },
                    "language": {},
                    "issueType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {},
                                "categories": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "code": {},
                                            "name": {},
                                            "issueType": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeSeverityLevels": {
            "input": {
                "type": "structure",
                "members": {
                    "language": {},
                    "includeAllSeverityLevels": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "severityLevels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "name": {},
                                "maxResponseTimeMinutes": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeSupportLevel": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportLevel": {
                        "type": "structure",
                        "members": {
                            "code": {},
                            "name": {}
                        }
                    },
                    "activeSubscription": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeSupportedLanguages": {
            "input": {
                "type": "structure",
                "required": [
                    "issueType",
                    "serviceCode",
                    "categoryCode"
                ],
                "members": {
                    "issueType": {},
                    "serviceCode": {},
                    "categoryCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportedLanguages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "code": {},
                                "language": {},
                                "display": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeTrustedAdvisorCheckRefreshStatuses": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S4j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "statuses"
                ],
                "members": {
                    "statuses": {
                        "type": "list",
                        "member": {
                            "shape": "S4n"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeTrustedAdvisorCheckResult": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {},
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "checkId",
                            "timestamp",
                            "status",
                            "resourcesSummary",
                            "categorySpecificSummary",
                            "flaggedResources"
                        ],
                        "members": {
                            "checkId": {},
                            "timestamp": {},
                            "status": {},
                            "resourcesSummary": {
                                "shape": "S4s"
                            },
                            "categorySpecificSummary": {
                                "shape": "S4t"
                            },
                            "flaggedResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "status",
                                        "resourceId",
                                        "metadata"
                                    ],
                                    "members": {
                                        "status": {},
                                        "region": {},
                                        "resourceId": {},
                                        "isSuppressed": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "shape": "S4j"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeTrustedAdvisorCheckSummaries": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S4j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "summaries"
                ],
                "members": {
                    "summaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "timestamp",
                                "status",
                                "resourcesSummary",
                                "categorySpecificSummary"
                            ],
                            "members": {
                                "checkId": {},
                                "timestamp": {},
                                "status": {},
                                "hasFlaggedResources": {
                                    "type": "boolean"
                                },
                                "resourcesSummary": {
                                    "shape": "S4s"
                                },
                                "categorySpecificSummary": {
                                    "shape": "S4t"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeTrustedAdvisorChecks": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checks"
                ],
                "members": {
                    "checks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "description",
                                "category",
                                "metadata"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {},
                                "category": {},
                                "metadata": {
                                    "shape": "S4j"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "InitiateCallForCase": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "phoneNumber": {},
                    "timeToCall": {},
                    "sessionId": {},
                    "phoneExtension": {},
                    "phoneCountryCode": {},
                    "clientIp": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "callToken": {},
                    "callRoutingIdentifier": {},
                    "callContextMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "callRoutingStack": {},
                    "callContactConnectIdentifier": {
                        "type": "structure",
                        "members": {
                            "routingStatus": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "InitiateChatForCase": {
            "input": {
                "type": "structure",
                "required": [
                    "caseId"
                ],
                "members": {
                    "caseId": {},
                    "clientIp": {},
                    "sessionId": {},
                    "chatUsername": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "chatToken": {},
                    "chatRoutingIdentifier": {},
                    "chatRoutingStack": {},
                    "chatContactConnectIdentifier": {
                        "type": "structure",
                        "members": {
                            "initialContactId": {},
                            "participantId": {},
                            "participantToken": {}
                        }
                    },
                    "chatLegId": {},
                    "chatProvider": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "PutCaseAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "caseId": {},
                    "namespaceAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "namespace": {},
                                "attributes": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "key": {},
                                            "value": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "success": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO47KIUQGBTKKPYUJOWJP45NJ63IKKBJMVFJETBFZZ6HB65BB72A/0af0b7f9a87aa99529d651916c8bfcc8.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLE4H5RKV7PZ63CENE4SQ3GL7Q62E6JHCC2EWLEH2JQPSXZJWWMA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZKKJCHSXEOA2URTTFDGWOBX3436S4MFKN2KVVRWVHTQOU656HDA/15e0dbd65d45c4fe64709d7b9c62206b.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27CVPBP3CG5NFT6SHFDO2HWPXQLGS7JQW62A77PF3AETPK6PHMA/23f7dd23fbb7a46c3d2f586cd171b28f.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZSZXNP3J2ITOMTW66NJ4UIJUSOURXQ2A7FJ5E4SGNKFIN4ZPXVA/d8af5a3b308060d82b2df58120c280ab.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44LG46RP64FONII57W4SOYUJ4EXTQE6UJFBJ3ULHHD55HMQZCDUA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFURIOS7SFW6TEL2P63BT6COM7O55XZ73SNDX7TTWWN4ZXNHIROA/4e7a3765784c689c8ba88b2bce294d50.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "RateCaseCommunication": {
            "input": {
                "type": "structure",
                "required": [
                    "communicationId",
                    "rating"
                ],
                "members": {
                    "communicationId": {},
                    "caseId": {},
                    "rating": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
[...]
