{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-07-27",
        "endpointPrefix": "supportplans",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Support Plans",
        "serviceId": "SupportPlans",
        "signatureVersion": "v4",
        "signingName": "supportplans",
        "uid": "supportplans-2022-07-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DB3VJWRZGZSJNOR42PDCGMMBMGOY4WNQZWMZUDLI4GCPWXGQVBNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PICILOZFAJPJF2RCZVYPNPSFFEG2MN7XMDTXTBSJY7LH5E26MYUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4EOCWD2KR3P3Z26NETLWTA2OTMYQ57KNEHEXAIX7DUABZPKA2OQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GQHI6QW6HLRU2UVFTB4XSHCJ36KZOQX2XOO6ZBPH3P4TQJHLJATQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGNRNNQTM6QBTVBD2ACPYRSCZLBBP74VIFTWFTA6FJHFPG3GOGQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGK47RC7TYOKWOF6UGZCCXL472G5NYRO47B7RA67VX6BQ5BQDDYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FLACBFB6ONT2L5H5Q7YGOMSPTRAZXSA6LGAKNUTMAELVT2YQEIDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYOV5D33P5UBI2QS4EVR6EFVSHL73EFAUENMUXLIT47IOMPKU5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJ2J54HDIYPRJO6GGYMK7RAO23RM6TP5EIO2AH2H7KY4ZUDBUQ4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFTQARWIKMFEOLYSDDPOQWKRRRTEGC6SLUB4YOWWHPZVO7HBK6DA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDFIDKII5ZUPN2ADS5DS6AACE2VQOETGJKDXWLUGV4VHJUTEO3AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RG4JZXU4BHMCOULZ3CJ3GVLYPRAAAXZFK6NEJ4RHPBO2TQYLEZWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBO5W66IUDSBEUVYI4FKB2W7IPR7U5V6EBJDMICVGJOMU7KAIAEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XL537K3MXL3DMHYPJJ3FO5CA63UIBTBQHUNB6ERPAFSL5MTL7LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCU7LKXKU3LTYADXP6KHWMPI2U4MPKASERN4CASI4ED6JW4YFKZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XMLG2L6DAPYKWALNADJFIUKCFWMPFHX2OMTU6MDQWWSW56BYSDDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGLUZ5PJMMSJA4PBUQNVPPGVQO2SYOKGAALSQLNBMRSRAWFSEEDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SA4P7YDBZWMWBNHRFPFSVVM7X6KQCATRZVFU35VN247M34JTYEGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WF6XW6C6PYSRGFM27KG7LJXGFQ5GU2H242DH3QSQRB2CIL3OZTUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DCJGRC6T73ZOIWB3C3XUXOX2YM4RAQ2CI4SIUC6HKT6MDM7EES6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GLMR6RCSLQJTVEK2TJRJ3RP26MV4H7VX5DWO7EQPS2ICBBR5JTNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DSQFYQLKIUQIJS2GSNKDZIL3B2TE6JR52QAU5M2MGYW7EOBFA4UQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5O43HBD3EW7GQ42IFUO64BJY5OLXOQMNKGN4HEFHATQSZ3ZSGUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPY2US4BL4DUKSENBMFPZOE3FQ4NHAMNRHUFSEEYKJNZXAGU4RXQ/vendors.js"
        ]
    },
    "operations": {
        "CreateSupportPlanSchedule": {
            "http": {
                "requestUri": "/v1/createSupportPlanSchedule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "scheduleCreationDetails"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "scheduleCreationDetails": {
                        "type": "structure",
                        "required": [
                            "startLevel",
                            "startOffer",
                            "startTimestamp"
                        ],
                        "members": {
                            "startLevel": {},
                            "startOffer": {},
                            "startTimestamp": {
                                "shape": "S6"
                            },
                            "endLevel": {},
                            "endOffer": {},
                            "endTimestamp": {
                                "shape": "S6"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportPlanScheduleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PICILOZFAJPJF2RCZVYPNPSFFEG2MN7XMDTXTBSJY7LH5E26MYUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EOCWD2KR3P3Z26NETLWTA2OTMYQ57KNEHEXAIX7DUABZPKA2OQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHI6QW6HLRU2UVFTB4XSHCJ36KZOQX2XOO6ZBPH3P4TQJHLJATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGNRNNQTM6QBTVBD2ACPYRSCZLBBP74VIFTWFTA6FJHFPG3GOGQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGK47RC7TYOKWOF6UGZCCXL472G5NYRO47B7RA67VX6BQ5BQDDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLACBFB6ONT2L5H5Q7YGOMSPTRAZXSA6LGAKNUTMAELVT2YQEIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYOV5D33P5UBI2QS4EVR6EFVSHL73EFAUENMUXLIT47IOMPKU5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJ2J54HDIYPRJO6GGYMK7RAO23RM6TP5EIO2AH2H7KY4ZUDBUQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFTQARWIKMFEOLYSDDPOQWKRRRTEGC6SLUB4YOWWHPZVO7HBK6DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDFIDKII5ZUPN2ADS5DS6AACE2VQOETGJKDXWLUGV4VHJUTEO3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG4JZXU4BHMCOULZ3CJ3GVLYPRAAAXZFK6NEJ4RHPBO2TQYLEZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBO5W66IUDSBEUVYI4FKB2W7IPR7U5V6EBJDMICVGJOMU7KAIAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL537K3MXL3DMHYPJJ3FO5CA63UIBTBQHUNB6ERPAFSL5MTL7LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCU7LKXKU3LTYADXP6KHWMPI2U4MPKASERN4CASI4ED6JW4YFKZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMLG2L6DAPYKWALNADJFIUKCFWMPFHX2OMTU6MDQWWSW56BYSDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGLUZ5PJMMSJA4PBUQNVPPGVQO2SYOKGAALSQLNBMRSRAWFSEEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA4P7YDBZWMWBNHRFPFSVVM7X6KQCATRZVFU35VN247M34JTYEGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WF6XW6C6PYSRGFM27KG7LJXGFQ5GU2H242DH3QSQRB2CIL3OZTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCJGRC6T73ZOIWB3C3XUXOX2YM4RAQ2CI4SIUC6HKT6MDM7EES6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLMR6RCSLQJTVEK2TJRJ3RP26MV4H7VX5DWO7EQPS2ICBBR5JTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSQFYQLKIUQIJS2GSNKDZIL3B2TE6JR52QAU5M2MGYW7EOBFA4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5O43HBD3EW7GQ42IFUO64BJY5OLXOQMNKGN4HEFHATQSZ3ZSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPY2US4BL4DUKSENBMFPZOE3FQ4NHAMNRHUFSEEYKJNZXAGU4RXQ/vendors.js"
            ]
        },
        "DeleteSupportPlanSchedule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/deleteSupportPlanSchedule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "supportPlanScheduleArn"
                ],
                "members": {
                    "supportPlanScheduleArn": {
                        "location": "querystring",
                        "locationName": "supportPlanScheduleArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PICILOZFAJPJF2RCZVYPNPSFFEG2MN7XMDTXTBSJY7LH5E26MYUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EOCWD2KR3P3Z26NETLWTA2OTMYQ57KNEHEXAIX7DUABZPKA2OQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHI6QW6HLRU2UVFTB4XSHCJ36KZOQX2XOO6ZBPH3P4TQJHLJATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGNRNNQTM6QBTVBD2ACPYRSCZLBBP74VIFTWFTA6FJHFPG3GOGQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGK47RC7TYOKWOF6UGZCCXL472G5NYRO47B7RA67VX6BQ5BQDDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLACBFB6ONT2L5H5Q7YGOMSPTRAZXSA6LGAKNUTMAELVT2YQEIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYOV5D33P5UBI2QS4EVR6EFVSHL73EFAUENMUXLIT47IOMPKU5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJ2J54HDIYPRJO6GGYMK7RAO23RM6TP5EIO2AH2H7KY4ZUDBUQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFTQARWIKMFEOLYSDDPOQWKRRRTEGC6SLUB4YOWWHPZVO7HBK6DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDFIDKII5ZUPN2ADS5DS6AACE2VQOETGJKDXWLUGV4VHJUTEO3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG4JZXU4BHMCOULZ3CJ3GVLYPRAAAXZFK6NEJ4RHPBO2TQYLEZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBO5W66IUDSBEUVYI4FKB2W7IPR7U5V6EBJDMICVGJOMU7KAIAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL537K3MXL3DMHYPJJ3FO5CA63UIBTBQHUNB6ERPAFSL5MTL7LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCU7LKXKU3LTYADXP6KHWMPI2U4MPKASERN4CASI4ED6JW4YFKZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMLG2L6DAPYKWALNADJFIUKCFWMPFHX2OMTU6MDQWWSW56BYSDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGLUZ5PJMMSJA4PBUQNVPPGVQO2SYOKGAALSQLNBMRSRAWFSEEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA4P7YDBZWMWBNHRFPFSVVM7X6KQCATRZVFU35VN247M34JTYEGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WF6XW6C6PYSRGFM27KG7LJXGFQ5GU2H242DH3QSQRB2CIL3OZTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCJGRC6T73ZOIWB3C3XUXOX2YM4RAQ2CI4SIUC6HKT6MDM7EES6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLMR6RCSLQJTVEK2TJRJ3RP26MV4H7VX5DWO7EQPS2ICBBR5JTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSQFYQLKIUQIJS2GSNKDZIL3B2TE6JR52QAU5M2MGYW7EOBFA4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5O43HBD3EW7GQ42IFUO64BJY5OLXOQMNKGN4HEFHATQSZ3ZSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPY2US4BL4DUKSENBMFPZOE3FQ4NHAMNRHUFSEEYKJNZXAGU4RXQ/vendors.js"
            ]
        },
        "GetSupportPlan": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/getSupportPlan",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportPlan": {
                        "type": "structure",
                        "members": {
                            "supportLevel": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PICILOZFAJPJF2RCZVYPNPSFFEG2MN7XMDTXTBSJY7LH5E26MYUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EOCWD2KR3P3Z26NETLWTA2OTMYQ57KNEHEXAIX7DUABZPKA2OQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHI6QW6HLRU2UVFTB4XSHCJ36KZOQX2XOO6ZBPH3P4TQJHLJATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGNRNNQTM6QBTVBD2ACPYRSCZLBBP74VIFTWFTA6FJHFPG3GOGQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGK47RC7TYOKWOF6UGZCCXL472G5NYRO47B7RA67VX6BQ5BQDDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLACBFB6ONT2L5H5Q7YGOMSPTRAZXSA6LGAKNUTMAELVT2YQEIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYOV5D33P5UBI2QS4EVR6EFVSHL73EFAUENMUXLIT47IOMPKU5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJ2J54HDIYPRJO6GGYMK7RAO23RM6TP5EIO2AH2H7KY4ZUDBUQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFTQARWIKMFEOLYSDDPOQWKRRRTEGC6SLUB4YOWWHPZVO7HBK6DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDFIDKII5ZUPN2ADS5DS6AACE2VQOETGJKDXWLUGV4VHJUTEO3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG4JZXU4BHMCOULZ3CJ3GVLYPRAAAXZFK6NEJ4RHPBO2TQYLEZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBO5W66IUDSBEUVYI4FKB2W7IPR7U5V6EBJDMICVGJOMU7KAIAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL537K3MXL3DMHYPJJ3FO5CA63UIBTBQHUNB6ERPAFSL5MTL7LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCU7LKXKU3LTYADXP6KHWMPI2U4MPKASERN4CASI4ED6JW4YFKZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMLG2L6DAPYKWALNADJFIUKCFWMPFHX2OMTU6MDQWWSW56BYSDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGLUZ5PJMMSJA4PBUQNVPPGVQO2SYOKGAALSQLNBMRSRAWFSEEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA4P7YDBZWMWBNHRFPFSVVM7X6KQCATRZVFU35VN247M34JTYEGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WF6XW6C6PYSRGFM27KG7LJXGFQ5GU2H242DH3QSQRB2CIL3OZTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCJGRC6T73ZOIWB3C3XUXOX2YM4RAQ2CI4SIUC6HKT6MDM7EES6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLMR6RCSLQJTVEK2TJRJ3RP26MV4H7VX5DWO7EQPS2ICBBR5JTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSQFYQLKIUQIJS2GSNKDZIL3B2TE6JR52QAU5M2MGYW7EOBFA4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5O43HBD3EW7GQ42IFUO64BJY5OLXOQMNKGN4HEFHATQSZ3ZSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPY2US4BL4DUKSENBMFPZOE3FQ4NHAMNRHUFSEEYKJNZXAGU4RXQ/vendors.js"
            ]
        },
        "GetSupportPlanUpdateStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/getSupportPlanUpdateStatus",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "supportPlanUpdateArn"
                ],
                "members": {
                    "supportPlanUpdateArn": {
                        "location": "querystring",
                        "locationName": "supportPlanUpdateArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "supportPlanUpdateArn": {},
                    "failureDetailsList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PICILOZFAJPJF2RCZVYPNPSFFEG2MN7XMDTXTBSJY7LH5E26MYUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EOCWD2KR3P3Z26NETLWTA2OTMYQ57KNEHEXAIX7DUABZPKA2OQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHI6QW6HLRU2UVFTB4XSHCJ36KZOQX2XOO6ZBPH3P4TQJHLJATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGNRNNQTM6QBTVBD2ACPYRSCZLBBP74VIFTWFTA6FJHFPG3GOGQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGK47RC7TYOKWOF6UGZCCXL472G5NYRO47B7RA67VX6BQ5BQDDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLACBFB6ONT2L5H5Q7YGOMSPTRAZXSA6LGAKNUTMAELVT2YQEIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYOV5D33P5UBI2QS4EVR6EFVSHL73EFAUENMUXLIT47IOMPKU5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJ2J54HDIYPRJO6GGYMK7RAO23RM6TP5EIO2AH2H7KY4ZUDBUQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFTQARWIKMFEOLYSDDPOQWKRRRTEGC6SLUB4YOWWHPZVO7HBK6DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDFIDKII5ZUPN2ADS5DS6AACE2VQOETGJKDXWLUGV4VHJUTEO3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG4JZXU4BHMCOULZ3CJ3GVLYPRAAAXZFK6NEJ4RHPBO2TQYLEZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBO5W66IUDSBEUVYI4FKB2W7IPR7U5V6EBJDMICVGJOMU7KAIAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL537K3MXL3DMHYPJJ3FO5CA63UIBTBQHUNB6ERPAFSL5MTL7LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCU7LKXKU3LTYADXP6KHWMPI2U4MPKASERN4CASI4ED6JW4YFKZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMLG2L6DAPYKWALNADJFIUKCFWMPFHX2OMTU6MDQWWSW56BYSDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGLUZ5PJMMSJA4PBUQNVPPGVQO2SYOKGAALSQLNBMRSRAWFSEEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA4P7YDBZWMWBNHRFPFSVVM7X6KQCATRZVFU35VN247M34JTYEGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WF6XW6C6PYSRGFM27KG7LJXGFQ5GU2H242DH3QSQRB2CIL3OZTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCJGRC6T73ZOIWB3C3XUXOX2YM4RAQ2CI4SIUC6HKT6MDM7EES6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLMR6RCSLQJTVEK2TJRJ3RP26MV4H7VX5DWO7EQPS2ICBBR5JTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSQFYQLKIUQIJS2GSNKDZIL3B2TE6JR52QAU5M2MGYW7EOBFA4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5O43HBD3EW7GQ42IFUO64BJY5OLXOQMNKGN4HEFHATQSZ3ZSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPY2US4BL4DUKSENBMFPZOE3FQ4NHAMNRHUFSEEYKJNZXAGU4RXQ/vendors.js"
            ]
        },
        "StartSupportPlanUpdate": {
            "http": {
                "requestUri": "/v1/startSupportPlanUpdate",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clientToken",
                    "update"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "update": {
                        "type": "structure",
                        "required": [
                            "supportLevel"
                        ],
                        "members": {
                            "supportLevel": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "supportPlanUpdateArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PICILOZFAJPJF2RCZVYPNPSFFEG2MN7XMDTXTBSJY7LH5E26MYUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EOCWD2KR3P3Z26NETLWTA2OTMYQ57KNEHEXAIX7DUABZPKA2OQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHI6QW6HLRU2UVFTB4XSHCJ36KZOQX2XOO6ZBPH3P4TQJHLJATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGNRNNQTM6QBTVBD2ACPYRSCZLBBP74VIFTWFTA6FJHFPG3GOGQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGK47RC7TYOKWOF6UGZCCXL472G5NYRO47B7RA67VX6BQ5BQDDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLACBFB6ONT2L5H5Q7YGOMSPTRAZXSA6LGAKNUTMAELVT2YQEIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYOV5D33P5UBI2QS4EVR6EFVSHL73EFAUENMUXLIT47IOMPKU5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJ2J54HDIYPRJO6GGYMK7RAO23RM6TP5EIO2AH2H7KY4ZUDBUQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFTQARWIKMFEOLYSDDPOQWKRRRTEGC6SLUB4YOWWHPZVO7HBK6DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDFIDKII5ZUPN2ADS5DS6AACE2VQOETGJKDXWLUGV4VHJUTEO3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG4JZXU4BHMCOULZ3CJ3GVLYPRAAAXZFK6NEJ4RHPBO2TQYLEZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBO5W66IUDSBEUVYI4FKB2W7IPR7U5V6EBJDMICVGJOMU7KAIAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL537K3MXL3DMHYPJJ3FO5CA63UIBTBQHUNB6ERPAFSL5MTL7LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCU7LKXKU3LTYADXP6KHWMPI2U4MPKASERN4CASI4ED6JW4YFKZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMLG2L6DAPYKWALNADJFIUKCFWMPFHX2OMTU6MDQWWSW56BYSDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGLUZ5PJMMSJA4PBUQNVPPGVQO2SYOKGAALSQLNBMRSRAWFSEEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA4P7YDBZWMWBNHRFPFSVVM7X6KQCATRZVFU35VN247M34JTYEGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WF6XW6C6PYSRGFM27KG7LJXGFQ5GU2H242DH3QSQRB2CIL3OZTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCJGRC6T73ZOIWB3C3XUXOX2YM4RAQ2CI4SIUC6HKT6MDM7EES6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLMR6RCSLQJTVEK2TJRJ3RP26MV4H7VX5DWO7EQPS2ICBBR5JTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSQFYQLKIUQIJS2GSNKDZIL3B2TE6JR52QAU5M2MGYW7EOBFA4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5O43HBD3EW7GQ42IFUO64BJY5OLXOQMNKGN4HEFHATQSZ3ZSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPY2US4BL4DUKSENBMFPZOE3FQ4NHAMNRHUFSEEYKJNZXAGU4RXQ/vendors.js"
            ]
        },
        "GetSupportPlanSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/getSupportPlanSchedule",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "supportPlanScheduleArn"
                ],
                "members": {
                    "supportPlanScheduleArn": {
                        "location": "querystring",
                        "locationName": "supportPlanScheduleArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "scheduleDetails": {
                        "type": "structure",
                        "required": [
                            "supportPlanScheduleArn",
                            "startLevel",
                            "startOffer",
                            "startTimestamp",
                            "state"
                        ],
                        "members": {
                            "supportPlanScheduleArn": {},
                            "startLevel": {},
                            "startOffer": {},
                            "startTimestamp": {
                                "shape": "S6"
                            },
                            "endLevel": {},
                            "endOffer": {},
                            "endTimestamp": {
                                "shape": "S6"
                            },
                            "state": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHI6QW6HLRU2UVFTB4XSHCJ36KZOQX2XOO6ZBPH3P4TQJHLJATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGNRNNQTM6QBTVBD2ACPYRSCZLBBP74VIFTWFTA6FJHFPG3GOGQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGK47RC7TYOKWOF6UGZCCXL472G5NYRO47B7RA67VX6BQ5BQDDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLACBFB6ONT2L5H5Q7YGOMSPTRAZXSA6LGAKNUTMAELVT2YQEIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYOV5D33P5UBI2QS4EVR6EFVSHL73EFAUENMUXLIT47IOMPKU5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJ2J54HDIYPRJO6GGYMK7RAO23RM6TP5EIO2AH2H7KY4ZUDBUQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFTQARWIKMFEOLYSDDPOQWKRRRTEGC6SLUB4YOWWHPZVO7HBK6DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDFIDKII5ZUPN2ADS5DS6AACE2VQOETGJKDXWLUGV4VHJUTEO3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG4JZXU4BHMCOULZ3CJ3GVLYPRAAAXZFK6NEJ4RHPBO2TQYLEZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBO5W66IUDSBEUVYI4FKB2W7IPR7U5V6EBJDMICVGJOMU7KAIAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL537K3MXL3DMHYPJJ3FO5CA63UIBTBQHUNB6ERPAFSL5MTL7LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCU7LKXKU3LTYADXP6KHWMPI2U4MPKASERN4CASI4ED6JW4YFKZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMLG2L6DAPYKWALNADJFIUKCFWMPFHX2OMTU6MDQWWSW56BYSDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGLUZ5PJMMSJA4PBUQNVPPGVQO2SYOKGAALSQLNBMRSRAWFSEEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA4P7YDBZWMWBNHRFPFSVVM7X6KQCATRZVFU35VN247M34JTYEGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WF6XW6C6PYSRGFM27KG7LJXGFQ5GU2H242DH3QSQRB2CIL3OZTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCJGRC6T73ZOIWB3C3XUXOX2YM4RAQ2CI4SIUC6HKT6MDM7EES6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLMR6RCSLQJTVEK2TJRJ3RP26MV4H7VX5DWO7EQPS2ICBBR5JTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSQFYQLKIUQIJS2GSNKDZIL3B2TE6JR52QAU5M2MGYW7EOBFA4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5O43HBD3EW7GQ42IFUO64BJY5OLXOQMNKGN4HEFHATQSZ3ZSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPY2US4BL4DUKSENBMFPZOE3FQ4NHAMNRHUFSEEYKJNZXAGU4RXQ/vendors.js"
            ]
        },
        "ListSupportPlanSchedules": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/listSupportPlanSchedules",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "pageSize": {
                        "location": "querystring",
                        "locationName": "pageSize",
                        "type": "integer"
                    },
                    "states": {
                        "location": "querystring",
                        "locationName": "states",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "scheduleList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "supportPlanScheduleArn": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQHI6QW6HLRU2UVFTB4XSHCJ36KZOQX2XOO6ZBPH3P4TQJHLJATQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGNRNNQTM6QBTVBD2ACPYRSCZLBBP74VIFTWFTA6FJHFPG3GOGQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGK47RC7TYOKWOF6UGZCCXL472G5NYRO47B7RA67VX6BQ5BQDDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLACBFB6ONT2L5H5Q7YGOMSPTRAZXSA6LGAKNUTMAELVT2YQEIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYOV5D33P5UBI2QS4EVR6EFVSHL73EFAUENMUXLIT47IOMPKU5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJ2J54HDIYPRJO6GGYMK7RAO23RM6TP5EIO2AH2H7KY4ZUDBUQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFTQARWIKMFEOLYSDDPOQWKRRRTEGC6SLUB4YOWWHPZVO7HBK6DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDFIDKII5ZUPN2ADS5DS6AACE2VQOETGJKDXWLUGV4VHJUTEO3AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG4JZXU4BHMCOULZ3CJ3GVLYPRAAAXZFK6NEJ4RHPBO2TQYLEZWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBO5W66IUDSBEUVYI4FKB2W7IPR7U5V6EBJDMICVGJOMU7KAIAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XL537K3MXL3DMHYPJJ3FO5CA63UIBTBQHUNB6ERPAFSL5MTL7LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCU7LKXKU3LTYADXP6KHWMPI2U4MPKASERN4CASI4ED6JW4YFKZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMLG2L6DAPYKWALNADJFIUKCFWMPFHX2OMTU6MDQWWSW56BYSDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPMVMIPIZEQCT4TR5HPUINKC2XKWGTCVKUH26C6RIF3GCLKGEEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGLUZ5PJMMSJA4PBUQNVPPGVQO2SYOKGAALSQLNBMRSRAWFSEEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SA4P7YDBZWMWBNHRFPFSVVM7X6KQCATRZVFU35VN247M34JTYEGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WF6XW6C6PYSRGFM27KG7LJXGFQ5GU2H242DH3QSQRB2CIL3OZTUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DCJGRC6T73ZOIWB3C3XUXOX2YM4RAQ2CI4SIUC6HKT6MDM7EES6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLMR6RCSLQJTVEK2TJRJ3RP26MV4H7VX5DWO7EQPS2ICBBR5JTNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSQFYQLKIUQIJS2GSNKDZIL3B2TE6JR52QAU5M2MGYW7EOBFA4UQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5O43HBD3EW7GQ42IFUO64BJY5OLXOQMNKGN4HEFHATQSZ3ZSGUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPY2US4BL4DUKSENBMFPZOE3FQ4NHAMNRHUFSEEYKJNZXAGU4RXQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S6": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}