{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-01",
        "endpointPrefix": "ssoup",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "SUPRest",
        "serviceFullName": "AWS Single Sign-On Native Directory",
        "targetPrefix": "SWBUPRestService",
        "uid": "SUPREST-2018-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTHRVGXXVG6HW32WNHKOK4NPMWNVR3Y74KIKJDP5NYGJHVDG5QKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VU2T6BMIBVSN5L37W25C7NRZTJ2XJAWLH6FFHKXONYOIR5QYSDDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XISVCXOY46OC73NPITLDC5QE7P7CUWTV3KSEAUNWLWCNFMRP7WRQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W54V4ES6N7Y5EGXX2U444NEIQ3OBKRLJU5RHJHYP4SKUORAX4OUQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
        ]
    },
    "operations": {
        "ValidateToken": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "allow_origin_header"
                ],
                "members": {
                    "allow_origin_header": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2T6BMIBVSN5L37W25C7NRZTJ2XJAWLH6FFHKXONYOIR5QYSDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XISVCXOY46OC73NPITLDC5QE7P7CUWTV3KSEAUNWLWCNFMRP7WRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W54V4ES6N7Y5EGXX2U444NEIQ3OBKRLJU5RHJHYP4SKUORAX4OUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        },
        "ValidateTokenOptionsMethod": {
            "output": {
                "type": "structure",
                "required": [
                    "allow_origin_header",
                    "allow_headers"
                ],
                "members": {
                    "allow_origin_header": {},
                    "allow_headers": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VU2T6BMIBVSN5L37W25C7NRZTJ2XJAWLH6FFHKXONYOIR5QYSDDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XISVCXOY46OC73NPITLDC5QE7P7CUWTV3KSEAUNWLWCNFMRP7WRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/52T2KAB7MY7Z6OXWVOULW2RORCMSL3EQXNS43YP3QR7LENLASLPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W54V4ES6N7Y5EGXX2U444NEIQ3OBKRLJU5RHJHYP4SKUORAX4OUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JT7CQYGMFUYFALOVGDK4UP23XHEDSRL6VJA7ZFHEAXRU7CB3GECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N6MGM4SLDUH7YKLTBEKHSSW6YKZNXKR4DJQFIKXPLW26UBAYWMXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6TRY7632QPMDXWHL4D54WVR5XCKFLEVJ3LZIJ6655YAERYX2C5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EKOOFAKJNS7GAVMWVQLO7YN6JS32F3R6U2EV3G4QRRV2PTFZ5NVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TLW5NQSHMCSFFI5FLISNVCTHBEML3XWSDXOASK7JZ4VOBAIBL6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D5MUNDK2CF5WN6IM5NYVEELCOFJHIX6EXWSGGN5BYXEAAOBMBYRQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T5DAPIMRNNNGKDM475ZS6FA2ZSLRLWPWSJ5HPO7DFTSXS3FX2IYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBWYZTQDLDTDYWW4VHIUJNONPXEKM4MFIEFWOUOH56ZIUVVYBZKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7L6YJORZDK75KNLOONDAMIERUJ2VL7BINC24WWN5A5YPT6QT45A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPA4I5VEVRIDGL4XMFYUX2KD7OBFGW34XZCYJAN7O4D6B7UHJNNA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GO4I5BUTG7SUZH7OJP733UVSEMYHT74Y6JN5I5BU7PESI7FIJPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UP4QDV4CB6XWKHLFMR2V7FZVVDZQ4RVMWYJ53INIT4TOVXUNVEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTREQXDUNB25AGYSBAAIR5LD66FKJTKHWHW35NHZ7SONUKHXPGLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZ7AC7D5EP43Q256HF73ZHGPVDBQAXWVMJR6EJARXYU5XBG275SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MGTZQMWJODY7I63PWJAAWMVBFJYEEZLDJRQPBNEGCUQWWJ5M4KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWF467WXQZ7AADVUQL44YIQUSWWZEGMFBR2JZYBZQAEY5SG22MXA/main.js"
            ]
        }
    },
    "shapes": {}
}