{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-01",
        "endpointPrefix": "ssoup",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "SUPRest",
        "serviceFullName": "AWS Single Sign-On Native Directory",
        "targetPrefix": "SWBUPRestService",
        "uid": "SUPREST-2018-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSHP2LK45QLPQKCJCBIYCAKAP2OCN5VITXFKYLR2PFPDONYCUQAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJWOMMUACZ4TAF3ERA3AYPZR57WWDQBLYUG2LPDMYCYXHJHYY2WA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QECHWME436UCS3GVJCIBUXYAGAQ35H3O2J63P6VDPHZOTLWT7B7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WUYXA6Y5UDWJBCV5JN3B5FILWII5XORN7RLFTWDXEX7TMJR7TO5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5E7MYQ2DJJLBQVDR5DHZIPQFEBPIASJPLS7H5KKEEJGRJ7TNJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3RRAFG4DM7IJKAN5N7U5PUJ2KTOOQO7G6CVDS23MBWCX4XRSTLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZ6U3JQHU5URIP54U7WNMZSPP5T7IBQWL7DY5A5ST4D6O7Y7JNZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2JNE5WM2RYMZG6J3QWOPTB3TDZJMMWYTUGRHBLBOYLHYQHKRXMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77KTB3A2CEB3HLBUVAVYWTWBUJ5AD4D5V2CMD7IHQY36Y5QOBSLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T5ONH7YOFJMMHWUMFZMMQCI7H7A5Z2R63TYZ54IVBOSFUUEXJD5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BZNCTXUM7DNSRMWSVE5N4LHAABVZEHRVZQ4W4UOFBIDUIVXH2NVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPTH325JUEWIG2P25G32Z7NDYTJOGMP2SPMQD4TXC6DDZ5PZ35TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2BFJIV2VEQL3FIIIZYHWD3A5MUM4XMY6TIZ4OW56AK5MBR4LUKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKUCFX4N2SKZII7JN2AFNYB4ILTO2GWLZZPQLMKO62HIYKTMHR5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYXFPOJ4IU4ZQMNQTBDW6MZOOT2DT56TC23YEV2RKFOAS3QDWEQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BU2ODFD5XTBS7BV5DLHJYCHK7VF56LQYGHFZL4YRP62O6IIPUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EZVJ4ZJKB5AK4Q3JIIPCJBEPNJOOCLRARKD23BHQIN3WMEJCICDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GFTNDRRPK7RVSRI7NCKLA2BZXHJNB6ZYBDOH35NYHUHJ34INO2VQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BPEMTO3OMSOB3S5QTRQ6RGPLGAZKIG6P6DLH6XE2YUUMFXFPL3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LYPWFJ6LVWCCLUXQNLFDXAXQ53N7JY66FALFSJSMTCIUZ3BFSQNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BKLZ5SQ73WE54M6YVJSNFPPO6R2DP6LXJ5MPYEUNZYLYDM5XYKXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3B4LLSP3HMD6FIY2LVJGTGHLZ2ECEM35WEBKLVLMGPKCAT3LCI6A/main.js"
        ]
    },
    "operations": {
        "ValidateToken": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "allow_origin_header"
                ],
                "members": {
                    "allow_origin_header": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWOMMUACZ4TAF3ERA3AYPZR57WWDQBLYUG2LPDMYCYXHJHYY2WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QECHWME436UCS3GVJCIBUXYAGAQ35H3O2J63P6VDPHZOTLWT7B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYXA6Y5UDWJBCV5JN3B5FILWII5XORN7RLFTWDXEX7TMJR7TO5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5E7MYQ2DJJLBQVDR5DHZIPQFEBPIASJPLS7H5KKEEJGRJ7TNJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3RRAFG4DM7IJKAN5N7U5PUJ2KTOOQO7G6CVDS23MBWCX4XRSTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ6U3JQHU5URIP54U7WNMZSPP5T7IBQWL7DY5A5ST4D6O7Y7JNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2JNE5WM2RYMZG6J3QWOPTB3TDZJMMWYTUGRHBLBOYLHYQHKRXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77KTB3A2CEB3HLBUVAVYWTWBUJ5AD4D5V2CMD7IHQY36Y5QOBSLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5ONH7YOFJMMHWUMFZMMQCI7H7A5Z2R63TYZ54IVBOSFUUEXJD5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZNCTXUM7DNSRMWSVE5N4LHAABVZEHRVZQ4W4UOFBIDUIVXH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPTH325JUEWIG2P25G32Z7NDYTJOGMP2SPMQD4TXC6DDZ5PZ35TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2BFJIV2VEQL3FIIIZYHWD3A5MUM4XMY6TIZ4OW56AK5MBR4LUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKUCFX4N2SKZII7JN2AFNYB4ILTO2GWLZZPQLMKO62HIYKTMHR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYXFPOJ4IU4ZQMNQTBDW6MZOOT2DT56TC23YEV2RKFOAS3QDWEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU2ODFD5XTBS7BV5DLHJYCHK7VF56LQYGHFZL4YRP62O6IIPUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZVJ4ZJKB5AK4Q3JIIPCJBEPNJOOCLRARKD23BHQIN3WMEJCICDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFTNDRRPK7RVSRI7NCKLA2BZXHJNB6ZYBDOH35NYHUHJ34INO2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BPEMTO3OMSOB3S5QTRQ6RGPLGAZKIG6P6DLH6XE2YUUMFXFPL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYPWFJ6LVWCCLUXQNLFDXAXQ53N7JY66FALFSJSMTCIUZ3BFSQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKLZ5SQ73WE54M6YVJSNFPPO6R2DP6LXJ5MPYEUNZYLYDM5XYKXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B4LLSP3HMD6FIY2LVJGTGHLZ2ECEM35WEBKLVLMGPKCAT3LCI6A/main.js"
            ]
        },
        "ValidateTokenOptionsMethod": {
            "output": {
                "type": "structure",
                "required": [
                    "allow_origin_header",
                    "allow_headers"
                ],
                "members": {
                    "allow_origin_header": {},
                    "allow_headers": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPMSPNAGDHP4CX73S6DEGXI6ZM4VNEZB7AVJVIN3FNGUXTXTMDTA/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJWOMMUACZ4TAF3ERA3AYPZR57WWDQBLYUG2LPDMYCYXHJHYY2WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QECHWME436UCS3GVJCIBUXYAGAQ35H3O2J63P6VDPHZOTLWT7B7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYXA6Y5UDWJBCV5JN3B5FILWII5XORN7RLFTWDXEX7TMJR7TO5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5E7MYQ2DJJLBQVDR5DHZIPQFEBPIASJPLS7H5KKEEJGRJ7TNJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3RRAFG4DM7IJKAN5N7U5PUJ2KTOOQO7G6CVDS23MBWCX4XRSTLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZ6U3JQHU5URIP54U7WNMZSPP5T7IBQWL7DY5A5ST4D6O7Y7JNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XCFEQCDMNY577R4KBV2CG6XXY63UQI7JE43TX5DUGN6CKZ7GULQ/vendors-44cf278e.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2JNE5WM2RYMZG6J3QWOPTB3TDZJMMWYTUGRHBLBOYLHYQHKRXMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77KTB3A2CEB3HLBUVAVYWTWBUJ5AD4D5V2CMD7IHQY36Y5QOBSLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5ONH7YOFJMMHWUMFZMMQCI7H7A5Z2R63TYZ54IVBOSFUUEXJD5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZNCTXUM7DNSRMWSVE5N4LHAABVZEHRVZQ4W4UOFBIDUIVXH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPTH325JUEWIG2P25G32Z7NDYTJOGMP2SPMQD4TXC6DDZ5PZ35TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2BFJIV2VEQL3FIIIZYHWD3A5MUM4XMY6TIZ4OW56AK5MBR4LUKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKUCFX4N2SKZII7JN2AFNYB4ILTO2GWLZZPQLMKO62HIYKTMHR5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYXFPOJ4IU4ZQMNQTBDW6MZOOT2DT56TC23YEV2RKFOAS3QDWEQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM3P3HQX7CCRM5XIWCAHT7U255I5CQIO3RY5RJOV3HXLQHIYIAZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BU2ODFD5XTBS7BV5DLHJYCHK7VF56LQYGHFZL4YRP62O6IIPUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZVJ4ZJKB5AK4Q3JIIPCJBEPNJOOCLRARKD23BHQIN3WMEJCICDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GFTNDRRPK7RVSRI7NCKLA2BZXHJNB6ZYBDOH35NYHUHJ34INO2VQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BPEMTO3OMSOB3S5QTRQ6RGPLGAZKIG6P6DLH6XE2YUUMFXFPL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYPWFJ6LVWCCLUXQNLFDXAXQ53N7JY66FALFSJSMTCIUZ3BFSQNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKLZ5SQ73WE54M6YVJSNFPPO6R2DP6LXJ5MPYEUNZYLYDM5XYKXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3B4LLSP3HMD6FIY2LVJGTGHLZ2ECEM35WEBKLVLMGPKCAT3LCI6A/main.js"
            ]
        }
    },
    "shapes": {}
}