{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-01",
        "endpointPrefix": "ssoup",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "SUPRest",
        "serviceFullName": "AWS Single Sign-On Native Directory",
        "targetPrefix": "SWBUPRestService",
        "uid": "SUPREST-2018-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYGX4WZ3DJUPWWA625GYMYUYX46ISGMRE2CQKYWEIVEQXTZMNI5Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SV6RSRZXPVY26LZSET6DSRUWU6HHLZPDMAG75P6FOUPUFVYAYWJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
        ]
    },
    "operations": {
        "ValidateToken": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "allow_origin_header"
                ],
                "members": {
                    "allow_origin_header": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "ValidateTokenOptionsMethod": {
            "output": {
                "type": "structure",
                "required": [
                    "allow_origin_header",
                    "allow_headers"
                ],
                "members": {
                    "allow_origin_header": {},
                    "allow_headers": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROCDQFR7IUT5BVKB6TXG74ZPV6ZBJHMRDCNQ7TU5ER2ZOSGKDARA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEPA55FADUF4MAWFLVEHXJATE5TXZ33SUMZXIMKREOQU2UTAYHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI5PW4NHGZAWAE63UD6JAXYO334EMKWU6K5ZOHE53PU3KLRBM3NQ/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67N7E4KXTI4RH3F3EQYFYF22QQYSXNW3RL62PKCFHZ62IJRHSP4A/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLX4TA6KPPARLO5QLXDLMFKC6LZSN45636PCSENV2S24MMRGGLHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DX6RFLKW26S2GVTRJA5NBN3C7LUAPGEYRJQR4BG6JBFV7WDRD77A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IQM7FAGBQHN5DPQKXY5JL63Q5HH3E2UPMXNBQESKRPS4RBAYX2DA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2HPCNOW2HQPIB2YUMGEJASDZWCAJANWUFEKLZZYAD3GWLB427Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIWIHRWAEJZB6TPDICL7FQCFFQQZQG7LHF3TXKMY5WYXTK42RMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3A7GW4ZYMRMS52VGGFNEEFAREOD5OY33YA4HVZOQNNMHZUIS6ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYJEBKBKD2B6YOAV3EMTGPC3QKBPJU5RTIZESIMTRBAN7JTFL7QA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QX56JJSH3ABSLUDLUCRWRFZTRLMLJDY4DMMZSWGKF632VU5WPAQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AGM7UDKE6DDM3TR4IUKWDU4CJUAE4WPOK72X5AW45D7L5UVY4JAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O73F6PWGDFICVUNLYORQU7N7GEKKOVYTENQJVWPPQPTL7OYYTNXQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRHPBURDF5LORGOVXRRJ7EOW6DJ5MCJEPUUNYKLI6EMARKMF2BFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEZYAXBRALYKM2EREPQ32WDB3S6C2UTRADL2I5HRIP7K6W3ZTDVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        }
    },
    "shapes": {}
}