{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-01",
        "endpointPrefix": "ssoup",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "SUPRest",
        "serviceFullName": "AWS Single Sign-On Native Directory",
        "targetPrefix": "SWBUPRestService",
        "uid": "SUPREST-2018-11-01",
        "download_location": [
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713481991267/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
            "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
        ]
    },
    "operations": {
        "ValidateToken": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "allow_origin_header"
                ],
                "members": {
                    "allow_origin_header": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        },
        "ValidateTokenOptionsMethod": {
            "output": {
                "type": "structure",
                "required": [
                    "allow_origin_header",
                    "allow_headers"
                ],
                "members": {
                    "allow_origin_header": {},
                    "allow_headers": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBUDZNXVOWUP2P6QLRZUCAAGFSTV6TEJLYL2AL3LYICDLKSH6KEA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QS576KGUFTRILGZL27WYPLHHAESWPQ7BQXG75CLRB4AK6IA2FWA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713567157828/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZP3BO3IHANEZ3J4FOC3PTF3JJOYIEQ2H24O4KDCMET6SPVUSG5SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E26VVJAN6NBNLDW4Q2OTB6BX5NAZTJHBGOU6E6DYXM4LVZ4N5E7Q/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKYMPY65XEUXVMT3IHPCZYUAW4HF3XJOT24OS2HBN5NFRP5R2PXA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1713826502496/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEKR7NB5H5W5QSJ4VZYUZX3GISSULGPER67JTUGVPTBCWO4HJTNA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5L23KISD3HT5YQ7DIYZAJXW3IZX27BUUQRZWMX2NEMX77NPI2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BRZSIOI433H57VMVQ6OHO6SAOUS64MGFP4Z2UASYG6LKTA5YUZTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4LPOLHMHGGPSPLZRF3LPHXYQ43CNOXEEEJLJUUMU3CMDE6D7W4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7XZ34Z6KYP46OMEIBGMK5OXHADTDEQHZBDOTTC4N6OQ3MGMJAZYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35L35MTQEAQNEJYYRFWCYXJHUPM6Z7CDT2LIMF5X3T4HI3SDT4HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB6V4TENE5YBJBQNDQPAZLWSYKPOJGKDC2GGLWJ3Q3FTP2V43SRA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714426907284/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714505835538/main_en.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3FVIYVRRPTG7LIGFI25I2X7X5LK5MSBPHCTCKBIZU3CN465ONVA/vendors.js",
                "https://d3gz1r5kdm6nwl.cloudfront.net/1714585375184/main_en.js"
            ]
        }
    },
    "shapes": {}
}