{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-01",
        "endpointPrefix": "ssoup",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "SUPRest",
        "serviceFullName": "AWS Single Sign-On Native Directory",
        "targetPrefix": "SWBUPRestService",
        "uid": "SUPREST-2018-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPWDMVWJWLHBPDDUPPLCJGKOM6DRTNWRLCT72EN55QNWIRD3OJYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MXL433MRC67UVM4A543JF4BODU7DHJ57RSRHMXBLHH6QXWC7FFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSPVC2BVIM6NZHDDJ3QJKHG3JSHJSKBC3OV2HIY7J36MEQO7HPOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCVQJVIEJHY6N2EIPJZJ5BDBNEDKPALDNXC6T5VNP4SOR4OQO7FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TMP5D5F4GTIYE3VMW4QDCW3BOKWKBX23QA25BT7QMUQMD2CASZUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RE4EOUETFB3BBU3BULTJBMMGZBQUQBFLI3ZGOY6VVMM7NXMZFJCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
        ]
    },
    "operations": {
        "ValidateToken": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "allow_origin_header"
                ],
                "members": {
                    "allow_origin_header": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MXL433MRC67UVM4A543JF4BODU7DHJ57RSRHMXBLHH6QXWC7FFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSPVC2BVIM6NZHDDJ3QJKHG3JSHJSKBC3OV2HIY7J36MEQO7HPOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCVQJVIEJHY6N2EIPJZJ5BDBNEDKPALDNXC6T5VNP4SOR4OQO7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMP5D5F4GTIYE3VMW4QDCW3BOKWKBX23QA25BT7QMUQMD2CASZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE4EOUETFB3BBU3BULTJBMMGZBQUQBFLI3ZGOY6VVMM7NXMZFJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        },
        "ValidateTokenOptionsMethod": {
            "output": {
                "type": "structure",
                "required": [
                    "allow_origin_header",
                    "allow_headers"
                ],
                "members": {
                    "allow_origin_header": {},
                    "allow_headers": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MXL433MRC67UVM4A543JF4BODU7DHJ57RSRHMXBLHH6QXWC7FFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSPVC2BVIM6NZHDDJ3QJKHG3JSHJSKBC3OV2HIY7J36MEQO7HPOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCVQJVIEJHY6N2EIPJZJ5BDBNEDKPALDNXC6T5VNP4SOR4OQO7FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMP5D5F4GTIYE3VMW4QDCW3BOKWKBX23QA25BT7QMUQMD2CASZUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RE4EOUETFB3BBU3BULTJBMMGZBQUQBFLI3ZGOY6VVMM7NXMZFJCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUTCJK4LMGQZUN4QALVLXPYPT4BTTUSD6YQA6VLR7FOUXE3FCC4A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDFOGBSOHCBR6RNXJPWAEYLGOO2QWILO4IQNHSBHZ3FA3J62Z3QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IFJJQH4AFYNAMBOUYHRUSNRLIU5S6SA2B4RV3YTCOYAMRLF6RNQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5E53KLR5EYMPWHPQHHKAJKT3MPSJHTXL33VPA7W3LCQDZDT4EQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCI4EG33JKXWIPV4B3OQBCHS6AEM7D6CTRL5A6DBVG2PCGDMWVWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JLFFV25XUHY5I4HFW73SVTEU7VFFETM6XRIIBGJSHJSMRVSG4YXA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEAM7GVXXBAMRQRJGTVHR4UMSS5XUPWDP5GG2KOPVSYEZRZIOPYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO3M2VU5HBW7LA52PIUH7QG74OTKRXV4JWTBY5UW4RPVISNO6IEQ/vendors~4134d62c.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWHX4TLQW5R7R6H5HVIMLU4Y7OEP65MQZ5FY6GZZL2QNPYQRJVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KRH5KHRZGK7H5NCDQH6JFFDSFYVGFKJDBF4GSVX5DHHI36Y6AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3RVWAQHYMPDDDAXVVVCHF7ULFLP2OMIEXNMKH3BA2OALW6FCCPA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNPZZSQOBXQYSYKL3VM45N7QRZ54WQ7RCAJJG2FYSIS7463QD37A/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/77F7ETAHPGQSRX2KGQL6Y5GN723F2PCSJNNJNGTWGQ34NBMRAH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UK7OG554WC6RH54RVKMI3LIJAN5UJTCZ6X2E7W4Z62K4VGAYZS4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I4NATFOJXEBSY4P7R2MTWNS3F3WOGKFLHSTUR5VP35IJFNSFIYA/vendors~64216fa6.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OB6F4FTOGONAJY57WSEEMOTTVFEU5OIESJAXUGHRACTNPY2JEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCZRJY72FM5KUGRT7J4ACM4YWCJWADJJWJNMY6GGKKCTBAMWQRHQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNCVQXH26SBSRMV2I5O5FXOIQO4Q2QNRZRQWEKUCFXM2JXGIDVIA/vendors.js"
            ]
        }
    },
    "shapes": {}
}