{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-01",
        "endpointPrefix": "ssoup",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "SUPRest",
        "serviceFullName": "AWS Single Sign-On Native Directory",
        "targetPrefix": "SWBUPRestService",
        "uid": "SUPREST-2018-11-01",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
        ]
    },
    "operations": {
        "ValidateToken": {
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "allow_origin_header"
                ],
                "members": {
                    "allow_origin_header": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        },
        "ValidateTokenOptionsMethod": {
            "output": {
                "type": "structure",
                "required": [
                    "allow_origin_header",
                    "allow_headers"
                ],
                "members": {
                    "allow_origin_header": {},
                    "allow_headers": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/YXBA3G74LTWVE6A3YUDZF7XUWYNEEWBLGCLQTBCBCDSLNT3M4Z2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7Z7XJHUNVF6V7B6GAU3N3NPRUSXAZNY33FDD3UYIS2MQLA7GVLQ/tangerine.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VDPO67MRW4EZS35PEVDEV6ZDLLVGA2JMW4H4G3DZAO6X3E7Q5WCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F3UVZDY2UMDBMT7BUYDA3XITTOB4VHNGFYQSRNVUXCVMPYZYROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYZBYBHKGKPL7MM4VRSMYFBGFC6YOG6DHN76EN6Q5USHZ6LYNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKZN6PICEALBM4RPYTKGWP4P2NYEUM6KG2B2ZS7J6GMAYNGY5OVQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OVA4QKPE7ELAOIZDLQP5TGZKVHXTDUSGUYVFZUI7CCDC7DSN76GA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GAGAGJIPWUMOZBT6NGMVGB7YH3LDCL3HVVB7S5GDSLLNPF2DMASA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXVAQLIZDV6SVZ3CDGU7XJAI3JKR6PX25RMIWEY6CD3GZICK5APQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SF36ATIS4VFK2L5VQGXRLNOS7OF7PWR2BTX7HSL2WNBXLIT5WQKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PNOQAOU42RQI5XPCPXA4APEWOWRCUKIMEU2NRNOCKPYIEJXQB4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TLJ6RNMBGCI2BYQSV4KPTMBAPHVCN7EHBUCPX3TAG4GVFH7PT5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTYBQGUCWLFORZ54OJ2N5LNE4N4IM2CCYOKZAIXXKQLFX3KAEERQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2VT3MFZI42KTL5CECHLAGV5HTGXGHXBEUVDRKLOJG5K34A2TWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYQ3PRIJNXZBAJ2P6IN3S3P57CMTKPGXSH4EDB66MVIDZXVUL6RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RG56JMHFWHKO3ZEXFP52UWBN7HITKY4QYOBRD4KJFPD2SGBOIH5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UANXQXEYWAYWBALAYYZPXCJWMXA5YZF4FAPGSMHOUYVNDESVM74Q/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMWVPQNWBPVXU42C72FI42H7JB4PBIT76GXXMPUCA6EJLPY22WEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3PN752FEFAF7TKBKADVG3CWV5F2LOQYJCZJJZJ374CMZ2N4MDRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MWWHM3PUZJLYTMCDGOGZMGISLE2LQRKBQYGUJVLET3BHL7M2A7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJSE3ZT5N2PPZ5NJFBBI4XURN7PUJ5TUBHEVZMTIHNPY46FHEGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGJDKCVJEMN2NHQBDFCKCET4VIYECGF24ZGPRDW32OZSMEW7V5HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3QJNYPZUCG2YZ4G5F4NDRTPZSBWE2XL2AINZA4U47J6IYOONCA/vendors~fa741543.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P66IZEH2NHPH5RJXR3MIXYS55PRXC3CUFW5XRL4KWSDJ4U62AL6Q/vendors.js"
            ]
        }
    },
    "shapes": {}
}