{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2012-01-25",
        "endpointPrefix": "swf",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "Amazon SWF",
        "serviceFullName": "Amazon Simple Workflow Service",
        "serviceId": "SWF",
        "signatureVersion": "v4",
        "targetPrefix": "SimpleWorkflowService",
        "uid": "swf-2012-01-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLCX7RPO6C7RSN7PNXVG2CLCGPMYT3JX3MJVR6H4MS4OOG45SJOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CountClosedWorkflowExecutions": {
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {},
                    "startTimeFilter": {
                        "shape": "S3"
                    },
                    "closeTimeFilter": {
                        "shape": "S3"
                    },
                    "executionFilter": {
                        "shape": "S5"
                    },
                    "typeFilter": {
                        "shape": "S7"
                    },
                    "tagFilter": {
                        "shape": "Sa"
                    },
                    "closeStatusFilter": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CountOpenWorkflowExecutions": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "startTimeFilter"
                ],
                "members": {
                    "domain": {},
                    "startTimeFilter": {
                        "shape": "S3"
                    },
                    "typeFilter": {
                        "shape": "S7"
                    },
                    "tagFilter": {
                        "shape": "Sa"
                    },
                    "executionFilter": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "shape": "Se"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CountPendingActivityTasks": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "taskList"
                ],
                "members": {
                    "domain": {},
                    "taskList": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CountPendingDecisionTasks": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "taskList"
                ],
                "members": {
                    "domain": {},
                    "taskList": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeprecateActivityType": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "activityType"
                ],
                "members": {
                    "domain": {},
                    "activityType": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeprecateDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeprecateWorkflowType": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "workflowType"
                ],
                "members": {
                    "domain": {},
                    "workflowType": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeActivityType": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "activityType"
                ],
                "members": {
                    "domain": {},
                    "activityType": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "typeInfo",
                    "configuration"
                ],
                "members": {
                    "typeInfo": {
                        "shape": "Su"
                    },
                    "configuration": {
                        "type": "structure",
                        "members": {
                            "defaultTaskStartToCloseTimeout": {},
                            "defaultTaskHeartbeatTimeout": {},
                            "defaultTaskList": {
                                "shape": "Sj"
                            },
                            "defaultTaskPriority": {},
                            "defaultTaskScheduleToStartTimeout": {},
                            "defaultTaskScheduleToCloseTimeout": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainInfo",
                    "configuration"
                ],
                "members": {
                    "domainInfo": {
                        "shape": "S12"
                    },
                    "configuration": {
                        "type": "structure",
                        "required": [
                            "workflowExecutionRetentionPeriodInDays"
                        ],
                        "members": {
                            "workflowExecutionRetentionPeriodInDays": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeWorkflowExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "execution"
                ],
                "members": {
                    "domain": {},
                    "execution": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "executionInfo",
                    "executionConfiguration",
                    "openCounts"
                ],
                "members": {
                    "executionInfo": {
                        "shape": "S1a"
                    },
                    "executionConfiguration": {
                        "type": "structure",
                        "required": [
                            "taskStartToCloseTimeout",
                            "executionStartToCloseTimeout",
                            "taskList",
                            "childPolicy"
                        ],
                        "members": {
                            "taskStartToCloseTimeout": {},
                            "executionStartToCloseTimeout": {},
                            "taskList": {
                                "shape": "Sj"
                            },
                            "taskPriority": {},
                            "childPolicy": {},
                            "lambdaRole": {}
                        }
                    },
                    "openCounts": {
                        "type": "structure",
                        "required": [
                            "openActivityTasks",
                            "openDecisionTasks",
                            "openTimers",
                            "openChildWorkflowExecutions"
                        ],
                        "members": {
                            "openActivityTasks": {
                                "type": "integer"
                            },
                            "openDecisionTasks": {
                                "type": "integer"
                            },
                            "openTimers": {
                                "type": "integer"
                            },
                            "openChildWorkflowExecutions": {
                                "type": "integer"
                            },
                            "openLambdaFunctions": {
                                "type": "integer"
                            }
                        }
                    },
                    "latestActivityTaskTimestamp": {
                        "type": "timestamp"
                    },
                    "latestExecutionContext": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeWorkflowType": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "workflowType"
                ],
                "members": {
                    "domain": {},
                    "workflowType": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "typeInfo",
                    "configuration"
                ],
                "members": {
                    "typeInfo": {
                        "shape": "S1m"
                    },
                    "configuration": {
                        "type": "structure",
                        "members": {
                            "defaultTaskStartToCloseTimeout": {},
                            "defaultExecutionStartToCloseTimeout": {},
                            "defaultTaskList": {
                                "shape": "Sj"
                            },
                            "defaultTaskPriority": {},
                            "defaultChildPolicy": {},
                            "defaultLambdaRole": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetWorkflowExecutionHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "execution"
                ],
                "members": {
                    "domain": {},
                    "execution": {
                        "shape": "S17"
                    },
                    "nextPageToken": {},
                    "maximumPageSize": {
                        "type": "integer"
                    },
                    "reverseOrder": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "events"
                ],
                "members": {
                    "events": {
                        "shape": "S1t"
                    },
                    "nextPageToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListActivityTypes": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "registrationStatus"
                ],
                "members": {
                    "domain": {},
                    "name": {},
                    "registrationStatus": {},
                    "nextPageToken": {},
                    "maximumPageSize": {
                        "type": "integer"
                    },
                    "reverseOrder": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "typeInfos"
                ],
                "members": {
                    "typeInfos": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "nextPageToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListClosedWorkflowExecutions": {
            "input": {
                "type": "structure",
                "required": [
                    "domain"
                ],
                "members": {
                    "domain": {},
                    "startTimeFilter": {
                        "shape": "S3"
                    },
                    "closeTimeFilter": {
                        "shape": "S3"
                    },
                    "executionFilter": {
                        "shape": "S5"
                    },
                    "closeStatusFilter": {
                        "shape": "Sc"
                    },
                    "typeFilter": {
                        "shape": "S7"
                    },
                    "tagFilter": {
                        "shape": "Sa"
                    },
                    "nextPageToken": {},
                    "maximumPageSize": {
                        "type": "integer"
                    },
                    "reverseOrder": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S4g"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListDomains": {
            "input": {
                "type": "structure",
                "required": [
                    "registrationStatus"
                ],
                "members": {
                    "nextPageToken": {},
                    "registrationStatus": {},
                    "maximumPageSize": {
                        "type": "integer"
                    },
                    "reverseOrder": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "domainInfos"
                ],
                "members": {
                    "domainInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S12"
                        }
                    },
                    "nextPageToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListOpenWorkflowExecutions": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "startTimeFilter"
                ],
                "members": {
                    "domain": {},
                    "startTimeFilter": {
                        "shape": "S3"
                    },
                    "typeFilter": {
                        "shape": "S7"
                    },
                    "tagFilter": {
                        "shape": "Sa"
                    },
                    "nextPageToken": {},
                    "maximumPageSize": {
                        "type": "integer"
                    },
                    "reverseOrder": {
                        "type": "boolean"
                    },
                    "executionFilter": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "shape": "S4g"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S4o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListWorkflowTypes": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "registrationStatus"
                ],
                "members": {
                    "domain": {},
                    "name": {},
                    "registrationStatus": {},
                    "nextPageToken": {},
                    "maximumPageSize": {
                        "type": "integer"
                    },
                    "reverseOrder": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "typeInfos"
                ],
                "members": {
                    "typeInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S1m"
                        }
                    },
                    "nextPageToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "PollForActivityTask": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "taskList"
                ],
                "members": {
                    "domain": {},
                    "taskList": {
                        "shape": "Sj"
                    },
                    "identity": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskToken",
                    "activityId",
                    "startedEventId",
                    "workflowExecution",
                    "activityType"
                ],
                "members": {
                    "taskToken": {},
                    "activityId": {},
                    "startedEventId": {
                        "type": "long"
                    },
                    "workflowExecution": {
                        "shape": "S17"
                    },
                    "activityType": {
                        "shape": "Sn"
                    },
                    "input": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "PollForDecisionTask": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "taskList"
                ],
                "members": {
                    "domain": {},
                    "taskList": {
                        "shape": "Sj"
                    },
                    "identity": {},
                    "nextPageToken": {},
                    "maximumPageSize": {
                        "type": "integer"
                    },
                    "reverseOrder": {
                        "type": "boolean"
                    },
                    "startAtPreviousStartedEvent": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "taskToken",
                    "startedEventId",
                    "workflowExecution",
                    "workflowType",
                    "events"
                ],
                "members": {
                    "taskToken": {},
                    "startedEventId": {
                        "type": "long"
                    },
                    "workflowExecution": {
                        "shape": "S17"
                    },
                    "workflowType": {
                        "shape": "Sr"
                    },
                    "events": {
                        "shape": "S1t"
                    },
                    "nextPageToken": {},
                    "previousStartedEventId": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RecordActivityTaskHeartbeat": {
            "input": {
                "type": "structure",
                "required": [
                    "taskToken"
                ],
                "members": {
                    "taskToken": {},
                    "details": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cancelRequested"
                ],
                "members": {
                    "cancelRequested": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RegisterActivityType": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "name",
                    "version"
                ],
                "members": {
                    "domain": {},
                    "name": {},
                    "version": {},
                    "description": {},
                    "defaultTaskStartToCloseTimeout": {},
                    "defaultTaskHeartbeatTimeout": {},
                    "defaultTaskList": {
                        "shape": "Sj"
                    },
                    "defaultTaskPriority": {},
                    "defaultTaskScheduleToStartTimeout": {},
                    "defaultTaskScheduleToCloseTimeout": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RegisterDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "workflowExecutionRetentionPeriodInDays"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "workflowExecutionRetentionPeriodInDays": {},
                    "tags": {
                        "shape": "S4o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RegisterWorkflowType": {
            "input": {
                "type": "structure",
                "required": [
                    "domain",
                    "name",
                    "version"
                ],
                "members": {
                    "domain": {},
                    "name": {},
                    "version": {},
                    "description": {},
                    "defaultTaskStartToCloseTimeout": {},
                    "defaultExecutionStartToCloseTimeout": {},
                    "defaultTaskList": {
                        "shape": "Sj"
                    },
                    "defaultTaskPriority": {},
                    "defaultChildPolicy": {},
                    "defaultLambdaRole": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEA4DGDOX4PPWG4YIJTBXSYLNT2GWLPIR3GDT5GRCQT2F7QSDU3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SVV77N3FEQK3DZGTCHUMXJOB7SXJPR3CLA4FGOO6PNG2TYIVMKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VHB2555TWUOVN46IG66ENCZPWE4QHAMHPHTDYVURMMGLIZ37SOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5URRCB4L32ZEV6JQITQ3PYWMBN7X36F4PNG5GFSXKBMZZWNIXAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DC5KQBG3F2JSRCFF4Q4SY4VINDZ3JHNZL4S7ERQUYBP5DDX2IY5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEKUWXXPILZS3VJFQPBPXSCLAD3B34FHY6YGXLW6ZX4OQUJS5KDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WATHZZ5SC7SVVRT7F5CG3BLQ4G5AFNZBMRUW4HK6GMAVBXJFFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJWZW3ZCGSUNHVC27BWT5W74OCXYEN35LRYCQXRGWJ3QDGBWLCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4JINZRRNGPAJVQ5SGORKND3JVG4ZCCXMLWW35XPZQHSR7XLG5TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLCUY6SBCYTXPTFUJC4WKFEKPBE5TO4ZT3PYMOZFQMLE7NUCLPIA/vendors.js",
[...]
