{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "networkmanager-chat",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "SycamoreFrontendLambda",
        "serviceFullName": "The APIs for Sycamore",
        "serviceId": "SycamoreFrontendLambda",
        "signatureVersion": "v4",
        "signingName": "networkmanager-chat",
        "uid": "sycamorefrontendlambda-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTFRLT2I2KUR5ZCNXLR6HVR2LPZXZ3WKQOQABR3PNPOK552IN6FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7H3W55ADAVMROWV7K47GU54IQQYWQPT6WEMFQNFW73GZ22AYUQCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3W4JQL6JHPFHPLQTK4FJ6EP32FOM3QWQ7ZR6CFQP36C2S2DSOJAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X5GMY7J25RFXMTEJD5WTVNBPAVIX5G2TM223CCV7KEZOU2VGLSNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BCDWHI3PZGAGVQFFGNV5YP5TY73N3XDYYJKIHB3XVWSG5H6WQXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UBERQAJDEW2BE2PMV6EFUHVFXZWAMIYME35PPHW2VIBNOWOQMIIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2M2S6NUHFSM3TEIRZ63MNDIJRVLIGJOLNJZB23KV4VMLZ444HCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G2T4Q7254H37X6M7E7G2HZX2QFVYLNHBRFBGCJDNIWLR4QW75HEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5HLGH4NC4JP5SVSPQAPEDOLEGYX7GZOPW6NUP5HDXGIVFVFU6ZGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NQFLJB6257TP45YCDTVBMTMAWC5RMWDIVIMJBF747BDDUG2VWRNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2HDJXMCGX5X374BVJTVOOVRWFEL4JW7IJGTSLGLPEJ35RBZL4EWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MISJ7QFGYLPMEFNXQZ534PMBD5E2WZH3J6I5CUALVQXVPFDXOIIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TRRLYA4TIMPE2RYS6VR4KHQ23H2NFF7TSW3CFQP67DGXV6XTUQFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OCPWXUN3JUPA6CQCQBRDNW36FHEIK4OWGA7CMQLYPKE7RHYCZYGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VSL4GIBJDXYT2GGXXDVG6OVRTA7HLU6FKCDMJXRBYZ23SV2BZOYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZ324YLOOQR2OLE4JP4OGYQ2AGV2IACGHLJXCTPBXCIYSWIGXM6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MD4L6LU7GX4XR2ZZMUR7BOVIDZBNAO7ZDQYXF74NYZRS6SPWZJ6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJIXKEOSQAZLYTK5CSGZ7M26EDRXULVRJ56E5CLFDQDLUA3BU2FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/33PXGM7MTDU2NTPVFL5OHMZJ3Y23NNV25LQNQRKRSFR7K6DLDS7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BXPRQ2QD3JYPBFWYIJQMSY6VQM5M4IGZ7MTYOYELLRIWB3KUXFZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACCWVN3AJZMO4EQ7EZ3RUSG66VKGY2NJ7UYD4DEFQKUOBTK7ADDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/75MNGINPETFN4HS6IATGMZOGRAVQP3REIRX5ICOTV6MU7XSGQH2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PT7J4UHSSVOGS7EPCFMOSLA7INT6NABLKMSDE6ELUH6FBTIZRZDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6QYXNSKUEB47Q5UIBPAS7GCZU4E5UTE6LL24UBGEDQI6FI6XFA/vendors.js"
        ]
    },
    "operations": {
        "CancelMessageResponse": {
            "http": {
                "method": "DELETE",
                "requestUri": "/conversations/{conversationId}/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFRLT2I2KUR5ZCNXLR6HVR2LPZXZ3WKQOQABR3PNPOK552IN6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3W55ADAVMROWV7K47GU54IQQYWQPT6WEMFQNFW73GZ22AYUQCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W4JQL6JHPFHPLQTK4FJ6EP32FOM3QWQ7ZR6CFQP36C2S2DSOJAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5GMY7J25RFXMTEJD5WTVNBPAVIX5G2TM223CCV7KEZOU2VGLSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BCDWHI3PZGAGVQFFGNV5YP5TY73N3XDYYJKIHB3XVWSG5H6WQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBERQAJDEW2BE2PMV6EFUHVFXZWAMIYME35PPHW2VIBNOWOQMIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2M2S6NUHFSM3TEIRZ63MNDIJRVLIGJOLNJZB23KV4VMLZ444HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2T4Q7254H37X6M7E7G2HZX2QFVYLNHBRFBGCJDNIWLR4QW75HEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HLGH4NC4JP5SVSPQAPEDOLEGYX7GZOPW6NUP5HDXGIVFVFU6ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQFLJB6257TP45YCDTVBMTMAWC5RMWDIVIMJBF747BDDUG2VWRNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HDJXMCGX5X374BVJTVOOVRWFEL4JW7IJGTSLGLPEJ35RBZL4EWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MISJ7QFGYLPMEFNXQZ534PMBD5E2WZH3J6I5CUALVQXVPFDXOIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRRLYA4TIMPE2RYS6VR4KHQ23H2NFF7TSW3CFQP67DGXV6XTUQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPWXUN3JUPA6CQCQBRDNW36FHEIK4OWGA7CMQLYPKE7RHYCZYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSL4GIBJDXYT2GGXXDVG6OVRTA7HLU6FKCDMJXRBYZ23SV2BZOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ324YLOOQR2OLE4JP4OGYQ2AGV2IACGHLJXCTPBXCIYSWIGXM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD4L6LU7GX4XR2ZZMUR7BOVIDZBNAO7ZDQYXF74NYZRS6SPWZJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJIXKEOSQAZLYTK5CSGZ7M26EDRXULVRJ56E5CLFDQDLUA3BU2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33PXGM7MTDU2NTPVFL5OHMZJ3Y23NNV25LQNQRKRSFR7K6DLDS7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXPRQ2QD3JYPBFWYIJQMSY6VQM5M4IGZ7MTYOYELLRIWB3KUXFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCWVN3AJZMO4EQ7EZ3RUSG66VKGY2NJ7UYD4DEFQKUOBTK7ADDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75MNGINPETFN4HS6IATGMZOGRAVQP3REIRX5ICOTV6MU7XSGQH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT7J4UHSSVOGS7EPCFMOSLA7INT6NABLKMSDE6ELUH6FBTIZRZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6QYXNSKUEB47Q5UIBPAS7GCZU4E5UTE6LL24UBGEDQI6FI6XFA/vendors.js"
            ]
        },
        "CreateConversation": {
            "http": {
                "requestUri": "/conversations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversation"
                ],
                "members": {
                    "conversation": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFRLT2I2KUR5ZCNXLR6HVR2LPZXZ3WKQOQABR3PNPOK552IN6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3W55ADAVMROWV7K47GU54IQQYWQPT6WEMFQNFW73GZ22AYUQCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W4JQL6JHPFHPLQTK4FJ6EP32FOM3QWQ7ZR6CFQP36C2S2DSOJAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5GMY7J25RFXMTEJD5WTVNBPAVIX5G2TM223CCV7KEZOU2VGLSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BCDWHI3PZGAGVQFFGNV5YP5TY73N3XDYYJKIHB3XVWSG5H6WQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBERQAJDEW2BE2PMV6EFUHVFXZWAMIYME35PPHW2VIBNOWOQMIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2M2S6NUHFSM3TEIRZ63MNDIJRVLIGJOLNJZB23KV4VMLZ444HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2T4Q7254H37X6M7E7G2HZX2QFVYLNHBRFBGCJDNIWLR4QW75HEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HLGH4NC4JP5SVSPQAPEDOLEGYX7GZOPW6NUP5HDXGIVFVFU6ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQFLJB6257TP45YCDTVBMTMAWC5RMWDIVIMJBF747BDDUG2VWRNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HDJXMCGX5X374BVJTVOOVRWFEL4JW7IJGTSLGLPEJ35RBZL4EWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MISJ7QFGYLPMEFNXQZ534PMBD5E2WZH3J6I5CUALVQXVPFDXOIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRRLYA4TIMPE2RYS6VR4KHQ23H2NFF7TSW3CFQP67DGXV6XTUQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPWXUN3JUPA6CQCQBRDNW36FHEIK4OWGA7CMQLYPKE7RHYCZYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSL4GIBJDXYT2GGXXDVG6OVRTA7HLU6FKCDMJXRBYZ23SV2BZOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ324YLOOQR2OLE4JP4OGYQ2AGV2IACGHLJXCTPBXCIYSWIGXM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD4L6LU7GX4XR2ZZMUR7BOVIDZBNAO7ZDQYXF74NYZRS6SPWZJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJIXKEOSQAZLYTK5CSGZ7M26EDRXULVRJ56E5CLFDQDLUA3BU2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33PXGM7MTDU2NTPVFL5OHMZJ3Y23NNV25LQNQRKRSFR7K6DLDS7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXPRQ2QD3JYPBFWYIJQMSY6VQM5M4IGZ7MTYOYELLRIWB3KUXFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCWVN3AJZMO4EQ7EZ3RUSG66VKGY2NJ7UYD4DEFQKUOBTK7ADDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75MNGINPETFN4HS6IATGMZOGRAVQP3REIRX5ICOTV6MU7XSGQH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT7J4UHSSVOGS7EPCFMOSLA7INT6NABLKMSDE6ELUH6FBTIZRZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6QYXNSKUEB47Q5UIBPAS7GCZU4E5UTE6LL24UBGEDQI6FI6XFA/vendors.js"
            ]
        },
        "DeleteConversation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/conversations/{conversationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFRLT2I2KUR5ZCNXLR6HVR2LPZXZ3WKQOQABR3PNPOK552IN6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3W55ADAVMROWV7K47GU54IQQYWQPT6WEMFQNFW73GZ22AYUQCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W4JQL6JHPFHPLQTK4FJ6EP32FOM3QWQ7ZR6CFQP36C2S2DSOJAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5GMY7J25RFXMTEJD5WTVNBPAVIX5G2TM223CCV7KEZOU2VGLSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BCDWHI3PZGAGVQFFGNV5YP5TY73N3XDYYJKIHB3XVWSG5H6WQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBERQAJDEW2BE2PMV6EFUHVFXZWAMIYME35PPHW2VIBNOWOQMIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2M2S6NUHFSM3TEIRZ63MNDIJRVLIGJOLNJZB23KV4VMLZ444HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2T4Q7254H37X6M7E7G2HZX2QFVYLNHBRFBGCJDNIWLR4QW75HEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HLGH4NC4JP5SVSPQAPEDOLEGYX7GZOPW6NUP5HDXGIVFVFU6ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQFLJB6257TP45YCDTVBMTMAWC5RMWDIVIMJBF747BDDUG2VWRNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HDJXMCGX5X374BVJTVOOVRWFEL4JW7IJGTSLGLPEJ35RBZL4EWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MISJ7QFGYLPMEFNXQZ534PMBD5E2WZH3J6I5CUALVQXVPFDXOIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRRLYA4TIMPE2RYS6VR4KHQ23H2NFF7TSW3CFQP67DGXV6XTUQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPWXUN3JUPA6CQCQBRDNW36FHEIK4OWGA7CMQLYPKE7RHYCZYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSL4GIBJDXYT2GGXXDVG6OVRTA7HLU6FKCDMJXRBYZ23SV2BZOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ324YLOOQR2OLE4JP4OGYQ2AGV2IACGHLJXCTPBXCIYSWIGXM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD4L6LU7GX4XR2ZZMUR7BOVIDZBNAO7ZDQYXF74NYZRS6SPWZJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJIXKEOSQAZLYTK5CSGZ7M26EDRXULVRJ56E5CLFDQDLUA3BU2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33PXGM7MTDU2NTPVFL5OHMZJ3Y23NNV25LQNQRKRSFR7K6DLDS7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXPRQ2QD3JYPBFWYIJQMSY6VQM5M4IGZ7MTYOYELLRIWB3KUXFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCWVN3AJZMO4EQ7EZ3RUSG66VKGY2NJ7UYD4DEFQKUOBTK7ADDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75MNGINPETFN4HS6IATGMZOGRAVQP3REIRX5ICOTV6MU7XSGQH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT7J4UHSSVOGS7EPCFMOSLA7INT6NABLKMSDE6ELUH6FBTIZRZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6QYXNSKUEB47Q5UIBPAS7GCZU4E5UTE6LL24UBGEDQI6FI6XFA/vendors.js"
            ]
        },
        "ListConversationMessages": {
            "http": {
                "method": "GET",
                "requestUri": "/conversations/{conversationId}/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filters": {
                        "location": "querystring",
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "startTime": {
                        "location": "querystring",
                        "locationName": "startTime",
                        "type": "long"
                    },
                    "endTime": {
                        "location": "querystring",
                        "locationName": "endTime",
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationMessages"
                ],
                "members": {
                    "conversationMessages": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFRLT2I2KUR5ZCNXLR6HVR2LPZXZ3WKQOQABR3PNPOK552IN6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3W55ADAVMROWV7K47GU54IQQYWQPT6WEMFQNFW73GZ22AYUQCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W4JQL6JHPFHPLQTK4FJ6EP32FOM3QWQ7ZR6CFQP36C2S2DSOJAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5GMY7J25RFXMTEJD5WTVNBPAVIX5G2TM223CCV7KEZOU2VGLSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BCDWHI3PZGAGVQFFGNV5YP5TY73N3XDYYJKIHB3XVWSG5H6WQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBERQAJDEW2BE2PMV6EFUHVFXZWAMIYME35PPHW2VIBNOWOQMIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2M2S6NUHFSM3TEIRZ63MNDIJRVLIGJOLNJZB23KV4VMLZ444HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2T4Q7254H37X6M7E7G2HZX2QFVYLNHBRFBGCJDNIWLR4QW75HEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HLGH4NC4JP5SVSPQAPEDOLEGYX7GZOPW6NUP5HDXGIVFVFU6ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQFLJB6257TP45YCDTVBMTMAWC5RMWDIVIMJBF747BDDUG2VWRNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HDJXMCGX5X374BVJTVOOVRWFEL4JW7IJGTSLGLPEJ35RBZL4EWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MISJ7QFGYLPMEFNXQZ534PMBD5E2WZH3J6I5CUALVQXVPFDXOIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRRLYA4TIMPE2RYS6VR4KHQ23H2NFF7TSW3CFQP67DGXV6XTUQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPWXUN3JUPA6CQCQBRDNW36FHEIK4OWGA7CMQLYPKE7RHYCZYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSL4GIBJDXYT2GGXXDVG6OVRTA7HLU6FKCDMJXRBYZ23SV2BZOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ324YLOOQR2OLE4JP4OGYQ2AGV2IACGHLJXCTPBXCIYSWIGXM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD4L6LU7GX4XR2ZZMUR7BOVIDZBNAO7ZDQYXF74NYZRS6SPWZJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJIXKEOSQAZLYTK5CSGZ7M26EDRXULVRJ56E5CLFDQDLUA3BU2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33PXGM7MTDU2NTPVFL5OHMZJ3Y23NNV25LQNQRKRSFR7K6DLDS7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXPRQ2QD3JYPBFWYIJQMSY6VQM5M4IGZ7MTYOYELLRIWB3KUXFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCWVN3AJZMO4EQ7EZ3RUSG66VKGY2NJ7UYD4DEFQKUOBTK7ADDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75MNGINPETFN4HS6IATGMZOGRAVQP3REIRX5ICOTV6MU7XSGQH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT7J4UHSSVOGS7EPCFMOSLA7INT6NABLKMSDE6ELUH6FBTIZRZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6QYXNSKUEB47Q5UIBPAS7GCZU4E5UTE6LL24UBGEDQI6FI6XFA/vendors.js"
            ]
        },
        "ListConversations": {
            "http": {
                "method": "GET",
                "requestUri": "/conversations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversations"
                ],
                "members": {
                    "conversations": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFRLT2I2KUR5ZCNXLR6HVR2LPZXZ3WKQOQABR3PNPOK552IN6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3W55ADAVMROWV7K47GU54IQQYWQPT6WEMFQNFW73GZ22AYUQCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W4JQL6JHPFHPLQTK4FJ6EP32FOM3QWQ7ZR6CFQP36C2S2DSOJAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5GMY7J25RFXMTEJD5WTVNBPAVIX5G2TM223CCV7KEZOU2VGLSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BCDWHI3PZGAGVQFFGNV5YP5TY73N3XDYYJKIHB3XVWSG5H6WQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBERQAJDEW2BE2PMV6EFUHVFXZWAMIYME35PPHW2VIBNOWOQMIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2M2S6NUHFSM3TEIRZ63MNDIJRVLIGJOLNJZB23KV4VMLZ444HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2T4Q7254H37X6M7E7G2HZX2QFVYLNHBRFBGCJDNIWLR4QW75HEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HLGH4NC4JP5SVSPQAPEDOLEGYX7GZOPW6NUP5HDXGIVFVFU6ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQFLJB6257TP45YCDTVBMTMAWC5RMWDIVIMJBF747BDDUG2VWRNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HDJXMCGX5X374BVJTVOOVRWFEL4JW7IJGTSLGLPEJ35RBZL4EWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MISJ7QFGYLPMEFNXQZ534PMBD5E2WZH3J6I5CUALVQXVPFDXOIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRRLYA4TIMPE2RYS6VR4KHQ23H2NFF7TSW3CFQP67DGXV6XTUQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPWXUN3JUPA6CQCQBRDNW36FHEIK4OWGA7CMQLYPKE7RHYCZYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSL4GIBJDXYT2GGXXDVG6OVRTA7HLU6FKCDMJXRBYZ23SV2BZOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ324YLOOQR2OLE4JP4OGYQ2AGV2IACGHLJXCTPBXCIYSWIGXM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD4L6LU7GX4XR2ZZMUR7BOVIDZBNAO7ZDQYXF74NYZRS6SPWZJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJIXKEOSQAZLYTK5CSGZ7M26EDRXULVRJ56E5CLFDQDLUA3BU2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33PXGM7MTDU2NTPVFL5OHMZJ3Y23NNV25LQNQRKRSFR7K6DLDS7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXPRQ2QD3JYPBFWYIJQMSY6VQM5M4IGZ7MTYOYELLRIWB3KUXFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCWVN3AJZMO4EQ7EZ3RUSG66VKGY2NJ7UYD4DEFQKUOBTK7ADDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75MNGINPETFN4HS6IATGMZOGRAVQP3REIRX5ICOTV6MU7XSGQH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT7J4UHSSVOGS7EPCFMOSLA7INT6NABLKMSDE6ELUH6FBTIZRZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6QYXNSKUEB47Q5UIBPAS7GCZU4E5UTE6LL24UBGEDQI6FI6XFA/vendors.js"
            ]
        },
        "NotifyConversationIsActive": {
            "http": {
                "method": "PUT",
                "requestUri": "/conversations/{conversationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFRLT2I2KUR5ZCNXLR6HVR2LPZXZ3WKQOQABR3PNPOK552IN6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3W55ADAVMROWV7K47GU54IQQYWQPT6WEMFQNFW73GZ22AYUQCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W4JQL6JHPFHPLQTK4FJ6EP32FOM3QWQ7ZR6CFQP36C2S2DSOJAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5GMY7J25RFXMTEJD5WTVNBPAVIX5G2TM223CCV7KEZOU2VGLSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BCDWHI3PZGAGVQFFGNV5YP5TY73N3XDYYJKIHB3XVWSG5H6WQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBERQAJDEW2BE2PMV6EFUHVFXZWAMIYME35PPHW2VIBNOWOQMIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2M2S6NUHFSM3TEIRZ63MNDIJRVLIGJOLNJZB23KV4VMLZ444HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2T4Q7254H37X6M7E7G2HZX2QFVYLNHBRFBGCJDNIWLR4QW75HEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HLGH4NC4JP5SVSPQAPEDOLEGYX7GZOPW6NUP5HDXGIVFVFU6ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQFLJB6257TP45YCDTVBMTMAWC5RMWDIVIMJBF747BDDUG2VWRNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HDJXMCGX5X374BVJTVOOVRWFEL4JW7IJGTSLGLPEJ35RBZL4EWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MISJ7QFGYLPMEFNXQZ534PMBD5E2WZH3J6I5CUALVQXVPFDXOIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRRLYA4TIMPE2RYS6VR4KHQ23H2NFF7TSW3CFQP67DGXV6XTUQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPWXUN3JUPA6CQCQBRDNW36FHEIK4OWGA7CMQLYPKE7RHYCZYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSL4GIBJDXYT2GGXXDVG6OVRTA7HLU6FKCDMJXRBYZ23SV2BZOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ324YLOOQR2OLE4JP4OGYQ2AGV2IACGHLJXCTPBXCIYSWIGXM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD4L6LU7GX4XR2ZZMUR7BOVIDZBNAO7ZDQYXF74NYZRS6SPWZJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJIXKEOSQAZLYTK5CSGZ7M26EDRXULVRJ56E5CLFDQDLUA3BU2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33PXGM7MTDU2NTPVFL5OHMZJ3Y23NNV25LQNQRKRSFR7K6DLDS7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXPRQ2QD3JYPBFWYIJQMSY6VQM5M4IGZ7MTYOYELLRIWB3KUXFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCWVN3AJZMO4EQ7EZ3RUSG66VKGY2NJ7UYD4DEFQKUOBTK7ADDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75MNGINPETFN4HS6IATGMZOGRAVQP3REIRX5ICOTV6MU7XSGQH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT7J4UHSSVOGS7EPCFMOSLA7INT6NABLKMSDE6ELUH6FBTIZRZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6QYXNSKUEB47Q5UIBPAS7GCZU4E5UTE6LL24UBGEDQI6FI6XFA/vendors.js"
            ]
        },
        "SendConversationMessage": {
            "http": {
                "requestUri": "/conversations/{conversationId}/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "message"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    },
                    "message": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationMessage"
                ],
                "members": {
                    "conversationMessage": {
                        "shape": "Sh"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTFRLT2I2KUR5ZCNXLR6HVR2LPZXZ3WKQOQABR3PNPOK552IN6FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3W55ADAVMROWV7K47GU54IQQYWQPT6WEMFQNFW73GZ22AYUQCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3W4JQL6JHPFHPLQTK4FJ6EP32FOM3QWQ7ZR6CFQP36C2S2DSOJAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXID53TE6GUFRBNHKFWWLXYBR2V3ZICHWRZFGRZ3FSE5UXZB6LJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5GMY7J25RFXMTEJD5WTVNBPAVIX5G2TM223CCV7KEZOU2VGLSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BCDWHI3PZGAGVQFFGNV5YP5TY73N3XDYYJKIHB3XVWSG5H6WQXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBERQAJDEW2BE2PMV6EFUHVFXZWAMIYME35PPHW2VIBNOWOQMIIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2M2S6NUHFSM3TEIRZ63MNDIJRVLIGJOLNJZB23KV4VMLZ444HCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G2T4Q7254H37X6M7E7G2HZX2QFVYLNHBRFBGCJDNIWLR4QW75HEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HLGH4NC4JP5SVSPQAPEDOLEGYX7GZOPW6NUP5HDXGIVFVFU6ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQFLJB6257TP45YCDTVBMTMAWC5RMWDIVIMJBF747BDDUG2VWRNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2HDJXMCGX5X374BVJTVOOVRWFEL4JW7IJGTSLGLPEJ35RBZL4EWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MISJ7QFGYLPMEFNXQZ534PMBD5E2WZH3J6I5CUALVQXVPFDXOIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRRLYA4TIMPE2RYS6VR4KHQ23H2NFF7TSW3CFQP67DGXV6XTUQFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCPWXUN3JUPA6CQCQBRDNW36FHEIK4OWGA7CMQLYPKE7RHYCZYGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSL4GIBJDXYT2GGXXDVG6OVRTA7HLU6FKCDMJXRBYZ23SV2BZOYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZ324YLOOQR2OLE4JP4OGYQ2AGV2IACGHLJXCTPBXCIYSWIGXM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD4L6LU7GX4XR2ZZMUR7BOVIDZBNAO7ZDQYXF74NYZRS6SPWZJ6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJIXKEOSQAZLYTK5CSGZ7M26EDRXULVRJ56E5CLFDQDLUA3BU2FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/33PXGM7MTDU2NTPVFL5OHMZJ3Y23NNV25LQNQRKRSFR7K6DLDS7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BXPRQ2QD3JYPBFWYIJQMSY6VQM5M4IGZ7MTYOYELLRIWB3KUXFZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACCWVN3AJZMO4EQ7EZ3RUSG66VKGY2NJ7UYD4DEFQKUOBTK7ADDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75MNGINPETFN4HS6IATGMZOGRAVQP3REIRX5ICOTV6MU7XSGQH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PT7J4UHSSVOGS7EPCFMOSLA7INT6NABLKMSDE6ELUH6FBTIZRZDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZS6QYXNSKUEB47Q5UIBPAS7GCZU4E5UTE6LL24UBGEDQI6FI6XFA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "required": [
                "conversationId",
                "creationTime"
            ],
            "members": {
                "conversationId": {},
                "creationTime": {},
                "isMessageProcessing": {
                    "type": "boolean"
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "MessageId",
                "Timestamp"
            ],
            "members": {
                "MessageId": {},
                "Timestamp": {
                    "type": "long"
                },
                "MessageType": {},
                "MessageContentType": {},
                "MessageContent": {},
                "MessageState": {},
                "WarningCode": {}
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "MessageId",
                "Timestamp"
            ],
            "members": {
                "MessageId": {},
                "Timestamp": {
                    "type": "long"
                },
                "MessageType": {},
                "MessageContentType": {},
                "MessageContent": {
                    "shape": "Sk"
                },
                "MessageState": {},
                "WarningCode": {}
            }
        },
        "Sk": {
            "type": "string",
            "sensitive": true
        }
    }
}