{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "networkmanager-chat",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "SycamoreFrontendLambda",
        "serviceFullName": "The APIs for Sycamore",
        "serviceId": "SycamoreFrontendLambda",
        "signatureVersion": "v4",
        "signingName": "networkmanager-chat",
        "uid": "sycamorefrontendlambda-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JNLLVMHRMFGKQYSMYG3YSJS2TJ2XJ6QDT7BWRIS6VXCHMIBITBRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G4ZAF22Y3C45LK4QCHVBKSFBAYR57S5NDXDNSDKBHSX66G6TKKQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WFHAE7GJSPVEDSR4QMIEJAYQNYRPKCEGUIDXAJLSZ4FTYO3JG24Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js"
        ]
    },
    "operations": {
        "CancelMessageResponse": {
            "http": {
                "method": "DELETE",
                "requestUri": "/conversations/{conversationId}/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4ZAF22Y3C45LK4QCHVBKSFBAYR57S5NDXDNSDKBHSX66G6TKKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFHAE7GJSPVEDSR4QMIEJAYQNYRPKCEGUIDXAJLSZ4FTYO3JG24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js"
            ]
        },
        "CreateConversation": {
            "http": {
                "requestUri": "/conversations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversation"
                ],
                "members": {
                    "conversation": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4ZAF22Y3C45LK4QCHVBKSFBAYR57S5NDXDNSDKBHSX66G6TKKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFHAE7GJSPVEDSR4QMIEJAYQNYRPKCEGUIDXAJLSZ4FTYO3JG24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js"
            ]
        },
        "DeleteConversation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/conversations/{conversationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4ZAF22Y3C45LK4QCHVBKSFBAYR57S5NDXDNSDKBHSX66G6TKKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFHAE7GJSPVEDSR4QMIEJAYQNYRPKCEGUIDXAJLSZ4FTYO3JG24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js"
            ]
        },
        "ListConversationMessages": {
            "http": {
                "method": "GET",
                "requestUri": "/conversations/{conversationId}/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filters": {
                        "location": "querystring",
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "startTime": {
                        "location": "querystring",
                        "locationName": "startTime",
                        "type": "long"
                    },
                    "endTime": {
                        "location": "querystring",
                        "locationName": "endTime",
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationMessages"
                ],
                "members": {
                    "conversationMessages": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4ZAF22Y3C45LK4QCHVBKSFBAYR57S5NDXDNSDKBHSX66G6TKKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFHAE7GJSPVEDSR4QMIEJAYQNYRPKCEGUIDXAJLSZ4FTYO3JG24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js"
            ]
        },
        "ListConversations": {
            "http": {
                "method": "GET",
                "requestUri": "/conversations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversations"
                ],
                "members": {
                    "conversations": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4ZAF22Y3C45LK4QCHVBKSFBAYR57S5NDXDNSDKBHSX66G6TKKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFHAE7GJSPVEDSR4QMIEJAYQNYRPKCEGUIDXAJLSZ4FTYO3JG24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js"
            ]
        },
        "NotifyConversationIsActive": {
            "http": {
                "method": "PUT",
                "requestUri": "/conversations/{conversationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4ZAF22Y3C45LK4QCHVBKSFBAYR57S5NDXDNSDKBHSX66G6TKKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFHAE7GJSPVEDSR4QMIEJAYQNYRPKCEGUIDXAJLSZ4FTYO3JG24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js"
            ]
        },
        "SendConversationMessage": {
            "http": {
                "requestUri": "/conversations/{conversationId}/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "message"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    },
                    "message": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationMessage"
                ],
                "members": {
                    "conversationMessage": {
                        "shape": "Sh"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWMIBBH62QWCIO7FTN22LGDKXQEJ6V554B4RE56WRLSZ56SDAPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73IDTYQG32FIF5AO7L3OIIEVJEBUWDTJIMW2YSO2ARFUFTK7CU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBBCFANMLVKIZJUAOS72EN2E73HRWN5SJIT2DEKCCK6U2IDC4GNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52REPV7XDAHFCRJ6N2D4VPLPRHAQ4M7LUTDGY4XGIC545JL6QGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UHBCRIOD77HK476DJSEWNHQ3VZIREKQLDCM4AVC5M4Q2NDRSLCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOLYT4EMDVT7HIKHN7X6XRGGO5R5V7SUAKMRQ7K5LNORYR4ZU5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQIXQKEUVBKPLXMC2GRUPA2Q5GZWYKYFCLGFVUNQK45BIW4VJZBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCHJMCLV7SJ2O4RREVLKQEB4R4FF5PRU74WRDX3LKN7MGXGVSFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBI5JGDFO7NAZZWCHTCBQOFINXZPNLUX2LZUGTIB4Z6T2SIK2HWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLVHQCHLMEHUHII62AFE3U3BV7RBNC6T2E375JV3N4VJ7XOEGZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRADLKSPZ3XJ4KHRN3RHSY6Y6PAS46NWR3POVYFIPD7UIPNJD47A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4SB2IXV4WVR2AGS6BR7WC7Q5WQ6IB4POP3DADHWOBISI73U3HMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6UYHSDNP7L2QQCZ355OY3GQLR3AMVM5N6RXHULXT4N7YMADV23Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QMMDLSXJBJQWUCP5REHNCUCMGSSVJFGV46FF56ZAJ32IPAH7LSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD7Y3BPAAQLOVVZY4ZFHU5C77ACFS2VPY2J37YNZ6DCBVIVJ5KYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KM3I722XH73EBQJBOY7PW6E4UTMZLT6WANKBFRG6NIZQXZW633A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IS4CZXJDQHAVF6FYZWERDHADSVLVC3TK5HVRTCXNNM6XNYHYHMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/62QUQ2UOD6FOP3FPDSCPUPTZRAXIC24MUO6EFNSQ4SWJ3HDI3BXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHFS43MKABPNMJXRA6Y5SB6OL3WPQ5VW6O2CYNB2BQIWDHSJEY3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AW2GZK52ZQA6A2MJYBQFUPJGF5SBEHNWVN3FZJ3AMNS25HTEL54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G4ZAF22Y3C45LK4QCHVBKSFBAYR57S5NDXDNSDKBHSX66G6TKKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFHAE7GJSPVEDSR4QMIEJAYQNYRPKCEGUIDXAJLSZ4FTYO3JG24Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2DJVKWMSAPCTLXJ6W634SRDSVZFHF7OJ7AHJE4I2PDHYRS7QNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIWGCJYFKOEZQPJ4BFASNVJMQFXC3FTMLAC63VKZMXS47GPDH7ZA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "required": [
                "conversationId",
                "creationTime"
            ],
            "members": {
                "conversationId": {},
                "creationTime": {},
                "isMessageProcessing": {
                    "type": "boolean"
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "MessageId",
                "Timestamp"
            ],
            "members": {
                "MessageId": {},
                "Timestamp": {
                    "type": "long"
                },
                "MessageType": {},
                "MessageContentType": {},
                "MessageContent": {},
                "MessageState": {},
                "WarningCode": {}
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "MessageId",
                "Timestamp"
            ],
            "members": {
                "MessageId": {},
                "Timestamp": {
                    "type": "long"
                },
                "MessageType": {},
                "MessageContentType": {},
                "MessageContent": {
                    "shape": "Sk"
                },
                "MessageState": {},
                "WarningCode": {}
            }
        },
        "Sk": {
            "type": "string",
            "sensitive": true
        }
    }
}