{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "networkmanager-chat",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "SycamoreFrontendLambda",
        "serviceFullName": "The APIs for Sycamore",
        "serviceId": "SycamoreFrontendLambda",
        "signatureVersion": "v4",
        "signingName": "networkmanager-chat",
        "uid": "sycamorefrontendlambda-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7GEA4DNGVXNSS36UOBLADUC66MT7DB3OQOCQGVP76OFCIY2EO4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
        ]
    },
    "operations": {
        "CancelMessageResponse": {
            "http": {
                "method": "DELETE",
                "requestUri": "/conversations/{conversationId}/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7GEA4DNGVXNSS36UOBLADUC66MT7DB3OQOCQGVP76OFCIY2EO4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "CreateConversation": {
            "http": {
                "requestUri": "/conversations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversation"
                ],
                "members": {
                    "conversation": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7GEA4DNGVXNSS36UOBLADUC66MT7DB3OQOCQGVP76OFCIY2EO4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "DeleteConversation": {
            "http": {
                "method": "DELETE",
                "requestUri": "/conversations/{conversationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7GEA4DNGVXNSS36UOBLADUC66MT7DB3OQOCQGVP76OFCIY2EO4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "ListConversationMessages": {
            "http": {
                "method": "GET",
                "requestUri": "/conversations/{conversationId}/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "filters": {
                        "location": "querystring",
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "startTime": {
                        "location": "querystring",
                        "locationName": "startTime",
                        "type": "long"
                    },
                    "endTime": {
                        "location": "querystring",
                        "locationName": "endTime",
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationMessages"
                ],
                "members": {
                    "conversationMessages": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7GEA4DNGVXNSS36UOBLADUC66MT7DB3OQOCQGVP76OFCIY2EO4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "ListConversations": {
            "http": {
                "method": "GET",
                "requestUri": "/conversations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversations"
                ],
                "members": {
                    "conversations": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7GEA4DNGVXNSS36UOBLADUC66MT7DB3OQOCQGVP76OFCIY2EO4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "NotifyConversationIsActive": {
            "http": {
                "method": "PUT",
                "requestUri": "/conversations/{conversationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId"
                ],
                "members": {
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7GEA4DNGVXNSS36UOBLADUC66MT7DB3OQOCQGVP76OFCIY2EO4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        },
        "SendConversationMessage": {
            "http": {
                "requestUri": "/conversations/{conversationId}/messages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "conversationId",
                    "message"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "conversationId": {
                        "location": "uri",
                        "locationName": "conversationId"
                    },
                    "message": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "conversationMessage"
                ],
                "members": {
                    "conversationMessage": {
                        "shape": "Sh"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7GEA4DNGVXNSS36UOBLADUC66MT7DB3OQOCQGVP76OFCIY2EO4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I2LWN5CXEVYB4JYWCX2MSO45664QCGEZ2BJG2HH2GEHYCONULH2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3JS5SASBH3KPIQSPZF34PT7PASOTIKXM3CCRAAGPKEJ6XCYIEQA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "required": [
                "conversationId",
                "creationTime"
            ],
            "members": {
                "conversationId": {},
                "creationTime": {},
                "isMessageProcessing": {
                    "type": "boolean"
                }
            }
        },
        "Sh": {
            "type": "structure",
            "required": [
                "MessageId",
                "Timestamp"
            ],
            "members": {
                "MessageId": {},
                "Timestamp": {
                    "type": "long"
                },
                "MessageType": {},
                "MessageContentType": {},
                "MessageContent": {},
                "MessageState": {},
                "WarningCode": {}
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "MessageId",
                "Timestamp"
            ],
            "members": {
                "MessageId": {},
                "Timestamp": {
                    "type": "long"
                },
                "MessageType": {},
                "MessageContentType": {},
                "MessageContent": {
                    "shape": "Sk"
                },
                "MessageState": {},
                "WarningCode": {}
            }
        },
        "Sk": {
            "type": "string",
            "sensitive": true
        }
    }
}