{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-10-11",
        "endpointPrefix": "synthetics",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Synthetics",
        "serviceFullName": "Synthetics",
        "serviceId": "synthetics",
        "signatureVersion": "v4",
        "signingName": "synthetics",
        "uid": "synthetics-2017-10-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
            "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateResource": {
            "http": {
                "method": "PATCH",
                "requestUri": "/group/{groupIdentifier}/associate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupIdentifier",
                    "ResourceArn"
                ],
                "members": {
                    "GroupIdentifier": {
                        "location": "uri",
                        "locationName": "groupIdentifier"
                    },
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateCanary": {
            "http": {
                "requestUri": "/canary"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Code",
                    "ArtifactS3Location",
                    "ExecutionRoleArn",
                    "Schedule",
                    "RuntimeVersion"
                ],
                "members": {
                    "Name": {},
                    "Code": {
                        "shape": "S7"
                    },
                    "ArtifactS3Location": {},
                    "ExecutionRoleArn": {},
                    "Schedule": {
                        "shape": "Sc"
                    },
                    "RunConfig": {
                        "shape": "Se"
                    },
                    "SuccessRetentionPeriodInDays": {
                        "type": "integer"
                    },
                    "FailureRetentionPeriodInDays": {
                        "type": "integer"
                    },
                    "RuntimeVersion": {},
                    "VpcConfig": {
                        "shape": "Sm"
                    },
                    "Tags": {
                        "shape": "Sr"
                    },
                    "ArtifactConfig": {
                        "shape": "Su"
                    },
                    "ExecutionRegion": {},
                    "DeletePreviousLambdaOnUpdate": {
                        "type": "boolean"
                    },
                    "ResourcesToReplicateTags": {
                        "type": "list",
                        "member": {}
                    },
                    "ProvisionedResourceCleanup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Canary": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateGroup": {
            "http": {
                "requestUri": "/group"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteCanary": {
            "http": {
                "method": "DELETE",
                "requestUri": "/canary/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "DeleteLambda": {
                        "location": "querystring",
                        "locationName": "deleteLambda",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/group/{groupIdentifier}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupIdentifier"
                ],
                "members": {
                    "GroupIdentifier": {
                        "location": "uri",
                        "locationName": "groupIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeCanaries": {
            "http": {
                "requestUri": "/canaries"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Names": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Canaries": {
                        "type": "list",
                        "member": {
                            "shape": "Sz"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeCanariesLastRun": {
            "http": {
                "requestUri": "/canaries/last-run"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Names": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CanariesLastRun": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CanaryName": {},
                                "LastRun": {
                                    "shape": "S24"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeRuntimeVersions": {
            "http": {
                "requestUri": "/runtime-versions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Language": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RuntimeVersions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "VersionName": {},
                                "Description": {},
                                "ReleaseDate": {
                                    "type": "timestamp"
                                },
                                "DeprecationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DisassociateResource": {
            "http": {
                "method": "PATCH",
                "requestUri": "/group/{groupIdentifier}/disassociate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupIdentifier",
                    "ResourceArn"
                ],
                "members": {
                    "GroupIdentifier": {
                        "location": "uri",
                        "locationName": "groupIdentifier"
                    },
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetCanary": {
            "http": {
                "method": "GET",
                "requestUri": "/canary/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "DryRunId": {
                        "location": "querystring",
                        "locationName": "dryRunId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Canary": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetCanaryRuns": {
            "http": {
                "requestUri": "/canary/{name}/runs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filter": {},
                    "FilterValues": {
                        "type": "list",
                        "member": {}
                    },
                    "State": {},
                    "StartedAfter": {
                        "type": "timestamp"
                    },
                    "CompletedBefore": {
                        "type": "timestamp"
                    },
                    "DryRunId": {},
                    "RunType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CanaryRuns": {
                        "type": "list",
                        "member": {
                            "shape": "S24"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/group/{groupIdentifier}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupIdentifier"
                ],
                "members": {
                    "GroupIdentifier": {
                        "location": "uri",
                        "locationName": "groupIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Group": {
                        "shape": "S1l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListAssociatedGroups": {
            "http": {
                "requestUri": "/resource/{resourceArn}/groups"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Groups": {
                        "shape": "S2q"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListGroupResources": {
            "http": {
                "requestUri": "/group/{groupIdentifier}/resources"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupIdentifier"
                ],
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "GroupIdentifier": {
                        "location": "uri",
                        "locationName": "groupIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Resources": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListGroups": {
            "http": {
                "requestUri": "/groups"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Groups": {
                        "shape": "S2q"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/742058ee-8170-4e87-9889-9ec3a310e3f7/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/4a60aed7-f5be-4274-8e83-f8cf498793d7/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f0584db5-7419-47e1-b81c-3e4811379eb2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/35dcf19a-cbb3-4ee6-9f45-6be949e8820a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/e0a24bfb-d180-444f-8c5c-bc2a5cf0278e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/963201e4-5a4b-467f-aa69-46ca98030b15/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c89ab285-472f-4eaa-8039-b4b922eb5157/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/e70b1963-de7e-48d2-8b20-1af279d99d05/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/34ad9ccc-1dcc-45df-8c50-b9b3d868ae3e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/7de6e739-a270-4693-b1e9-d57100c2dc56/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/437cb6a1-3f50-43fa-b5d8-56b5e50d0494/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartCanary": {
            "http": {
                "requestUri": "/canary/{name}/start"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StopCanary": {
            "http": {
                "requestUri": "/canary/{name}/stop"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateCanary": {
            "http": {
                "method": "PATCH",
                "requestUri": "/canary/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "Code": {
                        "shape": "S7"
                    },
                    "ExecutionRoleArn": {},
                    "RuntimeVersion": {},
                    "Schedule": {
                        "shape": "Sc"
                    },
                    "RunConfig": {
                        "shape": "Se"
                    },
                    "SuccessRetentionPeriodInDays": {
                        "type": "integer"
                    },
                    "FailureRetentionPeriodInDays": {
                        "type": "integer"
                    },
                    "VpcConfig": {
                        "shape": "Sm"
                    },
                    "VisualReference": {
                        "type": "structure",
                        "required": [
                            "BaseCanaryRunId"
                        ],
                        "members": {
                            "BaseScreenshots": {
                                "shape": "S1d"
                            },
                            "BaseCanaryRunId": {}
                        }
                    },
                    "ArtifactS3Location": {},
                    "ArtifactConfig": {
                        "shape": "Su"
                    },
                    "RevisionId": {},
                    "DeletePreviousLambdaOnUpdate": {
                        "type": "boolean"
                    },
                    "ProvisionedResourceCleanup": {},
                    "DryRunId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListLastRunsForGroup": {
            "http": {
                "requestUri": "/group/{groupIdentifier}/last-run"
            },
            "input": {
                "type": "structure",
                "required": [
                    "GroupIdentifier"
                ],
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "GroupIdentifier": {
                        "location": "uri",
                        "locationName": "groupIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LastRuns": {
                        "shape": "S23"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/a8a23ff2-36f3-44fd-9746-550e23c208cb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2f13b8cc-4f11-40e9-a19c-ee6371e03a4d/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ef465fa3-559c-425a-917f-ee9c499660e4/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/cb449c20-90c2-4f46-aa2f-6c3d984a99a2/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f90d47e0-0674-4acb-8c9a-7446db0d11ff/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/107a4a83-c407-48ff-8f19-cd455c85d392/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/4fe0a49b-9475-46e4-a21e-245651160e2e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8afda330-2eb9-4d11-8d3d-d11142e69051/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/47f84f99-1b0d-4562-a747-e86fe34c302e/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/63fcb37d-c103-49d4-acca-1f4cdd5be6a6/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/292faa65-e1aa-4294-8041-4ecebcd7451f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f2117bfd-9204-459f-b8bf-d016fde05810/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c9ef6d28-6dff-457e-a365-ac33d8ca237f/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/3f3c87c6-94b8-48f1-9363-12c05ee98a20/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/c3a71b82-5864-48fc-aa5c-aa994ffd2423/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/8345882d-60a3-47d9-b40e-f6a8066fcda9/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/2143789a-c8ff-4aca-a000-cb0411dbd9fb/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/581a8a1a-e514-4742-8cef-956f66d380e5/main.js"
            ]
        },
        "StartCanaryDryRun": {
            "http": {
                "requestUri": "/canary/{name}/dry-run/start"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "Code": {
                        "shape": "S7"
                    },
                    "RuntimeVersion": {},
                    "RunConfig": {
                        "shape": "Sg"
                    },
                    "VpcConfig": {
                        "shape": "Sp"
                    },
                    "ExecutionRoleArn": {},
                    "Schedule": {
                        "shape": "Sc"
                    },
                    "SuccessRetentionPeriodInDays": {
                        "type": "integer"
                    },
                    "FailureRetentionPeriodInDays": {
                        "type": "integer"
                    },
                    "VisualReference": {
                        "shape": "S3k"
                    },
                    "RevisionId": {},
                    "ArtifactS3Location": {},
                    "ArtifactConfig": {
                        "shape": "S11"
                    },
                    "DeletePreviousLambdaOnUpdate": {
                        "type": "boolean"
                    },
                    "ProvisionedResourceCleanup": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DryRunConfig": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://d3kld4ju0n55da.cloudfront.net/1450f048-8361-4e8c-9e42-386bf968a881/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/ad8e67fc-21b9-4b8c-8573-cf1366ccb9d1/main.js",
                "https://d3kld4ju0n55da.cloudfront.net/f5490d09-c2d0-40f8-98a9-7a67b32170a3/main.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "required": [
                "Handler"
            ],
            "members": {
                "S3Bucket": {},
                "S3Key": {},
                "S3Version": {},
                "ZipFile": {
                    "type": "blob"
                },
                "Handler": {}
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "Expression"
            ],
            "members": {
                "Expression": {},
                "DurationInSeconds": {
                    "type": "long"
                }
            }
        },
        "Se": {
            "type": "structure",
            "members": {
                "TimeoutInSeconds": {
                    "type": "integer"
                },
                "MemoryInMB": {
                    "type": "integer"
                },
                "ActiveTracing": {
                    "type": "boolean"
                },
                "EnvironmentVariables": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sm": {
            "type": "structure",
            "members": {
                "SubnetIds": {
                    "shape": "Sn"
                },
                "SecurityGroupIds": {
                    "shape": "Sp"
                }
            }
        },
        "Sn": {
            "type": "list",
            "member": {}
        },
        "Sp": {
            "type": "list",
            "member": {}
        },
        "Sr": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Su": {
            "type": "structure",
            "members": {
                "S3Encryption": {
                    "shape": "Sv"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "EncryptionMode": {},
                "KmsKeyArn": {}
            }
        },
        "Sz": {
            "type": "structure",
            "members": {
                "Id": {},
                "Name": {},
                "Code": {
                    "type": "structure",
                    "members": {
                        "SourceLocationArn": {},
                        "Handler": {}
                    }
                },
                "ExecutionRoleArn": {},
                "Schedule": {
                    "type": "structure",
                    "members": {
                        "Expression": {},
                        "DurationInSeconds": {
                            "type": "long"
                        }
                    }
                },
                "RunConfig": {
                    "type": "structure",
                    "members": {
                        "TimeoutInSeconds": {
                            "type": "integer"
                        },
                        "MemoryInMB": {
                            "type": "integer"
                        },
                        "ActiveTracing": {
                            "type": "boolean"
                        }
                    }
                },
                "SuccessRetentionPeriodInDays": {
                    "type": "integer"
                },
                "FailureRetentionPeriodInDays": {
                    "type": "integer"
                },
                "Status": {
                    "type": "structure",
                    "members": {
                        "State": {},
                        "StateReason": {},
                        "StateReasonCode": {}
                    }
                },
                "Timeline": {
                    "type": "structure",
                    "members": {
                        "Created": {
                            "type": "timestamp"
                        },
                        "LastModified": {
                            "type": "timestamp"
                        },
                        "LastStarted": {
                            "type": "timestamp"
                        },
                        "LastStopped": {
                            "type": "timestamp"
                        }
                    }
                },
                "ArtifactS3Location": {},
                "EngineArn": {},
                "RuntimeVersion": {},
                "VpcConfig": {
                    "type": "structure",
                    "members": {
                        "VpcId": {},
                        "SubnetIds": {
                            "shape": "Sn"
                        },
                        "SecurityGroupIds": {
                            "shape": "Sp"
                        }
                    }
                },
                "VisualReference": {
                    "type": "structure",
                    "members": {
                        "BaseScreenshots": {
                            "shape": "S1d"
                        },
                        "BaseCanaryRunId": {}
                    }
                },
                "Tags": {
                    "shape": "Sr"
                },
                "ArtifactConfig": {
                    "type": "structure",
                    "members": {
                        "S3Encryption": {
                            "shape": "Sv"
                        }
                    }
                }
            }
        },
        "S1d": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "ScreenshotName"
                ],
                "members": {
                    "ScreenshotName": {},
                    "IgnoreCoordinates": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "S1l": {
            "type": "structure",
            "members": {
                "Id": {},
                "Name": {},
                "Arn": {},
                "Tags": {
                    "shape": "Sr"
                },
                "CreatedTime": {
                    "type": "timestamp"
                },
                "LastModifiedTime": {
                    "type": "timestamp"
                }
            }
        },
        "S24": {
            "type": "structure",
            "members": {
                "Id": {},
                "Name": {},
                "Status": {
                    "type": "structure",
                    "members": {
                        "State": {},
                        "StateReason": {},
                        "StateReasonCode": {}
                    }
                },
                "Timeline": {
                    "type": "structure",
                    "members": {
                        "Started": {
                            "type": "timestamp"
                        },
                        "Completed": {
                            "type": "timestamp"
                        }
                    }
                },
                "ArtifactS3Location": {}
            }
        },
        "S2q": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Id": {},
                    "Name": {},
                    "Arn": {}
                }
            }
        },
        "S3": {
            "type": "structure",
            "required": [
                "Handler"
            ],
            "members": {
                "S3Bucket": {},
                "S3Key": {},
                "S3Version": {},
                "ZipFile": {
                    "type": "blob"
                },
                "Handler": {}
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "TimeoutInSeconds": {
                    "type": "integer"
                },
                "MemoryInMB": {
                    "type": "integer"
                },
                "ActiveTracing": {
                    "type": "boolean"
                },
                "EnvironmentVariables": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "SubnetIds": {
                    "shape": "Si"
                },
                "SecurityGroupIds": {
                    "shape": "Sk"
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "Sk": {
            "type": "list",
            "member": {}
        },
        "Sq": {
            "type": "structure",
            "members": {
                "Id": {},
                "Name": {},
                "Code": {
                    "type": "structure",
                    "members": {
                        "SourceLocationArn": {},
                        "Handler": {}
                    }
                },
                "ExecutionRoleArn": {},
                "Schedule": {
                    "type": "structure",
                    "members": {
                        "Expression": {},
                        "DurationInSeconds": {
                            "type": "long"
                        }
                    }
                },
                "RunConfig": {
                    "type": "structure",
                    "members": {
                        "TimeoutInSeconds": {
                            "type": "integer"
                        },
                        "MemoryInMB": {
                            "type": "integer"
                        },
                        "ActiveTracing": {
                            "type": "boolean"
                        }
                    }
                },
                "SuccessRetentionPeriodInDays": {
                    "type": "integer"
                },
                "FailureRetentionPeriodInDays": {
                    "type": "integer"
                },
[...]
