{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-11",
        "endpointPrefix": "tangerinebox",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "TangerineBox",
        "serviceId": "tangerinebox",
        "signatureVersion": "v4",
        "signingName": "tangerinebox",
        "uid": "tangerinebox-2018-11-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4ZMYYKL2BMLVA3DDUPQT3JFFK7CUONEUD45FRIVCZR2JJYMAEZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
        ]
    },
    "operations": {
        "CancelDeployment": {
            "http": {
                "requestUri": "/consoles/{consoleName}/deployments/{deploymentId}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId",
                    "consoleName"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    },
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployment": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "CreateAsset": {
            "http": {
                "requestUri": "/assets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetSourceS3Bucket",
                    "assetSourceS3Key"
                ],
                "members": {
                    "assetSourceS3Bucket": {},
                    "assetSourceS3Key": {},
                    "assetHash": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "shape": "S1q"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "CreateConsole": {
            "http": {
                "requestUri": "/consoles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName",
                    "serviceRole",
                    "basePath",
                    "pages",
                    "deploymentPreference",
                    "logGroupName",
                    "authentication"
                ],
                "members": {
                    "consoleName": {},
                    "serviceRole": {},
                    "basePath": {},
                    "pages": {
                        "shape": "S9"
                    },
                    "deploymentPreference": {
                        "shape": "S11"
                    },
                    "logGroupName": {},
                    "authentication": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "DeleteConsole": {
            "http": {
                "method": "DELETE",
                "requestUri": "/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "DescribeAsset": {
            "http": {
                "method": "GET",
                "requestUri": "/assets/{assetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetArn"
                ],
                "members": {
                    "assetArn": {
                        "location": "uri",
                        "locationName": "assetArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "DescribeConsole": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "DescribeDeployment": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles/{consoleName}/deployments/{deploymentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId",
                    "consoleName"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    },
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployment": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "ListConsoles": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "consoles"
                ],
                "members": {
                    "nextToken": {},
                    "consoles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "consoleName"
                            ],
                            "members": {
                                "consoleName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "ListDeployments": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles/{consoleName}/deployments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deployments"
                ],
                "members": {
                    "deployments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "deploymentId",
                                "timeCreated",
                                "status"
                            ],
                            "members": {
                                "deploymentId": {},
                                "timeCreated": {
                                    "shape": "S1g"
                                },
                                "status": {},
                                "timeCancellationRequested": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "UpdateConsole": {
            "http": {
                "method": "PUT",
                "requestUri": "/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName",
                    "serviceRole",
                    "basePath",
                    "pages",
                    "deploymentPreference",
                    "logGroupName",
                    "authentication"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    },
                    "serviceRole": {},
                    "basePath": {},
                    "pages": {
                        "shape": "S9"
                    },
                    "deploymentPreference": {
                        "shape": "S11"
                    },
                    "logGroupName": {},
                    "authentication": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "CreateTelemetrySink": {
            "http": {
                "requestUri": "/telemetry/sink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "servicePrincipal",
                    "sinkName",
                    "logGroupName",
                    "serviceRole",
                    "sinkType"
                ],
                "members": {
                    "servicePrincipal": {},
                    "sinkName": {},
                    "logGroupName": {},
                    "serviceRole": {},
                    "sinkType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "telemetryToken",
                    "sinkArn"
                ],
                "members": {
                    "telemetryToken": {},
                    "sinkArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "DeleteTelemetrySink": {
            "http": {
                "method": "DELETE",
                "requestUri": "/telemetry/sink/{telemetryToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "telemetryToken"
                ],
                "members": {
                    "telemetryToken": {
                        "location": "uri",
                        "locationName": "telemetryToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "DescribeTelemetrySink": {
            "http": {
                "method": "GET",
                "requestUri": "/telemetry/sink/{telemetryToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "telemetryToken"
                ],
                "members": {
                    "telemetryToken": {
                        "location": "uri",
                        "locationName": "telemetryToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "servicePrincipal",
                    "logGroupName",
                    "serviceRole",
                    "sinkType"
                ],
                "members": {
                    "servicePrincipal": {},
                    "logGroupName": {},
                    "serviceRole": {},
                    "sinkType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "UpdateTelemetrySink": {
            "http": {
                "method": "PUT",
                "requestUri": "/telemetry/sink/{telemetryToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "telemetryToken",
                    "logGroupName",
                    "serviceRole"
                ],
                "members": {
                    "telemetryToken": {
                        "location": "uri",
                        "locationName": "telemetryToken"
                    },
                    "logGroupName": {},
                    "serviceRole": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "telemetryToken"
                ],
                "members": {
                    "telemetryToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        },
        "InternalDescribeConsole": {
            "http": {
                "method": "GET",
                "requestUri": "/internal/accounts/{accountId}/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName",
                    "accountId"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4ZMYYKL2BMLVA3DDUPQT3JFFK7CUONEUD45FRIVCZR2JJYMAEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q2DJATRITCSAT3O5JMLCJWI7YJ7SED2WLS3CEHKD3V5OZ6LI3ULA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EYD72USKNJWPOXMGA4QR56555FYIUPKFAPQHGELVXV5CZBN26TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTOERZ4QWOGZWDAYHU5FJT2MIDWSY4BLRSGO5XPFWHYVRA2GGS7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M25MU6RTTSBBZWKW5YGKFHHMLTTXOZFF4E22ZGTDNAOB4BYNPKFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NNVF337WQTUDMLZRHW74FSFGKNOHD5WM34YGN6ADMLJS5WEYRQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGU4HAS72CUI2VQLTRWQE5F3C2WW3UWYOT2QQDFP44GS6F5TWNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7PNEM4YBOFGE2R6FAHM3GD5RIEO5VIAHIFZRNPBMSC4FJSQOOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIZ3HIAXL4BQC3SVVB6TJTUNNMVEIKKQOYWFWVFPNVSGPZYJFSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G3XOR2CNA6VKAZF47ANDJKVXARFV3PVUYWYCO4T3H2WWQEMVA6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDPIKPCA7HC3LXM775IEVOGCAIFIDDHWER4XXBLZRY3PLYD27DCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F45U6HK6CE3DNEYGATPE4JFZJUEGUXANPUJNUXLAS5WDH3ST6WFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HCGFP53B3WJ6LTXJGE5WN4TROXUDKPHHYQ7KN5JGUNBEERZRR2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIW5OQL6MCGJ3IUDQQURIUVOZSMIRZ2TWRHAYZTYXUXKPMLG3TGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K42Z6QSYPQZCX6IJ36TQQJ5DGEWONI7BRMHUE7ZBN224LKKOILKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QITG5MLDQUYX5NMAALROGNIYEFZ2ISXZZKBNUVAUE4YWTDHS7YEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL2NYZRQELZVJ6LR6VLW6MZILDIRUW53YKR7SJMKQP6YMT3U5NUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH6QNHZRXWGQ4EPD4YTODDJYBFM7BMUIVW6DA7KY5VIS5OQNNG4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMM24VV4BP3D5M5MCE6PJ77NVY5VHOA2AJIS53FISZP2UJWHBX7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57SG6EVRCLZYQYQBFPF65K6URMJ2T7S5FEVHCNSDT563HNGDZNBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PFYMVMRWTZQO7ZVM4MVDLAJOWYGSIEF2R23FIWN5JYRTCUW4YDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZFPQPWY5JOLRBC75TJNLBAQJFFX4JXUZTARTNHWS75IHKIFZU4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIIZF2B7HGZ2UBVYRDVXSZI3O5IX7UZNWUFPJBHKISDMYZ7J2ZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBRZUOFKLB2Y757POEOP7FCGTD3QYVFCIOQVB5GQXKVTPFL4FSNA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "deploymentId",
                "consoleConfiguration",
                "status",
                "progress",
                "timeCreated"
            ],
            "members": {
                "deploymentId": {},
                "consoleConfiguration": {
                    "type": "structure",
                    "required": [
                        "consoleName",
                        "serviceRole",
                        "basePath",
                        "pages",
                        "deploymentPreference",
                        "logGroupName",
                        "authentication"
                    ],
                    "members": {
                        "consoleName": {},
                        "serviceRole": {},
                        "basePath": {},
                        "pages": {
                            "shape": "S9"
                        },
                        "deploymentPreference": {
                            "shape": "S11"
                        },
                        "logGroupName": {},
                        "authentication": {
                            "shape": "S17"
                        }
                    }
                },
                "status": {},
                "progress": {
                    "type": "integer"
                },
                "timeCreated": {
                    "shape": "S1g"
                },
                "timeCancellationRequested": {
                    "shape": "S1g"
                },
                "errorMessage": {},
                "deploymentToken": {}
            }
        },
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "path",
                    "title",
                    "securityHeadersVersion",
                    "supportedLocales",
                    "csp"
                ],
                "members": {
                    "path": {},
                    "title": {},
                    "securityHeadersVersion": {},
                    "supportedLocales": {
                        "type": "list",
                        "member": {}
                    },
                    "csp": {
                        "type": "structure",
                        "required": [
                            "version"
                        ],
                        "members": {
                            "version": {},
                            "additionalDirectives": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "name",
                                        "values"
                                    ],
                                    "members": {
                                        "name": {},
                                        "values": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "scripts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "path"
                            ],
                            "members": {
                                "source": {},
                                "path": {},
                                "htmlAttributes": {}
                            }
                        }
                    },
                    "styles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "path"
                            ],
                            "members": {
                                "source": {},
                                "path": {},
                                "htmlAttributes": {}
                            }
                        }
                    },
                    "context": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "dynamicFeatureConfiguration": {
                        "type": "structure",
                        "members": {
                            "s3FeatureConfigurationSource": {
                                "type": "structure",
                                "required": [
                                    "bucketName",
                                    "keyName"
                                ],
                                "members": {
                                    "bucketName": {},
                                    "keyName": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            }
        },
        "S11": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "type": {},
                "preTrafficFunction": {},
                "postTrafficFunction": {},
                "cloudWatchAlarmsNames": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S17": {
            "type": "structure",
            "required": [
                "signInArn",
                "consoleAccess",
                "allowedAccounts"
            ],
            "members": {
                "signInArn": {},
                "productCode": {},
                "consoleAccess": {},
                "allowedAccounts": {
                    "type": "list",
                    "member": {}
                },
                "redirectUrl": {}
            }
        },
        "S1g": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S1m": {
            "type": "structure",
            "required": [
                "hashValue",
                "hashVersion"
            ],
            "members": {
                "hashValue": {},
                "hashVersion": {}
            }
        },
        "S1q": {
            "type": "structure",
            "required": [
                "assetArn",
                "status"
            ],
            "members": {
                "assetArn": {},
                "path": {},
                "status": {},
                "errorMessage": {},
                "assetHash": {
                    "shape": "S1m"
                }
            }
        },
        "S1w": {
            "type": "structure",
            "required": [
                "consoleName",
                "serviceRole",
                "basePath",
                "pages",
                "url",
                "domain",
                "deploymentPreference",
                "logGroupName",
                "authentication"
            ],
            "members": {
                "consoleName": {},
                "serviceRole": {},
                "basePath": {},
                "pages": {
                    "shape": "S9"
                },
                "url": {},
                "domain": {},
                "deploymentPreference": {
                    "shape": "S11"
                },
                "logGroupName": {},
                "authentication": {
                    "shape": "S17"
                },
                "lastDeploymentId": {}
            }
        }
    }
}