{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-11",
        "endpointPrefix": "tangerinebox",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "TangerineBox",
        "serviceId": "tangerinebox",
        "signatureVersion": "v4",
        "signingName": "tangerinebox",
        "uid": "tangerinebox-2018-11-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERZEJJE5YZGSZTWVDVABFVU2GJ7ZPRXTUPAOP64HPQFLX5A6Y6EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
        ]
    },
    "operations": {
        "CancelDeployment": {
            "http": {
                "requestUri": "/consoles/{consoleName}/deployments/{deploymentId}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId",
                    "consoleName"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    },
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployment": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "CreateAsset": {
            "http": {
                "requestUri": "/assets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetSourceS3Bucket",
                    "assetSourceS3Key"
                ],
                "members": {
                    "assetSourceS3Bucket": {},
                    "assetSourceS3Key": {},
                    "assetHash": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "shape": "S1q"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "CreateConsole": {
            "http": {
                "requestUri": "/consoles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName",
                    "serviceRole",
                    "basePath",
                    "pages",
                    "deploymentPreference",
                    "logGroupName",
                    "authentication"
                ],
                "members": {
                    "consoleName": {},
                    "serviceRole": {},
                    "basePath": {},
                    "pages": {
                        "shape": "S9"
                    },
                    "deploymentPreference": {
                        "shape": "S11"
                    },
                    "logGroupName": {},
                    "authentication": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "DeleteConsole": {
            "http": {
                "method": "DELETE",
                "requestUri": "/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "DescribeAsset": {
            "http": {
                "method": "GET",
                "requestUri": "/assets/{assetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetArn"
                ],
                "members": {
                    "assetArn": {
                        "location": "uri",
                        "locationName": "assetArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "DescribeConsole": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "DescribeDeployment": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles/{consoleName}/deployments/{deploymentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId",
                    "consoleName"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    },
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployment": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "ListConsoles": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "consoles"
                ],
                "members": {
                    "nextToken": {},
                    "consoles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "consoleName"
                            ],
                            "members": {
                                "consoleName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "ListDeployments": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles/{consoleName}/deployments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deployments"
                ],
                "members": {
                    "deployments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "deploymentId",
                                "timeCreated",
                                "status"
                            ],
                            "members": {
                                "deploymentId": {},
                                "timeCreated": {
                                    "shape": "S1g"
                                },
                                "status": {},
                                "timeCancellationRequested": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "UpdateConsole": {
            "http": {
                "method": "PUT",
                "requestUri": "/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName",
                    "serviceRole",
                    "basePath",
                    "pages",
                    "deploymentPreference",
                    "logGroupName",
                    "authentication"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    },
                    "serviceRole": {},
                    "basePath": {},
                    "pages": {
                        "shape": "S9"
                    },
                    "deploymentPreference": {
                        "shape": "S11"
                    },
                    "logGroupName": {},
                    "authentication": {
                        "shape": "S17"
                    },
                    "metadata": {
                        "type": "structure",
                        "members": {
                            "consoleStage": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "CreateTelemetrySink": {
            "http": {
                "requestUri": "/telemetry/sink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "servicePrincipal",
                    "sinkName",
                    "logGroupName",
                    "serviceRole",
                    "sinkType"
                ],
                "members": {
                    "servicePrincipal": {},
                    "sinkName": {},
                    "logGroupName": {},
                    "serviceRole": {},
                    "sinkType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "telemetryToken",
                    "sinkArn"
                ],
                "members": {
                    "telemetryToken": {},
                    "sinkArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "DeleteTelemetrySink": {
            "http": {
                "method": "DELETE",
                "requestUri": "/telemetry/sink/{telemetryToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "telemetryToken"
                ],
                "members": {
                    "telemetryToken": {
                        "location": "uri",
                        "locationName": "telemetryToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "DescribeTelemetrySink": {
            "http": {
                "method": "GET",
                "requestUri": "/telemetry/sink/{telemetryToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "telemetryToken"
                ],
                "members": {
                    "telemetryToken": {
                        "location": "uri",
                        "locationName": "telemetryToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "servicePrincipal",
                    "logGroupName",
                    "serviceRole",
                    "sinkType"
                ],
                "members": {
                    "servicePrincipal": {},
                    "logGroupName": {},
                    "serviceRole": {},
                    "sinkType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "UpdateTelemetrySink": {
            "http": {
                "method": "PUT",
                "requestUri": "/telemetry/sink/{telemetryToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "telemetryToken",
                    "logGroupName",
                    "serviceRole"
                ],
                "members": {
                    "telemetryToken": {
                        "location": "uri",
                        "locationName": "telemetryToken"
                    },
                    "logGroupName": {},
                    "serviceRole": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "telemetryToken"
                ],
                "members": {
                    "telemetryToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        },
        "InternalDescribeConsole": {
            "http": {
                "method": "GET",
                "requestUri": "/internal/accounts/{accountId}/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName",
                    "accountId"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7A65L2LEIRJ6AB4J2OUPYMYPJNUPHQFIA4JRIJL4XPG3QIHXC5HA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FN5JLWJB7F3M5TO52MYHSJRAOALPVF6W4K33NEK6JIP3GZQGPBTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MUIH7QSM76OIS5BPB5C7IZQ6OUCBN54EGKDFEPFFNORGBWNJ4LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TM4GGE5YHQCHFIOCIWBPSFPUL4LJNJETOHTW27TQA7HMI5FQS4SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF2ILJBOIQ3Z35RUTVMSI3VPY5MJWXLKENKV5YMLB2JQGYBTXNAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3SN5FPJXO3A32SU6H35BP47AIOGWQCHSQPSCJ6EJQC5KOKDEYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4YHN5HBEYYJLVUOK2SKJS2LWSIDJQQKZT6TH3GO34XXXJFOMQIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TEXXOCXGVCLCZDAF6NRY2OMFDPMR5ZONTGAW2FKUIBVAWWAD3FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4NDQWITCW6RG4BUEB7IQGU3PXBRFI3FFOJ5VTX5HA6KPUECEQ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GV34YPC56XW4HTBRIQTDS53HBCMO5ATEAVKWIK73DNL443YNUTHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5NV6IEDL2WZWU5R65ZLO44YYSYZZCDQFAZDNKNHDIGN6DRXULVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARMH7WZCIGRGRT545IHBOA3YRM2M2DS7WGBL54KZTRVX7SX62HJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIG6QGTAUTVA5FMJGSWA75XDSO3UUMSQIOZOMWPX3V327MQBE7RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LTCLKKQKKWFOU5GVWKCQ4L7BYWCKSQWNXDMCWC5NPQULX7ILYMTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFYUDZFNHCH5I5IXR5NXSV7NUGNBTBR5LEUNIQB4KJ3SYIKBTHWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GBWSJO5LTTKYZJS7ABHNSSQ4W4GPT3YTQTFHGY5H3LDB6MIUYQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4IX2R2FDRCKMMB5MKX4Q3HZPZBV5QV46SJVQPNZFMR5RM6T3IBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7QAZKDPP4AUQQOUB76IDS2PRCVWVK2QY3GG2P4O3YO6SAUSUOUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QHTXLUJLEZY66UPDG7X6FZAGATNUIVFJNJVQQX7IVZLULQ3GR3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQQV7JAKFD4OXJPIYP275HU7U5A5ACEUCNKYESL5CLL74JYCTVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYEITIJYZ224CI4U4JZGMWTNNUJPTQQ4JA3JPA2DYDQ5XVBXBL7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJR72H4WG22CDJQZCJNXZDS3TQL5GUQCJBMWA2PHCLDIPTVC3OGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LSJ7TQF4FSB2FZTYQIJAZGSZ3BUFFU7MBJJ4PHCGT7DZO5YQUV2A/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "deploymentId",
                "consoleConfiguration",
                "status",
                "progress",
                "timeCreated"
            ],
            "members": {
                "deploymentId": {},
                "consoleConfiguration": {
                    "type": "structure",
                    "required": [
                        "consoleName",
                        "serviceRole",
                        "basePath",
                        "pages",
                        "deploymentPreference",
                        "logGroupName",
                        "authentication"
                    ],
                    "members": {
                        "consoleName": {},
                        "serviceRole": {},
                        "basePath": {},
                        "pages": {
                            "shape": "S9"
                        },
                        "deploymentPreference": {
                            "shape": "S11"
                        },
                        "logGroupName": {},
                        "authentication": {
                            "shape": "S17"
                        }
                    }
                },
                "status": {},
                "progress": {
                    "type": "integer"
                },
                "timeCreated": {
                    "shape": "S1g"
                },
                "timeCancellationRequested": {
                    "shape": "S1g"
                },
                "errorMessage": {},
                "deploymentToken": {}
            }
        },
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "path",
                    "title",
                    "securityHeadersVersion",
                    "supportedLocales",
                    "csp"
                ],
                "members": {
                    "path": {},
                    "title": {},
                    "securityHeadersVersion": {},
                    "supportedLocales": {
                        "type": "list",
                        "member": {}
                    },
                    "csp": {
                        "type": "structure",
                        "required": [
                            "version"
                        ],
                        "members": {
                            "version": {},
                            "additionalDirectives": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "name",
                                        "values"
                                    ],
                                    "members": {
                                        "name": {},
                                        "values": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "scripts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "path"
                            ],
                            "members": {
                                "source": {},
                                "path": {},
                                "htmlAttributes": {}
                            }
                        }
                    },
                    "styles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "path"
                            ],
                            "members": {
                                "source": {},
                                "path": {},
                                "htmlAttributes": {}
                            }
                        }
                    },
                    "context": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "dynamicFeatureConfiguration": {
                        "type": "structure",
                        "members": {
                            "s3FeatureConfigurationSource": {
                                "type": "structure",
                                "required": [
                                    "bucketName",
                                    "keyName"
                                ],
                                "members": {
                                    "bucketName": {},
                                    "keyName": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            }
        },
        "S11": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "type": {},
                "preTrafficFunction": {},
                "postTrafficFunction": {},
                "cloudWatchAlarmsNames": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S17": {
            "type": "structure",
            "required": [
                "signInArn",
                "consoleAccess",
                "allowedAccounts"
            ],
            "members": {
                "signInArn": {},
                "productCode": {},
                "consoleAccess": {},
                "allowedAccounts": {
                    "type": "list",
                    "member": {}
                },
                "redirectUrl": {}
            }
        },
        "S1g": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S1m": {
            "type": "structure",
            "required": [
                "hashValue",
                "hashVersion"
            ],
            "members": {
                "hashValue": {},
                "hashVersion": {}
            }
        },
        "S1q": {
            "type": "structure",
            "required": [
                "assetArn",
                "status"
            ],
            "members": {
                "assetArn": {},
                "path": {},
                "status": {},
                "errorMessage": {},
                "assetHash": {
                    "shape": "S1m"
                }
            }
        },
        "S1w": {
            "type": "structure",
            "required": [
                "consoleName",
                "serviceRole",
                "basePath",
                "pages",
                "url",
                "domain",
                "deploymentPreference",
                "logGroupName",
                "authentication"
            ],
            "members": {
                "consoleName": {},
                "serviceRole": {},
                "basePath": {},
                "pages": {
                    "shape": "S9"
                },
                "url": {},
                "domain": {},
                "deploymentPreference": {
                    "shape": "S11"
                },
                "logGroupName": {},
                "authentication": {
                    "shape": "S17"
                },
                "lastDeploymentId": {}
            }
        },
        "S16": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "type": {},
                "preTrafficFunction": {},
                "postTrafficFunction": {},
                "cloudWatchAlarmsNames": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S1c": {
            "type": "structure",
            "required": [
                "signInArn",
                "consoleAccess",
                "allowedAccounts"
            ],
            "members": {
                "signInArn": {},
                "productCode": {},
                "consoleAccess": {},
                "allowedAccounts": {
                    "type": "list",
                    "member": {}
                },
                "redirectUrl": {}
            }
        },
        "S1l": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S1r": {
            "type": "structure",
            "required": [
                "hashValue",
                "hashVersion"
            ],
            "members": {
                "hashValue": {},
                "hashVersion": {}
            }
        },
        "S1v": {
            "type": "structure",
            "required": [
                "assetArn",
                "status"
            ],
            "members": {
                "assetArn": {},
                "path": {},
                "status": {},
                "errorMessage": {},
                "assetHash": {
                    "shape": "S1r"
                }
            }
        },
        "S21": {
            "type": "structure",
            "required": [
                "consoleName",
                "serviceRole",
                "basePath",
                "pages",
                "url",
                "domain",
                "deploymentPreference",
                "logGroupName",
                "authentication"
            ],
            "members": {
                "consoleName": {},
                "serviceRole": {},
                "basePath": {},
                "pages": {
                    "shape": "S9"
                },
                "url": {},
                "domain": {},
                "dualstackUrl": {},
                "dualstackDomain": {},
                "deploymentPreference": {
                    "shape": "S16"
                },
                "logGroupName": {},
                "authentication": {
                    "shape": "S1c"
                },
                "lastDeploymentId": {}
            }
        }
    }
}