{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-11",
        "endpointPrefix": "tangerinebox",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "TangerineBox",
        "serviceId": "tangerinebox",
        "signatureVersion": "v4",
        "signingName": "tangerinebox",
        "uid": "tangerinebox-2018-11-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PZQWAXQK7VTXJLL2GEDWYKZCXN5GJMICGSN2VCCE2YX2ILXOF5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
        ]
    },
    "operations": {
        "CancelDeployment": {
            "http": {
                "requestUri": "/consoles/{consoleName}/deployments/{deploymentId}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId",
                    "consoleName"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    },
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployment": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        },
        "CreateAsset": {
            "http": {
                "requestUri": "/assets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetSourceS3Bucket",
                    "assetSourceS3Key"
                ],
                "members": {
                    "assetSourceS3Bucket": {},
                    "assetSourceS3Key": {},
                    "assetHash": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "shape": "S1q"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        },
        "CreateConsole": {
            "http": {
                "requestUri": "/consoles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName",
                    "serviceRole",
                    "basePath",
                    "pages",
                    "deploymentPreference",
                    "logGroupName",
                    "authentication"
                ],
                "members": {
                    "consoleName": {},
                    "serviceRole": {},
                    "basePath": {},
                    "pages": {
                        "shape": "S9"
                    },
                    "deploymentPreference": {
                        "shape": "S11"
                    },
                    "logGroupName": {},
                    "authentication": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        },
        "DeleteConsole": {
            "http": {
                "method": "DELETE",
                "requestUri": "/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        },
        "DescribeAsset": {
            "http": {
                "method": "GET",
                "requestUri": "/assets/{assetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetArn"
                ],
                "members": {
                    "assetArn": {
                        "location": "uri",
                        "locationName": "assetArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        },
        "DescribeConsole": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        },
        "DescribeDeployment": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles/{consoleName}/deployments/{deploymentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId",
                    "consoleName"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    },
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployment": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        },
        "ListConsoles": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "consoles"
                ],
                "members": {
                    "nextToken": {},
                    "consoles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "consoleName"
                            ],
                            "members": {
                                "consoleName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        },
        "ListDeployments": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles/{consoleName}/deployments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deployments"
                ],
                "members": {
                    "deployments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "deploymentId",
                                "timeCreated",
                                "status"
                            ],
                            "members": {
                                "deploymentId": {},
                                "timeCreated": {
                                    "shape": "S1g"
                                },
                                "status": {},
                                "timeCancellationRequested": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        },
        "UpdateConsole": {
            "http": {
                "method": "PUT",
                "requestUri": "/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName",
                    "serviceRole",
                    "basePath",
                    "pages",
                    "deploymentPreference",
                    "logGroupName",
                    "authentication"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    },
                    "serviceRole": {},
                    "basePath": {},
                    "pages": {
                        "shape": "S9"
                    },
                    "deploymentPreference": {
                        "shape": "S11"
                    },
                    "logGroupName": {},
                    "authentication": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        },
        "CreateTelemetrySink": {
            "http": {
                "requestUri": "/telemetry/sink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "servicePrincipal",
                    "sinkName",
                    "logGroupName",
                    "serviceRole",
                    "sinkType"
                ],
                "members": {
                    "servicePrincipal": {},
                    "sinkName": {},
                    "logGroupName": {},
                    "serviceRole": {},
                    "sinkType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "telemetryToken",
                    "sinkArn"
                ],
                "members": {
                    "telemetryToken": {},
                    "sinkArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        },
        "DeleteTelemetrySink": {
            "http": {
                "method": "DELETE",
                "requestUri": "/telemetry/sink/{telemetryToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "telemetryToken"
                ],
                "members": {
                    "telemetryToken": {
                        "location": "uri",
                        "locationName": "telemetryToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        },
        "DescribeTelemetrySink": {
            "http": {
                "method": "GET",
                "requestUri": "/telemetry/sink/{telemetryToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "telemetryToken"
                ],
                "members": {
                    "telemetryToken": {
                        "location": "uri",
                        "locationName": "telemetryToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "servicePrincipal",
                    "logGroupName",
                    "serviceRole",
                    "sinkType"
                ],
                "members": {
                    "servicePrincipal": {},
                    "logGroupName": {},
                    "serviceRole": {},
                    "sinkType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        },
        "UpdateTelemetrySink": {
            "http": {
                "method": "PUT",
                "requestUri": "/telemetry/sink/{telemetryToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "telemetryToken",
                    "logGroupName",
                    "serviceRole"
                ],
                "members": {
                    "telemetryToken": {
                        "location": "uri",
                        "locationName": "telemetryToken"
                    },
                    "logGroupName": {},
                    "serviceRole": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "telemetryToken"
                ],
                "members": {
                    "telemetryToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHDKYOTUJAORGE3PJAWEQEZMIRI2U2SMBOEI2OFTOEXGVR365JCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H2ZYNX5TOOYZMKSDGOW3AT3ZDBAWW7FHD2WEI4YJCFGWBZCDXDPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFZXUS33GQEJCBB452FGDCLX2R4WH623WCQXSTBQ6IRAAIFTAMDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQNI6FV4ZBIFRPLQHEAOXVZJBF7JDLHX6TJT2YY7U6MU5PALCWDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWVCGRXYWMKAIYMJNLWFXPJSFSMGSGPGIVSY5SHM77MK6UOW3L4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5LFVAUY4Z7U5MRP4ER3YIWTKGR5FOI4ADH6F4FNCCEV5WNES5VA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWJA46G4CUNW5VYAOILDDNHMPNHWHXKXT6E7763KPNJ67KM57NJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YRBEYD3XMVR4WRPACS43IH22TJOJILBEEMEQ3CBJIGH3E34HZEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47WTPDRHLDX5EZWLXGSRIEBJME34FGAH7LSIH4QWT7SDMV6TT5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDP4O6U6O4OR2MNZ276FQ3AHHKRIEBGBCAVFHXQ3Q5YJU3RDVWMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MSYVNMO4EKM43VKV6AQHNIBWKDZINSVPJRFBXJUPKN3QAWFWEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/35AQPDCKAMS5XFTHREARLT7IFA5AFXMM5QQPYMX2GZC2SZGFTBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECEZO7CFZ27TQIF7PRPB5AAWDLHZ2PSITORQESPEMBP5NZUOLJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GPPEJVDQ32XEMKKBP3JLN7335X47DI7ULT6UA4TQUI3PY67ZT2TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEXDB47VQ66TXNFZBTRSXQ4OFYV7EF7XA5QJLCKCJWYSYXVNMSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWYOKYQ6WPV2IVJ4XGBJ3FOMN6GYBNDFRQYCNMZM7ISASI7GDCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6G5ERU5G7BMC3SPJ3TFTK6CWCSFRPUEAOP3YZ45KHDHOXJDJ25ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7THALA7E3NN3H5NKWAP23HH22FN4JW2RZTZBP75YN3NJW424KBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBUWP27A5EF6DA2QLQYUGM3DN7BFPPEKCPWPY2Q6ZHPBLTHVI5RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "deploymentId",
                "consoleConfiguration",
                "status",
                "progress",
                "timeCreated"
            ],
            "members": {
                "deploymentId": {},
                "consoleConfiguration": {
                    "type": "structure",
                    "required": [
                        "consoleName",
                        "serviceRole",
                        "basePath",
                        "pages",
                        "deploymentPreference",
                        "logGroupName",
                        "authentication"
                    ],
                    "members": {
                        "consoleName": {},
                        "serviceRole": {},
                        "basePath": {},
                        "pages": {
                            "shape": "S9"
                        },
                        "deploymentPreference": {
                            "shape": "S11"
                        },
                        "logGroupName": {},
                        "authentication": {
                            "shape": "S17"
                        }
                    }
                },
                "status": {},
                "progress": {
                    "type": "integer"
                },
                "timeCreated": {
                    "shape": "S1g"
                },
                "timeCancellationRequested": {
                    "shape": "S1g"
                },
                "errorMessage": {},
                "deploymentToken": {}
            }
        },
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "path",
                    "title",
                    "securityHeadersVersion",
                    "supportedLocales",
                    "csp"
                ],
                "members": {
                    "path": {},
                    "title": {},
                    "securityHeadersVersion": {},
                    "supportedLocales": {
                        "type": "list",
                        "member": {}
                    },
                    "csp": {
                        "type": "structure",
                        "required": [
                            "version"
                        ],
                        "members": {
                            "version": {},
                            "additionalDirectives": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "name",
                                        "values"
                                    ],
                                    "members": {
                                        "name": {},
                                        "values": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "scripts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "path"
                            ],
                            "members": {
                                "source": {},
                                "path": {},
                                "htmlAttributes": {}
                            }
                        }
                    },
                    "styles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "path"
                            ],
                            "members": {
                                "source": {},
                                "path": {},
                                "htmlAttributes": {}
                            }
                        }
                    },
                    "context": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "dynamicFeatureConfiguration": {
                        "type": "structure",
                        "members": {
                            "s3FeatureConfigurationSource": {
                                "type": "structure",
                                "required": [
                                    "bucketName",
                                    "keyName"
                                ],
                                "members": {
                                    "bucketName": {},
                                    "keyName": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            }
        },
        "S11": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "type": {},
                "preTrafficFunction": {},
                "postTrafficFunction": {},
                "cloudWatchAlarmsNames": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S17": {
            "type": "structure",
            "required": [
                "signInArn",
                "consoleAccess",
                "allowedAccounts"
            ],
            "members": {
                "signInArn": {},
                "productCode": {},
                "consoleAccess": {},
                "allowedAccounts": {
                    "type": "list",
                    "member": {}
                },
                "redirectUrl": {}
            }
        },
        "S1g": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S1m": {
            "type": "structure",
            "required": [
                "hashValue",
                "hashVersion"
            ],
            "members": {
                "hashValue": {},
                "hashVersion": {}
            }
        },
        "S1q": {
            "type": "structure",
            "required": [
                "assetArn",
                "status"
            ],
            "members": {
                "assetArn": {},
                "path": {},
                "status": {},
                "errorMessage": {},
                "assetHash": {
                    "shape": "S1m"
                }
            }
        },
        "S1w": {
            "type": "structure",
            "required": [
                "consoleName",
                "serviceRole",
                "basePath",
                "pages",
                "url",
                "domain",
                "deploymentPreference",
                "logGroupName",
                "authentication"
            ],
            "members": {
                "consoleName": {},
                "serviceRole": {},
                "basePath": {},
                "pages": {
                    "shape": "S9"
                },
                "url": {},
                "domain": {},
                "deploymentPreference": {
                    "shape": "S11"
                },
                "logGroupName": {},
                "authentication": {
                    "shape": "S17"
                },
                "lastDeploymentId": {}
            }
        }
    }
}