{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-11",
        "endpointPrefix": "tangerinebox",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "TangerineBox",
        "serviceId": "tangerinebox",
        "signatureVersion": "v4",
        "signingName": "tangerinebox",
        "uid": "tangerinebox-2018-11-11",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOBR22IST2KY3ABUPPZSIJNFBFLFK55DFHFQRTCIFO2WLS7CMVXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
        ]
    },
    "operations": {
        "CancelDeployment": {
            "http": {
                "requestUri": "/consoles/{consoleName}/deployments/{deploymentId}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId",
                    "consoleName"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    },
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployment": {
                        "shape": "S5"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "CreateAsset": {
            "http": {
                "requestUri": "/assets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetSourceS3Bucket",
                    "assetSourceS3Key"
                ],
                "members": {
                    "assetSourceS3Bucket": {},
                    "assetSourceS3Key": {},
                    "assetHash": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "shape": "S1q"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "CreateConsole": {
            "http": {
                "requestUri": "/consoles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName",
                    "serviceRole",
                    "basePath",
                    "pages",
                    "deploymentPreference",
                    "logGroupName",
                    "authentication"
                ],
                "members": {
                    "consoleName": {},
                    "serviceRole": {},
                    "basePath": {},
                    "pages": {
                        "shape": "S9"
                    },
                    "deploymentPreference": {
                        "shape": "S11"
                    },
                    "logGroupName": {},
                    "authentication": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "DeleteConsole": {
            "http": {
                "method": "DELETE",
                "requestUri": "/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "DescribeAsset": {
            "http": {
                "method": "GET",
                "requestUri": "/assets/{assetArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "assetArn"
                ],
                "members": {
                    "assetArn": {
                        "location": "uri",
                        "locationName": "assetArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "asset": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "DescribeConsole": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "DescribeDeployment": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles/{consoleName}/deployments/{deploymentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "deploymentId",
                    "consoleName"
                ],
                "members": {
                    "deploymentId": {
                        "location": "uri",
                        "locationName": "deploymentId"
                    },
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "deployment": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "ListConsoles": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "consoles"
                ],
                "members": {
                    "nextToken": {},
                    "consoles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "consoleName"
                            ],
                            "members": {
                                "consoleName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "ListDeployments": {
            "http": {
                "method": "GET",
                "requestUri": "/consoles/{consoleName}/deployments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "deployments"
                ],
                "members": {
                    "deployments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "deploymentId",
                                "timeCreated",
                                "status"
                            ],
                            "members": {
                                "deploymentId": {},
                                "timeCreated": {
                                    "shape": "S1g"
                                },
                                "status": {},
                                "timeCancellationRequested": {
                                    "shape": "S1g"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "UpdateConsole": {
            "http": {
                "method": "PUT",
                "requestUri": "/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName",
                    "serviceRole",
                    "basePath",
                    "pages",
                    "deploymentPreference",
                    "logGroupName",
                    "authentication"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    },
                    "serviceRole": {},
                    "basePath": {},
                    "pages": {
                        "shape": "S9"
                    },
                    "deploymentPreference": {
                        "shape": "S11"
                    },
                    "logGroupName": {},
                    "authentication": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "CreateTelemetrySink": {
            "http": {
                "requestUri": "/telemetry/sink",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "servicePrincipal",
                    "sinkName",
                    "logGroupName",
                    "serviceRole",
                    "sinkType"
                ],
                "members": {
                    "servicePrincipal": {},
                    "sinkName": {},
                    "logGroupName": {},
                    "serviceRole": {},
                    "sinkType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "telemetryToken",
                    "sinkArn"
                ],
                "members": {
                    "telemetryToken": {},
                    "sinkArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "DeleteTelemetrySink": {
            "http": {
                "method": "DELETE",
                "requestUri": "/telemetry/sink/{telemetryToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "telemetryToken"
                ],
                "members": {
                    "telemetryToken": {
                        "location": "uri",
                        "locationName": "telemetryToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "DescribeTelemetrySink": {
            "http": {
                "method": "GET",
                "requestUri": "/telemetry/sink/{telemetryToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "telemetryToken"
                ],
                "members": {
                    "telemetryToken": {
                        "location": "uri",
                        "locationName": "telemetryToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "servicePrincipal",
                    "logGroupName",
                    "serviceRole",
                    "sinkType"
                ],
                "members": {
                    "servicePrincipal": {},
                    "logGroupName": {},
                    "serviceRole": {},
                    "sinkType": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "UpdateTelemetrySink": {
            "http": {
                "method": "PUT",
                "requestUri": "/telemetry/sink/{telemetryToken}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "telemetryToken",
                    "logGroupName",
                    "serviceRole"
                ],
                "members": {
                    "telemetryToken": {
                        "location": "uri",
                        "locationName": "telemetryToken"
                    },
                    "logGroupName": {},
                    "serviceRole": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "telemetryToken"
                ],
                "members": {
                    "telemetryToken": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3YCSKKE4IPM7FU2UOUL5UNWT4Z6WN7IDB7NJGPDJS4VZANCDNIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXIU2KIKPUTEU7TQ5DQOX6O3DNMPRQXILCPUDLIQKIYSM7STA3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWPR22XK6FZQABXR6LGXUH7RG7SAV3WWZ4UHZF5KB2PJLQ37DGIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKYD6BI6YSF5B6ZCWFAA52HPWHP6EWBBLYW4K5QDZOL7HXHLKC7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZOVVG2TS6I2DWGIPFO4HNNZGMUHEGEHNTVHHRHBCW53DGCNXV6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2V3R7TWRVLSGPZDZILOANLRR6IZTJHU2DPXONHCN3WZU2M5Q7EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3IGCJQZQGQORWHPOSDIJOANIDIVLMUJGZL7MPEBNBYTR4RRRNYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTJ2CGEVVJIIU473ZBNQU2PMDC7OFP64RTTRNZUBSASJ5BTNJCIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC2ONJIQ3LMGL7Z26V3B3KHF5ISOPS4OXVQGOBTQYESWITCPSBVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XQIH2JQEKURAGXL4JUNYPFV46ZLCHTMMNNLAQN2R46WX7V7C5ORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTZNINMRL4K5RWWTMK22632XQMS7S4KLSO3W7P4XZYHETDZRNYIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3HYIUHGTBM3PQC3KNTUWJEBZNYER4MSMB6QYNNOIKDF5KHVGNZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUGIXFOWUEKFLLLOLE5FKIXMGBHAXZF6FRLDYV7ZP3GYRGI2LTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGT4ZVWONG4AL3WQK3ZNZQOJUYP44IJNVTXMFTIXHI52CT7U7UAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3WSVBKNERPRJSLV3XZYPN4QLKFOT5I6AWYRUGM4WONMFRDW3QBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KPKDWDAEIBVUIQ3MODIMN5V6ZCDLJNPAUOV277IPDJ7KRDHHXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLAZ3OR5SVQX7VKXFQAMWTQ4VQ6Q5XXGDSFVDRSAFRKVOUSE66OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJ2VOMJEENTKZDLPXMNMA2MI4EQ2XN3AAWETMHV6DXJCA53Z4WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGH3THGGAHK5GIQDIPY3ON6DDSOJXHIED4S3MYJHUHS2XADECQBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2TNMG4K7S6H7MTETHZHETM6OHZZEQJ62YUCJHJAT4E4I6FBL3MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2S5IMUEQ75NS224REQTY6XHQOVMB5UKDJOAJPDC33A5YHXGUSP4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        },
        "InternalDescribeConsole": {
            "http": {
                "method": "GET",
                "requestUri": "/internal/accounts/{accountId}/consoles/{consoleName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "consoleName",
                    "accountId"
                ],
                "members": {
                    "consoleName": {
                        "location": "uri",
                        "locationName": "consoleName"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "console": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YYIRGASX2EH4XX3AXBSINZ3C4JY5RSWBKYNF3HAS4G674HZAQOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KCXEQQEJGLRQ436T4MM2DLO3EDHLXX4P5EEZPU7O5VM4QL2N5JRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOIT7OSTDIOYC2CUL6RW6QJKDLIMH4GXPVAYL7DA33HVVQ7KNTUA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "deploymentId",
                "consoleConfiguration",
                "status",
                "progress",
                "timeCreated"
            ],
            "members": {
                "deploymentId": {},
                "consoleConfiguration": {
                    "type": "structure",
                    "required": [
                        "consoleName",
                        "serviceRole",
                        "basePath",
                        "pages",
                        "deploymentPreference",
                        "logGroupName",
                        "authentication"
                    ],
                    "members": {
                        "consoleName": {},
                        "serviceRole": {},
                        "basePath": {},
                        "pages": {
                            "shape": "S9"
                        },
                        "deploymentPreference": {
                            "shape": "S11"
                        },
                        "logGroupName": {},
                        "authentication": {
                            "shape": "S17"
                        }
                    }
                },
                "status": {},
                "progress": {
                    "type": "integer"
                },
                "timeCreated": {
                    "shape": "S1g"
                },
                "timeCancellationRequested": {
                    "shape": "S1g"
                },
                "errorMessage": {},
                "deploymentToken": {}
            }
        },
        "S9": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "path",
                    "title",
                    "securityHeadersVersion",
                    "supportedLocales",
                    "csp"
                ],
                "members": {
                    "path": {},
                    "title": {},
                    "securityHeadersVersion": {},
                    "supportedLocales": {
                        "type": "list",
                        "member": {}
                    },
                    "csp": {
                        "type": "structure",
                        "required": [
                            "version"
                        ],
                        "members": {
                            "version": {},
                            "additionalDirectives": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "name",
                                        "values"
                                    ],
                                    "members": {
                                        "name": {},
                                        "values": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "scripts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "path"
                            ],
                            "members": {
                                "source": {},
                                "path": {},
                                "htmlAttributes": {}
                            }
                        }
                    },
                    "styles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "source",
                                "path"
                            ],
                            "members": {
                                "source": {},
                                "path": {},
                                "htmlAttributes": {}
                            }
                        }
                    },
                    "context": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "dynamicFeatureConfiguration": {
                        "type": "structure",
                        "members": {
                            "s3FeatureConfigurationSource": {
                                "type": "structure",
                                "required": [
                                    "bucketName",
                                    "keyName"
                                ],
                                "members": {
                                    "bucketName": {},
                                    "keyName": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            }
        },
        "S11": {
            "type": "structure",
            "required": [
                "type"
            ],
            "members": {
                "type": {},
                "preTrafficFunction": {},
                "postTrafficFunction": {},
                "cloudWatchAlarmsNames": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S17": {
            "type": "structure",
            "required": [
                "signInArn",
                "consoleAccess",
                "allowedAccounts"
            ],
            "members": {
                "signInArn": {},
                "productCode": {},
                "consoleAccess": {},
                "allowedAccounts": {
                    "type": "list",
                    "member": {}
                },
                "redirectUrl": {}
            }
        },
        "S1g": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S1m": {
            "type": "structure",
            "required": [
                "hashValue",
                "hashVersion"
            ],
            "members": {
                "hashValue": {},
                "hashVersion": {}
            }
        },
        "S1q": {
            "type": "structure",
            "required": [
                "assetArn",
                "status"
            ],
            "members": {
                "assetArn": {},
                "path": {},
                "status": {},
                "errorMessage": {},
                "assetHash": {
                    "shape": "S1m"
                }
            }
        },
        "S1w": {
            "type": "structure",
            "required": [
                "consoleName",
                "serviceRole",
                "basePath",
                "pages",
                "url",
                "domain",
                "deploymentPreference",
                "logGroupName",
                "authentication"
            ],
            "members": {
                "consoleName": {},
                "serviceRole": {},
                "basePath": {},
                "pages": {
                    "shape": "S9"
                },
                "url": {},
                "domain": {},
                "deploymentPreference": {
                    "shape": "S11"
                },
                "logGroupName": {},
                "authentication": {
                    "shape": "S17"
                },
                "lastDeploymentId": {}
            }
        }
    }
}