{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-06-27",
        "endpointPrefix": "textract",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Textract",
        "serviceId": "Textract",
        "signatureVersion": "v4",
        "targetPrefix": "Textract",
        "uid": "textract-2018-06-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AnalyzeDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "Document",
                    "FeatureTypes"
                ],
                "members": {
                    "Document": {
                        "shape": "S2"
                    },
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "HumanLoopConfig": {
                        "type": "structure",
                        "required": [
                            "HumanLoopName",
                            "FlowDefinitionArn"
                        ],
                        "members": {
                            "HumanLoopName": {},
                            "FlowDefinitionArn": {},
                            "DataAttributes": {
                                "type": "structure",
                                "members": {
                                    "ContentClassifiers": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            }
                        }
                    },
                    "QueriesConfig": {
                        "shape": "Sg"
                    },
                    "AdaptersConfig": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "Blocks": {
                        "shape": "Sp"
                    },
                    "HumanLoopActivationOutput": {
                        "type": "structure",
                        "members": {
                            "HumanLoopArn": {},
                            "HumanLoopActivationReasons": {
                                "type": "list",
                                "member": {}
                            },
                            "HumanLoopActivationConditionsEvaluationResults": {
                                "jsonvalue": true
                            }
                        }
                    },
                    "AnalyzeDocumentModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AnalyzeExpense": {
            "input": {
                "type": "structure",
                "required": [
                    "Document"
                ],
                "members": {
                    "Document": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "ExpenseDocuments": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5DUOOPVYV5TOCSQWLHLMIQEQ6M4S752TWQXTJ3EVZUX24WWJLUVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AnalyzeID": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentPages"
                ],
                "members": {
                    "DocumentPages": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityDocuments": {
                        "type": "list",
                        "member": {
                            "shape": "S1x"
                        }
                    },
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "AnalyzeIDModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DetectDocumentText": {
            "input": {
                "type": "structure",
                "required": [
                    "Document"
                ],
                "members": {
                    "Document": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "Blocks": {
                        "shape": "Sp"
                    },
                    "DetectDocumentTextModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDocumentAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "Blocks": {
                        "shape": "Sp"
                    },
                    "Warnings": {
                        "shape": "S2b"
                    },
                    "StatusMessage": {},
                    "AnalyzeDocumentModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDocumentTextDetection": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "Blocks": {
                        "shape": "Sp"
                    },
                    "Warnings": {
                        "shape": "S2b"
                    },
                    "StatusMessage": {},
                    "DetectDocumentTextModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetExpenseAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "ExpenseDocuments": {
                        "shape": "S1f"
                    },
                    "Warnings": {
                        "shape": "S2b"
                    },
                    "StatusMessage": {},
                    "AnalyzeExpenseModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetLendingAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Page": {
                                    "type": "integer"
                                },
                                "PageClassification": {
                                    "type": "structure",
                                    "required": [
                                        "PageType",
                                        "PageNumber"
                                    ],
                                    "members": {
                                        "PageType": {
                                            "shape": "S2p"
                                        },
                                        "PageNumber": {
                                            "shape": "S2p"
                                        }
                                    }
                                },
                                "Extractions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "LendingDocument": {
                                                "type": "structure",
                                                "members": {
                                                    "LendingFields": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "Type": {},
                                                                "KeyDetection": {
                                                                    "shape": "S2w"
                                                                },
                                                                "ValueDetections": {
                                                                    "type": "list",
                                                                    "member": {
                                                                        "shape": "S2w"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "SignatureDetections": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "Confidence": {
                                                                    "type": "float"
                                                                },
                                                                "Geometry": {
                                                                    "shape": "Sv"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "ExpenseDocument": {
                                                "shape": "S1g"
                                            },
                                            "IdentityDocument": {
                                                "shape": "S1x"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Warnings": {
                        "shape": "S2b"
                    },
                    "StatusMessage": {},
                    "AnalyzeLendingModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetLendingAnalysisSummary": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "JobStatus": {},
                    "Summary": {
                        "type": "structure",
                        "members": {
                            "DocumentGroups": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Type": {},
                                        "SplitDocuments": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Index": {
                                                        "type": "integer"
                                                    },
                                                    "Pages": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "DetectedSignatures": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Page": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "UndetectedSignatures": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Page": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "UndetectedDocumentTypes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "Warnings": {
                        "shape": "S2b"
                    },
                    "StatusMessage": {},
                    "AnalyzeLendingModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartDocumentAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation",
                    "FeatureTypes"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S3e"
                    },
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S3h"
                    },
                    "OutputConfig": {
                        "shape": "S3k"
                    },
                    "KMSKeyId": {},
                    "QueriesConfig": {
                        "shape": "Sg"
                    },
                    "AdaptersConfig": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartDocumentTextDetection": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S3e"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S3h"
                    },
                    "OutputConfig": {
                        "shape": "S3k"
                    },
                    "KMSKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ZWEXK2BNUJLYVSAB6ZSGCTW72FHOUEPHSTZCAEXFRHZ7WCZYEQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6VPV6CNH33KSOZ7SC7KK4JKXPHNNCP3FE3JF2QL2HQM2TZAOGPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartExpenseAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S3e"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S3h"
                    },
                    "OutputConfig": {
                        "shape": "S3k"
                    },
                    "KMSKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartLendingAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S3e"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S3h"
                    },
                    "OutputConfig": {
                        "shape": "S3k"
                    },
                    "KMSKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateAdapter": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterName",
                    "FeatureTypes"
                ],
                "members": {
                    "AdapterName": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "AutoUpdate": {},
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateAdapterVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId",
                    "DatasetConfig",
                    "OutputConfig"
                ],
                "members": {
                    "AdapterId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "DatasetConfig": {
                        "shape": "S2k"
                    },
                    "KMSKeyId": {},
                    "OutputConfig": {
                        "shape": "S2m"
                    },
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAdapter": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId"
                ],
                "members": {
                    "AdapterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAdapterVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId",
                    "AdapterVersion"
                ],
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAdapter": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId"
                ],
                "members": {
                    "AdapterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AdapterName": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "AutoUpdate": {},
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAdapterVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId",
                    "AdapterVersion"
                ],
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "Status": {},
                    "StatusMessage": {},
                    "DatasetConfig": {
                        "shape": "S2k"
                    },
                    "KMSKeyId": {},
                    "OutputConfig": {
                        "shape": "S2m"
                    },
                    "EvaluationMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Baseline": {
                                    "shape": "S33"
                                },
                                "AdapterVersion": {
                                    "shape": "S33"
                                },
                                "FeatureType": {}
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListAdapterVersions": {
            "input": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AfterCreationTime": {
                        "type": "timestamp"
                    },
                    "BeforeCreationTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterVersions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AdapterId": {},
                                "AdapterVersion": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "FeatureTypes": {
                                    "shape": "S8"
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListAdapters": {
            "input": {
                "type": "structure",
                "members": {
                    "AfterCreationTime": {
                        "type": "timestamp"
                    },
                    "BeforeCreationTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Adapters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AdapterId": {},
                                "AdapterName": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "FeatureTypes": {
                                    "shape": "S8"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
[...]
