{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-06-27",
        "endpointPrefix": "textract",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Textract",
        "signatureVersion": "v4",
        "targetPrefix": "Textract",
        "uid": "Textract-2018-06-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
        ]
    },
    "operations": {
        "AnalyzeDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "Document",
                    "FeatureTypes"
                ],
                "members": {
                    "Document": {
                        "shape": "S2"
                    },
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "HumanLoopConfig": {
                        "type": "structure",
                        "required": [
                            "HumanLoopName",
                            "FlowDefinitionArn"
                        ],
                        "members": {
                            "HumanLoopName": {},
                            "FlowDefinitionArn": {},
                            "DataAttributes": {
                                "type": "structure",
                                "members": {
                                    "ContentClassifiers": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            }
                        }
                    },
                    "QueriesConfig": {
                        "shape": "Sg"
                    },
                    "FormsConfig": {
                        "type": "structure",
                        "members": {
                            "Hints": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Text"
                                    ],
                                    "members": {
                                        "Text": {},
                                        "Pages": {
                                            "type": "list",
                                            "member": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "AdaptersConfig": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "Blocks": {
                        "shape": "S12"
                    },
                    "HumanLoopActivationOutput": {
                        "type": "structure",
                        "members": {
                            "HumanLoopArn": {},
                            "HumanLoopActivationReasons": {
                                "type": "list",
                                "member": {}
                            },
                            "HumanLoopActivationConditionsEvaluationResults": {
                                "jsonvalue": true
                            }
                        }
                    },
                    "AnalyzeDocumentModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "AnalyzeExpense": {
            "input": {
                "type": "structure",
                "required": [
                    "Document"
                ],
                "members": {
                    "Document": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "ExpenseDocuments": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "AnalyzeID": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentPages"
                ],
                "members": {
                    "DocumentPages": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityDocuments": {
                        "type": "list",
                        "member": {
                            "shape": "S2e"
                        }
                    },
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "AnalyzeIDModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "CreateAdapter": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterName",
                    "FeatureTypes"
                ],
                "members": {
                    "AdapterName": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "AutoUpdate": {},
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "CreateAdapterVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId",
                    "DatasetConfig",
                    "OutputConfig"
                ],
                "members": {
                    "AdapterId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "DatasetConfig": {
                        "shape": "S2u"
                    },
                    "KMSKeyId": {},
                    "OutputConfig": {
                        "shape": "S2x"
                    },
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "DeleteAdapter": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId"
                ],
                "members": {
                    "AdapterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "DeleteAdapterVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId",
                    "AdapterVersion"
                ],
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "DetectDocumentText": {
            "input": {
                "type": "structure",
                "required": [
                    "Document"
                ],
                "members": {
                    "Document": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "Blocks": {
                        "shape": "S12"
                    },
                    "DetectDocumentTextModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "GetAdapter": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId"
                ],
                "members": {
                    "AdapterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AdapterName": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "AutoUpdate": {},
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "GetAdapterVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId",
                    "AdapterVersion"
                ],
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "Status": {},
                    "StatusMessage": {},
                    "DatasetConfig": {
                        "shape": "S2u"
                    },
                    "KMSKeyId": {},
                    "OutputConfig": {
                        "shape": "S2x"
                    },
                    "EvaluationMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Baseline": {
                                    "shape": "S3e"
                                },
                                "AdapterVersion": {
                                    "shape": "S3e"
                                },
                                "FeatureType": {}
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "GetDocumentAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "Blocks": {
                        "shape": "S12"
                    },
                    "Warnings": {
                        "shape": "S3l"
                    },
                    "StatusMessage": {},
                    "AnalyzeDocumentModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "GetDocumentTextDetection": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "Blocks": {
                        "shape": "S12"
                    },
                    "Warnings": {
                        "shape": "S3l"
                    },
                    "StatusMessage": {},
                    "DetectDocumentTextModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "GetExpenseAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "ExpenseDocuments": {
                        "shape": "S1w"
                    },
                    "Warnings": {
                        "shape": "S3l"
                    },
                    "StatusMessage": {},
                    "AnalyzeExpenseModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "GetLendingAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Page": {
                                    "type": "integer"
                                },
                                "PageClassification": {
                                    "shape": "S1l"
                                },
                                "Extractions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "LendingDocument": {
                                                "type": "structure",
                                                "members": {
                                                    "LendingFields": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "Type": {},
                                                                "KeyDetection": {
                                                                    "shape": "S43"
                                                                },
                                                                "ValueDetections": {
                                                                    "type": "list",
                                                                    "member": {
                                                                        "shape": "S43"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "SignatureDetections": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "Confidence": {
                                                                    "type": "float"
                                                                },
                                                                "Geometry": {
                                                                    "shape": "S18"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "ExpenseDocument": {
                                                "shape": "S1x"
                                            },
                                            "IdentityDocument": {
                                                "shape": "S2e"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Warnings": {
                        "shape": "S3l"
                    },
                    "StatusMessage": {},
                    "AnalyzeLendingModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "GetLendingAnalysisSummary": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "JobStatus": {},
                    "Summary": {
                        "type": "structure",
                        "members": {
                            "DocumentGroups": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Type": {},
                                        "SplitDocuments": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Index": {
                                                        "type": "integer"
                                                    },
                                                    "Pages": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "DetectedSignatures": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Page": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "UndetectedSignatures": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Page": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "UndetectedDocumentTypes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "Warnings": {
                        "shape": "S3l"
                    },
                    "StatusMessage": {},
                    "AnalyzeLendingModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "ListAdapterVersions": {
            "input": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AfterCreationTime": {
                        "type": "timestamp"
                    },
                    "BeforeCreationTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterVersions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AdapterId": {},
                                "AdapterVersion": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "FeatureTypes": {
                                    "shape": "S8"
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "ListAdapters": {
            "input": {
                "type": "structure",
                "members": {
                    "AfterCreationTime": {
                        "type": "timestamp"
                    },
                    "BeforeCreationTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Adapters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AdapterId": {},
                                "AdapterName": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "FeatureTypes": {
                                    "shape": "S8"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "StartDocumentAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation",
                    "FeatureTypes"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S4w"
                    },
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S4y"
                    },
                    "OutputConfig": {
                        "shape": "S2x"
                    },
                    "KMSKeyId": {},
                    "QueriesConfig": {
                        "shape": "Sg"
                    },
                    "AdaptersConfig": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "StartDocumentTextDetection": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S4w"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S4y"
                    },
                    "OutputConfig": {
                        "shape": "S2x"
                    },
                    "KMSKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "StartExpenseAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S4w"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S4y"
                    },
                    "OutputConfig": {
                        "shape": "S2x"
                    },
                    "KMSKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "StartLendingAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S4w"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S4y"
                    },
                    "OutputConfig": {
                        "shape": "S2x"
                    },
                    "KMSKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX225KE55TQTCY42K4OWIQGBEQUUBOJMXGAKPXJR6VJ4VKBDDB7A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNOI7SJA4IKVLNO5D2WR52PEPUXZH7P3HJUC7ULRVSLUAEBBFLIQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LK44ZWUKQVWM2QHQEJPQD3OONTTWHFIMAHT7EJBO74XOPZHGLNEQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUC5OU5OOSUIMFAETH4BTTM377IMPQYSHCD4UCDBNF72FPHNTPRA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/764YFN3WWBJ54MYZSGS2JXX6N6JSQM6UWGAESGKKWWANPW4JAMGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN26MDCLT34JHCMOOBGKHUWXDHFYF4W6KJS6XEBTQYD3PTOB6PQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUSGIJJFQ54IQ6U3E6QSQJ5L3RALI4K54ORS5EWNB27XQJXYB4A/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVAW7XWJI3UBIM35VEEAVX7E5EUHWV4CBCOY37OJZ6Q77DOPW2QQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD7N4RIEPIDXVVOIMBMBZY74T4WJAX7XASC25R4COYNULJ4AEJGA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRRPBB4LWEPIDEH3GMOYJIBP3OA7J6NGLAQ5IXWKH74GFHF7O2FQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNJ4R4H2NJBLU56RLS7EMLOCNHPOYPK256XSCAPM4KQLVWJSPRUA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5IC3H5535SOBLP7MANWERKL34GOGJRF6VE4AO2CKFGSE5VINUPFA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MAPTBVONPNYJONH3XD2F5V53J67VAUOT7LB5LMXROLWIBQ4FXQ7Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3BHOJE7S6EUZQNLLLCUIUNYKD43D4FQZSG2KP6UGQWYDQ3N3ZHA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLC34UF7VNKJ7V2EIYQXT2UNMVIIRS3ZF7UIYZWE7SZPKTT3OOLQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZFYKOX6BLXGNLTS5DS4BMIWNH3W267SDE4QQXP3AQI3RKW3EF2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDHCRXJV5XZFRQWR3IKXDK7UWK7WEI45RQH3KKRKSGBAZYZHECXQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELFND344LRCYQ5ZVYSGWS4MAXNY23KXFON2MAGVMTRQCIYEEKJOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAAI6ENNS7TEVSTQ5LKFRFMD5KPVQRWLOJXLYKWYCJ3Z662XYEA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NAHHUBBSNO3G4ZDO4H4JXR5OM5FMDVD3LF4MTBQXAHCTOZWPMSWA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKC2VUTMDAS3BOKOHJHMXLM44EXTOSNCU23FRDDUFMQSLM43ESNQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGHBMN7VLPZASUKIPWYP4ZM4M2GHJDNXGDH6FWBU2DPJ4JLV6PLA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
[...]
