{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-06-27",
        "endpointPrefix": "textract",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Textract",
        "signatureVersion": "v4",
        "targetPrefix": "Textract",
        "uid": "Textract-2018-06-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
        ]
    },
    "operations": {
        "AnalyzeDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "Document",
                    "FeatureTypes"
                ],
                "members": {
                    "Document": {
                        "shape": "S2"
                    },
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "HumanLoopConfig": {
                        "type": "structure",
                        "required": [
                            "HumanLoopName",
                            "FlowDefinitionArn"
                        ],
                        "members": {
                            "HumanLoopName": {},
                            "FlowDefinitionArn": {},
                            "DataAttributes": {
                                "type": "structure",
                                "members": {
                                    "ContentClassifiers": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            }
                        }
                    },
                    "QueriesConfig": {
                        "shape": "Sg"
                    },
                    "FormsConfig": {
                        "type": "structure",
                        "members": {
                            "Hints": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Text"
                                    ],
                                    "members": {
                                        "Text": {},
                                        "Pages": {
                                            "type": "list",
                                            "member": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "AdaptersConfig": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "Blocks": {
                        "shape": "S12"
                    },
                    "HumanLoopActivationOutput": {
                        "type": "structure",
                        "members": {
                            "HumanLoopArn": {},
                            "HumanLoopActivationReasons": {
                                "type": "list",
                                "member": {}
                            },
                            "HumanLoopActivationConditionsEvaluationResults": {
                                "jsonvalue": true
                            }
                        }
                    },
                    "AnalyzeDocumentModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "AnalyzeExpense": {
            "input": {
                "type": "structure",
                "required": [
                    "Document"
                ],
                "members": {
                    "Document": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "ExpenseDocuments": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "AnalyzeID": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentPages"
                ],
                "members": {
                    "DocumentPages": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityDocuments": {
                        "type": "list",
                        "member": {
                            "shape": "S2e"
                        }
                    },
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "AnalyzeIDModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "CreateAdapter": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterName",
                    "FeatureTypes"
                ],
                "members": {
                    "AdapterName": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "AutoUpdate": {},
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "CreateAdapterVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId",
                    "DatasetConfig",
                    "OutputConfig"
                ],
                "members": {
                    "AdapterId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "DatasetConfig": {
                        "shape": "S2u"
                    },
                    "KMSKeyId": {},
                    "OutputConfig": {
                        "shape": "S2x"
                    },
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "DeleteAdapter": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId"
                ],
                "members": {
                    "AdapterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "DeleteAdapterVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId",
                    "AdapterVersion"
                ],
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "DetectDocumentText": {
            "input": {
                "type": "structure",
                "required": [
                    "Document"
                ],
                "members": {
                    "Document": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "Blocks": {
                        "shape": "S12"
                    },
                    "DetectDocumentTextModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "GetAdapter": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId"
                ],
                "members": {
                    "AdapterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AdapterName": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "AutoUpdate": {},
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "GetAdapterVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId",
                    "AdapterVersion"
                ],
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "Status": {},
                    "StatusMessage": {},
                    "DatasetConfig": {
                        "shape": "S2u"
                    },
                    "KMSKeyId": {},
                    "OutputConfig": {
                        "shape": "S2x"
                    },
                    "EvaluationMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Baseline": {
                                    "shape": "S3e"
                                },
                                "AdapterVersion": {
                                    "shape": "S3e"
                                },
                                "FeatureType": {}
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "GetDocumentAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "Blocks": {
                        "shape": "S12"
                    },
                    "Warnings": {
                        "shape": "S3l"
                    },
                    "StatusMessage": {},
                    "AnalyzeDocumentModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "GetDocumentTextDetection": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "Blocks": {
                        "shape": "S12"
                    },
                    "Warnings": {
                        "shape": "S3l"
                    },
                    "StatusMessage": {},
                    "DetectDocumentTextModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "GetExpenseAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "ExpenseDocuments": {
                        "shape": "S1w"
                    },
                    "Warnings": {
                        "shape": "S3l"
                    },
                    "StatusMessage": {},
                    "AnalyzeExpenseModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "GetLendingAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Page": {
                                    "type": "integer"
                                },
                                "PageClassification": {
                                    "shape": "S1l"
                                },
                                "Extractions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "LendingDocument": {
                                                "type": "structure",
                                                "members": {
                                                    "LendingFields": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "Type": {},
                                                                "KeyDetection": {
                                                                    "shape": "S43"
                                                                },
                                                                "ValueDetections": {
                                                                    "type": "list",
                                                                    "member": {
                                                                        "shape": "S43"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "SignatureDetections": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "Confidence": {
                                                                    "type": "float"
                                                                },
                                                                "Geometry": {
                                                                    "shape": "S18"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "ExpenseDocument": {
                                                "shape": "S1x"
                                            },
                                            "IdentityDocument": {
                                                "shape": "S2e"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Warnings": {
                        "shape": "S3l"
                    },
                    "StatusMessage": {},
                    "AnalyzeLendingModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "GetLendingAnalysisSummary": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "S10"
                    },
                    "JobStatus": {},
                    "Summary": {
                        "type": "structure",
                        "members": {
                            "DocumentGroups": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Type": {},
                                        "SplitDocuments": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Index": {
                                                        "type": "integer"
                                                    },
                                                    "Pages": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "DetectedSignatures": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Page": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "UndetectedSignatures": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Page": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "UndetectedDocumentTypes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "Warnings": {
                        "shape": "S3l"
                    },
                    "StatusMessage": {},
                    "AnalyzeLendingModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "ListAdapterVersions": {
            "input": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AfterCreationTime": {
                        "type": "timestamp"
                    },
                    "BeforeCreationTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterVersions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AdapterId": {},
                                "AdapterVersion": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "FeatureTypes": {
                                    "shape": "S8"
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "ListAdapters": {
            "input": {
                "type": "structure",
                "members": {
                    "AfterCreationTime": {
                        "type": "timestamp"
                    },
                    "BeforeCreationTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Adapters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AdapterId": {},
                                "AdapterName": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "FeatureTypes": {
                                    "shape": "S8"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "StartDocumentAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation",
                    "FeatureTypes"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S4w"
                    },
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S4y"
                    },
                    "OutputConfig": {
                        "shape": "S2x"
                    },
                    "KMSKeyId": {},
                    "QueriesConfig": {
                        "shape": "Sg"
                    },
                    "AdaptersConfig": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "StartDocumentTextDetection": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S4w"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S4y"
                    },
                    "OutputConfig": {
                        "shape": "S2x"
                    },
                    "KMSKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "StartExpenseAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S4w"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S4y"
                    },
                    "OutputConfig": {
                        "shape": "S2x"
                    },
                    "KMSKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "StartLendingAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S4w"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S4y"
                    },
                    "OutputConfig": {
                        "shape": "S2x"
                    },
                    "KMSKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S2p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        },
        "UpdateAdapter": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId"
                ],
                "members": {
                    "AdapterId": {},
                    "Description": {},
                    "AdapterName": {},
                    "AutoUpdate": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AdapterName": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "AutoUpdate": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OFDARIJDTL4C6USIEGJMQOE5MZIASLV7WOLKY2WMP6IEZPSRGOQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WLZ57YHYS5JK3E57CF4TMUWGCOXTLGRJB7ACR4TPIKYJMBC7KJQQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/II6S6NAX6PNBYLUSNAIWDWTBVJQD77WYW2E6XARGZJQ6IA5767UA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNEBVG6DGQAD7ENA3NPIPRWN3WW3RJQI2QOHOUVBI75NMJKC2Y2Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AP73GUJFNGTX7E5GEA3E5P25PDL4ZMOGSKLBJ7N54D3TAJF4Y3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KYMCBT4VKD4YWYFWLJKCQGWGBLEBJGDUZ3XU37U2GPDFY7ZA7HA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XFLTRIQSSXET7LW765MXAX4ID3DKBKSHKRA67IX47Q2DTGBKSHKQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SF6UVVWL7FLRWHJ7R25NID7VURVP5CI5BHZ46H43DE2ANHIEKKBQ/glyph.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "members": {
                "Bytes": {
                    "type": "blob"
                },
                "S3Object": {
                    "shape": "S4"
                }
            }
        },
        "S4": {
            "type": "structure",
            "members": {
                "Bucket": {},
                "Name": {},
                "Version": {}
            }
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sg": {
            "type": "structure",
            "required": [
                "Queries"
            ],
            "members": {
                "Queries": {
                    "type": "list",
                    "member": {
                        "shape": "Si"
                    }
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "Text"
            ],
            "members": {
                "Text": {},
                "Alias": {},
                "Pages": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "Ss": {
            "type": "structure",
            "required": [
                "Adapters"
            ],
            "members": {
                "Adapters": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "AdapterId",
                            "Version"
                        ],
                        "members": {
                            "AdapterId": {},
                            "Pages": {
                                "type": "list",
                                "member": {}
                            },
                            "Version": {}
                        }
                    }
                }
            }
        },
        "S10": {
            "type": "structure",
            "members": {
                "Pages": {
                    "type": "integer"
                }
            }
        },
        "S12": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "BlockType": {},
                    "Confidence": {
                        "type": "float"
                    },
                    "Text": {},
                    "TextType": {},
                    "RowIndex": {
                        "type": "integer"
                    },
                    "ColumnIndex": {
                        "type": "integer"
                    },
                    "RowSpan": {
                        "type": "integer"
                    },
                    "ColumnSpan": {
                        "type": "integer"
                    },
                    "Geometry": {
                        "shape": "S18"
                    },
                    "Id": {},
                    "Relationships": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Ids": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "EntityTypes": {
                        "type": "list",
                        "member": {}
                    },
                    "SelectionStatus": {},
                    "Page": {
                        "type": "integer"
                    },
                    "Query": {
                        "shape": "Si"
                    },
                    "PageClassification": {
                        "shape": "S1l"
                    },
                    "Hint": {
                        "type": "structure",
                        "required": [
                            "Text"
                        ],
                        "members": {
                            "Text": {}
                        }
                    }
                }
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "BoundingBox": {
                    "type": "structure",
                    "members": {
                        "Width": {
                            "type": "float"
                        },
                        "Height": {
                            "type": "float"
                        },
                        "Left": {
                            "type": "float"
                        },
                        "Top": {
                            "type": "float"
                        }
                    }
                },
                "Polygon": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "X": {
                                "type": "float"
                            },
                            "Y": {
                                "type": "float"
                            }
                        }
                    }
                }
            }
        },
        "S1l": {
            "type": "structure",
            "required": [
                "PageType",
                "PageNumber"
            ],
            "members": {
                "PageType": {
                    "shape": "S1m"
                },
                "PageNumber": {
                    "shape": "S1m"
                }
            }
        },
        "S1m": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Value": {},
                    "Confidence": {
                        "type": "float"
                    }
                }
            }
        },
        "S1w": {
            "type": "list",
            "member": {
                "shape": "S1x"
            }
        },
        "S1x": {
            "type": "structure",
            "members": {
                "ExpenseIndex": {
                    "type": "integer"
                },
                "SummaryFields": {
                    "shape": "S1y"
                },
                "LineItemGroups": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "LineItemGroupIndex": {
                                "type": "integer"
                            },
                            "LineItems": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "LineItemExpenseFields": {
                                            "shape": "S1y"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "Blocks": {
                    "shape": "S12"
                }
            }
        },
        "S1y": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Type": {
                        "type": "structure",
                        "members": {
                            "Text": {},
                            "Confidence": {
                                "type": "float"
                            }
                        }
                    },
                    "LabelDetection": {
                        "shape": "S21"
                    },
                    "ValueDetection": {
                        "shape": "S21"
                    },
                    "PageNumber": {
                        "type": "integer"
                    },
                    "Currency": {
                        "type": "structure",
                        "members": {
                            "Code": {},
                            "Confidence": {
                                "type": "float"
                            }
                        }
                    },
                    "GroupProperties": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Types": {
                                    "type": "list",
                                    "member": {}
                                },
                                "Id": {}
                            }
                        }
                    }
                }
            }
        },
        "S21": {
            "type": "structure",
            "members": {
                "Text": {},
                "Geometry": {
                    "shape": "S18"
                },
                "Confidence": {
                    "type": "float"
                }
            }
        },
        "S2e": {
            "type": "structure",
            "members": {
                "DocumentIndex": {
                    "type": "integer"
                },
                "IdentityDocumentFields": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Type": {
                                "shape": "S2h"
                            },
                            "ValueDetection": {
                                "shape": "S2h"
                            }
                        }
                    }
                },
                "Blocks": {
                    "shape": "S12"
                }
            }
        },
        "S2h": {
            "type": "structure",
            "required": [
                "Text"
            ],
            "members": {
                "Text": {},
                "NormalizedValue": {
                    "type": "structure",
                    "members": {
                        "Value": {},
                        "ValueType": {}
                    }
                },
                "Confidence": {
                    "type": "float"
                }
            }
        },
        "S2p": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S2u": {
            "type": "structure",
            "members": {
                "ManifestS3Object": {
                    "shape": "S4"
                },
                "SourceAdapterVersion": {
                    "type": "structure",
                    "members": {
                        "AdapterId": {},
                        "AdapterVersion": {}
                    }
                }
            }
        },
        "S2x": {
            "type": "structure",
            "required": [
                "S3Bucket"
            ],
            "members": {
                "S3Bucket": {},
                "S3Prefix": {}
            }
        },
        "S3e": {
            "type": "structure",
            "members": {
                "F1Score": {
                    "type": "float"
                },
                "Precision": {
                    "type": "float"
                },
                "Recall": {
                    "type": "float"
                }
            }
        },
        "S3l": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ErrorCode": {},
                    "Pages": {
                        "type": "list",
                        "member": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "S43": {
            "type": "structure",
            "members": {
                "Text": {},
                "SelectionStatus": {},
                "Geometry": {
                    "shape": "S18"
                },
                "Confidence": {
                    "type": "float"
                }
            }
        },
        "S4w": {
            "type": "structure",
            "members": {
                "S3Object": {
                    "shape": "S4"
                }
            }
        },
        "S4y": {
            "type": "structure",
            "required": [
                "SNSTopicArn",
                "RoleArn"
            ],
            "members": {
                "SNSTopicArn": {},
                "RoleArn": {}
            }
        }
    }
}