{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-06-27",
        "endpointPrefix": "textract",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Textract",
        "serviceId": "Textract",
        "signatureVersion": "v4",
        "targetPrefix": "Textract",
        "uid": "textract-2018-06-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "AnalyzeDocument": {
            "input": {
                "type": "structure",
                "required": [
                    "Document",
                    "FeatureTypes"
                ],
                "members": {
                    "Document": {
                        "shape": "S2"
                    },
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "HumanLoopConfig": {
                        "type": "structure",
                        "required": [
                            "HumanLoopName",
                            "FlowDefinitionArn"
                        ],
                        "members": {
                            "HumanLoopName": {},
                            "FlowDefinitionArn": {},
                            "DataAttributes": {
                                "type": "structure",
                                "members": {
                                    "ContentClassifiers": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            }
                        }
                    },
                    "QueriesConfig": {
                        "shape": "Sg"
                    },
                    "AdaptersConfig": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "Blocks": {
                        "shape": "Sp"
                    },
                    "HumanLoopActivationOutput": {
                        "type": "structure",
                        "members": {
                            "HumanLoopArn": {},
                            "HumanLoopActivationReasons": {
                                "type": "list",
                                "member": {}
                            },
                            "HumanLoopActivationConditionsEvaluationResults": {
                                "jsonvalue": true
                            }
                        }
                    },
                    "AnalyzeDocumentModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AnalyzeExpense": {
            "input": {
                "type": "structure",
                "required": [
                    "Document"
                ],
                "members": {
                    "Document": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "ExpenseDocuments": {
                        "shape": "S1f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RRZVZ3PPAG7XIDE67Y7HBNJI5JRZGWNUBZC4N6GRBZJL7MSHDSNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTFV3MKIHHXF6OH2CNYI6SRNHRAFC5J5MAARX7GBIAIS5CCNDMRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LICEYJGKEMIZ6BOPKXN5DLLPUIWRBYN36S74T7XW73VJBOOV2EYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BB4IP42RCPW4XQRO4DUW2EFDIIAAC4QYVQIZDJLPEKCFVSGVYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "AnalyzeID": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentPages"
                ],
                "members": {
                    "DocumentPages": {
                        "type": "list",
                        "member": {
                            "shape": "S2"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityDocuments": {
                        "type": "list",
                        "member": {
                            "shape": "S1x"
                        }
                    },
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "AnalyzeIDModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DetectDocumentText": {
            "input": {
                "type": "structure",
                "required": [
                    "Document"
                ],
                "members": {
                    "Document": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "Blocks": {
                        "shape": "Sp"
                    },
                    "DetectDocumentTextModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetDocumentAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "Blocks": {
                        "shape": "Sp"
                    },
                    "Warnings": {
                        "shape": "S2b"
                    },
                    "StatusMessage": {},
                    "AnalyzeDocumentModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetDocumentTextDetection": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "Blocks": {
                        "shape": "Sp"
                    },
                    "Warnings": {
                        "shape": "S2b"
                    },
                    "StatusMessage": {},
                    "DetectDocumentTextModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetExpenseAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "ExpenseDocuments": {
                        "shape": "S1f"
                    },
                    "Warnings": {
                        "shape": "S2b"
                    },
                    "StatusMessage": {},
                    "AnalyzeExpenseModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetLendingAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "JobStatus": {},
                    "NextToken": {},
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Page": {
                                    "type": "integer"
                                },
                                "PageClassification": {
                                    "type": "structure",
                                    "required": [
                                        "PageType",
                                        "PageNumber"
                                    ],
                                    "members": {
                                        "PageType": {
                                            "shape": "S2p"
                                        },
                                        "PageNumber": {
                                            "shape": "S2p"
                                        }
                                    }
                                },
                                "Extractions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "LendingDocument": {
                                                "type": "structure",
                                                "members": {
                                                    "LendingFields": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "Type": {},
                                                                "KeyDetection": {
                                                                    "shape": "S2w"
                                                                },
                                                                "ValueDetections": {
                                                                    "type": "list",
                                                                    "member": {
                                                                        "shape": "S2w"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "SignatureDetections": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "Confidence": {
                                                                    "type": "float"
                                                                },
                                                                "Geometry": {
                                                                    "shape": "Sv"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "ExpenseDocument": {
                                                "shape": "S1g"
                                            },
                                            "IdentityDocument": {
                                                "shape": "S1x"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Warnings": {
                        "shape": "S2b"
                    },
                    "StatusMessage": {},
                    "AnalyzeLendingModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetLendingAnalysisSummary": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DocumentMetadata": {
                        "shape": "Sn"
                    },
                    "JobStatus": {},
                    "Summary": {
                        "type": "structure",
                        "members": {
                            "DocumentGroups": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Type": {},
                                        "SplitDocuments": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Index": {
                                                        "type": "integer"
                                                    },
                                                    "Pages": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "DetectedSignatures": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Page": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        },
                                        "UndetectedSignatures": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "Page": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "UndetectedDocumentTypes": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "Warnings": {
                        "shape": "S2b"
                    },
                    "StatusMessage": {},
                    "AnalyzeLendingModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartDocumentAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation",
                    "FeatureTypes"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S3e"
                    },
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S3h"
                    },
                    "OutputConfig": {
                        "shape": "S3k"
                    },
                    "KMSKeyId": {},
                    "QueriesConfig": {
                        "shape": "Sg"
                    },
                    "AdaptersConfig": {
                        "shape": "Sm"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartDocumentTextDetection": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S3e"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S3h"
                    },
                    "OutputConfig": {
                        "shape": "S3k"
                    },
                    "KMSKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartExpenseAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S3e"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S3h"
                    },
                    "OutputConfig": {
                        "shape": "S3k"
                    },
                    "KMSKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "StartLendingAnalysis": {
            "input": {
                "type": "structure",
                "required": [
                    "DocumentLocation"
                ],
                "members": {
                    "DocumentLocation": {
                        "shape": "S3e"
                    },
                    "ClientRequestToken": {},
                    "JobTag": {},
                    "NotificationChannel": {
                        "shape": "S3h"
                    },
                    "OutputConfig": {
                        "shape": "S3k"
                    },
                    "KMSKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAdapter": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterName",
                    "FeatureTypes"
                ],
                "members": {
                    "AdapterName": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "Description": {},
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "AutoUpdate": {},
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateAdapterVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId",
                    "DatasetConfig",
                    "OutputConfig"
                ],
                "members": {
                    "AdapterId": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "DatasetConfig": {
                        "shape": "S2k"
                    },
                    "KMSKeyId": {},
                    "OutputConfig": {
                        "shape": "S2m"
                    },
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAdapter": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId"
                ],
                "members": {
                    "AdapterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteAdapterVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId",
                    "AdapterVersion"
                ],
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAdapter": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId"
                ],
                "members": {
                    "AdapterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AdapterName": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "AutoUpdate": {},
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetAdapterVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "AdapterId",
                    "AdapterVersion"
                ],
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AdapterVersion": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "FeatureTypes": {
                        "shape": "S8"
                    },
                    "Status": {},
                    "StatusMessage": {},
                    "DatasetConfig": {
                        "shape": "S2k"
                    },
                    "KMSKeyId": {},
                    "OutputConfig": {
                        "shape": "S2m"
                    },
                    "EvaluationMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Baseline": {
                                    "shape": "S33"
                                },
                                "AdapterVersion": {
                                    "shape": "S33"
                                },
                                "FeatureType": {}
                            }
                        }
                    },
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListAdapterVersions": {
            "input": {
                "type": "structure",
                "members": {
                    "AdapterId": {},
                    "AfterCreationTime": {
                        "type": "timestamp"
                    },
                    "BeforeCreationTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AdapterVersions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AdapterId": {},
                                "AdapterVersion": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "FeatureTypes": {
                                    "shape": "S8"
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListAdapters": {
            "input": {
                "type": "structure",
                "members": {
                    "AfterCreationTime": {
                        "type": "timestamp"
                    },
                    "BeforeCreationTime": {
                        "type": "timestamp"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Adapters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AdapterId": {},
                                "AdapterName": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "FeatureTypes": {
                                    "shape": "S8"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GLCIDH3PLVQJNHQQB7PAAPSZUJNTMMY7QE664ROOJZLRJW3YKTHQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJCRDO7PONFFQPBV5N2PC224P7ACTFCHNQY2CMRTQVTBNN5JHY3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUKFNSGUDHDIKIBDISRLBLOBJNSPV7X27SUTV2QGROYVFL3TAJ2Q/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JKCECAZORKXJ63XTJNX234WUAFLFOTMGOG2UQSJAYJO4EV2MGQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILHQRHLEZPFQ2YTOB5YPBEKLSQ62D5GHBBMYOONATBFTLJFMM6WA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJMVHY62KFKQPGRUSJ72QKHMVA46TUX6V5INZSLVOSFB6AF2IKA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZLJQVFPP7HS7OJCFNEZ6SXSYF65VBIRRJB6GI36KOE5HKLH3B4Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DDQCZPHAPRVRVZZD2PISJVWRNKA7Q3MFP6TGENAID6RJ4UKEX5XQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QNONGA4XDSK6O4RMOS5CDLOGCZV6A5LGZMOUSVHHUXYAI637YDMQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOXDKA2QFQH5YV2SSWIJOWPP3NJVJFL4LTAT3PIF7JUJI36FFUTQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNOSBZEO6242AHMLS7OPMEAM2RNVFDJZSVUKK354Q6WWBHYA3O3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3KORCYQWKV4KKOIPZIEEGDF4QD53HSA3ESOUS6JLHJZ2MB3MZVA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5G35ASRJW2TA7AVTLFGUP2DJH7FVXU6K6ZTWYWWU4V7DT3T2QRNA/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/242PUBO7XYWCMA7IBOFZCDQPU4DQJ5PRHYBQS7VW5KQFT3DQECPQ/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ASSXR7DVHINTCWWU7AR5RFTD4IRIRF5EZ2BDBFYYUDWRGFF7GO3Q/glyph.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
[...]
