{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-01-27",
        "endpointPrefix": "timestream-influxdb",
        "jsonVersion": "1.0",
        "protocol": "json",
        "ripServiceName": "timestream-influxdb",
        "serviceAbbreviation": "Timestream InfluxDB",
        "serviceFullName": "Timestream InfluxDB",
        "serviceId": "Timestream InfluxDB",
        "signatureVersion": "v4",
        "signingName": "timestream-influxdb",
        "targetPrefix": "AmazonTimestreamInfluxDB",
        "uid": "timestream-influxdb-2023-01-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE74CM76ATW7NKWUJVXOS56T6ZEVHZ7NFZIUYHJ7BDSRGLWTQRFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
        ]
    },
    "operations": {
        "CreateDbInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceIdentifier",
                    "password",
                    "dbInstanceType",
                    "subnetIds",
                    "allocatedStorage"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbInstanceIdentifier": {},
                    "username": {
                        "type": "string",
                        "sensitive": true
                    },
                    "password": {
                        "type": "string",
                        "sensitive": true
                    },
                    "organization": {},
                    "bucket": {},
                    "dbInstanceType": {},
                    "subnetIds": {
                        "shape": "S8"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S8"
                    },
                    "publicIp": {
                        "type": "boolean"
                    },
                    "dbStorageType": {},
                    "allocatedStorage": {
                        "type": "integer"
                    },
                    "dbParameterGroupName": {},
                    "multiAZ": {
                        "type": "boolean"
                    },
                    "logDeliveryConfiguration": {
                        "shape": "Sd"
                    },
                    "resourceId": {
                        "internalonly": true
                    },
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "dbInstanceName": {},
                    "dbParameterGroupIdentifier": {},
                    "name": {},
                    "vpcSubnetIds": {
                        "shape": "Sa"
                    },
                    "deploymentType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstance"
                ],
                "members": {
                    "dbInstance": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "CreateDbParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "dbParameterGroupName"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbParameterGroupName": {},
                    "description": {},
                    "sourceDbParameterGroupName": {},
                    "parameters": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceId": {
                        "internalonly": true
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "sourceDbParameterGroupIdentifier": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbParameterGroup"
                ],
                "members": {
                    "dbParameterGroup": {
                        "shape": "Sr"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "DeleteDbInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbInstanceIdentifier": {},
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstance"
                ],
                "members": {
                    "dbInstance": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "GetDbInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbInstanceIdentifier": {},
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstance"
                ],
                "members": {
                    "dbInstance": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "GetDbParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "dbParameterGroupName"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbParameterGroupName": {},
                    "dbParameterGroupIdentifier": {},
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbParameterGroup"
                ],
                "members": {
                    "dbParameterGroup": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "ListDbInstances": {
            "input": {
                "type": "structure",
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "nextToken": {},
                    "maxRecords": {
                        "type": "integer"
                    },
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstances"
                ],
                "members": {
                    "dbInstances": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "ListDbParameterGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "nextToken": {},
                    "maxRecords": {
                        "type": "integer"
                    },
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbParameterGroups"
                ],
                "members": {
                    "dbParameterGroups": {
                        "type": "list",
                        "member": {
                            "shape": "Sr"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "UpdateDbInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbInstanceIdentifier": {},
                    "logDeliveryConfiguration": {
                        "shape": "Sd"
                    },
                    "dbParameterGroupName": {},
                    "dbParameterGroupIdentifier": {},
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstance"
                ],
                "members": {
                    "dbInstance": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE74CM76ATW7NKWUJVXOS56T6ZEVHZ7NFZIUYHJ7BDSRGLWTQRFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE74CM76ATW7NKWUJVXOS56T6ZEVHZ7NFZIUYHJ7BDSRGLWTQRFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sd": {
            "type": "structure",
            "required": [
                "s3Configuration"
            ],
            "members": {
                "s3Configuration": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "enabled"
                    ],
                    "members": {
                        "bucketName": {},
                        "enabled": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "dbInstanceIdentifier",
                "dbId",
                "dbArn",
                "subnetIds"
            ],
            "members": {
                "dbInstanceIdentifier": {},
                "dbId": {},
                "dbArn": {},
                "subnetIds": {
                    "shape": "S8"
                },
                "status": {},
                "publicIpv4": {},
                "privateIpv4": {},
                "endpointUrl": {},
                "vpcSecurityGroupIds": {
                    "shape": "S8"
                },
                "dbInstanceType": {},
                "dbStorageType": {},
                "allocatedStorage": {
                    "type": "integer"
                },
                "dbParameterGroupName": {},
                "parameters": {
                    "shape": "Sk"
                },
                "multiAZ": {
                    "type": "boolean"
                },
                "availabilityZone": {},
                "secondaryAvailabilityZone": {},
                "logDeliveryConfiguration": {
                    "shape": "Sd"
                },
                "influxAuthParametersSecretArn": {}
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sr": {
            "type": "structure",
            "required": [
                "dbParameterGroupName"
            ],
            "members": {
                "dbParameterGroupName": {},
                "dbParameterGroupId": {},
                "description": {},
                "parameters": {
                    "shape": "Sk"
                }
            }
        },
        "Sa": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "structure",
            "required": [
                "s3Configuration"
            ],
            "members": {
                "s3Configuration": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "enabled"
                    ],
                    "members": {
                        "bucketName": {},
                        "enabled": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sn": {
            "type": "structure",
            "required": [
                "dbInstanceIdentifier",
                "dbId",
                "dbArn",
                "subnetIds"
            ],
            "members": {
                "dbInstanceIdentifier": {},
                "dbId": {},
                "dbArn": {},
                "subnetIds": {
                    "shape": "Sa"
                },
                "status": {},
                "endpointUrl": {},
                "publiclyAccessible": {
                    "type": "boolean"
                },
                "vpcSecurityGroupIds": {
                    "shape": "Sa"
                },
                "dbInstanceType": {},
                "dbStorageType": {},
                "allocatedStorage": {
                    "type": "integer"
                },
                "dbParameterGroupName": {},
                "parameters": {
                    "shape": "Sr"
                },
                "multiAZ": {
                    "type": "boolean"
                },
                "availabilityZone": {},
                "secondaryAvailabilityZone": {},
                "logDeliveryConfiguration": {
                    "shape": "Sf"
                },
                "influxAuthParametersSecretArn": {}
            }
        },
        "Sy": {
            "type": "structure",
            "required": [
                "dbParameterGroupName"
            ],
            "members": {
                "dbParameterGroupName": {},
                "dbParameterGroupId": {},
                "description": {},
                "parameters": {
                    "shape": "Sr"
                }
            }
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sx": {
            "type": "structure",
            "required": [
                "dbParameterGroupIdentifier",
                "dbParameterGroupName",
                "dbParameterGroupArn"
            ],
            "members": {
                "dbParameterGroupIdentifier": {},
                "dbParameterGroupName": {},
                "dbParameterGroupArn": {},
                "description": {},
                "parameters": {
                    "shape": "Sq"
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "s3Configuration"
            ],
            "members": {
                "s3Configuration": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "enabled"
                    ],
                    "members": {
                        "bucketName": {},
                        "enabled": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Sm": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sw": {
            "type": "structure",
            "members": {
                "InfluxDBv2": {
                    "type": "structure",
                    "members": {
                        "fluxLogEnabled": {
                            "type": "boolean"
                        },
                        "logLevel": {},
                        "noTasks": {
                            "type": "boolean"
                        },
                        "queryConcurrency": {
                            "type": "integer"
                        },
                        "queryQueueSize": {
                            "type": "integer"
                        },
                        "tracingType": {},
                        "metricsDisabled": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "union": true
        },
        "Sh": {
            "type": "structure",
            "required": [
                "s3Configuration"
            ],
            "members": {
                "s3Configuration": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "enabled"
                    ],
                    "members": {
                        "bucketName": {},
                        "enabled": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "InfluxDBv2": {
                    "type": "structure",
                    "members": {
                        "fluxLogEnabled": {
                            "type": "boolean"
                        },
                        "logLevel": {},
                        "noTasks": {
                            "type": "boolean"
                        },
                        "queryConcurrency": {
                            "type": "integer"
                        },
                        "queryQueueSize": {
                            "type": "integer"
                        },
                        "tracingType": {},
                        "metricsDisabled": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "union": true
        }
    }
}