{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-01",
        "endpointPrefix": "ingest.timestream",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "Timestream Write",
        "serviceFullName": "Amazon Timestream Write",
        "serviceId": "Timestream Write",
        "signatureVersion": "v4",
        "signingName": "timestream",
        "targetPrefix": "Timestream_20181101",
        "uid": "timestream-write-2018-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
        ]
    },
    "operations": {
        "CreateDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName"
                ],
                "members": {
                    "DatabaseName": {},
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Database": {
                        "shape": "S9"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "CreateTable": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {},
                    "RetentionProperties": {
                        "shape": "Sf"
                    },
                    "Tags": {
                        "shape": "S4"
                    },
                    "MagneticStoreWriteProperties": {
                        "shape": "Si"
                    },
                    "Schema": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Table": {
                        "shape": "Sq"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName"
                ],
                "members": {
                    "DatabaseName": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteTable": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DescribeDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName"
                ],
                "members": {
                    "DatabaseName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Database": {
                        "shape": "S9"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DescribeEndpoints": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "Endpoints"
                ],
                "members": {
                    "Endpoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Address",
                                "CachePeriodInMinutes"
                            ],
                            "members": {
                                "Address": {},
                                "CachePeriodInMinutes": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "endpointoperation": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DescribeTable": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Table": {
                        "shape": "Sq"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ListDatabases": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Databases": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "NextToken": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ListTables": {
            "input": {
                "type": "structure",
                "members": {
                    "DatabaseName": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tables": {
                        "type": "list",
                        "member": {
                            "shape": "Sq"
                        }
                    },
                    "NextToken": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "UpdateDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "KmsKeyId"
                ],
                "members": {
                    "DatabaseName": {},
                    "KmsKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Database": {
                        "shape": "S9"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "UpdateTable": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {},
                    "RetentionProperties": {
                        "shape": "Sf"
                    },
                    "MagneticStoreWriteProperties": {
                        "shape": "Si"
                    },
                    "Schema": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Table": {
                        "shape": "Sq"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "WriteRecords": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName",
                    "Records"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {},
                    "CommonAttributes": {
                        "shape": "S1m"
                    },
                    "Records": {
                        "type": "list",
                        "member": {
                            "shape": "S1m"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RecordsIngested": {
                        "type": "structure",
                        "members": {
                            "Total": {
                                "type": "integer"
                            },
                            "MemoryStore": {
                                "type": "integer"
                            },
                            "MagneticStore": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "CreateBatchLoadTask": {
            "input": {
                "type": "structure",
                "required": [
                    "DataSourceConfiguration",
                    "ReportConfiguration",
                    "TargetDatabaseName",
                    "TargetTableName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "type": "string",
                        "sensitive": true
                    },
                    "DataModelConfiguration": {
                        "shape": "S3"
                    },
                    "DataSourceConfiguration": {
                        "shape": "Sk"
                    },
                    "ReportConfiguration": {
                        "shape": "Sq"
                    },
                    "TargetDatabaseName": {},
                    "TargetTableName": {},
                    "RecordVersion": {
                        "type": "long"
                    },
                    "NotificationConfiguration": {
                        "shape": "Ss"
                    },
                    "LoadOffline": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "DescribeBatchLoadTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BatchLoadTaskDescription"
                ],
                "members": {
                    "BatchLoadTaskDescription": {
                        "type": "structure",
                        "members": {
                            "TaskId": {},
                            "ErrorMessage": {},
                            "DataSourceConfiguration": {
                                "shape": "Sk"
                            },
                            "ProgressReport": {
                                "type": "structure",
                                "members": {
                                    "RecordsProcessed": {
                                        "type": "long"
                                    },
                                    "RecordsIngested": {
                                        "type": "long"
                                    },
                                    "ParseFailures": {
                                        "type": "long"
                                    },
                                    "RecordIngestionFailures": {
                                        "type": "long"
                                    },
                                    "FileFailures": {
                                        "type": "long"
                                    },
                                    "BytesMetered": {
                                        "type": "long"
                                    }
                                }
                            },
                            "ReportConfiguration": {
                                "shape": "Sq"
                            },
                            "DataModelConfiguration": {
                                "shape": "S3"
                            },
                            "TargetDatabaseName": {},
                            "TargetTableName": {},
                            "TaskStatus": {},
                            "RecordVersion": {
                                "type": "long"
                            },
                            "CreationTime": {
                                "type": "timestamp"
                            },
                            "LastUpdatedTime": {
                                "type": "timestamp"
                            },
                            "ResumableUntil": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListBatchLoadTasks": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "TaskStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "BatchLoadTasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TaskId": {},
                                "TaskStatus": {},
                                "DatabaseName": {},
                                "TableName": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "ResumableUntil": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ResumeBatchLoadTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQY7UVNQPDYR7QLPSCGWCCXFYHXFY6JZLXUXARMST5F2EPEXSWBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IA7SA4KO6LU33O7LSATQMPPB2GNO4O2B2AB7TY6V5UKSLISSSZQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXCNRN35OCEPLZYTIOIVNIN2J7BOR43XNDGQ3K3EQUV7L2YORSA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFIJWIMG6LOSVBZNQYTN6Z2ONC4JQYI3352VCFCYWOLULKFKA6MQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "CreateBulkImportTask": {
            "input": {
                "type": "structure",
                "required": [
                    "InputConfiguration",
                    "ReportConfiguration",
                    "TargetDatabaseName",
                    "TargetTableName"
                ],
                "members": {
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "DataModelConfiguration": {
                        "shape": "S3"
                    },
                    "InputConfiguration": {
                        "shape": "S14"
                    },
                    "NotificationConfiguration": {
                        "shape": "Ss"
                    },
                    "ReportConfiguration": {
                        "shape": "Su"
                    },
                    "TargetDatabaseName": {},
                    "TargetTableName": {},
                    "RecordVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {},
                    "BulkImportTask": {
                        "shape": "S19",
                        "deprecated": true
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "CreateBulkImportTaskInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InternalInputConfiguration",
                    "ReportConfiguration",
                    "TargetDatabaseName",
                    "TargetTableName"
                ],
                "members": {
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "DataModelConfiguration": {
                        "shape": "S3"
                    },
                    "InternalInputConfiguration": {
                        "shape": "S1h"
                    },
                    "NotificationConfiguration": {
                        "shape": "Ss"
                    },
                    "ReportConfiguration": {
                        "shape": "Su"
                    },
                    "TargetDatabaseName": {},
                    "TargetTableName": {},
                    "RecordVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InternalBulkImportTask": {
                        "shape": "S1k"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "DescribeBulkImportTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BulkImportTask"
                ],
                "members": {
                    "BulkImportTask": {
                        "shape": "S19"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "DescribeBulkImportTaskInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InternalBulkImportTask"
                ],
                "members": {
                    "InternalBulkImportTask": {
                        "shape": "S1k"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "GetBackupJobStatusInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BackupJobId",
                    "ResourceClientJobId"
                ],
                "members": {
                    "AccountId": {},
                    "BackupJobId": {},
                    "ResourceClientJobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BackupJobState": {},
                    "PercentComplete": {
                        "type": "double"
                    },
                    "EstimatedTimeToCompleteMinutes": {
                        "type": "long"
                    },
                    "Message": {},
                    "BytesTransferred": {
                        "type": "long"
                    },
                    "RestoreMetadata": {
                        "shape": "S2v"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
[...]
