{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-01-27",
        "endpointPrefix": "timestream-influxdb",
        "jsonVersion": "1.0",
        "protocol": "json",
        "ripServiceName": "timestream-influxdb",
        "serviceAbbreviation": "Timestream InfluxDB",
        "serviceFullName": "Timestream InfluxDB",
        "serviceId": "Timestream InfluxDB",
        "signatureVersion": "v4",
        "signingName": "timestream-influxdb",
        "targetPrefix": "AmazonTimestreamInfluxDB",
        "uid": "timestream-influxdb-2023-01-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateDbInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceIdentifier",
                    "password",
                    "dbInstanceType",
                    "subnetIds",
                    "allocatedStorage"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbInstanceIdentifier": {},
                    "username": {
                        "type": "string",
                        "sensitive": true
                    },
                    "password": {
                        "type": "string",
                        "sensitive": true
                    },
                    "organization": {},
                    "bucket": {},
                    "dbInstanceType": {},
                    "subnetIds": {
                        "shape": "S8"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S8"
                    },
                    "publicIp": {
                        "type": "boolean"
                    },
                    "dbStorageType": {},
                    "allocatedStorage": {
                        "type": "integer"
                    },
                    "dbParameterGroupName": {},
                    "multiAZ": {
                        "type": "boolean"
                    },
                    "logDeliveryConfiguration": {
                        "shape": "Sd"
                    },
                    "resourceId": {
                        "internalonly": true
                    },
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "dbInstanceName": {},
                    "dbParameterGroupIdentifier": {},
                    "name": {},
                    "vpcSubnetIds": {
                        "shape": "Sa"
                    },
                    "deploymentType": {},
                    "port": {
                        "type": "integer"
                    },
                    "networkType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstance"
                ],
                "members": {
                    "dbInstance": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDbParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "dbParameterGroupName"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbParameterGroupName": {},
                    "description": {},
                    "sourceDbParameterGroupName": {},
                    "parameters": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceId": {
                        "internalonly": true
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "sourceDbParameterGroupIdentifier": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbParameterGroup"
                ],
                "members": {
                    "dbParameterGroup": {
                        "shape": "Sr"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDbInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbInstanceIdentifier": {},
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstance"
                ],
                "members": {
                    "dbInstance": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDbInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbInstanceIdentifier": {},
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstance"
                ],
                "members": {
                    "dbInstance": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDbParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "dbParameterGroupName"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbParameterGroupName": {},
                    "dbParameterGroupIdentifier": {},
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbParameterGroup"
                ],
                "members": {
                    "dbParameterGroup": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListDbInstances": {
            "input": {
                "type": "structure",
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "nextToken": {},
                    "maxRecords": {
                        "type": "integer"
                    },
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstances"
                ],
                "members": {
                    "dbInstances": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListDbParameterGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "nextToken": {},
                    "maxRecords": {
                        "type": "integer"
                    },
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbParameterGroups"
                ],
                "members": {
                    "dbParameterGroups": {
                        "type": "list",
                        "member": {
                            "shape": "Sr"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateDbInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbInstanceIdentifier": {},
                    "logDeliveryConfiguration": {
                        "shape": "Sd"
                    },
                    "dbParameterGroupName": {},
                    "dbParameterGroupIdentifier": {},
                    "identifier": {},
                    "port": {
                        "type": "integer"
                    },
                    "dbInstanceType": {},
                    "deploymentType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstance"
                ],
                "members": {
                    "dbInstance": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sd": {
            "type": "structure",
            "required": [
                "s3Configuration"
            ],
            "members": {
                "s3Configuration": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "enabled"
                    ],
                    "members": {
                        "bucketName": {},
                        "enabled": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "dbInstanceIdentifier",
                "dbId",
                "dbArn",
                "subnetIds"
            ],
            "members": {
                "dbInstanceIdentifier": {},
                "dbId": {},
                "dbArn": {},
                "subnetIds": {
                    "shape": "S8"
                },
                "status": {},
                "publicIpv4": {},
                "privateIpv4": {},
                "endpointUrl": {},
                "vpcSecurityGroupIds": {
                    "shape": "S8"
                },
                "dbInstanceType": {},
                "dbStorageType": {},
                "allocatedStorage": {
                    "type": "integer"
                },
                "dbParameterGroupName": {},
                "parameters": {
                    "shape": "Sk"
                },
                "multiAZ": {
                    "type": "boolean"
                },
                "availabilityZone": {},
                "secondaryAvailabilityZone": {},
                "logDeliveryConfiguration": {
                    "shape": "Sd"
                },
                "influxAuthParametersSecretArn": {}
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sr": {
            "type": "structure",
            "required": [
                "dbParameterGroupName"
            ],
            "members": {
                "dbParameterGroupName": {},
                "dbParameterGroupId": {},
                "description": {},
                "parameters": {
                    "shape": "Sk"
                }
            }
        },
        "Sa": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "structure",
            "required": [
                "s3Configuration"
            ],
            "members": {
                "s3Configuration": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "enabled"
                    ],
                    "members": {
                        "bucketName": {},
                        "enabled": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sn": {
            "type": "structure",
            "required": [
                "dbInstanceIdentifier",
                "dbId",
                "dbArn",
                "subnetIds"
            ],
            "members": {
                "dbInstanceIdentifier": {},
                "dbId": {},
                "dbArn": {},
                "subnetIds": {
                    "shape": "Sa"
                },
                "status": {},
                "endpointUrl": {},
                "publiclyAccessible": {
                    "type": "boolean"
                },
                "vpcSecurityGroupIds": {
                    "shape": "Sa"
                },
                "dbInstanceType": {},
                "dbStorageType": {},
                "allocatedStorage": {
                    "type": "integer"
                },
                "dbParameterGroupName": {},
                "parameters": {
                    "shape": "Sr"
                },
                "multiAZ": {
                    "type": "boolean"
                },
                "availabilityZone": {},
                "secondaryAvailabilityZone": {},
                "logDeliveryConfiguration": {
                    "shape": "Sf"
                },
                "influxAuthParametersSecretArn": {}
            }
        },
        "Sy": {
            "type": "structure",
            "required": [
                "dbParameterGroupName"
            ],
            "members": {
                "dbParameterGroupName": {},
                "dbParameterGroupId": {},
                "description": {},
                "parameters": {
                    "shape": "Sr"
                }
            }
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sx": {
            "type": "structure",
            "required": [
                "dbParameterGroupIdentifier",
                "dbParameterGroupName",
                "dbParameterGroupArn"
            ],
            "members": {
                "dbParameterGroupIdentifier": {},
                "dbParameterGroupName": {},
                "dbParameterGroupArn": {},
                "description": {},
                "parameters": {
                    "shape": "Sq"
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "s3Configuration"
            ],
            "members": {
                "s3Configuration": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "enabled"
                    ],
                    "members": {
                        "bucketName": {},
                        "enabled": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Sm": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sw": {
            "type": "structure",
            "members": {
                "InfluxDBv2": {
                    "type": "structure",
                    "members": {
                        "fluxLogEnabled": {
                            "type": "boolean"
                        },
                        "logLevel": {},
                        "noTasks": {
                            "type": "boolean"
                        },
                        "queryConcurrency": {
                            "type": "integer"
                        },
                        "queryQueueSize": {
                            "type": "integer"
                        },
                        "tracingType": {},
                        "metricsDisabled": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "union": true
        },
        "Sh": {
            "type": "structure",
            "required": [
                "s3Configuration"
            ],
            "members": {
                "s3Configuration": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "enabled"
                    ],
                    "members": {
                        "bucketName": {},
                        "enabled": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "InfluxDBv2": {
                    "type": "structure",
                    "members": {
                        "fluxLogEnabled": {
                            "type": "boolean"
                        },
                        "logLevel": {},
                        "noTasks": {
                            "type": "boolean"
                        },
                        "queryConcurrency": {
                            "type": "integer"
                        },
                        "queryQueueSize": {
                            "type": "integer"
                        },
                        "tracingType": {},
                        "metricsDisabled": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "union": true
        },
        "S14": {
            "type": "structure",
            "members": {
                "durationType": {},
                "value": {
                    "type": "long"
                }
            }
        }
    }
}