{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-01-27",
        "endpointPrefix": "timestream-influxdb",
        "jsonVersion": "1.0",
        "protocol": "json",
        "ripServiceName": "timestream-influxdb",
        "serviceAbbreviation": "Timestream InfluxDB",
        "serviceFullName": "Timestream InfluxDB",
        "serviceId": "Timestream InfluxDB",
        "signatureVersion": "v4",
        "signingName": "timestream-influxdb",
        "targetPrefix": "AmazonTimestreamInfluxDB",
        "uid": "timestream-influxdb-2023-01-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateDbInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceIdentifier",
                    "password",
                    "dbInstanceType",
                    "subnetIds",
                    "allocatedStorage"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbInstanceIdentifier": {},
                    "username": {
                        "type": "string",
                        "sensitive": true
                    },
                    "password": {
                        "type": "string",
                        "sensitive": true
                    },
                    "organization": {},
                    "bucket": {},
                    "dbInstanceType": {},
                    "subnetIds": {
                        "shape": "S8"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S8"
                    },
                    "publicIp": {
                        "type": "boolean"
                    },
                    "dbStorageType": {},
                    "allocatedStorage": {
                        "type": "integer"
                    },
                    "dbParameterGroupName": {},
                    "multiAZ": {
                        "type": "boolean"
                    },
                    "logDeliveryConfiguration": {
                        "shape": "Sd"
                    },
                    "resourceId": {
                        "internalonly": true
                    },
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "dbInstanceName": {},
                    "dbParameterGroupIdentifier": {},
                    "name": {},
                    "vpcSubnetIds": {
                        "shape": "Sa"
                    },
                    "deploymentType": {},
                    "port": {
                        "type": "integer"
                    },
                    "networkType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstance"
                ],
                "members": {
                    "dbInstance": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateDbParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "dbParameterGroupName"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbParameterGroupName": {},
                    "description": {},
                    "sourceDbParameterGroupName": {},
                    "parameters": {
                        "type": "list",
                        "member": {}
                    },
                    "resourceId": {
                        "internalonly": true
                    },
                    "tags": {
                        "shape": "Si"
                    },
                    "sourceDbParameterGroupIdentifier": {},
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbParameterGroup"
                ],
                "members": {
                    "dbParameterGroup": {
                        "shape": "Sr"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteDbInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbInstanceIdentifier": {},
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstance"
                ],
                "members": {
                    "dbInstance": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetDbInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbInstanceIdentifier": {},
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstance"
                ],
                "members": {
                    "dbInstance": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "GetDbParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "dbParameterGroupName"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbParameterGroupName": {},
                    "dbParameterGroupIdentifier": {},
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbParameterGroup"
                ],
                "members": {
                    "dbParameterGroup": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListDbInstances": {
            "input": {
                "type": "structure",
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "nextToken": {},
                    "maxRecords": {
                        "type": "integer"
                    },
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstances"
                ],
                "members": {
                    "dbInstances": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListDbParameterGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "nextToken": {},
                    "maxRecords": {
                        "type": "integer"
                    },
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbParameterGroups"
                ],
                "members": {
                    "dbParameterGroups": {
                        "type": "list",
                        "member": {
                            "shape": "Sr"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateDbInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "dbInstanceIdentifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbInstanceIdentifier": {},
                    "logDeliveryConfiguration": {
                        "shape": "Sd"
                    },
                    "dbParameterGroupName": {},
                    "dbParameterGroupIdentifier": {},
                    "identifier": {},
                    "port": {
                        "type": "integer"
                    },
                    "dbInstanceType": {},
                    "deploymentType": {},
                    "dbStorageType": {},
                    "allocatedStorage": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "dbInstance"
                ],
                "members": {
                    "dbInstance": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "tags": {
                        "shape": "Si"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "CreateDbCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "password",
                    "dbInstanceType",
                    "allocatedStorage",
                    "vpcSubnetIds",
                    "vpcSecurityGroupIds",
                    "deploymentType"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "resourceId": {
                        "internalonly": true
                    },
                    "name": {},
                    "username": {
                        "shape": "S5"
                    },
                    "password": {
                        "shape": "S6"
                    },
                    "organization": {},
                    "bucket": {},
                    "port": {
                        "type": "integer"
                    },
                    "dbParameterGroupIdentifier": {},
                    "dbInstanceType": {},
                    "dbStorageType": {},
                    "allocatedStorage": {
                        "type": "integer"
                    },
                    "networkType": {},
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "vpcSubnetIds": {
                        "shape": "Sg"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "Si"
                    },
                    "deploymentType": {},
                    "failoverMode": {},
                    "logDeliveryConfiguration": {
                        "shape": "Sm"
                    },
                    "tags": {
                        "shape": "Sp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dbClusterId": {},
                    "dbClusterStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "DeleteDbCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "dbClusterId"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dbClusterStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "GetDbCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "dbClusterId"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbClusterId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "endpoint": {},
                    "readerEndpoint": {},
                    "port": {
                        "type": "integer"
                    },
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "dbParameterGroupIdentifier": {},
                    "logDeliveryConfiguration": {
                        "shape": "Sm"
                    },
                    "influxAuthParametersSecretArn": {},
                    "vpcSubnetIds": {
                        "shape": "Sg"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "Si"
                    },
                    "deploymentType": {},
                    "failoverMode": {},
                    "networkType": {},
                    "dbInstanceType": {},
                    "dbStorageType": {},
                    "allocatedStorage": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "ListDbClusters": {
            "input": {
                "type": "structure",
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "items"
                ],
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "arn"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "status": {},
                                "endpoint": {},
                                "readerEndpoint": {},
                                "port": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "ListDbInstancesForCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "dbClusterId"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbClusterId": {},
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "items"
                ],
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "arn"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "status": {},
                                "endpoint": {},
                                "port": {
                                    "type": "integer"
                                },
                                "networkType": {},
                                "dbInstanceType": {},
                                "dbStorageType": {},
                                "allocatedStorage": {
                                    "type": "integer"
                                },
                                "deploymentType": {},
                                "instanceMode": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "UpdateDbCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "dbClusterId"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbClusterId": {},
                    "logDeliveryConfiguration": {
                        "shape": "Sm"
                    },
                    "dbParameterGroupIdentifier": {},
                    "port": {
                        "type": "integer"
                    },
                    "dbInstanceType": {},
                    "failoverMode": {},
                    "dbStorageType": {},
                    "allocatedStorage": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dbClusterStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "RebootDbCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "dbClusterId"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "dbClusterId": {},
                    "instanceIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dbClusterStatus": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "RebootDbInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "identifier"
                ],
                "members": {
                    "capiAwsAccountId": {
                        "internalonly": true
                    },
                    "awsEc2InstanceArn": {
                        "internalonly": true
                    },
                    "capiEncryptedFasToken": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "capiEncryptedFasDataKey": {
                        "shape": "S3",
                        "internalonly": true
                    },
                    "identifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "id",
                    "name",
                    "arn",
                    "vpcSubnetIds"
                ],
                "members": {
                    "id": {},
                    "name": {},
                    "arn": {},
                    "status": {},
                    "endpoint": {},
                    "port": {
                        "type": "integer"
                    },
                    "networkType": {},
                    "dbInstanceType": {},
                    "dbStorageType": {},
                    "allocatedStorage": {
                        "type": "integer"
                    },
                    "deploymentType": {},
                    "vpcSubnetIds": {
                        "shape": "Sg"
                    },
                    "publiclyAccessible": {
                        "type": "boolean"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "Si"
                    },
                    "dbParameterGroupIdentifier": {},
                    "availabilityZone": {},
                    "secondaryAvailabilityZone": {},
                    "logDeliveryConfiguration": {
                        "shape": "Sm"
                    },
                    "influxAuthParametersSecretArn": {},
                    "dbClusterId": {},
                    "instanceMode": {},
                    "instanceModes": {
                        "shape": "S13"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sd": {
            "type": "structure",
            "required": [
                "s3Configuration"
            ],
            "members": {
                "s3Configuration": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "enabled"
                    ],
                    "members": {
                        "bucketName": {},
                        "enabled": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "dbInstanceIdentifier",
                "dbId",
                "dbArn",
                "subnetIds"
            ],
            "members": {
                "dbInstanceIdentifier": {},
                "dbId": {},
                "dbArn": {},
                "subnetIds": {
                    "shape": "S8"
                },
                "status": {},
                "publicIpv4": {},
                "privateIpv4": {},
                "endpointUrl": {},
                "vpcSecurityGroupIds": {
                    "shape": "S8"
                },
                "dbInstanceType": {},
                "dbStorageType": {},
                "allocatedStorage": {
                    "type": "integer"
                },
                "dbParameterGroupName": {},
                "parameters": {
                    "shape": "Sk"
                },
                "multiAZ": {
                    "type": "boolean"
                },
                "availabilityZone": {},
                "secondaryAvailabilityZone": {},
                "logDeliveryConfiguration": {
                    "shape": "Sd"
                },
                "influxAuthParametersSecretArn": {}
            }
        },
        "Sk": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sr": {
            "type": "structure",
            "required": [
                "dbParameterGroupName"
            ],
            "members": {
                "dbParameterGroupName": {},
                "dbParameterGroupId": {},
                "description": {},
                "parameters": {
                    "shape": "Sk"
                }
            }
        },
        "Sa": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "structure",
            "required": [
                "s3Configuration"
            ],
            "members": {
                "s3Configuration": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "enabled"
                    ],
                    "members": {
                        "bucketName": {},
                        "enabled": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "Sn": {
            "type": "structure",
            "required": [
                "dbInstanceIdentifier",
                "dbId",
                "dbArn",
                "subnetIds"
            ],
            "members": {
                "dbInstanceIdentifier": {},
                "dbId": {},
                "dbArn": {},
                "subnetIds": {
                    "shape": "Sa"
                },
                "status": {},
                "endpointUrl": {},
                "publiclyAccessible": {
                    "type": "boolean"
                },
                "vpcSecurityGroupIds": {
                    "shape": "Sa"
                },
                "dbInstanceType": {},
                "dbStorageType": {},
                "allocatedStorage": {
                    "type": "integer"
                },
                "dbParameterGroupName": {},
                "parameters": {
                    "shape": "Sr"
                },
                "multiAZ": {
                    "type": "boolean"
                },
                "availabilityZone": {},
                "secondaryAvailabilityZone": {},
                "logDeliveryConfiguration": {
                    "shape": "Sf"
                },
                "influxAuthParametersSecretArn": {}
            }
        },
        "Sy": {
            "type": "structure",
            "required": [
                "dbParameterGroupName"
            ],
            "members": {
                "dbParameterGroupName": {},
                "dbParameterGroupId": {},
                "description": {},
                "parameters": {
                    "shape": "Sr"
                }
            }
        },
        "Sq": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sx": {
            "type": "structure",
            "required": [
                "dbParameterGroupIdentifier",
                "dbParameterGroupName",
                "dbParameterGroupArn"
            ],
            "members": {
                "dbParameterGroupIdentifier": {},
                "dbParameterGroupName": {},
                "dbParameterGroupArn": {},
                "description": {},
                "parameters": {
                    "shape": "Sq"
                }
            }
        },
        "Sc": {
            "type": "list",
            "member": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "s3Configuration"
            ],
            "members": {
                "s3Configuration": {
                    "type": "structure",
                    "required": [
                        "bucketName",
                        "enabled"
                    ],
                    "members": {
                        "bucketName": {},
                        "enabled": {
                            "type": "boolean"
                        }
                    }
                }
            }
        },
        "Sm": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sw": {
            "type": "structure",
            "members": {
                "InfluxDBv2": {
                    "type": "structure",
                    "members": {
                        "fluxLogEnabled": {
                            "type": "boolean"
                        },
                        "logLevel": {},
                        "noTasks": {
                            "type": "boolean"
                        },
                        "queryConcurrency": {
                            "type": "integer"
                        },
                        "queryQueueSize": {
                            "type": "integer"
                        },
                        "tracingType": {},
                        "metricsDisabled": {
                            "type": "boolean"
                        }
                    }
                }
            },
            "union": true
        },
        "Sh": {
            "type": "structure",
            "required": [
                "s3Configuration"
            ],
            "members": {
                "s3Configuration": {
                    "type": "structure",
[...]
