{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-01",
        "endpointPrefix": "ingest.timestream",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "Timestream Write",
        "serviceFullName": "Amazon Timestream Write",
        "serviceId": "Timestream Write",
        "signatureVersion": "v4",
        "signingName": "timestream",
        "targetPrefix": "Timestream_20181101",
        "uid": "timestream-write-2018-11-01",
        "download_location": [
            "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName"
                ],
                "members": {
                    "DatabaseName": {},
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Database": {
                        "shape": "S9"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateTable": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {},
                    "RetentionProperties": {
                        "shape": "Sf"
                    },
                    "Tags": {
                        "shape": "S4"
                    },
                    "MagneticStoreWriteProperties": {
                        "shape": "Si"
                    },
                    "Schema": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Table": {
                        "shape": "Sq"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName"
                ],
                "members": {
                    "DatabaseName": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteTable": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName"
                ],
                "members": {
                    "DatabaseName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Database": {
                        "shape": "S9"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEndpoints": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "Endpoints"
                ],
                "members": {
                    "Endpoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Address",
                                "CachePeriodInMinutes"
                            ],
                            "members": {
                                "Address": {},
                                "CachePeriodInMinutes": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "endpointoperation": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeTable": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Table": {
                        "shape": "Sq"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListDatabases": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Databases": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "NextToken": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTables": {
            "input": {
                "type": "structure",
                "members": {
                    "DatabaseName": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tables": {
                        "type": "list",
                        "member": {
                            "shape": "Sq"
                        }
                    },
                    "NextToken": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "KmsKeyId"
                ],
                "members": {
                    "DatabaseName": {},
                    "KmsKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Database": {
                        "shape": "S9"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateTable": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {},
                    "RetentionProperties": {
                        "shape": "Sf"
                    },
                    "MagneticStoreWriteProperties": {
                        "shape": "Si"
                    },
                    "Schema": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Table": {
                        "shape": "Sq"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "WriteRecords": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName",
                    "Records"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {},
                    "CommonAttributes": {
                        "shape": "S1m"
                    },
                    "Records": {
                        "type": "list",
                        "member": {
                            "shape": "S1m"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RecordsIngested": {
                        "type": "structure",
                        "members": {
                            "Total": {
                                "type": "integer"
                            },
                            "MemoryStore": {
                                "type": "integer"
                            },
                            "MagneticStore": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBatchLoadTask": {
            "input": {
                "type": "structure",
                "required": [
                    "DataSourceConfiguration",
                    "ReportConfiguration",
                    "TargetDatabaseName",
                    "TargetTableName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "type": "string",
                        "sensitive": true
                    },
                    "DataModelConfiguration": {
                        "shape": "S3"
                    },
                    "DataSourceConfiguration": {
                        "shape": "Sk"
                    },
                    "ReportConfiguration": {
                        "shape": "Sq"
                    },
                    "TargetDatabaseName": {},
                    "TargetTableName": {},
                    "RecordVersion": {
                        "type": "long"
                    },
                    "NotificationConfiguration": {
                        "shape": "Ss"
                    },
                    "LoadOffline": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeBatchLoadTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BatchLoadTaskDescription"
                ],
                "members": {
                    "BatchLoadTaskDescription": {
                        "type": "structure",
                        "members": {
                            "TaskId": {},
                            "ErrorMessage": {},
                            "DataSourceConfiguration": {
                                "shape": "Sk"
                            },
                            "ProgressReport": {
                                "type": "structure",
                                "members": {
                                    "RecordsProcessed": {
                                        "type": "long"
                                    },
                                    "RecordsIngested": {
                                        "type": "long"
                                    },
                                    "ParseFailures": {
                                        "type": "long"
                                    },
                                    "RecordIngestionFailures": {
                                        "type": "long"
                                    },
                                    "FileFailures": {
                                        "type": "long"
                                    },
                                    "BytesMetered": {
                                        "type": "long"
                                    }
                                }
                            },
                            "ReportConfiguration": {
                                "shape": "Sq"
                            },
                            "DataModelConfiguration": {
                                "shape": "S3"
                            },
                            "TargetDatabaseName": {},
                            "TargetTableName": {},
                            "TaskStatus": {},
                            "RecordVersion": {
                                "type": "long"
                            },
                            "CreationTime": {
                                "type": "timestamp"
                            },
                            "LastUpdatedTime": {
                                "type": "timestamp"
                            },
                            "ResumableUntil": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListBatchLoadTasks": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "TaskStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "BatchLoadTasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TaskId": {},
                                "TaskStatus": {},
                                "DatabaseName": {},
                                "TableName": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "ResumableUntil": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ResumeBatchLoadTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PBI33EYLWPNT7NZLMJRRUK3QEFXX3Y7FNRJ7YNLI24DPXFUFXPQ/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4GZFSJANS5FN7NDI3PDPCY4SDOZFUF7IN46ZD2BQEBSTBN5GTKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HHG5TN5ETWFEUZDXFJ2LQMD6TBN6UZQW2RY7GC2UELFEXWVAQPEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCZBLDZEC7MLWZVZHAULFIZ2LHBS7NZAMJ24LYRYOZ3KR6NKS2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GB54IBLHOAPTXMDHNUU7G77MRQMYVBG7EHVXYEZLGL2276HJZC6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQZ5FETDML5SWZVUCNA4PHD2ELEHAZ5QTM2AWQCPP4BVKM4R6V3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBulkImportTask": {
            "input": {
                "type": "structure",
                "required": [
                    "InputConfiguration",
                    "ReportConfiguration",
                    "TargetDatabaseName",
                    "TargetTableName"
                ],
                "members": {
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "DataModelConfiguration": {
                        "shape": "S3"
                    },
                    "InputConfiguration": {
                        "shape": "S14"
                    },
                    "NotificationConfiguration": {
                        "shape": "Ss"
                    },
                    "ReportConfiguration": {
                        "shape": "Su"
                    },
                    "TargetDatabaseName": {},
                    "TargetTableName": {},
                    "RecordVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {},
                    "BulkImportTask": {
                        "shape": "S19",
                        "deprecated": true
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js"
            ]
        },
        "CreateBulkImportTaskInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InternalInputConfiguration",
                    "ReportConfiguration",
                    "TargetDatabaseName",
                    "TargetTableName"
                ],
                "members": {
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "DataModelConfiguration": {
                        "shape": "S3"
                    },
                    "InternalInputConfiguration": {
                        "shape": "S1h"
                    },
                    "NotificationConfiguration": {
                        "shape": "Ss"
                    },
                    "ReportConfiguration": {
                        "shape": "Su"
                    },
                    "TargetDatabaseName": {},
                    "TargetTableName": {},
                    "RecordVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InternalBulkImportTask": {
                        "shape": "S1k"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js"
            ]
        },
        "DescribeBulkImportTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BulkImportTask"
                ],
                "members": {
                    "BulkImportTask": {
                        "shape": "S19"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js"
            ]
        },
        "DescribeBulkImportTaskInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InternalBulkImportTask"
                ],
                "members": {
                    "InternalBulkImportTask": {
                        "shape": "S1k"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js"
            ]
        },
        "GetBackupJobStatusInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BackupJobId",
                    "ResourceClientJobId"
                ],
                "members": {
                    "AccountId": {},
                    "BackupJobId": {},
                    "ResourceClientJobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BackupJobState": {},
                    "PercentComplete": {
                        "type": "double"
                    },
                    "EstimatedTimeToCompleteMinutes": {
                        "type": "long"
                    },
                    "Message": {},
                    "BytesTransferred": {
                        "type": "long"
                    },
                    "RestoreMetadata": {
                        "shape": "S2v"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
[...]
