{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-01",
        "endpointPrefix": "query.timestream",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "Timestream Query",
        "serviceFullName": "Amazon Timestream Query",
        "serviceId": "Timestream Query",
        "signatureVersion": "v4",
        "signingName": "timestream",
        "targetPrefix": "Timestream_20181101",
        "uid": "timestream-query-2018-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryId"
                ],
                "members": {
                    "QueryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CancellationMessage": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "CreateScheduledQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "QueryString",
                    "ScheduleConfiguration",
                    "NotificationConfiguration",
                    "ScheduledQueryExecutionRoleArn",
                    "ErrorReportConfiguration"
                ],
                "members": {
                    "Name": {},
                    "QueryString": {
                        "shape": "S7"
                    },
                    "ScheduleConfiguration": {
                        "shape": "S8"
                    },
                    "NotificationConfiguration": {
                        "shape": "Sa"
                    },
                    "TargetConfiguration": {
                        "shape": "Sd"
                    },
                    "ClientToken": {
                        "shape": "Sr",
                        "idempotencyToken": true
                    },
                    "ScheduledQueryExecutionRoleArn": {},
                    "Tags": {
                        "shape": "Ss"
                    },
                    "KmsKeyId": {},
                    "ErrorReportConfiguration": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DeleteScheduledQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ScheduledQueryArn"
                ],
                "members": {
                    "ScheduledQueryArn": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeEndpoints": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "Endpoints"
                ],
                "members": {
                    "Endpoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Address",
                                "CachePeriodInMinutes"
                            ],
                            "members": {
                                "Address": {},
                                "CachePeriodInMinutes": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "endpointoperation": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeScheduledQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ScheduledQueryArn"
                ],
                "members": {
                    "ScheduledQueryArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduledQuery"
                ],
                "members": {
                    "ScheduledQuery": {
                        "type": "structure",
                        "required": [
                            "Arn",
                            "Name",
                            "QueryString",
                            "State",
                            "ScheduleConfiguration",
                            "NotificationConfiguration"
                        ],
                        "members": {
                            "Arn": {},
                            "Name": {},
                            "QueryString": {
                                "shape": "S7"
                            },
                            "CreationTime": {
                                "type": "timestamp"
                            },
                            "State": {},
                            "PreviousInvocationTime": {
                                "type": "timestamp"
                            },
                            "NextInvocationTime": {
                                "type": "timestamp"
                            },
                            "ScheduleConfiguration": {
                                "shape": "S8"
                            },
                            "NotificationConfiguration": {
                                "shape": "Sa"
                            },
                            "TargetConfiguration": {
                                "shape": "Sd"
                            },
                            "ScheduledQueryExecutionRoleArn": {},
                            "KmsKeyId": {},
                            "ErrorReportConfiguration": {
                                "shape": "Sx"
                            },
                            "LastRunSummary": {
                                "shape": "S1e"
                            },
                            "RecentlyFailedRuns": {
                                "type": "list",
                                "member": {
                                    "shape": "S1e"
                                }
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ExecuteScheduledQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ScheduledQueryArn",
                    "InvocationTime"
                ],
                "members": {
                    "ScheduledQueryArn": {},
                    "InvocationTime": {
                        "type": "timestamp"
                    },
                    "ClientToken": {
                        "shape": "Sr",
                        "idempotencyToken": true
                    },
                    "QueryInsights": {
                        "type": "structure",
                        "required": [
                            "Mode"
                        ],
                        "members": {
                            "Mode": {}
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListScheduledQueries": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduledQueries"
                ],
                "members": {
                    "ScheduledQueries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "Name",
                                "State"
                            ],
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "State": {},
                                "PreviousInvocationTime": {
                                    "type": "timestamp"
                                },
                                "NextInvocationTime": {
                                    "type": "timestamp"
                                },
                                "ErrorReportConfiguration": {
                                    "shape": "Sx"
                                },
                                "TargetDestination": {
                                    "type": "structure",
                                    "members": {
                                        "TimestreamDestination": {
                                            "type": "structure",
                                            "members": {
                                                "DatabaseName": {},
                                                "TableName": {}
                                            }
                                        }
                                    }
                                },
                                "LastRunStatus": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags"
                ],
                "members": {
                    "Tags": {
                        "shape": "Ss"
                    },
                    "NextToken": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "PrepareQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryString"
                ],
                "members": {
                    "QueryString": {
                        "shape": "S7"
                    },
                    "ValidateOnly": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "QueryString",
                    "Columns",
                    "Parameters"
                ],
                "members": {
                    "QueryString": {
                        "shape": "S7"
                    },
                    "Columns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {
                                    "shape": "S24"
                                },
                                "DatabaseName": {},
                                "TableName": {},
                                "Aliased": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "Parameters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Type"
                            ],
                            "members": {
                                "Name": {},
                                "Type": {
                                    "shape": "S24"
                                }
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "Query": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryString"
                ],
                "members": {
                    "QueryString": {
                        "shape": "S7"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "type": "string",
                        "sensitive": true
                    },
                    "NextToken": {},
                    "MaxRows": {
                        "type": "integer"
                    },
                    "DefaultDatabaseName": {},
                    "QueryInsights": {
                        "type": "structure",
                        "required": [
                            "Mode"
                        ],
                        "members": {
                            "Mode": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "QueryId",
                    "Rows",
                    "ColumnInfo"
                ],
                "members": {
                    "QueryId": {},
                    "NextToken": {},
                    "Rows": {
                        "type": "list",
                        "member": {
                            "shape": "S2g"
                        }
                    },
                    "ColumnInfo": {
                        "shape": "S27"
                    },
                    "QueryStatus": {
                        "type": "structure",
                        "members": {
                            "ProgressPercentage": {
                                "type": "double"
                            },
                            "CumulativeBytesScanned": {
                                "type": "long"
                            },
                            "CumulativeBytesMetered": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "UpdateScheduledQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ScheduledQueryArn",
                    "State"
                ],
                "members": {
                    "ScheduledQueryArn": {},
                    "State": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "DescribeAccountSettings": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "MaxQueryTCU": {
                        "type": "integer"
                    },
                    "QueryPricingModel": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        },
        "UpdateAccountSettings": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxQueryTCU": {
                        "type": "integer"
                    },
                    "QueryPricingModel": {},
                    "QueryCompute": {
                        "type": "structure",
                        "members": {
                            "ComputeMode": {},
                            "ProvisionedCapacity": {
                                "type": "structure",
                                "required": [
                                    "TargetQueryTCU"
                                ],
                                "members": {
                                    "TargetQueryTCU": {
                                        "type": "integer"
                                    },
                                    "NotificationConfiguration": {
                                        "shape": "S1c"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MaxQueryTCU": {
                        "type": "integer"
                    },
                    "QueryPricingModel": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPHJD6ET6TI6HEVDS6ZUOIKREJISG4JSEUEEBSQOIYI6ALPTQJOA/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M7X3UVOERN2JNIN5QFPHH7NNIJATCOSDFSGDAA2U7J4WLBVG2VQ/540.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3ITUKOGKY5SAYXJUDW7JYCLMLAVD5NUUFUCRKKPQSSIZOOC36ZQ/697.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LH672757GEQ44VMKU6JA25SCNER3MN262SMCZRDW54EST2HXIUPA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUPPFUY5LWKUA3CINKTZD7BBS2VD7LALO7CKSDJW5LW32UCT4SXA/111.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/52IYG32FO5266ULO7WUSJJI6HCHECWZIKA4ISJIZXAD66ABQSPBQ/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZIN72HXQQQ5NDTF5OKYEUMWU72N7XLXFRW5T4B3HU23NZ74LBAA/750.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGVUZPSE4LGUARZNGILURO4BIBAWZXKZ2SNZEPW7TBYUK3YGDGOQ/934.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IM2UQGHFN3RGTNK3WMTFROW4DIZGOQPWTYQIWL76FS7ADGUKQG6Q/416.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQS7IXBYY3B6VSQT5D625AOZDZE5SWGGV2Q4RLYQ4MRBYXTA6MXA/48.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PMQITLLPVAKE7ZYTM26MLGLSK7XY53IO6N5767PKGHW3EWJ6NPBQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SX2XIMU7QVRFDGFSVKQBGVSDWXRPYCJDQMHL3I2JZ24WRZVCHIWQ/411.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3653VT3BB6XPKIVCESV7O5UQNOLJTA7A5KLMLMFAU5JLY2IBYFHA/517.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CS54DNDBVBTZZOZHA2YDZXD6G622MNP2JC3SFVNWXNW36EJA5CQ/123.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JL5PTE4NPISJOK2U3MV4GGZLNZPLWOEDIPPZXUIDORFKPIX4KIRA/95.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSHHKOTVCUS57XLVNDAQQXZ4HDB5AYFC2BAWHT3TIWYKH2AT7SQQ/213.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "structure",
            "required": [
                "ScheduleExpression"
            ],
            "members": {
                "ScheduleExpression": {}
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "SnsConfiguration"
            ],
            "members": {
                "SnsConfiguration": {
                    "type": "structure",
                    "required": [
                        "TopicArn"
                    ],
                    "members": {
                        "TopicArn": {}
                    }
                }
            }
        },
        "Sd": {
            "type": "structure",
            "required": [
                "TimestreamConfiguration"
            ],
            "members": {
                "TimestreamConfiguration": {
                    "type": "structure",
                    "required": [
                        "DatabaseName",
                        "TableName",
                        "TimeColumn",
                        "DimensionMappings"
                    ],
                    "members": {
                        "DatabaseName": {},
                        "TableName": {},
                        "TimeColumn": {},
                        "DimensionMappings": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "DimensionValueType"
                                ],
                                "members": {
                                    "Name": {},
                                    "DimensionValueType": {}
                                }
                            }
                        },
                        "MultiMeasureMappings": {
                            "type": "structure",
                            "required": [
                                "MultiMeasureAttributeMappings"
                            ],
                            "members": {
                                "TargetMultiMeasureName": {},
                                "MultiMeasureAttributeMappings": {
                                    "shape": "Sl"
                                }
                            }
                        },
                        "MixedMeasureMappings": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "MeasureValueType"
                                ],
                                "members": {
                                    "MeasureName": {},
                                    "SourceColumn": {},
                                    "TargetMeasureName": {},
                                    "MeasureValueType": {},
                                    "MultiMeasureAttributeMappings": {
                                        "shape": "Sl"
                                    }
                                }
                            }
                        },
                        "MeasureNameColumn": {}
                    }
                }
            }
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "SourceColumn",
                    "MeasureValueType"
                ],
                "members": {
                    "SourceColumn": {},
                    "TargetMultiMeasureAttributeName": {},
                    "MeasureValueType": {}
                }
            }
        },
        "Sr": {
            "type": "string",
            "sensitive": true
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sx": {
            "type": "structure",
            "required": [
                "S3Configuration"
            ],
            "members": {
                "S3Configuration": {
                    "type": "structure",
                    "required": [
                        "BucketName"
                    ],
                    "members": {
                        "BucketName": {},
                        "ObjectKeyPrefix": {},
                        "EncryptionOption": {}
                    }
                }
            }
        },
        "S1e": {
            "type": "structure",
            "members": {
                "InvocationTime": {
                    "type": "timestamp"
                },
                "TriggerTime": {
                    "type": "timestamp"
                },
                "RunStatus": {},
                "ExecutionStats": {
                    "type": "structure",
                    "members": {
                        "ExecutionTimeInMillis": {
                            "type": "long"
                        },
                        "DataWrites": {
                            "type": "long"
                        },
                        "BytesMetered": {
                            "type": "long"
                        },
                        "RecordsIngested": {
                            "type": "long"
                        },
                        "QueryResultRows": {
                            "type": "long"
                        }
                    }
                },
                "ErrorReportLocation": {
                    "type": "structure",
                    "members": {
                        "S3ReportLocation": {
                            "type": "structure",
                            "members": {
                                "BucketName": {},
                                "ObjectKey": {}
                            }
                        }
                    }
                },
                "FailureReason": {}
            }
        },
        "S24": {
            "type": "structure",
            "members": {
                "ScalarType": {},
                "ArrayColumnInfo": {
                    "shape": "S26"
                },
                "TimeSeriesMeasureValueColumnInfo": {
                    "shape": "S26"
                },
                "RowColumnInfo": {
                    "shape": "S27"
                }
            }
        },
        "S26": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Name": {},
                "Type": {
                    "shape": "S24"
                }
            }
        },
        "S27": {
            "type": "list",
            "member": {
                "shape": "S26"
            }
        },
        "S2g": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "shape": "S2h"
                }
            }
        },
        "S2h": {
            "type": "list",
            "member": {
                "shape": "S2i"
            }
        },
        "S2i": {
            "type": "structure",
            "members": {
                "ScalarValue": {},
                "TimeSeriesValue": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Time",
                            "Value"
                        ],
                        "members": {
                            "Time": {},
                            "Value": {
                                "shape": "S2i"
                            }
                        }
                    }
                },
                "ArrayValue": {
                    "shape": "S2h"
                },
                "RowValue": {
                    "shape": "S2g"
                },
                "NullValue": {
                    "type": "boolean"
                }
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "shape": "Sh"
                }
            }
        },
        "Sh": {
            "type": "list",
            "member": {
                "shape": "Si"
            }
        },
        "Si": {
            "type": "structure",
            "members": {
                "ScalarValue": {},
                "TimeSeriesValue": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Time",
                            "Value"
                        ],
                        "members": {
                            "Time": {},
                            "Value": {
                                "shape": "Si"
                            }
                        }
                    }
                },
                "ArrayValue": {
                    "shape": "Sh"
                },
                "RowValue": {
                    "shape": "Sg"
                },
                "NullValue": {
                    "type": "boolean"
                }
            }
        },
        "So": {
            "type": "list",
            "member": {
                "shape": "Sp"
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Name": {},
                "Type": {
                    "type": "structure",
                    "members": {
                        "ScalarType": {},
                        "ArrayColumnInfo": {
                            "shape": "Sp"
                        },
                        "TimeSeriesMeasureValueColumnInfo": {
                            "shape": "Sp"
                        },
                        "RowColumnInfo": {
                            "shape": "So"
                        }
                    }
                }
            }
        },
        "S1i": {
            "type": "structure",
            "members": {
                "InvocationTime": {
                    "type": "timestamp"
                },
                "TriggerTime": {
                    "type": "timestamp"
                },
                "RunStatus": {},
                "ExecutionStats": {
                    "type": "structure",
                    "members": {
                        "ExecutionTimeInMillis": {
                            "type": "long"
                        },
                        "DataWrites": {
                            "type": "long"
                        },
                        "BytesMetered": {
                            "type": "long"
                        },
                        "CumulativeBytesScanned": {
                            "type": "long"
                        },
                        "RecordsIngested": {
                            "type": "long"
                        },
                        "QueryResultRows": {
                            "type": "long"
                        }
                    }
                },
                "ErrorReportLocation": {
                    "type": "structure",
                    "members": {
                        "S3ReportLocation": {
                            "type": "structure",
                            "members": {
                                "BucketName": {},
                                "ObjectKey": {}
                            }
                        }
                    }
                },
                "FailureReason": {}
            }
        },
        "S28": {
            "type": "structure",
            "members": {
                "ScalarType": {},
                "ArrayColumnInfo": {
                    "shape": "S2a"
                },
                "TimeSeriesMeasureValueColumnInfo": {
                    "shape": "S2a"
                },
                "RowColumnInfo": {
                    "shape": "S2b"
                }
            }
        },
        "S2a": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Name": {},
                "Type": {
                    "shape": "S28"
                }
            }
        },
        "S2b": {
            "type": "list",
            "member": {
                "shape": "S2a"
            }
        },
        "S2k": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "shape": "S2l"
                }
            }
        },
        "S2l": {
            "type": "list",
            "member": {
                "shape": "S2m"
            }
        },
        "S2m": {
            "type": "structure",
            "members": {
                "ScalarValue": {},
                "TimeSeriesValue": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Time",
                            "Value"
                        ],
                        "members": {
                            "Time": {},
                            "Value": {
                                "shape": "S2m"
                            }
                        }
                    }
                },
                "ArrayValue": {
                    "shape": "S2l"
                },
                "RowValue": {
                    "shape": "S2k"
                },
                "NullValue": {
                    "type": "boolean"
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "TopicArn"
            ],
            "members": {
                "TopicArn": {}
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "ComputeMode": {},
                "ProvisionedCapacity": {
                    "type": "structure",
                    "members": {
                        "ActiveQueryTCU": {
                            "type": "integer"
                        },
                        "NotificationConfiguration": {
                            "shape": "S1c"
                        },
                        "LastUpdate": {
                            "type": "structure",
                            "members": {
                                "TargetQueryTCU": {
                                    "type": "integer"
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    }
                }
            }
        },
        "S1c": {
            "type": "structure",
            "required": [
                "RoleArn"
            ],
            "members": {
                "SnsConfiguration": {
                    "shape": "Sb"
                },
                "RoleArn": {}
            }
        },
        "S1p": {
            "type": "structure",
            "members": {
                "InvocationTime": {
                    "type": "timestamp"
                },
                "TriggerTime": {
                    "type": "timestamp"
                },
                "RunStatus": {},
                "ExecutionStats": {
                    "type": "structure",
                    "members": {
                        "ExecutionTimeInMillis": {
                            "type": "long"
                        },
                        "DataWrites": {
                            "type": "long"
                        },
                        "BytesMetered": {
                            "type": "long"
                        },
                        "CumulativeBytesScanned": {
                            "type": "long"
                        },
                        "RecordsIngested": {
                            "type": "long"
                        },
                        "QueryResultRows": {
                            "type": "long"
                        }
                    }
                },
                "QueryInsightsResponse": {
                    "type": "structure",
                    "members": {
                        "QuerySpatialCoverage": {
                            "shape": "S1t"
                        },
                        "QueryTemporalRange": {
                            "shape": "S1y"
                        },
                        "QueryTableCount": {
                            "type": "long"
                        },
                        "OutputRows": {
                            "type": "long"
                        },
                        "OutputBytes": {
                            "type": "long"
                        }
                    }
                },
                "ErrorReportLocation": {
                    "type": "structure",
                    "members": {
                        "S3ReportLocation": {
                            "type": "structure",
                            "members": {
                                "BucketName": {},
                                "ObjectKey": {}
                            }
                        }
                    }
                },
                "FailureReason": {}
            }
        },
        "S1t": {
            "type": "structure",
            "members": {
                "Max": {
                    "type": "structure",
                    "members": {
                        "Value": {
                            "type": "double"
                        },
                        "TableArn": {},
                        "PartitionKey": {
                            "type": "list",
                            "member": {}
                        }
                    }
                }
            }
        },
        "S1y": {
            "type": "structure",
            "members": {
                "Max": {
                    "type": "structure",
                    "members": {
                        "Value": {
                            "type": "long"
                        },
                        "TableArn": {}
                    }
                }
            }
        },
        "S2p": {
            "type": "structure",
            "members": {
                "ScalarType": {},
                "ArrayColumnInfo": {
                    "shape": "S2r"
                },
                "TimeSeriesMeasureValueColumnInfo": {
                    "shape": "S2r"
                },
                "RowColumnInfo": {
                    "shape": "S2s"
                }
            }
        },
        "S2r": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Name": {},
                "Type": {
                    "shape": "S2p"
                }
            }
        },
        "S2s": {
            "type": "list",
            "member": {
                "shape": "S2r"
            }
        },
        "S33": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "shape": "S34"
                }
            }
        },
        "S34": {
            "type": "list",
            "member": {
                "shape": "S35"
            }
        },
        "S35": {
            "type": "structure",
            "members": {
                "ScalarValue": {},
                "TimeSeriesValue": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Time",
                            "Value"
                        ],
                        "members": {
                            "Time": {},
                            "Value": {
                                "shape": "S35"
                            }
                        }
                    }
                },
                "ArrayValue": {
                    "shape": "S34"
                },
                "RowValue": {
                    "shape": "S33"
                },
                "NullValue": {
                    "type": "boolean"
                }
            }
        }
    }
}