{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-01",
        "endpointPrefix": "query.timestream",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "Timestream Query",
        "serviceFullName": "Amazon Timestream Query",
        "serviceId": "Timestream Query",
        "signatureVersion": "v4",
        "signingName": "timestream",
        "targetPrefix": "Timestream_20181101",
        "uid": "timestream-query-2018-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryId"
                ],
                "members": {
                    "QueryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CancellationMessage": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateScheduledQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "QueryString",
                    "ScheduleConfiguration",
                    "NotificationConfiguration",
                    "ScheduledQueryExecutionRoleArn",
                    "ErrorReportConfiguration"
                ],
                "members": {
                    "Name": {},
                    "QueryString": {
                        "shape": "S7"
                    },
                    "ScheduleConfiguration": {
                        "shape": "S8"
                    },
                    "NotificationConfiguration": {
                        "shape": "Sa"
                    },
                    "TargetConfiguration": {
                        "shape": "Sd"
                    },
                    "ClientToken": {
                        "shape": "Sr",
                        "idempotencyToken": true
                    },
                    "ScheduledQueryExecutionRoleArn": {},
                    "Tags": {
                        "shape": "Ss"
                    },
                    "KmsKeyId": {},
                    "ErrorReportConfiguration": {
                        "shape": "Sx"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteScheduledQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ScheduledQueryArn"
                ],
                "members": {
                    "ScheduledQueryArn": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEndpoints": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "Endpoints"
                ],
                "members": {
                    "Endpoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Address",
                                "CachePeriodInMinutes"
                            ],
                            "members": {
                                "Address": {},
                                "CachePeriodInMinutes": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "endpointoperation": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeScheduledQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ScheduledQueryArn"
                ],
                "members": {
                    "ScheduledQueryArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduledQuery"
                ],
                "members": {
                    "ScheduledQuery": {
                        "type": "structure",
                        "required": [
                            "Arn",
                            "Name",
                            "QueryString",
                            "State",
                            "ScheduleConfiguration",
                            "NotificationConfiguration"
                        ],
                        "members": {
                            "Arn": {},
                            "Name": {},
                            "QueryString": {
                                "shape": "S7"
                            },
                            "CreationTime": {
                                "type": "timestamp"
                            },
                            "State": {},
                            "PreviousInvocationTime": {
                                "type": "timestamp"
                            },
                            "NextInvocationTime": {
                                "type": "timestamp"
                            },
                            "ScheduleConfiguration": {
                                "shape": "S8"
                            },
                            "NotificationConfiguration": {
                                "shape": "Sa"
                            },
                            "TargetConfiguration": {
                                "shape": "Sd"
                            },
                            "ScheduledQueryExecutionRoleArn": {},
                            "KmsKeyId": {},
                            "ErrorReportConfiguration": {
                                "shape": "Sx"
                            },
                            "LastRunSummary": {
                                "shape": "S1e"
                            },
                            "RecentlyFailedRuns": {
                                "type": "list",
                                "member": {
                                    "shape": "S1e"
                                }
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ExecuteScheduledQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ScheduledQueryArn",
                    "InvocationTime"
                ],
                "members": {
                    "ScheduledQueryArn": {},
                    "InvocationTime": {
                        "type": "timestamp"
                    },
                    "ClientToken": {
                        "shape": "Sr",
                        "idempotencyToken": true
                    },
                    "QueryInsights": {
                        "type": "structure",
                        "required": [
                            "Mode"
                        ],
                        "members": {
                            "Mode": {}
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListScheduledQueries": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ScheduledQueries"
                ],
                "members": {
                    "ScheduledQueries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "Name",
                                "State"
                            ],
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "State": {},
                                "PreviousInvocationTime": {
                                    "type": "timestamp"
                                },
                                "NextInvocationTime": {
                                    "type": "timestamp"
                                },
                                "ErrorReportConfiguration": {
                                    "shape": "Sx"
                                },
                                "TargetDestination": {
                                    "type": "structure",
                                    "members": {
                                        "TimestreamDestination": {
                                            "type": "structure",
                                            "members": {
                                                "DatabaseName": {},
                                                "TableName": {}
                                            }
                                        }
                                    }
                                },
                                "LastRunStatus": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tags"
                ],
                "members": {
                    "Tags": {
                        "shape": "Ss"
                    },
                    "NextToken": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "PrepareQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryString"
                ],
                "members": {
                    "QueryString": {
                        "shape": "S7"
                    },
                    "ValidateOnly": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "QueryString",
                    "Columns",
                    "Parameters"
                ],
                "members": {
                    "QueryString": {
                        "shape": "S7"
                    },
                    "Columns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {
                                    "shape": "S24"
                                },
                                "DatabaseName": {},
                                "TableName": {},
                                "Aliased": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "Parameters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Type"
                            ],
                            "members": {
                                "Name": {},
                                "Type": {
                                    "shape": "S24"
                                }
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "Query": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryString"
                ],
                "members": {
                    "QueryString": {
                        "shape": "S7"
                    },
                    "ClientToken": {
                        "idempotencyToken": true,
                        "type": "string",
                        "sensitive": true
                    },
                    "NextToken": {},
                    "MaxRows": {
                        "type": "integer"
                    },
                    "DefaultDatabaseName": {},
                    "QueryInsights": {
                        "type": "structure",
                        "required": [
                            "Mode"
                        ],
                        "members": {
                            "Mode": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "QueryId",
                    "Rows",
                    "ColumnInfo"
                ],
                "members": {
                    "QueryId": {},
                    "NextToken": {},
                    "Rows": {
                        "type": "list",
                        "member": {
                            "shape": "S2g"
                        }
                    },
                    "ColumnInfo": {
                        "shape": "S27"
                    },
                    "QueryStatus": {
                        "type": "structure",
                        "members": {
                            "ProgressPercentage": {
                                "type": "double"
                            },
                            "CumulativeBytesScanned": {
                                "type": "long"
                            },
                            "CumulativeBytesMetered": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ5HO4FEO3IIXBJ7BKUMV7IXWDH567QHT73UGTY7ZCVIRRG3BIJA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "Ss"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateScheduledQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ScheduledQueryArn",
                    "State"
                ],
                "members": {
                    "ScheduledQueryArn": {},
                    "State": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAccountSettings": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "MaxQueryTCU": {
                        "type": "integer"
                    },
                    "QueryPricingModel": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js"
            ]
        },
        "UpdateAccountSettings": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxQueryTCU": {
                        "type": "integer"
                    },
                    "QueryPricingModel": {},
                    "QueryCompute": {
                        "type": "structure",
                        "members": {
                            "ComputeMode": {},
                            "ProvisionedCapacity": {
                                "type": "structure",
                                "required": [
                                    "TargetQueryTCU"
                                ],
                                "members": {
                                    "TargetQueryTCU": {
                                        "type": "integer"
                                    },
                                    "NotificationConfiguration": {
                                        "shape": "S1c"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "MaxQueryTCU": {
                        "type": "integer"
                    },
                    "QueryPricingModel": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUQ6LR3TDFZT6EKUCUIQNDOEPKPA2QTT2UEYH2HT5ETMUCQAUEWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ZALSSNSICGPPTJY4TWXDHRIK3I43YHVI4BPOCGFDASG6P4O5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "string",
            "sensitive": true
        },
        "S8": {
            "type": "structure",
            "required": [
                "ScheduleExpression"
            ],
            "members": {
                "ScheduleExpression": {}
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "SnsConfiguration"
            ],
            "members": {
                "SnsConfiguration": {
                    "type": "structure",
                    "required": [
                        "TopicArn"
                    ],
                    "members": {
                        "TopicArn": {}
                    }
                }
            }
        },
        "Sd": {
            "type": "structure",
            "required": [
                "TimestreamConfiguration"
            ],
            "members": {
                "TimestreamConfiguration": {
                    "type": "structure",
                    "required": [
                        "DatabaseName",
                        "TableName",
                        "TimeColumn",
                        "DimensionMappings"
                    ],
                    "members": {
                        "DatabaseName": {},
                        "TableName": {},
                        "TimeColumn": {},
                        "DimensionMappings": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "Name",
                                    "DimensionValueType"
                                ],
                                "members": {
                                    "Name": {},
                                    "DimensionValueType": {}
                                }
                            }
                        },
                        "MultiMeasureMappings": {
                            "type": "structure",
                            "required": [
                                "MultiMeasureAttributeMappings"
                            ],
                            "members": {
                                "TargetMultiMeasureName": {},
                                "MultiMeasureAttributeMappings": {
                                    "shape": "Sl"
                                }
                            }
                        },
                        "MixedMeasureMappings": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "MeasureValueType"
                                ],
                                "members": {
                                    "MeasureName": {},
                                    "SourceColumn": {},
                                    "TargetMeasureName": {},
                                    "MeasureValueType": {},
                                    "MultiMeasureAttributeMappings": {
                                        "shape": "Sl"
                                    }
                                }
                            }
                        },
                        "MeasureNameColumn": {}
                    }
                }
            }
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "SourceColumn",
                    "MeasureValueType"
                ],
                "members": {
                    "SourceColumn": {},
                    "TargetMultiMeasureAttributeName": {},
                    "MeasureValueType": {}
                }
            }
        },
        "Sr": {
            "type": "string",
            "sensitive": true
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "Sx": {
            "type": "structure",
            "required": [
                "S3Configuration"
            ],
            "members": {
                "S3Configuration": {
                    "type": "structure",
                    "required": [
                        "BucketName"
                    ],
                    "members": {
                        "BucketName": {},
                        "ObjectKeyPrefix": {},
                        "EncryptionOption": {}
                    }
                }
            }
        },
        "S1e": {
            "type": "structure",
            "members": {
                "InvocationTime": {
                    "type": "timestamp"
                },
                "TriggerTime": {
                    "type": "timestamp"
                },
                "RunStatus": {},
                "ExecutionStats": {
                    "type": "structure",
                    "members": {
                        "ExecutionTimeInMillis": {
                            "type": "long"
                        },
                        "DataWrites": {
                            "type": "long"
                        },
                        "BytesMetered": {
                            "type": "long"
                        },
                        "RecordsIngested": {
                            "type": "long"
                        },
                        "QueryResultRows": {
                            "type": "long"
                        }
                    }
                },
                "ErrorReportLocation": {
                    "type": "structure",
                    "members": {
                        "S3ReportLocation": {
                            "type": "structure",
                            "members": {
                                "BucketName": {},
                                "ObjectKey": {}
                            }
                        }
                    }
                },
                "FailureReason": {}
            }
        },
        "S24": {
            "type": "structure",
            "members": {
                "ScalarType": {},
                "ArrayColumnInfo": {
                    "shape": "S26"
                },
                "TimeSeriesMeasureValueColumnInfo": {
                    "shape": "S26"
                },
                "RowColumnInfo": {
                    "shape": "S27"
                }
            }
        },
        "S26": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Name": {},
                "Type": {
                    "shape": "S24"
                }
            }
        },
        "S27": {
            "type": "list",
            "member": {
                "shape": "S26"
            }
        },
        "S2g": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "shape": "S2h"
                }
            }
        },
        "S2h": {
            "type": "list",
            "member": {
                "shape": "S2i"
            }
        },
        "S2i": {
            "type": "structure",
            "members": {
                "ScalarValue": {},
                "TimeSeriesValue": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Time",
                            "Value"
                        ],
                        "members": {
                            "Time": {},
                            "Value": {
                                "shape": "S2i"
                            }
                        }
                    }
                },
                "ArrayValue": {
                    "shape": "S2h"
                },
                "RowValue": {
                    "shape": "S2g"
                },
                "NullValue": {
                    "type": "boolean"
                }
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "shape": "Sh"
                }
            }
        },
        "Sh": {
            "type": "list",
            "member": {
                "shape": "Si"
            }
        },
        "Si": {
            "type": "structure",
            "members": {
                "ScalarValue": {},
                "TimeSeriesValue": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Time",
                            "Value"
                        ],
                        "members": {
                            "Time": {},
                            "Value": {
                                "shape": "Si"
                            }
                        }
                    }
                },
                "ArrayValue": {
                    "shape": "Sh"
                },
                "RowValue": {
                    "shape": "Sg"
                },
                "NullValue": {
                    "type": "boolean"
                }
            }
        },
        "So": {
            "type": "list",
            "member": {
                "shape": "Sp"
            }
        },
        "Sp": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Name": {},
                "Type": {
                    "type": "structure",
                    "members": {
                        "ScalarType": {},
                        "ArrayColumnInfo": {
                            "shape": "Sp"
                        },
                        "TimeSeriesMeasureValueColumnInfo": {
                            "shape": "Sp"
                        },
                        "RowColumnInfo": {
                            "shape": "So"
                        }
                    }
                }
            }
        },
        "S1i": {
            "type": "structure",
            "members": {
                "InvocationTime": {
                    "type": "timestamp"
                },
                "TriggerTime": {
                    "type": "timestamp"
                },
                "RunStatus": {},
                "ExecutionStats": {
                    "type": "structure",
                    "members": {
                        "ExecutionTimeInMillis": {
                            "type": "long"
                        },
                        "DataWrites": {
                            "type": "long"
                        },
                        "BytesMetered": {
                            "type": "long"
                        },
                        "CumulativeBytesScanned": {
                            "type": "long"
                        },
                        "RecordsIngested": {
                            "type": "long"
                        },
                        "QueryResultRows": {
                            "type": "long"
                        }
                    }
                },
                "ErrorReportLocation": {
                    "type": "structure",
                    "members": {
                        "S3ReportLocation": {
                            "type": "structure",
                            "members": {
                                "BucketName": {},
                                "ObjectKey": {}
                            }
                        }
                    }
                },
                "FailureReason": {}
            }
        },
        "S28": {
            "type": "structure",
            "members": {
                "ScalarType": {},
                "ArrayColumnInfo": {
                    "shape": "S2a"
                },
                "TimeSeriesMeasureValueColumnInfo": {
                    "shape": "S2a"
                },
                "RowColumnInfo": {
                    "shape": "S2b"
                }
            }
        },
        "S2a": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Name": {},
                "Type": {
                    "shape": "S28"
                }
            }
        },
        "S2b": {
            "type": "list",
            "member": {
                "shape": "S2a"
            }
        },
        "S2k": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "shape": "S2l"
                }
            }
        },
        "S2l": {
            "type": "list",
            "member": {
                "shape": "S2m"
            }
        },
        "S2m": {
            "type": "structure",
            "members": {
                "ScalarValue": {},
                "TimeSeriesValue": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Time",
                            "Value"
                        ],
                        "members": {
                            "Time": {},
                            "Value": {
                                "shape": "S2m"
                            }
                        }
                    }
                },
                "ArrayValue": {
                    "shape": "S2l"
                },
                "RowValue": {
                    "shape": "S2k"
                },
                "NullValue": {
                    "type": "boolean"
                }
            }
        },
        "Sb": {
            "type": "structure",
            "required": [
                "TopicArn"
            ],
            "members": {
                "TopicArn": {}
            }
        },
        "S18": {
            "type": "structure",
            "members": {
                "ComputeMode": {},
                "ProvisionedCapacity": {
                    "type": "structure",
                    "members": {
                        "ActiveQueryTCU": {
                            "type": "integer"
                        },
                        "NotificationConfiguration": {
                            "shape": "S1c"
                        },
                        "LastUpdate": {
                            "type": "structure",
                            "members": {
                                "TargetQueryTCU": {
                                    "type": "integer"
                                },
                                "Status": {},
                                "StatusMessage": {}
                            }
                        }
                    }
                }
            }
        },
        "S1c": {
            "type": "structure",
            "required": [
                "RoleArn"
            ],
            "members": {
                "SnsConfiguration": {
                    "shape": "Sb"
                },
                "RoleArn": {}
            }
        },
        "S1p": {
            "type": "structure",
            "members": {
                "InvocationTime": {
                    "type": "timestamp"
                },
                "TriggerTime": {
                    "type": "timestamp"
                },
                "RunStatus": {},
                "ExecutionStats": {
                    "type": "structure",
                    "members": {
                        "ExecutionTimeInMillis": {
                            "type": "long"
                        },
                        "DataWrites": {
                            "type": "long"
                        },
                        "BytesMetered": {
                            "type": "long"
                        },
                        "CumulativeBytesScanned": {
                            "type": "long"
                        },
                        "RecordsIngested": {
                            "type": "long"
                        },
                        "QueryResultRows": {
                            "type": "long"
                        }
                    }
                },
                "QueryInsightsResponse": {
                    "type": "structure",
                    "members": {
                        "QuerySpatialCoverage": {
                            "shape": "S1t"
                        },
                        "QueryTemporalRange": {
                            "shape": "S1y"
                        },
                        "QueryTableCount": {
                            "type": "long"
                        },
                        "OutputRows": {
                            "type": "long"
                        },
                        "OutputBytes": {
                            "type": "long"
                        }
                    }
                },
                "ErrorReportLocation": {
                    "type": "structure",
                    "members": {
                        "S3ReportLocation": {
                            "type": "structure",
                            "members": {
                                "BucketName": {},
                                "ObjectKey": {}
                            }
                        }
                    }
                },
                "FailureReason": {}
            }
        },
        "S1t": {
            "type": "structure",
            "members": {
                "Max": {
                    "type": "structure",
                    "members": {
                        "Value": {
                            "type": "double"
                        },
                        "TableArn": {},
                        "PartitionKey": {
                            "type": "list",
                            "member": {}
                        }
                    }
                }
            }
        },
        "S1y": {
            "type": "structure",
            "members": {
                "Max": {
                    "type": "structure",
                    "members": {
                        "Value": {
                            "type": "long"
                        },
                        "TableArn": {}
                    }
                }
            }
        },
        "S2p": {
            "type": "structure",
            "members": {
                "ScalarType": {},
                "ArrayColumnInfo": {
                    "shape": "S2r"
                },
                "TimeSeriesMeasureValueColumnInfo": {
                    "shape": "S2r"
                },
                "RowColumnInfo": {
                    "shape": "S2s"
                }
            }
        },
        "S2r": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Name": {},
                "Type": {
                    "shape": "S2p"
                }
            }
        },
        "S2s": {
            "type": "list",
            "member": {
                "shape": "S2r"
            }
        },
        "S33": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "shape": "S34"
                }
            }
        },
        "S34": {
            "type": "list",
            "member": {
                "shape": "S35"
            }
        },
        "S35": {
            "type": "structure",
            "members": {
                "ScalarValue": {},
                "TimeSeriesValue": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Time",
                            "Value"
                        ],
                        "members": {
                            "Time": {},
                            "Value": {
                                "shape": "S35"
                            }
                        }
                    }
                },
                "ArrayValue": {
                    "shape": "S34"
                },
                "RowValue": {
                    "shape": "S33"
                },
                "NullValue": {
                    "type": "boolean"
                }
            }
        }
    }
}