{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-01",
        "endpointPrefix": "ingest.timestream",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "Timestream Write",
        "serviceFullName": "Amazon Timestream Write",
        "serviceId": "Timestream Write",
        "signatureVersion": "v4",
        "signingName": "timestream",
        "targetPrefix": "Timestream_20181101",
        "uid": "timestream-write-2018-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js",
            "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js"
        ]
    },
    "operations": {
        "CreateDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName"
                ],
                "members": {
                    "DatabaseName": {},
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Database": {
                        "shape": "S9"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "CreateTable": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {},
                    "RetentionProperties": {
                        "shape": "Sf"
                    },
                    "Tags": {
                        "shape": "S4"
                    },
                    "MagneticStoreWriteProperties": {
                        "shape": "Si"
                    },
                    "Schema": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Table": {
                        "shape": "Sq"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "DeleteDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName"
                ],
                "members": {
                    "DatabaseName": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "DeleteTable": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "DescribeDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName"
                ],
                "members": {
                    "DatabaseName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Database": {
                        "shape": "S9"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "DescribeEndpoints": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "Endpoints"
                ],
                "members": {
                    "Endpoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Address",
                                "CachePeriodInMinutes"
                            ],
                            "members": {
                                "Address": {},
                                "CachePeriodInMinutes": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "endpointoperation": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "DescribeTable": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Table": {
                        "shape": "Sq"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "ListDatabases": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Databases": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "NextToken": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "ListTables": {
            "input": {
                "type": "structure",
                "members": {
                    "DatabaseName": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tables": {
                        "type": "list",
                        "member": {
                            "shape": "Sq"
                        }
                    },
                    "NextToken": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "UpdateDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "KmsKeyId"
                ],
                "members": {
                    "DatabaseName": {},
                    "KmsKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Database": {
                        "shape": "S9"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "UpdateTable": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {},
                    "RetentionProperties": {
                        "shape": "Sf"
                    },
                    "MagneticStoreWriteProperties": {
                        "shape": "Si"
                    },
                    "Schema": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Table": {
                        "shape": "Sq"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "WriteRecords": {
            "input": {
                "type": "structure",
                "required": [
                    "DatabaseName",
                    "TableName",
                    "Records"
                ],
                "members": {
                    "DatabaseName": {},
                    "TableName": {},
                    "CommonAttributes": {
                        "shape": "S1m"
                    },
                    "Records": {
                        "type": "list",
                        "member": {
                            "shape": "S1m"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RecordsIngested": {
                        "type": "structure",
                        "members": {
                            "Total": {
                                "type": "integer"
                            },
                            "MemoryStore": {
                                "type": "integer"
                            },
                            "MagneticStore": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLAROL5BWXN6ZICQWI73ZRYYUEMN4JJOVR6JHWZEZJJ36VBVLQ4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JSPR67QVM22AAPGEECUOQYCMD77WFR3SIS4FNQ3VRTZKTWOB74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MR3ZHKJ6WZ2ZY3VWH6AK2PPGC4PPYPPAPMJ3DGL7KTTXJTUR47IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4LS55FECWXWPUZHN4GL3C34SQ64R6UIZGHNGFR7PPOUGABM2SSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SSA6ALKOCEHIKOMC6YKE74MPQ2Q5ECGSQCJPX56XT333F3RFQT4Q/vendors.js"
            ]
        },
        "CreateBatchLoadTask": {
            "input": {
                "type": "structure",
                "required": [
                    "DataSourceConfiguration",
                    "ReportConfiguration",
                    "TargetDatabaseName",
                    "TargetTableName"
                ],
                "members": {
                    "ClientToken": {
                        "idempotencyToken": true,
                        "type": "string",
                        "sensitive": true
                    },
                    "DataModelConfiguration": {
                        "shape": "S3"
                    },
                    "DataSourceConfiguration": {
                        "shape": "Sk"
                    },
                    "ReportConfiguration": {
                        "shape": "Sq"
                    },
                    "TargetDatabaseName": {},
                    "TargetTableName": {},
                    "RecordVersion": {
                        "type": "long"
                    },
                    "NotificationConfiguration": {
                        "shape": "Ss"
                    },
                    "LoadOffline": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJROFRKYOF3SCZRJQKH4U5KUSIRUQHGZ5DSV6RFLCBXTC2FAAGNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ6PBW6X7MFXMHAPQTA3RDJRPKXRI346EMIN4VVT7Q5H3NXWGFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js"
            ]
        },
        "DescribeBatchLoadTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BatchLoadTaskDescription"
                ],
                "members": {
                    "BatchLoadTaskDescription": {
                        "type": "structure",
                        "members": {
                            "TaskId": {},
                            "ErrorMessage": {},
                            "DataSourceConfiguration": {
                                "shape": "Sk"
                            },
                            "ProgressReport": {
                                "type": "structure",
                                "members": {
                                    "RecordsProcessed": {
                                        "type": "long"
                                    },
                                    "RecordsIngested": {
                                        "type": "long"
                                    },
                                    "ParseFailures": {
                                        "type": "long"
                                    },
                                    "RecordIngestionFailures": {
                                        "type": "long"
                                    },
                                    "FileFailures": {
                                        "type": "long"
                                    },
                                    "BytesMetered": {
                                        "type": "long"
                                    }
                                }
                            },
                            "ReportConfiguration": {
                                "shape": "Sq"
                            },
                            "DataModelConfiguration": {
                                "shape": "S3"
                            },
                            "TargetDatabaseName": {},
                            "TargetTableName": {},
                            "TaskStatus": {},
                            "RecordVersion": {
                                "type": "long"
                            },
                            "CreationTime": {
                                "type": "timestamp"
                            },
                            "LastUpdatedTime": {
                                "type": "timestamp"
                            },
                            "ResumableUntil": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJROFRKYOF3SCZRJQKH4U5KUSIRUQHGZ5DSV6RFLCBXTC2FAAGNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ6PBW6X7MFXMHAPQTA3RDJRPKXRI346EMIN4VVT7Q5H3NXWGFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js"
            ]
        },
        "ListBatchLoadTasks": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "TaskStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "BatchLoadTasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TaskId": {},
                                "TaskStatus": {},
                                "DatabaseName": {},
                                "TableName": {},
                                "CreationTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedTime": {
                                    "type": "timestamp"
                                },
                                "ResumableUntil": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJROFRKYOF3SCZRJQKH4U5KUSIRUQHGZ5DSV6RFLCBXTC2FAAGNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ6PBW6X7MFXMHAPQTA3RDJRPKXRI346EMIN4VVT7Q5H3NXWGFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js"
            ]
        },
        "ResumeBatchLoadTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpointdiscovery": {
                "required": true
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJROFRKYOF3SCZRJQKH4U5KUSIRUQHGZ5DSV6RFLCBXTC2FAAGNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://iotcore.us-east-1.prod.console.iot.aws.dev/static/js/iotcore.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZ6PBW6X7MFXMHAPQTA3RDJRPKXRI346EMIN4VVT7Q5H3NXWGFWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RMMHI524MX3FRKZKYC6E3OHZFUMBKWUWARAFR4XA5CFA65HEDRSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4STLZHAW3MPLBGWY2RX5SPZBIMXGYKIW7XDGPRAOTKKDT4XX3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYZ5H4DER3KHZE4MLR26IXSVRFUCSKXMYQS47U53KZGCLG7NSWVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5PDC6NXNEHCLOXDS7FR3JF6VBXNZYZXSYOE2W2FBQXE4PAJZRLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLVIFNKUARGT4TM4S6YE7JJ577HRJ4BMPAFXPKMJDSCEJ5EZI7WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQDPGUO7WA3U7JWOFR7VRYJTZCD7VADEAOZ24W63WWAO3JOJYPPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23PI3D6KA3ZB5HG4VWG4VYEJYITD6PSDWAO7DLYSDSKIEVXYUGPQ/vendors.js"
            ]
        },
        "CreateBulkImportTask": {
            "input": {
                "type": "structure",
                "required": [
                    "InputConfiguration",
                    "ReportConfiguration",
                    "TargetDatabaseName",
                    "TargetTableName"
                ],
                "members": {
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "DataModelConfiguration": {
                        "shape": "S3"
                    },
                    "InputConfiguration": {
                        "shape": "S14"
                    },
                    "NotificationConfiguration": {
                        "shape": "Ss"
                    },
                    "ReportConfiguration": {
                        "shape": "Su"
                    },
                    "TargetDatabaseName": {},
                    "TargetTableName": {},
                    "RecordVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {},
                    "BulkImportTask": {
                        "shape": "S19",
                        "deprecated": true
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLCPBQJMFXEVS25COZUJ2NMGK2QPKYKJXTBY2RKY4IS5MS54Z4LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S6QKDRCSLHTCRCQOFIM2WK2ZZTDDJPZIMVEMYOTGXGFJ6CY6CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34V4KBUJ6F4RW7H6L72MJG563VKHP4NHDXNB2UAEBH4ZIR7N37QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHHUMKRBFDISJ2F2LVYXNWUERILEJAS3W5FE6DDV2HU3LV2R3VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JATEUI2UZ7J3NRPHSALAUXP7Z2LLPCHRNB6FSIBDTUE5GK73DRSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE74CM76ATW7NKWUJVXOS56T6ZEVHZ7NFZIUYHJ7BDSRGLWTQRFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js"
            ]
        },
        "CreateBulkImportTaskInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "InternalInputConfiguration",
                    "ReportConfiguration",
                    "TargetDatabaseName",
                    "TargetTableName"
                ],
                "members": {
                    "ClientToken": {
                        "shape": "S2",
                        "idempotencyToken": true
                    },
                    "DataModelConfiguration": {
                        "shape": "S3"
                    },
                    "InternalInputConfiguration": {
                        "shape": "S1h"
                    },
                    "NotificationConfiguration": {
                        "shape": "Ss"
                    },
                    "ReportConfiguration": {
                        "shape": "Su"
                    },
                    "TargetDatabaseName": {},
                    "TargetTableName": {},
                    "RecordVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InternalBulkImportTask": {
                        "shape": "S1k"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLCPBQJMFXEVS25COZUJ2NMGK2QPKYKJXTBY2RKY4IS5MS54Z4LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S6QKDRCSLHTCRCQOFIM2WK2ZZTDDJPZIMVEMYOTGXGFJ6CY6CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34V4KBUJ6F4RW7H6L72MJG563VKHP4NHDXNB2UAEBH4ZIR7N37QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHHUMKRBFDISJ2F2LVYXNWUERILEJAS3W5FE6DDV2HU3LV2R3VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JATEUI2UZ7J3NRPHSALAUXP7Z2LLPCHRNB6FSIBDTUE5GK73DRSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE74CM76ATW7NKWUJVXOS56T6ZEVHZ7NFZIUYHJ7BDSRGLWTQRFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js"
            ]
        },
        "DescribeBulkImportTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BulkImportTask"
                ],
                "members": {
                    "BulkImportTask": {
                        "shape": "S19"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLCPBQJMFXEVS25COZUJ2NMGK2QPKYKJXTBY2RKY4IS5MS54Z4LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S6QKDRCSLHTCRCQOFIM2WK2ZZTDDJPZIMVEMYOTGXGFJ6CY6CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34V4KBUJ6F4RW7H6L72MJG563VKHP4NHDXNB2UAEBH4ZIR7N37QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHHUMKRBFDISJ2F2LVYXNWUERILEJAS3W5FE6DDV2HU3LV2R3VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JATEUI2UZ7J3NRPHSALAUXP7Z2LLPCHRNB6FSIBDTUE5GK73DRSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE74CM76ATW7NKWUJVXOS56T6ZEVHZ7NFZIUYHJ7BDSRGLWTQRFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js"
            ]
        },
        "DescribeBulkImportTaskInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskId"
                ],
                "members": {
                    "TaskId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InternalBulkImportTask"
                ],
                "members": {
                    "InternalBulkImportTask": {
                        "shape": "S1k"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLCPBQJMFXEVS25COZUJ2NMGK2QPKYKJXTBY2RKY4IS5MS54Z4LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S6QKDRCSLHTCRCQOFIM2WK2ZZTDDJPZIMVEMYOTGXGFJ6CY6CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34V4KBUJ6F4RW7H6L72MJG563VKHP4NHDXNB2UAEBH4ZIR7N37QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHHUMKRBFDISJ2F2LVYXNWUERILEJAS3W5FE6DDV2HU3LV2R3VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JATEUI2UZ7J3NRPHSALAUXP7Z2LLPCHRNB6FSIBDTUE5GK73DRSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE74CM76ATW7NKWUJVXOS56T6ZEVHZ7NFZIUYHJ7BDSRGLWTQRFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js"
            ]
        },
        "GetBackupJobStatusInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId",
                    "BackupJobId",
                    "ResourceClientJobId"
                ],
                "members": {
                    "AccountId": {},
                    "BackupJobId": {},
                    "ResourceClientJobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BackupJobState": {},
                    "PercentComplete": {
                        "type": "double"
                    },
                    "EstimatedTimeToCompleteMinutes": {
                        "type": "long"
                    },
                    "Message": {},
                    "BytesTransferred": {
                        "type": "long"
                    },
                    "RestoreMetadata": {
                        "shape": "S2v"
                    }
                }
            },
            "endpointdiscovery": {
                "required": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLCPBQJMFXEVS25COZUJ2NMGK2QPKYKJXTBY2RKY4IS5MS54Z4LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S6QKDRCSLHTCRCQOFIM2WK2ZZTDDJPZIMVEMYOTGXGFJ6CY6CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34V4KBUJ6F4RW7H6L72MJG563VKHP4NHDXNB2UAEBH4ZIR7N37QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHHUMKRBFDISJ2F2LVYXNWUERILEJAS3W5FE6DDV2HU3LV2R3VLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JATEUI2UZ7J3NRPHSALAUXP7Z2LLPCHRNB6FSIBDTUE5GK73DRSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE74CM76ATW7NKWUJVXOS56T6ZEVHZ7NFZIUYHJ7BDSRGLWTQRFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAVA5O4WA7FXXZ2SRJRH7C5X2XLIVWVIJ2WB5OCVOIHLGD6BEC2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6BJ6KHJDTE5RD3G6MIPLUYQJAM3MV6NL67L6ILVSXSN7KAOMRLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLGHYLPFR4SMOWENF7DWE3U2TDSW4YMS2CPMAT5CVHSHRBH37GGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
[...]
