{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2008-10-21",
        "endpointPrefix": "tnb",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Telco Network Builder",
        "serviceId": "tnb",
        "signatureVersion": "v4",
        "signingName": "tnb",
        "uid": "tnb-2008-10-21",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
        ]
    },
    "operations": {
        "CancelSolNetworkOperation": {
            "http": {
                "requestUri": "/sol/nslcm/v1/ns_lcm_op_occs/{nsLcmOpOccId}/cancel",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "nsLcmOpOccId"
                ],
                "members": {
                    "nsLcmOpOccId": {
                        "location": "uri",
                        "locationName": "nsLcmOpOccId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "CreateSolFunctionPackage": {
            "http": {
                "requestUri": "/sol/vnfpkgm/v1/vnf_packages",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "onboardingState",
                    "operationalState",
                    "usageState"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "onboardingState": {},
                    "operationalState": {},
                    "tags": {
                        "shape": "S4"
                    },
                    "usageState": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "CreateSolNetworkInstance": {
            "http": {
                "requestUri": "/sol/nslcm/v1/ns_instances",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "nsName",
                    "nsdInfoId"
                ],
                "members": {
                    "nsDescription": {},
                    "nsName": {},
                    "nsdInfoId": {},
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "nsInstanceName",
                    "nsdInfoId"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "nsInstanceName": {},
                    "nsdInfoId": {},
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "CreateSolNetworkPackage": {
            "http": {
                "requestUri": "/sol/nsd/v1/ns_descriptors",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "nsdOnboardingState",
                    "nsdOperationalState",
                    "nsdUsageState"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "nsdOnboardingState": {},
                    "nsdOperationalState": {},
                    "nsdUsageState": {},
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "DeleteSolFunctionPackage": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "vnfPkgId"
                ],
                "members": {
                    "vnfPkgId": {
                        "location": "uri",
                        "locationName": "vnfPkgId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "DeleteSolNetworkInstance": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sol/nslcm/v1/ns_instances/{nsInstanceId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "nsInstanceId"
                ],
                "members": {
                    "nsInstanceId": {
                        "location": "uri",
                        "locationName": "nsInstanceId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "DeleteSolNetworkPackage": {
            "http": {
                "method": "DELETE",
                "requestUri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "nsdInfoId"
                ],
                "members": {
                    "nsdInfoId": {
                        "location": "uri",
                        "locationName": "nsdInfoId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "GetSolFunctionInstance": {
            "http": {
                "method": "GET",
                "requestUri": "/sol/vnflcm/v1/vnf_instances/{vnfInstanceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vnfInstanceId"
                ],
                "members": {
                    "vnfInstanceId": {
                        "location": "uri",
                        "locationName": "vnfInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "instantiationState",
                    "metadata",
                    "nsInstanceId",
                    "vnfPkgId",
                    "vnfdId"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "instantiatedVnfInfo": {
                        "type": "structure",
                        "members": {
                            "vnfState": {},
                            "vnfcResourceInfo": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "metadata": {
                                            "type": "structure",
                                            "members": {
                                                "cluster": {},
                                                "helmChart": {},
                                                "nodeGroup": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "instantiationState": {},
                    "metadata": {
                        "type": "structure",
                        "required": [
                            "createdAt",
                            "lastModified"
                        ],
                        "members": {
                            "createdAt": {
                                "shape": "S15"
                            },
                            "lastModified": {
                                "shape": "S15"
                            }
                        }
                    },
                    "nsInstanceId": {},
                    "tags": {
                        "shape": "S4"
                    },
                    "vnfPkgId": {},
                    "vnfProductName": {},
                    "vnfProvider": {},
                    "vnfdId": {},
                    "vnfdVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "GetSolFunctionPackage": {
            "http": {
                "method": "GET",
                "requestUri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vnfPkgId"
                ],
                "members": {
                    "vnfPkgId": {
                        "location": "uri",
                        "locationName": "vnfPkgId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "onboardingState",
                    "operationalState",
                    "usageState"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "metadata": {
                        "type": "structure",
                        "required": [
                            "createdAt",
                            "lastModified"
                        ],
                        "members": {
                            "createdAt": {
                                "shape": "S15"
                            },
                            "lastModified": {
                                "shape": "S15"
                            },
                            "vnfd": {
                                "shape": "S1a"
                            }
                        }
                    },
                    "onboardingState": {},
                    "operationalState": {},
                    "tags": {
                        "shape": "S4"
                    },
                    "usageState": {},
                    "vnfProductName": {},
                    "vnfProvider": {},
                    "vnfdId": {},
                    "vnfdVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "GetSolFunctionPackageContent": {
            "http": {
                "method": "GET",
                "requestUri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}/package_content",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accept",
                    "vnfPkgId"
                ],
                "members": {
                    "accept": {
                        "location": "header",
                        "locationName": "Accept"
                    },
                    "vnfPkgId": {
                        "location": "uri",
                        "locationName": "vnfPkgId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "packageContent": {
                        "type": "blob"
                    }
                },
                "payload": "packageContent"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "GetSolFunctionPackageDescriptor": {
            "http": {
                "method": "GET",
                "requestUri": "/sol/vnfpkgm/v1/vnf_packages/{vnfPkgId}/vnfd",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accept",
                    "vnfPkgId"
                ],
                "members": {
                    "accept": {
                        "location": "header",
                        "locationName": "Accept"
                    },
                    "vnfPkgId": {
                        "location": "uri",
                        "locationName": "vnfPkgId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "vnfd": {
                        "type": "blob"
                    }
                },
                "payload": "vnfd"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "GetSolNetworkInstance": {
            "http": {
                "method": "GET",
                "requestUri": "/sol/nslcm/v1/ns_instances/{nsInstanceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "nsInstanceId"
                ],
                "members": {
                    "nsInstanceId": {
                        "location": "uri",
                        "locationName": "nsInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "metadata",
                    "nsInstanceDescription",
                    "nsInstanceName",
                    "nsdId",
                    "nsdInfoId"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "lcmOpInfo": {
                        "type": "structure",
                        "required": [
                            "nsLcmOpOccId"
                        ],
                        "members": {
                            "nsLcmOpOccId": {}
                        }
                    },
                    "metadata": {
                        "type": "structure",
                        "required": [
                            "createdAt",
                            "lastModified"
                        ],
                        "members": {
                            "createdAt": {
                                "shape": "S15"
                            },
                            "lastModified": {
                                "shape": "S15"
                            }
                        }
                    },
                    "nsInstanceDescription": {},
                    "nsInstanceName": {},
                    "nsState": {},
                    "nsdId": {},
                    "nsdInfoId": {},
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "GetSolNetworkOperation": {
            "http": {
                "method": "GET",
                "requestUri": "/sol/nslcm/v1/ns_lcm_op_occs/{nsLcmOpOccId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "nsLcmOpOccId"
                ],
                "members": {
                    "nsLcmOpOccId": {
                        "location": "uri",
                        "locationName": "nsLcmOpOccId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {},
                    "error": {
                        "shape": "S1t"
                    },
                    "id": {},
                    "lcmOperationType": {},
                    "metadata": {
                        "type": "structure",
                        "required": [
                            "createdAt",
                            "lastModified"
                        ],
                        "members": {
                            "createdAt": {
                                "shape": "S15"
                            },
                            "lastModified": {
                                "shape": "S15"
                            }
                        }
                    },
                    "nsInstanceId": {},
                    "operationState": {},
                    "tags": {
                        "shape": "S4"
                    },
                    "tasks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "taskContext": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "taskEndTime": {
                                    "shape": "S15"
                                },
                                "taskErrorDetails": {
                                    "type": "structure",
                                    "members": {
                                        "cause": {},
                                        "details": {}
                                    }
                                },
                                "taskName": {},
                                "taskStartTime": {
                                    "shape": "S15"
                                },
                                "taskStatus": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "GetSolNetworkPackage": {
            "http": {
                "method": "GET",
                "requestUri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "nsdInfoId"
                ],
                "members": {
                    "nsdInfoId": {
                        "location": "uri",
                        "locationName": "nsdInfoId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "arn",
                    "id",
                    "metadata",
                    "nsdId",
                    "nsdName",
                    "nsdOnboardingState",
                    "nsdOperationalState",
                    "nsdUsageState",
                    "nsdVersion",
                    "vnfPkgIds"
                ],
                "members": {
                    "arn": {},
                    "id": {},
                    "metadata": {
                        "type": "structure",
                        "required": [
                            "createdAt",
                            "lastModified"
                        ],
                        "members": {
                            "createdAt": {
                                "shape": "S15"
                            },
                            "lastModified": {
                                "shape": "S15"
                            },
                            "nsd": {
                                "shape": "S27"
                            }
                        }
                    },
                    "nsdId": {},
                    "nsdName": {},
                    "nsdOnboardingState": {},
                    "nsdOperationalState": {},
                    "nsdUsageState": {},
                    "nsdVersion": {},
                    "tags": {
                        "shape": "S4"
                    },
                    "vnfPkgIds": {
                        "shape": "S28"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "GetSolNetworkPackageContent": {
            "http": {
                "method": "GET",
                "requestUri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}/nsd_content",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accept",
                    "nsdInfoId"
                ],
                "members": {
                    "accept": {
                        "location": "header",
                        "locationName": "Accept"
                    },
                    "nsdInfoId": {
                        "location": "uri",
                        "locationName": "nsdInfoId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "nsdContent": {
                        "type": "blob"
                    }
                },
                "payload": "nsdContent"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "GetSolNetworkPackageDescriptor": {
            "http": {
                "method": "GET",
                "requestUri": "/sol/nsd/v1/ns_descriptors/{nsdInfoId}/nsd",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "nsdInfoId"
                ],
                "members": {
                    "nsdInfoId": {
                        "location": "uri",
                        "locationName": "nsdInfoId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    },
                    "nsd": {
                        "type": "blob"
                    }
                },
                "payload": "nsd"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "InstantiateSolNetworkInstance": {
            "http": {
                "requestUri": "/sol/nslcm/v1/ns_instances/{nsInstanceId}/instantiate",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "nsInstanceId"
                ],
                "members": {
                    "additionalParamsForNs": {
                        "shape": "S2e"
                    },
                    "dryRun": {
                        "location": "querystring",
                        "locationName": "dry_run",
                        "type": "boolean"
                    },
                    "nsInstanceId": {
                        "location": "uri",
                        "locationName": "nsInstanceId"
                    },
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "nsLcmOpOccId"
                ],
                "members": {
                    "nsLcmOpOccId": {},
                    "tags": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "ListSolFunctionInstances": {
            "http": {
                "method": "GET",
                "requestUri": "/sol/vnflcm/v1/vnf_instances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "max_results",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextpage_opaque_marker"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "functionInstances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "id",
                                "instantiationState",
                                "metadata",
                                "nsInstanceId",
                                "vnfPkgId"
                            ],
                            "members": {
                                "arn": {},
                                "id": {},
                                "instantiatedVnfInfo": {
                                    "type": "structure",
                                    "members": {
                                        "vnfState": {}
                                    }
                                },
                                "instantiationState": {},
                                "metadata": {
                                    "type": "structure",
                                    "required": [
                                        "createdAt",
                                        "lastModified"
                                    ],
                                    "members": {
                                        "createdAt": {
                                            "shape": "S15"
                                        },
                                        "lastModified": {
                                            "shape": "S15"
                                        }
                                    }
                                },
                                "nsInstanceId": {},
                                "vnfPkgId": {},
                                "vnfPkgName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "ListSolFunctionPackages": {
            "http": {
                "method": "GET",
                "requestUri": "/sol/vnfpkgm/v1/vnf_packages",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "max_results",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextpage_opaque_marker"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "functionPackages"
                ],
                "members": {
                    "functionPackages": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "id",
                                "onboardingState",
                                "operationalState",
                                "usageState"
                            ],
                            "members": {
                                "arn": {},
                                "id": {},
                                "metadata": {
                                    "type": "structure",
                                    "required": [
                                        "createdAt",
                                        "lastModified"
                                    ],
                                    "members": {
                                        "createdAt": {
                                            "shape": "S15"
                                        },
                                        "lastModified": {
                                            "shape": "S15"
                                        }
                                    }
                                },
                                "onboardingState": {},
                                "operationalState": {},
                                "usageState": {},
                                "vnfProductName": {},
                                "vnfProvider": {},
                                "vnfdId": {},
                                "vnfdVersion": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "ListSolNetworkInstances": {
            "http": {
                "method": "GET",
                "requestUri": "/sol/nslcm/v1/ns_instances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "max_results",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextpage_opaque_marker"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "networkInstances": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "id",
                                "metadata",
                                "nsInstanceDescription",
                                "nsInstanceName",
                                "nsState",
                                "nsdId",
                                "nsdInfoId"
                            ],
                            "members": {
                                "arn": {},
                                "id": {},
                                "metadata": {
                                    "type": "structure",
                                    "required": [
                                        "createdAt",
                                        "lastModified"
                                    ],
                                    "members": {
                                        "createdAt": {
                                            "shape": "S15"
                                        },
                                        "lastModified": {
                                            "shape": "S15"
                                        }
                                    }
                                },
                                "nsInstanceDescription": {},
                                "nsInstanceName": {},
                                "nsState": {},
                                "nsdId": {},
                                "nsdInfoId": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW3DC7OJVGIX4WBU5IL2WO7KZ2F6R3R7YKMDKWDD2LIDQA7IR7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RXRJSKT5M6KRA426ITF4LNXPWQ6J5RGJXEMTEOCSFJWNQLSCTRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67DGUJFP27DBAKNXLOFNL4MT7H5B6B6ZIEEAOOJMMBWDXKGZIQYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHVUY4H5MAQPBYWS6JCJQG6EASGWCIMUPRDDBCECQYDGRM4CLDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZWNF6XSCZD43QNUQ5GVICQUFLX2A2UBZWHU52EJIFRAMA2ZOIYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A66S7HRS5CN7QM3VA5WHVQABAOS4BRVAD6XFZHLZCS4TIIA6A52Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2XIGFZMCI7VCOVDIZMRSOP422CL65I6XMLQFRBU2HMNUVHXVJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNX5URAJZCIUJ3DXHKOXBXTXY2IDATJUFWGHMKQFEZ2GBUHWPAIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6D6DX6XHMMIRUQ6MKACI2JCSNYKRYFCPEAZFL2AQK6DT7FFUFRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLOMY6P7AAJLNXPKJPBJPZULZTI6UC5DTH63NZPEKM2E7JRL2IDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFMY7Q7HP47HJUQUPF3POGYR7IJ2AVEUWXKKDGW3OACLBWLDSV5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEFV7EJBIN4S22MKX5XUCABQIWAL2MJ5C4KI35RC2KTTSJHYPTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/INJECUVZ2QWD453GW5GZUDEH6TBUJN2GJYNXWQHADFLPIMVO5R4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJ26BPSSZ5EJDNGYMIESP7V6WBU3BAEYDWWSIAX33VGSFDLG2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VS743GB3E3V57H5OU7HKWP5TRFZKJLMCS2VKQQFVBH3LRHI2ZYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2V3TKGL7ULVUGJUREPY7BEYGCBT2RAB5SDFT5T2AHNU3ZI75XXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IAXGQYT7AQBIDVIUAX5IF3WATURGANP55FW2TIERSUT4IIB7B2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTF7EFM2NDG7AD3A3MJPP7AFUQDJGTMZQXCU7DI3XF4QY4OW7HTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RPH523WRJEHTORGADAS2SMLQWRRHOKMK5NQZET3HRLKBMKZCADRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MENZIETTWHAW2FJ6F4JYTWQNE2VFFW4O4WUMITR7RTBCVP3XFSZA/vendors.js"
            ]
        },
        "ListSolNetworkOperations": {
            "http": {
                "method": "GET",
                "requestUri": "/sol/nslcm/v1/ns_lcm_op_occs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
[...]
