{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-05",
        "endpointPrefix": "transfer",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWS Transfer",
        "serviceFullName": "AWS Transfer Family",
        "serviceId": "Transfer",
        "signatureVersion": "v4",
        "signingName": "transfer",
        "targetPrefix": "TransferService",
        "uid": "transfer-2018-11-05",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
        ]
    },
    "operations": {
        "CreateAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "Role",
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "HomeDirectory": {},
                    "HomeDirectoryType": {},
                    "HomeDirectoryMappings": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "PosixProfile": {
                        "shape": "S9"
                    },
                    "Role": {},
                    "ServerId": {},
                    "ExternalId": {},
                    "WorkflowDetails": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "ServerId": {},
                    "ExternalId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "LocalProfileId",
                    "PartnerProfileId",
                    "BaseDirectory",
                    "AccessRole"
                ],
                "members": {
                    "Description": {},
                    "ServerId": {},
                    "LocalProfileId": {},
                    "PartnerProfileId": {},
                    "BaseDirectory": {},
                    "AccessRole": {},
                    "Status": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "PreserveFilename": {},
                    "EnforceMessageSigning": {},
                    "CustomDirectories": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AgreementId"
                ],
                "members": {
                    "AgreementId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MSCUNMTEOHGPEPMAUPOBRHENSZKLYJT43DUHPGO6A5KNYJ7TFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFIPP4UJK4BJ65NBRPVA63XZFO73XRD4GNIBYLJSUTA6WGE4Z4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "Url",
                    "As2Config",
                    "AccessRole"
                ],
                "members": {
                    "Url": {},
                    "As2Config": {
                        "shape": "Ss"
                    },
                    "AccessRole": {},
                    "LoggingRole": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "SftpConfig": {
                        "shape": "S10"
                    },
                    "StructuredLogDestinations": {
                        "shape": "S1b"
                    },
                    "SecurityPolicyName": {},
                    "EgressConfig": {
                        "shape": "S1i"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectorId"
                ],
                "members": {
                    "ConnectorId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MSCUNMTEOHGPEPMAUPOBRHENSZKLYJT43DUHPGO6A5KNYJ7TFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFIPP4UJK4BJ65NBRPVA63XZFO73XRD4GNIBYLJSUTA6WGE4Z4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "As2Id",
                    "ProfileType"
                ],
                "members": {
                    "As2Id": {},
                    "ProfileType": {},
                    "CertificateIds": {
                        "shape": "S14"
                    },
                    "Tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MSCUNMTEOHGPEPMAUPOBRHENSZKLYJT43DUHPGO6A5KNYJ7TFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFIPP4UJK4BJ65NBRPVA63XZFO73XRD4GNIBYLJSUTA6WGE4Z4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateServer": {
            "input": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "Domain": {},
                    "EndpointDetails": {
                        "shape": "S1a"
                    },
                    "EndpointType": {},
                    "HostKey": {
                        "shape": "S1k"
                    },
                    "IdentityProviderDetails": {
                        "shape": "S1l"
                    },
                    "IdentityProviderType": {},
                    "LoggingRole": {},
                    "PostAuthenticationLoginBanner": {},
                    "PreAuthenticationLoginBanner": {},
                    "Protocols": {
                        "shape": "S1r"
                    },
                    "ProtocolDetails": {
                        "shape": "S1t"
                    },
                    "SecurityPolicyName": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "WorkflowDetails": {
                        "shape": "S20"
                    },
                    "StructuredLogDestinations": {
                        "shape": "S1b"
                    },
                    "AgreementProvider": {
                        "shape": "S2k"
                    },
                    "S3StorageOptions": {
                        "shape": "S2n"
                    },
                    "IpAddressType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId"
                ],
                "members": {
                    "ServerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "Role",
                    "ServerId",
                    "UserName"
                ],
                "members": {
                    "HomeDirectory": {},
                    "HomeDirectoryType": {},
                    "HomeDirectoryMappings": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "PosixProfile": {
                        "shape": "S9"
                    },
                    "Role": {},
                    "ServerId": {},
                    "SshPublicKeyBody": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "UserName": {},
                    "EncryptionOptions": {
                        "shape": "S2s"
                    },
                    "WorkflowDetails": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "UserName"
                ],
                "members": {
                    "ServerId": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateWorkflow": {
            "input": {
                "type": "structure",
                "required": [
                    "Steps"
                ],
                "members": {
                    "Description": {},
                    "Steps": {
                        "shape": "S2c"
                    },
                    "OnExceptionSteps": {
                        "shape": "S2c"
                    },
                    "Tags": {
                        "shape": "Sk"
                    },
                    "StructuredLogDestinations": {
                        "shape": "S1b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WorkflowId"
                ],
                "members": {
                    "WorkflowId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "ServerId": {},
                    "ExternalId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "AgreementId",
                    "ServerId"
                ],
                "members": {
                    "AgreementId": {},
                    "ServerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MSCUNMTEOHGPEPMAUPOBRHENSZKLYJT43DUHPGO6A5KNYJ7TFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFIPP4UJK4BJ65NBRPVA63XZFO73XRD4GNIBYLJSUTA6WGE4Z4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateId"
                ],
                "members": {
                    "CertificateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MSCUNMTEOHGPEPMAUPOBRHENSZKLYJT43DUHPGO6A5KNYJ7TFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFIPP4UJK4BJ65NBRPVA63XZFO73XRD4GNIBYLJSUTA6WGE4Z4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorId"
                ],
                "members": {
                    "ConnectorId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MSCUNMTEOHGPEPMAUPOBRHENSZKLYJT43DUHPGO6A5KNYJ7TFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFIPP4UJK4BJ65NBRPVA63XZFO73XRD4GNIBYLJSUTA6WGE4Z4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteHostKey": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "HostKeyId"
                ],
                "members": {
                    "ServerId": {},
                    "HostKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MSCUNMTEOHGPEPMAUPOBRHENSZKLYJT43DUHPGO6A5KNYJ7TFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFIPP4UJK4BJ65NBRPVA63XZFO73XRD4GNIBYLJSUTA6WGE4Z4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MSCUNMTEOHGPEPMAUPOBRHENSZKLYJT43DUHPGO6A5KNYJ7TFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFIPP4UJK4BJ65NBRPVA63XZFO73XRD4GNIBYLJSUTA6WGE4Z4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteServer": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId"
                ],
                "members": {
                    "ServerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteSshPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "SshPublicKeyId",
                    "UserName"
                ],
                "members": {
                    "ServerId": {},
                    "SshPublicKeyId": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "UserName"
                ],
                "members": {
                    "ServerId": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteWorkflow": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkflowId"
                ],
                "members": {
                    "WorkflowId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "ServerId": {},
                    "ExternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "Access"
                ],
                "members": {
                    "ServerId": {},
                    "Access": {
                        "type": "structure",
                        "members": {
                            "HomeDirectory": {},
                            "HomeDirectoryMappings": {
                                "shape": "S4"
                            },
                            "HomeDirectoryType": {},
                            "Policy": {},
                            "PosixProfile": {
                                "shape": "S9"
                            },
                            "Role": {},
                            "ExternalId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "AgreementId",
                    "ServerId"
                ],
                "members": {
                    "AgreementId": {},
                    "ServerId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Agreement"
                ],
                "members": {
                    "Agreement": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "AgreementId": {},
                            "Description": {},
                            "Status": {},
                            "ServerId": {},
                            "LocalProfileId": {},
                            "PartnerProfileId": {},
                            "BaseDirectory": {},
                            "AccessRole": {},
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MSCUNMTEOHGPEPMAUPOBRHENSZKLYJT43DUHPGO6A5KNYJ7TFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFIPP4UJK4BJ65NBRPVA63XZFO73XRD4GNIBYLJSUTA6WGE4Z4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateId"
                ],
                "members": {
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Certificate"
                ],
                "members": {
                    "Certificate": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "CertificateId": {},
                            "Usage": {},
                            "Status": {},
                            "Certificate": {
                                "shape": "S3o"
                            },
                            "CertificateChain": {
                                "shape": "S3p"
                            },
                            "ActiveDate": {
                                "type": "timestamp"
                            },
                            "InactiveDate": {
                                "type": "timestamp"
                            },
                            "Serial": {},
                            "NotBeforeDate": {
                                "type": "timestamp"
                            },
                            "NotAfterDate": {
                                "type": "timestamp"
                            },
                            "Type": {},
                            "Description": {},
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MSCUNMTEOHGPEPMAUPOBRHENSZKLYJT43DUHPGO6A5KNYJ7TFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFIPP4UJK4BJ65NBRPVA63XZFO73XRD4GNIBYLJSUTA6WGE4Z4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorId"
                ],
                "members": {
                    "ConnectorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Connector"
                ],
                "members": {
                    "Connector": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "ConnectorId": {},
                            "Url": {},
                            "As2Config": {
                                "shape": "Ss"
                            },
                            "AccessRole": {},
                            "LoggingRole": {},
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MSCUNMTEOHGPEPMAUPOBRHENSZKLYJT43DUHPGO6A5KNYJ7TFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFIPP4UJK4BJ65NBRPVA63XZFO73XRD4GNIBYLJSUTA6WGE4Z4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "ExecutionId",
                    "WorkflowId"
                ],
                "members": {
                    "ExecutionId": {},
                    "WorkflowId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WorkflowId",
                    "Execution"
                ],
                "members": {
                    "WorkflowId": {},
                    "Execution": {
                        "type": "structure",
                        "members": {
                            "ExecutionId": {},
                            "InitialFileLocation": {
                                "shape": "S40"
                            },
                            "ServiceMetadata": {
                                "shape": "S44"
                            },
                            "ExecutionRole": {},
                            "LoggingConfiguration": {
                                "type": "structure",
                                "members": {
                                    "LoggingRole": {},
                                    "LogGroupName": {}
                                }
                            },
                            "PosixProfile": {
                                "shape": "S9"
                            },
                            "Status": {},
                            "Results": {
                                "type": "structure",
                                "members": {
                                    "Steps": {
                                        "shape": "S4b"
                                    },
                                    "OnExceptionSteps": {
                                        "shape": "S4b"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeHostKey": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "HostKeyId"
                ],
                "members": {
                    "ServerId": {},
                    "HostKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HostKey"
                ],
                "members": {
                    "HostKey": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "HostKeyId": {},
                            "HostKeyFingerprint": {},
                            "Description": {},
                            "Type": {},
                            "DateImported": {
                                "type": "timestamp"
                            },
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MSCUNMTEOHGPEPMAUPOBRHENSZKLYJT43DUHPGO6A5KNYJ7TFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFIPP4UJK4BJ65NBRPVA63XZFO73XRD4GNIBYLJSUTA6WGE4Z4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FOQVK55I3Z4HCU5TTQMRAXCCZVA7RPBZO3YFHHBP5R66YOOWW2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DALECOJ5FT6W6KRM7OSAZVJ2QZ6NOVZ4ZRP26HTFGDLE6TDC25FQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG3OTT5JNQRL26FAB6CUVZ7ICX5QMALPP6WK44GMWHHNN4WAVNMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Profile"
                ],
                "members": {
                    "Profile": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "ProfileId": {},
                            "ProfileType": {},
                            "As2Id": {},
                            "CertificateIds": {
                                "shape": "S14"
                            },
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3MSCUNMTEOHGPEPMAUPOBRHENSZKLYJT43DUHPGO6A5KNYJ7TFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFIPP4UJK4BJ65NBRPVA63XZFO73XRD4GNIBYLJSUTA6WGE4Z4GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V72DSBI4XX4PHOONJO64WXCRSIYIE7YFOYM3XFJ3TAKYC7GNEXQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTUP32YCU5EPKH2GGVNGPNR24UUGY7ON5H6TYTKLI2QV2RVE6TYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEKH7ZQTIFLTNHNKTCUJFFNMLFD5QKTQN7Z6MUEPTLEFCPD747Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIX4YT7FIAXCDRY55D3E3SBJ44UGEV7UCPO2WWUIMACWDRUQBPGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/627FUJCLZZ3UZ3VMDYKE5OK32X4BWK4TT5GCEJNQYT5G2KCYWYXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6W3MH3W7AGXQNXIN7ZT3IDWF4253FI4HQJWJZDVW3Y5TCJJ7IAGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25SMN5OR6C7DWW3XNX6NGHNB4AB4TCYTNBFNLTNOLWP3QDWQTC5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PWACOZOSFT75VYKDZKQGL3Y6BOSWR47RHJLMPZBSFXJMCGHLK4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RP3K62B5AAP5PQTNHKOEZC7M6K6HMH5Q5SS7XKYDBWQZ6OGFBLBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBGG4QLQ6U5WHT6BZDISM7AMRQOLAQRH52MDN76YXJNJJ35CQ52A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GE4X2VQTBME7INZEMGCW52GCKGY77GBZO2LF552AE3TZHC4QOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ7HDCKHFZJCEPWABMHDIMSYVJWNJWII3PR2VF4AT3YNCVGAV7OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXVV6Y42TEFY72FVNFG4MXOOXWCB2FSHNCJ2XM7PCRE2IQFOFWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZCK5R7RIPOEHUYNPNWSL7B2W775Z4Q4DZZF4WU5TMDGMBSSGUGA/main.js",
[...]
