{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-05",
        "endpointPrefix": "transfer",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWS Transfer",
        "serviceFullName": "AWS Transfer Family",
        "serviceId": "Transfer",
        "signatureVersion": "v4",
        "signingName": "transfer",
        "targetPrefix": "TransferService",
        "uid": "transfer-2018-11-05",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
        ]
    },
    "operations": {
        "CreateAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "Role",
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "HomeDirectory": {},
                    "HomeDirectoryType": {},
                    "HomeDirectoryMappings": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "PosixProfile": {
                        "shape": "S9"
                    },
                    "Role": {},
                    "ServerId": {},
                    "ExternalId": {},
                    "WorkflowDetails": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "ServerId": {},
                    "ExternalId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "CreateAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "LocalProfileId",
                    "PartnerProfileId",
                    "BaseDirectory",
                    "AccessRole"
                ],
                "members": {
                    "Description": {},
                    "ServerId": {},
                    "LocalProfileId": {},
                    "PartnerProfileId": {},
                    "BaseDirectory": {},
                    "AccessRole": {},
                    "Status": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "PreserveFilename": {},
                    "EnforceMessageSigning": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AgreementId"
                ],
                "members": {
                    "AgreementId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDE7JDA6ZJ2RZLPVP53R7R4VY7XB3CXZOFTOGTCXIWAHBB6WV2GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAAXX7PIDCJ53BP5D3L64E5A52XWI6FKAFLC53G2M3I77MBDLQTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BII2JJ7JL3LUXBCBNHXRYZJJVZIQA254IPS642EWNPZYS55EANSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGBXKUKB6ITVONPMVMBGRPSQYVKE4733QLR6MVQ3GLKZ6LZZLA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "CreateConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "Url",
                    "As2Config",
                    "AccessRole"
                ],
                "members": {
                    "Url": {},
                    "As2Config": {
                        "shape": "Ss"
                    },
                    "AccessRole": {},
                    "LoggingRole": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "SftpConfig": {
                        "shape": "S10"
                    },
                    "StructuredLogDestinations": {
                        "shape": "S1b"
                    },
                    "SecurityPolicyName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectorId"
                ],
                "members": {
                    "ConnectorId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDE7JDA6ZJ2RZLPVP53R7R4VY7XB3CXZOFTOGTCXIWAHBB6WV2GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAAXX7PIDCJ53BP5D3L64E5A52XWI6FKAFLC53G2M3I77MBDLQTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BII2JJ7JL3LUXBCBNHXRYZJJVZIQA254IPS642EWNPZYS55EANSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGBXKUKB6ITVONPMVMBGRPSQYVKE4733QLR6MVQ3GLKZ6LZZLA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "CreateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "As2Id",
                    "ProfileType"
                ],
                "members": {
                    "As2Id": {},
                    "ProfileType": {},
                    "CertificateIds": {
                        "shape": "S14"
                    },
                    "Tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDE7JDA6ZJ2RZLPVP53R7R4VY7XB3CXZOFTOGTCXIWAHBB6WV2GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAAXX7PIDCJ53BP5D3L64E5A52XWI6FKAFLC53G2M3I77MBDLQTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BII2JJ7JL3LUXBCBNHXRYZJJVZIQA254IPS642EWNPZYS55EANSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGBXKUKB6ITVONPMVMBGRPSQYVKE4733QLR6MVQ3GLKZ6LZZLA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "CreateServer": {
            "input": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "Domain": {},
                    "EndpointDetails": {
                        "shape": "S1a"
                    },
                    "EndpointType": {},
                    "HostKey": {
                        "shape": "S1k"
                    },
                    "IdentityProviderDetails": {
                        "shape": "S1l"
                    },
                    "IdentityProviderType": {},
                    "LoggingRole": {},
                    "PostAuthenticationLoginBanner": {},
                    "PreAuthenticationLoginBanner": {},
                    "Protocols": {
                        "shape": "S1r"
                    },
                    "ProtocolDetails": {
                        "shape": "S1t"
                    },
                    "SecurityPolicyName": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "WorkflowDetails": {
                        "shape": "S20"
                    },
                    "StructuredLogDestinations": {
                        "shape": "S1b"
                    },
                    "AgreementProvider": {
                        "shape": "S2k"
                    },
                    "S3StorageOptions": {
                        "shape": "S2n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId"
                ],
                "members": {
                    "ServerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "Role",
                    "ServerId",
                    "UserName"
                ],
                "members": {
                    "HomeDirectory": {},
                    "HomeDirectoryType": {},
                    "HomeDirectoryMappings": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "PosixProfile": {
                        "shape": "S9"
                    },
                    "Role": {},
                    "ServerId": {},
                    "SshPublicKeyBody": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "UserName": {},
                    "EncryptionOptions": {
                        "shape": "S2s"
                    },
                    "WorkflowDetails": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "UserName"
                ],
                "members": {
                    "ServerId": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "CreateWorkflow": {
            "input": {
                "type": "structure",
                "required": [
                    "Steps"
                ],
                "members": {
                    "Description": {},
                    "Steps": {
                        "shape": "S2c"
                    },
                    "OnExceptionSteps": {
                        "shape": "S2c"
                    },
                    "Tags": {
                        "shape": "Sk"
                    },
                    "StructuredLogDestinations": {
                        "shape": "S1b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WorkflowId"
                ],
                "members": {
                    "WorkflowId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DeleteAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "ServerId": {},
                    "ExternalId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DeleteAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "AgreementId",
                    "ServerId"
                ],
                "members": {
                    "AgreementId": {},
                    "ServerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDE7JDA6ZJ2RZLPVP53R7R4VY7XB3CXZOFTOGTCXIWAHBB6WV2GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAAXX7PIDCJ53BP5D3L64E5A52XWI6FKAFLC53G2M3I77MBDLQTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BII2JJ7JL3LUXBCBNHXRYZJJVZIQA254IPS642EWNPZYS55EANSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGBXKUKB6ITVONPMVMBGRPSQYVKE4733QLR6MVQ3GLKZ6LZZLA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DeleteCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateId"
                ],
                "members": {
                    "CertificateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDE7JDA6ZJ2RZLPVP53R7R4VY7XB3CXZOFTOGTCXIWAHBB6WV2GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAAXX7PIDCJ53BP5D3L64E5A52XWI6FKAFLC53G2M3I77MBDLQTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BII2JJ7JL3LUXBCBNHXRYZJJVZIQA254IPS642EWNPZYS55EANSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGBXKUKB6ITVONPMVMBGRPSQYVKE4733QLR6MVQ3GLKZ6LZZLA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DeleteConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorId"
                ],
                "members": {
                    "ConnectorId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDE7JDA6ZJ2RZLPVP53R7R4VY7XB3CXZOFTOGTCXIWAHBB6WV2GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAAXX7PIDCJ53BP5D3L64E5A52XWI6FKAFLC53G2M3I77MBDLQTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BII2JJ7JL3LUXBCBNHXRYZJJVZIQA254IPS642EWNPZYS55EANSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGBXKUKB6ITVONPMVMBGRPSQYVKE4733QLR6MVQ3GLKZ6LZZLA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DeleteHostKey": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "HostKeyId"
                ],
                "members": {
                    "ServerId": {},
                    "HostKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDE7JDA6ZJ2RZLPVP53R7R4VY7XB3CXZOFTOGTCXIWAHBB6WV2GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAAXX7PIDCJ53BP5D3L64E5A52XWI6FKAFLC53G2M3I77MBDLQTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BII2JJ7JL3LUXBCBNHXRYZJJVZIQA254IPS642EWNPZYS55EANSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGBXKUKB6ITVONPMVMBGRPSQYVKE4733QLR6MVQ3GLKZ6LZZLA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DeleteProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDE7JDA6ZJ2RZLPVP53R7R4VY7XB3CXZOFTOGTCXIWAHBB6WV2GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAAXX7PIDCJ53BP5D3L64E5A52XWI6FKAFLC53G2M3I77MBDLQTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BII2JJ7JL3LUXBCBNHXRYZJJVZIQA254IPS642EWNPZYS55EANSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGBXKUKB6ITVONPMVMBGRPSQYVKE4733QLR6MVQ3GLKZ6LZZLA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DeleteServer": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId"
                ],
                "members": {
                    "ServerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DeleteSshPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "SshPublicKeyId",
                    "UserName"
                ],
                "members": {
                    "ServerId": {},
                    "SshPublicKeyId": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "UserName"
                ],
                "members": {
                    "ServerId": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DeleteWorkflow": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkflowId"
                ],
                "members": {
                    "WorkflowId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DescribeAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "ServerId": {},
                    "ExternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "Access"
                ],
                "members": {
                    "ServerId": {},
                    "Access": {
                        "type": "structure",
                        "members": {
                            "HomeDirectory": {},
                            "HomeDirectoryMappings": {
                                "shape": "S4"
                            },
                            "HomeDirectoryType": {},
                            "Policy": {},
                            "PosixProfile": {
                                "shape": "S9"
                            },
                            "Role": {},
                            "ExternalId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DescribeAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "AgreementId",
                    "ServerId"
                ],
                "members": {
                    "AgreementId": {},
                    "ServerId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Agreement"
                ],
                "members": {
                    "Agreement": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "AgreementId": {},
                            "Description": {},
                            "Status": {},
                            "ServerId": {},
                            "LocalProfileId": {},
                            "PartnerProfileId": {},
                            "BaseDirectory": {},
                            "AccessRole": {},
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDE7JDA6ZJ2RZLPVP53R7R4VY7XB3CXZOFTOGTCXIWAHBB6WV2GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAAXX7PIDCJ53BP5D3L64E5A52XWI6FKAFLC53G2M3I77MBDLQTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BII2JJ7JL3LUXBCBNHXRYZJJVZIQA254IPS642EWNPZYS55EANSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGBXKUKB6ITVONPMVMBGRPSQYVKE4733QLR6MVQ3GLKZ6LZZLA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DescribeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateId"
                ],
                "members": {
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Certificate"
                ],
                "members": {
                    "Certificate": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "CertificateId": {},
                            "Usage": {},
                            "Status": {},
                            "Certificate": {
                                "shape": "S3o"
                            },
                            "CertificateChain": {
                                "shape": "S3p"
                            },
                            "ActiveDate": {
                                "type": "timestamp"
                            },
                            "InactiveDate": {
                                "type": "timestamp"
                            },
                            "Serial": {},
                            "NotBeforeDate": {
                                "type": "timestamp"
                            },
                            "NotAfterDate": {
                                "type": "timestamp"
                            },
                            "Type": {},
                            "Description": {},
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDE7JDA6ZJ2RZLPVP53R7R4VY7XB3CXZOFTOGTCXIWAHBB6WV2GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAAXX7PIDCJ53BP5D3L64E5A52XWI6FKAFLC53G2M3I77MBDLQTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BII2JJ7JL3LUXBCBNHXRYZJJVZIQA254IPS642EWNPZYS55EANSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGBXKUKB6ITVONPMVMBGRPSQYVKE4733QLR6MVQ3GLKZ6LZZLA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DescribeConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorId"
                ],
                "members": {
                    "ConnectorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Connector"
                ],
                "members": {
                    "Connector": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "ConnectorId": {},
                            "Url": {},
                            "As2Config": {
                                "shape": "Ss"
                            },
                            "AccessRole": {},
                            "LoggingRole": {},
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDE7JDA6ZJ2RZLPVP53R7R4VY7XB3CXZOFTOGTCXIWAHBB6WV2GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAAXX7PIDCJ53BP5D3L64E5A52XWI6FKAFLC53G2M3I77MBDLQTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BII2JJ7JL3LUXBCBNHXRYZJJVZIQA254IPS642EWNPZYS55EANSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGBXKUKB6ITVONPMVMBGRPSQYVKE4733QLR6MVQ3GLKZ6LZZLA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DescribeExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "ExecutionId",
                    "WorkflowId"
                ],
                "members": {
                    "ExecutionId": {},
                    "WorkflowId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WorkflowId",
                    "Execution"
                ],
                "members": {
                    "WorkflowId": {},
                    "Execution": {
                        "type": "structure",
                        "members": {
                            "ExecutionId": {},
                            "InitialFileLocation": {
                                "shape": "S40"
                            },
                            "ServiceMetadata": {
                                "shape": "S44"
                            },
                            "ExecutionRole": {},
                            "LoggingConfiguration": {
                                "type": "structure",
                                "members": {
                                    "LoggingRole": {},
                                    "LogGroupName": {}
                                }
                            },
                            "PosixProfile": {
                                "shape": "S9"
                            },
                            "Status": {},
                            "Results": {
                                "type": "structure",
                                "members": {
                                    "Steps": {
                                        "shape": "S4b"
                                    },
                                    "OnExceptionSteps": {
                                        "shape": "S4b"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DescribeHostKey": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "HostKeyId"
                ],
                "members": {
                    "ServerId": {},
                    "HostKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HostKey"
                ],
                "members": {
                    "HostKey": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "HostKeyId": {},
                            "HostKeyFingerprint": {},
                            "Description": {},
                            "Type": {},
                            "DateImported": {
                                "type": "timestamp"
                            },
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDE7JDA6ZJ2RZLPVP53R7R4VY7XB3CXZOFTOGTCXIWAHBB6WV2GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAAXX7PIDCJ53BP5D3L64E5A52XWI6FKAFLC53G2M3I77MBDLQTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BII2JJ7JL3LUXBCBNHXRYZJJVZIQA254IPS642EWNPZYS55EANSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGBXKUKB6ITVONPMVMBGRPSQYVKE4733QLR6MVQ3GLKZ6LZZLA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DescribeProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Profile"
                ],
                "members": {
                    "Profile": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "ProfileId": {},
                            "ProfileType": {},
                            "As2Id": {},
                            "CertificateIds": {
                                "shape": "S14"
                            },
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDE7JDA6ZJ2RZLPVP53R7R4VY7XB3CXZOFTOGTCXIWAHBB6WV2GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAAXX7PIDCJ53BP5D3L64E5A52XWI6FKAFLC53G2M3I77MBDLQTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BII2JJ7JL3LUXBCBNHXRYZJJVZIQA254IPS642EWNPZYS55EANSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGBXKUKB6ITVONPMVMBGRPSQYVKE4733QLR6MVQ3GLKZ6LZZLA7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AYQUBXTGCI44UGEHPFWQ5CHHI3K6MZHI53XK2PGSQWVLPMF5MCBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2F7YCMGRC2OIXN7RXPSYHXMHNH73F2MLZSFUXZ2GVWOXBD3V2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7MBJVWK6U3J22TIYBW2N5AVHDZKFVGHGFGGZFDXORP4M5TQAVMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFWHJGIQEL2QJ26QERWHF6GWYCQYZUCNE5BIG7F3BKQH4OX3JNKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVADJDLJN4PWJYOKMW2JG6O4QKVCPFVF6EQXA22MN4CBJ6UXZ2FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FAJGBJOETFDVJP2GWL3OKPR3N3DR6AXG2REZPOPHM6Q67NJKJB4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UA7YVRYFOSU5FUSCISMLPMWEYOH6UACK3UJLJF252GENDSLGGTYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js"
            ]
        },
        "DescribeSecurityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecurityPolicyName"
                ],
                "members": {
                    "SecurityPolicyName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SecurityPolicy"
                ],
                "members": {
                    "SecurityPolicy": {
                        "type": "structure",
                        "required": [
                            "SecurityPolicyName"
                        ],
                        "members": {
                            "Fips": {
                                "type": "boolean"
                            },
                            "SecurityPolicyName": {},
                            "SshCiphers": {
                                "shape": "S4v"
                            },
                            "SshKexs": {
                                "shape": "S4v"
                            },
                            "SshMacs": {
                                "shape": "S4v"
                            },
                            "TlsCiphers": {
                                "shape": "S4v"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVJ4K2476W46ASBIAHXNYVBCAH5KOSL2FNKJMA7Q2LOGD3R4TDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
[...]
