{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-05",
        "endpointPrefix": "transfer",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWS Transfer",
        "serviceFullName": "AWS Transfer Family",
        "serviceId": "Transfer",
        "signatureVersion": "v4",
        "signingName": "transfer",
        "targetPrefix": "TransferService",
        "uid": "transfer-2018-11-05",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
        ]
    },
    "operations": {
        "CreateAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "Role",
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "HomeDirectory": {},
                    "HomeDirectoryType": {},
                    "HomeDirectoryMappings": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "PosixProfile": {
                        "shape": "S9"
                    },
                    "Role": {},
                    "ServerId": {},
                    "ExternalId": {},
                    "WorkflowDetails": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "ServerId": {},
                    "ExternalId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "LocalProfileId",
                    "PartnerProfileId",
                    "BaseDirectory",
                    "AccessRole"
                ],
                "members": {
                    "Description": {},
                    "ServerId": {},
                    "LocalProfileId": {},
                    "PartnerProfileId": {},
                    "BaseDirectory": {},
                    "AccessRole": {},
                    "Status": {},
                    "Tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AgreementId"
                ],
                "members": {
                    "AgreementId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPDYHMKHMHMCPPL5RE4K35EFB32DF6TNWG4FGNHDR6AKJWUE6H3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJLY7HCBBZRTVSUGWCIBJ3TAT3MM4D7HVQCC5VRJOBSELJQONEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2HNN6DVEHEIQTAMZVXRV4SOBLM5Q3W3BVWI4K636S4VI2TZKBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNXGKUJRTSJI4VQ2PENFIVIMNWKTMUI2JTAGGASQOWYDPOLXA5TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL74QCH5UTH2XATJKA5EN5XKSIQKKTHDDHBFAU3AP4GYMHYZ5TBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRF7S3IN7OUXFNJQAB2KH4RAFS7MB46H4PEH74XIIX4TPIISNSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVDKCZN7WTAG7LP5KEOHOKSHM6C5J5CVS3CKRSC3CG6L6IA33ZMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHMPZIZWMQZ5K23DMMCSO3HMG57LGKCGL6MTKWLMB3EJJIFP4YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYSAK5PQLCON6MRHSP5TGWGZ6CWGN36PXRH3A4VPQ63M2ZXA6MPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4CGDMDDPGY62CAC6322R25S4IY42C42O4UWGM4JU7JPZT6OJDNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "CreateConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "Url",
                    "As2Config",
                    "AccessRole"
                ],
                "members": {
                    "Url": {},
                    "As2Config": {
                        "shape": "Ss"
                    },
                    "AccessRole": {},
                    "LoggingRole": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "SftpConfig": {
                        "shape": "S10"
                    },
                    "StructuredLogDestinations": {
                        "shape": "S1b"
                    },
                    "SecurityPolicyName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectorId"
                ],
                "members": {
                    "ConnectorId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPDYHMKHMHMCPPL5RE4K35EFB32DF6TNWG4FGNHDR6AKJWUE6H3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJLY7HCBBZRTVSUGWCIBJ3TAT3MM4D7HVQCC5VRJOBSELJQONEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2HNN6DVEHEIQTAMZVXRV4SOBLM5Q3W3BVWI4K636S4VI2TZKBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNXGKUJRTSJI4VQ2PENFIVIMNWKTMUI2JTAGGASQOWYDPOLXA5TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL74QCH5UTH2XATJKA5EN5XKSIQKKTHDDHBFAU3AP4GYMHYZ5TBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRF7S3IN7OUXFNJQAB2KH4RAFS7MB46H4PEH74XIIX4TPIISNSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVDKCZN7WTAG7LP5KEOHOKSHM6C5J5CVS3CKRSC3CG6L6IA33ZMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHMPZIZWMQZ5K23DMMCSO3HMG57LGKCGL6MTKWLMB3EJJIFP4YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYSAK5PQLCON6MRHSP5TGWGZ6CWGN36PXRH3A4VPQ63M2ZXA6MPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4CGDMDDPGY62CAC6322R25S4IY42C42O4UWGM4JU7JPZT6OJDNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "CreateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "As2Id",
                    "ProfileType"
                ],
                "members": {
                    "As2Id": {},
                    "ProfileType": {},
                    "CertificateIds": {
                        "shape": "S14"
                    },
                    "Tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPDYHMKHMHMCPPL5RE4K35EFB32DF6TNWG4FGNHDR6AKJWUE6H3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJLY7HCBBZRTVSUGWCIBJ3TAT3MM4D7HVQCC5VRJOBSELJQONEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2HNN6DVEHEIQTAMZVXRV4SOBLM5Q3W3BVWI4K636S4VI2TZKBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNXGKUJRTSJI4VQ2PENFIVIMNWKTMUI2JTAGGASQOWYDPOLXA5TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL74QCH5UTH2XATJKA5EN5XKSIQKKTHDDHBFAU3AP4GYMHYZ5TBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRF7S3IN7OUXFNJQAB2KH4RAFS7MB46H4PEH74XIIX4TPIISNSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVDKCZN7WTAG7LP5KEOHOKSHM6C5J5CVS3CKRSC3CG6L6IA33ZMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHMPZIZWMQZ5K23DMMCSO3HMG57LGKCGL6MTKWLMB3EJJIFP4YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYSAK5PQLCON6MRHSP5TGWGZ6CWGN36PXRH3A4VPQ63M2ZXA6MPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4CGDMDDPGY62CAC6322R25S4IY42C42O4UWGM4JU7JPZT6OJDNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "CreateServer": {
            "input": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "Domain": {},
                    "EndpointDetails": {
                        "shape": "S1a"
                    },
                    "EndpointType": {},
                    "HostKey": {
                        "shape": "S1k"
                    },
                    "IdentityProviderDetails": {
                        "shape": "S1l"
                    },
                    "IdentityProviderType": {},
                    "LoggingRole": {},
                    "PostAuthenticationLoginBanner": {},
                    "PreAuthenticationLoginBanner": {},
                    "Protocols": {
                        "shape": "S1r"
                    },
                    "ProtocolDetails": {
                        "shape": "S1t"
                    },
                    "SecurityPolicyName": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "WorkflowDetails": {
                        "shape": "S20"
                    },
                    "StructuredLogDestinations": {
                        "shape": "S1b"
                    },
                    "AgreementProvider": {
                        "shape": "S2k"
                    },
                    "S3StorageOptions": {
                        "shape": "S2n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId"
                ],
                "members": {
                    "ServerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "Role",
                    "ServerId",
                    "UserName"
                ],
                "members": {
                    "HomeDirectory": {},
                    "HomeDirectoryType": {},
                    "HomeDirectoryMappings": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "PosixProfile": {
                        "shape": "S9"
                    },
                    "Role": {},
                    "ServerId": {},
                    "SshPublicKeyBody": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "UserName": {},
                    "EncryptionOptions": {
                        "shape": "S2s"
                    },
                    "WorkflowDetails": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "UserName"
                ],
                "members": {
                    "ServerId": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateWorkflow": {
            "input": {
                "type": "structure",
                "required": [
                    "Steps"
                ],
                "members": {
                    "Description": {},
                    "Steps": {
                        "shape": "S2c"
                    },
                    "OnExceptionSteps": {
                        "shape": "S2c"
                    },
                    "Tags": {
                        "shape": "Sk"
                    },
                    "StructuredLogDestinations": {
                        "shape": "S1b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WorkflowId"
                ],
                "members": {
                    "WorkflowId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "ServerId": {},
                    "ExternalId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "AgreementId",
                    "ServerId"
                ],
                "members": {
                    "AgreementId": {},
                    "ServerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPDYHMKHMHMCPPL5RE4K35EFB32DF6TNWG4FGNHDR6AKJWUE6H3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJLY7HCBBZRTVSUGWCIBJ3TAT3MM4D7HVQCC5VRJOBSELJQONEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2HNN6DVEHEIQTAMZVXRV4SOBLM5Q3W3BVWI4K636S4VI2TZKBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNXGKUJRTSJI4VQ2PENFIVIMNWKTMUI2JTAGGASQOWYDPOLXA5TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL74QCH5UTH2XATJKA5EN5XKSIQKKTHDDHBFAU3AP4GYMHYZ5TBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRF7S3IN7OUXFNJQAB2KH4RAFS7MB46H4PEH74XIIX4TPIISNSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVDKCZN7WTAG7LP5KEOHOKSHM6C5J5CVS3CKRSC3CG6L6IA33ZMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHMPZIZWMQZ5K23DMMCSO3HMG57LGKCGL6MTKWLMB3EJJIFP4YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYSAK5PQLCON6MRHSP5TGWGZ6CWGN36PXRH3A4VPQ63M2ZXA6MPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4CGDMDDPGY62CAC6322R25S4IY42C42O4UWGM4JU7JPZT6OJDNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateId"
                ],
                "members": {
                    "CertificateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPDYHMKHMHMCPPL5RE4K35EFB32DF6TNWG4FGNHDR6AKJWUE6H3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJLY7HCBBZRTVSUGWCIBJ3TAT3MM4D7HVQCC5VRJOBSELJQONEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2HNN6DVEHEIQTAMZVXRV4SOBLM5Q3W3BVWI4K636S4VI2TZKBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNXGKUJRTSJI4VQ2PENFIVIMNWKTMUI2JTAGGASQOWYDPOLXA5TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL74QCH5UTH2XATJKA5EN5XKSIQKKTHDDHBFAU3AP4GYMHYZ5TBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRF7S3IN7OUXFNJQAB2KH4RAFS7MB46H4PEH74XIIX4TPIISNSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVDKCZN7WTAG7LP5KEOHOKSHM6C5J5CVS3CKRSC3CG6L6IA33ZMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHMPZIZWMQZ5K23DMMCSO3HMG57LGKCGL6MTKWLMB3EJJIFP4YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYSAK5PQLCON6MRHSP5TGWGZ6CWGN36PXRH3A4VPQ63M2ZXA6MPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4CGDMDDPGY62CAC6322R25S4IY42C42O4UWGM4JU7JPZT6OJDNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorId"
                ],
                "members": {
                    "ConnectorId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPDYHMKHMHMCPPL5RE4K35EFB32DF6TNWG4FGNHDR6AKJWUE6H3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJLY7HCBBZRTVSUGWCIBJ3TAT3MM4D7HVQCC5VRJOBSELJQONEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2HNN6DVEHEIQTAMZVXRV4SOBLM5Q3W3BVWI4K636S4VI2TZKBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNXGKUJRTSJI4VQ2PENFIVIMNWKTMUI2JTAGGASQOWYDPOLXA5TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL74QCH5UTH2XATJKA5EN5XKSIQKKTHDDHBFAU3AP4GYMHYZ5TBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRF7S3IN7OUXFNJQAB2KH4RAFS7MB46H4PEH74XIIX4TPIISNSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVDKCZN7WTAG7LP5KEOHOKSHM6C5J5CVS3CKRSC3CG6L6IA33ZMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHMPZIZWMQZ5K23DMMCSO3HMG57LGKCGL6MTKWLMB3EJJIFP4YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYSAK5PQLCON6MRHSP5TGWGZ6CWGN36PXRH3A4VPQ63M2ZXA6MPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4CGDMDDPGY62CAC6322R25S4IY42C42O4UWGM4JU7JPZT6OJDNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteHostKey": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "HostKeyId"
                ],
                "members": {
                    "ServerId": {},
                    "HostKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPDYHMKHMHMCPPL5RE4K35EFB32DF6TNWG4FGNHDR6AKJWUE6H3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJLY7HCBBZRTVSUGWCIBJ3TAT3MM4D7HVQCC5VRJOBSELJQONEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2HNN6DVEHEIQTAMZVXRV4SOBLM5Q3W3BVWI4K636S4VI2TZKBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNXGKUJRTSJI4VQ2PENFIVIMNWKTMUI2JTAGGASQOWYDPOLXA5TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL74QCH5UTH2XATJKA5EN5XKSIQKKTHDDHBFAU3AP4GYMHYZ5TBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRF7S3IN7OUXFNJQAB2KH4RAFS7MB46H4PEH74XIIX4TPIISNSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVDKCZN7WTAG7LP5KEOHOKSHM6C5J5CVS3CKRSC3CG6L6IA33ZMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHMPZIZWMQZ5K23DMMCSO3HMG57LGKCGL6MTKWLMB3EJJIFP4YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYSAK5PQLCON6MRHSP5TGWGZ6CWGN36PXRH3A4VPQ63M2ZXA6MPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4CGDMDDPGY62CAC6322R25S4IY42C42O4UWGM4JU7JPZT6OJDNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPDYHMKHMHMCPPL5RE4K35EFB32DF6TNWG4FGNHDR6AKJWUE6H3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJLY7HCBBZRTVSUGWCIBJ3TAT3MM4D7HVQCC5VRJOBSELJQONEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2HNN6DVEHEIQTAMZVXRV4SOBLM5Q3W3BVWI4K636S4VI2TZKBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNXGKUJRTSJI4VQ2PENFIVIMNWKTMUI2JTAGGASQOWYDPOLXA5TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL74QCH5UTH2XATJKA5EN5XKSIQKKTHDDHBFAU3AP4GYMHYZ5TBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRF7S3IN7OUXFNJQAB2KH4RAFS7MB46H4PEH74XIIX4TPIISNSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVDKCZN7WTAG7LP5KEOHOKSHM6C5J5CVS3CKRSC3CG6L6IA33ZMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHMPZIZWMQZ5K23DMMCSO3HMG57LGKCGL6MTKWLMB3EJJIFP4YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYSAK5PQLCON6MRHSP5TGWGZ6CWGN36PXRH3A4VPQ63M2ZXA6MPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4CGDMDDPGY62CAC6322R25S4IY42C42O4UWGM4JU7JPZT6OJDNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteServer": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId"
                ],
                "members": {
                    "ServerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteSshPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "SshPublicKeyId",
                    "UserName"
                ],
                "members": {
                    "ServerId": {},
                    "SshPublicKeyId": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "UserName"
                ],
                "members": {
                    "ServerId": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4NV3ASZD3H4PAEO6VOSZGEUR3IU72IGVLLG25SFTCPCO6DYHG7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4TZRAMXKBB4EXWFTSRSC5AM2PTIRI6OXW2I7VY4HP3L6UTFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteWorkflow": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkflowId"
                ],
                "members": {
                    "WorkflowId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "ServerId": {},
                    "ExternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "Access"
                ],
                "members": {
                    "ServerId": {},
                    "Access": {
                        "type": "structure",
                        "members": {
                            "HomeDirectory": {},
                            "HomeDirectoryMappings": {
                                "shape": "S4"
                            },
                            "HomeDirectoryType": {},
                            "Policy": {},
                            "PosixProfile": {
                                "shape": "S9"
                            },
                            "Role": {},
                            "ExternalId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "AgreementId",
                    "ServerId"
                ],
                "members": {
                    "AgreementId": {},
                    "ServerId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Agreement"
                ],
                "members": {
                    "Agreement": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "AgreementId": {},
                            "Description": {},
                            "Status": {},
                            "ServerId": {},
                            "LocalProfileId": {},
                            "PartnerProfileId": {},
                            "BaseDirectory": {},
                            "AccessRole": {},
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPDYHMKHMHMCPPL5RE4K35EFB32DF6TNWG4FGNHDR6AKJWUE6H3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJLY7HCBBZRTVSUGWCIBJ3TAT3MM4D7HVQCC5VRJOBSELJQONEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2HNN6DVEHEIQTAMZVXRV4SOBLM5Q3W3BVWI4K636S4VI2TZKBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNXGKUJRTSJI4VQ2PENFIVIMNWKTMUI2JTAGGASQOWYDPOLXA5TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL74QCH5UTH2XATJKA5EN5XKSIQKKTHDDHBFAU3AP4GYMHYZ5TBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRF7S3IN7OUXFNJQAB2KH4RAFS7MB46H4PEH74XIIX4TPIISNSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVDKCZN7WTAG7LP5KEOHOKSHM6C5J5CVS3CKRSC3CG6L6IA33ZMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHMPZIZWMQZ5K23DMMCSO3HMG57LGKCGL6MTKWLMB3EJJIFP4YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYSAK5PQLCON6MRHSP5TGWGZ6CWGN36PXRH3A4VPQ63M2ZXA6MPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4CGDMDDPGY62CAC6322R25S4IY42C42O4UWGM4JU7JPZT6OJDNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DescribeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateId"
                ],
                "members": {
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Certificate"
                ],
                "members": {
                    "Certificate": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "CertificateId": {},
                            "Usage": {},
                            "Status": {},
                            "Certificate": {
                                "shape": "S3o"
                            },
                            "CertificateChain": {
                                "shape": "S3p"
                            },
                            "ActiveDate": {
                                "type": "timestamp"
                            },
                            "InactiveDate": {
                                "type": "timestamp"
                            },
                            "Serial": {},
                            "NotBeforeDate": {
                                "type": "timestamp"
                            },
                            "NotAfterDate": {
                                "type": "timestamp"
                            },
                            "Type": {},
                            "Description": {},
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPDYHMKHMHMCPPL5RE4K35EFB32DF6TNWG4FGNHDR6AKJWUE6H3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJLY7HCBBZRTVSUGWCIBJ3TAT3MM4D7HVQCC5VRJOBSELJQONEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2HNN6DVEHEIQTAMZVXRV4SOBLM5Q3W3BVWI4K636S4VI2TZKBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNXGKUJRTSJI4VQ2PENFIVIMNWKTMUI2JTAGGASQOWYDPOLXA5TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL74QCH5UTH2XATJKA5EN5XKSIQKKTHDDHBFAU3AP4GYMHYZ5TBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRF7S3IN7OUXFNJQAB2KH4RAFS7MB46H4PEH74XIIX4TPIISNSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVDKCZN7WTAG7LP5KEOHOKSHM6C5J5CVS3CKRSC3CG6L6IA33ZMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHMPZIZWMQZ5K23DMMCSO3HMG57LGKCGL6MTKWLMB3EJJIFP4YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYSAK5PQLCON6MRHSP5TGWGZ6CWGN36PXRH3A4VPQ63M2ZXA6MPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4CGDMDDPGY62CAC6322R25S4IY42C42O4UWGM4JU7JPZT6OJDNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DescribeConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorId"
                ],
                "members": {
                    "ConnectorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Connector"
                ],
                "members": {
                    "Connector": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "ConnectorId": {},
                            "Url": {},
                            "As2Config": {
                                "shape": "Ss"
                            },
                            "AccessRole": {},
                            "LoggingRole": {},
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPDYHMKHMHMCPPL5RE4K35EFB32DF6TNWG4FGNHDR6AKJWUE6H3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJLY7HCBBZRTVSUGWCIBJ3TAT3MM4D7HVQCC5VRJOBSELJQONEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2HNN6DVEHEIQTAMZVXRV4SOBLM5Q3W3BVWI4K636S4VI2TZKBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNXGKUJRTSJI4VQ2PENFIVIMNWKTMUI2JTAGGASQOWYDPOLXA5TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL74QCH5UTH2XATJKA5EN5XKSIQKKTHDDHBFAU3AP4GYMHYZ5TBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRF7S3IN7OUXFNJQAB2KH4RAFS7MB46H4PEH74XIIX4TPIISNSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVDKCZN7WTAG7LP5KEOHOKSHM6C5J5CVS3CKRSC3CG6L6IA33ZMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHMPZIZWMQZ5K23DMMCSO3HMG57LGKCGL6MTKWLMB3EJJIFP4YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYSAK5PQLCON6MRHSP5TGWGZ6CWGN36PXRH3A4VPQ63M2ZXA6MPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4CGDMDDPGY62CAC6322R25S4IY42C42O4UWGM4JU7JPZT6OJDNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DescribeExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "ExecutionId",
                    "WorkflowId"
                ],
                "members": {
                    "ExecutionId": {},
                    "WorkflowId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WorkflowId",
                    "Execution"
                ],
                "members": {
                    "WorkflowId": {},
                    "Execution": {
                        "type": "structure",
                        "members": {
                            "ExecutionId": {},
                            "InitialFileLocation": {
                                "shape": "S40"
                            },
                            "ServiceMetadata": {
                                "shape": "S44"
                            },
                            "ExecutionRole": {},
                            "LoggingConfiguration": {
                                "type": "structure",
                                "members": {
                                    "LoggingRole": {},
                                    "LogGroupName": {}
                                }
                            },
                            "PosixProfile": {
                                "shape": "S9"
                            },
                            "Status": {},
                            "Results": {
                                "type": "structure",
                                "members": {
                                    "Steps": {
                                        "shape": "S4b"
                                    },
                                    "OnExceptionSteps": {
                                        "shape": "S4b"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JE5ZMVH2RM37AE6Q75QVPXH4KES2KGZYZSZLN3XB2IAIBQ5ZKGNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6ELOJK77MILZQHFMSYXCIPFUIUAL7FF45CGRO3X65UXO7BOP65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IT37AQ55VNRFM5EWRLTZWCJKS5R6D5NQACIPC2VHKB564B6XFCTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QT7FMYLRGZAHKTR34LSFC6S3R6B6I3GRAQKAVQOJUCYJ6TA6PJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66AWVQKGA75UBJPOM4QK5WN2NKN752CS5ESGPSP7AIILAUQ7OCWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5ADTILAR4VX7FRPB4STNC277UXE77E3T2UWRCFZSKVIMCKNQ3HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7D7XRRZONINH3H37VINQNGWKUL6UHPDDU77PDEAOVO7CWH526WAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNQXHPIARKMO3DACZGXPJXZ5SW34GPOAVYT4LDEF4CGDUVV77SUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeHostKey": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "HostKeyId"
                ],
                "members": {
                    "ServerId": {},
                    "HostKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HostKey"
                ],
                "members": {
                    "HostKey": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "HostKeyId": {},
                            "HostKeyFingerprint": {},
                            "Description": {},
                            "Type": {},
                            "DateImported": {
                                "type": "timestamp"
                            },
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPDYHMKHMHMCPPL5RE4K35EFB32DF6TNWG4FGNHDR6AKJWUE6H3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJLY7HCBBZRTVSUGWCIBJ3TAT3MM4D7HVQCC5VRJOBSELJQONEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2HNN6DVEHEIQTAMZVXRV4SOBLM5Q3W3BVWI4K636S4VI2TZKBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNXGKUJRTSJI4VQ2PENFIVIMNWKTMUI2JTAGGASQOWYDPOLXA5TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL74QCH5UTH2XATJKA5EN5XKSIQKKTHDDHBFAU3AP4GYMHYZ5TBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRF7S3IN7OUXFNJQAB2KH4RAFS7MB46H4PEH74XIIX4TPIISNSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVDKCZN7WTAG7LP5KEOHOKSHM6C5J5CVS3CKRSC3CG6L6IA33ZMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHMPZIZWMQZ5K23DMMCSO3HMG57LGKCGL6MTKWLMB3EJJIFP4YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYSAK5PQLCON6MRHSP5TGWGZ6CWGN36PXRH3A4VPQ63M2ZXA6MPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4CGDMDDPGY62CAC6322R25S4IY42C42O4UWGM4JU7JPZT6OJDNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DescribeProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Profile"
                ],
                "members": {
                    "Profile": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "ProfileId": {},
                            "ProfileType": {},
                            "As2Id": {},
                            "CertificateIds": {
                                "shape": "S14"
                            },
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPDYHMKHMHMCPPL5RE4K35EFB32DF6TNWG4FGNHDR6AKJWUE6H3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITJLY7HCBBZRTVSUGWCIBJ3TAT3MM4D7HVQCC5VRJOBSELJQONEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y2HNN6DVEHEIQTAMZVXRV4SOBLM5Q3W3BVWI4K636S4VI2TZKBZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XNXGKUJRTSJI4VQ2PENFIVIMNWKTMUI2JTAGGASQOWYDPOLXA5TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TL74QCH5UTH2XATJKA5EN5XKSIQKKTHDDHBFAU3AP4GYMHYZ5TBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRF7S3IN7OUXFNJQAB2KH4RAFS7MB46H4PEH74XIIX4TPIISNSNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HVDKCZN7WTAG7LP5KEOHOKSHM6C5J5CVS3CKRSC3CG6L6IA33ZMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZHMPZIZWMQZ5K23DMMCSO3HMG57LGKCGL6MTKWLMB3EJJIFP4YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYSAK5PQLCON6MRHSP5TGWGZ6CWGN36PXRH3A4VPQ63M2ZXA6MPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q4CGDMDDPGY62CAC6322R25S4IY42C42O4UWGM4JU7JPZT6OJDNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF5SIA2QT3B6V43GV6AINYIFS32647ETKIIGGVWTYLM3TSKDMDXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7U5EBGKGZ7LR476XOBF3FV6TD5EIHS74EWB46X2D4T7FM4GSK6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S5OBU3MKNWJQW6X67CDD7GZBQ2AK5NWVKDEA5TUXYS7VSJKTMOOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DescribeSecurityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecurityPolicyName"
                ],
                "members": {
                    "SecurityPolicyName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SecurityPolicy"
                ],
                "members": {
                    "SecurityPolicy": {
                        "type": "structure",
                        "required": [
                            "SecurityPolicyName"
                        ],
                        "members": {
                            "Fips": {
                                "type": "boolean"
                            },
                            "SecurityPolicyName": {},
                            "SshCiphers": {
                                "shape": "S4v"
                            },
                            "SshKexs": {
[...]
