{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-05",
        "endpointPrefix": "transfer",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "AWS Transfer",
        "serviceFullName": "AWS Transfer Family",
        "serviceId": "Transfer",
        "signatureVersion": "v4",
        "signingName": "transfer",
        "targetPrefix": "TransferService",
        "uid": "transfer-2018-11-05",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "Role",
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "HomeDirectory": {},
                    "HomeDirectoryType": {},
                    "HomeDirectoryMappings": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "PosixProfile": {
                        "shape": "S9"
                    },
                    "Role": {},
                    "ServerId": {},
                    "ExternalId": {},
                    "WorkflowDetails": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "ServerId": {},
                    "ExternalId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "LocalProfileId",
                    "PartnerProfileId",
                    "BaseDirectory",
                    "AccessRole"
                ],
                "members": {
                    "Description": {},
                    "ServerId": {},
                    "LocalProfileId": {},
                    "PartnerProfileId": {},
                    "BaseDirectory": {},
                    "AccessRole": {},
                    "Status": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "PreserveFilename": {},
                    "EnforceMessageSigning": {},
                    "CustomDirectories": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AgreementId"
                ],
                "members": {
                    "AgreementId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYU3LRUCS5NC6UZZXKD3YQM5VRB4ZAZNSDOSXDZDANEVUI4LKJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ5VPHDCDJQEKXPHA6WKICQW3GXI2V44FTWRLSEWHDMPACNNNPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQEA6L6PR7ADXADATJR3NU6B552ZJLYLZNECBEBCOB3G5OLDVL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QL4T3ZRVBEULWLE5TOF5OVB7OGFVTMDUBFVXTA6PZUF3XXNYFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER5CAFNDUVOP5FGWBUL4MAUANSFOQAF6C4YUHST5J37JM2GL7E5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "Url",
                    "As2Config",
                    "AccessRole"
                ],
                "members": {
                    "Url": {},
                    "As2Config": {
                        "shape": "Ss"
                    },
                    "AccessRole": {},
                    "LoggingRole": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "SftpConfig": {
                        "shape": "S10"
                    },
                    "StructuredLogDestinations": {
                        "shape": "S1b"
                    },
                    "SecurityPolicyName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ConnectorId"
                ],
                "members": {
                    "ConnectorId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYU3LRUCS5NC6UZZXKD3YQM5VRB4ZAZNSDOSXDZDANEVUI4LKJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ5VPHDCDJQEKXPHA6WKICQW3GXI2V44FTWRLSEWHDMPACNNNPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQEA6L6PR7ADXADATJR3NU6B552ZJLYLZNECBEBCOB3G5OLDVL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QL4T3ZRVBEULWLE5TOF5OVB7OGFVTMDUBFVXTA6PZUF3XXNYFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER5CAFNDUVOP5FGWBUL4MAUANSFOQAF6C4YUHST5J37JM2GL7E5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "As2Id",
                    "ProfileType"
                ],
                "members": {
                    "As2Id": {},
                    "ProfileType": {},
                    "CertificateIds": {
                        "shape": "S14"
                    },
                    "Tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYU3LRUCS5NC6UZZXKD3YQM5VRB4ZAZNSDOSXDZDANEVUI4LKJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ5VPHDCDJQEKXPHA6WKICQW3GXI2V44FTWRLSEWHDMPACNNNPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQEA6L6PR7ADXADATJR3NU6B552ZJLYLZNECBEBCOB3G5OLDVL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QL4T3ZRVBEULWLE5TOF5OVB7OGFVTMDUBFVXTA6PZUF3XXNYFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER5CAFNDUVOP5FGWBUL4MAUANSFOQAF6C4YUHST5J37JM2GL7E5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateServer": {
            "input": {
                "type": "structure",
                "members": {
                    "Certificate": {},
                    "Domain": {},
                    "EndpointDetails": {
                        "shape": "S1a"
                    },
                    "EndpointType": {},
                    "HostKey": {
                        "shape": "S1k"
                    },
                    "IdentityProviderDetails": {
                        "shape": "S1l"
                    },
                    "IdentityProviderType": {},
                    "LoggingRole": {},
                    "PostAuthenticationLoginBanner": {},
                    "PreAuthenticationLoginBanner": {},
                    "Protocols": {
                        "shape": "S1r"
                    },
                    "ProtocolDetails": {
                        "shape": "S1t"
                    },
                    "SecurityPolicyName": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "WorkflowDetails": {
                        "shape": "S20"
                    },
                    "StructuredLogDestinations": {
                        "shape": "S1b"
                    },
                    "AgreementProvider": {
                        "shape": "S2k"
                    },
                    "S3StorageOptions": {
                        "shape": "S2n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId"
                ],
                "members": {
                    "ServerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "Role",
                    "ServerId",
                    "UserName"
                ],
                "members": {
                    "HomeDirectory": {},
                    "HomeDirectoryType": {},
                    "HomeDirectoryMappings": {
                        "shape": "S4"
                    },
                    "Policy": {},
                    "PosixProfile": {
                        "shape": "S9"
                    },
                    "Role": {},
                    "ServerId": {},
                    "SshPublicKeyBody": {},
                    "Tags": {
                        "shape": "Sk"
                    },
                    "UserName": {},
                    "EncryptionOptions": {
                        "shape": "S2s"
                    },
                    "WorkflowDetails": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "UserName"
                ],
                "members": {
                    "ServerId": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateWorkflow": {
            "input": {
                "type": "structure",
                "required": [
                    "Steps"
                ],
                "members": {
                    "Description": {},
                    "Steps": {
                        "shape": "S2c"
                    },
                    "OnExceptionSteps": {
                        "shape": "S2c"
                    },
                    "Tags": {
                        "shape": "Sk"
                    },
                    "StructuredLogDestinations": {
                        "shape": "S1b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WorkflowId"
                ],
                "members": {
                    "WorkflowId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "ServerId": {},
                    "ExternalId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "AgreementId",
                    "ServerId"
                ],
                "members": {
                    "AgreementId": {},
                    "ServerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYU3LRUCS5NC6UZZXKD3YQM5VRB4ZAZNSDOSXDZDANEVUI4LKJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ5VPHDCDJQEKXPHA6WKICQW3GXI2V44FTWRLSEWHDMPACNNNPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQEA6L6PR7ADXADATJR3NU6B552ZJLYLZNECBEBCOB3G5OLDVL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QL4T3ZRVBEULWLE5TOF5OVB7OGFVTMDUBFVXTA6PZUF3XXNYFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER5CAFNDUVOP5FGWBUL4MAUANSFOQAF6C4YUHST5J37JM2GL7E5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateId"
                ],
                "members": {
                    "CertificateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYU3LRUCS5NC6UZZXKD3YQM5VRB4ZAZNSDOSXDZDANEVUI4LKJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ5VPHDCDJQEKXPHA6WKICQW3GXI2V44FTWRLSEWHDMPACNNNPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQEA6L6PR7ADXADATJR3NU6B552ZJLYLZNECBEBCOB3G5OLDVL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QL4T3ZRVBEULWLE5TOF5OVB7OGFVTMDUBFVXTA6PZUF3XXNYFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER5CAFNDUVOP5FGWBUL4MAUANSFOQAF6C4YUHST5J37JM2GL7E5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorId"
                ],
                "members": {
                    "ConnectorId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYU3LRUCS5NC6UZZXKD3YQM5VRB4ZAZNSDOSXDZDANEVUI4LKJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ5VPHDCDJQEKXPHA6WKICQW3GXI2V44FTWRLSEWHDMPACNNNPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQEA6L6PR7ADXADATJR3NU6B552ZJLYLZNECBEBCOB3G5OLDVL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QL4T3ZRVBEULWLE5TOF5OVB7OGFVTMDUBFVXTA6PZUF3XXNYFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER5CAFNDUVOP5FGWBUL4MAUANSFOQAF6C4YUHST5J37JM2GL7E5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteHostKey": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "HostKeyId"
                ],
                "members": {
                    "ServerId": {},
                    "HostKeyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYU3LRUCS5NC6UZZXKD3YQM5VRB4ZAZNSDOSXDZDANEVUI4LKJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ5VPHDCDJQEKXPHA6WKICQW3GXI2V44FTWRLSEWHDMPACNNNPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQEA6L6PR7ADXADATJR3NU6B552ZJLYLZNECBEBCOB3G5OLDVL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QL4T3ZRVBEULWLE5TOF5OVB7OGFVTMDUBFVXTA6PZUF3XXNYFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER5CAFNDUVOP5FGWBUL4MAUANSFOQAF6C4YUHST5J37JM2GL7E5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYU3LRUCS5NC6UZZXKD3YQM5VRB4ZAZNSDOSXDZDANEVUI4LKJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ5VPHDCDJQEKXPHA6WKICQW3GXI2V44FTWRLSEWHDMPACNNNPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQEA6L6PR7ADXADATJR3NU6B552ZJLYLZNECBEBCOB3G5OLDVL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QL4T3ZRVBEULWLE5TOF5OVB7OGFVTMDUBFVXTA6PZUF3XXNYFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER5CAFNDUVOP5FGWBUL4MAUANSFOQAF6C4YUHST5J37JM2GL7E5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteServer": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId"
                ],
                "members": {
                    "ServerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSshPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "SshPublicKeyId",
                    "UserName"
                ],
                "members": {
                    "ServerId": {},
                    "SshPublicKeyId": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteUser": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "UserName"
                ],
                "members": {
                    "ServerId": {},
                    "UserName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteWorkflow": {
            "input": {
                "type": "structure",
                "required": [
                    "WorkflowId"
                ],
                "members": {
                    "WorkflowId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAccess": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "ExternalId"
                ],
                "members": {
                    "ServerId": {},
                    "ExternalId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "Access"
                ],
                "members": {
                    "ServerId": {},
                    "Access": {
                        "type": "structure",
                        "members": {
                            "HomeDirectory": {},
                            "HomeDirectoryMappings": {
                                "shape": "S4"
                            },
                            "HomeDirectoryType": {},
                            "Policy": {},
                            "PosixProfile": {
                                "shape": "S9"
                            },
                            "Role": {},
                            "ExternalId": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAgreement": {
            "input": {
                "type": "structure",
                "required": [
                    "AgreementId",
                    "ServerId"
                ],
                "members": {
                    "AgreementId": {},
                    "ServerId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Agreement"
                ],
                "members": {
                    "Agreement": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "AgreementId": {},
                            "Description": {},
                            "Status": {},
                            "ServerId": {},
                            "LocalProfileId": {},
                            "PartnerProfileId": {},
                            "BaseDirectory": {},
                            "AccessRole": {},
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYU3LRUCS5NC6UZZXKD3YQM5VRB4ZAZNSDOSXDZDANEVUI4LKJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ5VPHDCDJQEKXPHA6WKICQW3GXI2V44FTWRLSEWHDMPACNNNPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQEA6L6PR7ADXADATJR3NU6B552ZJLYLZNECBEBCOB3G5OLDVL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QL4T3ZRVBEULWLE5TOF5OVB7OGFVTMDUBFVXTA6PZUF3XXNYFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER5CAFNDUVOP5FGWBUL4MAUANSFOQAF6C4YUHST5J37JM2GL7E5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateId"
                ],
                "members": {
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Certificate"
                ],
                "members": {
                    "Certificate": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "CertificateId": {},
                            "Usage": {},
                            "Status": {},
                            "Certificate": {
                                "shape": "S3o"
                            },
                            "CertificateChain": {
                                "shape": "S3p"
                            },
                            "ActiveDate": {
                                "type": "timestamp"
                            },
                            "InactiveDate": {
                                "type": "timestamp"
                            },
                            "Serial": {},
                            "NotBeforeDate": {
                                "type": "timestamp"
                            },
                            "NotAfterDate": {
                                "type": "timestamp"
                            },
                            "Type": {},
                            "Description": {},
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYU3LRUCS5NC6UZZXKD3YQM5VRB4ZAZNSDOSXDZDANEVUI4LKJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ5VPHDCDJQEKXPHA6WKICQW3GXI2V44FTWRLSEWHDMPACNNNPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQEA6L6PR7ADXADATJR3NU6B552ZJLYLZNECBEBCOB3G5OLDVL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QL4T3ZRVBEULWLE5TOF5OVB7OGFVTMDUBFVXTA6PZUF3XXNYFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER5CAFNDUVOP5FGWBUL4MAUANSFOQAF6C4YUHST5J37JM2GL7E5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeConnector": {
            "input": {
                "type": "structure",
                "required": [
                    "ConnectorId"
                ],
                "members": {
                    "ConnectorId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Connector"
                ],
                "members": {
                    "Connector": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "ConnectorId": {},
                            "Url": {},
                            "As2Config": {
                                "shape": "Ss"
                            },
                            "AccessRole": {},
                            "LoggingRole": {},
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYU3LRUCS5NC6UZZXKD3YQM5VRB4ZAZNSDOSXDZDANEVUI4LKJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ5VPHDCDJQEKXPHA6WKICQW3GXI2V44FTWRLSEWHDMPACNNNPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQEA6L6PR7ADXADATJR3NU6B552ZJLYLZNECBEBCOB3G5OLDVL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QL4T3ZRVBEULWLE5TOF5OVB7OGFVTMDUBFVXTA6PZUF3XXNYFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER5CAFNDUVOP5FGWBUL4MAUANSFOQAF6C4YUHST5J37JM2GL7E5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "ExecutionId",
                    "WorkflowId"
                ],
                "members": {
                    "ExecutionId": {},
                    "WorkflowId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WorkflowId",
                    "Execution"
                ],
                "members": {
                    "WorkflowId": {},
                    "Execution": {
                        "type": "structure",
                        "members": {
                            "ExecutionId": {},
                            "InitialFileLocation": {
                                "shape": "S40"
                            },
                            "ServiceMetadata": {
                                "shape": "S44"
                            },
                            "ExecutionRole": {},
                            "LoggingConfiguration": {
                                "type": "structure",
                                "members": {
                                    "LoggingRole": {},
                                    "LogGroupName": {}
                                }
                            },
                            "PosixProfile": {
                                "shape": "S9"
                            },
                            "Status": {},
                            "Results": {
                                "type": "structure",
                                "members": {
                                    "Steps": {
                                        "shape": "S4b"
                                    },
                                    "OnExceptionSteps": {
                                        "shape": "S4b"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeHostKey": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerId",
                    "HostKeyId"
                ],
                "members": {
                    "ServerId": {},
                    "HostKeyId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HostKey"
                ],
                "members": {
                    "HostKey": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "HostKeyId": {},
                            "HostKeyFingerprint": {},
                            "Description": {},
                            "Type": {},
                            "DateImported": {
                                "type": "timestamp"
                            },
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYU3LRUCS5NC6UZZXKD3YQM5VRB4ZAZNSDOSXDZDANEVUI4LKJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ5VPHDCDJQEKXPHA6WKICQW3GXI2V44FTWRLSEWHDMPACNNNPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQEA6L6PR7ADXADATJR3NU6B552ZJLYLZNECBEBCOB3G5OLDVL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QL4T3ZRVBEULWLE5TOF5OVB7OGFVTMDUBFVXTA6PZUF3XXNYFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER5CAFNDUVOP5FGWBUL4MAUANSFOQAF6C4YUHST5J37JM2GL7E5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Profile"
                ],
                "members": {
                    "Profile": {
                        "type": "structure",
                        "required": [
                            "Arn"
                        ],
                        "members": {
                            "Arn": {},
                            "ProfileId": {},
                            "ProfileType": {},
                            "As2Id": {},
                            "CertificateIds": {
                                "shape": "S14"
                            },
                            "Tags": {
                                "shape": "Sk"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYU3LRUCS5NC6UZZXKD3YQM5VRB4ZAZNSDOSXDZDANEVUI4LKJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BZ5VPHDCDJQEKXPHA6WKICQW3GXI2V44FTWRLSEWHDMPACNNNPRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQEA6L6PR7ADXADATJR3NU6B552ZJLYLZNECBEBCOB3G5OLDVL3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QL4T3ZRVBEULWLE5TOF5OVB7OGFVTMDUBFVXTA6PZUF3XXNYFKMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ER5CAFNDUVOP5FGWBUL4MAUANSFOQAF6C4YUHST5J37JM2GL7E5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKZMFUUUG2L4YZOBYTZF2WNARK4M6H3QT5YH3WWTQETFK3HSGPPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFDTHO5DH3MHHELNHXFXA2RESNMPL65NRWFQB4ULQ7U4I7FLABSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFYTMLZV3YAOKVYPSQICZS4DM6MCFCXGZED5TRCWY4UBXJRB7AFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5COCC4PR4DC3DBDAQJBKVEGMHMFI7XOV7E7XYVAW4SYDCRAFW2ZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YHLFUPLN26ZIJ4JKB2YMTW27BQAASZRLTQDFP5Q4OY2G2GEZFTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFNNTRM52FMAW5RGTCBIKFY4VQNMBH74EV5IG4F7C6BXTWRXGRAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YQQHDT7FB262XFUOIL27TB6TCDXLZHKBXZ5PCW7POIW6Q7C6AEPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHBLLRKC4QN5E5HXLCHG3SOAZACKF6JONPIZTZD64NIELZCM6ILA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGML6QM4J4I5YRHXXI4KGFXGK26P4M4IC7BBI7VUUVLVAZB2YUSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PMKSW6YJLWISOLQ2QCWDTTGST3JEMQAG4DJ3C5AUKB5RKYQ5K2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeSecurityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "SecurityPolicyName"
                ],
                "members": {
                    "SecurityPolicyName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "SecurityPolicy"
                ],
[...]
