{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-09-15",
        "endpointPrefix": "trustedadvisor",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "TrustedAdvisor Public API",
        "serviceId": "trustedadvisor",
        "signatureVersion": "v4",
        "signingName": "trustedadvisor",
        "uid": "trustedadvisor-2022-09-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMLN55ZC4QQ7WEL3QW7LIPAMXP7JOUF7TYDVBTBKJQK6SR3SIXGA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
        ]
    },
    "operations": {
        "CreateEngagement": {
            "http": {
                "requestUri": "/v1/engage/engagements",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "language",
                    "title",
                    "description",
                    "engagementTypeId",
                    "primaryContactEmail"
                ],
                "members": {
                    "language": {},
                    "title": {
                        "shape": "S3"
                    },
                    "description": {
                        "type": "string",
                        "sensitive": true
                    },
                    "engagementTypeId": {},
                    "primaryContactEmail": {
                        "shape": "S6"
                    },
                    "attachmentUploadId": {},
                    "idempotencyToken": {
                        "idempotencyToken": true
                    },
                    "accessLevel": {},
                    "priority": {},
                    "needByDate": {
                        "type": "timestamp"
                    },
                    "customerEscalationEmail": {
                        "shape": "S6"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "engagementId"
                ],
                "members": {
                    "engagementId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "CreateEngagementAttachment": {
            "http": {
                "requestUri": "/v1/engage/attachments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "fileName",
                    "data"
                ],
                "members": {
                    "fileName": {
                        "shape": "Sc"
                    },
                    "data": {
                        "shape": "Sd"
                    },
                    "idempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachmentUploadId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "CreateEngagementCommunication": {
            "http": {
                "requestUri": "/v1/engage/engagements/{engagementId}/communications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "engagementId",
                    "content"
                ],
                "members": {
                    "engagementId": {
                        "location": "uri",
                        "locationName": "engagementId"
                    },
                    "content": {
                        "shape": "Sg"
                    },
                    "attachmentUploadId": {},
                    "idempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "communication"
                ],
                "members": {
                    "communication": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DeleteEcho": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/test/echo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "string": {
                        "location": "querystring",
                        "locationName": "string"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "GetEcho": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/test/echo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "string": {
                        "location": "querystring",
                        "locationName": "string"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "GetEngagement": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/engage/engagements/{engagementId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "engagementId"
                ],
                "members": {
                    "engagementId": {
                        "location": "uri",
                        "locationName": "engagementId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "engagement": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "GetEngagementAttachment": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/engage/engagements/{engagementId}/communications/{communicationId}/attachments/{attachmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "engagementId",
                    "communicationId",
                    "attachmentId"
                ],
                "members": {
                    "engagementId": {
                        "location": "uri",
                        "locationName": "engagementId"
                    },
                    "communicationId": {
                        "location": "uri",
                        "locationName": "communicationId"
                    },
                    "attachmentId": {
                        "location": "uri",
                        "locationName": "attachmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "content",
                    "contentType"
                ],
                "members": {
                    "content": {
                        "shape": "Sd"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    }
                },
                "payload": "content"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "GetEngagementType": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/engage/engagement-types/{engagementTypeId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "engagementTypeId"
                ],
                "members": {
                    "engagementTypeId": {
                        "location": "uri",
                        "locationName": "engagementTypeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "engagementType": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "ListEngagementCommunications": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/engage/engagements/{engagementId}/communications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "engagementId"
                ],
                "members": {
                    "engagementId": {
                        "location": "uri",
                        "locationName": "engagementId"
                    },
                    "paginationToken": {
                        "location": "querystring",
                        "locationName": "paginationToken"
                    },
                    "pageSize": {
                        "location": "querystring",
                        "locationName": "pageSize",
                        "type": "integer"
                    },
                    "sortDirection": {
                        "location": "querystring",
                        "locationName": "sortDirection"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "communications"
                ],
                "members": {
                    "communications": {
                        "type": "list",
                        "member": {
                            "shape": "Si"
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "ListEngagementTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/engage/engagement-types",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "paginationToken": {
                        "location": "querystring",
                        "locationName": "paginationToken"
                    },
                    "pageSize": {
                        "location": "querystring",
                        "locationName": "pageSize",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "total",
                    "engagementTypes"
                ],
                "members": {
                    "total": {
                        "type": "integer"
                    },
                    "engagementTypes": {
                        "shape": "S19"
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "ListEngagements": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/engage/engagements",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "paginationToken": {
                        "location": "querystring",
                        "locationName": "paginationToken"
                    },
                    "pageSize": {
                        "location": "querystring",
                        "locationName": "pageSize",
                        "type": "integer"
                    },
                    "pageStart": {
                        "location": "querystring",
                        "locationName": "pageStart",
                        "type": "integer"
                    },
                    "sortField": {
                        "location": "querystring",
                        "locationName": "sortField"
                    },
                    "sortDirection": {
                        "location": "querystring",
                        "locationName": "sortDirection"
                    },
                    "engagementType": {
                        "location": "querystring",
                        "locationName": "engagementType"
                    },
                    "state": {
                        "location": "querystring",
                        "locationName": "state"
                    },
                    "title": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "x-amzn-engagement-title"
                    },
                    "startDate": {
                        "location": "querystring",
                        "locationName": "startDate",
                        "type": "timestamp"
                    },
                    "endDate": {
                        "location": "querystring",
                        "locationName": "endDate",
                        "type": "timestamp"
                    },
                    "priority": {
                        "location": "querystring",
                        "locationName": "priority"
                    },
                    "minimumNeedByDate": {
                        "location": "querystring",
                        "locationName": "minimumNeedByDate",
                        "type": "timestamp"
                    },
                    "maximumNeedByDate": {
                        "location": "querystring",
                        "locationName": "maximumNeedByDate",
                        "type": "timestamp"
                    },
                    "minimumEffectiveStartDate": {
                        "location": "querystring",
                        "locationName": "minimumEffectiveStartDate",
                        "type": "timestamp"
                    },
                    "maximumEffectiveStartDate": {
                        "location": "querystring",
                        "locationName": "maximumEffectiveStartDate",
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "engagements"
                ],
                "members": {
                    "total": {
                        "type": "integer"
                    },
                    "engagements": {
                        "type": "list",
                        "member": {
                            "shape": "Sy"
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "MaxPayload": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/test/max-payload",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "PatchEcho": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v1/test/echo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "string": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "PostEcho": {
            "http": {
                "requestUri": "/v1/test/echo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "string": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "PostEchoLimited": {
            "http": {
                "requestUri": "/v1/test-limited/echo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "string": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "PutEcho": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/test/echo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "string": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "Throttle": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/test/throttle",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "ThrottleLimited": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/test-limited/throttle",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "Timeout": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/test/timeout",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "UpdateEngagementStatus": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/engage/engagements/{engagementId}/status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "engagementId",
                    "engagementStatus"
                ],
                "members": {
                    "engagementId": {
                        "location": "uri",
                        "locationName": "engagementId"
                    },
                    "engagementStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "engagement": {
                        "shape": "Sy"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "BatchCreateExclusion": {
            "http": {
                "requestUri": "/v1/trecs/exclusions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "batch": {
                        "shape": "S2"
                    }
                },
                "payload": "batch"
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "BatchDeleteExclusion": {
            "http": {
                "requestUri": "/v1/trecs/delete-exclusions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "batch": {
                        "shape": "S2"
                    }
                },
                "payload": "batch"
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "GetRecommendation": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/trecs/recommendation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    },
                    "recommendationArn": {
                        "location": "uri",
                        "locationName": "recommendationArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendation": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXVTLWLD4D7FIGRBVEOE5PK3PHDRRGN5IBWNONRJXAFOIPGJCRA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDV6HFNHOK2PIZBXAYXR7GSKECCDIU7Z3LQ7Y2LL4C3M45VGF5SA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OAD5J4Y665ERU4DCWQRTSAXEVOD4T5O53E6K6R7Q33AICP2MRRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A54HJCASS4N7VNJ3OQR7DTM5SIOH2IK4EMY5AYPUPFGCQ636MRWQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZMILQL4ZDC2QQJM6SXI34UDV5WAS7XS3OQURLCBSG3O3I66D3EA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OUITQ4AGHVB55ZXYLBE4JHM2WXFOCYY25GOWAGDBQGVMVZCGSRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVNXEU3OXYXEUF343TT2MDNMUD36NPYN36D4G766VFGCID43Z3Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KSCXPZ5VS2CJV3XSLL4RMGEGED62VK7JQM47YMJTY5BHG45IZJ6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H55PW6NKUSTXVKY7TX4O4VLUKK2FFPMPARQUWJIL3QINPMGKBZQA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5GITRXPG6HT3UX7PU37TUGIBIBZVHCTLMEI2NAYY2TG45Q5RLGA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "ListAccountsForRecommendation": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/trecs/recommendation/accounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "recommendationId": {
                        "location": "querystring",
                        "locationName": "recommendationId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accounts": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCGA62IM5H7S4SRKXAU6W3HIPV5VX6TIG3JZWICJ7MCS3BSHILRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGK2RMFVESKM67QZ7WIWHEQMMWRTJGXG7BW4RGD56VD2HPENMHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDJ4WVS4GNEY3KQRN34BXOOAMJNBA2JWXZYK6VJN52KWJFUWECA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z24HK5AVC27RUYN77KYOEKFITM45B77Z5W33FIHRXC6D7TJZTUYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M33MSEKAOYRN7JWIWOY7O4QYQZ5XUAUKQ3HZEQCGWBBLFVGJW67A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R45UQ5T4ON56SZCAC3WKL4VLNZYPWR3L6HMYIPHBZGLUH7CPPL7Q/ta_polaris.js",
[...]
