{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-09-21",
        "endpointPrefix": "trustedadvisor",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Trusted Advisor",
        "signatureVersion": "v4",
        "targetPrefix": "AWSTrustedAdvisorService",
        "uid": "trustedadvisor-2015-09-21",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
        ]
    },
    "operations": {
        "CreateExcelReport": {
            "input": {
                "type": "structure",
                "required": [
                    "locale"
                ],
                "members": {
                    "locale": {},
                    "checkIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "reportId"
                ],
                "members": {
                    "reportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DeleteNotificationConfigurationForDelegatedAdmin": {
            "input": {
                "type": "structure",
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "supportLevel",
                    "visibility",
                    "masterAccount",
                    "linkedAccount",
                    "hasMultiAccountAccess",
                    "hasDelegatedAdminPrivileges"
                ],
                "members": {
                    "supportLevel": {},
                    "visibility": {},
                    "masterAccount": {
                        "type": "boolean"
                    },
                    "linkedAccount": {
                        "type": "boolean"
                    },
                    "hasMultiAccountAccess": {
                        "type": "boolean"
                    },
                    "hasDelegatedAdminPrivileges": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeAccountAccess": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountAccess"
                ],
                "members": {
                    "accountAccess": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeCheckItems": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId",
                    "count"
                ],
                "members": {
                    "checkId": {},
                    "sort": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldId",
                                "direction"
                            ],
                            "members": {
                                "fieldId": {},
                                "direction": {}
                            }
                        }
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldId",
                                "value"
                            ],
                            "members": {
                                "fieldId": {},
                                "value": {}
                            }
                        }
                    },
                    "count": {
                        "type": "integer"
                    },
                    "start": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checkItems",
                    "totalCount"
                ],
                "members": {
                    "checkItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "properties": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "tags": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "checkItemId": {},
                                "hidden": {
                                    "type": "boolean"
                                },
                                "excluded": {
                                    "type": "boolean"
                                },
                                "region": {},
                                "status": {}
                            }
                        }
                    },
                    "totalCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeCheckRefreshStatuses": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "statuses"
                ],
                "members": {
                    "statuses": {
                        "type": "list",
                        "member": {
                            "shape": "S1c"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeCheckResult": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {},
                    "language": {},
                    "dateTime": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "checkId",
                            "timestamp",
                            "status",
                            "resourcesSummary",
                            "categorySpecificSummary",
                            "flaggedResources"
                        ],
                        "members": {
                            "checkId": {},
                            "timestamp": {},
                            "status": {},
                            "resourcesSummary": {
                                "shape": "S1j"
                            },
                            "categorySpecificSummary": {
                                "shape": "S1m"
                            },
                            "flaggedResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "status",
                                        "region",
                                        "resourceId",
                                        "metadata"
                                    ],
                                    "members": {
                                        "status": {},
                                        "region": {},
                                        "resourceId": {},
                                        "isSuppressed": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeCheckStatusHistoryChanges": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds",
                    "startDateTime",
                    "endDateTime"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S3"
                    },
                    "startDateTime": {},
                    "endDateTime": {},
                    "includeAllHistoryStatus": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "historyChanges"
                ],
                "members": {
                    "historyChanges": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "statusTransitions"
                            ],
                            "members": {
                                "checkId": {},
                                "statusTransitions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "status",
                                            "refreshDateTime"
                                        ],
                                        "members": {
                                            "status": {},
                                            "previousStatus": {},
                                            "refreshDateTime": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeCheckSummaries": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S3"
                    },
                    "dateTime": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "summaries"
                ],
                "members": {
                    "summaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "timestamp",
                                "status",
                                "resourcesSummary",
                                "categorySpecificSummary"
                            ],
                            "members": {
                                "checkId": {},
                                "timestamp": {},
                                "status": {},
                                "errorCode": {},
                                "hasFlaggedResources": {
                                    "type": "boolean"
                                },
                                "resourcesSummary": {
                                    "shape": "S1j"
                                },
                                "categorySpecificSummary": {
                                    "shape": "S1m"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeChecks": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checks"
                ],
                "members": {
                    "checks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "description",
                                "category",
                                "metadata"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {},
                                "hasHideableItems": {
                                    "type": "boolean"
                                },
                                "category": {},
                                "metadata": {
                                    "type": "list",
                                    "member": {}
                                },
                                "checkMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "type": {},
                                        "unrefreshable": {
                                            "type": "boolean"
                                        },
                                        "unavailable": {
                                            "type": "boolean"
                                        },
                                        "isCxCheck": {
                                            "type": "boolean"
                                        },
                                        "customSummary": {},
                                        "summaryActionLink": {},
                                        "customFilters": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "name": {},
                                                    "action": {},
                                                    "value": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "fieldId": {},
                                                                "value": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "columns": {
                                            "shape": "S2p"
                                        },
                                        "summaryColumns": {
                                            "shape": "S2p"
                                        },
                                        "source": {},
                                        "sourceReference": {},
                                        "headerMapped": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "properties": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "fieldId",
                                            "dataType"
                                        ],
                                        "members": {
                                            "fieldId": {},
                                            "dataType": {},
                                            "enumValues": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                },
                                "visibility": {
                                    "type": "list",
                                    "member": {}
                                },
                                "summary": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeCompleteSummaryCounts": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "response": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeNotificationConfigurations": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "trustedAdvisorPriority": {
                        "shape": "S37"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeNotificationPreferences": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "language": {},
                    "contacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "type": {},
                                "address": {},
                                "active": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeOrganization": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "organizationId",
                    "masterAccount",
                    "enhancedFeaturesEnabled",
                    "taIntegrationEnabled",
                    "slrPresent"
                ],
                "members": {
                    "organizationId": {},
                    "masterAccount": {
                        "type": "boolean"
                    },
                    "enhancedFeaturesEnabled": {
                        "type": "boolean"
                    },
                    "taIntegrationEnabled": {
                        "type": "boolean"
                    },
                    "slrPresent": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeOrganizationAccounts": {
            "input": {
                "type": "structure",
                "members": {
                    "paginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountTuples",
                    "paginationToken"
                ],
                "members": {
                    "accountTuples": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "accountName": {}
                            }
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeReportPreferenceDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "preferenceName"
                ],
                "members": {
                    "preferenceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "preference"
                ],
                "members": {
                    "preference": {
                        "shape": "S46"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeReportPreferences": {
            "output": {
                "type": "structure",
                "required": [
                    "preferences"
                ],
                "members": {
                    "preferences": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeReports": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "reportId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "reports": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "presignedUrl": {},
                                "reportMetadata": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeRisk": {
            "input": {
                "type": "structure",
                "members": {
                    "riskId": {
                        "shape": "S4r"
                    },
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "risk": {
                        "shape": "S4t"
                    },
                    "classification": {
                        "type": "structure",
                        "members": {
                            "riskId": {},
                            "riskType": {},
                            "itemImpacted": {},
                            "impact": {},
                            "priority": {},
                            "probabilityOfOccurrence": {},
                            "occurrenceFrequency": {},
                            "severity": {
                                "type": "integer"
                            },
                            "monetaryImpactLoss": {},
                            "createdDate": {
                                "type": "timestamp"
                            },
                            "createdBy": {},
                            "modifiedDate": {
                                "type": "timestamp"
                            },
                            "modifiedBy": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeRiskResources": {
            "input": {
                "type": "structure",
                "members": {
                    "riskId": {
                        "shape": "S4r"
                    },
                    "paginationToken": {},
                    "pageSize": {
                        "type": "integer"
                    },
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "risk": {
                        "shape": "S4t"
                    },
                    "resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceId": {},
                                "checkId": {},
                                "riskId": {},
                                "accountId": {},
                                "resourceArn": {},
                                "jsonPropertiesString": {},
                                "priority": {},
                                "modifiedOn": {
                                    "type": "timestamp"
                                },
                                "createdDate": {
                                    "type": "timestamp"
                                },
                                "createdBy": {},
                                "modifiedDate": {
                                    "type": "timestamp"
                                },
                                "modifiedBy": {},
                                "status": {},
                                "region": {}
                            }
                        }
                    },
                    "resourceColumns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "customSort": {
                                    "shape": "S2r"
                                },
                                "datatype": {},
                                "displayName": {},
                                "field": {},
                                "sortable": {
                                    "type": "boolean"
                                },
                                "width": {}
                            }
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeRisks": {
            "input": {
                "type": "structure",
                "members": {
                    "paginationToken": {},
                    "pageSize": {
                        "type": "integer"
                    },
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "risks": {
                        "type": "list",
                        "member": {
                            "shape": "S4t"
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T53ICEGKZYS5QREN5CSVZMOAI2QIEFOIDEYHK5NKCQ23T64WPQEQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KET3CFCDL4KNXG5LXV5V3SAZEUUYHPHYMPDLUZKCT7QIBY4P6LZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7X43N74PU7R3SUMVJL5BFHG2JSGF7LHH2MI54PVTANCINWDEHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXZ2N32TTNBHD7Y4MZSRYFKIH2X2NSE3ZFKEIJEWN4KPM3FRJE4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVV2B6SFOULPEOV4ALC6T7LRYACOYWFFG7B7QGBBLIXP63DSHM5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGON4GBOQHZZBDGWCAXOQRQMR5IHVIGITOZ4TV5X3WPN4O3JKYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZC6FRGV7RLW6J3HWHPG227EUWHAJ3MAF2DS3AU4EYAMFATDBKPPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PFEKMYT3WNECHJKA5AZJHHKNOQSMCYLAFNFRHJVKFYAP4OXX2H5Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QCH3TQZNTPGDHZJ7FHPKH5EGJ6EGP3YRJVRAKPBGJCLPJZT6F4KQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAXAPKDGAFDQ4XHZTX4BIKTQBJR6YF7ZPHBEBGTJOKPJGLWWVY6Q/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJZY75SFL5LRL5CF3RTPINMYOCJ5MY3E3IEXYKACDDSSVI2TJLCQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGTHLQ5Q6EOUTO4EZOANAZ7IR5X4NQG6QPHU2MDD5PH6TLUXS6NQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7WDNDEKI4XU5ZZD7K4RM67MD6LG44QPWI5726MQLR3EK6JLCL4A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.js"
            ]
        },
        "DescribeServiceMetadata": {
            "output": {
                "type": "structure",
                "required": [
                    "supportedRegions",
                    "supportedCheckStatuses",
                    "supportedCategories"
                ],
                "members": {
                    "supportedRegions": {
                        "type": "list",
                        "member": {}
                    },
                    "supportedCheckStatuses": {
                        "type": "list",
                        "member": {}
                    },
                    "supportedCategories": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWVMELVLZPUO3HOGDRRXKCUVJD6WJLQVRC56H73JVED3CDPRKLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PC35UMFNZ7L34V745AUQFB6T4UBGHAWNYZXEZXHDVRXB4LBXDNLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OZBB6RKPPFFOK4K4AMILWRYT67KFWXWEAKBFB6WVS6AVQFOOG7LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YJYU6U7Q4GVUHRW5VTV2ASQ3QEIYSX3AJNW5AAHIOWWZLJAINSOA/ta_polaris.js",
[...]
