{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-09-21",
        "endpointPrefix": "trustedadvisor",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Trusted Advisor",
        "signatureVersion": "v4",
        "targetPrefix": "AWSTrustedAdvisorService",
        "uid": "trustedadvisor-2015-09-21",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
        ]
    },
    "operations": {
        "CreateExcelReport": {
            "input": {
                "type": "structure",
                "required": [
                    "locale"
                ],
                "members": {
                    "locale": {},
                    "checkIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "reportId"
                ],
                "members": {
                    "reportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DeleteNotificationConfigurationForDelegatedAdmin": {
            "input": {
                "type": "structure",
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "supportLevel",
                    "visibility",
                    "masterAccount",
                    "linkedAccount",
                    "hasMultiAccountAccess",
                    "hasDelegatedAdminPrivileges"
                ],
                "members": {
                    "supportLevel": {},
                    "visibility": {},
                    "masterAccount": {
                        "type": "boolean"
                    },
                    "linkedAccount": {
                        "type": "boolean"
                    },
                    "hasMultiAccountAccess": {
                        "type": "boolean"
                    },
                    "hasDelegatedAdminPrivileges": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeAccountAccess": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountAccess"
                ],
                "members": {
                    "accountAccess": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeCheckItems": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId",
                    "count"
                ],
                "members": {
                    "checkId": {},
                    "sort": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldId",
                                "direction"
                            ],
                            "members": {
                                "fieldId": {},
                                "direction": {}
                            }
                        }
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldId",
                                "value"
                            ],
                            "members": {
                                "fieldId": {},
                                "value": {}
                            }
                        }
                    },
                    "count": {
                        "type": "integer"
                    },
                    "start": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checkItems",
                    "totalCount"
                ],
                "members": {
                    "checkItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "properties": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "tags": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "checkItemId": {},
                                "hidden": {
                                    "type": "boolean"
                                },
                                "excluded": {
                                    "type": "boolean"
                                },
                                "region": {},
                                "status": {}
                            }
                        }
                    },
                    "totalCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeCheckRefreshStatuses": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "statuses"
                ],
                "members": {
                    "statuses": {
                        "type": "list",
                        "member": {
                            "shape": "S1c"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeCheckResult": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {},
                    "language": {},
                    "dateTime": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "checkId",
                            "timestamp",
                            "status",
                            "resourcesSummary",
                            "categorySpecificSummary",
                            "flaggedResources"
                        ],
                        "members": {
                            "checkId": {},
                            "timestamp": {},
                            "status": {},
                            "resourcesSummary": {
                                "shape": "S1j"
                            },
                            "categorySpecificSummary": {
                                "shape": "S1m"
                            },
                            "flaggedResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "status",
                                        "region",
                                        "resourceId",
                                        "metadata"
                                    ],
                                    "members": {
                                        "status": {},
                                        "region": {},
                                        "resourceId": {},
                                        "isSuppressed": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeCheckStatusHistoryChanges": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds",
                    "startDateTime",
                    "endDateTime"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S3"
                    },
                    "startDateTime": {},
                    "endDateTime": {},
                    "includeAllHistoryStatus": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "historyChanges"
                ],
                "members": {
                    "historyChanges": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "statusTransitions"
                            ],
                            "members": {
                                "checkId": {},
                                "statusTransitions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "status",
                                            "refreshDateTime"
                                        ],
                                        "members": {
                                            "status": {},
                                            "previousStatus": {},
                                            "refreshDateTime": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeCheckSummaries": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S3"
                    },
                    "dateTime": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "summaries"
                ],
                "members": {
                    "summaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "timestamp",
                                "status",
                                "resourcesSummary",
                                "categorySpecificSummary"
                            ],
                            "members": {
                                "checkId": {},
                                "timestamp": {},
                                "status": {},
                                "errorCode": {},
                                "hasFlaggedResources": {
                                    "type": "boolean"
                                },
                                "resourcesSummary": {
                                    "shape": "S1j"
                                },
                                "categorySpecificSummary": {
                                    "shape": "S1m"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeChecks": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checks"
                ],
                "members": {
                    "checks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "description",
                                "category",
                                "metadata"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {},
                                "hasHideableItems": {
                                    "type": "boolean"
                                },
                                "category": {},
                                "metadata": {
                                    "type": "list",
                                    "member": {}
                                },
                                "checkMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "type": {},
                                        "unrefreshable": {
                                            "type": "boolean"
                                        },
                                        "unavailable": {
                                            "type": "boolean"
                                        },
                                        "isCxCheck": {
                                            "type": "boolean"
                                        },
                                        "customSummary": {},
                                        "summaryActionLink": {},
                                        "customFilters": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "name": {},
                                                    "action": {},
                                                    "value": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "fieldId": {},
                                                                "value": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "columns": {
                                            "shape": "S2p"
                                        },
                                        "summaryColumns": {
                                            "shape": "S2p"
                                        },
                                        "source": {},
                                        "sourceReference": {},
                                        "headerMapped": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "properties": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "fieldId",
                                            "dataType"
                                        ],
                                        "members": {
                                            "fieldId": {},
                                            "dataType": {},
                                            "enumValues": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                },
                                "visibility": {
                                    "type": "list",
                                    "member": {}
                                },
                                "summary": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeCompleteSummaryCounts": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "response": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeNotificationConfigurations": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "trustedAdvisorPriority": {
                        "shape": "S37"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeNotificationPreferences": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "language": {},
                    "contacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "type": {},
                                "address": {},
                                "active": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeOrganization": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "organizationId",
                    "masterAccount",
                    "enhancedFeaturesEnabled",
                    "taIntegrationEnabled",
                    "slrPresent"
                ],
                "members": {
                    "organizationId": {},
                    "masterAccount": {
                        "type": "boolean"
                    },
                    "enhancedFeaturesEnabled": {
                        "type": "boolean"
                    },
                    "taIntegrationEnabled": {
                        "type": "boolean"
                    },
                    "slrPresent": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeOrganizationAccounts": {
            "input": {
                "type": "structure",
                "members": {
                    "paginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountTuples",
                    "paginationToken"
                ],
                "members": {
                    "accountTuples": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "accountName": {}
                            }
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeReportPreferenceDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "preferenceName"
                ],
                "members": {
                    "preferenceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "preference"
                ],
                "members": {
                    "preference": {
                        "shape": "S46"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeReportPreferences": {
            "output": {
                "type": "structure",
                "required": [
                    "preferences"
                ],
                "members": {
                    "preferences": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeReports": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "reports": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "presignedUrl": {},
                                "reportMetadata": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeRisk": {
            "input": {
                "type": "structure",
                "members": {
                    "riskId": {
                        "shape": "S4r"
                    },
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "risk": {
                        "shape": "S4t"
                    },
                    "classification": {
                        "type": "structure",
                        "members": {
                            "riskId": {},
                            "riskType": {},
                            "itemImpacted": {},
                            "impact": {},
                            "priority": {},
                            "probabilityOfOccurrence": {},
                            "occurrenceFrequency": {},
                            "severity": {
                                "type": "integer"
                            },
                            "monetaryImpactLoss": {},
                            "createdDate": {
                                "type": "timestamp"
                            },
                            "createdBy": {},
                            "modifiedDate": {
                                "type": "timestamp"
                            },
                            "modifiedBy": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeRiskResources": {
            "input": {
                "type": "structure",
                "members": {
                    "riskId": {
                        "shape": "S4r"
                    },
                    "paginationToken": {},
                    "pageSize": {
                        "type": "integer"
                    },
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "risk": {
                        "shape": "S4t"
                    },
                    "resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceId": {},
                                "checkId": {},
                                "riskId": {},
                                "accountId": {},
                                "resourceArn": {},
                                "jsonPropertiesString": {},
                                "priority": {},
                                "modifiedOn": {
                                    "type": "timestamp"
                                },
                                "createdDate": {
                                    "type": "timestamp"
                                },
                                "createdBy": {},
                                "modifiedDate": {
                                    "type": "timestamp"
                                },
                                "modifiedBy": {},
                                "status": {},
                                "region": {}
                            }
                        }
                    },
                    "resourceColumns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "customSort": {
                                    "shape": "S2r"
                                },
                                "datatype": {},
                                "displayName": {},
                                "field": {},
                                "sortable": {
                                    "type": "boolean"
                                },
                                "width": {}
                            }
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeRisks": {
            "input": {
                "type": "structure",
                "members": {
                    "paginationToken": {},
                    "pageSize": {
                        "type": "integer"
                    },
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "risks": {
                        "type": "list",
                        "member": {
                            "shape": "S4t"
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWYOZIRMMFV4CR4SQPAGXFIZMTJSYOWSRVIXUOIIQADQFSIG423A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2T4QXJGBGEQ63S5J7XZZS7PJU7PTBRW6MQGJJK65H7GZECPF26BQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXMHSZCVVXYKVPUH3UJUW55KZ2XXMXIJ6CXTWB7LPDNECVYQ5EHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZHUN6BNSOUS5CHKQ4FTP77EJ4TJXH54PVOFSY7FX46JIIQ45SNLA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZT5BABFEAIGXYIHFM7T5223GT6LZSC332G2OY3FKNP6FYP4TUEZA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRHYC2LSNE3HH3ZJ5FVDPKXV4NWKBAKTFFNT3VTJI3BEIUPXSRPQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAWODSFIZTZUC63FQ2YU7PBCQFWCVIYUU6Z6ETXXT7ESWNK4PTIA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DLY4HT4BBSFGUVMMRU54ZE4KPIQPQZMO7U6MKEJT43OCXDZHZNYQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L6CDMMGENYC2LALHRILXBLRLLHACB6QL2HOTC6N6JKVJ2HSWWGQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQSYW7FPNKM7VDVTH2TE4WJVFCZQ5QH3X3DWB3ZSNDFVC46PJUAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWLU6GHA4746AWDMDX7KQAWK7E66IULGKVIW6YHGTXM2XOPH2N6A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BWCDJSZS2KWOCL6QFM6AL6ISFGGZOTYTXHR7PIXVI32PE2GCM2A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4VYPPHUONNBF6Q4JYISPSSNNIJUYERTF3Z46OLG4FZBW5ZYOPFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/54J4O62LNFSXRBADDDKKQE6ZJM2FHLA4AE4WFFJU363GG3KIJKGA/ta_polaris.js"
            ]
        },
        "DescribeServiceMetadata": {
            "output": {
                "type": "structure",
                "required": [
                    "supportedRegions",
                    "supportedCheckStatuses",
                    "supportedCategories"
                ],
                "members": {
                    "supportedRegions": {
                        "type": "list",
                        "member": {}
                    },
                    "supportedCheckStatuses": {
                        "type": "list",
                        "member": {}
                    },
                    "supportedCategories": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHEODRVI43FUIHIQUMNPBEWVHEGSZW6DZN2CJ7XJWLLTHTJEAR7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5S557KJ3OY3MJL4KHHD5HMERBZQOTFHQD2N3LCTL2G36HQT4JHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KLIPMP2NPEDP4DVK2QCBWNVHZA3J2BGLVPUBVQH4FBDETRBKNA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5V6A3ZBAT6R63HDPPAQWMSIA5MVEDVJ5LSIQ4PQXKEJSZVUHNUQ/analyticsInit.js",
[...]
