{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-09-21",
        "endpointPrefix": "trustedadvisor",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Trusted Advisor",
        "signatureVersion": "v4",
        "targetPrefix": "AWSTrustedAdvisorService",
        "uid": "trustedadvisor-2015-09-21",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
        ]
    },
    "operations": {
        "CreateExcelReport": {
            "input": {
                "type": "structure",
                "required": [
                    "locale"
                ],
                "members": {
                    "locale": {},
                    "checkIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "reportId"
                ],
                "members": {
                    "reportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DeleteNotificationConfigurationForDelegatedAdmin": {
            "input": {
                "type": "structure",
                "members": {
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "supportLevel",
                    "visibility",
                    "masterAccount",
                    "linkedAccount",
                    "hasMultiAccountAccess",
                    "hasDelegatedAdminPrivileges"
                ],
                "members": {
                    "supportLevel": {},
                    "visibility": {},
                    "masterAccount": {
                        "type": "boolean"
                    },
                    "linkedAccount": {
                        "type": "boolean"
                    },
                    "hasMultiAccountAccess": {
                        "type": "boolean"
                    },
                    "hasDelegatedAdminPrivileges": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeAccountAccess": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountAccess"
                ],
                "members": {
                    "accountAccess": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeCheckItems": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId",
                    "count"
                ],
                "members": {
                    "checkId": {},
                    "sort": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldId",
                                "direction"
                            ],
                            "members": {
                                "fieldId": {},
                                "direction": {}
                            }
                        }
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldId",
                                "value"
                            ],
                            "members": {
                                "fieldId": {},
                                "value": {}
                            }
                        }
                    },
                    "count": {
                        "type": "integer"
                    },
                    "start": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checkItems",
                    "totalCount"
                ],
                "members": {
                    "checkItems": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "properties": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "tags": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "checkItemId": {},
                                "hidden": {
                                    "type": "boolean"
                                },
                                "excluded": {
                                    "type": "boolean"
                                },
                                "region": {},
                                "status": {}
                            }
                        }
                    },
                    "totalCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeCheckRefreshStatuses": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "statuses"
                ],
                "members": {
                    "statuses": {
                        "type": "list",
                        "member": {
                            "shape": "S1c"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeCheckResult": {
            "input": {
                "type": "structure",
                "required": [
                    "checkId"
                ],
                "members": {
                    "checkId": {},
                    "language": {},
                    "dateTime": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "result": {
                        "type": "structure",
                        "required": [
                            "checkId",
                            "timestamp",
                            "status",
                            "resourcesSummary",
                            "categorySpecificSummary",
                            "flaggedResources"
                        ],
                        "members": {
                            "checkId": {},
                            "timestamp": {},
                            "status": {},
                            "resourcesSummary": {
                                "shape": "S1j"
                            },
                            "categorySpecificSummary": {
                                "shape": "S1m"
                            },
                            "flaggedResources": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "status",
                                        "region",
                                        "resourceId",
                                        "metadata"
                                    ],
                                    "members": {
                                        "status": {},
                                        "region": {},
                                        "resourceId": {},
                                        "isSuppressed": {
                                            "type": "boolean"
                                        },
                                        "metadata": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeCheckStatusHistoryChanges": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds",
                    "startDateTime",
                    "endDateTime"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S3"
                    },
                    "startDateTime": {},
                    "endDateTime": {},
                    "includeAllHistoryStatus": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "historyChanges"
                ],
                "members": {
                    "historyChanges": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "statusTransitions"
                            ],
                            "members": {
                                "checkId": {},
                                "statusTransitions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "status",
                                            "refreshDateTime"
                                        ],
                                        "members": {
                                            "status": {},
                                            "previousStatus": {},
                                            "refreshDateTime": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeCheckSummaries": {
            "input": {
                "type": "structure",
                "required": [
                    "checkIds"
                ],
                "members": {
                    "checkIds": {
                        "shape": "S3"
                    },
                    "dateTime": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "summaries"
                ],
                "members": {
                    "summaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "checkId",
                                "timestamp",
                                "status",
                                "resourcesSummary",
                                "categorySpecificSummary"
                            ],
                            "members": {
                                "checkId": {},
                                "timestamp": {},
                                "status": {},
                                "errorCode": {},
                                "hasFlaggedResources": {
                                    "type": "boolean"
                                },
                                "resourcesSummary": {
                                    "shape": "S1j"
                                },
                                "categorySpecificSummary": {
                                    "shape": "S1m"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeChecks": {
            "input": {
                "type": "structure",
                "required": [
                    "language"
                ],
                "members": {
                    "language": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "checks"
                ],
                "members": {
                    "checks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name",
                                "description",
                                "category",
                                "metadata"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "description": {},
                                "hasHideableItems": {
                                    "type": "boolean"
                                },
                                "category": {},
                                "metadata": {
                                    "type": "list",
                                    "member": {}
                                },
                                "checkMetadata": {
                                    "type": "structure",
                                    "members": {
                                        "type": {},
                                        "unrefreshable": {
                                            "type": "boolean"
                                        },
                                        "unavailable": {
                                            "type": "boolean"
                                        },
                                        "isCxCheck": {
                                            "type": "boolean"
                                        },
                                        "customSummary": {},
                                        "summaryActionLink": {},
                                        "customFilters": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "name": {},
                                                    "action": {},
                                                    "value": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "members": {
                                                                "fieldId": {},
                                                                "value": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "columns": {
                                            "shape": "S2p"
                                        },
                                        "summaryColumns": {
                                            "shape": "S2p"
                                        },
                                        "source": {},
                                        "sourceReference": {},
                                        "headerMapped": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "properties": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "fieldId",
                                            "dataType"
                                        ],
                                        "members": {
                                            "fieldId": {},
                                            "dataType": {},
                                            "enumValues": {
                                                "type": "list",
                                                "member": {}
                                            }
                                        }
                                    }
                                },
                                "visibility": {
                                    "type": "list",
                                    "member": {}
                                },
                                "summary": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeCompleteSummaryCounts": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "response": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "map",
                            "key": {},
                            "value": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeNotificationConfigurations": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "trustedAdvisorPriority": {
                        "shape": "S37"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeNotificationPreferences": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "language": {},
                    "contacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "id": {},
                                "type": {},
                                "address": {},
                                "active": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeOrganization": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "organizationId",
                    "masterAccount",
                    "enhancedFeaturesEnabled",
                    "taIntegrationEnabled",
                    "slrPresent"
                ],
                "members": {
                    "organizationId": {},
                    "masterAccount": {
                        "type": "boolean"
                    },
                    "enhancedFeaturesEnabled": {
                        "type": "boolean"
                    },
                    "taIntegrationEnabled": {
                        "type": "boolean"
                    },
                    "slrPresent": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeOrganizationAccounts": {
            "input": {
                "type": "structure",
                "members": {
                    "paginationToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountTuples",
                    "paginationToken"
                ],
                "members": {
                    "accountTuples": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "accountName": {}
                            }
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeReportPreferenceDetails": {
            "input": {
                "type": "structure",
                "required": [
                    "preferenceName"
                ],
                "members": {
                    "preferenceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "preference"
                ],
                "members": {
                    "preference": {
                        "shape": "S46"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeReportPreferences": {
            "output": {
                "type": "structure",
                "required": [
                    "preferences"
                ],
                "members": {
                    "preferences": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeReports": {
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "reports": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "presignedUrl": {},
                                "reportMetadata": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeRisk": {
            "input": {
                "type": "structure",
                "members": {
                    "riskId": {
                        "shape": "S4r"
                    },
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "risk": {
                        "shape": "S4t"
                    },
                    "classification": {
                        "type": "structure",
                        "members": {
                            "riskId": {},
                            "riskType": {},
                            "itemImpacted": {},
                            "impact": {},
                            "priority": {},
                            "probabilityOfOccurrence": {},
                            "occurrenceFrequency": {},
                            "severity": {
                                "type": "integer"
                            },
                            "monetaryImpactLoss": {},
                            "createdDate": {
                                "type": "timestamp"
                            },
                            "createdBy": {},
                            "modifiedDate": {
                                "type": "timestamp"
                            },
                            "modifiedBy": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeRiskResources": {
            "input": {
                "type": "structure",
                "members": {
                    "riskId": {
                        "shape": "S4r"
                    },
                    "paginationToken": {},
                    "pageSize": {
                        "type": "integer"
                    },
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "risk": {
                        "shape": "S4t"
                    },
                    "resources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "resourceId": {},
                                "checkId": {},
                                "riskId": {},
                                "accountId": {},
                                "resourceArn": {},
                                "jsonPropertiesString": {},
                                "priority": {},
                                "modifiedOn": {
                                    "type": "timestamp"
                                },
                                "createdDate": {
                                    "type": "timestamp"
                                },
                                "createdBy": {},
                                "modifiedDate": {
                                    "type": "timestamp"
                                },
                                "modifiedBy": {},
                                "status": {},
                                "region": {}
                            }
                        }
                    },
                    "resourceColumns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "customSort": {
                                    "shape": "S2r"
                                },
                                "datatype": {},
                                "displayName": {},
                                "field": {},
                                "sortable": {
                                    "type": "boolean"
                                },
                                "width": {}
                            }
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeRisks": {
            "input": {
                "type": "structure",
                "members": {
                    "paginationToken": {},
                    "pageSize": {
                        "type": "integer"
                    },
                    "accountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "risks": {
                        "type": "list",
                        "member": {
                            "shape": "S4t"
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HFK5OGOLFKEVD7KUT6BTY2SPFIDMMIB4Y2UL3VV3MDWQJTJ5QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HL3SIPWKFIXDKXDXOA5R4NGOOVIPVZJNHTDBH7ONTVQF42EE4J4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2WIVZHRGMY7IVOVKB4NLZWWGC3HCGEDQJBBQ3N47HEQU4DKWMVEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RA4VF7E4RKPRLZPEBGWGUKN2JDM57WIJIVPUZOVAD4B4KMZQZ6OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJUJX5UDHGQ66XXO3J2EIODS536GM6MUHFYSNP5IPEMPIR4K5RKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IINV6HOBUK3QS4IDCDYQADV5SLYXTPDTMNUKA3SIYYNK4IJBEGUA/main.js"
            ]
        },
        "DescribeServiceMetadata": {
            "output": {
                "type": "structure",
                "required": [
                    "supportedRegions",
                    "supportedCheckStatuses",
                    "supportedCategories"
                ],
                "members": {
                    "supportedRegions": {
                        "type": "list",
                        "member": {}
                    },
                    "supportedCheckStatuses": {
                        "type": "list",
                        "member": {}
                    },
                    "supportedCategories": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AU4LWAYMUM4HTXV2JG3WPP4FH4LZFR5GUVP7UTJWTAOMMB566ZCA/main.js",
[...]
