{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-09-15",
        "endpointPrefix": "trustedadvisor",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "TrustedAdvisor Public API",
        "serviceId": "trustedadvisor",
        "signatureVersion": "v4",
        "signingName": "trustedadvisor",
        "uid": "trustedadvisor-2022-09-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateEngagement": {
            "http": {
                "requestUri": "/v1/engage/engagements",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "language",
                    "title",
                    "description",
                    "engagementTypeId",
                    "primaryContactEmail"
                ],
                "members": {
                    "language": {},
                    "title": {
                        "shape": "S3"
                    },
                    "description": {
                        "type": "string",
                        "sensitive": true
                    },
                    "engagementTypeId": {},
                    "primaryContactEmail": {
                        "shape": "S6"
                    },
                    "attachmentUploadId": {},
                    "idempotencyToken": {
                        "idempotencyToken": true
                    },
                    "accessLevel": {},
                    "priority": {},
                    "needByDate": {
                        "type": "timestamp"
                    },
                    "customerEscalationEmail": {
                        "shape": "S6"
                    },
                    "enableExternalEmails": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "engagementId"
                ],
                "members": {
                    "engagementId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "CreateEngagementAttachment": {
            "http": {
                "requestUri": "/v1/engage/attachments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "fileName",
                    "data"
                ],
                "members": {
                    "fileName": {
                        "shape": "Sc"
                    },
                    "data": {
                        "shape": "Sd"
                    },
                    "idempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "attachmentUploadId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "CreateEngagementCommunication": {
            "http": {
                "requestUri": "/v1/engage/engagements/{engagementId}/communications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "engagementId",
                    "content"
                ],
                "members": {
                    "engagementId": {
                        "location": "uri",
                        "locationName": "engagementId"
                    },
                    "content": {
                        "shape": "Sg"
                    },
                    "attachmentUploadId": {},
                    "idempotencyToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "communication"
                ],
                "members": {
                    "communication": {
                        "shape": "Si"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "DeleteEcho": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/test/echo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "string": {
                        "location": "querystring",
                        "locationName": "string"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "GetEcho": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/test/echo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "string": {
                        "location": "querystring",
                        "locationName": "string"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "GetEngagement": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/engage/engagements/{engagementId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "engagementId"
                ],
                "members": {
                    "engagementId": {
                        "location": "uri",
                        "locationName": "engagementId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "engagement": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "GetEngagementAttachment": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/engage/engagements/{engagementId}/communications/{communicationId}/attachments/{attachmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "engagementId",
                    "communicationId",
                    "attachmentId"
                ],
                "members": {
                    "engagementId": {
                        "location": "uri",
                        "locationName": "engagementId"
                    },
                    "communicationId": {
                        "location": "uri",
                        "locationName": "communicationId"
                    },
                    "attachmentId": {
                        "location": "uri",
                        "locationName": "attachmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "content",
                    "contentType"
                ],
                "members": {
                    "content": {
                        "shape": "Sd"
                    },
                    "contentType": {
                        "location": "header",
                        "locationName": "Content-Type"
                    }
                },
                "payload": "content"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "GetEngagementType": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/engage/engagement-types/{engagementTypeId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "engagementTypeId"
                ],
                "members": {
                    "engagementTypeId": {
                        "location": "uri",
                        "locationName": "engagementTypeId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "engagementType": {
                        "shape": "S16"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "ListEngagementCommunications": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/engage/engagements/{engagementId}/communications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "engagementId"
                ],
                "members": {
                    "engagementId": {
                        "location": "uri",
                        "locationName": "engagementId"
                    },
                    "paginationToken": {
                        "location": "querystring",
                        "locationName": "paginationToken"
                    },
                    "pageSize": {
                        "location": "querystring",
                        "locationName": "pageSize",
                        "type": "integer"
                    },
                    "sortDirection": {
                        "location": "querystring",
                        "locationName": "sortDirection"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "communications"
                ],
                "members": {
                    "communications": {
                        "type": "list",
                        "member": {
                            "shape": "Si"
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "ListEngagementTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/engage/engagement-types",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "paginationToken": {
                        "location": "querystring",
                        "locationName": "paginationToken"
                    },
                    "pageSize": {
                        "location": "querystring",
                        "locationName": "pageSize",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "total",
                    "engagementTypes"
                ],
                "members": {
                    "total": {
                        "type": "integer"
                    },
                    "engagementTypes": {
                        "shape": "S19"
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "ListEngagements": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/engage/engagements",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "paginationToken": {
                        "location": "querystring",
                        "locationName": "paginationToken"
                    },
                    "pageSize": {
                        "location": "querystring",
                        "locationName": "pageSize",
                        "type": "integer"
                    },
                    "pageStart": {
                        "location": "querystring",
                        "locationName": "pageStart",
                        "type": "integer"
                    },
                    "sortField": {
                        "location": "querystring",
                        "locationName": "sortField"
                    },
                    "sortDirection": {
                        "location": "querystring",
                        "locationName": "sortDirection"
                    },
                    "engagementType": {
                        "location": "querystring",
                        "locationName": "engagementType"
                    },
                    "state": {
                        "location": "querystring",
                        "locationName": "state"
                    },
                    "title": {
                        "shape": "S3",
                        "location": "header",
                        "locationName": "x-amzn-engagement-title"
                    },
                    "startDate": {
                        "location": "querystring",
                        "locationName": "startDate",
                        "type": "timestamp"
                    },
                    "endDate": {
                        "location": "querystring",
                        "locationName": "endDate",
                        "type": "timestamp"
                    },
                    "priority": {
                        "location": "querystring",
                        "locationName": "priority"
                    },
                    "minimumNeedByDate": {
                        "location": "querystring",
                        "locationName": "minimumNeedByDate",
                        "type": "timestamp"
                    },
                    "maximumNeedByDate": {
                        "location": "querystring",
                        "locationName": "maximumNeedByDate",
                        "type": "timestamp"
                    },
                    "minimumEffectiveStartDate": {
                        "location": "querystring",
                        "locationName": "minimumEffectiveStartDate",
                        "type": "timestamp"
                    },
                    "maximumEffectiveStartDate": {
                        "location": "querystring",
                        "locationName": "maximumEffectiveStartDate",
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "engagements"
                ],
                "members": {
                    "total": {
                        "type": "integer"
                    },
                    "engagements": {
                        "type": "list",
                        "member": {
                            "shape": "Sy"
                        }
                    },
                    "paginationToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "MaxPayload": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/test/max-payload",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "PatchEcho": {
            "http": {
                "method": "PATCH",
                "requestUri": "/v1/test/echo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "string": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "PostEcho": {
            "http": {
                "requestUri": "/v1/test/echo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "string": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "PostEchoLimited": {
            "http": {
                "requestUri": "/v1/test-limited/echo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "string": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "PutEcho": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/test/echo",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "string": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "string": {},
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "Throttle": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/test/throttle",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "ThrottleLimited": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/test-limited/throttle",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "Timeout": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/test/timeout",
                "responseCode": 200
            },
            "output": {
                "type": "structure",
                "members": {
                    "originalPayload": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "UpdateEngagementStatus": {
            "http": {
                "method": "PUT",
                "requestUri": "/v1/engage/engagements/{engagementId}/status",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "engagementId",
                    "engagementStatus"
                ],
                "members": {
                    "engagementId": {
                        "location": "uri",
                        "locationName": "engagementId"
                    },
                    "engagementStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "engagement": {
                        "shape": "Sy"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "BatchCreateExclusion": {
            "http": {
                "requestUri": "/v1/trecs/exclusions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "batch": {
                        "shape": "S2"
                    }
                },
                "payload": "batch"
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "BatchDeleteExclusion": {
            "http": {
                "requestUri": "/v1/trecs/delete-exclusions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "batch": {
                        "shape": "S2"
                    }
                },
                "payload": "batch"
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SAQENTFLBY3TUJPFPL6TMI6ODW7EJZUZRFOKIXK3QN2BAGGBODJQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZPCYVG62FD3SSAHQBQ4NALLDAHI5OIQ5OGRMLIZOBLQRFLEJDRLQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O244O76IXWULQGCRFLO6OENATP2PRVF7OWMWXYZHX7ELVHHVYB6Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQ3FJGZVFTINEU2PSXIBHSTUPH4FDUD5AE2TRC7GXF5RVVB47GJA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JDPHSHDMTW2Y3AP5AW6G6XB2J7CJWJC6FGYSLOYNW6Z2DUO3KWVA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YYCB5OT4NJCP3HK4GO6DSC37SOF3BNJZNGUN22SU6OBFDJX4BXEA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYQDDYFXHHPEBV7NVSRADOFFNNXT6LYVNLV6SSXUIMATNHYLC57A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PYDKKLK4JYVEKCBWTOPSMUJXBHDEVSEI366APBR7UEYKSN5QEK5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VKK64IY6DDMOMYKBYYMYHOR6I3I2LVHJXQMKO5JUMHKOKERASGSQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QBB6BO4C5NSYRE2VNFBOJJCXCI2M2EAHIQAFEZ673ST4TCLZB64Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VRMK7MVZ22GZ3IYUEHWRKTSOR6SHF66ACAW7J43UYHP4G7GDBUKA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UMKW7NK63T3DJP3DSHHB5IP3HIVWCHU5IXNMQPW7TTKLANJ7DSEQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HKMG2QMEN5KSH5IXV3LLIRYFNDZVD5747YVO7VGSQ2MF4WBAX3IA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HGUMNYF2TP5UBJMTDAOMLX6NTPIHEK3MLR2EI5BFUDPBURHPSWXQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/G2EOCIVDD6XDPYSQJ45IMU7E4Y6C2CHXISBROSB7NUFD5E7NFU3Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7NGCRVEIGKCOXACUFOFTM7KKMQBFXJPYUF26ZNAUPNDXBJI3QIMA/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TRPMUQMF2QPTQYGR23KNE72767EBBCGKZMR4DO3KMGNDSZ6XPH5A/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WNZRBCOEGK7GFPFCRVLBPF3QYLFVZJIHHWGPVZGJRTHO7EIT7HZQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WYHTZQNJNPGGSINEGY676XNHWNPB5YF5SY43GCQYXMQVKV5YBE7Q/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js"
            ]
        },
        "GetRecommendation": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/trecs/recommendation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "querystring",
                        "locationName": "arn"
                    },
                    "recommendationArn": {
                        "location": "uri",
                        "locationName": "recommendationArn"
                    },
                    "recommendationIdentifier": {
                        "location": "uri",
                        "locationName": "recommendationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendation": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/WEFHFY6R64NUVY4WLZPBNTMZDU3GHU2URGKXRIFJEJRZYOFJYTKQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2EZNCTODOZLGM2CTQ2OPHQOOPBCFWEW32V7DEMBI4BIVBPBSHNWQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTVBEMOSOZEHSFNBN25OLLAYRBGTOWIOX53GGSNVBKTEVA7ZX7ZQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHU4QSFZOHFIUXQD4GK7DMNATDFXW2RD245YAKYHQ36RRHF3EP5A/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QMLRLAL44FXQBMRM6PR5TAAR7QQ4PHMTF2AFRPMDPZRZE2WWXAQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MQIMQVJG2VAC223S2QWZ7BWWTMJZRXORRD3E3BH2PRXPXG56BHA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListAccountsForRecommendation": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/trecs/recommendation/accounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "recommendationId": {
                        "location": "querystring",
                        "locationName": "recommendationId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accounts": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZCGA62IM5H7S4SRKXAU6W3HIPV5VX6TIG3JZWICJ7MCS3BSHILRQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGK2RMFVESKM67QZ7WIWHEQMMWRTJGXG7BW4RGD56VD2HPENMHMQ/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLDJ4WVS4GNEY3KQRN34BXOOAMJNBA2JWXZYK6VJN52KWJFUWECA/ta_polaris.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z24HK5AVC27RUYN77KYOEKFITM45B77Z5W33FIHRXC6D7TJZTUYQ/ta_polaris.js",
[...]
