{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "UmberAPILambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "UmberAPILambda",
        "serviceFullName": "API for Hardware screens",
        "signatureVersion": "v4",
        "signingName": "storagegateway",
        "uid": "umber-api-lambda-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/D2M4OWQACGTYPFY3QFQHQDUPTAILEZ4LVSKX363MGJQ6UTLA2ZOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V5TKQYG3KIOO47CU2KPK7UUWRIFGKTU56DOD7375646SZDGHMPUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NKQVSHDYK4FGUYFYBV4IV2E5BNMNUSKVCDDM6AM7J4BY4A3LFZIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMHYXJDGZEERV5D2HGPKASYCK3CUZ27CSJ4CHXFKWSOSV6DMEWGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SIJUHF3ZDSVSWFUKG3L44D6U4JPLSYV2PSNMM5V36DUL7JED3QSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64D27OJLYHYKL3PUXDKXO7F7SEXBMGFAVAUZ5VFTN6Z3B5XAIBUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6AGW5R2QLK3D5U2AEJ2RPXTPHVRQSMILCLYZ4NERFGQY6QDLOJAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBOMKPHVG2XJGYEJE353YV7KLNJJY2PQJ33M4HMCNXXTH3TPVNGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LV5IMVLXJFEHQATXE4KACFEVNJJAXPQQP5TQQ6NT22GDE5ITLJ5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CXWYRX5I7T26W5UY47DOLOUZYWNAJT3DPBQIBSJRK3OZVP3Y6UFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5BXS5IEMKTGQSUGGP2OP7CCZWKHOUCTAZRIWU6QOZTMZJYNAZSOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3DF7I2AD5CL2M5LFG56VPZWSCEELO5CAIIZK32KFEWOOEZREJ4ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFZCRVEKP3XQWGWB3P5LKOMOPGASBZZBBP3Y6HSC3NCW6U4KSG7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ODW6NOJOOIIQDHOCZAGKCAVNU6K7IKTCLLCB2PRCM2V4C7WO4NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YNAZLZXH475FUPWW353B7H3SZEKQOJHBC73KO4PVFBM76ZIQHJUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XSRQL3XTGSFOHKWMIJ7J5NNPMHB6KIATPC5FLC45MXTBY5BCDFOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BV355HPYXVALUUQECHNUL2QWQX375WTS7Z7AC4OAYBDYZSRER4UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPWEBHWQ4GMWHPQXBSTYKMK4RAGHR457CYCJFHTKWOXKSUYPNBHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/56IAWRIONQZNG3LBO6SOHIAEKVKEIR5F4VD2L75OQOAZR6BJIN2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YCDHI2LEJBQB3XYAY3XCY2FDY4KTPASOQDHSJKT5W2OF4RQR7BQ/vendors.js"
        ]
    },
    "operations": {
        "ActivatePlatform": {
            "http": {
                "requestUri": "/ActivatePlatform"
            },
            "input": {
                "type": "structure",
                "required": [
                    "activationKey",
                    "platformName",
                    "platformTimezone",
                    "raidVolumeManager"
                ],
                "members": {
                    "activationKey": {},
                    "platformName": {},
                    "platformTimezone": {},
                    "raidVolumeManager": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "platformArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5TKQYG3KIOO47CU2KPK7UUWRIFGKTU56DOD7375646SZDGHMPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQVSHDYK4FGUYFYBV4IV2E5BNMNUSKVCDDM6AM7J4BY4A3LFZIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMHYXJDGZEERV5D2HGPKASYCK3CUZ27CSJ4CHXFKWSOSV6DMEWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIJUHF3ZDSVSWFUKG3L44D6U4JPLSYV2PSNMM5V36DUL7JED3QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64D27OJLYHYKL3PUXDKXO7F7SEXBMGFAVAUZ5VFTN6Z3B5XAIBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AGW5R2QLK3D5U2AEJ2RPXTPHVRQSMILCLYZ4NERFGQY6QDLOJAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOMKPHVG2XJGYEJE353YV7KLNJJY2PQJ33M4HMCNXXTH3TPVNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5IMVLXJFEHQATXE4KACFEVNJJAXPQQP5TQQ6NT22GDE5ITLJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXWYRX5I7T26W5UY47DOLOUZYWNAJT3DPBQIBSJRK3OZVP3Y6UFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXS5IEMKTGQSUGGP2OP7CCZWKHOUCTAZRIWU6QOZTMZJYNAZSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DF7I2AD5CL2M5LFG56VPZWSCEELO5CAIIZK32KFEWOOEZREJ4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZCRVEKP3XQWGWB3P5LKOMOPGASBZZBBP3Y6HSC3NCW6U4KSG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ODW6NOJOOIIQDHOCZAGKCAVNU6K7IKTCLLCB2PRCM2V4C7WO4NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNAZLZXH475FUPWW353B7H3SZEKQOJHBC73KO4PVFBM76ZIQHJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSRQL3XTGSFOHKWMIJ7J5NNPMHB6KIATPC5FLC45MXTBY5BCDFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV355HPYXVALUUQECHNUL2QWQX375WTS7Z7AC4OAYBDYZSRER4UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPWEBHWQ4GMWHPQXBSTYKMK4RAGHR457CYCJFHTKWOXKSUYPNBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56IAWRIONQZNG3LBO6SOHIAEKVKEIR5F4VD2L75OQOAZR6BJIN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YCDHI2LEJBQB3XYAY3XCY2FDY4KTPASOQDHSJKT5W2OF4RQR7BQ/vendors.js"
            ]
        },
        "BuyRedirect": {
            "http": {
                "method": "GET",
                "requestUri": "/BuyRedirect"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5TKQYG3KIOO47CU2KPK7UUWRIFGKTU56DOD7375646SZDGHMPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQVSHDYK4FGUYFYBV4IV2E5BNMNUSKVCDDM6AM7J4BY4A3LFZIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMHYXJDGZEERV5D2HGPKASYCK3CUZ27CSJ4CHXFKWSOSV6DMEWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIJUHF3ZDSVSWFUKG3L44D6U4JPLSYV2PSNMM5V36DUL7JED3QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64D27OJLYHYKL3PUXDKXO7F7SEXBMGFAVAUZ5VFTN6Z3B5XAIBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AGW5R2QLK3D5U2AEJ2RPXTPHVRQSMILCLYZ4NERFGQY6QDLOJAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOMKPHVG2XJGYEJE353YV7KLNJJY2PQJ33M4HMCNXXTH3TPVNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5IMVLXJFEHQATXE4KACFEVNJJAXPQQP5TQQ6NT22GDE5ITLJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXWYRX5I7T26W5UY47DOLOUZYWNAJT3DPBQIBSJRK3OZVP3Y6UFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXS5IEMKTGQSUGGP2OP7CCZWKHOUCTAZRIWU6QOZTMZJYNAZSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DF7I2AD5CL2M5LFG56VPZWSCEELO5CAIIZK32KFEWOOEZREJ4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZCRVEKP3XQWGWB3P5LKOMOPGASBZZBBP3Y6HSC3NCW6U4KSG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ODW6NOJOOIIQDHOCZAGKCAVNU6K7IKTCLLCB2PRCM2V4C7WO4NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNAZLZXH475FUPWW353B7H3SZEKQOJHBC73KO4PVFBM76ZIQHJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSRQL3XTGSFOHKWMIJ7J5NNPMHB6KIATPC5FLC45MXTBY5BCDFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV355HPYXVALUUQECHNUL2QWQX375WTS7Z7AC4OAYBDYZSRER4UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPWEBHWQ4GMWHPQXBSTYKMK4RAGHR457CYCJFHTKWOXKSUYPNBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56IAWRIONQZNG3LBO6SOHIAEKVKEIR5F4VD2L75OQOAZR6BJIN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YCDHI2LEJBQB3XYAY3XCY2FDY4KTPASOQDHSJKT5W2OF4RQR7BQ/vendors.js"
            ]
        },
        "DeleteAppliance": {
            "http": {
                "requestUri": "/DeleteAppliance"
            },
            "input": {
                "type": "structure",
                "required": [
                    "applianceArn"
                ],
                "members": {
                    "applianceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5TKQYG3KIOO47CU2KPK7UUWRIFGKTU56DOD7375646SZDGHMPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQVSHDYK4FGUYFYBV4IV2E5BNMNUSKVCDDM6AM7J4BY4A3LFZIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMHYXJDGZEERV5D2HGPKASYCK3CUZ27CSJ4CHXFKWSOSV6DMEWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIJUHF3ZDSVSWFUKG3L44D6U4JPLSYV2PSNMM5V36DUL7JED3QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64D27OJLYHYKL3PUXDKXO7F7SEXBMGFAVAUZ5VFTN6Z3B5XAIBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AGW5R2QLK3D5U2AEJ2RPXTPHVRQSMILCLYZ4NERFGQY6QDLOJAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOMKPHVG2XJGYEJE353YV7KLNJJY2PQJ33M4HMCNXXTH3TPVNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5IMVLXJFEHQATXE4KACFEVNJJAXPQQP5TQQ6NT22GDE5ITLJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXWYRX5I7T26W5UY47DOLOUZYWNAJT3DPBQIBSJRK3OZVP3Y6UFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXS5IEMKTGQSUGGP2OP7CCZWKHOUCTAZRIWU6QOZTMZJYNAZSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DF7I2AD5CL2M5LFG56VPZWSCEELO5CAIIZK32KFEWOOEZREJ4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZCRVEKP3XQWGWB3P5LKOMOPGASBZZBBP3Y6HSC3NCW6U4KSG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ODW6NOJOOIIQDHOCZAGKCAVNU6K7IKTCLLCB2PRCM2V4C7WO4NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNAZLZXH475FUPWW353B7H3SZEKQOJHBC73KO4PVFBM76ZIQHJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSRQL3XTGSFOHKWMIJ7J5NNPMHB6KIATPC5FLC45MXTBY5BCDFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV355HPYXVALUUQECHNUL2QWQX375WTS7Z7AC4OAYBDYZSRER4UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPWEBHWQ4GMWHPQXBSTYKMK4RAGHR457CYCJFHTKWOXKSUYPNBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56IAWRIONQZNG3LBO6SOHIAEKVKEIR5F4VD2L75OQOAZR6BJIN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YCDHI2LEJBQB3XYAY3XCY2FDY4KTPASOQDHSJKT5W2OF4RQR7BQ/vendors.js"
            ]
        },
        "DeleteService": {
            "http": {
                "requestUri": "/DeleteService"
            },
            "input": {
                "type": "structure",
                "required": [
                    "platformArn",
                    "serviceArn"
                ],
                "members": {
                    "platformArn": {},
                    "serviceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5TKQYG3KIOO47CU2KPK7UUWRIFGKTU56DOD7375646SZDGHMPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQVSHDYK4FGUYFYBV4IV2E5BNMNUSKVCDDM6AM7J4BY4A3LFZIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMHYXJDGZEERV5D2HGPKASYCK3CUZ27CSJ4CHXFKWSOSV6DMEWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIJUHF3ZDSVSWFUKG3L44D6U4JPLSYV2PSNMM5V36DUL7JED3QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64D27OJLYHYKL3PUXDKXO7F7SEXBMGFAVAUZ5VFTN6Z3B5XAIBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AGW5R2QLK3D5U2AEJ2RPXTPHVRQSMILCLYZ4NERFGQY6QDLOJAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOMKPHVG2XJGYEJE353YV7KLNJJY2PQJ33M4HMCNXXTH3TPVNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5IMVLXJFEHQATXE4KACFEVNJJAXPQQP5TQQ6NT22GDE5ITLJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXWYRX5I7T26W5UY47DOLOUZYWNAJT3DPBQIBSJRK3OZVP3Y6UFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXS5IEMKTGQSUGGP2OP7CCZWKHOUCTAZRIWU6QOZTMZJYNAZSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DF7I2AD5CL2M5LFG56VPZWSCEELO5CAIIZK32KFEWOOEZREJ4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZCRVEKP3XQWGWB3P5LKOMOPGASBZZBBP3Y6HSC3NCW6U4KSG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ODW6NOJOOIIQDHOCZAGKCAVNU6K7IKTCLLCB2PRCM2V4C7WO4NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNAZLZXH475FUPWW353B7H3SZEKQOJHBC73KO4PVFBM76ZIQHJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSRQL3XTGSFOHKWMIJ7J5NNPMHB6KIATPC5FLC45MXTBY5BCDFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV355HPYXVALUUQECHNUL2QWQX375WTS7Z7AC4OAYBDYZSRER4UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPWEBHWQ4GMWHPQXBSTYKMK4RAGHR457CYCJFHTKWOXKSUYPNBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56IAWRIONQZNG3LBO6SOHIAEKVKEIR5F4VD2L75OQOAZR6BJIN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YCDHI2LEJBQB3XYAY3XCY2FDY4KTPASOQDHSJKT5W2OF4RQR7BQ/vendors.js"
            ]
        },
        "DescribePlatform": {
            "http": {
                "requestUri": "/DescribePlatform"
            },
            "input": {
                "type": "structure",
                "required": [
                    "platformArn"
                ],
                "members": {
                    "platformArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "platformName": {},
                    "platformArn": {},
                    "platformTimeZone": {},
                    "hardwareSerial": {},
                    "hardwareModel": {},
                    "creationDate": {
                        "type": "timestamp"
                    },
                    "raidVolumeManager": {},
                    "services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "serviceName": {},
                                "serviceArn": {},
                                "serviceType": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5TKQYG3KIOO47CU2KPK7UUWRIFGKTU56DOD7375646SZDGHMPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQVSHDYK4FGUYFYBV4IV2E5BNMNUSKVCDDM6AM7J4BY4A3LFZIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMHYXJDGZEERV5D2HGPKASYCK3CUZ27CSJ4CHXFKWSOSV6DMEWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIJUHF3ZDSVSWFUKG3L44D6U4JPLSYV2PSNMM5V36DUL7JED3QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64D27OJLYHYKL3PUXDKXO7F7SEXBMGFAVAUZ5VFTN6Z3B5XAIBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AGW5R2QLK3D5U2AEJ2RPXTPHVRQSMILCLYZ4NERFGQY6QDLOJAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOMKPHVG2XJGYEJE353YV7KLNJJY2PQJ33M4HMCNXXTH3TPVNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5IMVLXJFEHQATXE4KACFEVNJJAXPQQP5TQQ6NT22GDE5ITLJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXWYRX5I7T26W5UY47DOLOUZYWNAJT3DPBQIBSJRK3OZVP3Y6UFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXS5IEMKTGQSUGGP2OP7CCZWKHOUCTAZRIWU6QOZTMZJYNAZSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DF7I2AD5CL2M5LFG56VPZWSCEELO5CAIIZK32KFEWOOEZREJ4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZCRVEKP3XQWGWB3P5LKOMOPGASBZZBBP3Y6HSC3NCW6U4KSG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ODW6NOJOOIIQDHOCZAGKCAVNU6K7IKTCLLCB2PRCM2V4C7WO4NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNAZLZXH475FUPWW353B7H3SZEKQOJHBC73KO4PVFBM76ZIQHJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSRQL3XTGSFOHKWMIJ7J5NNPMHB6KIATPC5FLC45MXTBY5BCDFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV355HPYXVALUUQECHNUL2QWQX375WTS7Z7AC4OAYBDYZSRER4UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPWEBHWQ4GMWHPQXBSTYKMK4RAGHR457CYCJFHTKWOXKSUYPNBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56IAWRIONQZNG3LBO6SOHIAEKVKEIR5F4VD2L75OQOAZR6BJIN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YCDHI2LEJBQB3XYAY3XCY2FDY4KTPASOQDHSJKT5W2OF4RQR7BQ/vendors.js"
            ]
        },
        "LaunchService": {
            "http": {
                "requestUri": "/LaunchService"
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceType",
                    "serviceName",
                    "platformArn"
                ],
                "members": {
                    "serviceType": {},
                    "serviceName": {},
                    "platformArn": {},
                    "vpcEndpoint": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serviceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5TKQYG3KIOO47CU2KPK7UUWRIFGKTU56DOD7375646SZDGHMPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQVSHDYK4FGUYFYBV4IV2E5BNMNUSKVCDDM6AM7J4BY4A3LFZIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMHYXJDGZEERV5D2HGPKASYCK3CUZ27CSJ4CHXFKWSOSV6DMEWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIJUHF3ZDSVSWFUKG3L44D6U4JPLSYV2PSNMM5V36DUL7JED3QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64D27OJLYHYKL3PUXDKXO7F7SEXBMGFAVAUZ5VFTN6Z3B5XAIBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AGW5R2QLK3D5U2AEJ2RPXTPHVRQSMILCLYZ4NERFGQY6QDLOJAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOMKPHVG2XJGYEJE353YV7KLNJJY2PQJ33M4HMCNXXTH3TPVNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5IMVLXJFEHQATXE4KACFEVNJJAXPQQP5TQQ6NT22GDE5ITLJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXWYRX5I7T26W5UY47DOLOUZYWNAJT3DPBQIBSJRK3OZVP3Y6UFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXS5IEMKTGQSUGGP2OP7CCZWKHOUCTAZRIWU6QOZTMZJYNAZSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DF7I2AD5CL2M5LFG56VPZWSCEELO5CAIIZK32KFEWOOEZREJ4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZCRVEKP3XQWGWB3P5LKOMOPGASBZZBBP3Y6HSC3NCW6U4KSG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ODW6NOJOOIIQDHOCZAGKCAVNU6K7IKTCLLCB2PRCM2V4C7WO4NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNAZLZXH475FUPWW353B7H3SZEKQOJHBC73KO4PVFBM76ZIQHJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSRQL3XTGSFOHKWMIJ7J5NNPMHB6KIATPC5FLC45MXTBY5BCDFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV355HPYXVALUUQECHNUL2QWQX375WTS7Z7AC4OAYBDYZSRER4UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPWEBHWQ4GMWHPQXBSTYKMK4RAGHR457CYCJFHTKWOXKSUYPNBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56IAWRIONQZNG3LBO6SOHIAEKVKEIR5F4VD2L75OQOAZR6BJIN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YCDHI2LEJBQB3XYAY3XCY2FDY4KTPASOQDHSJKT5W2OF4RQR7BQ/vendors.js"
            ]
        },
        "ListPlatforms": {
            "http": {
                "requestUri": "/ListPlatforms"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "platforms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "platformName": {},
                                "platformArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5TKQYG3KIOO47CU2KPK7UUWRIFGKTU56DOD7375646SZDGHMPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQVSHDYK4FGUYFYBV4IV2E5BNMNUSKVCDDM6AM7J4BY4A3LFZIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMHYXJDGZEERV5D2HGPKASYCK3CUZ27CSJ4CHXFKWSOSV6DMEWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIJUHF3ZDSVSWFUKG3L44D6U4JPLSYV2PSNMM5V36DUL7JED3QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64D27OJLYHYKL3PUXDKXO7F7SEXBMGFAVAUZ5VFTN6Z3B5XAIBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AGW5R2QLK3D5U2AEJ2RPXTPHVRQSMILCLYZ4NERFGQY6QDLOJAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOMKPHVG2XJGYEJE353YV7KLNJJY2PQJ33M4HMCNXXTH3TPVNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5IMVLXJFEHQATXE4KACFEVNJJAXPQQP5TQQ6NT22GDE5ITLJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXWYRX5I7T26W5UY47DOLOUZYWNAJT3DPBQIBSJRK3OZVP3Y6UFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXS5IEMKTGQSUGGP2OP7CCZWKHOUCTAZRIWU6QOZTMZJYNAZSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DF7I2AD5CL2M5LFG56VPZWSCEELO5CAIIZK32KFEWOOEZREJ4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZCRVEKP3XQWGWB3P5LKOMOPGASBZZBBP3Y6HSC3NCW6U4KSG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ODW6NOJOOIIQDHOCZAGKCAVNU6K7IKTCLLCB2PRCM2V4C7WO4NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNAZLZXH475FUPWW353B7H3SZEKQOJHBC73KO4PVFBM76ZIQHJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSRQL3XTGSFOHKWMIJ7J5NNPMHB6KIATPC5FLC45MXTBY5BCDFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV355HPYXVALUUQECHNUL2QWQX375WTS7Z7AC4OAYBDYZSRER4UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPWEBHWQ4GMWHPQXBSTYKMK4RAGHR457CYCJFHTKWOXKSUYPNBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56IAWRIONQZNG3LBO6SOHIAEKVKEIR5F4VD2L75OQOAZR6BJIN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YCDHI2LEJBQB3XYAY3XCY2FDY4KTPASOQDHSJKT5W2OF4RQR7BQ/vendors.js"
            ]
        },
        "Ping": {
            "http": {
                "method": "GET",
                "requestUri": "/Ping"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5TKQYG3KIOO47CU2KPK7UUWRIFGKTU56DOD7375646SZDGHMPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQVSHDYK4FGUYFYBV4IV2E5BNMNUSKVCDDM6AM7J4BY4A3LFZIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMHYXJDGZEERV5D2HGPKASYCK3CUZ27CSJ4CHXFKWSOSV6DMEWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIJUHF3ZDSVSWFUKG3L44D6U4JPLSYV2PSNMM5V36DUL7JED3QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64D27OJLYHYKL3PUXDKXO7F7SEXBMGFAVAUZ5VFTN6Z3B5XAIBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AGW5R2QLK3D5U2AEJ2RPXTPHVRQSMILCLYZ4NERFGQY6QDLOJAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOMKPHVG2XJGYEJE353YV7KLNJJY2PQJ33M4HMCNXXTH3TPVNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5IMVLXJFEHQATXE4KACFEVNJJAXPQQP5TQQ6NT22GDE5ITLJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXWYRX5I7T26W5UY47DOLOUZYWNAJT3DPBQIBSJRK3OZVP3Y6UFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXS5IEMKTGQSUGGP2OP7CCZWKHOUCTAZRIWU6QOZTMZJYNAZSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DF7I2AD5CL2M5LFG56VPZWSCEELO5CAIIZK32KFEWOOEZREJ4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZCRVEKP3XQWGWB3P5LKOMOPGASBZZBBP3Y6HSC3NCW6U4KSG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ODW6NOJOOIIQDHOCZAGKCAVNU6K7IKTCLLCB2PRCM2V4C7WO4NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNAZLZXH475FUPWW353B7H3SZEKQOJHBC73KO4PVFBM76ZIQHJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSRQL3XTGSFOHKWMIJ7J5NNPMHB6KIATPC5FLC45MXTBY5BCDFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV355HPYXVALUUQECHNUL2QWQX375WTS7Z7AC4OAYBDYZSRER4UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPWEBHWQ4GMWHPQXBSTYKMK4RAGHR457CYCJFHTKWOXKSUYPNBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56IAWRIONQZNG3LBO6SOHIAEKVKEIR5F4VD2L75OQOAZR6BJIN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YCDHI2LEJBQB3XYAY3XCY2FDY4KTPASOQDHSJKT5W2OF4RQR7BQ/vendors.js"
            ]
        },
        "SetLocalConsolePassword": {
            "http": {
                "requestUri": "/SetLocalConsolePassword"
            },
            "input": {
                "type": "structure",
                "required": [
                    "platformArn",
                    "localConsolePassword"
                ],
                "members": {
                    "platformArn": {},
                    "localConsolePassword": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5TKQYG3KIOO47CU2KPK7UUWRIFGKTU56DOD7375646SZDGHMPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NKQVSHDYK4FGUYFYBV4IV2E5BNMNUSKVCDDM6AM7J4BY4A3LFZIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMHYXJDGZEERV5D2HGPKASYCK3CUZ27CSJ4CHXFKWSOSV6DMEWGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIJUHF3ZDSVSWFUKG3L44D6U4JPLSYV2PSNMM5V36DUL7JED3QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URXJRZVXGNP2UVLEMERP2EPUHPTBCJ6EEESDLKUEJZVEMIW74SBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LA3LT4A2X42QWDQZQBOE5UZI757BXVVEPMHQ3GV67KYCYF72LBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQFWOICAV3ADN5AHW2E3VGGMM4BWKJXYEFRP4XEZ5FCGMDJMDDWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJM5VZ3QODZKFZDWCFKPWDEQMOHPHIGT43TKTX6ZZYTV7PNIDYAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64D27OJLYHYKL3PUXDKXO7F7SEXBMGFAVAUZ5VFTN6Z3B5XAIBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AGW5R2QLK3D5U2AEJ2RPXTPHVRQSMILCLYZ4NERFGQY6QDLOJAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBOMKPHVG2XJGYEJE353YV7KLNJJY2PQJ33M4HMCNXXTH3TPVNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LV5IMVLXJFEHQATXE4KACFEVNJJAXPQQP5TQQ6NT22GDE5ITLJ5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXWYRX5I7T26W5UY47DOLOUZYWNAJT3DPBQIBSJRK3OZVP3Y6UFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BXS5IEMKTGQSUGGP2OP7CCZWKHOUCTAZRIWU6QOZTMZJYNAZSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3DF7I2AD5CL2M5LFG56VPZWSCEELO5CAIIZK32KFEWOOEZREJ4ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZCRVEKP3XQWGWB3P5LKOMOPGASBZZBBP3Y6HSC3NCW6U4KSG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ODW6NOJOOIIQDHOCZAGKCAVNU6K7IKTCLLCB2PRCM2V4C7WO4NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YNAZLZXH475FUPWW353B7H3SZEKQOJHBC73KO4PVFBM76ZIQHJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSRQL3XTGSFOHKWMIJ7J5NNPMHB6KIATPC5FLC45MXTBY5BCDFOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV355HPYXVALUUQECHNUL2QWQX375WTS7Z7AC4OAYBDYZSRER4UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPWEBHWQ4GMWHPQXBSTYKMK4RAGHR457CYCJFHTKWOXKSUYPNBHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56IAWRIONQZNG3LBO6SOHIAEKVKEIR5F4VD2L75OQOAZR6BJIN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YCDHI2LEJBQB3XYAY3XCY2FDY4KTPASOQDHSJKT5W2OF4RQR7BQ/vendors.js"
            ]
        }
    },
    "shapes": {}
}