{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "UmberAPILambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "UmberAPILambda",
        "serviceFullName": "API for Hardware screens",
        "signatureVersion": "v4",
        "signingName": "storagegateway",
        "uid": "umber-api-lambda-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/D2M4OWQACGTYPFY3QFQHQDUPTAILEZ4LVSKX363MGJQ6UTLA2ZOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js"
        ]
    },
    "operations": {
        "ActivatePlatform": {
            "http": {
                "requestUri": "/ActivatePlatform"
            },
            "input": {
                "type": "structure",
                "required": [
                    "activationKey",
                    "platformName",
                    "platformTimezone",
                    "raidVolumeManager"
                ],
                "members": {
                    "activationKey": {},
                    "platformName": {},
                    "platformTimezone": {},
                    "raidVolumeManager": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "platformArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2M4OWQACGTYPFY3QFQHQDUPTAILEZ4LVSKX363MGJQ6UTLA2ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js"
            ]
        },
        "BuyRedirect": {
            "http": {
                "method": "GET",
                "requestUri": "/BuyRedirect"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2M4OWQACGTYPFY3QFQHQDUPTAILEZ4LVSKX363MGJQ6UTLA2ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js"
            ]
        },
        "DeleteAppliance": {
            "http": {
                "requestUri": "/DeleteAppliance"
            },
            "input": {
                "type": "structure",
                "required": [
                    "applianceArn"
                ],
                "members": {
                    "applianceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2M4OWQACGTYPFY3QFQHQDUPTAILEZ4LVSKX363MGJQ6UTLA2ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js"
            ]
        },
        "DeleteService": {
            "http": {
                "requestUri": "/DeleteService"
            },
            "input": {
                "type": "structure",
                "required": [
                    "platformArn",
                    "serviceArn"
                ],
                "members": {
                    "platformArn": {},
                    "serviceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2M4OWQACGTYPFY3QFQHQDUPTAILEZ4LVSKX363MGJQ6UTLA2ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js"
            ]
        },
        "DescribePlatform": {
            "http": {
                "requestUri": "/DescribePlatform"
            },
            "input": {
                "type": "structure",
                "required": [
                    "platformArn"
                ],
                "members": {
                    "platformArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "platformName": {},
                    "platformArn": {},
                    "platformTimeZone": {},
                    "hardwareSerial": {},
                    "hardwareModel": {},
                    "creationDate": {
                        "type": "timestamp"
                    },
                    "raidVolumeManager": {},
                    "services": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "serviceName": {},
                                "serviceArn": {},
                                "serviceType": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2M4OWQACGTYPFY3QFQHQDUPTAILEZ4LVSKX363MGJQ6UTLA2ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js"
            ]
        },
        "LaunchService": {
            "http": {
                "requestUri": "/LaunchService"
            },
            "input": {
                "type": "structure",
                "required": [
                    "serviceType",
                    "serviceName",
                    "platformArn"
                ],
                "members": {
                    "serviceType": {},
                    "serviceName": {},
                    "platformArn": {},
                    "vpcEndpoint": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "serviceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2M4OWQACGTYPFY3QFQHQDUPTAILEZ4LVSKX363MGJQ6UTLA2ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js"
            ]
        },
        "ListPlatforms": {
            "http": {
                "requestUri": "/ListPlatforms"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "platforms": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "platformName": {},
                                "platformArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2M4OWQACGTYPFY3QFQHQDUPTAILEZ4LVSKX363MGJQ6UTLA2ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js"
            ]
        },
        "Ping": {
            "http": {
                "method": "GET",
                "requestUri": "/Ping"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2M4OWQACGTYPFY3QFQHQDUPTAILEZ4LVSKX363MGJQ6UTLA2ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js"
            ]
        },
        "SetLocalConsolePassword": {
            "http": {
                "requestUri": "/SetLocalConsolePassword"
            },
            "input": {
                "type": "structure",
                "required": [
                    "platformArn",
                    "localConsolePassword"
                ],
                "members": {
                    "platformArn": {},
                    "localConsolePassword": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D2M4OWQACGTYPFY3QFQHQDUPTAILEZ4LVSKX363MGJQ6UTLA2ZOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BS4XCDATPT63MCM6HSIHFOC2KGN7VKA5BXVNIPJSUIDS2RYM2VAA/vendors.js"
            ]
        }
    },
    "shapes": {}
}