{
    "metadata": {
        "apiVersion": "2019-07-17",
        "endpointPrefix": "v2eq9ttjol",
        "signingName": "execute-api",
        "serviceFullName": "SignpostLambda",
        "serviceId": "SignpostLambda",
        "protocol": "rest-json",
        "uid": "v2eq9ttjol-2019-07-17",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVYMZI6LJWW7IUF2LWPZHEKUB7H4NFAKVQG34LSG2NVXCGR66NXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
        ]
    },
    "operations": {
        "GetArc": {
            "http": {
                "method": "GET",
                "requestUri": "/arcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Country": {
                        "location": "querystring",
                        "locationName": "country"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArcResponseResource": {
                        "type": "structure",
                        "members": {
                            "Arc": {
                                "shape": "S5",
                                "locationName": "arc"
                            }
                        }
                    }
                },
                "required": [
                    "ArcResponseResource"
                ],
                "payload": "ArcResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "GetCarrier": {
            "http": {
                "method": "GET",
                "requestUri": "/carriers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Country": {
                        "location": "querystring",
                        "locationName": "country"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CarrierResponseResource": {
                        "type": "structure",
                        "members": {
                            "Carrier": {
                                "locationName": "carrier"
                            },
                            "Internal": {
                                "locationName": "internal",
                                "type": "boolean"
                            }
                        }
                    }
                },
                "required": [
                    "CarrierResponseResource"
                ],
                "payload": "CarrierResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "GetDivisions": {
            "http": {
                "method": "GET",
                "requestUri": "/divisions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Country": {
                        "location": "querystring",
                        "locationName": "country"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AddressSchemaResource": {
                        "type": "structure",
                        "members": {
                            "AddressSchema": {
                                "shape": "S7",
                                "locationName": "addressSchema"
                            },
                            "Country": {
                                "locationName": "country"
                            }
                        }
                    }
                },
                "required": [
                    "AddressSchemaResource"
                ],
                "payload": "AddressSchemaResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "GetInternalCountryArcs": {
            "http": {
                "method": "GET",
                "requestUri": "/internal-country-arcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InternalCountriesResponseResource": {
                        "type": "structure",
                        "members": {
                            "Arcs": {
                                "shape": "S15",
                                "locationName": "arcs"
                            }
                        }
                    }
                },
                "required": [
                    "InternalCountriesResponseResource"
                ],
                "payload": "InternalCountriesResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        },
        "GetServiceableCountryArcs": {
            "http": {
                "method": "GET",
                "requestUri": "/serviceable-country-arcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Devices": {
                        "location": "querystring",
                        "locationName": "devices"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceableCountryArcsResponseResource": {
                        "type": "structure",
                        "members": {
                            "Arcs": {
                                "shape": "S15",
                                "locationName": "arcs"
                            }
                        }
                    }
                },
                "required": [
                    "ServiceableCountryArcsResponseResource"
                ],
                "payload": "ServiceableCountryArcsResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KZN3A7PCPGRO63JYJJJMOVDXFTMXN4VN6CZMMACTBIIIKNBISHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELXDC77Y7GDZNN23MRBNRHEABYUGVYYAPU3TIX4QZYSJEXVQ4HYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSK2OIE5GRUJBXPDMHIQWRYHWSUGAR24OK4VYNT6VNFENVHGT2SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NS4OI2WKJH3UQPR53SQ354VOC3CV7RX63SLYPNJPOIBMMS2NAJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/23MBOSBHO26GBYFTP4EQBHIDKEVF7WSKNZSYVZCVEFCBOXOL6H5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZI3AV4LCDU3QL3AZOZIX7FWM5M7VS4VCRMWSWQ5HGOLRMKSFWFYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWCLC2DDD365Y7X73TGU4AANTAXQ6ERB4PDTKAMWXXBMHNYXLWMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6JJ2CUKPYRNHXIPR727RBZD6Q7UWQUSDPRN5MW7QF7R6FWWQUFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5ZWSWXERXT4KXPTEDQ2ABMYXAD4DSSUBOUKOYOI7PT3QFMNEL3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JKU7QZGAF7YURXAWT7XSELDQHG4NMPS2XDLL54IF4HMEAQVBUEBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKZXE23AXB74HKOIM4WROBZRCMCOBVK24QDWHLQUIYMPJ6JVUKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YAF7RTNTHELISK4YYNZZCNNHRJ7PHD5KO5MITE6ETYKFNYCDU5GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MYJJUM3YBAWIQ3OTQ2WSWZRGDBVPVYX4PG2XFSTQJRD64NNFZTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CI4WBMI35KRWWHMKHPFURJVVUHE4VODT44GYH2RIINIG4BJB4J7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U5SOPCVKO5EBTUUF27J2GQINTHUWFV2APLUDBL33WGVFI2OQR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JOMDTSJ3DGJ55ZORLYIQLDDUPAZHTSJZY2ETV5WZQURRP4FYMFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TEIEXQOQ6PL4QWFX3PULUBHDKG74FROC2ZIOGVZBDZYGFORVR35Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUC2IHSPDPTJM6KGBQIO7HB3PB2M577OKTSJPHO26WIS25HRLNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLSAK5JJJYZ2SW5IKT42JD2U6YZZSI5TRHVDZY4NRERSG2PCD7OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7MEVF7H62PMIFEW3AW5L3HAH4F3WQ3RBO33PQWO4NUAK4J2KEGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/66IG2R7EUWOQ57D6Z7DLXD6OMRF2H5QIA67JVJ3X4GV4JMJOOYMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RHDJ6WUYEQS2O7SY7VJPQT7YVO66EZIUI4TE4HJDHWZWT46OEMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I6PRBAQWC4FQCH6APHKSLP2CD3OHK5YDANVTTS4NEWMFYXBHDIUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBRMAOSSOAXAUS7KDMK3JRNQURO3WVW7BCXCNTS73DXPJFGDSGUA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "Active": {
                    "locationName": "active",
                    "type": "boolean"
                },
                "AddressSchema": {
                    "shape": "S7",
                    "locationName": "addressSchema"
                },
                "Carrier": {
                    "locationName": "carrier"
                },
                "Country": {
                    "locationName": "country"
                },
                "Internal": {
                    "locationName": "internal",
                    "type": "boolean"
                },
                "PaperworkRequired": {
                    "locationName": "paperworkRequired",
                    "type": "boolean"
                },
                "Region": {
                    "locationName": "region"
                },
                "ServiceLevels": {
                    "locationName": "serviceLevels",
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Description": {
                                "locationName": "description"
                            },
                            "OptionCode": {
                                "locationName": "optionCode"
                            },
                            "Sla": {
                                "locationName": "sla"
                            }
                        }
                    }
                },
                "TaxSchema": {
                    "locationName": "taxSchema",
                    "type": "structure",
                    "members": {
                        "TaxFields": {
                            "locationName": "taxFields",
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "FieldName": {
                                        "locationName": "fieldName"
                                    },
                                    "FieldPattern": {
                                        "locationName": "fieldPattern"
                                    }
                                }
                            }
                        }
                    }
                },
                "WhitelistedDevices": {
                    "locationName": "whitelistedDevices",
                    "type": "list",
                    "member": {}
                },
                "WhitelistedResources": {
                    "locationName": "whitelistedResources",
                    "type": "list",
                    "member": {}
                }
            },
            "required": [
                "Region",
                "Country"
            ]
        },
        "S7": {
            "type": "structure",
            "members": {
                "DivisionTitle": {
                    "locationName": "divisionTitle"
                },
                "Divisions": {
                    "locationName": "divisions",
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Code": {
                                "locationName": "code"
                            },
                            "Name": {
                                "locationName": "name"
                            }
                        }
                    }
                }
            }
        },
        "S15": {
            "type": "list",
            "member": {
                "shape": "S5"
            }
        }
    }
}