{
    "metadata": {
        "apiVersion": "2019-07-17",
        "endpointPrefix": "v2eq9ttjol",
        "signingName": "execute-api",
        "serviceFullName": "SignpostLambda",
        "serviceId": "SignpostLambda",
        "protocol": "rest-json",
        "uid": "v2eq9ttjol-2019-07-17",
        "signatureVersion": "v4",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QHCASQMJPVNKHM7R4O5YY7TERYMHRJ2PPC3FSSO3LTE46T3NWULQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
        ]
    },
    "operations": {
        "GetArc": {
            "http": {
                "method": "GET",
                "requestUri": "/arcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Country": {
                        "location": "querystring",
                        "locationName": "country"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArcResponseResource": {
                        "type": "structure",
                        "members": {
                            "Arc": {
                                "shape": "S5",
                                "locationName": "arc"
                            }
                        }
                    }
                },
                "required": [
                    "ArcResponseResource"
                ],
                "payload": "ArcResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetCarrier": {
            "http": {
                "method": "GET",
                "requestUri": "/carriers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Country": {
                        "location": "querystring",
                        "locationName": "country"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CarrierResponseResource": {
                        "type": "structure",
                        "members": {
                            "Carrier": {
                                "locationName": "carrier"
                            },
                            "Internal": {
                                "locationName": "internal",
                                "type": "boolean"
                            }
                        }
                    }
                },
                "required": [
                    "CarrierResponseResource"
                ],
                "payload": "CarrierResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetDivisions": {
            "http": {
                "method": "GET",
                "requestUri": "/divisions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Country": {
                        "location": "querystring",
                        "locationName": "country"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AddressSchemaResource": {
                        "type": "structure",
                        "members": {
                            "AddressSchema": {
                                "shape": "S7",
                                "locationName": "addressSchema"
                            },
                            "Country": {
                                "locationName": "country"
                            }
                        }
                    }
                },
                "required": [
                    "AddressSchemaResource"
                ],
                "payload": "AddressSchemaResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetInternalCountryArcs": {
            "http": {
                "method": "GET",
                "requestUri": "/internal-country-arcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InternalCountriesResponseResource": {
                        "type": "structure",
                        "members": {
                            "Arcs": {
                                "shape": "S15",
                                "locationName": "arcs"
                            }
                        }
                    }
                },
                "required": [
                    "InternalCountriesResponseResource"
                ],
                "payload": "InternalCountriesResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        },
        "GetServiceableCountryArcs": {
            "http": {
                "method": "GET",
                "requestUri": "/serviceable-country-arcs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Devices": {
                        "location": "querystring",
                        "locationName": "devices"
                    },
                    "Region": {
                        "location": "querystring",
                        "locationName": "region"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceableCountryArcsResponseResource": {
                        "type": "structure",
                        "members": {
                            "Arcs": {
                                "shape": "S15",
                                "locationName": "arcs"
                            }
                        }
                    }
                },
                "required": [
                    "ServiceableCountryArcsResponseResource"
                ],
                "payload": "ServiceableCountryArcsResponseResource"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERZLGX7TXMXUBPBNPNQADOJGEZC2HUNLXENHJ6ZYFU5PAD5OAYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISEGVMYCM76CMBMLE7OSHXKMT5FREU5IMKVYSA6HMGVWT4I6Y3TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FF23X5YSZ7WPWZG6GOIFV23OH6MYIYNZOM6LCJXNORYCHHLI6SMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVVI63U6MQL2X3CFE57XA3CF4E6IJK4KIGOY6GHM2VQR6W6FUG2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBNAUXZXG7WHAQ4O32UVCPLYDAZQV5FHYF5YWPLYMVXVSBNDBOTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NDLHPM7BLIY5OKWHG2Z4SYD57P2SB4Y5YUYBDI5QEO6GIT6XSAJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIRQW5TSX6QAQHE5AUOKWX4M7PKIAYU5VOEAP4VSBXWSBDBKF33A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEREKAB2TK6H4J5ZENRJW2TDRJERVKXR4EAAOGJP6G7T2TRMC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLS4N5OCRLQMWJOM5PSFT44KTMZTAFJPZACYH6WZ6ICRTE4EYW3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VEFXGHKURCLQOJUDQ3GOBYTO2VXK3TSWLY7QW3XI2CJLRWSFZQCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDR2NJ23I4ZBWDNLDQAGZX2OIQB4XY3C2W636PUFQSO7CAUE6QKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPGCWKZ5FQFZLFKMIUO5TYIJEBTABVLL2LAJSMW6RTOPAV2BVR4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGRA3B4MV3WWGBMRCF7CYRKPC4UPYXIJWIY6LMEVJAWAZBLJ6COA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5K6UNVLG7W3L5HAMXJXLW22JKGG5I4M4FV5OFZFFUB22AQR34PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5B7MXVCFYIVR5XP7WU3HPO7MGFA6VBAB7JWLAMW6LDHYVK62BAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJIIGHBFDSJWTBXLCUGVYJQZVXHSRTUN5OMKODJE22CDKH3KS72A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4YIOSIVLGCANU32XDIZVIOSEYNJR5TXCIRAUOWP4ZYAW2LSKF2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYUYNFMR2CD7H4Z7KGPFQZKS7BBYC2C23RG4A555WPCI3UW2GWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO5B7HXB7BXVSGA4ZLJZ7CLI6MGURH2FQ7DSOABGHAD4WYARKNZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CV5IRPKEX6XUEHOTFV5AVOTOUZ5F4U4VLLVXV7MMXCATE4CQNMLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FOZ37DWKTACMIXAPY2ZADWJTHXLDQJTCG3BFB5BRHB4LPTMYXSSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KX3YHRXPFHVGFQAFRUZSB3CGGXAKHANI2DE3D5ZD36LOFGLAKTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TO2MVXUKSYZ5I2SW6LU6CHAPDPRDNRMMKCJHRFGCQKPUVZJ3K42Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "Active": {
                    "locationName": "active",
                    "type": "boolean"
                },
                "AddressSchema": {
                    "shape": "S7",
                    "locationName": "addressSchema"
                },
                "Carrier": {
                    "locationName": "carrier"
                },
                "Country": {
                    "locationName": "country"
                },
                "Internal": {
                    "locationName": "internal",
                    "type": "boolean"
                },
                "PaperworkRequired": {
                    "locationName": "paperworkRequired",
                    "type": "boolean"
                },
                "Region": {
                    "locationName": "region"
                },
                "ServiceLevels": {
                    "locationName": "serviceLevels",
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Description": {
                                "locationName": "description"
                            },
                            "OptionCode": {
                                "locationName": "optionCode"
                            },
                            "Sla": {
                                "locationName": "sla"
                            }
                        }
                    }
                },
                "TaxSchema": {
                    "locationName": "taxSchema",
                    "type": "structure",
                    "members": {
                        "TaxFields": {
                            "locationName": "taxFields",
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "members": {
                                    "FieldName": {
                                        "locationName": "fieldName"
                                    },
                                    "FieldPattern": {
                                        "locationName": "fieldPattern"
                                    }
                                }
                            }
                        }
                    }
                },
                "WhitelistedDevices": {
                    "locationName": "whitelistedDevices",
                    "type": "list",
                    "member": {}
                },
                "WhitelistedResources": {
                    "locationName": "whitelistedResources",
                    "type": "list",
                    "member": {}
                }
            },
            "required": [
                "Region",
                "Country"
            ]
        },
        "S7": {
            "type": "structure",
            "members": {
                "DivisionTitle": {
                    "locationName": "divisionTitle"
                },
                "Divisions": {
                    "locationName": "divisions",
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Code": {
                                "locationName": "code"
                            },
                            "Name": {
                                "locationName": "name"
                            }
                        }
                    }
                }
            }
        },
        "S15": {
            "type": "list",
            "member": {
                "shape": "S5"
            }
        }
    }
}